{"openapi": "3.0.3", "info": {"title": "MyAccount API - resourcegroupstaggingapi", "description": "", "version": "1.0.0"}, "servers": [{"url": "https://api.e2enetworks.com/myaccount"}], "paths": {"/api/v1/label/mapping/parameter_group/": {"get": {"operationId": "get-label-mapping-parameter-group", "summary": "Mapped label to Parameter Group", "tags": ["ParameterGroup"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Successful response of attached label to a parameter group", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"resource_id": {"type": "integer", "example": 909}, "resource_type": {"type": "string", "example": "parameter_group"}, "label_mapping": {"type": "array", "items": {"type": "object", "properties": {"label_name": {"type": "string", "example": "newtag3"}, "label_id": {"type": "string", "example": "2690"}}}}}}}, "errors": {"type": "object", "additionalProperties": true, "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/label/mapping/parameter_group/{pg_id}/": {"put": {"operationId": "put-label-mapping-parameter-group-pg-id", "summary": "Map lable to Parameter Group", "tags": ["ParameterGroup"], "parameters": [{"name": "pg_id", "in": "path", "required": true, "description": "Parameter Group ID", "schema": {"type": "integer"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"new_label_ids_list": {"type": "array", "items": {"type": "integer"}, "example": [2688]}}}}}, "required": true}, "responses": {"200": {"description": "Successful response after attaching labels to a parameter group", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"details": {"type": "object", "properties": {"parent_resource_id": {"type": "integer", "example": 909}, "parent_resource_type": {"type": "string", "example": "parameter_group"}, "label_id": {"type": "integer", "nullable": true, "example": null}, "label_mapping_ids_to_create": {"type": "array", "items": {"type": "integer"}, "example": [2688]}, "label_ids_to_delete": {"type": "array", "items": {"type": "integer"}, "example": []}}}}}, "errors": {"type": "object", "additionalProperties": true, "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/label/": {"get": {"operationId": "get-label", "summary": "Get All Tags", "tags": ["Tags"], "description": "Retrieves a list of all tags for a given project and location.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "List of labels retrieved successfully.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 2790}, "label_name": {"type": "string", "example": "my-label"}, "metadata": {"type": "string", "example": ""}}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}, "post": {"operationId": "post-label", "summary": "Create a new Tag", "tags": ["Tags"], "description": "This endpoint allows you to create a new Tag in a specific project and location.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"label_name": {"type": "string", "example": "new"}, "metadata": {"type": "string", "example": "test"}}, "required": ["label_name", "metadata"]}}}}, "responses": {"default": {"description": "Response"}}}}, "/api/v1/label/{tag_id}/": {"put": {"operationId": "put-label-tag-id", "summary": "Update a Tag", "tags": ["Tags"], "description": "Update the name of a Tag using its ID.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "tag_id", "in": "path", "required": true, "description": "The ID of the label to delete.", "schema": {"type": "integer"}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"label_name": {"type": "string", "example": "new tag"}}, "required": ["label_name"]}}}}, "responses": {"200": {"description": "Label updated successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {}, "example": []}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}, "delete": {"operationId": "delete-label-tag-id", "summary": "Delete a tag", "tags": ["Tags"], "description": "Delete a tag by its ID in a specific project and location.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "tag_id", "in": "path", "required": true, "description": "The ID of the label to delete.", "schema": {"type": "integer"}}], "responses": {"200": {"description": "Label deleted successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"resource_name": {"type": "string", "example": "new"}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/label/mapping/{resource_type}/{resource_id}/": {"put": {"operationId": "put-label-mapping-resource-type-resource-id", "summary": "Attach/Detach Tags", "tags": ["Tags"], "description": "This endpoint allows attaching and detaching tags to/from resources (e.g., nodes) in a specific project and location.\n", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "resource_type", "in": "path", "required": true, "description": "Type of the resource to attach/detach tag.", "schema": {"type": "string", "enum": ["load_balancer", "volumes", "nodes", "eos", "sfs", "kubernetes", "dbass", "images", "cdp_backup", "cdn", "auto_scaling", "reserve_ip", "vpc", "eqs", "security_groups", "parameter_group", "firewall"]}}, {"name": "resource_id", "in": "path", "required": true, "description": "ID of the parent resource.", "schema": {"type": "integer"}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"attach": {"type": "array", "items": {"type": "integer"}, "description": "List of label IDs to attach."}, "detach": {"type": "array", "items": {"type": "integer"}, "description": "List of label IDs to detach."}}, "required": ["attach"], "example": {"attach": [2790], "detach": []}}}}, "required": true}, "responses": {"200": {"description": "Successful attachment and/or detachment of labels.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"details": {"type": "object", "properties": {"action": {"type": "string", "example": "attach_and_detach"}, "parent_resource_id": {"type": "integer", "example": 235813}, "parent_resource_type": {"type": "string", "example": "nodes"}, "label_mapping_ids_to_create": {"type": "array", "items": {"type": "integer"}, "example": [2790]}, "label_ids_to_delete": {"type": "array", "items": {"type": "integer"}, "example": []}}}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/label/mapping/{resource_type}/": {"get": {"operationId": "get-label-mapping-resource-type", "summary": "Get All Attached Tag", "tags": ["Tags"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "resource_type", "in": "path", "required": true, "description": "Type of the resource to attach/detach tag.", "schema": {"type": "string", "enum": ["load_balancer", "volumes", "nodes", "eos", "sfs", "kubernetes", "dbass", "images", "cdp_backup", "cdn", "auto_scaling", "reserve_ip", "vpc", "eqs", "security_groups", "parameter_group", "firewall"]}}], "responses": {"200": {"description": "Successfully retrieved label mapping for a resource.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"resource_id": {"type": "integer", "example": 235813}, "resource_type": {"type": "string", "example": "nodes"}, "label_mapping": {"type": "array", "items": {"type": "object", "properties": {"label_name": {"type": "string", "example": "m"}, "label_id": {"type": "string", "example": "2790"}}}}}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}}}