{"openapi": "3.0.3", "info": {"title": "MyAccount API - fsx", "description": "", "version": "1.0.0"}, "servers": [{"url": "https://api.e2enetworks.com/myaccount"}], "paths": {"/api/v1/epfs/": {"get": {"operationId": "get-epfs", "summary": "EPFS Listing", "tags": ["EPFS"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "page", "in": "query", "required": false, "description": "Page No.", "schema": {"type": "integer"}}, {"name": "page_size", "in": "query", "required": false, "description": "Page size", "schema": {"type": "integer"}}], "responses": {"200": {"description": "Successful response with EPFS list", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 145}, "vpc": {"type": "object", "properties": {"name": {"type": "string", "example": "VPC-717"}, "network_id": {"type": "integer", "example": 34872}, "is_active": {"type": "boolean", "example": true}, "dns": {"type": "string", "example": "8.8.8.8 8.8.4.4"}, "network_mask": {"type": "string", "example": "255.255.254.0"}, "ipv4_cidr": {"type": "string", "example": "10.7.26.0/23"}, "vm_count": {"type": "integer", "example": 0}, "gateway_ip": {"type": "string", "example": "10.7.26.1"}, "state": {"type": "string", "example": "Running"}, "reserve_network_id": {"type": "integer", "example": 34873}}}, "deleted": {"type": "boolean", "example": false}, "created_at": {"type": "string", "format": "date-time", "example": "2025-05-26T09:40:25.508756Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2025-05-26T09:42:14.054705Z"}, "name": {"type": "string", "example": "epfs-127"}, "size": {"type": "integer", "example": 1000}, "plan_name": {"type": "string", "example": ""}, "deleted_at": {"type": "string", "nullable": true, "example": null}, "status": {"type": "string", "example": "running"}, "location": {"type": "string", "example": "Delhi"}, "fs_id": {"type": "string", "example": "37144145"}, "client_project_id": {"type": "string", "example": "3714414517595"}, "nid": {"type": "integer", "example": 1144}, "gateway_ip": {"type": "string", "example": "10.7.27.254"}, "fs_name": {"type": "string", "example": "pfs0"}, "project": {"type": "integer", "example": 42347}, "customer": {"type": "integer", "example": 37144}}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}, "total_page_number": {"type": "integer", "example": 1}, "total_count": {"type": "integer", "example": 1}}}}}}}}, "post": {"operationId": "post-epfs", "summary": "EPFS Creation", "tags": ["EPFS"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"name": {"type": "string", "example": "epfs-127"}, "size_in_gb": {"type": "integer", "example": 1000}, "network_id": {"type": "integer", "example": 34872}}, "required": ["name", "size_in_gb", "network_id"]}}}, "required": true}, "responses": {"201": {"description": "Cluster created successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 201}, "data": {"type": "object", "properties": {"cluster_id": {"type": "integer", "example": 145}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Created Successfully"}}}}}}}}}, "/api/v1/epfs/{epfs_id}/": {"get": {"operationId": "get-epfs-epfs-id", "summary": "GET EPFS by Id", "tags": ["EPFS"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "epfs_id", "in": "path", "required": true, "description": "EPFS Id", "schema": {"type": "integer"}}], "responses": {"200": {"description": "Successful response with EPFS details", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"id": {"type": "integer", "example": 145}, "vpc": {"type": "object", "properties": {"name": {"type": "string", "example": "VPC-717"}, "network_id": {"type": "integer", "example": 34872}, "is_active": {"type": "boolean", "example": true}, "dns": {"type": "string", "example": "8.8.8.8 8.8.4.4"}, "network_mask": {"type": "string", "example": "255.255.254.0"}, "ipv4_cidr": {"type": "string", "example": "10.7.26.0/23"}, "vm_count": {"type": "integer", "example": 0}, "gateway_ip": {"type": "string", "example": "10.7.26.1"}, "state": {"type": "string", "example": "Running"}, "reserve_network_id": {"type": "integer", "example": 34873}}}, "deleted": {"type": "boolean", "example": false}, "created_at": {"type": "string", "format": "date-time", "example": "2025-05-26T09:40:25.508756Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2025-05-26T09:42:14.054705Z"}, "name": {"type": "string", "example": "epfs-127"}, "size": {"type": "integer", "example": 1000}, "plan_name": {"type": "string", "example": ""}, "deleted_at": {"type": "string", "nullable": true, "example": null}, "status": {"type": "string", "example": "running"}, "location": {"type": "string", "example": "Delhi"}, "fs_id": {"type": "string", "example": "37144145"}, "client_project_id": {"type": "string", "example": "3714414517595"}, "nid": {"type": "integer", "example": 1144}, "gateway_ip": {"type": "string", "example": "10.7.27.254"}, "fs_name": {"type": "string", "example": "pfs0"}, "project": {"type": "integer", "example": 42347}, "customer": {"type": "integer", "example": 37144}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}, "put": {"operationId": "put-epfs-epfs-id", "summary": "Upgrade EPFS", "tags": ["EPFS"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "epfs_id", "in": "path", "required": true, "description": "EPFS Id", "schema": {"type": "integer"}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"name": {"type": "string", "example": "epfs-127"}, "size_in_gb": {"type": "integer", "example": 2000}, "network_id": {"type": "integer", "example": 34872}}, "required": ["name", "size_in_gb", "network_id"]}}}, "required": true}, "responses": {"200": {"description": "Successful response indicating upgrade status", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "string", "example": "Upgrading in process"}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}, "delete": {"operationId": "delete-epfs-epfs-id", "summary": "Delete EPFS", "tags": ["EPFS"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "epfs_id", "in": "path", "required": true, "description": "EPFS Id", "schema": {"type": "integer"}}], "responses": {"200": {"description": "Successful response confirming deletion of EPFS", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "string", "example": "Pfs has been deleted."}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}}}