{"openapi": "3.0.3", "info": {"title": "MyAccount API - costexplorer", "description": "", "version": "1.0.0"}, "servers": [{"url": "https://api.e2enetworks.com/myaccount"}], "paths": {"/api/v1/billing/transactions/": {"get": {"operationId": "get-billing-transactions", "summary": "Invoice/Credit Notes", "tags": ["Billing"], "description": "Fetches billing transactions and generated invoices, with support for filtering by billing type like invoices and credit_notes, project, and location.", "parameters": [{"name": "type", "in": "query", "required": true, "description": "Type of transaction (invoice or credit_notes)", "schema": {"type": "string", "enum": ["invoice", "credit_notes"]}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "page_no", "in": "query", "required": false, "description": "The page number from which you want your page search results to be displayed.", "schema": {"type": "integer", "minimum": 0}}, {"name": "per_page", "in": "query", "required": false, "description": "Number of results per page", "schema": {"type": "integer", "minimum": 0}}], "responses": {"200": {"description": "Successful billing transactions response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"items": {"type": "array", "items": {}}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}, "total_page_number": {"type": "integer", "example": 1}, "total_count": {"type": "integer", "example": 0}}}}}}}}}, "/api/v1/transaction-history/": {"get": {"operationId": "get-transaction-history", "summary": "Recent Transactions", "tags": ["Billing"], "description": "Fetches detailed transaction history including billing events, \nwith options to paginate, filter events, and perform advanced searches.", "parameters": [{"name": "page_no", "in": "query", "required": false, "description": "The page number from which you want your page search results to be displayed.", "schema": {"type": "integer", "minimum": 0}}, {"name": "per_page", "in": "query", "required": false, "description": "Number of results per page", "schema": {"type": "integer", "minimum": 0}}, {"name": "advance_search", "in": "query", "required": false, "description": "Enable advanced search options", "schema": {"type": "boolean", "example": false}}, {"name": "selectedEvents", "in": "query", "required": false, "description": "Filter by specific event types (Initiated, Authorized, Successful, Failed, Refunded, or Unassigned)", "schema": {"type": "string", "enum": ["Unassigned", "Initiated", "Authorized", "Successful", "Failed", "Refunded"], "default": "Unassigned"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Successful transaction history response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"created_at": {"type": "string", "example": "Mar 07, 2025 04:54:22 PM"}, "updated_at": {"type": "string", "example": "Mar 07, 2025 04:54:22 PM"}, "order_id": {"type": "string", "nullable": true, "example": null}, "payment_id": {"type": "string", "example": "pi_3Qzz0sSCRdcgx9sG1DZer4bE"}, "amount": {"type": "integer", "example": 10000}, "status_code": {"type": "string", "example": "INITIATED"}, "status_message": {"type": "string", "example": "False"}, "message": {"type": "string", "nullable": true, "example": null}, "origin": {"type": "string", "example": "one-auth-stripe"}, "error_code": {"type": "string", "example": ""}, "error_description": {"type": "string", "example": ""}, "error_reason": {"type": "string", "example": ""}}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}, "total_page_number": {"type": "integer", "example": 1}, "total_items": {"type": "integer", "example": 4}}}}}}}}}, "/api/v1/billing/prepaid/monthly-estimate/": {"get": {"operationId": "get-billing-prepaid-monthly-estimate", "summary": "Monthly Usage Details", "tags": ["Billing"], "description": "Fetches the prepaid monthly estimated billing details including usage, rates, discounts, and total amounts for a project and location, based on the selected month and year.", "parameters": [{"name": "month", "in": "query", "required": true, "description": "The ID of the label to delete.", "schema": {"type": "integer"}}, {"name": "year", "in": "query", "required": true, "description": "Year for which the billing estimate is to be fetched (format- YYYY).", "schema": {"type": "integer", "example": 2025}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Successful monthly estimate billing response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"usage": {"type": "array", "items": {"type": "object", "properties": {"quantity": {"type": "number", "example": 1}, "rate": {"type": "number", "example": 199}, "discount": {"type": "number", "example": 0}, "description": {"type": "string", "example": "Additional IP Address\nPublic IP: 164.52.207.136\nFrom: 23-April-2025 15:12 hours To: 23-April-2025 15:14 hours"}, "line_item_value": {"type": "number", "example": 199}, "sku_name": {"type": "string", "example": "Addon_IP_Charge"}, "region": {"type": "string", "example": "Delhi"}}}}, "total_amount": {"type": "number", "example": 1627.46}, "total_discount": {"type": "number", "example": 0}, "currency": {"type": "string", "example": "Currency : INR"}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/monthly-report/csv/": {"get": {"operationId": "get-monthly-report-csv", "summary": "Monthly Billing Report", "tags": ["Billing"], "description": "Downloads the detailed monthly billing report in CSV format for a given project and location, based on the selected month and year.", "parameters": [{"name": "month", "in": "query", "required": true, "description": "The ID of the label to delete.", "schema": {"type": "integer"}}, {"name": "year", "in": "query", "required": true, "description": "Year for which the billing estimate is to be fetched (format- YYYY).", "schema": {"type": "integer", "example": 2025}}, {"name": "type", "in": "query", "required": true, "description": "Download csv", "schema": {"type": "string", "enum": ["csv"]}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Response schema for user profile data.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"user_id": {"type": "string", "example": "user_123456"}, "full_name": {"type": "string", "example": "Jane Doe"}, "email": {"type": "string", "format": "email", "example": "jane.doe@example.com"}, "join_date": {"type": "string", "format": "date", "example": "2023-01-15"}, "is_active": {"type": "boolean", "example": true}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Profile fetched successfully"}}}}}}}}}, "/api/v1/get_estimates/": {"get": {"operationId": "get-get-estimates", "summary": "Itemised Usage Details", "tags": ["Billing"], "description": "Fetches billing estimates for the provided date range and project, with detailed breakdowns of each item.\n", "parameters": [{"name": "start_date", "in": "query", "required": true, "description": "Start date for the billing estimate (format- YYYY-MM-DD).", "schema": {"type": "string", "example": "2025-04-01"}}, {"name": "end_date", "in": "query", "required": true, "description": "End date for the billing estimate (format- YYYY-MM-DD).", "schema": {"type": "string", "example": "2025-04-29"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Successful billing estimates response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"total_amount": {"type": "number", "format": "float", "example": 1472.65}, "itemlist": {"type": "array", "items": {"type": "object", "properties": {"item_name": {"type": "string", "example": "ADDON IP"}, "public_ip": {"type": "string", "example": "164.52.207.136"}, "item_description": {"type": "string", "example": "164.52.207.136 addon ip"}, "quantity": {"type": "string", "example": "1.00"}, "rate": {"type": "string", "example": "199.00"}, "amount": {"type": "string", "example": "199.00"}, "project_name": {"type": "string", "example": "default-project-35380"}}}}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/get-prepaid-autopay-options/": {"get": {"operationId": "get-get-prepaid-autopay-options", "summary": "Autopay Details", "tags": ["Billing"], "description": "Fetches the current autopay settings for a prepaid project, including credit refill and alert preferences.\n", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Successful response with prepaid autopay options", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"autopayoption_id": {"type": "integer", "example": 16293}, "refill_credits": {"type": "boolean", "example": false}, "low_credits_alert": {"type": "boolean", "example": false}, "threshold_credits": {"type": "number", "nullable": true, "example": null}, "minimum_credits_refill": {"type": "number", "nullable": true, "example": null}, "credit_alert_threshold": {"type": "number", "example": 1000}, "credit_alert_via_sms": {"type": "boolean", "example": false}, "credit_alert_via_email": {"type": "boolean", "example": true}, "smart_topup_enabled": {"type": "boolean", "example": false}}}}, "errors": {"type": "array", "items": {"type": "string"}, "example": []}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/prepaid/cost_usage/": {"get": {"operationId": "get-prepaid-cost-usage", "summary": "Cost Analysis", "tags": ["Billing"], "description": "Retrieves the cost usage summary for prepaid billing based on the specified frequency and item scope.\n", "parameters": [{"name": "frequency", "in": "query", "required": true, "description": "Frequency of usage data. Use `1` for monthly.", "schema": {"type": "string", "example": "1"}}, {"name": "item", "in": "query", "required": true, "description": "Filter usage by item. Use `all` to get all usage items.", "schema": {"type": "string", "example": "all"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "A list of monthly prepaid usage and their respective amounts.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"month": {"type": "string", "example": "4"}, "year": {"type": "string", "example": "2025"}, "amount": {"type": "string", "example": "1472.65"}}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/pre-paid-date-range-usage/": {"get": {"operationId": "get-pre-paid-date-range-usage", "summary": "Usage Details", "tags": ["Billing"], "description": "Retrieves prepaid usage details for a given date range. Allows filtering by summary type (e.g., Node) along with project and location.\n", "parameters": [{"name": "start_date", "in": "query", "required": true, "description": "Start date for the billing estimate (format- DD-MM-YYYY).", "schema": {"type": "string", "example": "20-01-2025"}}, {"name": "end_date", "in": "query", "required": true, "description": "End date for the billing estimate (format- DD-MM-YYYY).", "schema": {"type": "string", "example": "20-02-2025"}}, {"name": "summary_type", "in": "query", "required": false, "description": "Summary type for grouping the usage data.", "schema": {"type": "string", "example": "Node"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Prepaid usage details for the given date range.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"name": {"type": "string", "example": "ADDON IP"}, "description": {"type": "string", "example": "164.52.207.136 addon ip"}, "project_id": {"type": "integer", "example": 40473}, "created_at__date": {"type": "string", "format": "date", "example": "2025-04-23"}, "total_amount": {"type": "number", "example": 199}, "project_name": {"type": "string", "example": "default-project-35380"}}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/pre-transaction/": {"get": {"operationId": "get-pre-transaction", "summary": "Infra Credit Details", "tags": ["Billing"], "description": "Fetches a paginated list of all debit and credit transactions for a prepaid account, including transaction type and reason.\n", "parameters": [{"name": "page_no", "in": "query", "required": false, "description": "The page number from which you want your page search results to be displayed.", "schema": {"type": "integer", "minimum": 0}}, {"name": "per_page", "in": "query", "required": false, "description": "Number of results per page", "schema": {"type": "integer", "minimum": 0}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "List of prepaid billing transactions including pagination and balance details.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"amount": {"type": "string", "example": "154.81"}, "date": {"type": "string", "example": "Apr 29, 2025 11:00:15 AM"}, "reason": {"type": "string", "example": "Daily usage"}, "transaction_type": {"type": "string", "enum": ["Debit", "Credit"], "example": "Debit"}}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}, "total_page_number": {"type": "integer", "example": 4}, "total_count": {"type": "integer", "example": 19}, "credit_available": {"type": "number", "example": 3372.54}, "total_consumption": {"type": "number", "example": 1627.46}}}}}}}}}, "/api/v1/billing/ledger-statement/": {"get": {"operationId": "get-billing-ledger-statement", "summary": "Ledger Statement", "tags": ["Billing"], "description": "Retrieves the ledger statement in HTML format for a specific customer identified by Zoho ID, for the selected time period.\n", "parameters": [{"name": "zoho_id", "in": "query", "required": true, "description": "Unique Zoho Contact ID of the customer.", "schema": {"type": "string", "example": "183096000000000237"}}, {"name": "filter_type", "in": "query", "required": true, "description": "Specifies which time range of Zoho transaction IDs to fetch.", "schema": {"type": "string", "enum": ["current_month"], "example": "current_month"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Response schema for ledger statement HTML.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"contact_name": {"type": "string", "example": "E2E Networks Limited"}, "template_type_formatted": {"type": "string", "example": "Standard"}, "from_date": {"type": "string", "format": "date", "example": "2025-04-01"}, "from_date_formatted": {"type": "string", "example": "01 Apr 2025"}, "contact_id": {"type": "string", "example": "183096000000000237"}, "to_date_formatted": {"type": "string", "example": "30 Apr 2025"}, "page_width": {"type": "string", "example": "8.27in"}, "html_string": {"type": "string", "format": "html", "description": "Renderable HTML string representing the full ledger statement."}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/coupons/get-user-coupons/": {"get": {"operationId": "get-coupons-get-user-coupons", "summary": "Applied Coupons Details", "tags": ["Billing"], "description": "Retrieves a list of coupons available for a user, filtered by project ID and location.\n", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Successful user coupons response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"code": {"type": "string", "example": "PPAIDFDSXF"}, "redeemed_at": {"type": "string", "example": "01-05-2025"}, "expires_on": {"type": "string", "example": "30-07-2025"}, "details": {"type": "string", "example": "10000 free credits added to your balance."}, "status": {"type": "string", "example": "Applied"}, "customer_name": {"type": "string", "example": "Siddhant"}}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/accounts/profile/billing-history/": {"get": {"operationId": "get-accounts-profile-billing-history", "summary": "Billing History", "tags": ["Billing"], "description": "Fetches the billing history for a specific project and location.\nRequires API key and bearer token for authentication.\n", "responses": {"200": {"description": "Billing history fetched successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "message": {"type": "string", "example": "Success"}, "data": {"type": "object", "properties": {"status": {"type": "boolean", "example": true}, "type": {"type": "string", "example": "hide"}, "message": {"type": "string", "example": "user billing history fetch successfully"}, "previous_billing_entities": {"type": "array", "items": {"type": "object", "properties": {"updated_date": {"type": "string", "format": "date-time", "example": "2025-03-07T11:23:05Z"}, "type": {"type": "string", "example": ""}, "company_name": {"type": "string", "example": "E2E Networks Limited"}, "pan": {"type": "string", "example": "QWERTYU228F"}, "gstn": {"type": "string", "example": "1234567FGH45"}}}}, "historical_address_records": {"type": "array", "items": {"type": "object", "properties": {"updated_date": {"type": "string", "format": "date-time", "example": "2025-03-07T11:23:05Z"}, "address": {"type": "string", "example": "XYZ Company, New Delhi 110002"}, "country": {"type": "string", "example": "India"}, "city": {"type": "string", "example": "Noida"}, "state": {"type": "string", "example": "Uttar Pradesh"}, "zip": {"type": "string", "example": "201301"}}}}}}, "errors": {"type": "object", "example": {}}}}}}}}}}, "/api/v1/billing/tds-upload/": {"get": {"operationId": "get-billing-tds-upload", "summary": "TDS Upload Info", "tags": ["Billing"], "description": "Retrieves the TDS upload information for a user, filtered by project ID and location.\n", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "TDS upload data retrieved successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "message": {"type": "string", "example": "Success"}, "data": {"type": "object", "properties": {"uploaded_documents": {"type": "array", "items": {"type": "object"}, "example": []}, "total_tds_refunded": {"type": "integer", "example": 0}, "total_tds_amount_refunded": {"type": "string", "example": "0"}, "tds_refund_enable": {"type": "boolean", "example": true}}}, "errors": {"type": "array", "items": {"type": "object"}, "example": []}}}}}}}}}}}