{"openapi": "3.0.3", "info": {"title": "MyAccount API - secretsmanager", "description": "", "version": "1.0.0"}, "servers": [{"url": "https://api.e2enetworks.com/myaccount"}], "paths": {"/api/v1/vault/": {"get": {"operationId": "get-vault", "summary": "Secret Listing", "tags": ["Secret Management"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "page", "in": "query", "required": false, "description": "Page No.", "schema": {"type": "integer"}}, {"name": "page_size", "in": "query", "required": false, "description": "Page size", "schema": {"type": "integer"}}], "responses": {"200": {"description": "Successful response containing secrets list", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"vault_id": {"type": "integer", "example": 220}, "name": {"type": "string", "example": "db-password"}, "plan_id": {"type": "integer", "example": 5}, "created_at": {"type": "string", "example": "2024-12-20T10:15:30Z"}}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}, "post": {"operationId": "post-vault", "summary": "Create Secret", "tags": ["Secret Management"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"name": {"type": "string", "description": "Name of the secret"}, "plan_id": {"type": "integer", "description": "Plan ID for the secret"}}, "required": ["name", "plan_id"]}}}, "required": true}, "responses": {"200": {"description": "Successful response when a secret is created", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"vault_id": {"type": "integer", "example": 221}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Secret created successfully."}}}}}}}}}, "/api/v1/vault/upgrade/{vault_id}": {"post": {"operationId": "post-vault-upgrade-vault-id", "summary": "Upgrade Secret", "tags": ["Secret Management"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "vault_id", "in": "path", "required": true, "description": "Secret (Vault) ID", "schema": {"type": "integer"}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"plan_id": {"type": "integer", "description": "Plan ID for upgrading the secret"}}}, "example": {"plan_id": 5}}}, "required": true}, "responses": {"200": {"description": "Successful response when a secret is updated", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "string", "example": ""}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Secret has been upgraded."}}}}}}}}}, "/api/v1/vault/delete/{vault_id}": {"delete": {"operationId": "delete-vault-delete-vault-id", "summary": "Delete Secret", "tags": ["Secret Management"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "vault_id", "in": "path", "required": true, "description": "Secret (Vault) ID", "schema": {"type": "integer"}}], "responses": {"200": {"description": "Successful response when a secret is deleted", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"vault_id": {"type": "integer", "example": 222}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Secret deleted successfully."}}}}}}}}}}}