{"openapi": "3.0.3", "info": {"title": "MyAccount API - servicequotas", "description": "", "version": "1.0.0"}, "servers": [{"url": "https://api.e2enetworks.com/myaccount"}], "paths": {"/api/v1/customer-resource-limit/": {"get": {"operationId": "get-customer-resource-limit", "summary": "Resource Limit", "tags": ["Other"], "responses": {"200": {"description": "Successful response with customer resource data", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"existing_customer": {"type": "boolean", "example": false}, "is_gpu_and_higher_plans_enabled": {"type": "boolean", "example": true}, "is_customer_resource_limit_used": {"type": "boolean", "example": false}, "total_limit": {"type": "integer", "example": 15}, "used_limit": {"type": "integer", "example": 7}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/resource-quota-details/": {"get": {"operationId": "get-resource-quota-details", "summary": "Resource Details", "tags": ["Other"], "description": "Retrieves the current status of resource quotas.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Successful response with resource quota information", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"resource_quota_enabled": {"type": "boolean", "example": true}, "gpu_and_higher_plans_enabled": {"type": "boolean", "example": true}, "resource_quota_used": {"type": "boolean", "example": false}, "capped_resources_quota": {"type": "integer", "example": 30}, "consumed_resources_quota": {"type": "integer", "example": 2}, "consumed_quota_details": {"type": "object", "properties": {"node": {"type": "integer", "example": 0}, "dbaas": {"type": "integer", "example": 0}, "load_balancer": {"type": "integer", "example": 1}, "vpc": {"type": "integer", "example": 1}}}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}}}