{"openapi": "3.0.3", "info": {"title": "MyAccount API - licensemanager", "description": "", "version": "1.0.0"}, "servers": [{"url": "https://api.e2enetworks.com/myaccount"}], "paths": {"/api/v1/license/bitninja/{vm_id}/node/": {"post": {"operationId": "activate-bitninja", "summary": "Activate Bitninja", "tags": ["Security"], "parameters": [{"name": "vm_id", "in": "path", "required": true, "description": "Path parameter `vm_id`.", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the Activate Bitninja request", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "must be a valid API key"]}, {"name": "location", "in": "query", "required": true, "description": "Specifies the target location for the activation request.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["must be a non-empty string", "may contain only letters, numbers, hyphens, or underscores"]}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {}}}}}, "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "description": "HTTP status code of the activation response", "x-constraints": ["integer", "value between 100 and 599"], "example": 200}, "data": {"type": "object", "properties": {"command_to_execute": {"type": "string", "description": "Shell command to execute for activating Bitninja", "x-constraints": ["must be a non-empty string", "should be a valid shell command"], "example": "curl https://get.bitninja.io/install.sh | /bin/bash -s - --license_key=RSK__216_48_190_175__XUN9DS1FBLKEPIL7OBXR0HOPWYJTCNE4"}}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "description": "Status message indicating the result of the activation request", "x-constraints": ["non-empty string", "max length 100 characters"], "example": "Success"}}}}}}}}, "delete": {"operationId": "deactivate-bitninja", "summary": "Deactivate Bitninja", "tags": ["Security"], "parameters": [{"name": "vm_id", "in": "path", "required": true, "description": "Path parameter `vm_id`.", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the Deactivate Bitninja request", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty"]}, {"name": "location", "in": "query", "required": true, "description": "Query parameter specifying the target location for deactivation", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["must be a non-empty string", "should be URL-encoded"]}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "description": "HTTP status code indicating the result of the deactivation request", "x-constraints": ["must be an integer", "200 indicates success"], "example": 200}, "data": {"type": "object", "properties": {}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "description": "Status message indicating the result of the deactivation request", "x-constraints": ["must be a non-empty string", "typically a short word or phrase such as \"Success\""], "example": "Success"}}}}}}}}}, "/api/v1/license/bitninja/{vm_id}/lb/": {"post": {"operationId": "enable-bitninja", "summary": "Enable BitNinja License", "tags": ["BitNinja Security"], "description": "Activates the BitNinja security license on the load balancer's underlying VM. BitNinja is an add-on, server-protection layer (billed separately - see `can_support_bitninja` / `bitninja_cost` in LB Plans). The path takes the `vm_id` of the load balancer's node (the `node_detail.vm_id` field from List Load Balancers), not the load balancer (appliance) ID. The response returns the install `command_to_execute`.\n\nThe request body is an empty JSON object.", "parameters": [{"name": "vm_id", "in": "path", "required": true, "description": "The `vm_id` field from the `node_detail` object in the List Load Balancers response.", "schema": {"type": "integer"}, "example": 23456, "x-constraints": ["required", "must be a valid VM ID"]}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Region of the load balancer.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["must be a non-empty string"]}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "description": "No fields are required - send an empty JSON object. The target is identified by the `vm_id` path parameter.", "properties": {}}}}}, "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"command_to_execute": {"type": "string", "description": "Shell command to install the BitNinja agent on the appliance.", "example": "curl https://get.bitninja.io/install.sh | /bin/bash -s - --license_key=<rsk_secret>"}}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}, "delete": {"operationId": "disable-bitninja", "summary": "Disable BitNinja License", "tags": ["BitNinja Security"], "description": "Terminates the BitNinja security license on the load balancer's underlying VM. As with enabling, the path takes the load balancer node's `vm_id` (the `node_detail.vm_id` field), not the appliance ID. No request body is required.", "parameters": [{"name": "vm_id", "in": "path", "required": true, "description": "The `vm_id` field from the `node_detail` object in the List Load Balancers response.", "schema": {"type": "integer"}, "example": 23456, "x-constraints": ["required", "must be a valid VM ID"]}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Region of the load balancer.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["must be a non-empty string"]}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/terminate-request/357/": {"delete": {"operationId": "delete-terminate-request-357", "summary": "Terminate License", "tags": ["License Management"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "License terminated successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "example": {}}, "errors": {"type": "string", "example": "Liscense terminated successfully"}, "message": {"type": "string", "example": "Success"}}}}}}}}}}}