{"openapi": "3.0.3", "info": {"title": "MyAccount API - cloudwatch", "description": "", "version": "1.0.0"}, "servers": [{"url": "https://api.e2enetworks.com/myaccount"}], "paths": {"/api/v1/nodes/{node_id}/monitoring/monitoring_status/": {"get": {"operationId": "monitoring-status", "summary": "Monitoring Status", "tags": ["Monitoring"], "parameters": [{"name": "node_id", "in": "path", "required": true, "description": "Path parameter `node_id`.", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty alphanumeric string"]}, {"name": "location", "in": "query", "required": true, "description": "Location identifier used to filter monitoring status", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["must be a non-empty string"]}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "description": "HTTP status code indicating the monitoring result", "x-constraints": ["integer between 100 and 599", "must be a standard HTTP status code"], "example": 200}, "data": {"type": "object", "properties": {"is_zabbix_active": {"type": "boolean", "description": "Indicates if Zabbix monitoring is currently active", "x-constraints": ["must be a boolean"], "example": true}, "message": {"type": "string", "description": "Human-readable status message describing the monitoring connection", "x-constraints": ["must not be empty", "maximum length 200 characters"], "example": "Connection with agent is successfull"}}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "description": "Status message indicating the result of the monitoring operation", "x-constraints": ["must be a non-empty string", "typically a short status such as \"Success\""], "example": "Success"}}}}}}}, "x-alternate-operations": [{"operationId": "lb-monitoring-status", "summary": "Monitoring Status"}], "description": "This path + method also serves **Monitoring Status** (`lb-monitoring-status`); select the variant via the request body."}}, "/api/v1/nodes/{node_id}/monitor/server-health-info/": {"get": {"operationId": "server-health-info", "summary": "Server Health Info", "tags": ["Monitoring"], "parameters": [{"name": "node_id", "in": "path", "required": true, "description": "Path parameter `node_id`.", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Specifies the target location for which health information is requested.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["Must be a non-empty string", "May contain only alphanumeric characters, hyphens, or underscores"]}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "description": "HTTP status code indicating the health check result", "x-constraints": ["must be an integer", "must be a valid HTTP status code (100-599)"], "example": 200}, "data": {"type": "object", "properties": {"host_uptime": {"type": "string", "description": "Human-readable server uptime duration", "x-constraints": ["non-empty string", "format: numeric value followed by a time unit (e.g., Minutes, Hours)", "may include leading or trailing whitespace"], "example": "49 Minutes "}, "memory": {"type": "object", "properties": {"labels": {"type": "array", "items": {"type": "string", "description": "Human-readable label for a memory metric", "x-constraints": ["must be a non-empty string", "should be unique within the array"], "example": "Free Memory (GB)"}}, "results": {"type": "array", "items": {"type": "string", "description": "Memory metric value as a string", "x-constraints": ["must be a numeric string", "may contain up to two decimal places", "cannot be negative"], "example": "4.80"}}}}, "disk": {"type": "object", "properties": {"labels": {"type": "array", "items": {"type": "string", "description": "Label describing a disk metric", "x-constraints": ["must be a non-empty string", "maximum length 100 characters"], "example": "Free Disk Space (GB)"}}, "results": {"type": "array", "items": {"type": "string", "description": "Disk health metric as a stringified number", "x-constraints": ["must be a numeric string", "value should be between 0 and 100"], "example": "87.94"}}}}}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "description": "Status message indicating the result of the health check", "x-constraints": ["non-empty string", "maximum length 100 characters"], "example": "Success"}}}}}}}}}, "/api/v1/nodes/{node_id}/monitor/server-health/": {"get": {"operationId": "server-health", "summary": "Server Health", "tags": ["Monitoring", "Auto Scaling"], "parameters": [{"name": "node_id", "in": "path", "required": true, "description": "Path parameter `node_id`.", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "interval", "in": "query", "required": false, "description": "Time interval in seconds for health checks", "schema": {"type": "string"}, "example": "3600", "x-constraints": ["must be a numeric string", "must be a positive integer"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key for authenticating the Server Health request", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Specifies the target location for the server health request", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["must be a non-empty string", "should contain only alphanumeric characters, hyphens or underscores"]}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "description": "HTTP status code indicating the server health", "x-constraints": ["must be an integer", "should be a valid HTTP status code (100-599)"], "example": 200}, "data": {"type": "object", "properties": {"memory": {"type": "object", "properties": {"labels": {"type": "array", "items": {"type": "string", "description": "Label for a memory data point, usually a timestamp", "x-constraints": ["Must be a non-empty string", "Should follow the HH:MM[AM|PM] time format"], "example": "10:43AM"}}, "results": {"type": "array", "items": {"type": "string", "description": "Memory metric value as a string", "x-constraints": ["Must be a numeric string", "May include a decimal point"], "example": "9.8"}}}}, "disk": {"type": "object", "properties": {"labels": {"type": "array", "items": {"type": "string", "description": "A label associated with a disk in the health response", "x-constraints": ["must be a non-empty string"], "example": "10:37AM"}}, "results": {"type": "array", "items": {"type": "string", "description": "Disk metric value as a string", "x-constraints": ["must be a numeric string", "may include a decimal point"], "example": "5.2"}}}}, "cpu": {"type": "object", "properties": {"cpu_load": {"type": "object", "properties": {"labels": {"type": "array", "items": {"type": "string", "description": "Timestamp label for a CPU load data point", "x-constraints": ["must be a non-empty string", "format HH:MMAM/PM (e.g., 10:42AM)"], "example": "10:42AM"}}, "results": {"type": "array", "items": {"type": "string", "description": "CPU load value as a string", "x-constraints": ["must be a numeric string", "value should be between 0.0 and 100.0"], "example": "0.0"}}}}, "cpu_utilization": {"type": "object", "properties": {"labels": {"type": "array", "items": {"type": "string", "description": "Label for a CPU utilization data point, usually a time string", "x-constraints": ["Non-empty string", "Should follow 12-hour time format (e.g., HH:MMAM/PM)"], "example": "10:38AM"}}, "results": {"type": "array", "items": {"type": "string", "description": "CPU utilization value as a string", "x-constraints": ["must be a numeric string", "value should be between 0 and 1 inclusive"], "example": "0.18"}}}}}}, "iops": {"type": "object", "properties": {"disk_iops_read": {"type": "object", "properties": {"labels": {"type": "array", "items": {"type": "string", "description": "Label for a disk IOPS read data point, typically a timestamp", "x-constraints": ["Must be a non-empty string", "Should follow HH:MMAM/PM format"], "example": "10:37AM"}}, "results": {"type": "array", "items": {"type": "string", "description": "String representation of the read IOPS value for a disk", "x-constraints": ["must be a numeric string", "value must be non-negative"], "example": "21029.0"}}}}, "disk_iops_write": {"type": "object", "properties": {"labels": {"type": "array", "items": {"type": "string", "description": "Label identifying the data point, typically a timestamp", "x-constraints": ["non-empty string", "must match 12-hour time format (e.g., HH:MMAM or HH:MMPM)", "unique within the labels array"], "example": "10:37AM"}}, "results": {"type": "array", "items": {"type": "string", "description": "Write IOPS value represented as a string", "x-constraints": ["must be a non-negative numeric string", "may include a single decimal point"], "example": "4278.0"}}}}}}, "network": {"type": "object", "properties": {"ens3]": {"type": "object", "properties": {"in": {"type": "object", "properties": {"item_id": {"type": "string", "description": "Unique identifier for the item", "x-constraints": ["must be a non-empty string", "should contain only numeric characters"], "example": "123456"}, "labels": {"type": "array", "items": {"type": "string", "description": "Label for inbound network traffic on the interface", "x-constraints": ["must be a non-empty string", "maximum length of 255 characters"], "example": "10:52AM"}}, "results": {"type": "array", "items": {"type": "string", "description": "Inbound network metric value as a string", "x-constraints": ["must be a numeric string", "may include a decimal point", "non-negative value"], "example": "6930.2"}}}}, "out": {"type": "object", "properties": {"item_id": {"type": "string", "description": "Identifier of the item in the server health response", "x-constraints": ["must be a non-empty string", "must contain only numeric characters"], "example": "123456"}, "labels": {"type": "array", "items": {"type": "string", "description": "Label for the network interface output", "x-constraints": ["Must be a non-empty string", "May follow HH:MMAM/PM time format"], "example": "10:52AM"}}, "results": {"type": "array", "items": {"type": "string", "description": "Metric value from the server health check", "x-constraints": ["must be a string containing a numeric value", "may include up to two decimal places", "should be non-negative"], "example": "2.59"}}}}, "total": {"type": "object", "properties": {"item_id": {"type": "string", "description": "Unique identifier for the item", "x-constraints": ["non-empty string", "digits only"], "example": "112345"}, "labels": {"type": "array", "items": {"type": "string", "description": "Label string for network metrics, typically a timestamp", "x-constraints": ["non-empty string", "matches 12-hour time format with AM/PM (e.g., \"10:41AM\")"], "example": "10:41AM"}}, "results": {"type": "array", "items": {"type": "string", "description": "String representation of a numeric metric in the server health response", "x-constraints": ["must be a valid decimal number", "non-negative value"], "example": "7125.72"}}}}}}, "ens4]": {"type": "object", "properties": {"in": {"type": "object", "properties": {"item_id": {"type": "string", "description": "Unique identifier for the item", "x-constraints": ["must be a non-empty string", "contains only digits"], "example": "123456"}, "labels": {"type": "array", "items": {"type": "string", "description": "Label identifying the network interface", "x-constraints": ["non-empty string", "max length 64 characters"], "example": "10:52AM"}}, "results": {"type": "array", "items": {"type": "string", "description": "Health metric value as a string", "x-constraints": ["Must be a numeric string", "May contain a decimal point"], "example": "2.57"}}}}, "out": {"type": "object", "properties": {"item_id": {"type": "string", "description": "Identifier of the item in the server health response", "x-constraints": ["required", "string of digits only"], "example": "123456"}, "labels": {"type": "array", "items": {"type": "string", "description": "Label string associated with the network output", "x-constraints": ["must be a non-empty string"], "example": "10:52AM"}}, "results": {"type": "array", "items": {"type": "string", "description": "Health metric value as a string", "x-constraints": ["must be a numeric string", "may include a decimal point", "should be non-negative"], "example": "3.5"}}}}, "total": {"type": "object", "properties": {"item_id": {"type": "string", "description": "Unique identifier for the item", "x-constraints": ["must be a non-empty string", "contains only numeric characters"], "example": "123456"}, "labels": {"type": "array", "items": {"type": "string", "description": "Label string representing a time value", "x-constraints": ["Must follow 12-hour time format HH:MMAM/PM", "Non-empty string"], "example": "10:41AM"}}, "results": {"type": "array", "items": {"type": "string", "description": "Metric value returned as a string", "x-constraints": ["must be a valid decimal number", "non-negative"], "example": "5.88"}}}}}}, "eth0]": {"type": "object", "properties": {"in": {"type": "object", "properties": {"item_id": {"type": "string", "description": "Identifier of the network item", "x-constraints": ["must be a non-empty string", "contains only digits"], "example": "123456"}, "labels": {"type": "array", "items": {"type": "string", "description": "Array item"}}, "results": {"type": "array", "items": {"type": "string", "description": "Array item"}}}}, "out": {"type": "object", "properties": {"item_id": {"type": "string", "description": "Unique identifier for the item", "x-constraints": ["must be a non-empty string", "contains only numeric characters"], "example": "123456"}, "labels": {"type": "array", "items": {"type": "string", "description": "Array item"}}, "results": {"type": "array", "items": {"type": "string", "description": "Array item"}}}}, "total": {"type": "object", "properties": {"item_id": {"type": "string", "description": "Unique identifier for the item", "x-constraints": ["must be a non-empty string", "contains only numeric characters"], "example": "123456"}, "labels": {"type": "array", "items": {"type": "string", "description": "Array item"}}, "results": {"type": "array", "items": {"type": "string", "description": "Array item"}}}}}}, "eth1]": {"type": "object", "properties": {"in": {"type": "object", "properties": {"item_id": {"type": "string", "description": "Identifier of the item in the response", "x-constraints": ["must be a non-empty string", "contains only decimal digits"], "example": "123456"}, "labels": {"type": "array", "items": {"type": "string", "description": "Array item"}}, "results": {"type": "array", "items": {"type": "string", "description": "Array item"}}}}, "out": {"type": "object", "properties": {"item_id": {"type": "string", "description": "Unique identifier for the item", "x-constraints": ["non-empty string of digits"], "example": "123456"}, "labels": {"type": "array", "items": {"type": "string", "description": "Array item"}}, "results": {"type": "array", "items": {"type": "string", "description": "Array item"}}}}, "total": {"type": "object", "properties": {"item_id": {"type": "string", "description": "Identifier for the item in the network health response", "x-constraints": ["required", "non-empty string", "contains only digits"], "example": "123456"}, "labels": {"type": "array", "items": {"type": "string", "description": "Array item"}}, "results": {"type": "array", "items": {"type": "string", "description": "Array item"}}}}}}}}}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "description": "Status message indicating the result of the health check", "x-constraints": ["must be a non-empty string", "maximum length of 100 characters"], "example": "Success"}}}}}}}, "x-alternate-operations": [{"operationId": "lb-server-health", "summary": "Server Health"}, {"operationId": "as-server-health", "summary": "Get Node Server Health Metrics"}], "description": "This path + method also serves **Server Health** (`lb-server-health`); select the variant via the request body.\n\nThis path + method also serves **Get Node Server Health Metrics** (`as-server-health`); select the variant via the request body."}}, "/api/v1/monitoring/single-service/alerts/": {"post": {"operationId": "create-alert", "summary": "Create Alert", "tags": ["Trigger and Alerts", "Alerts", "Event Monitoring"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used for authenticating the request", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "must be a valid API key"]}, {"name": "location", "in": "query", "required": true, "description": "Specifies the location for which the alert is created", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["required", "must be a non-empty string"]}], "requestBody": {"content": {"application/json": {"schema": {"oneOf": [{"type": "object", "properties": {"trigger_data": {"type": "object", "properties": {"trigger_type": {"type": "string", "description": "Specifies the type of trigger that activates the alert", "x-constraints": ["Must be a non-empty string", "Typically one of the supported trigger types such as \"load\", \"cpu\", \"memory\""], "example": "load"}, "trigger_operator": {"type": "string", "description": "Comparison operator used to evaluate the trigger condition", "x-constraints": ["must be a non-empty string", "allowed values: >, <, >=, <=, ==, !="], "example": ">"}, "trigger_threshold": {"type": "integer", "description": "Threshold value that triggers the alert", "x-constraints": ["must be a positive integer"], "example": 10}, "owner": {"type": "integer", "description": "ID of the user who owns the alert", "x-constraints": ["required", "positive integer"], "example": 12345}, "usergroups": {"type": "array", "items": {"type": "integer", "description": "List of user group IDs for the alert.", "x-constraints": ["each item must be an integer", "IDs should be positive"], "example": 1234}}, "trigger_severity": {"type": "integer", "description": "Severity level of the trigger", "x-constraints": ["integer value", "value typically between 1 and 5"], "example": 4}, "service_type": {"type": "string", "description": "Specifies the type of service that triggered the alert", "x-constraints": ["must be a non-empty string", "allowed values include: nodes, pods, services"], "example": "nodes"}, "service_ids": {"type": "array", "items": {"type": "integer", "description": "Array of service ID integers for the alert trigger", "x-constraints": ["each item must be an integer", "each ID must be a positive integer"], "example": 12345}}}}}}, {"type": "object", "required": ["trigger_data"], "properties": {"trigger_data": {"type": "object", "description": "Wrapper object holding the alert definition. Required - a missing `trigger_data` key returns a 400 error.", "required": ["trigger_type", "trigger_threshold", "trigger_severity", "service_type", "service_ids", "owner", "usergroups"], "properties": {"trigger_type": {"type": "string", "description": "Metric the alert watches. For load balancers the console offers `load` (processor load), `memory` (consumed memory), and `disk` (free disk space).", "enum": ["load", "memory", "disk"], "x-constraints": ["required", "for load_balancer the console offers: load, memory, disk"], "example": "load"}, "trigger_operator": {"type": "string", "description": "Comparison used between the metric and `trigger_threshold`.", "enum": [">", "<", "=", "<>"], "x-constraints": ["required", "one of: > (greater than), < (less than), = (equal to), <> (not equal to)"], "example": ">"}, "trigger_threshold": {"type": "number", "description": "Threshold value that triggers the alert.", "x-constraints": ["required", "must be between 0 and 100 (for load/memory/disk metrics)"], "example": 10}, "trigger_severity": {"type": "integer", "description": "Severity level of the alert. 0 = Not classified, 1 = Information, 2 = Warning, 3 = Average, 4 = High, 5 = Disaster.", "enum": [0, 1, 2, 3, 4, 5], "x-constraints": ["required", "console default: 4 (High)"], "example": 4}, "service_type": {"type": "string", "description": "Resource type the alert applies to. Use `load_balancer` for load balancers.", "enum": ["load_balancer", "nodes", "dbaas", "kubernetes"], "x-constraints": ["required", "must be load_balancer for load balancer alerts"], "example": "load_balancer"}, "service_ids": {"type": "array", "description": "IDs of the load balancers the alert is attached to.", "x-constraints": ["required", "at least one entry"], "items": {"type": "integer", "description": "A load balancer (appliance) ID.", "example": 1234}}, "owner": {"type": "integer", "description": "IAM member ID that owns the alert (the account owner's `member_id`).", "x-constraints": ["required", "must reference an existing IAM member"], "example": 12345}, "usergroups": {"type": "array", "description": "IDs of the user groups notified when the alert fires.", "x-constraints": ["required", "each entry must reference an existing user group"], "items": {"type": "integer", "example": 1234}}}}}}, {"type": "object", "description": "The alert definition is wrapped in a `trigger_data` object.", "required": ["trigger_data"], "properties": {"trigger_data": {"type": "object", "required": ["trigger_type", "trigger_threshold", "trigger_severity", "service_type", "service_ids", "owner", "usergroups"], "properties": {"trigger_type": {"type": "string", "description": "The metric the alert watches.", "x-constraints": ["required", "one of: cpu, memory, disk, load, attached_disk, qps, slowquery, volume.read, volume.write, webcheck"], "example": "disk"}, "trigger_operator": {"type": "string", "description": "Comparison operator applied to the metric.", "x-constraints": ["one of: \">\", \"<\", \">=\", \"<=\""], "example": ">"}, "trigger_threshold": {"type": "number", "description": "Threshold the metric is compared against.", "x-constraints": ["required", "for most trigger types, between 0 and 100"], "example": 10}, "trigger_severity": {"type": "integer", "description": "Severity level of the alert.", "x-constraints": ["required", "0 (Not classified), 1 (Information), 2 (Warning), 3 (Average), 4 (High), 5 (Disaster)"], "example": 4}, "service_type": {"type": "string", "description": "The service kind the alert is for.", "x-constraints": ["required", "fixed value for cluster alerts: kubernetes"], "example": "kubernetes"}, "service_ids": {"type": "array", "description": "The target node id(s) to attach the alert to.", "items": {"type": "integer"}, "x-constraints": ["required", "non-empty list of valid node IDs"], "example": [320000]}, "owner": {"type": "integer", "description": "IAM user ID that owns the alert.", "x-constraints": ["required", "must be a valid IAM user ID"], "example": 1234}, "usergroups": {"type": "array", "description": "User group IDs to notify when the alert fires.", "items": {"type": "integer"}, "x-constraints": ["required", "user groups must exist in the project"], "example": [1234]}, "volume": {"type": "object", "description": "Volume target - required for volume.read / volume.write alerts.", "properties": {"id": {"type": "integer", "example": 0}, "volume_name": {"type": "string", "example": "Node Volume"}}}}}}, "example": {"trigger_data": {"trigger_type": "disk", "trigger_operator": ">", "trigger_threshold": 10, "trigger_severity": 4, "service_type": "kubernetes", "service_ids": [320000], "owner": 1234, "usergroups": [1234], "volume": {"id": 0, "volume_name": "Node Volume"}}}}, {"type": "object", "properties": {"trigger_data": {"type": "object", "properties": {"trigger_type": {"type": "string", "example": "qps"}, "trigger_operator": {"type": "string", "example": "<"}, "trigger_threshold": {"type": "number", "format": "float", "example": 90}, "owner": {"type": "integer", "example": 45958}, "usergroups": {"type": "array", "items": {"type": "integer"}, "example": [5782]}, "trigger_severity": {"type": "integer", "example": 4}, "service_type": {"type": "string", "example": "dbaas"}, "service_ids": {"type": "array", "items": {"type": "integer"}, "example": [5276]}}}}, "required": ["trigger_data"]}]}}}}, "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "description": "HTTP status code indicating the result of the create alert request", "x-constraints": ["must be an integer", "typically 201 for a successful creation"], "example": 201}, "data": {"type": "object", "properties": {"id": {"type": "integer", "description": "Unique identifier of the created alert", "x-constraints": ["must be a positive integer", "required in the response"], "example": 123456}, "trigger_type": {"type": "string", "description": "The type of condition that triggers the alert", "x-constraints": ["must be a non-empty string", "must be one of the supported trigger types (e.g., \"load\")"], "example": "load"}, "operator": {"type": "string", "description": "Comparison operator used in the alert condition", "x-constraints": ["must be a valid comparison operator such as >, <, >=, <=, ==, !=", "cannot be empty"], "example": ">"}, "threshold": {"type": "integer", "description": "The numeric threshold value for the created alert.", "x-constraints": ["must be an integer", "must be non-negative"], "example": 10}, "service_type": {"type": "string", "description": "Type of service the alert applies to", "x-constraints": ["must be a non-empty string", "must be one of the supported service types"], "example": "nodes"}, "is_alert_enabled": {"type": "boolean", "description": "Indicates whether the created alert is enabled", "x-constraints": ["must be a boolean", "required"], "example": true}, "notified_groups": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "description": "Unique identifier of the notified group", "x-constraints": ["must be a positive integer", "must be unique within the notified_groups array"], "example": 1234}, "name": {"type": "string", "description": "Name of the notified group", "x-constraints": ["must be a non-empty string", "may contain alphanumeric characters and hyphens"], "example": "Default-26931-40057"}, "zabbix_user_group_id": {"type": "integer", "description": "Identifier of the Zabbix user group associated with the notification", "x-constraints": ["must be a positive integer", "represents a Zabbix user group ID"], "example": 123}, "member": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "description": "Unique identifier of the group member", "x-constraints": ["required", "must be a positive integer"], "example": 1234}, "iam_user": {"type": "object", "properties": {"member_id": {"type": "integer", "description": "Unique identifier of the IAM user", "x-constraints": ["must be a positive integer", "must be non-null"], "example": 12345}, "name": {"type": "string", "description": "Name of the IAM user associated with the notified group member.", "x-constraints": ["must be a non-empty string", "maximum length of 255 characters"], "example": "Name"}, "email": {"type": "string", "description": "IAM user's email address", "x-constraints": ["must be a valid email format", "cannot be empty"], "example": "example@gmail.com", "format": "email"}, "role": {"type": "string", "description": "IAM role assigned to the member within the notified group", "x-constraints": ["must be a non-empty string", "must be a valid IAM role name (e.g., Admin, User, Viewer)"], "example": "Admin"}, "iam_type": {"type": "string", "description": "IAM role type of the user", "x-constraints": ["must be a non-empty string", "must be one of the allowed IAM role types defined by the system"], "example": "Owner"}, "invitation_status": {"type": "string", "description": "Status of the IAM user invitation", "x-constraints": ["One of: Pending, Accepted, Rejected, Expired", "Non-empty string"], "example": "Accepted"}, "allowed_to_edit_by_current_user": {"type": "string", "description": "Indicates if the current user can edit this IAM user", "x-constraints": ["value is \"true\" or \"false\" when present", "may be null"]}}}, "date_joined": {"type": "string", "description": "Timestamp when the member joined, in ISO 8601 UTC format", "x-constraints": ["must be a valid ISO 8601 datetime string", "must end with 'Z' to indicate UTC"], "example": "2025-02-19T06:38:52.965166Z", "format": "date-time"}, "date_removed": {"type": "string", "description": "Date the member was removed from the notified group", "x-constraints": ["ISO 8601 formatted date-time string", "Nullable if the member has not been removed"]}}}}}}}, "resources": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "description": "Unique identifier of the created alert", "x-constraints": ["positive integer", "unique"], "example": 12345}, "name": {"type": "string", "description": "Name of the created alert resource", "x-constraints": ["must be a non-empty string", "may contain alphanumeric characters and hyphens only"], "example": "C3-8GB-508"}}}}, "severity": {"type": "integer", "description": "Severity level of the created alert", "x-constraints": ["integer between 1 and 5", "required"], "example": 4}, "volume_id": {"type": "string", "description": "Unique identifier of the volume related to the alert", "x-constraints": ["nullable", "must be a UUID string"]}}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "description": "Status message indicating the result of the create alert operation", "x-constraints": ["must be a non-empty string", "maximum length of 255 characters"], "example": "Created Successfully"}}}}}}, "201": {"description": "Alert configuration created successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 201}, "data": {"type": "object", "properties": {"id": {"type": "integer", "example": 45079}, "trigger_type": {"type": "string", "example": "qps"}, "operator": {"type": "string", "example": "<"}, "threshold": {"type": "number", "format": "float", "example": 90}, "service_type": {"type": "string", "example": "dbaas"}, "notified_groups": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 5782}, "name": {"type": "string", "example": "Default-26322-38856"}, "zabbix_user_group_id": {"type": "integer", "example": 34277}, "member": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 6160}, "iam_user": {"type": "object", "properties": {"member_id": {"type": "integer", "example": 45958}, "name": {"type": "string", "example": "Vishnukant Shukla"}, "email": {"type": "string", "example": "vishnukant.shukla@e2enetworks.com"}, "role": {"type": "string", "example": "Admin"}, "iam_type": {"type": "string", "example": "Owner"}, "invitation_status": {"type": "string", "example": "Accepted"}, "allowed_to_edit_by_current_user": {"type": "string", "example": null}}}, "date_joined": {"type": "string", "format": "date-time", "example": "2025-01-14T06:56:40.920958Z"}, "date_removed": {"type": "string", "format": "date-time", "example": null}}}}}}}, "resources": {"type": "array", "items": {"type": "string"}, "example": ["E2E-DBaaS-26322-2920"]}, "severity": {"type": "integer", "example": 4}}}, "errors": {"type": "object", "additionalProperties": true}, "message": {"type": "string", "example": "Created Successfully"}}}}}}}, "x-alternate-operations": [{"operationId": "lb-create-alert", "summary": "Create Load Balancer Alert"}, {"operationId": "k8s-create-alert", "summary": "Create a Cluster Alert"}, {"operationId": "post-monitoring-single-service-alerts", "summary": "Create Alert"}], "description": "This path + method also serves **Create Load Balancer Alert** (`lb-create-alert`); select the variant via the request body.\n\nThis path + method also serves **Create a Cluster Alert** (`k8s-create-alert`); select the variant via the request body.\n\nThis path + method also serves **Create Alert** (`post-monitoring-single-service-alerts`); select the variant via the request body."}}, "/api/v1/nodes/{node_id}/monitoring/triggers/": {"get": {"operationId": "triggers", "summary": "Triggers", "tags": ["Trigger and Alerts", "Alerts"], "parameters": [{"name": "node_id", "in": "path", "required": true, "description": "Path parameter `node_id`.", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Location filter for the trigger query", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["must be a non-empty string", "should be URL-encoded"]}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "description": "HTTP status code of the trigger response", "x-constraints": ["integer", "value between 100 and 599"], "example": 200}, "data": {"type": "object", "properties": {"alert_default_state": {"type": "boolean", "description": "Indicates whether alerts are enabled by default for the trigger.", "x-constraints": ["must be a boolean value", "cannot be null"], "example": false}, "trigger": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "description": "Unique identifier of the trigger", "x-constraints": ["integer", "greater than zero"], "example": 123456}, "trigger_id": {"type": "integer", "description": "Unique identifier for the trigger", "x-constraints": ["integer", "positive"], "example": 123456}, "trigger_id_v2": {"type": "integer", "description": "Unique identifier for the trigger (v2)", "x-constraints": ["integer", "non-negative"], "example": 123456}, "trigger_type": {"type": "string", "description": "Type of trigger that caused the response", "x-constraints": ["Must be a non-empty string", "Allowed values include: load, click, timer"], "example": "load"}, "trigger_operator": {"type": "string", "description": "Operator used to evaluate the trigger condition", "x-constraints": ["must be a non-empty string", "allowed values: \">\", \"<\", \">=\", \"<=\", \"==\", \"!=\""], "example": ">"}, "trigger_threshold": {"type": "integer", "description": "Numeric threshold that activates the trigger", "x-constraints": ["must be a non-negative integer"], "example": 10}, "timestamp": {"type": "string", "description": "Timestamp of the trigger event as a formatted date-time string.", "x-constraints": ["must be a non-empty string", "format: \"YYYY-MM-DD hh:mm AM/PM\"", "represents a valid calendar date and time"], "example": "2025-08-19 06:53 AM"}, "volume_id": {"type": "string", "description": "Identifier of the volume associated with the trigger", "x-constraints": ["Must be a string when provided", "Can be null"]}, "alert_trigger_id": {"type": "integer", "description": "Identifier of the alert trigger", "x-constraints": ["integer", "must be a positive value"], "example": 123456}, "is_alert_enabled": {"type": "boolean", "description": "Indicates whether the trigger's alert is enabled", "x-constraints": ["must be a boolean"], "example": true}}}}, "webcheck": {"type": "array", "items": {"type": "object", "properties": {"webcheck_id": {"type": "integer", "description": "Unique identifier for a webcheck", "x-constraints": ["integer", "positive value"], "example": 123}, "trigger_id": {"type": "integer", "description": "Identifier of the trigger associated with the webcheck.", "x-constraints": ["positive integer"], "example": 123456}, "enabled": {"type": "boolean", "description": "Indicates whether the webcheck is active.", "x-constraints": ["must be a boolean"], "example": true}, "name": {"type": "string", "description": "Name of the webcheck", "x-constraints": ["must be a non-empty string", "may contain alphanumeric characters"], "example": "Webcheck1"}, "url": {"type": "string", "description": "The web address to be checked.", "x-constraints": ["must be a valid URL", "must use HTTP or HTTPS scheme"], "example": "https://myaccount.e2enetworks.com/", "format": "uri"}, "required_string": {"type": "string", "description": "A required non-empty string value in each webcheck object.", "x-constraints": ["must be present", "must be a non-empty string"], "example": "E2E Networks"}, "timestamp": {"type": "string", "description": "Timestamp of the webcheck event as a formatted string", "x-constraints": ["must be a non-empty string", "format: YYYY-MM-DD hh:mm AM/PM"], "example": "2025-08-19 06:54 AM"}, "webcheck_zabbix_id": {"type": "string", "description": "Zabbix identifier associated with the webcheck", "x-constraints": ["must be a string when present", "may be null"]}, "webcheck_zabbix_id_v2": {"type": "integer", "description": "Zabbix identifier for the web check", "x-constraints": ["integer", "positive"], "example": 73}}}}}}, "errors": {"type": "string", "description": "Human-readable error message for the trigger response", "x-constraints": ["May be empty when there is no error", "Maximum length 1024 characters"], "example": ""}, "message": {"type": "string", "description": "A short status message describing the result of the trigger operation", "x-constraints": ["must be a non-empty string", "maximum length of 255 characters"], "example": "Monitoring Data retrieved successfully"}}}}}}}, "x-alternate-operations": [{"operationId": "list-alert-triggers", "summary": "List Alert Triggers"}], "description": "This path + method also serves **List Alert Triggers** (`list-alert-triggers`); select the variant via the request body."}, "delete": {"operationId": "delete-alert", "summary": "Delete Alert", "tags": ["Trigger and Alerts", "Alerts"], "parameters": [{"name": "node_id", "in": "path", "required": true, "description": "Path parameter `node_id`.", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "id", "in": "query", "required": false, "description": "Identifier of the alert to delete", "schema": {"type": "string"}, "example": "{{trigger_id}}", "x-constraints": ["required", "must be a non-empty string"]}, {"name": "type", "in": "query", "required": false, "description": "Specifies the type of delete operation for the alert", "schema": {"type": "string"}, "example": "trigger", "x-constraints": ["must be a non-empty string", "allowed value: \"trigger\""]}, {"name": "zabbix_id", "in": "query", "required": false, "description": "Zabbix alert identifier to delete", "schema": {"type": "string"}, "example": "{{zabbix_id}}", "x-constraints": ["required", "must be a valid Zabbix identifier"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the delete alert request", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "must be a valid API key"]}, {"name": "location", "in": "query", "required": true, "description": "The location identifier for the alert to delete.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["required", "non-empty string", "alphanumeric with optional hyphens or underscores"]}, {"name": "service_ids", "in": "query", "required": false, "description": "The node ID the trigger is attached to (the load balancer's `node_detail.node_id`).", "schema": {"type": "string"}, "example": "{{node_id}}"}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "description": "HTTP status code indicating the result of the delete operation", "x-constraints": ["integer", "valid HTTP status code (e.g., 200)"], "example": 200}, "data": {"type": "object", "properties": {}}, "errors": {"type": "string", "description": "Error message returned by the Delete Alert operation", "x-constraints": ["May be an empty string when no error occurred", "Contains descriptive error text when an error is present"], "example": ""}, "message": {"type": "string", "description": "Human-readable confirmation that the alert was deleted", "x-constraints": ["required", "non-empty string"], "example": "Trigger was deleted successfully"}}}}}}}, "x-alternate-operations": [{"operationId": "lb-delete-alert", "summary": "Delete Alert"}], "description": "This path + method also serves **Delete Alert** (`lb-delete-alert`); select the variant via the request body."}}, "/api/v1/nodes/{node_id}/monitoring/alerts/": {"get": {"operationId": "alerts", "summary": "Alerts", "tags": ["Trigger and Alerts", "Alerts"], "parameters": [{"name": "node_id", "in": "path", "required": true, "description": "Path parameter `node_id`.", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Location filter for alerts", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["must be a non-empty string", "may contain alphanumeric characters, spaces, and hyphens"]}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "description": "HTTP status code of the response", "x-constraints": ["must be an integer", "must be a valid HTTP status code"], "example": 200}, "data": {"type": "object", "properties": {}}, "errors": {"type": "string", "description": "Human-readable error message returned by the API", "x-constraints": ["may be empty string when no error", "must be a UTF-8 encoded string"], "example": ""}, "message": {"type": "string", "description": "Human-readable status message for the alerts response", "x-constraints": ["Must be a non-empty string", "Should be concise (e.g., under 200 characters)"], "example": "Emails retrieved successfully"}}}}}}}, "x-alternate-operations": [{"operationId": "list-alerts", "summary": "List Alerts"}], "description": "This path + method also serves **List Alerts** (`list-alerts`); select the variant via the request body."}}, "/api/v1/monitoring/single-service/stop_resume_alert/{alert_trigger_id}/": {"put": {"operationId": "pause-resume-alert", "summary": "Pause/Resume Alert", "tags": ["Trigger and Alerts", "Alerts"], "parameters": [{"name": "alert_trigger_id", "in": "path", "required": true, "description": "Path parameter `alert_trigger_id`.", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key for authenticating the request", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty"]}, {"name": "location", "in": "query", "required": true, "description": "Specifies the E2E Myaccount location for the pause or resume operation", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["must be a valid E2E Myaccount location identifier (e.g., eastus)", "required and cannot be empty"]}], "requestBody": {"content": {"application/json": {"schema": {"oneOf": [{"type": "string", "description": "JSON string indicating whether to pause or resume an alert", "x-constraints": ["must be a valid JSON string", "must contain an \"action_type\" field with value \"pause_alert\" or \"resume_alert\""], "example": "{\n    \"action_type\": \"pause_alert\"\n    // \"action_type\": \"resume_alert\"\n}"}, {"type": "object", "required": ["action_type"], "properties": {"action_type": {"type": "string", "description": "Whether to pause or resume the alert trigger.", "enum": ["pause_alert", "resume_alert"], "x-constraints": ["required", "one of: pause_alert, resume_alert"], "example": "pause_alert"}}}, {"type": "object", "description": "Pause or resume an existing alert.", "required": ["action_type"], "properties": {"action_type": {"type": "string", "description": "The action to perform on the alert.", "x-constraints": ["required", "one of: pause_alert, resume_alert"], "example": "pause_alert"}}, "example": {"action_type": "pause_alert"}}]}}}}, "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "description": "HTTP status code indicating the result of the pause or resume alert request", "x-constraints": ["must be an integer", "must be a valid HTTP status code"], "example": 200}, "data": {"type": "string", "description": "String value returned in the response for a pause or resume alert operation", "x-constraints": ["must be a string", "may be empty"], "example": ""}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "description": "Human-readable status message for the pause or resume operation", "x-constraints": ["must be a non-empty string", "typically under 200 characters"], "example": "Alert paused successfully."}}}}}}}, "x-alternate-operations": [{"operationId": "lb-pause-resume-alert", "summary": "Pause or Resume Alert"}, {"operationId": "k8s-pause-resume-alert", "summary": "Pause or Resume a Cluster Alert"}], "description": "This path + method also serves **Pause or Resume Alert** (`lb-pause-resume-alert`); select the variant via the request body.\n\nThis path + method also serves **Pause or Resume a Cluster Alert** (`k8s-pause-resume-alert`); select the variant via the request body."}}, "/api/v1/nodes/{node_id}/monitoring/volume/": {"get": {"operationId": "attached-volume-monitoring", "summary": "Attached Volume Monitoring", "tags": ["Nodes"], "parameters": [{"name": "node_id", "in": "path", "required": true, "description": "Path parameter `node_id`.", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "interval", "in": "query", "required": false, "description": "Time interval in seconds for monitoring data retrieval.", "schema": {"type": "string"}, "example": "3600", "x-constraints": ["must be a positive integer", "value is expressed as seconds"]}, {"name": "volume_id", "in": "query", "required": false, "description": "Identifier of the volume to monitor", "schema": {"type": "string"}, "example": "{{block_id}}", "x-constraints": ["required", "must be a valid block or volume ID (e.g., UUID format)"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "must be a non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Specifies the geographic location for the attached volume monitoring request.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["must be a non-empty string", "should be a valid location identifier (e.g., region code)"]}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "description": "HTTP status code of the monitoring response", "x-constraints": ["integer", "valid HTTP status code (100-599)"], "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"disk": {"type": "string", "description": "Identifier of the attached volume device", "x-constraints": ["must be a non-empty string", "may contain only alphanumeric characters"], "example": "vdb"}, "mountpoint": {"type": "string", "description": "The filesystem path where the volume is mounted.", "x-constraints": ["must be a non-empty absolute path starting with '/'", "must contain only valid path characters"], "example": "/root/volume"}, "read_iops": {"type": "object", "properties": {"labels": {"type": "array", "items": {"type": "string", "description": "Time label for a read IOPS data point", "x-constraints": ["must be a non-empty string", "should follow HH:MMAM/PM format"], "example": "05:55PM"}}, "results": {"type": "array", "items": {"type": "string", "description": "IOPS measurement as a string", "x-constraints": ["must be a numeric string", "may include a decimal point", "non-negative value"], "example": "772.0"}}}}, "write_iops": {"type": "object", "properties": {"labels": {"type": "array", "items": {"type": "string", "description": "Label for a write IOPS data point, usually a time stamp", "x-constraints": ["Must be a non-empty string", "Should follow 12-hour time format HH:MMAM/PM"], "example": "05:55PM"}}, "results": {"type": "array", "items": {"type": "string", "description": "Write IOPS value as a string", "x-constraints": ["must be a numeric string", "must be non-negative"], "example": "6150.0"}}}}, "size": {"type": "object", "properties": {"labels": {"type": "array", "items": {"type": "string", "description": "Human-readable label for a volume metric", "x-constraints": ["Non-empty string", "May contain letters, numbers, spaces, and parentheses"], "example": "Free Memory (GB)"}}, "results": {"type": "array", "items": {"type": "integer", "description": "Number of result entries for attached volume monitoring", "x-constraints": ["must be an integer", "must be non-negative"], "example": 0}}}}, "name": {"type": "string", "description": "Identifier name of the attached volume monitoring entry", "x-constraints": ["must be a non-empty string", "may contain only alphanumeric characters, hyphens or underscores"], "example": "monitoring"}}}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "description": "Status message indicating the result of the volume monitoring request", "x-constraints": ["must be a non-empty string", "maximum length of 255 characters"], "example": "Success"}}}}}}}}}, "/api/v1/nodes/{master_node_id}/monitor/server-health/": {"get": {"operationId": "k8s-server-health", "summary": "Get Node Server Health Metrics", "tags": ["Monitoring and Logs"], "description": "Returns time-series health metrics for a single cluster node - memory, disk and CPU utilisation, disk IOPS, and per-NIC network in/out throughput. Each metric is a `{ labels, results }` pair (labels are timestamps, results are values). The path takes a node id (e.g. the `master_node_id` from List / Detail, or a node `id` from Monitoring Nodes). Use `interval` to set the look-back window in seconds.", "parameters": [{"name": "master_node_id", "in": "path", "required": true, "description": "The node id whose metrics to fetch (e.g. `master_node_id` from List / Detail).", "schema": {"type": "integer"}, "example": 320000, "x-constraints": ["required", "must be a valid node ID"]}, {"name": "interval", "in": "query", "required": false, "description": "Look-back window for the metrics, in seconds.", "schema": {"type": "integer"}, "example": 3600, "x-constraints": ["optional", "positive integer (seconds)", "defaults to 3600 (1 hour)"]}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request.", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Region of the node.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["required", "must be a valid region name (e.g., Delhi, Chennai)"]}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "description": "Time-series health metrics for the node. Each metric is a `{ labels, results }` pair where `labels` are timestamps and `results` are the metric values at those timestamps.", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"memory": {"type": "object", "properties": {"labels": {"type": "array", "items": {"type": "string"}, "example": ["01:27PM", "01:37PM"]}, "results": {"type": "array", "items": {"type": "number"}, "example": [42.5, 43.1]}}}, "cpu": {"type": "object", "description": "CPU utilisation series ({ labels, results })."}, "disk": {"type": "object", "description": "Disk utilisation series ({ labels, results })."}, "disk_iops": {"type": "object", "description": "Disk IOPS series ({ labels, results })."}, "network": {"type": "object", "description": "Per-NIC network in/out throughput series."}}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/nodes/{master_node_id}/monitoring/triggers/": {"delete": {"operationId": "k8s-delete-alert", "summary": "Delete a Cluster Alert", "tags": ["Alerts"], "description": "Deletes an alert trigger from a cluster node. Identify the trigger with the `id` and `zabbix_id` query parameters (from the node's alert list), set `type=trigger`, and pass the node's id in `service_ids`. The path takes the node id (e.g. `master_node_id`).", "parameters": [{"name": "master_node_id", "in": "path", "required": true, "description": "The node id the alert is attached to (e.g. `master_node_id`).", "schema": {"type": "integer"}, "example": 320000, "x-constraints": ["required", "must be a valid node ID"]}, {"name": "id", "in": "query", "required": true, "description": "The alert trigger `id` to delete.", "schema": {"type": "integer"}, "example": 12345, "x-constraints": ["required", "must be a valid alert trigger ID"]}, {"name": "type", "in": "query", "required": true, "description": "The kind of monitoring object to delete.", "schema": {"type": "string"}, "example": "trigger", "x-constraints": ["required", "fixed value: trigger"]}, {"name": "zabbix_id", "in": "query", "required": true, "description": "The underlying monitoring (Zabbix) trigger ID.", "schema": {"type": "integer"}, "example": 67890, "x-constraints": ["required"]}, {"name": "service_ids", "in": "query", "required": true, "description": "The node id the trigger belongs to.", "schema": {"type": "integer"}, "example": 320000, "x-constraints": ["required", "must be a valid node ID"]}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the delete request.", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Region of the cluster.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["required", "must be a valid region name (e.g., Delhi, Chennai)"]}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {}}, "errors": {"type": "string", "example": ""}, "message": {"type": "string", "example": "Trigger was deleted successfully"}}}}}}}}}, "/api/v1/monitoring/global/": {"get": {"operationId": "get-monitoring-global", "summary": "Get Global Monitoring Stats", "tags": ["Event Monitoring"], "parameters": [{"name": "start_time", "in": "query", "required": true, "description": "Start time in epoch format or relative window (e.g., 30 = last 30 minutes)", "schema": {"type": "integer"}}, {"name": "page_no", "in": "query", "required": false, "description": "The page number from which you want your page search results to be displayed.", "schema": {"type": "integer", "minimum": 0}}, {"name": "per_page", "in": "query", "required": false, "description": "Number of results per page", "schema": {"type": "integer", "minimum": 0}}, {"name": "filters", "in": "query", "required": false, "description": "Optional filter string", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"problems": {"type": "array", "items": {"type": "object"}, "example": []}, "severity_counts": {"type": "object", "properties": {"Not classified": {"type": "integer", "example": 0}, "Information": {"type": "integer", "example": 0}, "Warning": {"type": "integer", "example": 0}, "Average": {"type": "integer", "example": 0}, "High": {"type": "integer", "example": 0}, "Disaster": {"type": "integer", "example": 0}}}}}, "errors": {"type": "object", "additionalProperties": {"type": "string"}, "example": {}}, "message": {"type": "string", "example": "Success"}, "total_page_number": {"type": "integer", "example": 1}, "total_count": {"type": "integer", "example": 0}}}}}}}}}, "/api/v1/monitoring/alerts/": {"get": {"operationId": "get-monitoring-alerts", "summary": "Get monitoring alerts", "tags": ["Event Monitoring"], "parameters": [{"name": "page_no", "in": "query", "required": false, "description": "The page number from which you want your page search results to be displayed.", "schema": {"type": "integer", "minimum": 0}}, {"name": "per_page", "in": "query", "required": false, "description": "Number of results per page", "schema": {"type": "integer", "minimum": 0}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"default": {"description": "Response"}}}}, "/api/v1/monitoring/single-service/alerts/{alert_id}/": {"put": {"operationId": "put-monitoring-single-service-alerts-alert-id", "summary": "Update alert", "tags": ["Event Monitoring"], "parameters": [{"name": "alert_id", "in": "path", "required": true, "schema": {"type": "integer"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"trigger_data": {"type": "object", "properties": {"trigger_type": {"type": "string", "description": "Type of trigger (e.g., load, cpu, memory)."}, "trigger_operator": {"type": "string", "description": "Comparison operator for the trigger (e.g., >, <, >=)."}, "trigger_threshold": {"type": "number", "description": "Threshold value to evaluate the trigger."}, "owner": {"type": "integer", "description": "ID of the owner who set the trigger."}, "trigger_severity": {"type": "integer", "description": "Severity level of the trigger."}}, "required": ["trigger_type", "trigger_operator", "trigger_threshold", "owner", "trigger_severity"]}}, "required": ["trigger_data"], "example": {"trigger_data": {"trigger_type": "load", "trigger_operator": ">", "trigger_threshold": 10, "owner": 45961, "trigger_severity": 3}}}}}, "required": true}, "responses": {"200": {"description": "Alert updated successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200, "description": "HTTP status code"}, "data": {"type": "string", "example": "Alert updated successfully", "description": "Message or result data"}, "errors": {"type": "object", "description": "Any error details (empty if none)", "additionalProperties": true}, "message": {"type": "string", "example": "Success", "description": "General response message"}}}}}}}}, "delete": {"operationId": "delete-monitoring-single-service-alerts-alert-id", "summary": "Delete a alert", "tags": ["Event Monitoring"], "description": "Deletes an alert identified by its ID.", "parameters": [{"name": "alert_id", "in": "path", "required": true, "schema": {"type": "integer"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Alert deleted successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "string", "example": "Alert deleted successfully"}, "errors": {"type": "object", "additionalProperties": true, "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/monitoring/single-service/stop_resume_alert/{alert_id}/": {"put": {"operationId": "put-monitoring-single-service-stop-resume-alert-alert-id", "summary": "Stop/Resume Alert", "tags": ["Event Monitoring"], "description": "Pauses or resumes an alert based on the specified action type.", "parameters": [{"name": "alert_id", "in": "path", "required": true, "schema": {"type": "integer"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"action_type": {"type": "string", "description": "Action to perform on the alert (pause or resume)", "enum": ["pause_alert", "resume_alert"]}}, "required": ["action_type"]}}}, "required": true}, "responses": {"200": {"description": "Alert resumed successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "string", "example": ""}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Alert resumed successfully."}}}}}}}}}}}