{"openapi": "3.0.3", "info": {"title": "MyAccount API - lambda", "description": "", "version": "1.0.0"}, "servers": [{"url": "https://api.e2enetworks.com/myaccount"}], "paths": {"/api/v1/faas/namespace/": {"get": {"operationId": "get-faas-namespace", "summary": "Check Functions (FaaS) Activation", "tags": ["Functions"], "description": "Check if Functions (FaaS) is activated on your E2E Myaccount.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Namespace exists", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "string", "example": "Namespace e2e-faas-28393-dl exists"}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}, "post": {"operationId": "post-faas-namespace", "summary": "Activate Functions (FaaS)", "tags": ["Functions"], "description": "Activate Function (FaaS) on your E2E Myaccount .", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"default": {"description": "Response"}}}, "delete": {"operationId": "delete-faas-namespace", "summary": "Deactivate Functions (FaaS)", "tags": ["Functions"], "description": "Deactivate Function (FaaS) on your E2E Myaccount.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Namespace deleted successfully.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "string", "example": ""}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Namespace deleted"}}}}}}}}}, "/api/v1/faas/functions/": {"get": {"operationId": "get-faas-functions", "summary": "Get All Functions", "tags": ["Functions"], "description": "Returns a list of functions.", "parameters": [{"name": "page", "in": "query", "required": false, "description": "Page No.", "schema": {"type": "integer"}}, {"name": "page_size", "in": "query", "required": false, "description": "Page size", "schema": {"type": "integer"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Successfully retrieved the functions list.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "description": "Function details (empty in this response example)"}, "example": []}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}, "total_page_number": {"type": "integer", "example": 1}, "total_count": {"type": "integer", "example": 0}}}}}}}}, "post": {"operationId": "post-faas-functions", "summary": "Create a Function", "tags": ["Functions"], "description": "Creates a new function with provided configurations and uploads the code file.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"multipart/form-data": {"schema": {"type": "object", "properties": {"function_name": {"type": "string", "description": "Unique name for the function", "example": "e2e-function-55619"}, "runtime": {"type": "string", "description": "Runtime environment", "example": "python-3.11-fastapi", "enum": ["python-3.11-fastapi", "python-3.11-flask", "node-20-express", "node-18-express", "python-3.11-http", "node-20-http", "dotnet-7.0-http", "php-8.2-http", "go-1.21-http", "python-3.9-http", "gpu-pytorch-fastapi", "gpu-pytorch-flask", "gpu-tensorflow-fastapi", "gpu-tensorflow-flask", "custom-container-cpu"]}, "memory": {"type": "string", "description": "Memory allocated to the function (in MB)", "example": "128", "enum": ["128", "256", "512", "1024"]}, "timeout": {"type": "string", "description": "Timeout for the function (in seconds)", "example": "15"}, "environment_variables": {"type": "string", "description": "JSON string of environment variables", "example": {"env_name": "env_value"}}, "code_file": {"type": "string", "format": "binary", "description": "Zipped function source code (`.zip` file)"}}, "required": ["function_name", "runtime", "memory", "timeout", "code_file", "environment_variables"]}}}, "required": true}, "responses": {"200": {"description": "Function created successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"files": {"type": "array", "items": {"type": "object", "properties": {"file_path": {"type": "string", "example": "e2e-function-91786/func.py"}, "content": {"type": "string", "example": "from fastapi import FastAPI, Request\nfrom fastapi.middleware.cors import CORSMiddleware\nfrom pydantic import BaseModel\n\napp = FastAPI()\napp.add_middleware(CORSMiddleware, allow_origins=[\"*\"], allow_methods=[\"*\"], allow_headers=[\"*\"])\n\nclass Payload(BaseModel):\n    name: str = \"World\"\n\n@app.get(\"/\")\nasync def get_handler():\n    return {\"message\": \"Hello from FastAPI GET\"}\n\n@app.post(\"/\")\nasync def post_handler(payload: Payload):\n    return {\"message\": f\"Hello, {payload.name}!\"}\n"}}}}, "id": {"type": "integer", "example": 185}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/faas/function/{function_id}/": {"put": {"operationId": "put-faas-function-function-id", "summary": "Update Function", "tags": ["Functions"], "description": "Updates the specified serverless function with new memory, timeout, environment variables, and code file.", "parameters": [{"name": "function_id", "in": "path", "required": true, "description": "Function ID", "schema": {"type": "integer"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"multipart/form-data": {"schema": {"type": "object", "properties": {"memory": {"type": "string", "description": "Memory allocated to the function (in MB)", "example": "128", "enum": ["128", "256", "512", "1024"]}, "timeout": {"type": "string", "description": "Timeout for the function (in seconds)", "example": "15"}, "environment_variables": {"type": "string", "description": "JSON string of environment variables", "example": {"env_name": "env_value"}}, "code_file": {"type": "string", "format": "binary", "description": "Zipped function source code (`.zip` file)"}}, "required": ["memory", "timeout", "environment_variables"]}}}, "required": true}, "responses": {"200": {"description": "Function update initiated successfully.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "string", "example": "Function sent to build"}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}, "delete": {"operationId": "delete-faas-function-function-id", "summary": "Delete a Function", "tags": ["Functions"], "description": "Deletes the specified function by its ID.", "parameters": [{"name": "function_id", "in": "path", "required": true, "description": "Function ID", "schema": {"type": "integer"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Function deleted successfully.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "string", "example": "e2e-function-91786"}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/faas/monitoring-data/": {"get": {"operationId": "get-faas-monitoring-data", "summary": "Get Function Monitoring Data", "tags": ["Functions"], "description": "Retrieves monitoring data such as memory usage and invocation counts for a specific function.", "parameters": [{"name": "function_name", "in": "query", "required": true, "description": "The name of the function to monitor.", "schema": {"type": "string", "example": "e2e-function-6147"}}, {"name": "interval", "in": "query", "required": true, "description": "interval", "schema": {"type": "integer"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Successfully retrieved monitoring data.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"pod_memory_working_set_bytes": {"type": "object", "properties": {"labels": {"type": "array", "items": {"type": "string"}, "example": ["23 Jun 12:39 PM", "23 Jun 12:40 PM"]}, "results": {"type": "array", "items": {"type": "string"}, "example": ["48.173056 MB", "48.173056 MB"]}}}, "gateway_function_invocation_total": {"type": "object", "properties": {"labels": {"type": "array", "items": {"type": "string"}, "example": []}, "results": {"type": "array", "items": {"type": "string"}, "example": []}}}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/faas/logs/{function_id}/": {"get": {"operationId": "get-faas-logs-function-id", "summary": "Get logs for a Function", "tags": ["Functions"], "description": "Retrieves logs of the specified function based on type and duration.", "parameters": [{"name": "function_id", "in": "path", "required": true, "description": "Function ID", "schema": {"type": "integer"}}, {"name": "type", "in": "query", "required": true, "schema": {"type": "string", "example": "function", "description": "The type of logs to retrieve."}}, {"name": "duration", "in": "query", "required": true, "schema": {"type": "integer", "example": 5, "description": "Duration in minutes for which the logs are required."}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Successfully retrieved logs.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"logs": {"type": "string", "example": ""}, "scroll_id": {"type": "string", "nullable": true, "example": null}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}}}