{"openapi": "3.0.3", "info": {"title": "MyAccount API - other", "description": "", "version": "1.0.0"}, "servers": [{"url": "https://api.e2enetworks.com/myaccount"}], "paths": {"/api/v1/request-license/": {"post": {"operationId": "post-request-license", "summary": "Buy New License", "tags": ["License Management"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"sku_id": {"type": "string", "example": "977"}, "license_count": {"type": "integer", "example": 1}, "vcpus": {"type": "string", "example": ""}, "public_ip": {"type": "string", "format": "ipv4", "example": "172.16.231.6"}, "private_ip": {"type": "string", "format": "ipv4", "example": "172.16.231.6"}, "node_os": {"type": "string", "example": "CentOS"}, "node_id": {"type": "integer", "example": 1}, "contact_type": {"type": "string", "example": ""}, "license_name": {"type": "string", "example": "REMOTE DESKTOP LICENSE"}}, "required": ["sku_id", "license_count", "public_ip", "private_ip", "node_os", "node_id", "license_name"]}}}, "required": true}, "responses": {"200": {"description": "Successful response with validation status", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"public_ip": {"type": "boolean", "example": false}, "message": {"type": "string", "example": "Entered Public IP is not valid."}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}}}