{"openapi": "3.0.3", "info": {"title": "TIR API - network", "description": "E2E TIR \u2014 the AI/ML platform: notebooks, foundation models, fine-tuning, inference endpoints, RAG, pipelines, and data.", "version": "1.0.0"}, "servers": [{"url": "https://api.e2enetworks.com/myaccount/api/v1/gpu"}], "paths": {"/reserved_ips/": {"get": {"operationId": "get-reserved-ips", "summary": "Reserve IP List", "tags": ["Reserve IP"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "page_no", "in": "query", "required": false, "description": "Page number for pagination", "schema": {"type": "integer", "example": 1}}, {"name": "per_page", "in": "query", "required": false, "description": "Number of results per page", "schema": {"type": "integer", "example": 5}}, {"name": "location", "in": "query", "required": false, "description": "Filter by location", "schema": {"type": "string", "example": "Delhi"}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID", "schema": {"type": "integer", "example": 6706}}], "responses": {"200": {"description": "List of reserved IPs", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"reserved_ips": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 1174}, "ip_address": {"type": "string", "format": "ipv4", "example": "10.8.220.7"}, "service_name": {"type": "string", "example": "vllm-260202213427"}, "created_at": {"type": "string", "format": "date-time", "example": "2026-02-02T16:35:33.079344Z"}, "status": {"type": "string", "example": "Unavailable"}, "reserved_by": {"type": "object", "properties": {"id": {"type": "integer", "example": 12477}, "name": {"type": "string", "example": "xyz"}, "email": {"type": "string", "format": "email", "example": "abc@e2enetworks.com"}, "username": {"type": "string", "example": "abc@e2enetworks.com"}}}, "service_type": {"type": "string", "example": "inferenceservice"}, "service_id": {"type": "integer", "nullable": true, "example": 8286}, "location": {"type": "string", "example": "Delhi"}, "egress_ip": {"type": "string", "format": "ipv4", "example": "10.8.220.8"}, "myaccount_project_id": {"type": "integer", "example": 46594}, "vpc_details": {"type": "object", "properties": {"dns": {"type": "string", "example": "8.8.8.8 8.8.4.4"}, "name": {"type": "string", "example": "VPC-681"}, "price": {"type": "string", "example": "Rs. 4.8/Hour or Rs. 3500.0 Monthly"}, "state": {"type": "string", "example": "Active"}, "subnets": {"type": "array", "items": {"type": "object"}, "example": []}, "location": {"type": "string", "example": "Delhi"}, "vm_count": {"type": "integer", "example": 0}, "ipv4_cidr": {"type": "string", "example": "10.8.220.0/23"}, "is_active": {"type": "boolean", "example": true}, "pool_size": {"type": "integer", "example": 512}, "created_at": {"type": "string", "format": "date-time", "example": "2026-02-02T15:45:15.336925Z"}, "gateway_ip": {"type": "string", "format": "ipv4", "example": "10.8.220.1"}, "is_e2e_vpc": {"type": "boolean", "example": true}, "network_id": {"type": "integer", "example": 51117}, "gateway_node": {"type": "object", "properties": {"state": {"type": "string", "example": "Running"}, "node_id": {"type": "integer", "example": 292409}, "node_name": {"type": "string", "example": "VPC-681-gateway"}, "ip_address_public": {"type": "string", "format": "ipv4", "example": "164.52.211.67"}, "ip_address_private": {"type": "string", "format": "ipv4", "example": "10.8.220.1"}}}, "network_mask": {"type": "string", "example": "255.255.254.0"}, "project_name": {"type": "string", "example": "test"}, "committed_info": {"type": "object", "nullable": true, "example": null}, "committed_details": {"type": "array", "items": {"type": "object", "properties": {"committed_days": {"type": "integer", "example": 30}, "committed_sku_id": {"type": "integer", "example": 9798}, "committed_sku_name": {"type": "string", "example": "30 Days Committed , Rs. 3500.0"}, "committed_sku_price": {"type": "number", "example": 3500}, "committed_upto_date": {"type": "string", "example": "04-March-2026 16:35"}, "committed_node_message": {"type": "string", "example": "This committed node will be reserved for next 30 days ( till 04-March-2026 16:35). The cost Rs. 3500.0 of this node will be added in next invoice."}}}}}}, "connection_status": {"type": "string", "example": "Connected"}}}}, "reserved_ip_limit": {"type": "integer", "example": 5}, "available_reserved_ip": {"type": "integer", "example": 5}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}, "total_page_number": {"type": "integer", "example": 1}, "total_count": {"type": "integer", "example": 1}}}}}}}}, "post": {"operationId": "post-reserved-ips", "summary": "Create Reserve IP", "tags": ["Reserve IP"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {}}}}, "required": true}, "responses": {"200": {"description": "IP allocated successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"id": {"type": "integer", "example": 46}, "ip_address": {"type": "string", "format": "ipv4", "example": "216.48.185.130"}, "service_name": {"type": "string", "example": ""}, "created_at": {"type": "string", "format": "date-time", "example": "2025-04-09T11:00:22.102193Z"}, "status": {"type": "string", "example": "Available"}, "reserved_by": {"type": "object", "properties": {"id": {"type": "integer", "example": 4947}, "name": {"type": "string", "example": "xyz"}, "email": {"type": "string", "format": "email", "example": "abc@e2enetworks.com"}, "username": {"type": "string", "example": "abc@e2enetworks.com"}}}, "service_type": {"type": "string", "example": ""}, "service_id": {"type": "integer", "nullable": true, "example": null}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "IP 216.48.185.130 allocated successfully."}}}}}}}}}, "/notebooks/{notebook_id}/actions/": {"put": {"operationId": "put-notebooks-notebook-id-actions", "summary": "Attach/Detach Reserve IP", "tags": ["Reserve IP"], "parameters": [{"name": "notebook_id", "in": "path", "required": true, "schema": {"type": "integer"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "action", "in": "query", "required": true, "schema": {"type": "string", "enum": ["attach_reserve_ip", "detach_reserve_ip"]}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"reserved_ip_id": {"type": "integer", "example": 49}}, "required": ["reserved_ip_id"]}}}, "required": true}, "responses": {"200": {"description": "Notebook attached/detach to reserved IP successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "example": {}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Notebook attach_reserve_ip successfully"}}}}}}}}}, "/notebooks/{notebook_id}/reserve-ip/": {"put": {"operationId": "put-notebooks-notebook-id-reserve-ip", "summary": "Convert Floating IP to Reserve IP", "tags": ["Reserve IP"], "parameters": [{"name": "notebook_id", "in": "path", "required": true, "schema": {"type": "integer"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "IP allocated successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"id": {"type": "integer", "example": 51}, "ip_address": {"type": "string", "format": "ipv4", "example": "216.48.190.238"}, "service_name": {"type": "string", "example": "node-040915365151"}, "created_at": {"type": "string", "format": "date-time", "example": "2025-04-09T11:43:36.706214Z"}, "status": {"type": "string", "example": "Unavailable"}, "reserved_by": {"type": "object", "properties": {"id": {"type": "integer", "example": 4947}, "name": {"type": "string", "example": "xyz"}, "email": {"type": "string", "format": "email", "example": "abc@e2enetworks.com"}, "username": {"type": "string", "example": "abc@e2enetworks.com"}}}, "service_type": {"type": "string", "example": "notebook"}, "service_id": {"type": "integer", "example": 8559}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "IP 216.48.190.238 allocated successfully."}}}}}}}}}, "/reserved_ips/{reserve_ip_id}/": {"delete": {"operationId": "delete-reserved-ips-reserve-ip-id", "summary": "Delete Reserve IP", "tags": ["Reserve IP"], "parameters": [{"name": "reserve_ip_id", "in": "path", "required": true, "schema": {"type": "integer"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "IP deleted successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"id": {"type": "integer", "example": 49}, "ip_address": {"type": "string", "format": "ipv4", "example": "216.48.188.68"}, "service_name": {"type": "string", "example": ""}, "created_at": {"type": "string", "format": "date-time", "example": "2025-04-09T11:21:18.124222Z"}, "status": {"type": "string", "example": "Available"}, "reserved_by": {"type": "object", "properties": {"id": {"type": "integer", "example": 4947}, "name": {"type": "string", "example": "xyz"}, "email": {"type": "string", "format": "email", "example": "abc@e2enetworks.com"}, "username": {"type": "string", "example": "abc@e2enetworks.com"}}}, "service_type": {"type": "string", "example": ""}, "service_id": {"type": "integer", "nullable": true, "example": null}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "IP 216.48.188.68 deleted successfully."}}}}}}}}}, "/reserved_ips/private-ip/": {"post": {"operationId": "post-reserved-ips-private-ip", "summary": "Reserve IP from VPC", "tags": ["Reserve IP"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": false, "description": "Filter by location", "schema": {"type": "string", "example": "Delhi"}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID", "schema": {"type": "integer", "example": 6706}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"network_id": {"type": "string", "example": "51117", "description": "The VPC network ID to reserve the IP from"}, "my_account_project_id": {"type": "integer", "example": 46594, "description": "The MyAccount project ID associated with the VPC"}, "my_account_location": {"type": "string", "example": "Delhi", "description": "The location of the VPC"}}, "required": ["network_id", "my_account_project_id", "my_account_location"]}}}, "required": true}, "responses": {"200": {"description": "IP reserved from VPC successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"id": {"type": "integer", "example": 1403}, "ip_address": {"type": "string", "format": "ipv4", "example": "10.8.220.9"}, "service_name": {"type": "string", "example": ""}, "created_at": {"type": "string", "format": "date-time", "example": "2026-03-09T04:54:03.613008Z"}, "status": {"type": "string", "example": "Available"}, "reserved_by": {"type": "object", "properties": {"id": {"type": "integer", "example": 12477}, "name": {"type": "string", "example": "xyz"}, "email": {"type": "string", "format": "email", "example": "abc@e2enetworks.com"}, "username": {"type": "string", "example": "abc@e2enetworks.com"}}}, "service_type": {"type": "string", "example": ""}, "service_id": {"type": "integer", "nullable": true, "example": null}, "location": {"type": "string", "example": "Delhi"}, "egress_ip": {"type": "string", "format": "ipv4", "example": "10.8.220.10"}, "myaccount_project_id": {"type": "integer", "example": 46594}, "vpc_details": {"type": "object", "properties": {"dns": {"type": "string", "example": "8.8.8.8 8.8.4.4"}, "name": {"type": "string", "example": "VPC-681"}, "price": {"type": "string", "example": "Rs. 4.8/Hour or Rs. 3500.0 Monthly"}, "state": {"type": "string", "example": "Active"}, "subnets": {"type": "array", "items": {"type": "object"}, "example": []}, "location": {"type": "string", "example": "Delhi"}, "vm_count": {"type": "integer", "example": 0}, "ipv4_cidr": {"type": "string", "example": "10.8.220.0/23"}, "is_active": {"type": "boolean", "example": true}, "pool_size": {"type": "integer", "example": 512}, "created_at": {"type": "string", "format": "date-time", "example": "2026-02-02T15:45:15.336925Z"}, "gateway_ip": {"type": "string", "format": "ipv4", "example": "10.8.220.1"}, "is_e2e_vpc": {"type": "boolean", "example": true}, "network_id": {"type": "integer", "example": 51117}, "gateway_node": {"type": "object", "properties": {"state": {"type": "string", "example": "Running"}, "node_id": {"type": "integer", "example": 292409}, "node_name": {"type": "string", "example": "VPC-681-gateway"}, "ip_address_public": {"type": "string", "format": "ipv4", "example": "164.52.211.67"}, "ip_address_private": {"type": "string", "format": "ipv4", "example": "10.8.220.1"}}}, "network_mask": {"type": "string", "example": "255.255.254.0"}, "project_name": {"type": "string", "example": "test"}, "committed_info": {"type": "object", "nullable": true, "example": null}, "committed_details": {"type": "array", "items": {"type": "object", "properties": {"committed_days": {"type": "integer", "example": 30}, "committed_sku_id": {"type": "integer", "example": 9798}, "committed_sku_name": {"type": "string", "example": "30 Days Committed , Rs. 3500.0"}, "committed_sku_price": {"type": "number", "example": 3500}, "committed_upto_date": {"type": "string", "example": "08-April-2026 04:54"}, "committed_node_message": {"type": "string", "example": "This committed node will be reserved for next 30 days ( till 08-April-2026 04:54). The cost Rs. 3500.0 of this node will be added in next invoice."}}}}}}, "connection_status": {"type": "string", "example": "Idle"}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/notebooks/{notebook_id}/vpc_ips/{reserve_ip_id}/": {"post": {"operationId": "post-notebooks-notebook-id-vpc-ips-reserve-ip-id", "summary": "Attach VPC IP to Notebook", "tags": ["Reserve IP"], "parameters": [{"name": "notebook_id", "in": "path", "required": true, "schema": {"type": "integer"}}, {"name": "reserve_ip_id", "in": "path", "required": true, "schema": {"type": "integer"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": false, "description": "Filter by location", "schema": {"type": "string", "example": "Delhi"}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID", "schema": {"type": "integer", "example": 6706}}], "responses": {"200": {"description": "VPC IP attached successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "string", "example": "VPC IP attach action scheduled successfully."}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}, "delete": {"operationId": "delete-notebooks-notebook-id-vpc-ips-reserve-ip-id", "summary": "Detach VPC IP from Notebook", "tags": ["Reserve IP"], "parameters": [{"name": "notebook_id", "in": "path", "required": true, "schema": {"type": "integer"}}, {"name": "reserve_ip_id", "in": "path", "required": true, "schema": {"type": "integer"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": false, "description": "Filter by location", "schema": {"type": "string", "example": "Delhi"}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID", "schema": {"type": "integer", "example": 6706}}], "responses": {"200": {"description": "VPC IP detached successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "string", "example": "VPC IP detach action scheduled successfully."}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/serving/inference/{inference_id}/vpc_ips/{reserve_ip_id}/": {"post": {"operationId": "post-serving-inference-inference-id-vpc-ips-reserve-ip-id", "summary": "Attach VPC IP to Inference", "tags": ["Reserve IP"], "parameters": [{"name": "inference_id", "in": "path", "required": true, "schema": {"type": "integer"}}, {"name": "reserve_ip_id", "in": "path", "required": true, "schema": {"type": "integer"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": false, "description": "Filter by location", "schema": {"type": "string", "example": "Delhi"}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID", "schema": {"type": "integer", "example": 6706}}], "responses": {"200": {"description": "VPC IP attached to inference service successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "string", "example": "VPC IP attach action scheduled successfully."}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}, "delete": {"operationId": "delete-serving-inference-inference-id-vpc-ips-reserve-ip-id", "summary": "Detach VPC IP from Inference", "tags": ["Reserve IP"], "parameters": [{"name": "inference_id", "in": "path", "required": true, "schema": {"type": "integer"}}, {"name": "reserve_ip_id", "in": "path", "required": true, "schema": {"type": "integer"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": false, "description": "Filter by location", "schema": {"type": "string", "example": "Delhi"}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID", "schema": {"type": "integer", "example": 6706}}], "responses": {"200": {"description": "VPC IP detached from inference service successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "string", "example": "VPC IP detach action scheduled successfully."}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/reserved_ips/private-ip/{reserve_ip_id}/": {"delete": {"operationId": "delete-reserved-ips-private-ip-reserve-ip-id", "summary": "Delete VPC IP", "tags": ["Reserve IP"], "parameters": [{"name": "reserve_ip_id", "in": "path", "required": true, "schema": {"type": "integer"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": false, "description": "Filter by location", "schema": {"type": "string", "example": "Delhi"}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID", "schema": {"type": "integer", "example": 6706}}], "responses": {"200": {"description": "VPC IP deleted successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"id": {"type": "integer", "example": 1403}, "ip_address": {"type": "string", "format": "ipv4", "example": "10.8.220.9"}, "service_name": {"type": "string", "example": ""}, "created_at": {"type": "string", "format": "date-time", "example": "2026-03-09T04:54:03.613008Z"}, "status": {"type": "string", "example": "Done"}, "reserved_by": {"type": "object", "properties": {"id": {"type": "integer", "example": 12477}, "name": {"type": "string", "example": "xyz"}, "email": {"type": "string", "format": "email", "example": "abc@e2enetworks.com"}, "username": {"type": "string", "example": "abc@e2enetworks.com"}}}, "service_type": {"type": "string", "example": ""}, "service_id": {"type": "integer", "nullable": true, "example": null}, "location": {"type": "string", "example": "Delhi"}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "IP 10.8.220.9 deleted successfully."}}}}}}}}}, "/security_groups/": {"get": {"operationId": "get-security-groups", "summary": "List Security Groups", "tags": ["Security Groups"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "List of security groups", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 17258}, "name": {"type": "string", "example": "tir-sg-260115154544"}, "description": {"type": "string", "example": ""}, "location": {"type": "string", "example": "Delhi"}, "is_ssh_security_group": {"type": "boolean", "example": false}, "is_active": {"type": "boolean", "example": true}, "created_by": {"type": "object", "properties": {"id": {"type": "integer", "example": 9266}, "name": {"type": "string", "example": "Sahil Verma"}, "email": {"type": "string", "example": "sahil+new@e2enetworks.com"}, "username": {"type": "string", "example": "sahil+new@e2enetworks.com"}}}, "attached_services": {"type": "object", "properties": {"notebook": {"type": "array", "items": {}}, "inference_service": {"type": "array", "items": {}}, "distributed_job": {"type": "array", "items": {}}}}, "is_ssh_port_enabled": {"type": "boolean", "example": false}, "inbound_rules_count": {"type": "integer", "example": 1}, "outbound_rules_count": {"type": "integer", "example": 1}, "created_at": {"type": "string", "format": "date-time", "example": "2026-01-15T10:19:10.925925Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2026-01-15T10:19:10.925942Z"}}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}, "total_page_number": {"type": "integer", "example": 1}, "total_count": {"type": "integer", "example": 1}}}}}}}}, "post": {"operationId": "post-security-groups", "summary": "Create Security Group", "tags": ["Security Groups"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "required": ["name", "rules"], "properties": {"name": {"type": "string", "description": "Name of the security group", "example": "tir-sg-26020516370"}, "description": {"type": "string", "description": "Description of the security group", "example": ""}, "rules": {"type": "array", "description": "List of inbound and outbound security rules", "items": {"type": "object", "required": ["rule_type", "protocol", "protocol_type", "network_type", "ports"], "properties": {"rule_type": {"type": "string", "description": "Direction of traffic", "enum": ["inbound", "outbound"], "example": "inbound"}, "protocol": {"type": "string", "description": "Network protocol", "enum": ["TCP", "UDP", "All"], "example": "TCP"}, "protocol_type": {"type": "string", "description": "Protocol category", "enum": ["CustomTCP", "CustomUDP", "AllTraffic"], "example": "CustomTCP"}, "network_type": {"type": "string", "description": "Source/Destination network type", "enum": ["any", "manual"], "example": "any"}, "ports": {"type": "array", "description": "List of ports for the rule", "items": {"type": "integer"}, "example": [22]}, "cidr_ip": {"type": "string", "nullable": true, "description": "CIDR IP address (required when network_type is manual)", "example": "1.1.1.1"}, "cidr_subnet": {"type": "integer", "nullable": true, "description": "CIDR subnet mask", "example": 32}, "description": {"type": "string", "description": "Rule description", "example": ""}}}}}}}}}, "responses": {"201": {"description": "Security group created successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 201}, "data": {"type": "object", "properties": {"id": {"type": "integer", "example": 19272}, "name": {"type": "string", "example": "tir-sg-260205155743"}, "description": {"type": "string", "example": ""}, "location": {"type": "string", "example": "Delhi"}, "rules": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 40689}, "rule_type": {"type": "string", "example": "inbound"}, "protocol_type": {"type": "string", "example": "CustomTCP"}, "protocol": {"type": "string", "example": "TCP"}, "ports": {"type": "array", "items": {"type": "integer"}, "example": [22]}, "cidr_ip": {"type": "string", "nullable": true, "example": null}, "cidr_subnet": {"type": "integer", "example": 32}, "description": {"type": "string", "example": ""}, "network_type": {"type": "string", "example": "any"}, "network_details": {"type": "object", "example": {}}, "my_account_project_id": {"type": "integer", "nullable": true, "example": null}, "my_account_location": {"type": "string", "nullable": true, "example": null}, "vpc_id": {"type": "integer", "nullable": true, "example": null}, "created_at": {"type": "string", "format": "date-time", "example": "2026-02-05T10:28:04.156794Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2026-02-05T10:28:04.156805Z"}}}}, "is_ssh_security_group": {"type": "boolean", "example": false}, "is_active": {"type": "boolean", "example": true}, "created_by": {"type": "object", "properties": {"id": {"type": "integer", "example": 9266}, "name": {"type": "string", "example": "Sahil Verma"}, "email": {"type": "string", "example": "sahil+new@e2enetworks.com"}, "username": {"type": "string", "example": "sahil+new@e2enetworks.com"}}}, "attached_services": {"type": "object", "properties": {"notebook": {"type": "array", "items": {}}, "inference_service": {"type": "array", "items": {}}, "distributed_job": {"type": "array", "items": {}}}}, "is_ssh_port_enabled": {"type": "boolean", "example": true}, "created_at": {"type": "string", "format": "date-time", "example": "2026-02-05T10:28:04.154448Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2026-02-05T10:28:04.154467Z"}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Created Successfully"}}}}}}}}}, "/security_groups/{security_group_id}/": {"put": {"operationId": "put-security-groups-security-group-id", "summary": "Update Sg Name and Description", "tags": ["Security Groups"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "security_group_id", "in": "path", "required": true, "description": "Security Group ID", "schema": {"type": "integer", "minimum": 0}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "required": ["name"], "properties": {"name": {"type": "string", "description": "Updated name of the security group", "example": "tir-sg-test-1"}, "description": {"type": "string", "description": "Updated description of the security group", "example": "testing"}}}}}}, "responses": {"200": {"description": "Security group name and description updated successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"id": {"type": "integer", "example": 22283}, "name": {"type": "string", "example": "tir-sg-test-1"}, "description": {"type": "string", "example": "testing"}, "location": {"type": "string", "example": "Delhi"}, "is_ssh_security_group": {"type": "boolean", "example": false}, "is_active": {"type": "boolean", "example": true}, "created_by": {"type": "object", "properties": {"id": {"type": "integer", "example": 4947}, "name": {"type": "string", "example": "xyz"}, "email": {"type": "string", "example": "abc@e2enetworks.com"}, "username": {"type": "string", "example": "abc@e2enetworks.com"}}}, "attached_services": {"type": "object", "properties": {"notebook": {"type": "array", "items": {}}, "inference_service": {"type": "array", "items": {}}, "distributed_job": {"type": "array", "items": {}}}}, "is_ssh_port_enabled": {"type": "boolean", "example": false}, "created_at": {"type": "string", "format": "date-time", "example": "2026-03-09T05:00:00.000000Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2026-03-09T05:10:00.000000Z"}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/security_groups/{security_group_id}/rules/": {"put": {"operationId": "put-security-groups-security-group-id-rules", "summary": "Update Security Group Rules", "tags": ["Security Groups"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "security_group_id", "in": "path", "required": true, "description": "Security Group ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "array", "description": "List of security group rules to update or create", "items": {"type": "object", "required": ["rule_type", "protocol", "protocol_type", "network_type", "ports"], "properties": {"id": {"type": "integer", "nullable": true, "description": "Existing rule ID (omit for new rules)", "example": 40729}, "rule_type": {"type": "string", "enum": ["inbound", "outbound"], "example": "inbound"}, "protocol": {"type": "string", "enum": ["TCP", "UDP", "All"], "example": "TCP"}, "protocol_type": {"type": "string", "enum": ["CustomTCP", "CustomUDP", "AllTraffic"], "example": "CustomTCP"}, "network_type": {"type": "string", "enum": ["any", "manual"], "example": "any"}, "ports": {"type": "array", "items": {"type": "integer"}, "example": [22]}, "cidr_ip": {"type": "string", "nullable": true, "description": "CIDR IP (required when network_type is manual)", "example": "1.1.1.1"}, "cidr_subnet": {"type": "integer", "nullable": true, "example": 32}, "description": {"type": "string", "example": ""}, "isNew": {"type": "boolean", "nullable": true, "description": "Indicates a newly added rule", "example": true}}}}}}}, "responses": {"200": {"description": "Security group fetched successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"id": {"type": "integer", "example": 19293}, "name": {"type": "string", "example": "tir-sg-26020516370"}, "description": {"type": "string", "example": ""}, "location": {"type": "string", "example": "Delhi"}, "rules": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 40737}, "rule_type": {"type": "string", "example": "inbound"}, "protocol_type": {"type": "string", "example": "CustomUDP"}, "protocol": {"type": "string", "example": "UDP"}, "ports": {"type": "array", "items": {"type": "integer"}, "example": [2000]}, "cidr_ip": {"type": "string", "nullable": true, "example": null}, "cidr_subnet": {"type": "integer", "example": 32}, "description": {"type": "string", "example": ""}, "network_type": {"type": "string", "example": "any"}, "network_details": {"type": "object", "example": {}}, "my_account_project_id": {"type": "integer", "nullable": true, "example": null}, "my_account_location": {"type": "string", "nullable": true, "example": null}, "vpc_id": {"type": "integer", "nullable": true, "example": null}, "created_at": {"type": "string", "format": "date-time", "example": "2026-02-05T11:13:04.204445Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2026-02-05T11:13:04.204461Z"}}}}, "is_ssh_security_group": {"type": "boolean", "example": false}, "is_active": {"type": "boolean", "example": true}, "created_by": {"type": "object", "properties": {"id": {"type": "integer", "example": 9266}, "name": {"type": "string", "example": "Sahil Verma"}, "email": {"type": "string", "example": "sahil+new@e2enetworks.com"}, "username": {"type": "string", "example": "sahil+new@e2enetworks.com"}}}, "attached_services": {"type": "object", "properties": {"notebook": {"type": "array", "items": {}}, "inference_service": {"type": "array", "items": {}}, "distributed_job": {"type": "array", "items": {}}}}, "is_ssh_port_enabled": {"type": "boolean", "example": true}, "created_at": {"type": "string", "format": "date-time", "example": "2026-02-05T11:08:08.327727Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2026-02-05T11:08:08.327751Z"}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}, "delete": {"operationId": "delete-security-groups-security-group-id-rules", "summary": "Delete Security Group", "tags": ["Security Groups"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "security_group_id", "in": "path", "required": true, "description": "Security Group ID", "schema": {"type": "integer", "minimum": 0}}], "responses": {"200": {"description": "Security group deleted successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "string", "example": "Security Group deleted successfully"}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/auth-token/": {"get": {"operationId": "get-auth-token", "summary": "List API Tokens", "tags": ["Security"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}], "responses": {"200": {"description": "List of API tokens", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 2833}, "token_name": {"type": "string", "example": "new-token22"}, "api_key": {"type": "string", "format": "uuid", "example": "d2f41f70-917c-4b24-9f3c-de7a4bbec386"}, "auth_token": {"type": "string", "example": "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9..."}, "created_at": {"type": "string", "example": "1 Months ago"}, "expiry": {"type": "string", "format": "date", "example": "2027-02-11"}}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}, "post": {"operationId": "post-auth-token", "summary": "Create API Token", "tags": ["Security"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "required": ["token_name"], "properties": {"token_name": {"type": "string", "example": "tir-token-260320155516"}}}}}, "required": true}, "responses": {"201": {"description": "API token created successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 201}, "data": {"type": "object", "properties": {"id": {"type": "integer", "example": 2977}, "token_name": {"type": "string", "example": "tir-token-260320153924"}, "api_key": {"type": "string", "format": "uuid", "example": "73d830cd-5fd6-4543-8a9d-8a9c400d3d77"}, "auth_token": {"type": "string", "example": "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9..."}, "created_at": {"type": "string", "example": "0 Day ago"}, "expiry": {"type": "string", "format": "date", "example": "2027-03-20"}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Created Successfully"}}}}}}}}}, "/auth-token/{token_id}/": {"delete": {"operationId": "delete-auth-token-token-id", "summary": "Delete API Token", "tags": ["Security"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "token_id", "in": "path", "required": true, "description": "API Token ID", "schema": {"type": "integer", "example": 2977}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}], "responses": {"200": {"description": "API token deleted successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "string", "example": "tir-token-260320153924 - Deleted Successfully"}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/ssh_keys/": {"get": {"operationId": "get-ssh-keys", "summary": "List SSH Keys", "tags": ["Security"], "parameters": [{"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}], "responses": {"200": {"description": "List of SSH keys", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"pk": {"type": "integer", "example": 2589}, "label": {"type": "string", "example": "ssh_key_name"}, "ssh_key": {"type": "string", "example": "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx user@hostname"}, "timestamp": {"type": "string", "example": "20-Mar-2026"}}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}, "post": {"operationId": "post-ssh-keys", "summary": "Add SSH Key", "tags": ["Security"], "parameters": [{"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "required": ["label", "ssh_key"], "properties": {"label": {"type": "string", "example": "ssh_key_name"}, "ssh_key": {"type": "string", "example": "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx user@hostname"}}}}}, "required": true}, "responses": {"200": {"description": "SSH key added successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"label": {"type": "string", "example": "ssh_key_name"}, "ssh_key": {"type": "string", "example": "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx user@hostname"}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Your SSH Key has been added"}}}}}}}}}, "/ssh_keys/{ssh_key_id}/": {"delete": {"operationId": "delete-ssh-keys-ssh-key-id", "summary": "Delete SSH Key", "tags": ["Security"], "parameters": [{"name": "ssh_key_id", "in": "path", "required": true, "description": "SSH Key ID", "schema": {"type": "integer", "example": 2590}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}], "responses": {"200": {"description": "SSH key deleted successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "string", "example": "SSH Key has been deleted successfully."}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/gateway/": {"get": {"operationId": "list-gateways", "summary": "List Gateways", "tags": ["Gateway"], "description": "Returns a list of all gateways in the project.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}], "responses": {"200": {"description": "List of gateways in the project.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "description": "Unique gateway ID.", "example": 12}, "name": {"type": "string", "description": "Gateway name.", "example": "my-ai-gateway"}, "description": {"type": "string", "nullable": true, "description": "Gateway description.", "example": "Production gateway for LLM routing"}, "domain": {"type": "string", "description": "Auto-generated domain assigned to the gateway.", "example": "gw-12-abc123.e2enetworks.net"}, "public_ip": {"type": "string", "nullable": true, "description": "Public IP address of the gateway.", "example": "203.0.113.10"}, "environment": {"type": "string", "nullable": true, "description": "Environment tag.", "example": "production"}, "status": {"type": "string", "description": "Current gateway status.", "enum": ["Initializing", "Running", "Stopped", "Failed", "Done"], "example": "Running"}, "created_by": {"type": "object", "description": "User who created the gateway.", "properties": {"id": {"type": "integer", "example": 101}, "name": {"type": "string", "example": "John Doe"}, "email": {"type": "string", "example": "user@example.com"}, "username": {"type": "string", "example": "user@example.com"}}}, "created_at": {"type": "string", "format": "date-time", "example": "2024-01-15T10:30:00Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2024-01-15T10:30:00Z"}, "rules": {"type": "array", "description": "Active routing rules attached to this gateway.", "items": {"type": "object", "properties": {"matches": {"type": "object", "properties": {"http": {"type": "array", "items": {"type": "object", "properties": {"path": {"type": "object", "properties": {"type": {"type": "string", "example": "PathPrefix"}, "value": {"type": "string", "example": "/v1/chat"}}}, "headers": {"type": "array", "items": {"type": "object", "properties": {"name": {"type": "string", "example": "x-model"}, "type": {"type": "string", "example": "Exact"}, "value": {"type": "string", "example": "llama"}}}}}}}, "grpc": {"type": "array", "items": {"type": "object", "properties": {"headers": {"type": "array", "items": {"type": "object", "properties": {"name": {"type": "string", "example": "x-model"}, "type": {"type": "string", "example": "Exact"}, "value": {"type": "string", "example": "llama"}}}}}}}}}, "backendRefs": {"type": "object", "description": "Backend inference endpoints this rule routes to.", "properties": {"http": {"type": "array", "items": {"type": "object", "properties": {"kind": {"type": "string", "example": "Service"}, "name": {"type": "string", "example": "is-3036"}, "port": {"type": "integer", "example": 80}, "weight": {"type": "integer", "example": 100}}}}, "grpc": {"type": "array", "items": {"type": "object", "properties": {"kind": {"type": "string", "example": "Service"}, "name": {"type": "string", "example": "is-3036"}, "port": {"type": "integer", "example": 9000}, "weight": {"type": "integer", "example": 100}}}}}}}}}}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}, "post": {"operationId": "create-gateway", "summary": "Create Gateway", "tags": ["Gateway"], "description": "Creates a new AI gateway. The gateway receives a unique domain upon creation.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "required": ["name"], "properties": {"name": {"type": "string", "description": "Name of the gateway. Must be unique within the project.", "example": "my-ai-gateway"}, "description": {"type": "string", "nullable": true, "description": "Optional description for the gateway.", "example": "Production gateway for LLM routing"}, "environment": {"type": "string", "nullable": true, "description": "Optional environment tag.", "example": "production"}}}}}, "required": true}, "responses": {"201": {"description": "Gateway created successfully. Use the Get Gateway Details endpoint to fetch `domain`, `status`, and `rules`.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 201}, "data": {"type": "object", "properties": {"id": {"type": "integer", "description": "Unique gateway ID.", "example": 12}, "name": {"type": "string", "description": "Gateway name.", "example": "my-ai-gateway"}, "description": {"type": "string", "nullable": true, "description": "Gateway description.", "example": "Production gateway for LLM routing"}, "environment": {"type": "string", "nullable": true, "description": "Environment tag.", "example": "production"}, "created_by": {"type": "object", "description": "User who created the gateway.", "properties": {"id": {"type": "integer", "example": 101}, "name": {"type": "string", "example": "John Doe"}, "email": {"type": "string", "example": "user@example.com"}, "username": {"type": "string", "example": "user@example.com"}}}, "created_at": {"type": "string", "format": "date-time", "example": "2024-01-15T10:30:00Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2024-01-15T10:30:00Z"}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Created Successfully"}}}}}}}}}, "/gateway/count/": {"get": {"operationId": "gateway-count", "summary": "Gateway Count", "tags": ["Gateway"], "description": "Returns the total number of gateways in the project.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}], "responses": {"200": {"description": "Total number of gateways in the project.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"total": {"type": "integer", "description": "Total number of gateways.", "example": 3}, "running": {"type": "integer", "description": "Number of gateways currently running.", "example": 1}, "stopped": {"type": "integer", "description": "Number of gateways currently stopped.", "example": 0}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/gateway/metrics_list/": {"get": {"operationId": "gateway-metrics-list", "summary": "List Available Metrics", "tags": ["Gateway"], "description": "Returns all metric names available for gateway monitoring. Use these names with the **Gateway Metric Data** endpoint.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}], "responses": {"200": {"description": "List of available metrics for gateway monitoring.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"metric_key": {"type": "string", "description": "Key used to query this metric via the Metric Data endpoint.", "example": "request_count"}, "metric_name": {"type": "string", "description": "Display name of the metric.", "example": "Request Count (QPS)"}, "description": {"type": "string", "description": "What the metric measures.", "example": "Total requests per second handled by the gateway"}}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/gateway/{gateway_id}/": {"get": {"operationId": "get-gateway-detail", "summary": "Gateway Details", "tags": ["Gateway"], "description": "Returns the full details of a specific gateway including its active routing rules.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "gateway_id", "in": "path", "required": true, "description": "Gateway ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}], "responses": {"200": {"description": "Gateway details.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"id": {"type": "integer", "example": 12}, "name": {"type": "string", "example": "my-ai-gateway"}, "description": {"type": "string", "nullable": true, "example": "Production gateway for LLM routing"}, "domain": {"type": "string", "example": "gw-12-abc123.e2enetworks.net"}, "public_ip": {"type": "string", "nullable": true, "example": "203.0.113.10"}, "environment": {"type": "string", "nullable": true, "example": "production"}, "status": {"type": "string", "enum": ["Initializing", "Running", "Stopped", "Failed", "Done"], "example": "Running"}, "created_by": {"type": "object", "properties": {"id": {"type": "integer", "example": 101}, "name": {"type": "string", "example": "John Doe"}, "email": {"type": "string", "example": "user@example.com"}, "username": {"type": "string", "example": "user@example.com"}}}, "created_at": {"type": "string", "format": "date-time", "example": "2024-01-15T10:30:00Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2024-01-15T10:30:00Z"}, "rules": {"type": "array", "items": {"type": "object", "properties": {"matches": {"type": "object", "properties": {"http": {"type": "array", "items": {"type": "object", "properties": {"path": {"type": "object", "properties": {"type": {"type": "string", "example": "PathPrefix"}, "value": {"type": "string", "example": "/v1/chat"}}}, "headers": {"type": "array", "items": {"type": "object", "properties": {"name": {"type": "string", "example": "x-model"}, "type": {"type": "string", "example": "Exact"}, "value": {"type": "string", "example": "llama"}}}}}}}, "grpc": {"type": "array", "items": {"type": "object", "properties": {"headers": {"type": "array", "items": {"type": "object", "properties": {"name": {"type": "string", "example": "x-model"}, "type": {"type": "string", "example": "Exact"}, "value": {"type": "string", "example": "llama"}}}}}}}}}, "backendRefs": {"type": "object", "properties": {"http": {"type": "array", "items": {"type": "object", "properties": {"kind": {"type": "string", "example": "Service"}, "name": {"type": "string", "example": "is-3036"}, "port": {"type": "integer", "example": 80}, "weight": {"type": "integer", "example": 100}}}}, "grpc": {"type": "array", "items": {"type": "object", "properties": {"kind": {"type": "string", "example": "Service"}, "name": {"type": "string", "example": "is-3036"}, "port": {"type": "integer", "example": 9000}, "weight": {"type": "integer", "example": 100}}}}}}}}}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}, "put": {"operationId": "update-gateway", "summary": "Update Gateway", "tags": ["Gateway"], "description": "Updates gateway configuration fields (name, description, environment).", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "gateway_id", "in": "path", "required": true, "description": "Gateway ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"name": {"type": "string", "description": "Updated gateway name.", "example": "updated-gateway"}, "description": {"type": "string", "nullable": true, "description": "Updated description.", "example": "Updated description"}, "environment": {"type": "string", "nullable": true, "description": "Updated environment tag.", "example": "staging"}}}}}, "required": true}, "responses": {"200": {"description": "Gateway updated successfully.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"id": {"type": "integer", "example": 12}, "name": {"type": "string", "example": "updated-gateway"}, "description": {"type": "string", "nullable": true, "example": "Updated description"}, "environment": {"type": "string", "nullable": true, "example": "staging"}, "created_by": {"type": "object", "properties": {"id": {"type": "integer", "example": 101}, "name": {"type": "string", "example": "John Doe"}, "email": {"type": "string", "example": "user@example.com"}, "username": {"type": "string", "example": "user@example.com"}}}, "created_at": {"type": "string", "format": "date-time", "example": "2024-01-15T10:30:00Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2024-01-15T10:30:00Z"}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}, "delete": {"operationId": "delete-gateway", "summary": "Delete Gateway", "tags": ["Gateway"], "description": "Permanently deletes a gateway and all associated routing rules.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "gateway_id", "in": "path", "required": true, "description": "Gateway ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}], "responses": {"200": {"description": "Deleted successfully.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"deleted": {"type": "boolean", "example": true}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/gateway/{gateway_id}/logs/": {"get": {"operationId": "get-gateway-logs", "summary": "Gateway Logs", "tags": ["Gateway"], "description": "Returns recent log output from the gateway. Use `last_n_lines` or `last_n_seconds` to scope the result.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "gateway_id", "in": "path", "required": true, "description": "Gateway ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "last_n_lines", "in": "query", "required": false, "description": "Number of most recent log lines to return.", "schema": {"type": "integer", "example": 100}}, {"name": "last_n_seconds", "in": "query", "required": false, "description": "Return logs from the last N seconds.", "schema": {"type": "integer", "example": 300}}], "responses": {"200": {"description": "Gateway log output.", "content": {"application/json": {"schema": {"type": "object", "properties": {"status": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"logs": {"type": "array", "description": "Log lines from the gateway.", "items": {"type": "string"}, "example": []}}}, "errors": {"type": "object", "example": {}}, "log": {"type": "string", "example": "Success"}, "success": {"type": "boolean", "example": true}}}}}}}}}, "/gateway/{gateway_id}/metrics_summary/": {"get": {"operationId": "get-gateway-metrics-summary", "summary": "Metrics Summary", "tags": ["Gateway"], "description": "Returns an aggregated summary of all metrics for the gateway over the given interval.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "gateway_id", "in": "path", "required": true, "description": "Gateway ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "interval", "in": "query", "required": false, "description": "Time window for metric aggregation.", "schema": {"type": "string", "default": "5m", "enum": ["5m", "1h", "1d", "7d"], "example": "5m"}}], "responses": {"200": {"description": "Aggregated metrics summary for the gateway.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "additionalProperties": {"type": "object", "properties": {"metric_name": {"type": "string", "description": "Display name of the metric.", "example": "Request Count (QPS)"}, "description": {"type": "string", "description": "What the metric measures.", "example": "Total requests per second handled by the gateway"}, "current_value": {"type": "string", "description": "Current value of the metric.", "example": "0.00"}, "unit": {"type": "string", "description": "Unit of measurement.", "example": "req/s"}}}, "example": {"request_count": {"metric_name": "Request Count (QPS)", "description": "Total requests per second handled by the gateway", "current_value": "0.00", "unit": "req/s"}, "latency_p50": {"metric_name": "Latency P50", "description": "Median request latency (milliseconds)", "current_value": "0.00", "unit": "ms"}, "latency_p90": {"metric_name": "Latency P90", "description": "90th percentile request latency (milliseconds)", "current_value": "0.00", "unit": "ms"}, "latency_p99": {"metric_name": "Latency P99", "description": "99th percentile request latency (milliseconds)", "current_value": "0.00", "unit": "ms"}, "error_rate": {"metric_name": "Error Rate", "description": "Percentage of 4xx and 5xx responses to total requests", "current_value": "0.00", "unit": "%"}, "success_rate": {"metric_name": "Success Rate", "description": "Percentage of 2xx responses out of total requests", "current_value": "0.00", "unit": "%"}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/gateway/{gateway_id}/metrics/{metric_name}/": {"get": {"operationId": "get-gateway-metric", "summary": "Gateway Metric Data", "tags": ["Gateway"], "description": "Returns time-series monitoring data for a specific metric. Use the **List Available Metrics** endpoint to get valid metric names.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "gateway_id", "in": "path", "required": true, "description": "Gateway ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "metric_name", "in": "path", "required": true, "description": "Name of the metric to retrieve. Get valid names from the **List Available Metrics** endpoint.", "schema": {"type": "string", "example": "request_rate"}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "interval", "in": "query", "required": false, "description": "Time window for metric aggregation.", "schema": {"type": "string", "default": "5m", "enum": ["5m", "1h", "1d", "7d"], "example": "5m"}}], "responses": {"200": {"description": "Time-series data for the requested metric.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"time_series": {"type": "array", "description": "Timestamps for each data point.", "items": {"type": "string", "format": "date-time"}, "example": []}, "value_series": {"type": "array", "description": "Metric values corresponding to each timestamp.", "items": {"type": "number"}, "example": []}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/gateway/{gateway_id}/{action_type}/": {"put": {"operationId": "gateway-action", "summary": "Gateway Actions (Start / Stop)", "tags": ["Gateway"], "description": "Perform a lifecycle action on a gateway.\n\n| `action_type` | Purpose |\n|---|---|\n| `start` | Start a stopped gateway |\n| `stop` | Stop a running gateway |\n", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "gateway_id", "in": "path", "required": true, "description": "Gateway ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "action_type", "in": "path", "required": true, "description": "Action to perform on the gateway.", "schema": {"type": "string", "enum": ["start", "stop"]}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "description": "No request body required for `start` or `stop`."}}}}, "responses": {"200": {"description": "Action performed successfully on the gateway.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"action": {"type": "string", "description": "The action that was performed.", "example": "stop"}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/gateway/{gateway_id}/rules/": {"get": {"operationId": "list-gateway-rules", "summary": "List Rules", "tags": ["Gateway"], "description": "Returns all routing rules attached to the gateway.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "gateway_id", "in": "path", "required": true, "description": "Gateway ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}], "responses": {"200": {"description": "List of routing rules for the gateway.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "example": [{"id": 1, "route_name": "weight-route", "routing_strategy": "Weight-Based", "rules": {"path": "/v1/chat", "endpoints": [{"id": 3036, "weight": 100}]}, "status": "Active", "created_by": {"id": 101, "name": "John Doe", "email": "user@example.com", "username": "user@example.com"}, "created_at": "2024-01-15T10:30:00Z", "updated_at": "2024-01-15T10:30:00Z"}, {"id": 2, "route_name": "prefix-route", "routing_strategy": "Prefix-Based", "rules": {"path": "/v1/chat", "endpoints": [{"id": 3036, "weight": 100}]}, "status": "Active", "created_by": {"id": 101, "name": "John Doe", "email": "user@example.com", "username": "user@example.com"}, "created_at": "2024-01-15T10:30:00Z", "updated_at": "2024-01-15T10:30:00Z"}, {"id": 3, "route_name": "header-route", "routing_strategy": "Header-Based", "rules": {"path": "/v1/chat", "headers": [{"key": "x-model", "type": "Exact", "value": "llama"}], "endpoints": [{"id": 3036, "weight": 100}]}, "status": "Active", "created_by": {"id": 101, "name": "John Doe", "email": "user@example.com", "username": "user@example.com"}, "created_at": "2024-01-15T10:30:00Z", "updated_at": "2024-01-15T10:30:00Z"}, {"id": 4, "route_name": "path-route", "routing_strategy": "Path-Based", "rules": {"path": "/v1/chat", "endpoints": [{"id": 3036, "weight": 100}]}, "status": "Active", "created_by": {"id": 101, "name": "John Doe", "email": "user@example.com", "username": "user@example.com"}, "created_at": "2024-01-15T10:30:00Z", "updated_at": "2024-01-15T10:30:00Z"}], "items": {"type": "object", "properties": {"id": {"type": "integer", "description": "Rule ID.", "example": 5}, "route_name": {"type": "string", "description": "Rule name.", "example": "llama-route"}, "routing_strategy": {"type": "string", "enum": ["Weight-Based", "Prefix-Based", "Header-Based", "Path-Based"]}, "rules": {"type": "object", "nullable": true, "description": "Routing configuration. `headers` is only present for `Header-Based` strategy.", "properties": {"path": {"type": "string", "nullable": true, "example": "/v1/chat"}, "headers": {"type": "array", "nullable": true, "description": "Only present for `Header-Based` routing strategy.", "items": {"type": "object", "properties": {"key": {"type": "string", "example": "x-model"}, "type": {"type": "string", "example": "Exact"}, "value": {"type": "string", "example": "llama"}}}}, "endpoints": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 3036}, "weight": {"type": "integer", "example": 100}}}}}}, "status": {"type": "string", "enum": ["Active", "Inactive"], "example": "Active"}, "created_by": {"type": "object", "properties": {"id": {"type": "integer", "example": 101}, "name": {"type": "string", "example": "John Doe"}, "email": {"type": "string", "example": "user@example.com"}, "username": {"type": "string", "example": "user@example.com"}}}, "created_at": {"type": "string", "format": "date-time", "example": "2024-01-15T10:30:00Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2024-01-15T10:30:00Z"}}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}, "post": {"operationId": "create-gateway-rule", "summary": "Create Rule", "tags": ["Gateway"], "description": "Adds a new routing rule to the gateway.\n\n| `routing_strategy` | Behaviour |\n|---|---|\n| `Weight-Based` | Distributes traffic according to the `weight` assigned to each endpoint. |\n| `Prefix-Based` | Routes requests by URL path prefix. All referenced endpoints must be in `READY` status. |\n| `Header-Based` | Routes requests by matching HTTP request headers. |\n| `Path-Based` | Routes requests by matching the full URL path. |\n", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "gateway_id", "in": "path", "required": true, "description": "Gateway ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "required": ["route_name", "routing_strategy"], "properties": {"route_name": {"type": "string", "description": "Name of the routing rule. Must be unique within the gateway.", "example": "llama-route"}, "routing_strategy": {"type": "string", "description": "Traffic routing strategy.\n- `Weight-Based` \u2014 distributes traffic by weight across endpoints.\n- `Prefix-Based` \u2014 routes by URL path prefix. All referenced endpoints must be in `READY` status.\n- `Header-Based` \u2014 routes by matching HTTP request headers.\n- `Path-Based` \u2014 routes by matching the full URL path.\n", "enum": ["Weight-Based", "Prefix-Based", "Header-Based", "Path-Based"]}, "status": {"type": "string", "description": "Initial status of the rule.", "enum": ["Active", "Inactive"], "default": "Active", "example": "Active"}, "rules": {"type": "object", "nullable": true, "description": "Routing configuration.", "properties": {"path": {"type": "string", "nullable": true, "description": "URL path to match (used in `Prefix-Based` and `Path-Based`).", "example": "/v1/chat"}, "headers": {"type": "array", "nullable": true, "description": "HTTP headers to match (used in `Header-Based`).", "items": {"type": "object", "properties": {"key": {"type": "string", "example": "x-model"}, "type": {"type": "string", "example": "Exact"}, "value": {"type": "string", "example": "llama"}}}}, "endpoints": {"type": "array", "description": "List of inference endpoints to route traffic to. Retrieve available endpoint IDs from the [Model Endpoints List](/operations/list-model-endpoints) API (`GET /teams/{Team_Id}/projects/{Project_Id}/serving/inference/`).", "items": {"type": "object", "properties": {"id": {"type": "integer", "description": "ID of the inference endpoint. Obtain this from the [Model Endpoints List](/operations/list-model-endpoints) API (`GET /teams/{Team_Id}/projects/{Project_Id}/serving/inference/`).", "example": 3036}, "weight": {"type": "integer", "description": "Traffic weight for this endpoint."}}}, "example": [{"id": 3036, "weight": 70}, {"id": 3035, "weight": 20}, {"id": 3037, "weight": 10}]}}}}}}}, "required": true}, "responses": {"200": {"description": "Routing rule details.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"id": {"type": "integer", "example": 5}, "route_name": {"type": "string", "example": "llama-route"}, "routing_strategy": {"type": "string", "enum": ["Weight-Based", "Prefix-Based", "Header-Based", "Path-Based"], "example": "Weight-Based"}, "rules": {"type": "object", "nullable": true, "properties": {"path": {"type": "string", "nullable": true, "example": "/v1/chat"}, "headers": {"type": "array", "nullable": true, "items": {"type": "object", "properties": {"key": {"type": "string", "example": "x-model"}, "type": {"type": "string", "example": "Exact"}, "value": {"type": "string", "example": "llama"}}}}, "endpoints": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 3036}, "weight": {"type": "integer", "example": 100}}}}}}, "status": {"type": "string", "enum": ["Active", "Inactive"], "example": "Active"}, "created_by": {"type": "object", "properties": {"id": {"type": "integer", "example": 101}, "name": {"type": "string", "example": "John Doe"}, "email": {"type": "string", "example": "user@example.com"}, "username": {"type": "string", "example": "user@example.com"}}}, "created_at": {"type": "string", "format": "date-time", "example": "2024-01-15T10:30:00Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2024-01-15T10:30:00Z"}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/gateway/{gateway_id}/rules/{rule_id}/": {"get": {"operationId": "get-gateway-rule", "summary": "Rule Details", "tags": ["Gateway"], "description": "Returns the full configuration of a specific routing rule.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "gateway_id", "in": "path", "required": true, "description": "Gateway ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "rule_id", "in": "path", "required": true, "description": "Rule ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}], "responses": {"default": {"description": "Successful response"}}}, "put": {"operationId": "update-gateway-rule", "summary": "Update Rule", "tags": ["Gateway"], "description": "Updates a routing rule's name, strategy, or match configuration.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "gateway_id", "in": "path", "required": true, "description": "Gateway ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "rule_id", "in": "path", "required": true, "description": "Rule ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"route_name": {"type": "string", "description": "Updated rule name.", "example": "updated-route"}, "routing_strategy": {"type": "string", "description": "Updated routing strategy.", "enum": ["Weight-Based", "Prefix-Based", "Header-Based", "Path-Based"]}, "status": {"type": "string", "description": "Updated rule status.", "enum": ["Active", "Inactive"]}, "rules": {"type": "object", "nullable": true, "description": "Updated routing configuration.", "properties": {"path": {"type": "string", "nullable": true, "example": "/v1/chat"}, "headers": {"type": "array", "nullable": true, "items": {"type": "object", "properties": {"key": {"type": "string", "example": "x-model"}, "type": {"type": "string", "example": "Exact"}, "value": {"type": "string", "example": "llama"}}}}, "endpoints": {"type": "array", "description": "List of inference endpoints to route traffic to. Retrieve available endpoint IDs from the [Model Endpoints List](/operations/list-model-endpoints) API (`GET /teams/{Team_Id}/projects/{Project_Id}/serving/inference/`).", "items": {"type": "object", "properties": {"id": {"type": "integer", "description": "ID of the inference endpoint. Obtain this from the [Model Endpoints List](/operations/list-model-endpoints) API (`GET /teams/{Team_Id}/projects/{Project_Id}/serving/inference/`).", "example": 3036}, "weight": {"type": "integer", "example": 100}}}}}}}}}}, "required": true}, "responses": {"default": {"description": "Successful response"}}}, "delete": {"operationId": "delete-gateway-rule", "summary": "Delete Rule", "tags": ["Gateway"], "description": "Removes a routing rule from the gateway.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "gateway_id", "in": "path", "required": true, "description": "Gateway ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "rule_id", "in": "path", "required": true, "description": "Rule ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}], "responses": {"default": {"description": "Successful response"}}}}}}