{"openapi": "3.0.3", "info": {"title": "MyAccount API - rds", "description": "", "version": "1.0.0"}, "servers": [{"url": "https://api.e2enetworks.com/myaccount"}], "paths": {"/api/v1/rds/plans/": {"get": {"operationId": "get-rds-plans", "summary": "Get DBaaS Plans", "tags": ["DBaaS"], "description": "\nChoose a valid combination of query parameters from the tables below\n\n##### All DBaaS Plans\n\n| DBaaS Name        | Software ID|  \n|------------------ |------------|  \n| MariaDB    10.4   |       1    |  \n| MariaDB    10.6   |       11   | \n| MariaDB    10.11  |       12   |  \n| MySQL      5.6    |       2    |  \n| MySQL      5.7    |       3    |  \n| MySQL      8.0    |       4    |  \n| PostgreSQL 12.0   |       5    | \n| PostgreSQL 11.0   |       6    |  \n| PostgreSQL 13.0   |       8    |  \n| PostgreSQL 14.0   |       9    |  \n| PostgreSQL 15.0   |       10   |\n| MongoDB    6.0    |       14   |  \n| Valkey     7.5    |       16   |  \n| kafka      3.6    |       17   |  \n| OpenSearch 2.18.0 |       18   |", "parameters": [{"name": "software_id", "in": "query", "required": true, "description": "software_id", "schema": {"type": "integer"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer"}, "data": {"type": "object", "properties": {"template_plans": {"type": "array", "items": {"type": "object"}}, "database_engines": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 1}, "name": {"type": "string", "example": "MariaDB"}, "version": {"type": "string", "example": "10.4"}, "engine": {"type": "string", "example": "MariaDB"}, "description": {"type": "string", "nullable": true, "example": null}}}}}}, "errors": {"type": "object"}, "message": {"type": "string"}}}}}}}}}, "/api/v1/rds/cluster/": {"get": {"operationId": "get-rds-cluster", "summary": "DBaaS List", "tags": ["DBaaS"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "A list of database instances.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 5267}, "name": {"type": "string", "example": "E2E-DBaaS-26322-1577"}, "status": {"type": "string", "enum": ["CREATING", "CREATED", "DELETING", "FAILED"], "example": "CREATING"}, "status_title": {"type": "string", "example": "Creating"}, "num_instances": {"type": "integer", "example": 1}, "software": {"type": "object", "properties": {"name": {"type": "string", "example": "MySQL"}, "version": {"type": "string", "example": "8.0"}, "engine": {"type": "string", "example": "Innodb"}}}, "master_node": {"type": "object", "properties": {"node_name": {"type": "string", "example": "E2E-DBaaS-26322-1577-Node-1"}, "instance_id": {"type": "integer", "example": 10624}, "cluster_id": {"type": "integer", "example": 5267}, "node_id": {"type": "integer", "example": 213545}, "vm_id": {"type": "integer", "example": 228350}, "port": {"type": "string", "example": "3306"}, "public_ip_address": {"type": "string", "example": "164.52.210.66"}, "private_ip_address": {"type": "string", "example": "10.17.10.7"}, "allowed_ip_address": {"type": "object", "properties": {"whitelisted_ips": {"type": "array", "items": {"type": "string"}}, "temp_ips": {"type": "array", "items": {"type": "string"}}, "whitelisted_ips_tags": {"type": "array", "items": {"type": "string"}}, "temp_ips_tags": {"type": "array", "items": {"type": "string"}}, "whitelisting_in_progress": {"type": "boolean", "example": false}}}, "zabbix_host_id": {"type": "string", "nullable": true, "example": null}, "database": {"type": "object", "properties": {"id": {"type": "integer", "example": 5267}, "username": {"type": "string", "example": "admin"}, "database": {"type": "string", "example": "DB-26322-1577"}, "pg_detail": {"type": "object", "additionalProperties": true}}}, "ram": {"type": "string", "example": "16 GB"}, "cpu": {"type": "string", "example": "4"}, "disk": {"type": "string", "example": "200 GB"}, "status": {"type": "string", "example": "Creating"}, "db_status": {"type": "string", "example": "Creating"}, "created_at": {"type": "string", "format": "date-time", "example": "2025-02-03T18:22:00"}, "plan": {"type": "object", "properties": {"name": {"type": "string", "example": "DBS.16GB"}, "price": {"type": "string", "example": "Rs. 9.0/Hour or Rs. 6570.0 Monthly"}, "template_id": {"type": "integer", "example": 21}, "ram": {"type": "string", "example": "16"}, "cpu": {"type": "string", "example": "4"}, "disk": {"type": "string", "example": "200"}, "currency": {"type": "string", "example": "INR"}, "software": {"type": "object", "properties": {"name": {"type": "string", "example": "MySQL"}, "version": {"type": "string", "example": "8.0"}, "engine": {"type": "string", "example": "Innodb"}}}, "available_inventory_status": {"type": "boolean", "example": true}, "price_per_hour": {"type": "number", "format": "float", "example": 9}, "price_per_month": {"type": "number", "format": "float", "example": 6570}}}, "ssl": {"type": "boolean", "example": true}, "domain": {"type": "string", "nullable": true, "example": null}, "public_port": {"type": "string", "nullable": true, "example": null}}}, "connectivity_detail": {"type": "string", "example": "{'read_end_point': [{'ip': '164.52.210.66', 'port': 3307}, {'ip': '10.17.10.7', 'port': 3307}], 'read_and_write_end_point': [{'ip': '164.52.210.66', 'port': 3306}, {'ip': '10.17.10.7', 'port': 3306}], 'status': 'updating', 'type': 1}"}, "vector_database_status": {"type": "string", "enum": ["Disabled", "Enabled"], "example": "Disabled"}, "project_name": {"type": "string", "example": "default-project-33931"}, "snapshot_exist": {"type": "boolean", "example": false}}}}, "errors": {"type": "object", "additionalProperties": false}, "message": {"type": "string", "example": "Success"}}}}}}}}, "post": {"operationId": "post-rds-cluster", "summary": "Create DBaaS", "tags": ["DBaaS"], "description": "\n\n## All DBaaS Plans\n\n**Find Template ID here using software ID for each DBaaS - [Template ID](https://docs.e2enetworks.com/api/myaccount/#/paths/rds-plans/get)**. Template Id is required for pricing plans here.\n\n| **DBaaS Name**        | **Software ID**                         |  \n|------------------ |-------------------------------------| \n| MariaDB    10.4   |       1                             |        \n| MariaDB    10.6   |       11                            | \n| MariaDB    10.11  |       12                            |  \n| MySQL      5.6    |       2                             |  \n| MySQL      5.7    |       3                             |  \n| MySQL      8.0    |       4                             |  \n| PostgreSQL 12.0   |       5                             | \n| PostgreSQL 11.0   |       6                             |  \n| PostgreSQL 13.0   |       8                             |  \n| PostgreSQL 14.0   |       9                             |  \n| PostgreSQL 15.0   |       10                            |\n| MongoDB    6.0    |       14                            |  \n| Cassandra  4.0    |       15                            |  \n| Valkey     7.5    |       16                            |  \n| kafka      3.6    |       17                            |  \n| OpenSearch 2.18.0 |       18                            |", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"software_id": {"description": "Required to identify the DBaaS like `MySQL5.6` , `MySQL 5.7` , `PostgreSQL 12.0` , `PostgreSQL 11.0` etc", "type": "integer", "example": 3}, "template_id": {"description": "For checking machine specification", "type": "integer", "example": 14}, "name": {"type": "string", "example": "E2E-DBaaS-26322-7033"}, "group": {"type": "string", "example": "Default", "description": "it is a default group"}, "public_ip_required": {"type": "boolean", "example": true, "description": "Optional If you want to select public IP"}, "database": {"type": "object", "properties": {"user": {"type": "string", "example": "admin"}, "password": {"type": "string", "example": "Vk@123456789123456789"}, "dbaas_number": {"type": "integer", "example": 1}, "name": {"type": "string", "example": "DB-26322-7033"}}}, "vpcs": {"type": "array", "items": {"type": "object", "additionalProperties": true}, "example": [{"target": "vpcs", "vpc_name": "VPC-528", "network_id": 31066, "ipv4_cidr": "10.7.214.0/23", "subnet_id": 347}]}}, "required": ["software_id", "template_id", "name", "group", "public_ip_required", "database"]}}}, "required": true}, "responses": {"200": {"description": "DB instance created successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"id": {"type": "integer", "example": 7809}, "name": {"type": "string", "example": "E2E-DBaaS-28401-5664"}, "status": {"type": "string", "example": "CREATING"}, "status_title": {"type": "string", "example": "Creating"}, "status_actions": {"type": "array", "items": {}, "example": []}, "num_instances": {"type": "integer", "example": 1}, "software": {"type": "object", "properties": {"name": {"type": "string", "example": "MySQL"}, "version": {"type": "string", "example": "8.0"}, "engine": {"type": "string", "example": "Innodb"}}}, "master_node": {"type": "object", "properties": {"node_name": {"type": "string", "example": "E2E-DBaaS-28401-5664-Node-1"}, "instance_id": {"type": "integer", "example": 16334}, "cluster_id": {"type": "integer", "example": 7809}, "node_id": {"type": "integer", "example": 266882}, "vm_id": {"type": "integer", "example": 278862}, "port": {"type": "string", "example": "3306"}, "public_ip_address": {"type": "string", "example": "164.52.212.190"}, "private_ip_address": {"type": "string", "example": "10.0.0.18"}, "allowed_ip_address": {"type": "object", "properties": {"whitelisted_ips": {"type": "array", "items": {}, "example": []}, "temp_ips": {"type": "array", "items": {}, "example": []}, "whitelisted_ips_tags": {"type": "array", "items": {}, "example": []}, "temp_ips_tags": {"type": "array", "items": {}, "example": []}, "whitelisting_in_progress": {"type": "boolean", "example": false}}}, "database": {"type": "object", "properties": {"id": {"type": "integer", "example": 7802}, "username": {"type": "string", "example": "admin"}, "database": {"type": "string", "example": "DB-28401-5664"}, "pg_detail": {"type": "object", "example": {}}}}, "ram": {"type": "string", "example": "16 GB"}, "cpu": {"type": "integer", "example": 4}, "disk": {"type": "string", "example": "200 GB"}, "status": {"type": "string", "example": "Creating"}, "db_status": {"type": "string", "example": "Creating"}, "created_at": {"type": "string", "example": "24/Sep/2025 12:09 PM"}, "plan": {"type": "object", "description": "Plan details (can be an object or empty {})", "example": {}}, "ssl": {"type": "boolean", "example": true}, "domain": {"type": "string", "nullable": true, "example": null}, "public_port": {"type": "string", "nullable": true, "example": null}, "committed_info": {"type": "string", "nullable": true, "example": null}, "cluster_name": {"type": "string", "example": ""}, "plan_name": {"type": "string", "example": "e2e_public_cloud"}}}, "connectivity_detail": {"type": "string", "example": "{'read_end_point': [], 'read_and_write_end_point': [], 'status': 'updating', 'type': 1}"}, "vector_database_status": {"type": "string", "example": "Disabled"}, "project_name": {"type": "string", "example": "default-project-38742"}, "snapshot_exist": {"type": "boolean", "example": false}, "zookeeper_instances": {"type": "integer", "example": 0}, "slave_instances": {"type": "integer", "example": 0}, "isEncryptionEnabled": {"type": "boolean", "example": false}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/rds/cluster/{Cluster_id}/": {"get": {"operationId": "get-rds-cluster-cluster-id", "summary": "DBaaS Details", "tags": ["DBaaS"], "parameters": [{"name": "Cluster_id", "in": "path", "required": true, "description": "Cluster Id", "schema": {"type": "integer"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Success response with database service details", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"id": {"type": "integer", "example": 5276}, "name": {"type": "string", "example": "E2E-DBaaS-26322-2920"}, "status": {"type": "string", "example": "RUNNING"}, "status_title": {"type": "string", "example": "Running"}, "status_actions": {"type": "array", "items": {"type": "string"}, "example": ["delete", "stop", "restart", "manual-snapshot", "restore-snapshot"]}, "num_instances": {"type": "integer", "example": 1}, "software": {"type": "object", "properties": {"name": {"type": "string", "example": "MySQL"}, "version": {"type": "string", "example": "8.0"}, "engine": {"type": "string", "example": "Innodb"}}}, "master_node": {"type": "object", "properties": {"node_name": {"type": "string", "example": "E2E-DBaaS-26322-2920-Node-1"}, "instance_id": {"type": "integer", "example": 10650}, "cluster_id": {"type": "integer", "example": 5276}, "node_id": {"type": "integer", "example": 214105}, "vm_id": {"type": "integer", "example": 228917}, "port": {"type": "string", "example": "3306"}, "public_ip_address": {"type": "string", "example": "164.52.212.177"}, "private_ip_address": {"type": "string", "example": "10.7.214.7"}, "allowed_ip_address": {"type": "object", "properties": {"whitelisted_ips": {"type": "array", "items": {"type": "string"}, "example": []}, "temp_ips": {"type": "array", "items": {"type": "string"}, "example": []}, "whitelisted_ips_tags": {"type": "array", "items": {"type": "string"}, "example": []}, "temp_ips_tags": {"type": "array", "items": {"type": "string"}, "example": []}, "whitelisting_in_progress": {"type": "boolean", "example": false}}}, "zabbix_host_id": {"type": "integer", "example": 102563}, "database": {"type": "object", "properties": {"id": {"type": "integer", "example": 5276}, "username": {"type": "string", "example": "admin"}, "database": {"type": "string", "example": "DB-26322-2920"}, "pg_detail": {"type": "object", "example": {}}}}, "ram": {"type": "string", "example": "16 GB"}, "cpu": {"type": "string", "example": "4"}, "disk": {"type": "string", "example": "200 GB"}, "status": {"type": "string", "example": "Running"}, "db_status": {"type": "string", "example": "Running"}, "created_at": {"type": "string", "example": "06/Feb/2025 02:34 PM"}, "plan": {"type": "object", "properties": {"name": {"type": "string", "example": "DBS.16GB"}, "price": {"type": "string", "example": "Rs. 9.0/Hour or Rs. 6570.0 Monthly"}, "template_id": {"type": "integer", "example": 21}, "ram": {"type": "string", "example": "16"}, "cpu": {"type": "string", "example": "4"}, "disk": {"type": "string", "example": "200"}, "currency": {"type": "string", "example": "INR"}, "software": {"type": "object", "properties": {"name": {"type": "string", "example": "MySQL"}, "version": {"type": "string", "example": "8.0"}, "engine": {"type": "string", "example": "Innodb"}}}, "available_inventory_status": {"type": "boolean", "example": true}, "price_per_hour": {"type": "number", "format": "float", "example": 9}, "price_per_month": {"type": "number", "format": "float", "example": 6570}}}, "ssl": {"type": "boolean", "example": true}, "domain": {"type": "string", "example": "e2e-81-177.ssdcloudindia.net"}, "public_port": {"type": "string", "example": null}}}, "slave_nodes": {"type": "array", "items": {"type": "object", "example": []}}, "whitelisted_ips": {"type": "array", "items": {"type": "string"}, "example": []}, "connectivity": {"type": "string", "example": "Connecting using Different Read/Write Point"}, "connectivity_status": {"type": "string", "example": "updated"}, "read_end_point": {"type": "array", "items": {"type": "object", "properties": {"address": {"type": "string", "example": "e2e-81-177.ssdcloudindia.net"}, "port": {"type": "string", "example": "3307"}}}}, "write_end_point": {"type": "array", "items": {"type": "object", "properties": {"address": {"type": "string", "example": "e2e-81-177.ssdcloudindia.net"}, "port": {"type": "string", "example": "3306"}}}}, "backup_enabled": {"type": "boolean", "example": false}, "vector_database_status": {"type": "string", "example": "Disabled"}, "replication_factor": {"type": "integer", "example": 1}}}, "errors": {"type": "object", "additionalProperties": true}, "message": {"type": "string", "example": "Success"}}}}}}}}, "delete": {"operationId": "delete-rds-cluster-cluster-id", "summary": "Delete DBaaS", "tags": ["DBaaS"], "parameters": [{"name": "Cluster_id", "in": "path", "required": true, "description": "Cluster Id", "schema": {"type": "integer"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Successfully retrieved cluster information", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200, "description": "Response status code."}, "data": {"type": "object", "properties": {"cluster_id": {"type": "integer", "example": 5276, "description": "The ID of the DBaaS cluster."}, "name": {"type": "string", "example": "E2E-DBaaS-26322-2920", "description": "The name of the DBaaS cluster."}}}, "errors": {"type": "object", "example": {}, "description": "An empty object, meaning no errors occurred."}, "message": {"type": "string", "example": "Success", "description": "A success message indicating the request was processed successfully."}}}}}}}}}, "/api/v1/rds/cluster/{Cluster_id}/update-allowed-hosts": {"put": {"operationId": "put-rds-cluster-cluster-id-update-allowed-hosts", "summary": "Attach/Detach Whitelisted IP", "tags": ["DBaaS"], "parameters": [{"name": "action", "in": "query", "required": true, "description": "Actions to manage whitelisted IPs", "schema": {"type": "string", "enum": ["attach", "detach"]}}, {"name": "Cluster_id", "in": "path", "required": true, "description": "Cluster Id", "schema": {"type": "integer"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"allowed_hosts": {"type": "array", "items": {"type": "object", "properties": {"ip": {"type": "string", "example": "192.168.1.9"}, "tag": {"type": "array", "items": {"type": "integer"}, "example": [2349]}}}, "required": ["ip", "tag"]}}}, "example": {"allowed_hosts": [{"ip": "192.168.1.9", "tag": [2349]}]}}}, "required": true}, "responses": {"200": {"description": "Whitelisted IPs Updated Successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "additionalProperties": true, "example": {}}, "errors": {"type": "object", "additionalProperties": true, "example": {}}, "message": {"type": "string", "example": "Whitelisted IPs Updated Successfully"}}}}}}}}}, "/api/v1/rds/cluster/{Cluster_id}/snapshot": {"get": {"operationId": "get-rds-cluster-cluster-id-snapshot", "summary": "Snapshot List", "tags": ["DBaaS"], "parameters": [{"name": "Cluster_id", "in": "path", "required": true, "description": "Cluster Id", "schema": {"type": "integer"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Successfully retrieved snapshots and plans", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"snapshots": {"type": "array", "items": {"type": "object", "properties": {"name": {"type": "string", "example": "vishnu2"}, "date": {"type": "string", "format": "date-time", "example": "2025-02-05T12:21:08Z"}, "size": {"type": "string", "example": "0.0 GB"}, "snapshot_id": {"type": "integer", "example": 1}, "snapshot_uuid": {"type": "string", "format": "uuid", "example": "2c8a29cb-252b-4af7-a28f-3fdce63b44c3"}, "status": {"type": "string", "example": "In progress"}}}}, "plans": {"type": "array", "items": {"type": "object", "properties": {"name": {"type": "string", "example": "DBS.16GB"}, "price": {"type": "string", "example": "Rs. 9.0/Hour or Rs. 6570.0 Monthly"}, "template_id": {"type": "integer", "example": 21}, "ram": {"type": "string", "example": "16"}, "cpu": {"type": "string", "example": "4"}, "disk": {"type": "string", "example": "200"}, "currency": {"type": "string", "example": "INR"}, "software": {"type": "object", "properties": {"name": {"type": "string", "example": "MySQL"}, "version": {"type": "string", "example": "8.0"}, "engine": {"type": "string", "example": "Innodb"}}}, "available_inventory_status": {"type": "boolean", "example": true}, "price_per_hour": {"type": "number", "format": "float", "example": 9}, "price_per_month": {"type": "number", "format": "float", "example": 6570}}}}, "total_page": {"type": "integer", "example": 1}, "per_page": {"type": "integer", "example": 5}, "total_count": {"type": "integer", "example": 2}}}, "errors": {"type": "object", "additionalProperties": false}, "message": {"type": "string", "example": "Success"}}}}}}}}, "post": {"operationId": "post-rds-cluster-cluster-id-snapshot", "summary": "Create Snapshot", "tags": ["DBaaS"], "parameters": [{"name": "Cluster_id", "in": "path", "required": true, "description": "Cluster Id", "schema": {"type": "integer"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"name": {"type": "string", "example": "e12"}}, "required": ["name"]}}}, "required": true}, "responses": {"200": {"description": "Snapshot information successfully retrieved", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"snapshot_id": {"type": "integer", "example": 0}, "snapshot_details": {"type": "object", "properties": {"name": {"type": "string", "example": "vishnu_1738755602.780148"}, "date": {"type": "string", "format": "date-time", "example": "2025-02-05T11:40:03Z"}, "size": {"type": "string", "example": "190734"}, "snapshot_id": {"type": "integer", "example": 0}}}, "cluster_id": {"type": "integer", "example": 5275}, "name": {"type": "string", "example": "E2E-DBaaS-26322-6488"}, "snapshot_uuid": {"type": "string", "format": "uuid", "example": "22567090-1864-41b5-afd9-8b1b49c60724"}}}, "errors": {"type": "object", "additionalProperties": false}, "message": {"type": "string", "example": "Manual Snapshot in Process."}}}}}}}}}, "/api/v1/rds/cluster/{Cluster_id}/snapshot/{snapshot_uuid}/": {"delete": {"operationId": "delete-rds-cluster-cluster-id-snapshot-snapshot-uuid", "summary": "Delete Snapshot", "tags": ["DBaaS"], "parameters": [{"name": "Cluster_id", "in": "path", "required": true, "description": "Cluster Id", "schema": {"type": "integer"}}, {"name": "snapshot_uuid", "in": "path", "required": true, "description": "snapshot_uuid", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Snapshot information successfully Deleted", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"cluster_id": {"type": "integer", "example": 5275}, "snapshot_uuid": {"type": "string", "format": "uuid", "example": "fc3a42db-b1e6-4c65-84e2-0fa3fe3de53e"}}}, "errors": {"type": "object", "additionalProperties": false}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/rds/cluster/{Cluster_id}/restore": {"post": {"operationId": "post-rds-cluster-cluster-id-restore", "summary": "Restore Snapshot", "tags": ["DBaaS"], "parameters": [{"name": "Cluster_id", "in": "path", "required": true, "description": "Cluster Id", "schema": {"type": "integer"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"name": {"type": "string", "example": "vishnu", "description": "The n`ame of the DBaaS instance."}, "template_id": {"type": "string", "example": "21", "description": "The template ID used for the DBaaS instance."}, "snapshot_id": {"type": "integer", "example": 0, "description": "The snapshot ID associated with the DBaaS instance. Defaults to 0 if no snapshot is used."}}, "required": ["name", "template_id", "snapshot_id"]}}}}, "responses": {"200": {"description": "DBaaS instance created successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"id": {"type": "integer", "example": 5278}, "name": {"type": "string", "example": "vishnu"}, "status": {"type": "string", "example": "CREATING"}, "status_title": {"type": "string", "example": "Creating"}, "status_actions": {"type": "array", "items": {"type": "string", "example": []}}, "num_instances": {"type": "integer", "example": 1}, "software": {"type": "object", "properties": {"name": {"type": "string", "example": "MySQL"}, "version": {"type": "string", "example": "8.0"}, "engine": {"type": "string", "example": "Innodb"}}}, "master_node": {"type": "object", "properties": {"node_name": {"type": "string", "example": "vishnu-Node-1"}, "instance_id": {"type": "integer", "example": 10660}, "cluster_id": {"type": "integer", "example": 5278}, "node_id": {"type": "integer", "example": 214205}, "vm_id": {"type": "integer", "example": 229019}, "port": {"type": "string", "example": "3306"}, "public_ip_address": {"type": "string", "example": "164.52.212.232"}, "private_ip_address": {"type": "string", "example": "10.17.10.9"}, "allowed_ip_address": {"type": "object", "properties": {"whitelisted_ips": {"type": "array", "items": {"type": "string"}}, "temp_ips": {"type": "array", "items": {"type": "string"}}, "whitelisted_ips_tags": {"type": "array", "items": {"type": "string"}}, "temp_ips_tags": {"type": "array", "items": {"type": "string"}}, "whitelisting_in_progress": {"type": "boolean", "example": false}}}, "database": {"type": "object", "properties": {"id": {"type": "integer", "example": 5278}, "username": {"type": "string", "example": "admin"}, "database": {"type": "string", "example": "DB-26322-2920"}, "pg_detail": {"type": "object", "example": {}}}}, "ram": {"type": "string", "example": "16 GB"}, "cpu": {"type": "string", "example": "4"}, "disk": {"type": "string", "example": "200 GB"}, "status": {"type": "string", "example": "Creating"}, "db_status": {"type": "string", "example": "Creating"}, "created_at": {"type": "string", "example": "06/Feb/2025 06:45 PM"}, "plan": {"type": "object", "properties": {"name": {"type": "string", "example": "DBS.16GB"}, "price": {"type": "string", "example": "Rs. 9.0/Hour or Rs. 6570.0 Monthly"}, "template_id": {"type": "integer", "example": 427}, "ram": {"type": "string", "example": "16"}, "cpu": {"type": "string", "example": "4"}, "disk": {"type": "string", "example": "200"}, "currency": {"type": "string", "example": "INR"}, "software": {"type": "object", "properties": {"name": {"type": "string", "example": "MySQL"}, "version": {"type": "string", "example": "8.0"}, "engine": {"type": "string", "example": "Innodb"}}}, "available_inventory_status": {"type": "boolean", "example": true}, "price_per_hour": {"type": "number", "example": 9}, "price_per_month": {"type": "number", "example": 6570}}}, "ssl": {"type": "boolean", "example": true}, "domain": {"type": "string", "example": null}, "public_port": {"type": "string", "example": null}}}, "connectivity_detail": {"type": "string", "example": "{'read_end_point': [], 'read_and_write_end_point': [], 'status': 'updating', 'type': 1}"}, "vector_database_status": {"type": "string", "example": "Disabled"}, "project_name": {"type": "string", "example": "default-project-33931"}, "snapshot_exist": {"type": "boolean", "example": false}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/rds/cluster/{Cluster_id}/add-slave": {"post": {"operationId": "post-rds-cluster-cluster-id-add-slave", "summary": "Create Read Replica", "tags": ["DBaaS"], "description": "Creates a replica for an existing DBaaS cluster.\n\n**Request Flow:**\n1. When `dest_location` is not provided, the API creates a read replica in the same region.\n2. When `dest_location` is provided, the API creates a read replica in the destination region.\n", "parameters": [{"name": "Cluster_id", "in": "path", "required": true, "description": "Cluster Id", "schema": {"type": "integer"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "dest_location", "in": "query", "required": false, "description": "**Constraint:**\n- If `location` is **Delhi/Chennai**, select dest_location as **Delhi** or **Chennai**.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"oneOf": [{"type": "object", "required": ["template_id", "public_ip_required"], "properties": {"template_id": {"type": "integer", "description": "Template ID for read replica", "example": 159}, "public_ip_required": {"type": "boolean", "description": "Whether public IP is required for the read replica", "example": true}}, "additionalProperties": false}, {"type": "object", "required": ["template_id", "public_ip_required", "tunnel_id"], "properties": {"template_id": {"type": "integer", "description": "Template ID for slave node", "example": 159}, "public_ip_required": {"type": "boolean", "description": "Whether a public IP should be assigned", "example": true}, "tunnel_id": {"type": "integer", "description": "Tunnel ID for private connectivity", "example": 105}}, "additionalProperties": false}]}}}}, "responses": {"200": {"description": "Success response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "additionalProperties": true}, "errors": {"type": "object", "additionalProperties": true}, "message": {"type": "string", "example": "success"}}}}}}}}}, "/api/v1/rds/instance/{Instance_id}/": {"delete": {"operationId": "delete-rds-instance-instance-id", "summary": "Delete Read Replica", "tags": ["DBaaS"], "parameters": [{"name": "Instance_id", "in": "path", "required": true, "description": "Instance_id", "schema": {"type": "integer"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Success response with detailed data", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"instance_id": {"type": "integer", "example": 10540}, "cluster_id": {"type": "integer", "example": 5198}, "replica_name": {"type": "string", "example": "Slave-5"}}}, "errors": {"type": "object", "additionalProperties": true}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/rds/cluster/slave/{Instance_id}/public-ip-{AttachDetach_Read_Replica}/": {"put": {"operationId": "put-rds-cluster-slave-instance-id-public-ip-attachdetach-read-replica", "summary": "Attach/Detach Read Replica", "tags": ["DBaaS"], "parameters": [{"name": "Instance_id", "in": "path", "required": true, "description": "Instance_id", "schema": {"type": "integer"}}, {"name": "AttachDetach_Read_Replica", "in": "path", "required": true, "description": "Actions to manage Read Replica", "schema": {"type": "string", "enum": ["attach", "detach"]}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"public_ip_required": {"type": "string", "enum": ["True", "False"], "example": "True"}}, "required": ["public_ip_required"]}}}}, "responses": {"200": {"description": "Public IP updated successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "string", "example": "updated public ip successfully"}, "errors": {"type": "object", "additionalProperties": true}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/rds/cluster/{Cluster_id}/graph-monitoring": {"get": {"operationId": "get-rds-cluster-cluster-id-graph-monitoring", "summary": "Monitoring", "tags": ["DBaaS"], "parameters": [{"name": "Cluster_id", "in": "path", "required": true, "description": "Cluster Id", "schema": {"type": "integer"}}, {"name": "interval", "in": "query", "required": true, "description": "interval", "schema": {"type": "integer"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Success response with detailed database performance metrics", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"cpu": {"type": "object", "properties": {"labels": {"type": "array", "items": {"type": "string"}, "example": []}, "results": {"type": "array", "items": {"type": "string"}, "example": []}}}, "iops": {"type": "object", "properties": {"disk_iops_read": {"type": "object", "properties": {"labels": {"type": "array", "items": {"type": "string"}, "example": ["04:24PM", "04:25PM", "04:26PM", "04:31PM", "04:32PM", "04:33PM", "04:34PM"]}, "results": {"type": "array", "items": {"type": "string"}, "example": ["26007.0", "26007.0", "26007.0", "26007.0", "26007.0", "26007.0", "26007.0"]}}}, "disk_iops_write": {"type": "object", "properties": {"labels": {"type": "array", "items": {"type": "string"}, "example": ["04:24PM", "04:25PM", "04:26PM", "04:31PM", "04:32PM", "04:33PM", "04:34PM"]}, "results": {"type": "array", "items": {"type": "string"}, "example": ["8074.0", "8084.0", "8096.0", "8158.0", "8170.0", "8184.0", "8190.0"]}}}}}, "memory_usage": {"type": "object", "properties": {"labels": {"type": "array", "items": {"type": "string"}, "example": []}, "results": {"type": "array", "items": {"type": "string"}, "example": []}}}, "mysql_conn": {"type": "object", "properties": {"labels": {"type": "array", "items": {"type": "string"}, "example": []}, "results": {"type": "array", "items": {"type": "string"}, "example": []}}}, "mysql_query": {"type": "object", "properties": {"labels": {"type": "array", "items": {"type": "string"}, "example": []}, "results": {"type": "array", "items": {"type": "string"}, "example": []}}}, "mysql_network": {"type": "object", "properties": {"mysql_bytes_received": {"type": "object", "properties": {"labels": {"type": "array", "items": {"type": "string"}, "example": []}, "results": {"type": "array", "items": {"type": "string"}, "example": []}}}, "mysql_bytes_send": {"type": "object", "properties": {"labels": {"type": "array", "items": {"type": "string"}, "example": []}, "results": {"type": "array", "items": {"type": "string"}, "example": []}}}}}, "database_name": {"type": "string", "example": "mysql"}}}, "errors": {"type": "object", "additionalProperties": true}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/rds/cluster/{Cluster_id}/get-logs": {"get": {"operationId": "get-rds-cluster-cluster-id-get-logs", "summary": "Show Log Queries", "tags": ["DBaaS"], "parameters": [{"name": "Cluster_id", "in": "path", "required": true, "description": "Cluster Id", "schema": {"type": "integer"}}, {"name": "time_filter", "in": "query", "required": true, "description": "time_filter", "schema": {"type": "integer"}}, {"name": "search_from", "in": "query", "required": true, "description": "search_from", "schema": {"type": "integer"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Successfully retrieved slow queries data", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"total": {"type": "integer", "example": 0, "description": "Total number of slow queries."}, "slow_data": {"type": "array", "items": {"type": "object", "example": [], "description": "An array of slow query data (empty if no slow queries exist)."}}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/rds/cluster/{Cluster_id}/{start_stop_restart}": {"put": {"operationId": "put-rds-cluster-cluster-id-start-stop-restart", "summary": "Start/Stop/Restart DBaaS", "tags": ["DBaaS"], "parameters": [{"name": "Cluster_id", "in": "path", "required": true, "description": "Cluster Id", "schema": {"type": "integer"}}, {"name": "start_stop_restart", "in": "path", "required": true, "description": "Start/Stop/Restart DBaaS", "schema": {"type": "string", "enum": ["resume", "shutdown", "restart"]}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "The DBaaS is Successfully Updated.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"message": {"type": "string", "example": "DBaaS process started.", "description": "The message of the cluster is successfully updating."}, "cluster_id": {"type": "integer", "example": 5276, "description": "The ID of the cluster is updating."}, "name": {"type": "string", "example": "E2E-DBaaS-26322-2920", "description": "The name of the DBaaS cluster is updating."}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/rds/cluster/{Cluster_id}/rds-upgrade/": {"put": {"operationId": "put-rds-cluster-cluster-id-rds-upgrade", "summary": "DBaaS Upgrade", "tags": ["DBaaS"], "parameters": [{"name": "Cluster_id", "in": "path", "required": true, "description": "Cluster Id", "schema": {"type": "integer"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"template_id": {"type": "integer"}}, "required": ["template_id"]}, "example": {"template_id": 492}}}, "required": true}, "responses": {"200": {"description": "DBaaS node upgrade response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer"}, "data": {"type": "object", "properties": {"message": {"type": "string"}, "cluster_id": {"type": "integer"}, "name": {"type": "string"}}, "required": ["message", "cluster_id", "name"]}, "errors": {"type": "object"}, "message": {"type": "string"}}, "required": ["code", "data", "errors", "message"]}}}}}}}, "/api/v1/rds/cluster/{Cluster_id}/instance/{instance_id}/failover/": {"post": {"operationId": "post-rds-cluster-cluster-id-instance-instance-id-failover", "summary": "Promote Read Replica", "tags": ["DBaaS"], "parameters": [{"name": "Cluster_id", "in": "path", "required": true, "description": "Cluster Id", "schema": {"type": "integer"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "instance_id", "in": "path", "required": true, "description": "Unique identifier of the DBaaS instance", "schema": {"type": "integer", "example": 17916}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"name": {"type": "string", "description": "Name of the DBaaS instance to be promoted during failover"}, "group": {"type": "string", "description": "Instance group name"}, "public_ip_required": {"type": "boolean", "description": "Whether a public IP should be assigned after failover"}, "template_id": {"type": "integer", "description": "Template ID to be used during failover"}}, "required": ["name", "group", "public_ip_required", "template_id"]}, "example": {"name": "E2E-DBaaS-26321-2331", "group": "Default", "public_ip_required": true, "template_id": 21}}}, "required": true}, "responses": {"200": {"description": "Failover operation initiated successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"message": {"type": "string", "example": "Failover initiated successfully"}, "cluster_id": {"type": "integer", "example": 8475}, "instance_id": {"type": "integer", "example": 17916}}, "required": ["message", "cluster_id", "instance_id"]}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Failover initiated successfully"}}, "required": ["code", "data", "errors", "message"]}}}}}}}, "/api/v1/rds/parameter-group/templates/": {"get": {"operationId": "get-rds-parameter-group-templates", "summary": "Parameter Group Templates", "tags": ["ParameterGroup"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Successful response containing database details", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"name": {"type": "string", "example": "MySQL"}, "version": {"type": "string", "example": "8.12"}, "engine": {"type": "string", "example": "Innodb"}, "software_id": {"type": "integer", "example": 3}}}}, "errors": {"type": "object", "additionalProperties": true}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/rds/parameter-group/": {"post": {"operationId": "post-rds-parameter-group", "summary": "Create Parameter Group", "tags": ["ParameterGroup"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"template_id": {"type": "string", "example": "1"}, "name": {"type": "string", "example": "meghna"}, "description": {"type": "string", "example": ""}}, "required": ["template_id", "name"]}}}, "required": true}, "responses": {"200": {"description": "Successful response after creating a parameter group", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "example": {}}, "errors": {"type": "object", "additionalProperties": true, "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/rds/parameter-group/{pg_id}/sync": {"post": {"operationId": "post-rds-parameter-group-pg-id-sync", "summary": "Sync Parameter Group", "tags": ["ParameterGroup"], "parameters": [{"name": "pg_id", "in": "path", "required": true, "description": "Parameter Group ID", "schema": {"type": "integer"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "example": {}}}}, "required": true}, "responses": {"200": {"description": "Successful response after syncing a parameter group", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "example": {}}, "errors": {"type": "object", "additionalProperties": true, "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/rds/parameter-group/{pg_id}/": {"put": {"operationId": "put-rds-parameter-group-pg-id", "summary": "Edit Parameter Group", "tags": ["ParameterGroup"], "parameters": [{"name": "pg_id", "in": "path", "required": true, "description": "Parameter Group ID", "schema": {"type": "integer"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"alter_algorithm": {"type": "string", "example": "COPY"}}, "required": ["alter_algorithm"]}}}, "required": true}, "responses": {"200": {"description": "Successful response after editing a parameter group", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"name": {"type": "string", "example": "hey"}, "family": {"type": "string", "example": "MariaDB-10.4"}, "parameters": {"type": "object", "additionalProperties": {"type": "string"}, "example": {"alter_algorithm": "COPY"}}, "pg_id": {"type": "integer", "example": 906}, "is_attached": {"type": "boolean", "example": false}, "template_parameters": {"type": "array", "items": {"type": "object", "properties": {"parameterName": {"type": "string", "example": "alter_algorithm"}, "description": {"type": "string", "example": "Specify the alter table algorithm."}, "source": {"type": "string", "example": "engine-default"}, "applyType": {"type": "string", "example": "dynamic"}, "dataType": {"type": "string", "example": "string"}, "allowedValues": {"type": "string", "example": "DEFAULT,COPY,INPLACE,NOCOPY,INSTANT"}, "isModifiable": {"type": "boolean", "example": true}, "applyMethod": {"type": "string", "example": "pending-reboot"}, "parameterValue": {"type": "string", "example": "COPY"}}}}}}, "errors": {"type": "object", "additionalProperties": true, "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}, "delete": {"operationId": "delete-rds-parameter-group-pg-id", "summary": "Delete Parameter Group", "tags": ["ParameterGroup"], "parameters": [{"name": "pg_id", "in": "path", "required": true, "description": "Parameter Group ID", "schema": {"type": "integer"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Successful response after deleting a parameter group", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "example": {}}, "errors": {"type": "object", "additionalProperties": true, "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}}}