{"openapi": "3.0.3", "info": {"title": "MyAccount API - backup", "description": "", "version": "1.0.0"}, "servers": [{"url": "https://api.e2enetworks.com/myaccount"}], "paths": {"/api/v1/cdpbackup/{node_id}/status/": {"get": {"operationId": "backup-status", "summary": "Backup Status", "tags": ["CDP Backup"], "parameters": [{"name": "node_id", "in": "path", "required": true, "description": "Path parameter `node_id`.", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the backup status request", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string", "alphanumeric characters"]}, {"name": "location", "in": "query", "required": true, "description": "Specifies the location for which to retrieve backup status.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["non-empty string", "must be a valid location identifier"]}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "description": "HTTP status code for backup operation", "x-constraints": ["integer", "must be a valid HTTP status code"], "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"node_id": {"type": "integer", "description": "Unique identifier of the node in the backup status response", "x-constraints": ["Must be a positive integer", "Required"], "example": 12345}, "status": {"type": "string", "description": "Indicates the current backup status for the item.", "x-constraints": ["Must be a non-empty string", "Typically one of the predefined status values such as \"backup_not_activated\""], "example": "backup_not_activated"}, "detail": {"type": "string", "description": "Backup status detail string", "x-constraints": ["must be a non-empty string", "should be one of the predefined status values (e.g., \"Activated\", \"Not Activated\", \"In Progress\")"], "example": "Not Activated"}}}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "description": "Status message indicating the result of the backup operation", "x-constraints": ["must be a non-empty string"], "example": "Success"}}}}}}}}}, "/api/v1/cdpbackup/plans/": {"get": {"operationId": "backup-plans", "summary": "Backup Plans", "tags": ["CDP Backup"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string", "must be a valid API token"]}, {"name": "location", "in": "query", "required": true, "description": "The geographic location for the backup plan.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["Required", "Must be a valid region identifier (e.g., us-central1)"]}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "description": "HTTP status code indicating the result of the backup plan request", "x-constraints": ["must be an integer", "must be a valid HTTP status code (100-599)"], "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"plan_id": {"type": "integer", "description": "Identifier of the backup plan", "x-constraints": ["must be a positive integer", "required"], "example": 1}, "plan_name": {"type": "string", "description": "Name of the backup plan", "x-constraints": ["must be a non-empty string", "maximum length 100 characters"], "example": "Regular Plan"}, "plan_type": {"type": "string", "description": "type identifier of the backup plan", "x-constraints": ["must be a non-empty string", "typically uppercase, e.g., \"DEFAULT\""], "example": "DEFAULT"}, "schedule_type": {"type": "string", "description": "type of backup schedule (e.g., HOURLY)", "x-constraints": ["must be an uppercase string", "allowed values: HOURLY, DAILY, WEEKLY, MONTHLY"], "example": "HOURLY"}, "hourly_interval": {"type": "integer", "description": "Number of hours between each backup execution", "x-constraints": ["must be a positive integer", "typically between 1 and 24"], "example": 6}, "retention_settings": {"type": "object", "properties": {"hourlyLimit": {"type": "integer", "description": "Maximum number of hourly backups to retain", "x-constraints": ["must be a non-negative integer", "typically limited to 0\u201324"], "example": 12}, "dailyLimit": {"type": "integer", "description": "Maximum number of daily backups to retain", "x-constraints": ["must be a non-negative integer", "typically limited to a reasonable range (e.g., 0-365)"], "example": 14}, "weeklyLimit": {"type": "integer", "description": "Maximum number of weekly backups to retain", "x-constraints": ["must be a non-negative integer", "typically between 0 and 52"], "example": 4}, "monthlyLimit": {"type": "integer", "description": "Maximum number of monthly backups to retain", "x-constraints": ["must be a non-negative integer", "must not exceed 12"], "example": 2}, "yearlyLimit": {"type": "integer", "description": "Maximum number of yearly backups to retain", "x-constraints": ["must be a non-negative integer", "0 disables yearly retention"], "example": 0}}}}}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "description": "Status message indicating the result of the backup plan operation", "x-constraints": ["non-empty string", "max length 100 characters"], "example": "Success"}, "can_activate_backup": {"type": "boolean", "description": "Indicates whether the backup plan can be activated", "x-constraints": ["must be a boolean", "true when activation criteria are met"], "example": true}}}}}}}}}, "/api/v1/cdpbackup/activate/{node_id}/": {"put": {"operationId": "activate-backup", "summary": "Activate Backup", "tags": ["CDP Backup"], "parameters": [{"name": "node_id", "in": "path", "required": true, "description": "Path parameter `node_id`.", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used for authentication", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "must be a valid API key"]}, {"name": "location", "in": "query", "required": true, "description": "Specifies the target location for activating the backup.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["Must be a non-empty string representing a valid location identifier", "Maximum length of 256 characters"]}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"plan_id": {"type": "integer", "description": "Identifier of the backup plan to activate.", "x-constraints": ["required", "must be a positive integer"], "example": 1}, "type": {"type": "string", "description": "Specifies the backup activation schedule type.", "x-constraints": ["Must be a non-empty string", "Allowed values: HOURLY, DAILY, WEEKLY"], "example": "HOURLY"}, "exclude_file_folder": {"type": "string", "description": "Path or pattern of files/folders to exclude from the backup", "x-constraints": ["Optional; empty string means no exclusions", "If provided, must be a valid filesystem path"], "example": ""}, "backup_now": {"type": "boolean", "description": "Flag to trigger an immediate backup when true.", "x-constraints": ["required", "must be a boolean"], "example": true}, "compression_type": {"type": "string", "description": "Specifies the compression algorithm to use for the backup.", "x-constraints": ["must be a supported compression type (e.g., ZLib, GZip)", "cannot be empty"], "example": "ZLib"}, "is_encryption_required": {"type": "boolean", "description": "Indicates whether encryption is required for the backup activation.", "x-constraints": ["must be a boolean", "required field"], "example": false}, "compression_level": {"type": "string", "description": "Specifies the desired compression intensity for the backup operation.", "x-constraints": ["Must be one of \"Low\", \"Medium\", or \"High\""], "example": "Low"}, "hoursOfDay": {"type": "string", "description": "Hours of the day when the backup should run, expressed as a comma-separated list of 0-23 values", "x-constraints": ["must be a comma-separated list of integers", "each integer must be between 0 and 23"], "example": "0,6,12,18"}, "startingMinute": {"type": "integer", "description": "Minute of the hour when backup activation should start", "x-constraints": ["must be an integer between 0 and 59"], "example": 38}, "db_enabled": {"type": "string", "description": "Indicates whether the database backup should be enabled", "x-constraints": ["must be \"true\" or \"false\""], "example": ""}, "db_username": {"type": "string", "description": "Database username for authentication", "x-constraints": ["must be a non-empty string", "allowed characters: letters, numbers, underscore"], "example": ""}, "db_password": {"type": "string", "description": "Database password used for backup activation", "x-constraints": ["must be a string", "maximum length 255 characters"], "example": ""}}}}}}, "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "description": "HTTP status code returned by the Activate Backup operation", "x-constraints": ["integer between 100 and 599", "200 indicates success"], "example": 200}, "data": {"type": "object", "properties": {"support_ticket_created": {"type": "boolean", "description": "Indicates whether a support ticket was created during the backup activation", "x-constraints": ["must be a boolean value", "required field in the response"], "example": true}}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "description": "Human-readable status message confirming activation of backup.", "x-constraints": ["must be a non-empty string", "maximum length of 200 characters"], "example": "Your backups will begin shortly."}}}}}}, "default": {"description": "Response"}}, "x-alternate-operations": [{"operationId": "put-cdpbackup-activate-node-id", "summary": "Activate CDP Backup"}], "description": "This path + method also serves **Activate CDP Backup** (`put-cdpbackup-activate-node-id`); select the variant via the request body."}}, "/api/v1/cdpbackup/{node_id}/usage/": {"get": {"operationId": "usage", "summary": "Usage", "tags": ["CDP Backup"], "parameters": [{"name": "node_id", "in": "path", "required": true, "description": "Path parameter `node_id`.", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "must be a valid non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Location filter for the usage query", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["Must be a non-empty string", "Should be a valid location identifier (e.g., city name or ISO code)"]}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "description": "HTTP status code of the usage response", "x-constraints": ["must be a valid HTTP status code (100-599)", "must be a non-negative integer"], "example": 200}, "data": {"type": "object", "properties": {"status": {"type": "string", "description": "Indicates the result status of the usage request", "x-constraints": ["must be a non-empty string", "allowed values include \"OK\", \"ERROR\", \"PENDING\""], "example": "ERROR"}, "error_message": {"type": "string", "description": "Human-readable error message describing a usage request failure", "x-constraints": ["may be empty when no error", "max length 512 characters"], "example": ""}, "database_backup_enabled": {"type": "boolean", "description": "Indicates whether database backups are enabled.", "x-constraints": ["Must be a boolean value", "Only true or false"], "example": false}, "frequency": {"type": "object", "properties": {"type": {"type": "string", "description": "Frequency type of the usage data", "x-constraints": ["Must be an uppercase string", "Allowed values: HOURLY, DAILY, WEEKLY, MONTHLY"], "example": "HOURLY"}, "value": {"type": "object", "properties": {"hoursOfDay": {"type": "array", "items": {"type": "integer", "description": "Hour of the day (0-23) in a 24-hour format", "x-constraints": ["integer between 0 and 23", "non-negative value"], "example": 0}}, "startingMinute": {"type": "integer", "description": "The minute of the hour when the frequency period starts.", "x-constraints": ["integer", "value between 0 and 59"], "example": 38}}}, "timezone": {"type": "string", "description": "Time zone of the usage frequency", "x-constraints": ["must be a valid IANA time zone identifier", "cannot be empty"], "example": "UTC"}}}, "local_retention_points": {"type": "object", "properties": {"daily_limit": {"type": "integer", "description": "Maximum number of days data is retained locally", "x-constraints": ["must be a non-negative integer", "typically limited to a maximum of 365 days"], "example": 14}, "hourly_limit": {"type": "integer", "description": "Maximum number of hourly retention points allowed", "x-constraints": ["must be a non-negative integer", "maximum value is 24"], "example": 12}, "weekly_limit": {"type": "integer", "description": "Maximum number of weeks allowed for local retention points", "x-constraints": ["must be a non-negative integer"], "example": 4}, "monthly_limit": {"type": "integer", "description": "Maximum number of local retention points allowed per month.", "x-constraints": ["must be a non-negative integer"], "example": 2}, "yearly_limit": {"type": "integer", "description": "Annual retention points limit.", "x-constraints": ["Must be a non-negative integer"], "example": 0}}}, "next_run_time": {"type": "string", "description": "Timestamp of the next scheduled run", "x-constraints": ["must be a non-empty string", "formatted as 'DD MMMM, YYYY HH:mm'"], "example": "21 July, 2025 18:38"}, "last_run_time": {"type": "string", "description": "Timestamp of the last run in human-readable format", "x-constraints": ["must be a non-empty string", "format: DD MMMM, YYYY HH:mm", "represents a valid calendar date and time"], "example": "21 July, 2025 14:19"}, "size": {"type": "string", "description": "Size of the usage data as a human-readable string", "x-constraints": ["must be a string", "format: numeric value followed by a space and a unit (e.g., Bytes, KB, MB)"], "example": "6525.0 Bytes"}, "exclude_file_folder": {"type": "string", "description": "Path of a file or folder to be excluded from usage calculations", "x-constraints": ["must be a valid relative or absolute path", "empty string indicates no exclusion"], "example": ""}, "compression_type": {"type": "string", "description": "Specifies the compression algorithm applied to the response data.", "x-constraints": ["Must be a supported compression type (e.g., ZLIB, GZIP, NONE)", "Uppercase string"], "example": "ZLIB"}, "compression_level": {"type": "string", "description": "Indicates the level of compression applied to the usage data.", "x-constraints": ["Must be one of: LOW, MEDIUM, HIGH", "Uppercase string"], "example": "LOW"}, "is_encryption_applied": {"type": "boolean", "description": "Indicates whether encryption was applied to the usage data", "x-constraints": ["must be a boolean", "required field"], "example": false}, "last_task_status": {"type": "object", "properties": {"task_status": {"type": "boolean", "description": "Indicates whether the last task completed successfully", "x-constraints": ["must be a boolean value", "true means the task succeeded, false means it did not"], "example": false}, "message": {"type": "string", "description": "Human-readable status message for the last task", "x-constraints": ["Must be a non-empty string", "Maximum length 256 characters"], "example": "Connecting to agent failed"}, "failed_date": {"type": "string", "description": "Date when the last task failed", "x-constraints": ["ISO 8601 formatted date string", "May be empty if no failure"], "example": ""}}}, "is_window_plan": {"type": "boolean", "description": "Indicates whether the usage plan is a window plan.", "x-constraints": ["must be a boolean"], "example": false}, "active_plan_details": {"type": "object", "properties": {"plan_id": {"type": "integer", "description": "Identifier of the active plan", "x-constraints": ["integer", "positive value"], "example": 1}, "plan_name": {"type": "string", "description": "Name of the active usage plan", "x-constraints": ["must be a non-empty string", "may contain alphanumeric characters and spaces"], "example": "Regular Plan"}, "hourly_interval": {"type": "integer", "description": "Number of hours between each usage reporting interval", "x-constraints": ["must be a positive integer", "maximum value is 24"], "example": 6}}}, "is_archived_policy_active": {"type": "boolean", "description": "Indicates whether the archived policy is currently active.", "x-constraints": ["boolean value", "required"], "example": false}}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "description": "Status message indicating the result of the request", "x-constraints": ["non-empty string", "maximum length 255 characters"], "example": "Success"}}}}}}}}}, "/api/v1/cdpbackup/{node_id}/cdp-agent/": {"get": {"operationId": "check-connection", "summary": "Check Connection", "tags": ["CDP Backup"], "parameters": [{"name": "node_id", "in": "path", "required": true, "description": "Path parameter `node_id`.", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Location identifier used in the check connection request", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["must be a non-empty string"]}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "description": "HTTP status code indicating the result of the connection check", "x-constraints": ["must be a valid HTTP status code (100-599)", "typically 200 for a successful connection"], "example": 200}, "data": {"type": "object", "properties": {"connection_status": {"type": "boolean", "description": "Indicates whether the connection check succeeded", "x-constraints": ["must be a boolean", "required field"], "example": false}, "message": {"type": "string", "description": "Human-readable status or error message for the connection check", "x-constraints": ["must be a non-empty string", "typically under 256 characters"], "example": "Connecting to agent failed."}}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "description": "Status message indicating the result of the connection check", "x-constraints": ["must be a non-empty string", "generally brief, such as 'Success' or an error description"], "example": "Success"}}}}}}, "default": {"description": "Response"}}, "x-alternate-operations": [{"operationId": "get-cdpbackup-node-id-cdp-agent", "summary": "Check Agent Connection"}], "description": "This path + method also serves **Check Agent Connection** (`get-cdpbackup-node-id-cdp-agent`); select the variant via the request body."}}, "/api/v1/cdpbackup/database_update/{node_id}/": {"put": {"operationId": "configure-db-backup", "summary": "Configure DB Backup", "tags": ["CDP Backup"], "parameters": [{"name": "node_id", "in": "path", "required": true, "description": "Path parameter `node_id`.", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "must be a valid API token"]}, {"name": "location", "in": "query", "required": true, "description": "Specifies the backup target location.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["non-empty string", "must be a valid URI or path"]}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"db_username": {"type": "string", "description": "Database username for backup configuration", "x-constraints": ["must be a non-empty string", "may contain only alphanumeric characters and underscores", "maximum length of 64 characters"], "example": "admin"}, "db_password": {"type": "string", "description": "Database password used for backup configuration", "x-constraints": ["must be a non-empty string", "minimum length of 8 characters"], "example": "admin@1234"}}}}}}, "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "description": "HTTP status code of the Configure DB Backup response", "x-constraints": ["integer", "valid HTTP status code"], "example": 200}, "data": {"type": "string", "description": "Result message for the DB backup configuration request.", "x-constraints": ["must be a non-empty string", "maximum length 255 characters"], "example": "Database settings has been updated successfully."}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "description": "Status message indicating the result of the backup configuration request.", "x-constraints": ["Must be a non-empty string", "Maximum length of 255 characters"], "example": "Success"}}}}}}}}}, "/api/v1/cdpbackup/": {"get": {"operationId": "get-cdpbackup", "summary": "CDP Backup Listing", "tags": ["CDP Backup"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "List of nodes retrieved successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 232063}, "node_id": {"type": "integer", "example": 232063}, "name": {"type": "string", "example": "C3-8GB-985"}, "label": {"type": "string", "example": "default"}, "status": {"type": "string", "example": "Running"}, "public_ip_address": {"type": "string", "format": "ipv4", "example": "164.52.195.207"}, "private_ip_address": {"type": "string", "format": "ipv4", "example": "10.14.168.8"}, "plan": {"type": "string", "example": "C3.8GB"}, "region": {"type": "string", "nullable": true, "example": null}, "backup_status": {"type": "object", "properties": {"node_id": {"type": "integer", "example": 232063}, "status": {"type": "string", "example": "backup_not_activated"}, "detail": {"type": "string", "example": "Not Activated"}, "is_encryption_enabled": {"type": "boolean", "example": false}}}, "audit_log_message": {"type": "string", "nullable": true, "example": null}, "project_name": {"type": "string", "example": "sdfghj"}, "backup_detail_id": {"type": "integer", "example": 13886}, "last_recovery_point_created_on": {"type": "string", "format": "date-time", "nullable": true, "example": null}}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/cdpbackup/deactivate/{node_id}/": {"put": {"operationId": "put-cdpbackup-deactivate-node-id", "summary": "Deactivate CDP Backup", "tags": ["CDP Backup"], "parameters": [{"name": "node_id", "in": "path", "required": true, "description": "Node ID", "schema": {"type": "integer"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"default": {"description": "Response"}}}}}}