{"openapi": "3.0.3", "info": {"title": "TIR API - clusters", "description": "E2E TIR \u2014 the AI/ML platform: notebooks, foundation models, fine-tuning, inference endpoints, RAG, pipelines, and data.", "version": "1.0.0"}, "servers": [{"url": "https://api.e2enetworks.com/myaccount/api/v1/gpu"}], "paths": {"/distributed_jobs_v2/deployment_images/{Framework}/": {"get": {"operationId": "get-distributed-jobs-v2-deployment-images-framework", "summary": "List Cluster Images", "tags": ["Training Cluster"], "description": "Returns available Training Cluster images and their versions for the specified framework.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "Framework", "in": "path", "required": true, "description": "Framework type for which to list images.", "schema": {"type": "string", "enum": ["Slurm"]}}, {"name": "job_type", "in": "query", "required": true, "description": "Job type filter \u2014 must match the path parameter value.", "schema": {"type": "string", "enum": ["Slurm"]}}], "responses": {"200": {"description": "Successful response with available cluster images and their versions.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"image_id": {"type": "integer", "example": 1}, "name": {"type": "string", "example": "Ubuntu Slurm"}, "slug_name": {"type": "string", "example": "ubuntu-slurm"}, "framework": {"type": "string", "example": "Slurm"}, "description": {"type": "string", "example": ""}, "is_internal": {"type": "boolean", "example": false}, "versions": {"type": "array", "items": {"type": "object", "properties": {"image_version_id": {"type": "integer", "example": 2}, "version": {"type": "string", "example": "v2-slurm25.11-ubuntu24.04"}, "description": {"type": "string", "example": ""}, "tags": {"type": "array", "items": {"type": "string"}, "example": []}, "is_internal": {"type": "boolean", "example": false}}}}}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/distributed_jobs_v2/cluster/plans/": {"get": {"operationId": "get-distributed-jobs-v2-cluster-plans", "summary": "Training Cluster Plans", "tags": ["Training Cluster"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "variant", "in": "query", "required": true, "description": "Cluster variant", "schema": {"type": "string", "enum": ["e2e"]}}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"sku_id": {"type": "integer", "example": 309}, "name": {"type": "string", "example": "GDC.8xH10080-208.2000GB_SXM_v1"}, "series": {"type": "string", "example": "GPU"}, "cpu": {"type": "string", "example": "208"}, "gpu": {"type": "string", "nullable": true, "example": "8"}, "memory": {"type": "string", "example": "2000GB"}, "gpu_memory": {"type": "string", "example": "640GB"}, "sku_type": {"type": "string", "example": "GDC-8xH10080"}, "is_free": {"type": "boolean", "example": false}, "is_active": {"type": "boolean", "example": true}, "plans": {"type": "array", "items": {"type": "object", "properties": {"sku_item_price_id": {"type": "integer", "example": 3416}, "sku_type": {"type": "string", "enum": ["hourly", "committed"], "example": "hourly"}, "committed_days": {"type": "integer", "example": 0}, "unit_price": {"type": "number", "example": 1995.2}, "currency": {"type": "string", "example": "INR"}, "is_active": {"type": "boolean", "example": true}, "description": {"type": "string", "nullable": true, "example": "Hourly Compute Instance: distributed_job"}, "location": {"type": "string", "example": "Delhi"}}}}, "gpu_card_type": {"type": "string", "nullable": true, "example": "H100"}, "local_storage_in_gb": {"type": "integer", "example": 0}, "available_inventory_count": {"type": "integer", "example": 0}, "variant": {"type": "string", "example": "e2e"}, "category": {"type": "string", "example": "distributed_job"}, "no_of_nodes": {"type": "integer", "example": 1}, "optimal_rack": {"type": "string", "nullable": true, "example": null}, "is_inventory_available": {"type": "boolean", "example": false}}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/distributed_jobs_v2/cluster/": {"get": {"operationId": "get-distributed-jobs-v2-cluster", "summary": "List Training Clusters", "tags": ["Training Cluster"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "page_no", "in": "query", "required": false, "description": "The page number from which you want your page search results to be displayed.", "schema": {"type": "integer", "minimum": 0}}, {"name": "per_page", "in": "query", "required": false, "description": "Number of results per page", "schema": {"type": "integer", "minimum": 0}}], "responses": {"200": {"description": "Successful response with a list of training clusters.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 101}, "name": {"type": "string", "example": "training-cluster-010125103045"}, "created_by": {"type": "object", "properties": {"id": {"type": "integer", "example": 1001}, "name": {"type": "string", "example": "John Doe"}, "email": {"type": "string", "example": "user@example.com"}, "username": {"type": "string", "example": "user@example.com"}, "is_primary_contact": {"type": "boolean", "example": true}, "currency": {"type": "string", "example": "INR"}, "is_suspended": {"type": "boolean", "example": false}}}, "no_of_nodes": {"type": "integer", "example": 1}, "no_of_gpu": {"type": "string", "example": "8"}, "no_of_cpu": {"type": "string", "example": "208"}, "node_memory": {"type": "string", "example": "2000GB"}, "created_at": {"type": "string", "format": "date-time", "example": "2025-01-15T10:30:00Z"}, "available_gpu": {"type": "integer", "example": 0}, "available_cpu": {"type": "integer", "example": 0}, "available_memory": {"type": "string", "example": "0GB"}, "status": {"type": "string", "example": "Creating"}, "sku_details": {"type": "object", "properties": {"specs": {"type": "object", "properties": {"sku_id": {"type": "integer", "example": 309}, "name": {"type": "string", "example": "GDC.8xH10080-208.2000GB_SXM_v1"}, "series": {"type": "string", "example": "GPU"}, "cpu": {"type": "integer", "example": 208}, "gpu": {"type": "integer", "example": 8}, "memory": {"type": "integer", "example": 2000}, "ephemeral_storage": {"type": "integer", "example": 0}, "gpu_memory": {"type": "integer", "example": 640}, "is_free": {"type": "boolean", "example": false}, "is_active": {"type": "boolean", "example": true}, "local_storage_in_gb": {"type": "integer", "example": 0}, "sku_type": {"type": "string", "example": "GDC-8xH10080"}, "gpu_card_type": {"type": "string", "nullable": true, "example": "H100"}, "category": {"type": "string", "example": "distributed_job"}, "variant": {"type": "string", "example": "e2e"}, "no_of_nodes": {"type": "integer", "example": 1}}}, "plan": {"type": "object", "properties": {"sku_item_price_id": {"type": "integer", "example": 3416}, "sku_type": {"type": "string", "enum": ["hourly", "committed"], "example": "hourly"}, "committed_days": {"type": "integer", "example": 0}, "unit_price": {"type": "number", "example": 1995.2}, "currency": {"type": "string", "example": "INR"}, "is_active": {"type": "boolean", "example": true}, "description": {"type": "string", "nullable": true, "example": "Hourly Compute Instance: distributed_job"}, "location": {"type": "string", "example": "Delhi"}}}}}, "private_cloud_name": {"type": "string", "nullable": true, "example": null}, "private_cloud_id": {"type": "integer", "nullable": true, "example": null}, "has_local_storage": {"type": "boolean", "example": false}, "image_version": {"type": "object", "properties": {"id": {"type": "integer", "example": 2}, "version": {"type": "string", "example": "v2-slurm25.11-ubuntu24.04"}, "description": {"type": "string", "example": ""}, "tags": {"type": "array", "items": {"type": "string"}, "example": []}, "name": {"type": "string", "example": "Ubuntu Slurm"}, "slug_name": {"type": "string", "example": "ubuntu-slurm"}, "framework": {"type": "string", "example": "Slurm"}, "is_internal": {"type": "boolean", "example": false}}}}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}, "total_page_number": {"type": "integer", "example": 1}, "total_count": {"type": "integer", "example": 1}}}}}}}}, "post": {"operationId": "post-distributed-jobs-v2-cluster", "summary": "Create Training Cluster", "tags": ["Training Cluster"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"name": {"type": "string", "description": "Name of the training cluster."}, "image_version_id": {"type": "integer", "description": "ID of the image version to use for cluster nodes (Ubuntu Slurm or NeMo)."}, "ssh_key_ids": {"type": "array", "items": {"type": "integer"}, "description": "List of SSH key IDs to attach to the cluster login node."}, "security_group_id": {"type": "integer", "description": "Security group ID controlling inbound and outbound traffic to cluster nodes."}, "script_added": {"type": "boolean", "description": "Whether a lifecycle script has been provided."}, "lifecycle_script": {"type": "string", "description": "Script executed on each node after the cluster starts."}, "sfs_mount_list": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer"}, "name": {"type": "string"}, "mount_path": {"type": "string"}}}, "description": "Shared File System volumes to mount on cluster nodes."}, "pfs_mount_list": {"type": "array", "items": {"type": "object"}, "description": "Parallel File System volumes to mount on cluster nodes."}, "dataset_mount_list": {"type": "array", "items": {"type": "object"}, "description": "Read-only dataset volumes to mount on cluster nodes."}, "sku_id": {"type": "integer", "description": "SKU ID for the cluster node type."}, "no_of_nodes": {"type": "integer", "description": "Number of nodes in the cluster."}, "sku_item_price_id": {"type": "integer", "description": "SKU item price ID for the cluster plan. This value is region-specific."}}, "required": ["name", "image_version_id", "ssh_key_ids", "security_group_id", "sku_id", "no_of_nodes", "sku_item_price_id"]}}}, "required": true}, "responses": {"201": {"description": "Cluster created successfully.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 201}, "data": {"type": "object", "properties": {"id": {"type": "integer", "example": 101}, "name": {"type": "string", "example": "training-cluster-010125103045"}, "created_by": {"type": "object", "properties": {"id": {"type": "integer", "example": 1001}, "name": {"type": "string", "example": "John Doe"}, "email": {"type": "string", "example": "user@example.com"}, "username": {"type": "string", "example": "user@example.com"}, "is_primary_contact": {"type": "boolean", "example": true}, "currency": {"type": "string", "example": "INR"}, "is_suspended": {"type": "boolean", "example": false}}}, "no_of_nodes": {"type": "integer", "example": 1}, "created_at": {"type": "string", "format": "date-time", "example": "2025-01-15T10:30:00Z"}, "private_cloud_id": {"type": "integer", "nullable": true, "example": null}, "private_cloud_name": {"type": "string", "nullable": true, "example": null}, "sku_details": {"type": "object", "properties": {"specs": {"type": "object", "properties": {"sku_id": {"type": "integer", "example": 139}, "name": {"type": "string", "example": "C3.32GB"}, "series": {"type": "string", "example": "CPU"}, "cpu": {"type": "integer", "example": 8}, "gpu": {"type": "integer", "example": 0}, "memory": {"type": "integer", "example": 32}, "ephemeral_storage": {"type": "integer", "example": 0}, "gpu_memory": {"type": "integer", "example": 0}, "is_free": {"type": "boolean", "example": false}, "is_active": {"type": "boolean", "example": true}, "local_storage_in_gb": {"type": "integer", "example": 0}, "sku_type": {"type": "string", "example": "C3-250GB"}, "gpu_card_type": {"type": "string", "nullable": true, "example": null}, "category": {"type": "string", "example": "distributed_job"}, "variant": {"type": "string", "example": "e2e"}, "no_of_nodes": {"type": "integer", "example": 1}}}, "plan": {"type": "object", "properties": {"sku_item_price_id": {"type": "integer", "example": 645}, "sku_type": {"type": "string", "enum": ["hourly", "committed"], "example": "hourly"}, "committed_days": {"type": "integer", "example": 0}, "unit_price": {"type": "number", "example": 12.3}, "currency": {"type": "string", "example": "INR"}, "is_active": {"type": "boolean", "example": true}, "description": {"type": "string", "nullable": true, "example": null}, "location": {"type": "string", "example": "Delhi"}}}}}, "total_gpu": {"type": "integer", "example": 0}, "total_cpu": {"type": "integer", "example": 0}, "total_memory": {"type": "string", "example": "0 GB"}, "available_gpu": {"type": "integer", "example": 0}, "available_cpu": {"type": "integer", "example": 0}, "available_memory": {"type": "string", "example": "0 GB"}, "worker_nodes": {"type": "array", "items": {"type": "object"}, "example": []}, "has_local_storage": {"type": "boolean", "example": false}, "local_storage_per_node": {"type": "integer", "nullable": true, "example": null}, "status": {"type": "string", "example": "Creating"}, "image_pull_policy": {"type": "string", "example": "IfNotPresent"}, "image_version": {"type": "object", "properties": {"id": {"type": "integer", "example": 2}, "version": {"type": "string", "example": "v2-slurm25.11-ubuntu24.04"}, "description": {"type": "string", "example": ""}, "tags": {"type": "array", "items": {"type": "string"}, "example": []}, "name": {"type": "string", "example": "Ubuntu Slurm"}, "slug_name": {"type": "string", "example": "ubuntu-slurm"}, "framework": {"type": "string", "example": "Slurm"}, "is_internal": {"type": "boolean", "example": false}}}, "ssh_keys": {"type": "array", "items": {"type": "object", "properties": {"pk": {"type": "integer", "example": 1001}, "label": {"type": "string", "example": "my-ssh-key"}, "ssh_key": {"type": "string", "example": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAAB... user@example.com"}}}}, "ssh_public_ip": {"type": "string", "example": ""}, "has_floating_ip": {"type": "boolean", "example": true}, "reserve_ip": {"type": "array", "items": {"type": "object"}, "example": []}, "clone_data": {"type": "object", "properties": {"name": {"type": "string", "example": "training-cluster-010125103045"}, "image_version_id": {"type": "integer", "example": 2}, "ssh_key_ids": {"type": "array", "items": {"type": "integer"}, "example": [1001]}, "security_group_id": {"type": "integer", "example": 1001}, "script_added": {"type": "boolean", "example": false}, "lifecycle_script": {"type": "string", "example": ""}, "sfs_mount_list": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 1001}, "name": {"type": "string", "example": "tir-file-system-010125103000"}, "mount_path": {"type": "string", "example": "/shared"}}}, "example": []}, "pfs_mount_list": {"type": "array", "items": {"type": "object"}, "example": []}, "dataset_mount_list": {"type": "array", "items": {"type": "object"}, "example": []}, "sku_id": {"type": "integer", "example": 139}, "no_of_nodes": {"type": "integer", "example": 1}, "sku_item_price_id": {"type": "integer", "example": 645}, "project_id": {"type": "integer", "example": 10001}}}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Cluster created successfully"}}}}}}, "400": {"description": "Bad request due to invalid parameters.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 400}, "errors": {"type": "object", "example": {"sku_id": ["This field is required."]}}, "message": {"type": "string", "example": "Bad Request"}}}}}}, "401": {"description": "Unauthorized \u2014 missing or invalid API key.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 401}, "message": {"type": "string", "example": "Unauthorized access."}}}}}}}}}, "/distributed_jobs_v2/cluster/{Cluster_Id}/": {"get": {"operationId": "get-distributed-jobs-v2-cluster-cluster-id", "summary": "Training Cluster Details", "tags": ["Training Cluster"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "Cluster_Id", "in": "path", "required": true, "description": "Cluster ID", "schema": {"type": "integer", "minimum": 0}}], "responses": {"200": {"description": "Successful response with training cluster details.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"id": {"type": "integer", "example": 101}, "name": {"type": "string", "example": "training-cluster-010125103045"}, "created_by": {"type": "object", "properties": {"id": {"type": "integer", "example": 1001}, "name": {"type": "string", "example": "John Doe"}, "email": {"type": "string", "example": "user@example.com"}, "username": {"type": "string", "example": "user@example.com"}, "is_primary_contact": {"type": "boolean", "example": true}, "currency": {"type": "string", "example": "INR"}, "is_suspended": {"type": "boolean", "example": false}}}, "no_of_nodes": {"type": "integer", "example": 1}, "created_at": {"type": "string", "format": "date-time", "example": "2025-01-15T10:30:00Z"}, "private_cloud_id": {"type": "integer", "nullable": true, "example": null}, "private_cloud_name": {"type": "string", "nullable": true, "example": null}, "sku_details": {"type": "object", "properties": {"specs": {"type": "object", "properties": {"sku_id": {"type": "integer", "example": 309}, "name": {"type": "string", "example": "GDC.8xH10080-208.2000GB_SXM_v1"}, "series": {"type": "string", "example": "GPU"}, "cpu": {"type": "integer", "example": 208}, "gpu": {"type": "integer", "example": 8}, "memory": {"type": "integer", "example": 2000}, "ephemeral_storage": {"type": "integer", "example": 0}, "gpu_memory": {"type": "integer", "example": 640}, "is_free": {"type": "boolean", "example": false}, "is_active": {"type": "boolean", "example": true}, "local_storage_in_gb": {"type": "integer", "example": 0}, "sku_type": {"type": "string", "example": "GDC-8xH10080"}, "gpu_card_type": {"type": "string", "nullable": true, "example": "H100"}, "category": {"type": "string", "example": "distributed_job"}, "variant": {"type": "string", "example": "e2e"}, "no_of_nodes": {"type": "integer", "example": 1}}}, "plan": {"type": "object", "properties": {"sku_item_price_id": {"type": "integer", "example": 3416}, "sku_type": {"type": "string", "enum": ["hourly", "committed"], "example": "hourly"}, "committed_days": {"type": "integer", "example": 0}, "unit_price": {"type": "number", "example": 1995.2}, "currency": {"type": "string", "example": "INR"}, "is_active": {"type": "boolean", "example": true}, "description": {"type": "string", "nullable": true, "example": "Hourly Compute Instance: distributed_job"}, "location": {"type": "string", "example": "Delhi"}}}}}, "total_gpu": {"type": "integer", "example": 8}, "total_cpu": {"type": "integer", "example": 208}, "total_memory": {"type": "string", "example": "2000 GB"}, "available_gpu": {"type": "integer", "example": 0}, "available_cpu": {"type": "integer", "example": 0}, "available_memory": {"type": "string", "example": "0 GB"}, "worker_nodes": {"type": "array", "items": {"type": "object"}, "example": []}, "has_local_storage": {"type": "boolean", "example": false}, "local_storage_per_node": {"type": "integer", "nullable": true, "example": null}, "status": {"type": "string", "example": "Running"}, "image_pull_policy": {"type": "string", "example": "IfNotPresent"}, "image_version": {"type": "object", "properties": {"id": {"type": "integer", "example": 2}, "version": {"type": "string", "example": "v2-slurm25.11-ubuntu24.04"}, "description": {"type": "string", "example": ""}, "tags": {"type": "array", "items": {"type": "string"}, "example": []}, "name": {"type": "string", "example": "Ubuntu Slurm"}, "slug_name": {"type": "string", "example": "ubuntu-slurm"}, "framework": {"type": "string", "example": "Slurm"}, "is_internal": {"type": "boolean", "example": false}}}, "ssh_keys": {"type": "array", "items": {"type": "object", "properties": {"pk": {"type": "integer", "example": 1001}, "label": {"type": "string", "example": "my-ssh-key"}, "ssh_key": {"type": "string", "example": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAAB... user@example.com"}}}}, "ssh_public_ip": {"type": "string", "example": "203.0.113.10"}, "has_floating_ip": {"type": "boolean", "example": true}, "reserve_ip": {"type": "array", "items": {"type": "object"}, "example": []}, "clone_data": {"type": "object", "properties": {"name": {"type": "string", "example": "training-cluster-010125103045"}, "sku_id": {"type": "integer", "example": 309}, "project_id": {"type": "integer", "example": 10001}, "no_of_nodes": {"type": "integer", "example": 1}, "ssh_key_ids": {"type": "array", "items": {"type": "integer"}, "example": [1001]}, "script_added": {"type": "boolean", "example": false}, "pfs_mount_list": {"type": "array", "items": {"type": "object"}, "example": []}, "sfs_mount_list": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 1001}, "name": {"type": "string", "example": "tir-file-system-010125103000"}, "mount_path": {"type": "string", "example": "/shared"}}}, "example": []}, "image_version_id": {"type": "integer", "example": 2}, "lifecycle_script": {"type": "string", "example": ""}, "security_group_id": {"type": "integer", "example": 1001}, "sku_item_price_id": {"type": "integer", "example": 3416}, "dataset_mount_list": {"type": "array", "items": {"type": "object"}, "example": []}}}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}, "put": {"operationId": "put-distributed-jobs-v2-cluster-cluster-id", "summary": "Cluster Actions", "tags": ["Training Cluster"], "description": "Performs an action on a running Training Cluster. The `action` field in the request body determines the operation. Additional fields are required depending on the action:\n\n| Action | Required Fields | Description |\n|--------|----------------|-------------|\n| `update_ssh_keys` | `ssh_key_ids` | Replace SSH keys on all cluster nodes |\n| `update_image` | `image_version_id` | Update the container image on all cluster nodes |\n| `restart_workers` | \u2014 | Restart all compute (worker) nodes without restarting the Slurm controller |\n| `restart_cluster` | \u2014 | Restart the full cluster including the Slurm controller and all nodes |\n| `scale_cluster` | `additional_nodes` | Add nodes to a running cluster without teardown or workload disruption |\n| `attach_ip` | `reserved_ip_id` | Attach a reserved public IP to the cluster. Returns a Reserved IP object instead of a cluster object. |\n| `detach_ip` | `reserved_ip_id`, `ip_type` | Detach a reserved public IP from the cluster. Returns an empty data object. |\n| `add_security_group` | `security_groups_ids` | Attach one or more security groups to the cluster. Returns a success string. |\n| `remove_security_group` | `security_group_id` | Remove a security group from the cluster. Returns a success string. |\n", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "Cluster_Id", "in": "path", "required": true, "description": "Cluster ID", "schema": {"type": "integer", "minimum": 0}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "required": ["action"], "properties": {"action": {"type": "string", "enum": ["update_ssh_keys", "update_image", "restart_workers", "restart_cluster", "scale_cluster", "attach_ip", "detach_ip", "add_security_group", "remove_security_group"], "description": "Action to perform on the cluster. Each action may require additional fields."}, "ssh_key_ids": {"type": "array", "items": {"type": "integer"}, "description": "Required for `update_ssh_keys`. List of SSH key IDs to attach to all cluster nodes."}, "image_version_id": {"type": "integer", "description": "Required for `update_image`. ID of the image version to apply to all cluster nodes."}, "additional_nodes": {"type": "integer", "description": "Required for `scale_cluster`. Number of nodes to add to the running cluster."}, "reserved_ip_id": {"type": "integer", "description": "Required for `attach_ip` and `detach_ip`. ID of the reserved IP."}, "ip_type": {"type": "string", "description": "Required for `detach_ip`. Type of IP being detached.", "enum": ["reserved"]}, "security_groups_ids": {"type": "array", "items": {"type": "integer"}, "description": "Required for `add_security_group`. List of security group IDs to attach to the cluster."}, "security_group_id": {"type": "integer", "description": "Required for `remove_security_group`. ID of the security group to remove from the cluster."}}}}}, "required": true}, "responses": {"200": {"description": "Action performed successfully. Returns the updated cluster object.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"id": {"type": "integer", "example": 101}, "name": {"type": "string", "example": "training-cluster-010125103045"}, "created_by": {"type": "object", "properties": {"id": {"type": "integer", "example": 1001}, "name": {"type": "string", "example": "John Doe"}, "email": {"type": "string", "example": "user@example.com"}, "username": {"type": "string", "example": "user@example.com"}, "is_primary_contact": {"type": "boolean", "example": true}, "currency": {"type": "string", "example": "INR"}, "is_suspended": {"type": "boolean", "example": false}}}, "no_of_nodes": {"type": "integer", "example": 1}, "created_at": {"type": "string", "format": "date-time", "example": "2025-01-15T10:30:00Z"}, "private_cloud_id": {"type": "integer", "nullable": true, "example": null}, "private_cloud_name": {"type": "string", "nullable": true, "example": null}, "sku_details": {"type": "object", "properties": {"specs": {"type": "object", "properties": {"sku_id": {"type": "integer", "example": 139}, "name": {"type": "string", "example": "C3.32GB"}, "series": {"type": "string", "example": "CPU"}, "cpu": {"type": "integer", "example": 8}, "gpu": {"type": "integer", "example": 0}, "memory": {"type": "integer", "example": 32}, "ephemeral_storage": {"type": "integer", "example": 0}, "gpu_memory": {"type": "integer", "example": 0}, "is_free": {"type": "boolean", "example": false}, "is_active": {"type": "boolean", "example": true}, "local_storage_in_gb": {"type": "integer", "example": 0}, "sku_type": {"type": "string", "example": "C3-250GB"}, "gpu_card_type": {"type": "string", "nullable": true, "example": null}, "category": {"type": "string", "example": "distributed_job"}, "variant": {"type": "string", "example": "e2e"}, "no_of_nodes": {"type": "integer", "example": 1}}}, "plan": {"type": "object", "properties": {"sku_item_price_id": {"type": "integer", "example": 645}, "sku_type": {"type": "string", "enum": ["hourly", "committed"], "example": "hourly"}, "committed_days": {"type": "integer", "example": 0}, "unit_price": {"type": "number", "example": 12.3}, "currency": {"type": "string", "example": "INR"}, "is_active": {"type": "boolean", "example": true}, "description": {"type": "string", "nullable": true, "example": null}, "location": {"type": "string", "example": "Delhi"}}}}}, "total_gpu": {"type": "integer", "example": 0}, "total_cpu": {"type": "integer", "example": 0}, "total_memory": {"type": "string", "example": "0 GB"}, "available_gpu": {"type": "integer", "example": 0}, "available_cpu": {"type": "integer", "example": 0}, "available_memory": {"type": "string", "example": "0 GB"}, "worker_nodes": {"type": "array", "items": {"type": "object"}, "example": []}, "has_local_storage": {"type": "boolean", "example": false}, "local_storage_per_node": {"type": "integer", "nullable": true, "example": null}, "status": {"type": "string", "example": "Running"}, "image_pull_policy": {"type": "string", "example": "IfNotPresent"}, "image_version": {"type": "object", "properties": {"id": {"type": "integer", "example": 2}, "version": {"type": "string", "example": "v2-slurm25.11-ubuntu24.04"}, "description": {"type": "string", "example": ""}, "tags": {"type": "array", "items": {"type": "string"}, "example": []}, "name": {"type": "string", "example": "Ubuntu Slurm"}, "slug_name": {"type": "string", "example": "ubuntu-slurm"}, "framework": {"type": "string", "example": "Slurm"}, "is_internal": {"type": "boolean", "example": false}}}, "ssh_keys": {"type": "array", "items": {"type": "object", "properties": {"pk": {"type": "integer", "example": 1001}, "label": {"type": "string", "example": "my-ssh-key"}, "ssh_key": {"type": "string", "example": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAAB... user@example.com"}}}}, "ssh_public_ip": {"type": "string", "example": "203.0.113.10"}, "has_floating_ip": {"type": "boolean", "example": true}, "reserve_ip": {"type": "array", "items": {"type": "object"}, "example": []}, "clone_data": {"type": "object", "properties": {"name": {"type": "string", "example": "training-cluster-010125103045"}, "sku_id": {"type": "integer", "example": 139}, "project_id": {"type": "integer", "example": 10001}, "no_of_nodes": {"type": "integer", "example": 1}, "ssh_key_ids": {"type": "array", "items": {"type": "integer"}, "example": [1001, 1002]}, "script_added": {"type": "boolean", "example": false}, "pfs_mount_list": {"type": "array", "items": {"type": "object"}, "example": []}, "sfs_mount_list": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 1001}, "name": {"type": "string", "example": "tir-file-system-010125103000"}, "mount_path": {"type": "string", "example": "/shared"}}}, "example": []}, "image_version_id": {"type": "integer", "example": 2}, "lifecycle_script": {"type": "string", "example": ""}, "security_group_id": {"type": "integer", "example": 1001}, "sku_item_price_id": {"type": "integer", "example": 645}, "dataset_mount_list": {"type": "array", "items": {"type": "object"}, "example": []}}}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Cluster updated successfully"}}}}}}}}, "delete": {"operationId": "delete-distributed-jobs-v2-cluster-cluster-id", "summary": "Delete Training Cluster", "tags": ["Training Cluster"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "Cluster_Id", "in": "path", "required": true, "description": "Cluster ID", "schema": {"type": "integer", "minimum": 0}}], "responses": {"200": {"description": "Successful response when the cluster is deleted.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "string", "example": "Cluster deleted successfully"}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/private-cluster/": {"get": {"operationId": "get-private-cluster", "summary": "Private Cluster List", "tags": ["Private Cluster"], "parameters": [{"name": "page_no", "in": "query", "required": false, "description": "The page number from which you want your page search results to be displayed.", "schema": {"type": "integer", "minimum": 0}}, {"name": "per_page", "in": "query", "required": false, "description": "Number of results per page", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "List of All Private Cluster", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 163}, "name": {"type": "string", "example": "p-cluster-02191709474"}, "sku_details": {"type": "object", "properties": {"specs": {"type": "object", "properties": {"sku_id": {"type": "integer", "example": 74}, "name": {"type": "string", "example": "A100"}, "series": {"type": "string", "example": "GPU"}, "cpu": {"type": "integer", "example": 1}, "gpu": {"type": "integer", "example": 1}, "memory": {"type": "integer", "example": 40}, "ephemeral_storage": {"type": "integer", "example": 1}, "gpu_memory": {"type": "integer", "example": 0}, "is_free": {"type": "boolean", "example": false}, "is_active": {"type": "boolean", "example": true}, "gpu_switch_type": {"type": "string", "nullable": true, "example": null}, "local_storage_in_gb": {"type": "integer", "example": 0}, "sku_type": {"type": "string", "example": "A100"}, "gpu_card_type": {"type": "string", "example": "A100"}, "category": {"type": "string", "example": "private_cloud"}}}, "plan": {"type": "object", "properties": {"sku_item_price_id": {"type": "integer", "example": 195}, "sku_type": {"type": "string", "example": "hourly"}, "committed_days": {"type": "integer", "example": 0}, "unit_price": {"type": "number", "format": "float", "example": 100}, "currency": {"type": "string", "example": "INR"}, "is_active": {"type": "boolean", "example": true}, "description": {"type": "string", "example": "gpu_private_cloud"}}}}}, "created_by": {"type": "object", "properties": {"id": {"type": "integer", "example": 871}, "name": {"type": "string", "example": "abc"}, "email": {"type": "string", "example": "abc+acl@e2enetworks.com"}, "username": {"type": "string", "example": "abc+acl@e2enetworks.com"}}}, "updated_at": {"type": "string", "format": "date-time", "example": "2025-02-20T05:31:28.730991Z"}, "created_at": {"type": "string", "format": "date-time", "example": "2025-02-20T05:31:28.673753Z"}, "nodes_count": {"type": "integer", "example": 1}, "committed_info": {"type": "object", "nullable": true, "example": null}}}}, "errors": {"type": "object", "additionalProperties": false, "example": {}}, "message": {"type": "string", "example": "Success"}, "total_page_number": {"type": "integer", "example": 1}, "total_count": {"type": "integer", "example": 1}}}}}}}}, "post": {"operationId": "post-private-cluster", "summary": "Create Private Cluster", "tags": ["Private Cluster"], "parameters": [{"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"name": {"type": "string", "description": "Name of the private cluster."}, "nodes_count": {"type": "integer", "description": "Number of nodes in the cluster."}, "is_mig_enabled": {"type": "boolean", "description": "Whether Multi-Instance GPU (MIG) is enabled."}, "sku_id": {"type": "integer", "description": "SKU ID for the cluster node type."}, "sku_item_price_id": {"type": "integer", "description": "SKU item price ID for the cluster. This value is region-specific."}}, "required": ["name", "nodes_count", "sku_id", "sku_item_price_id"]}}}, "required": true}, "responses": {"200": {"description": "Private cluster created successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "string", "example": "Private cluster created successfully"}, "errors": {"type": "object", "additionalProperties": false, "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/private-cluster/{Private_Cluster_id}/": {"get": {"operationId": "get-private-cluster-private-cluster-id", "summary": "Private Cluster Details", "tags": ["Private Cluster"], "parameters": [{"name": "Private_Cluster_id", "in": "path", "required": true, "schema": {"type": "integer"}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Each Private Cluster Detail.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"id": {"type": "integer", "example": 163}, "name": {"type": "string", "example": "p-cluster-02191709474"}, "sku_details": {"type": "object", "properties": {"specs": {"type": "object", "properties": {"sku_id": {"type": "integer", "example": 74}, "name": {"type": "string", "example": "A100"}, "series": {"type": "string", "example": "GPU"}, "cpu": {"type": "integer", "example": 1}, "gpu": {"type": "integer", "example": 1}, "memory": {"type": "integer", "example": 40}, "ephemeral_storage": {"type": "integer", "example": 1}, "gpu_memory": {"type": "integer", "example": 0}, "is_free": {"type": "boolean", "example": false}, "is_active": {"type": "boolean", "example": true}, "gpu_switch_type": {"type": "string", "nullable": true, "example": null}, "local_storage_in_gb": {"type": "integer", "example": 0}, "sku_type": {"type": "string", "example": "A100"}, "gpu_card_type": {"type": "string", "example": "A100"}, "category": {"type": "string", "example": "private_cloud"}}}, "plan": {"type": "object", "properties": {"sku_item_price_id": {"type": "integer", "example": 195}, "sku_type": {"type": "string", "example": "hourly"}, "committed_days": {"type": "integer", "example": 0}, "unit_price": {"type": "number", "format": "float", "example": 100}, "currency": {"type": "string", "example": "INR"}, "is_active": {"type": "boolean", "example": true}, "description": {"type": "string", "example": "gpu_private_cloud"}}}}}, "created_by": {"type": "object", "properties": {"id": {"type": "integer", "example": 871}, "name": {"type": "string", "example": "Vishnukant Shukla"}, "email": {"type": "string", "example": "vishnukant.shukla+acl@e2enetworks.com"}, "username": {"type": "string", "example": "vishnukant.shukla+acl@e2enetworks.com"}}}, "updated_at": {"type": "string", "format": "date-time", "example": "2025-02-20T05:31:28.730991Z"}, "created_at": {"type": "string", "format": "date-time", "example": "2025-02-20T05:31:28.673753Z"}, "nodes_count": {"type": "integer", "example": 1}, "committed_info": {"type": "object", "nullable": true, "example": null}}}, "errors": {"type": "object", "additionalProperties": false, "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}, "delete": {"operationId": "delete-private-cluster-private-cluster-id", "summary": "Delete Private Cluster", "tags": ["Private Cluster"], "parameters": [{"name": "Private_Cluster_id", "in": "path", "required": true, "schema": {"type": "integer"}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Private cluster deleted successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "string", "example": "Private cluster deleted successfully"}, "errors": {"type": "object", "additionalProperties": false, "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/private-cluster/{Private_Cluster_id}/nodes-info/": {"get": {"operationId": "get-private-cluster-private-cluster-id-nodes-info", "summary": "Private Cluster Node List", "tags": ["Private Cluster"], "parameters": [{"name": "Private_Cluster_id", "in": "path", "required": true, "schema": {"type": "integer"}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"name": {"type": "string", "example": "e2e_node_202"}, "worker_type": {"type": "string", "example": "private_cloud_56_GDC-8xH10080"}, "status": {"type": "string", "example": "Ready"}, "total_cpu": {"type": "integer", "example": 224}, "total_gpu": {"type": "integer", "example": 8}, "free_cpu": {"type": "integer", "example": 224}, "allocated_cpu": {"type": "integer", "example": 0}, "allocated_gpu": {"type": "integer", "example": 0}, "free_gpu": {"type": "integer", "example": 8}, "free_memory": {"type": "integer", "example": 2164}, "free_ephemeral_storage": {"type": "integer", "example": 783}}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/private-cluster/{Private_Cluster_id}/nodes-info/{node_name}/": {"get": {"operationId": "get-private-cluster-private-cluster-id-nodes-info-node-name", "summary": "Monitoring", "tags": ["Private Cluster"], "parameters": [{"name": "Private_Cluster_id", "in": "path", "required": true, "schema": {"type": "integer"}}, {"name": "node_name", "in": "path", "required": true, "schema": {"type": "string"}, "example": "e2e_node_253"}, {"name": "interval", "in": "query", "required": true, "description": "interval of the Private_Cluster", "schema": {"type": "string", "enum": ["5m", "1h", "1d", "7d", "1mn"]}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "\n\n## All time plans\n\n**Find Template ID here using software ID for each DBaaS - [Template ID](https://docs.e2enetworks.com/api/myaccount/#/paths/rds-plans/get)**. Template Id is required for pricing plans here.\n\n| **Monitoring Period**  |  interval       |  \n|------------------------|-----------------| \n|      5 min             |       5m        |        \n|      1 hour            |       1h       | \n|      1 day             |       1d        |  \n|      7 days            |       7d        |  \n|      1 month           |       1mn       |  ", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"node_memory_MemTotal_bytes": {"type": "object", "properties": {"time_series": {"type": "array", "items": {"type": "string"}, "example": ["12:06:05PM", "12:06:20PM", "12:06:35PM", "12:06:50PM", "12:07:05PM"]}, "value_series": {"type": "array", "items": {"type": "string"}, "example": ["92.16097494066116", "92.17453237565253", "92.19093818556306", "92.20230057434853", "92.21072471230723"]}}}, "node_cpu_seconds_total": {"type": "object", "properties": {"time_series": {"type": "array", "items": {"type": "string"}, "example": ["12:06:05PM", "12:06:20PM", "12:06:35PM", "12:06:50PM", "12:07:05PM"]}, "value_series": {"type": "array", "items": {"type": "string"}, "example": ["7.094318181890147", "6.230681818296125", "6.252272727327767", "6.317045454687276", "6.315909091023397"]}}}, "node_disk_read_bytes_total": {"type": "object", "properties": {"time_series": {"type": "array", "items": {"type": "string"}, "example": ["12:06:05PM", "12:06:20PM", "12:06:35PM", "12:06:50PM", "12:07:05PM"]}, "value_series": {"type": "array", "items": {"type": "string"}, "example": ["91900170294272", "91900170818560", "91900170818560", "91900170818560", "91900170818560"]}}}, "node_disk_written_bytes_total": {"type": "object", "properties": {"time_series": {"type": "array", "items": {"type": "string"}, "example": ["12:06:05PM", "12:06:20PM", "12:06:35PM", "12:06:50PM", "12:07:05PM"]}, "value_series": {"type": "array", "items": {"type": "string"}, "example": ["6074665978880", "6074684582912", "6074699449344", "6074714261504", "6074729580032"]}}}, "gpu_temperature": {"type": "object", "properties": {"time_series": {"type": "array", "items": {"type": "string"}, "example": ["12:06:05PM", "12:06:20PM", "12:06:35PM", "12:06:50PM", "12:07:05PM"]}, "value_series": {"type": "array", "items": {"type": "string"}, "example": ["27", "27", "27", "27", "27"]}}}, "gpu_util": {"type": "object", "properties": {"time_series": {"type": "array", "items": {"type": "string"}, "example": ["12:06:05PM", "12:06:20PM", "12:06:35PM", "12:06:50PM", "12:07:05PM"]}, "value_series": {"type": "array", "items": {"type": "string"}, "example": ["0", "0", "0", "0", "0"]}}}, "node_disk_capacity": {"type": "integer", "example": 1572851396608}, "node_disk_used": {"type": "integer", "example": 1251752009728}, "node_memory_capacity": {"type": "integer", "example": 118492266496}, "node_used_memory": {"type": "integer", "example": 19927318528}, "name": {"type": "string", "example": "e2e_node_7"}, "worker_type": {"type": "string", "example": "private_cloud_164_A100"}, "status": {"type": "string", "example": "Ready"}, "total_cpu": {"type": "integer", "example": 16}, "total_gpu": {"type": "integer", "example": 1}, "free_cpu": {"type": "integer", "example": 15}, "allocated_cpu": {"type": "integer", "example": 0}, "allocated_gpu": {"type": "integer", "example": 0}, "free_gpu": {"type": "integer", "example": 1}, "free_memory": {"type": "integer", "example": 118}, "free_ephemeral_storage": {"type": "integer", "example": 1572}}}, "errors": {"type": "object", "additionalProperties": false, "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/private-cluster/{Private_Cluster_id}/deployed_resources/": {"get": {"operationId": "get-private-cluster-private-cluster-id-deployed-resources", "summary": "Deployed Resources", "tags": ["Private Cluster"], "parameters": [{"name": "Private_Cluster_id", "in": "path", "required": true, "schema": {"type": "integer"}}, {"name": "service_type", "in": "query", "required": true, "schema": {"type": "string", "enum": ["notebook", "inference_service", "vector_db"]}}, {"name": "page_no", "in": "query", "required": false, "description": "The page number from which you want your page search results to be displayed.", "schema": {"type": "integer", "minimum": 0}}, {"name": "per_page", "in": "query", "required": false, "description": "Number of results per page", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Successfully retrieved data (empty array in this case)", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object"}, "example": []}, "errors": {"type": "object", "additionalProperties": false, "example": {}}, "message": {"type": "string", "example": "Success"}, "total_page_number": {"type": "integer", "example": 1}, "total_count": {"type": "integer", "example": 0}}}}}}}}}}}