{"openapi": "3.0.3", "info": {"title": "TIR API - other", "description": "E2E TIR \u2014 the AI/ML platform: notebooks, foundation models, fine-tuning, inference endpoints, RAG, pipelines, and data.", "version": "1.0.0"}, "servers": [{"url": "https://api.e2enetworks.com/myaccount/api/v1/gpu"}], "paths": {"/users/iam-accounts/": {"get": {"operationId": "get-users-iam-accounts", "summary": "IAM Users", "tags": ["IAM Users"], "responses": {"200": {"description": "Successful response with user details and roles. The `id` field in each item is the **active_iam** value that should be passed as the `active_iam` query parameter in other TIR API calls.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "description": "The active IAM ID. Use this value as the `active_iam` query parameter in other API calls.", "example": 2421}, "owner": {"type": "object", "properties": {"id": {"type": "integer", "example": 3573}, "name": {"type": "string", "example": "Nipun"}, "email": {"type": "string", "example": "nipun.arora@e2enetworks.com"}, "username": {"type": "string", "example": "nipun.arora@e2enetworks.com"}, "phone": {"type": "string", "nullable": true, "example": null}, "is_primary_contact": {"type": "boolean", "example": true}, "primary_email": {"type": "string", "example": "nipun.arora@e2enetworks.com"}, "currency": {"type": "string", "example": "INR"}, "is_suspended": {"type": "boolean", "example": true}}}, "role": {"type": "string", "example": "Owner"}, "has_ai_labs_access": {"type": "boolean", "description": "Whether this IAM account has access to AI Labs.", "example": true}, "has_tir_access": {"type": "boolean", "description": "Whether this IAM account has access to TIR.", "example": true}}}}}}}}}}}}, "/gpu/plans-and-pricing/list/": {"get": {"operationId": "get-gpu-plans-and-pricing-list", "summary": "TIR \u2013 Plans & Pricing", "tags": ["Plans & Pricing"], "description": "Returns plans and pricing for TIR services.", "parameters": [{"name": "service", "in": "query", "required": true, "schema": {"type": "string", "enum": ["notebook", "rag", "dataset", "inference_service", "pipeline", "model_playground", "vector_db", "private_cloud", "distributed_job", "pfs", "reserve_ip", "ai_labs", "container_registry"]}}, {"name": "location", "in": "query", "required": true, "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "currency", "in": "query", "required": true, "schema": {"type": "string", "enum": ["INR", "USD"]}}], "responses": {"default": {"description": "Successful response"}}}}, "/gpu_service/sku/": {"get": {"operationId": "get-gpu-service-sku", "summary": "SKU List", "tags": ["SKU"], "description": "Returns available hardware plans (SKUs). Use `sku_item_price_id` from the response when creating an Instance or Virtual Machine.", "parameters": [{"name": "service", "in": "query", "required": true, "schema": {"type": "string", "enum": ["notebook", "vector_db", "pipeline", "inference_service", "private_cloud"]}}, {"name": "image_version_id", "in": "query", "required": false, "description": "Required for Notebook service. [**Find your Image Version ID here**](/paths/gpu_service-image/get)", "schema": {"type": "integer"}}, {"name": "framework", "in": "query", "required": false, "description": "Required for Inference", "schema": {"type": "string", "enum": ["vllm", "sglang", "dynamo", "pytorch", "triton", "custom", "llma", "codellama", "mistral-7b-instruct", "mixtral-8x7b-instruct", "gemma-2b-it", "llama-3-8b-instruct", "Phi-3-mini-128k-instruct", "llama-3_1-8b-instruct", "llama-3_2-3b-instruct", "llama-3_2-11b-vision-instruct", "stable_diffusion", "bge-large-en-v1_5", "bge-reranker-large", "stable_diffusion_xl", "yolov8", "nemo-rag", "stable-video-diffusion-img2vid-xt", "nemotron-3-8b-chat-4k-rlhf", "nvidia-nv-embed-v1", "tensorrt", "riva", "nemotron-3-nano-30b-a3b", "nemotron-nano-12b-v2-vl", "nemotron-speech-streaming-en-0.6b", "qwen3-235b-a22b-instruct-2507-fp8"]}}, {"name": "framework_version_id", "in": "query", "required": false, "description": "Required for Inference service. [**Find your Framework Version ID here**](/operations/get-framework-details)", "schema": {"type": "integer"}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Successful response with available plans", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"CPU": {"type": "array", "items": {"type": "object", "properties": {"sku_id": {"type": "integer", "example": 35}, "name": {"type": "string", "example": "C3.8GB_Free"}, "series": {"type": "string", "example": "CPU"}, "cpu": {"type": "string", "example": "4"}, "gpu": {"type": "string", "nullable": true, "example": null}, "memory": {"type": "string", "example": "8GB"}, "sku_type": {"type": "string", "example": "C3-250GB"}, "is_free": {"type": "boolean", "example": true}, "is_active": {"type": "boolean", "example": true}, "plans": {"type": "array", "items": {"type": "object", "properties": {"sku_item_price_id": {"type": "integer", "example": 86}, "sku_type": {"type": "string", "example": "hourly"}, "committed_days": {"type": "integer", "example": 0}, "unit_price": {"type": "number", "format": "float", "example": 0}, "currency": {"type": "string", "example": "INR"}, "is_active": {"type": "boolean", "example": true}, "description": {"type": "string", "nullable": true, "example": "Free-Tier Plan"}}}}, "gpu_switch_type": {"type": "string", "nullable": true, "example": null}, "gpu_card_type": {"type": "string", "nullable": true, "example": null}, "local_storage_in_gb": {"type": "integer", "example": 0}, "available_inventory_count": {"type": "integer", "example": 102}, "is_inventory_available": {"type": "boolean", "example": true}}}}, "GPU": {"type": "array", "items": {"type": "object", "properties": {"sku_id": {"type": "integer", "example": 76}, "name": {"type": "string", "example": "GDC.A100-16.115GB_Free"}, "series": {"type": "string", "example": "GPU"}, "cpu": {"type": "string", "example": "16"}, "gpu": {"type": "string", "example": "1"}, "memory": {"type": "string", "example": "115GB"}, "sku_type": {"type": "string", "example": "GDC.A10040"}, "is_free": {"type": "boolean", "example": true}, "is_active": {"type": "boolean", "example": true}, "plans": {"type": "array", "items": {"type": "object", "properties": {"sku_item_price_id": {"type": "integer", "example": 193}, "sku_type": {"type": "string", "example": "hourly"}, "committed_days": {"type": "integer", "example": 0}, "unit_price": {"type": "number", "format": "float", "example": 0}, "currency": {"type": "string", "example": "INR"}, "is_active": {"type": "boolean", "example": true}, "description": {"type": "string", "nullable": true, "example": "Free-Tier Plan"}}}}, "gpu_switch_type": {"type": "string", "nullable": true, "example": null}, "gpu_card_type": {"type": "string", "example": "A100"}, "local_storage_in_gb": {"type": "integer", "example": 0}, "available_inventory_count": {"type": "integer", "example": 0}, "is_inventory_available": {"type": "boolean", "example": false}}}}, "SPOT_INSTANCE": {"type": "array", "items": {"type": "object", "properties": {"sku_id": {"type": "integer", "example": 180}, "name": {"type": "string", "example": "Spot_GDC.1xH10080-26.250GB_SXM"}, "series": {"type": "string", "example": "SPOT_INSTANCE"}, "cpu": {"type": "string", "example": "26"}, "gpu": {"type": "string", "example": "1"}, "memory": {"type": "string", "example": "250GB"}, "sku_type": {"type": "string", "example": "SPOT-GDC-4xH10080"}, "is_free": {"type": "boolean", "example": false}, "is_active": {"type": "boolean", "example": true}, "plans": {"type": "array", "items": {"type": "object", "properties": {"sku_item_price_id": {"type": "integer", "example": 987}, "sku_type": {"type": "string", "example": "hourly"}, "committed_days": {"type": "integer", "example": 0}, "unit_price": {"type": "number", "format": "float", "example": 175}, "currency": {"type": "string", "example": "INR"}, "is_active": {"type": "boolean", "example": true}, "description": {"type": "string", "example": "Hourly Compute Instance notebook"}}}}, "gpu_switch_type": {"type": "string", "nullable": true, "example": null}, "gpu_card_type": {"type": "string", "example": "H100"}, "local_storage_in_gb": {"type": "integer", "example": 0}, "available_inventory_count": {"type": "integer", "example": 4}, "is_inventory_available": {"type": "boolean", "example": true}}}}}}}}}}}}}}, "/data_syncer/source-connectors/": {"get": {"operationId": "get-data-syncer-source-connectors", "summary": "List Source Types", "tags": ["Data Syncer"], "description": "Please select Service as **data_syncer**", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "service", "in": "query", "required": true, "schema": {"type": "string", "enum": ["notebook", "vector_db", "pipeline", "inference_service", "private_cloud"]}}], "responses": {"200": {"description": "A list of source connectors", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 1}, "source_type": {"type": "string", "example": "minio"}, "name": {"type": "string", "example": "MinIO"}, "icon_url": {"type": "string", "example": "/data-syncer-images/minio.png"}, "description": {"type": "string", "example": "MinIO is an open source object storage system."}}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/data_syncer/source/": {"get": {"operationId": "get-data-syncer-source", "summary": "List Sources", "tags": ["Data Syncer"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "page_no", "in": "query", "required": false, "description": "The page number from which you want your page search results to be displayed.", "schema": {"type": "integer", "minimum": 0}}, {"name": "per_page", "in": "query", "required": false, "description": "Number of results per page", "schema": {"type": "integer", "minimum": 0}}], "responses": {"200": {"description": "Successfully retrieved syncer sources", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "description": "Unique identifier of the syncer source.", "example": 214}, "name": {"type": "string", "description": "Name of the syncer source.", "example": "syncer-source-021917393333"}, "status": {"type": "string", "description": "Status of the syncer source.", "example": "active"}, "start_date": {"type": "string", "format": "date-time", "nullable": true, "description": "Start date of the syncer source.", "example": null}, "file_search_filter": {"type": "array", "items": {"type": "string"}, "description": "File search filter settings.", "example": []}, "file_size_upper_limit": {"type": "integer", "description": "Upper limit of file size.", "example": 0}, "file_size_lower_limit": {"type": "integer", "description": "Lower limit of file size.", "example": 0}, "path_array": {"type": "array", "items": {"type": "string"}, "description": "Array of file paths.", "example": []}, "regex_pattern": {"type": "string", "nullable": true, "description": "Regular expression pattern for file filtering.", "example": null}, "created_by": {"type": "object", "properties": {"id": {"type": "integer", "description": "ID of the creator.", "example": 4945}, "name": {"type": "string", "description": "Name of the creator.", "example": "Rahul Tanwar"}, "email": {"type": "string", "description": "Email of the creator.", "example": "rahul.tanwar@e2enetworks.com"}, "username": {"type": "string", "description": "Username of the creator.", "example": "rahul.tanwar@e2enetworks.com"}}}, "created_at": {"type": "string", "format": "date-time", "description": "Timestamp of creation.", "example": "2025-02-19T12:12:47.457714Z"}, "updated_at": {"type": "string", "format": "date-time", "description": "Timestamp of last update.", "example": "2025-02-19T12:12:47.549457Z"}, "source_type": {"type": "string", "description": "Type of the source.", "example": "minio"}, "source_connector": {"type": "object", "properties": {"id": {"type": "integer", "description": "ID of the source connector.", "example": 1}, "source_type": {"type": "string", "description": "Type of the source connector.", "example": "minio"}, "name": {"type": "string", "description": "Name of the source connector.", "example": "MinIO"}, "icon_url": {"type": "string", "description": "URL of the icon for the source connector.", "example": "/data-syncer-images/minio.png"}, "description": {"type": "string", "description": "Description of the source connector.", "example": "MinIO is an open source object storage system."}}}, "configuration": {"type": "object", "properties": {"bucket_name": {"type": "string", "description": "Name of the storage bucket.", "example": "test-r1"}, "endpoint_url": {"type": "string", "description": "Endpoint URL of the object storage.", "example": "objectstore.e2enetworks.net"}, "access_key": {"type": "string", "description": "Access key for authentication.", "example": "OYG8DNWGXK6TOQ2GX1PM"}, "prefix": {"type": "string", "description": "Prefix path within the bucket.", "example": "/"}}}}}}, "errors": {"type": "object", "description": "Contains error details if any.", "example": {}}, "message": {"type": "string", "description": "Response message.", "example": "Success"}, "total_page_number": {"type": "integer", "description": "Total number of pages available.", "example": 1}, "total_count": {"type": "integer", "description": "Total number of syncer sources available.", "example": 1}}}}}}}}, "post": {"operationId": "post-data-syncer-source", "summary": "Create Source", "tags": ["Data Syncer"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"name": {"type": "string", "description": "Name of the syncer source.", "example": "syncer-source-021917393333"}, "source_connector_id": {"type": "integer", "description": "ID of the source connector.", "example": 1}, "config": {"type": "object", "properties": {"endpoint_url": {"type": "string", "description": "Endpoint URL of the object storage.", "example": "objectstore.e2enetworks.net"}, "bucket_name": {"type": "string", "description": "Name of the storage bucket.", "example": "test-r1"}, "prefix": {"type": "string", "description": "Prefix path within the bucket.", "example": "/"}, "access_key": {"type": "string", "description": "Access key for authentication.", "example": "OYG8DNWGXK6TOQ2GX1PM"}, "secret_key": {"type": "string", "description": "Secret key for authentication.", "example": "4938ORM9U5KL046CNHSJGYH4X6YZ6OL114GRY0AN"}}}}}}}}, "responses": {"201": {"description": "Successfully created a syncer source", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 201}, "data": {"type": "object", "properties": {"id": {"type": "integer", "description": "Unique identifier of the syncer source.", "example": 215}, "name": {"type": "string", "description": "Name of the syncer source.", "example": "syncer-source-021917393333"}, "status": {"type": "string", "description": "Status of the syncer source.", "example": "active"}, "start_date": {"type": "string", "format": "date-time", "nullable": true, "description": "Start date of the syncer source.", "example": null}, "file_search_filter": {"type": "array", "items": {"type": "string"}, "description": "File search filter settings.", "example": []}, "file_size_upper_limit": {"type": "integer", "description": "Upper limit of file size.", "example": 0}, "file_size_lower_limit": {"type": "integer", "description": "Lower limit of file size.", "example": 0}, "path_array": {"type": "array", "items": {"type": "string"}, "description": "Array of file paths.", "example": []}, "regex_pattern": {"type": "string", "nullable": true, "description": "Regular expression pattern for file filtering.", "example": null}, "created_by": {"type": "object", "properties": {"id": {"type": "integer", "description": "ID of the creator.", "example": 4945}, "name": {"type": "string", "description": "Name of the creator.", "example": "Rahul Tanwar"}, "email": {"type": "string", "description": "Email of the creator.", "example": "rahul.tanwar@e2enetworks.com"}, "username": {"type": "string", "description": "Username of the creator.", "example": "rahul.tanwar@e2enetworks.com"}}}, "created_at": {"type": "string", "format": "date-time", "description": "Timestamp of creation.", "example": "2025-02-19T12:12:53.612072Z"}, "updated_at": {"type": "string", "format": "date-time", "description": "Timestamp of last update.", "example": "2025-02-19T12:12:53.711002Z"}, "source_type": {"type": "string", "description": "Type of the source.", "example": "minio"}, "source_connector": {"type": "object", "properties": {"id": {"type": "integer", "description": "ID of the source connector.", "example": 1}, "source_type": {"type": "string", "description": "Type of the source connector.", "example": "minio"}, "name": {"type": "string", "description": "Name of the source connector.", "example": "MinIO"}, "icon_url": {"type": "string", "description": "URL of the icon for the source connector.", "example": "/data-syncer-images/minio.png"}, "description": {"type": "string", "description": "Description of the source connector.", "example": "MinIO is an open source object storage system."}}}, "configuration": {"type": "object", "properties": {"bucket_name": {"type": "string", "description": "Name of the storage bucket.", "example": "test-r1"}, "endpoint_url": {"type": "string", "description": "Endpoint URL of the object storage.", "example": "objectstore.e2enetworks.net"}, "access_key": {"type": "string", "description": "Access key for authentication.", "example": "OYG8DNWGXK6TOQ2GX1PM"}, "prefix": {"type": "string", "description": "Prefix path within the bucket.", "example": "/"}}}}}, "errors": {"type": "object", "description": "Contains error details if any.", "example": {}}, "message": {"type": "string", "description": "Response message.", "example": "Created Successfully"}}}}}}}}}, "/data_syncer/source/{Source_Id}/": {"put": {"operationId": "put-data-syncer-source-source-id", "summary": "Update Source", "tags": ["Data Syncer"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "Source_Id", "in": "path", "required": true, "description": "Source Id", "schema": {"type": "integer"}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"name": {"type": "string", "example": "syncer-source-0219173"}, "config": {"type": "object", "properties": {"prefix": {"type": "string", "example": "/"}, "bucket_name": {"type": "string", "example": "test-r1"}, "endpoint_url": {"type": "string", "example": "objectstore.e2enetworks.net"}, "access_key": {"type": "string", "example": "00TFJ4YSVEX9B9P1UTJU"}, "secret_key": {"type": "string", "example": "FJCGMBRYONT76TLRD2QHCTICIHSZIY9G21RB28H5"}}}}}}}, "required": true}, "responses": {"200": {"description": "Successful response with source details", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"id": {"type": "integer", "example": 214}, "name": {"type": "string", "example": "syncer-source-0219173"}, "status": {"type": "string", "example": "active"}, "start_date": {"type": "string", "nullable": true, "example": null}, "file_search_filter": {"type": "array", "items": {"type": "string"}, "example": []}, "file_size_upper_limit": {"type": "integer", "example": 0}, "file_size_lower_limit": {"type": "integer", "example": 0}, "path_array": {"type": "array", "items": {"type": "string"}, "example": []}, "regex_pattern": {"type": "string", "nullable": true, "example": null}, "created_by": {"type": "object", "properties": {"id": {"type": "integer", "example": 4945}, "name": {"type": "string", "example": "Rahul Tanwar"}, "email": {"type": "string", "example": "rahul.tanwar@e2enetworks.com"}, "username": {"type": "string", "example": "rahul.tanwar@e2enetworks.com"}}}, "created_at": {"type": "string", "format": "date-time", "example": "2025-02-19T12:12:47.457714Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2025-02-20T05:22:53.505091Z"}, "source_type": {"type": "string", "example": "minio"}, "source_connector": {"type": "object", "properties": {"id": {"type": "integer", "example": 1}, "source_type": {"type": "string", "example": "minio"}, "name": {"type": "string", "example": "MinIO"}, "icon_url": {"type": "string", "example": "/data-syncer-images/minio.png"}, "description": {"type": "string", "example": "MinIO is an open source object storage system."}}}, "configuration": {"type": "object", "properties": {"bucket_name": {"type": "string", "example": "test-r1"}, "endpoint_url": {"type": "string", "example": "objectstore.e2enetworks.net"}, "access_key": {"type": "string", "example": "00TFJ4YSVEX9B9P1UTJU"}, "secret_key": {"type": "string", "example": "FJCGMBRYONT76TLRD2QHCTICIHSZIY9G21RB28H5"}, "prefix": {"type": "string", "example": "/"}}}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}, "delete": {"operationId": "delete-data-syncer-source-source-id", "summary": "Delete Source", "tags": ["Data Syncer"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "Source_Id", "in": "path", "required": true, "description": "Source Id", "schema": {"type": "integer"}}], "responses": {"200": {"description": "Source deleted successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "example": {}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Source deleted successfully"}}}}}}}}}, "/data_syncer/destination/": {"get": {"operationId": "get-data-syncer-destination", "summary": "List Destinations", "tags": ["Data Syncer"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "page_no", "in": "query", "required": false, "description": "The page number from which you want your page search results to be displayed.", "schema": {"type": "integer", "minimum": 0}}, {"name": "per_page", "in": "query", "required": false, "description": "Number of results per page", "schema": {"type": "integer", "minimum": 0}}], "responses": {"200": {"description": "Success response with a list of destinations", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "message": {"type": "string", "example": "Success"}, "total_page_number": {"type": "integer", "example": 1}, "total_count": {"type": "integer", "example": 1}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 146}, "name": {"type": "string", "example": "syncer-destination-02201439044"}, "destination_type": {"type": "string", "example": "tir_dataset"}, "status": {"type": "string", "example": "active"}, "created_by": {"type": "object", "properties": {"id": {"type": "integer", "example": 4945}, "name": {"type": "string", "example": "Rahul Tanwar"}, "email": {"type": "string", "example": "rahul.tanwar@e2enetworks.com"}, "username": {"type": "string", "example": "rahul.tanwar@e2enetworks.com"}}}, "dataset": {"type": "object", "properties": {"id": {"type": "integer", "example": 1637}, "name": {"type": "string", "example": "finetuning-dataset-022013562626"}, "project_id": {"type": "integer", "example": 4601}, "storage_type": {"type": "string", "example": "managed"}, "bucket": {"type": "object", "properties": {"id": {"type": "integer", "example": 3162}, "bucket_name": {"type": "string", "example": "d-gpu-bd21fad1-abcb-45fd-bc11-46142b7c7928"}, "bucket_url": {"type": "string", "example": "s3://d-gpu-bd21fad1-abcb-45fd-bc11-46142b7c7928/"}, "endpoint": {"type": "string", "example": "https://objectstore.e2enetworks.net"}, "is_managed": {"type": "boolean", "example": true}, "eos_bucket_permission_id": {"type": "integer", "example": 11604}}}, "access_key": {"type": "object", "properties": {"id": {"type": "integer", "example": 3179}, "access_key": {"type": "string", "example": "2092TCITD7JA6IICP299"}, "tag": {"type": "string", "example": "akgpuf8fd86dec56147a8aefb896fef535f03"}, "is_managed": {"type": "boolean", "example": true}}}, "encryption_enable": {"type": "boolean", "example": false}, "status": {"type": "string", "example": "OK"}}}, "path_prefix": {"type": "string", "example": "/"}, "run": {"type": "boolean", "example": true}, "created_at": {"type": "string", "format": "date-time", "example": "2025-02-20T10:14:23.278364Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2025-02-20T10:14:36.960772Z"}}}}, "errors": {"type": "object", "example": {}}}}}}}}}, "post": {"operationId": "post-data-syncer-destination", "summary": "Create Destination", "tags": ["Data Syncer"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"name": {"type": "string", "description": "Name of the syncer destination", "example": "syncer-destination-02201439044"}, "path_prefix": {"type": "string", "description": "Path prefix for the destination", "example": "/"}, "dataset_id": {"type": "integer", "description": "ID of the dataset to sync to", "example": 1637}}}}}, "required": true}, "responses": {"201": {"description": "Destination created successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 201}, "data": {"type": "object", "properties": {"id": {"type": "integer", "example": 134}, "name": {"type": "string", "example": "syncer-destination-022012431919"}, "destination_type": {"type": "string", "example": "tir_dataset"}, "status": {"type": "string", "example": "active"}, "created_by": {"type": "object", "properties": {"id": {"type": "integer", "example": 4945}, "name": {"type": "string", "example": "Rahul Tanwar"}, "email": {"type": "string", "format": "email", "example": "rahul.tanwar@e2enetworks.com"}, "username": {"type": "string", "example": "rahul.tanwar@e2enetworks.com"}}}, "dataset": {"type": "object", "properties": {"id": {"type": "integer", "example": 1636}, "name": {"type": "string", "example": "syncer-destination-022012432323"}, "project_id": {"type": "integer", "example": 4601}, "description": {"type": "string", "nullable": true, "example": null}, "storage_type": {"type": "string", "example": "managed"}, "pvc": {"type": "string", "nullable": true, "example": null}, "bucket": {"type": "object", "properties": {"id": {"type": "integer", "example": 3161}, "bucket_name": {"type": "string", "example": "d-gpu-05a1d225-3340-4383-87ec-c06412ea13a2"}, "bucket_url": {"type": "string", "example": "s3://d-gpu-05a1d225-3340-4383-87ec-c06412ea13a2/"}, "endpoint": {"type": "string", "example": "https://objectstore.e2enetworks.net"}, "is_managed": {"type": "boolean", "example": true}, "eos_bucket_permission_id": {"type": "integer", "example": 11602}}}, "access_key": {"type": "object", "properties": {"id": {"type": "integer", "example": 3178}, "access_key": {"type": "string", "example": "4RJUR0C58XCVTAZZCFPT"}, "secret_key": {"type": "string", "nullable": true, "example": null}, "tag": {"type": "string", "example": "akgpu16b8b19cb1864c5ab0f22260338487b5"}, "is_managed": {"type": "boolean", "example": true}}}, "encryption_type": {"type": "string", "nullable": true, "example": null}, "encryption_enable": {"type": "boolean", "example": false}, "status": {"type": "string", "example": "Pending"}, "created_by": {"type": "object", "properties": {"id": {"type": "integer", "example": 4945}, "name": {"type": "string", "example": "Rahul Tanwar"}, "email": {"type": "string", "format": "email", "example": "rahul.tanwar@e2enetworks.com"}, "username": {"type": "string", "example": "rahul.tanwar@e2enetworks.com"}}}, "created_at": {"type": "string", "format": "date-time", "example": "2025-02-20T07:13:27.788331Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2025-02-20T07:13:27.788397Z"}}}, "knowledge_base": {"type": "string", "nullable": true, "example": null}, "path_prefix": {"type": "string", "example": "/"}, "run": {"type": "boolean", "example": true}, "created_at": {"type": "string", "format": "date-time", "example": "2025-02-20T07:13:43.911473Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2025-02-20T07:14:00.648954Z"}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Created Successfully"}}}}}}}}}, "/data_syncer/destination/{Destination_Id}/": {"put": {"operationId": "put-data-syncer-destination-destination-id", "summary": "Update Destination", "tags": ["Data Syncer"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "Destination_Id", "in": "path", "required": true, "description": "Destination Id", "schema": {"type": "integer"}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"name": {"type": "string", "description": "Name of the syncer destination", "example": "syncer-destination-0220"}, "path_prefix": {"type": "string", "description": "Path prefix for the destination", "example": "/new"}}}}}, "required": true}, "responses": {"200": {"description": "Successfully retrieved syncer destination details", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"id": {"type": "integer", "example": 140}, "name": {"type": "string", "example": "syncer-destination-0220"}, "destination_type": {"type": "string", "example": "tir_dataset"}, "status": {"type": "string", "example": "active"}, "created_by": {"type": "object", "properties": {"id": {"type": "integer", "example": 4945}, "name": {"type": "string", "example": "Rahul Tanwar"}, "email": {"type": "string", "example": "rahul.tanwar@e2enetworks.com"}, "username": {"type": "string", "example": "rahul.tanwar@e2enetworks.com"}}}, "dataset": {"type": "object", "properties": {"id": {"type": "integer", "example": 1637}, "name": {"type": "string", "example": "finetuning-dataset-022013562626"}, "project_id": {"type": "integer", "example": 4601}, "description": {"type": "string", "nullable": true, "example": null}, "storage_type": {"type": "string", "example": "managed"}, "pvc": {"type": "string", "nullable": true, "example": null}, "bucket": {"type": "object", "properties": {"id": {"type": "integer", "example": 3162}, "bucket_name": {"type": "string", "example": "d-gpu-bd21fad1-abcb-45fd-bc11-46142b7c7928"}, "bucket_url": {"type": "string", "example": "s3://d-gpu-bd21fad1-abcb-45fd-bc11-46142b7c7928/"}, "endpoint": {"type": "string", "example": "https://objectstore.e2enetworks.net"}, "is_managed": {"type": "boolean", "example": true}, "eos_bucket_permission_id": {"type": "integer", "example": 11604}}}, "access_key": {"type": "object", "properties": {"id": {"type": "integer", "example": 3179}, "access_key": {"type": "string", "example": "2092TCITD7JA6IICP299"}, "secret_key": {"type": "string", "nullable": true, "example": null}, "tag": {"type": "string", "example": "akgpuf8fd86dec56147a8aefb896fef535f03"}, "is_managed": {"type": "boolean", "example": true}}}, "encryption_type": {"type": "string", "nullable": true, "example": null}, "encryption_enable": {"type": "boolean", "example": false}, "status": {"type": "string", "example": "OK"}, "created_by": {"type": "object", "properties": {"id": {"type": "integer", "example": 4945}, "name": {"type": "string", "example": "Rahul Tanwar"}, "email": {"type": "string", "example": "rahul.tanwar@e2enetworks.com"}, "username": {"type": "string", "example": "rahul.tanwar@e2enetworks.com"}}}, "created_at": {"type": "string", "format": "date-time", "example": "2025-02-20T08:26:31.126205Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2025-02-20T08:26:31.126281Z"}}}, "knowledge_base": {"type": "string", "nullable": true, "example": null}, "path_prefix": {"type": "string", "example": "/new"}, "run": {"type": "boolean", "example": true}, "created_at": {"type": "string", "format": "date-time", "example": "2025-02-20T09:16:13.799623Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2025-02-20T09:44:08.419033Z"}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}, "delete": {"operationId": "delete-data-syncer-destination-destination-id", "summary": "Delete Destination", "tags": ["Data Syncer"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "Destination_Id", "in": "path", "required": true, "description": "Destination Id", "schema": {"type": "integer"}}], "responses": {"default": {"description": "Response"}}}}, "/data_syncer/connection/": {"get": {"operationId": "get-data-syncer-connection", "summary": "Get Connections", "tags": ["Data Syncer"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "page_no", "in": "query", "required": false, "description": "The page number from which you want your page search results to be displayed.", "schema": {"type": "integer", "minimum": 0}}, {"name": "per_page", "in": "query", "required": false, "description": "Number of results per page", "schema": {"type": "integer", "minimum": 0}}], "responses": {"200": {"description": "List of sync connections retrieved successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 171}, "name": {"type": "string", "example": "syncer-connection-022015573333"}, "schedule_type": {"type": "string", "example": "basic"}, "frequency": {"type": "string", "example": "6"}, "status": {"type": "string", "example": "inactive"}, "sync_mode": {"type": "string", "example": "incremental_append"}, "last_sync": {"type": "string", "format": "date-time", "example": "2025-02-20T11:23:02Z"}, "latest_sync_status": {"type": "string", "example": "succeeded"}, "next_sync": {"type": "string", "example": ""}, "created_at": {"type": "string", "format": "date-time", "example": "2025-02-20T10:40:01.225117Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2025-02-20T11:39:38.140680Z"}, "source": {"type": "object", "properties": {"id": {"type": "integer", "example": 222}, "name": {"type": "string", "example": "syncer-source-021917393333"}, "status": {"type": "string", "example": "active"}, "source_type": {"type": "string", "example": "minio"}, "created_at": {"type": "string", "format": "date-time", "example": "2025-02-20T10:26:21.507678Z"}, "configuration": {"type": "object", "properties": {"prefix": {"type": "string", "example": "/"}, "access_key": {"type": "string", "example": "OYG8DNWGXK6TOQ2GX1PM"}, "bucket_name": {"type": "string", "example": "test-r1"}, "endpoint_url": {"type": "string", "example": "objectstore.e2enetworks.net"}}}}}, "destination": {"type": "object", "properties": {"id": {"type": "integer", "example": 147}, "name": {"type": "string", "example": "syncer-destination-02201439044"}, "destination_type": {"type": "string", "example": "tir_dataset"}, "status": {"type": "string", "example": "active"}, "dataset": {"type": "object", "properties": {"id": {"type": "integer", "example": 1637}, "name": {"type": "string", "example": "finetuning-dataset-022013562626"}, "project_id": {"type": "integer", "example": 4601}, "storage_type": {"type": "string", "example": "managed"}, "bucket": {"type": "object", "properties": {"id": {"type": "integer", "example": 3162}, "bucket_name": {"type": "string", "example": "d-gpu-bd21fad1-abcb-45fd-bc11-46142b7c7928"}, "bucket_url": {"type": "string", "example": "s3://d-gpu-bd21fad1-abcb-45fd-bc11-46142b7c7928/"}, "endpoint": {"type": "string", "example": "https://objectstore.e2enetworks.net"}}}}}}}, "created_by": {"type": "object", "properties": {"id": {"type": "integer", "example": 4945}, "name": {"type": "string", "example": "Rahul Tanwar"}, "email": {"type": "string", "example": "rahul.tanwar@e2enetworks.com"}, "username": {"type": "string", "example": "rahul.tanwar@e2enetworks.com"}}}}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}, "total_page_number": {"type": "integer", "example": 1}, "total_count": {"type": "integer", "example": 1}}}}}}}}, "post": {"operationId": "post-data-syncer-connection", "summary": "Create Connection", "tags": ["Data Syncer"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"name": {"type": "string", "example": "syncer-connection-022015573333"}, "sync_mode": {"type": "string", "enum": ["incremental_append", "full_refresh"], "example": "incremental_append"}, "schedule": {"type": "object", "properties": {"schedule_type": {"type": "string", "enum": ["basic", "advanced"], "example": "basic"}, "basic_schedule": {"type": "integer", "description": "Schedule interval in hours", "example": 6}}}, "source_id": {"type": "integer", "description": "ID of the source data", "example": 222}, "destination_id": {"type": "integer", "description": "ID of the destination data", "example": 147}}}}}, "required": true}, "responses": {"default": {"description": "Response"}}}}, "/data_syncer/connection/{Connection_Id}/jobs/": {"get": {"operationId": "get-data-syncer-connection-connection-id-jobs", "summary": "Get Connection Sync Jobs", "tags": ["Data Syncer"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "Connection_Id", "in": "path", "required": true, "description": "Connection Id", "schema": {"type": "integer"}}, {"name": "page_no", "in": "query", "required": false, "description": "The page number from which you want your page search results to be displayed.", "schema": {"type": "integer", "minimum": 0}}, {"name": "per_page", "in": "query", "required": false, "description": "Number of results per page", "schema": {"type": "integer", "minimum": 0}}], "responses": {"200": {"description": "A list of failed jobs", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "message": {"type": "string", "example": "Success"}, "total_page_number": {"type": "integer", "example": 1}, "total_count": {"type": "integer", "example": 2}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 193}, "status": {"type": "string", "example": "failed"}, "created_at": {"type": "string", "format": "date-time", "example": "2025-02-21T05:24:24Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2025-02-21T05:24:47Z"}, "streamAggregatedStats": {"type": "array", "items": {"type": "object"}}}}}, "errors": {"type": "object", "example": {}}}}}}}}}, "post": {"operationId": "post-data-syncer-connection-connection-id-jobs", "summary": "Start Connection Sync", "tags": ["Data Syncer"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "Connection_Id", "in": "path", "required": true, "description": "Connection Id", "schema": {"type": "integer"}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"jobType": {"type": "string", "example": "sync"}}, "required": ["jobType"]}}}, "required": true}, "responses": {"200": {"description": "Sync job created successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"id": {"type": "integer", "example": 184}, "status": {"type": "string", "example": "running"}, "created_at": {"type": "string", "format": "date-time", "example": "2025-02-20T11:02:15Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2025-02-20T11:02:15Z"}, "streamAggregatedStats": {"type": "array", "items": {"type": "object"}, "example": []}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/data_syncer/connection/{Connection_Id}/": {"put": {"operationId": "put-data-syncer-connection-connection-id", "summary": "Actions on Connection", "tags": ["Data Syncer"], "description": "Kindly choose request example **update** for action type update and **enable_disable** for action type enable and disable.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "Connection_Id", "in": "path", "required": true, "description": "Connection Id", "schema": {"type": "integer"}}, {"name": "action", "in": "query", "required": true, "schema": {"type": "string", "enum": ["enable", "disable", "update"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"name": {"type": "string", "example": "syncer-connection-02201557"}, "sync_mode": {"type": "string", "example": "incremental_append"}, "schedule": {"type": "object", "properties": {"schedule_type": {"type": "string", "example": "manual"}}}}}}}, "required": true}, "responses": {"200": {"description": "Sync connection details retrieved successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"id": {"type": "integer", "example": 171}, "name": {"type": "string", "example": "syncer-connection-022015573333"}, "schedule_type": {"type": "string", "example": "basic"}, "frequency": {"type": "string", "example": "6"}, "status": {"type": "string", "example": "inactive"}, "sync_mode": {"type": "string", "example": "incremental_append"}, "last_sync": {"type": "string", "format": "date-time", "example": "2025-02-20T10:46:05Z"}, "latest_sync_status": {"type": "string", "example": "succeeded"}, "next_sync": {"type": "string", "example": ""}, "created_at": {"type": "string", "format": "date-time", "example": "2025-02-20T10:40:01.225117Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2025-02-20T11:24:42.752261Z"}, "source": {"type": "object", "properties": {"id": {"type": "integer", "example": 222}, "name": {"type": "string", "example": "syncer-source-021917393333"}, "status": {"type": "string", "example": "active"}, "source_type": {"type": "string", "example": "minio"}, "created_at": {"type": "string", "format": "date-time", "example": "2025-02-20T10:26:21.507678Z"}, "configuration": {"type": "object", "properties": {"prefix": {"type": "string", "example": "/"}, "access_key": {"type": "string", "example": "OYG8DNWGXK6TOQ2GX1PM"}, "bucket_name": {"type": "string", "example": "test-r1"}, "endpoint_url": {"type": "string", "example": "objectstore.e2enetworks.net"}}}}}, "destination": {"type": "object", "properties": {"id": {"type": "integer", "example": 147}, "name": {"type": "string", "example": "syncer-destination-02201439044"}, "destination_type": {"type": "string", "example": "tir_dataset"}, "status": {"type": "string", "example": "active"}, "dataset": {"type": "object", "properties": {"id": {"type": "integer", "example": 1637}, "name": {"type": "string", "example": "finetuning-dataset-022013562626"}, "project_id": {"type": "integer", "example": 4601}, "storage_type": {"type": "string", "example": "managed"}, "bucket": {"type": "object", "properties": {"id": {"type": "integer", "example": 3162}, "bucket_name": {"type": "string", "example": "d-gpu-bd21fad1-abcb-45fd-bc11-46142b7c7928"}, "bucket_url": {"type": "string", "example": "s3://d-gpu-bd21fad1-abcb-45fd-bc11-46142b7c7928/"}, "endpoint": {"type": "string", "example": "https://objectstore.e2enetworks.net"}}}}}}}, "created_by": {"type": "object", "properties": {"id": {"type": "integer", "example": 4945}, "name": {"type": "string", "example": "Rahul Tanwar"}, "email": {"type": "string", "example": "rahul.tanwar@e2enetworks.com"}, "username": {"type": "string", "example": "rahul.tanwar@e2enetworks.com"}}}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}, "delete": {"operationId": "delete-data-syncer-connection-connection-id", "summary": "Delete Connection", "tags": ["Data Syncer"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "Connection_Id", "in": "path", "required": true, "description": "Connection Id", "schema": {"type": "integer"}}], "responses": {"200": {"description": "Response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "example": {}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "connection deleted successfully"}}}}}}}}}, "/ai_labs/organization/": {"get": {"operationId": "get-ai-labs-organization", "summary": "List Organizations", "tags": ["AI Labs"], "description": "**Note:** AI Labs is currently available only in the **Delhi** region.", "parameters": [{"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}], "responses": {"200": {"description": "Successfully retrieved organization list", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 38}, "name": {"type": "string", "example": "demo_course"}, "description": {"type": "string", "example": "This is demo organization"}, "project": {"type": "object", "properties": {"team_id": {"type": "integer"}, "project_id": {"type": "integer"}, "project_name": {"type": "string"}, "team_name": {"type": "string"}}}, "sku_details": {"type": "object", "properties": {"specs": {"type": "object", "properties": {"sku_id": {"type": "integer"}, "name": {"type": "string"}, "series": {"type": "string"}, "cpu": {"type": "integer"}, "gpu": {"type": "integer"}, "memory": {"type": "integer"}, "ephemeral_storage": {"type": "integer"}, "gpu_memory": {"type": "integer"}, "is_free": {"type": "boolean"}, "is_active": {"type": "boolean"}, "gpu_switch_type": {"type": "string", "nullable": true}, "local_storage_in_gb": {"type": "integer"}, "sku_type": {"type": "string"}, "gpu_card_type": {"type": "string"}, "category": {"type": "string"}, "variant": {"type": "string"}, "no_of_nodes": {"type": "integer"}}}, "plan": {"type": "object", "properties": {"sku_item_price_id": {"type": "integer"}, "sku_type": {"type": "string"}, "committed_days": {"type": "integer"}, "unit_price": {"type": "number"}, "currency": {"type": "string"}, "is_active": {"type": "boolean"}, "description": {"type": "string"}, "location": {"type": "string"}}}}}, "organization_nodes": {"type": "array", "items": {"type": "object", "properties": {"node_name": {"type": "string"}, "node_alias_name": {"type": "string"}}}}, "members_count": {"type": "integer"}, "max_students": {"type": "integer"}, "created_by": {"type": "object", "properties": {"id": {"type": "integer"}, "name": {"type": "string"}, "email": {"type": "string"}, "username": {"type": "string"}}}, "created_at": {"type": "string", "format": "date-time"}, "updated_at": {"type": "string", "format": "date-time"}, "resource_count": {"type": "integer"}, "iam_info": {"type": "object", "properties": {"id": {"type": "integer"}, "owner": {"type": "object", "properties": {"id": {"type": "integer"}, "name": {"type": "string"}, "email": {"type": "string"}, "username": {"type": "string"}}}, "added_user": {"type": "object", "properties": {"id": {"type": "integer"}, "name": {"type": "string"}, "email": {"type": "string"}, "username": {"type": "string"}}}, "role": {"type": "string"}, "iam_type": {"type": "string"}, "created_at": {"type": "string", "format": "date-time"}, "updated_at": {"type": "string", "format": "date-time"}, "is_student": {"type": "boolean"}}}, "invited_count": {"type": "integer"}, "ai_lab_plan": {"type": "object", "properties": {"id": {"type": "integer"}, "name": {"type": "string"}, "no_of_students": {"type": "integer"}, "is_active": {"type": "boolean"}, "no_of_nodes": {"type": "integer"}}}, "committed_info": {"type": "object", "nullable": true}, "status": {"type": "string"}, "course_count": {"type": "integer"}, "location": {"type": "string"}}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}, "post": {"operationId": "post-ai-labs-organization", "summary": "Create Organization", "tags": ["AI Labs"], "description": "**Note:** AI Labs is currently available only in the **Delhi** region.", "parameters": [{"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "required": ["name", "sku_item_price_id"], "properties": {"name": {"type": "string", "description": "The name of the organization"}, "description": {"type": "string", "description": "Description of the organization"}, "sku_item_price_id": {"type": "integer", "description": "Current SKU item price ID"}}, "example": {"name": "Demo_Organization", "description": "This is a demo organization", "sku_item_price_id": 3807}}}}, "required": true}, "responses": {"201": {"description": "Successfully created organization", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 201}, "data": {"type": "object", "properties": {"id": {"type": "integer", "example": 38}, "name": {"type": "string", "example": "demo_course"}, "description": {"type": "string", "example": "This is demo organization"}, "project": {"type": "object", "properties": {"team_id": {"type": "integer"}, "project_id": {"type": "integer"}, "project_name": {"type": "string"}, "team_name": {"type": "string"}}}, "sku_details": {"type": "object", "properties": {"specs": {"type": "object", "properties": {"sku_id": {"type": "integer"}, "name": {"type": "string"}, "series": {"type": "string"}, "cpu": {"type": "integer"}, "gpu": {"type": "integer"}, "memory": {"type": "integer"}, "ephemeral_storage": {"type": "integer"}, "gpu_memory": {"type": "integer"}, "is_free": {"type": "boolean"}, "is_active": {"type": "boolean"}, "gpu_switch_type": {"type": "string", "nullable": true}, "local_storage_in_gb": {"type": "integer"}, "sku_type": {"type": "string"}, "gpu_card_type": {"type": "string"}, "category": {"type": "string"}, "variant": {"type": "string"}, "no_of_nodes": {"type": "integer"}}}, "plan": {"type": "object", "properties": {"sku_item_price_id": {"type": "integer"}, "sku_type": {"type": "string"}, "committed_days": {"type": "integer"}, "unit_price": {"type": "number"}, "currency": {"type": "string"}, "is_active": {"type": "boolean"}, "description": {"type": "string"}, "location": {"type": "string"}}}}}, "organization_nodes": {"type": "array", "items": {"type": "object", "properties": {"node_name": {"type": "string"}, "node_alias_name": {"type": "string"}}}}, "members_count": {"type": "integer"}, "max_students": {"type": "integer"}, "created_by": {"type": "object", "properties": {"id": {"type": "integer"}, "name": {"type": "string"}, "email": {"type": "string"}, "username": {"type": "string"}}}, "created_at": {"type": "string", "format": "date-time"}, "updated_at": {"type": "string", "format": "date-time"}, "resource_count": {"type": "integer"}, "iam_info": {"type": "object", "properties": {"id": {"type": "integer"}, "owner": {"type": "object", "properties": {"id": {"type": "integer"}, "name": {"type": "string"}, "email": {"type": "string"}, "username": {"type": "string"}}}, "added_user": {"type": "object", "properties": {"id": {"type": "integer"}, "name": {"type": "string"}, "email": {"type": "string"}, "username": {"type": "string"}}}, "role": {"type": "string"}, "iam_type": {"type": "string"}, "created_at": {"type": "string", "format": "date-time"}, "updated_at": {"type": "string", "format": "date-time"}, "is_student": {"type": "boolean"}}}, "invited_count": {"type": "integer"}, "ai_lab_plan": {"type": "object", "properties": {"id": {"type": "integer"}, "name": {"type": "string"}, "no_of_students": {"type": "integer"}, "is_active": {"type": "boolean"}, "no_of_nodes": {"type": "integer"}}}, "committed_info": {"type": "object", "nullable": true}, "status": {"type": "string"}, "course_count": {"type": "integer"}, "location": {"type": "string"}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Created Successfully"}}}}}}}}}, "/ai_labs/organization/{Organization_Id}/": {"get": {"operationId": "get-ai-labs-organization-organization-id", "summary": "Get Organization by Id", "tags": ["AI Labs"], "description": "**Note:** AI Labs is currently available only in the **Delhi** region.", "parameters": [{"name": "Organization_Id", "in": "path", "required": true, "description": "Organization ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}], "responses": {"200": {"description": "Successfully retrieved organization details", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"id": {"type": "integer", "example": 40}, "name": {"type": "string", "example": "demo_course"}, "description": {"type": "string", "example": "This is demo organization"}, "project": {"type": "object", "properties": {"team_id": {"type": "integer"}, "project_id": {"type": "integer"}, "project_name": {"type": "string"}, "team_name": {"type": "string"}}}, "sku_details": {"type": "object", "properties": {"specs": {"type": "object", "properties": {"sku_id": {"type": "integer"}, "name": {"type": "string"}, "series": {"type": "string"}, "cpu": {"type": "integer"}, "gpu": {"type": "integer"}, "memory": {"type": "integer"}, "ephemeral_storage": {"type": "integer"}, "gpu_memory": {"type": "integer"}, "is_free": {"type": "boolean"}, "is_active": {"type": "boolean"}, "gpu_switch_type": {"type": "string", "nullable": true}, "local_storage_in_gb": {"type": "integer"}, "sku_type": {"type": "string"}, "gpu_card_type": {"type": "string"}, "category": {"type": "string"}, "variant": {"type": "string"}, "no_of_nodes": {"type": "integer"}}}, "plan": {"type": "object", "properties": {"sku_item_price_id": {"type": "integer"}, "sku_type": {"type": "string"}, "committed_days": {"type": "integer"}, "unit_price": {"type": "number"}, "currency": {"type": "string"}, "is_active": {"type": "boolean"}, "description": {"type": "string"}, "location": {"type": "string"}}}}}, "organization_nodes": {"type": "array", "items": {"type": "object", "properties": {"node_name": {"type": "string"}, "node_alias_name": {"type": "string"}}}}, "members_count": {"type": "integer"}, "max_students": {"type": "integer"}, "created_by": {"type": "object", "properties": {"id": {"type": "integer"}, "name": {"type": "string"}, "email": {"type": "string"}, "username": {"type": "string"}}}, "created_at": {"type": "string", "format": "date-time"}, "updated_at": {"type": "string", "format": "date-time"}, "resource_count": {"type": "integer"}, "iam_info": {"type": "object", "properties": {"id": {"type": "integer"}, "owner": {"type": "object", "properties": {"id": {"type": "integer"}, "name": {"type": "string"}, "email": {"type": "string"}, "username": {"type": "string"}}}, "added_user": {"type": "object", "properties": {"id": {"type": "integer"}, "name": {"type": "string"}, "email": {"type": "string"}, "username": {"type": "string"}}}, "role": {"type": "string"}, "iam_type": {"type": "string"}, "created_at": {"type": "string", "format": "date-time"}, "updated_at": {"type": "string", "format": "date-time"}, "is_student": {"type": "boolean"}}}, "invited_count": {"type": "integer"}, "ai_lab_plan": {"type": "object", "properties": {"id": {"type": "integer"}, "name": {"type": "string"}, "no_of_students": {"type": "integer"}, "is_active": {"type": "boolean"}, "no_of_nodes": {"type": "integer"}}}, "committed_info": {"type": "object", "nullable": true}, "status": {"type": "string"}, "course_count": {"type": "integer"}, "location": {"type": "string"}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}, "delete": {"operationId": "delete-ai-labs-organization-organization-id", "summary": "Delete organization by Id", "tags": ["AI Labs"], "description": "**Note:** AI Labs is currently available only in the **Delhi** region.", "parameters": [{"name": "Organization_Id", "in": "path", "required": true, "description": "Organization ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}], "responses": {"200": {"description": "Successfully deleted the organization", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "string", "example": "Organization deleted successfully"}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/ai_labs/organization/{Organization_Id}/sku/update/": {"put": {"operationId": "put-ai-labs-organization-organization-id-sku-update", "summary": "Convert to Committed or Renewal Policy", "tags": ["AI Labs"], "description": "**Note:** AI Labs is currently available only in the **Delhi** region. Convert your organization's AI Labs subscription to a committed plan or update the renewal policy. Change the request body using the dropdown in the examples section to choose between converting to a committed plan or updating the renewal policy.", "parameters": [{"name": "Organization_Id", "in": "path", "required": true, "description": "Organization ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"sku_item_price_id": {"type": "integer", "description": "ID of the SKU item price to be converted to a committed plan"}, "committed_instance_policy": {"type": "string", "enum": ["auto_terminate", "convert_to_hourly_billing", "auto_renew"], "description": "Policy for handling the instance after or during commitment"}, "next_sku_item_price_id": {"type": "integer", "nullable": true, "description": "ID of the next SKU item price to be used for renewal, if applicable"}}}}}, "required": true}, "responses": {"200": {"description": "Successfully converted to committed plan", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"id": {"type": "integer", "example": 43}, "name": {"type": "string", "example": "ai-labs-org-251028113044"}, "description": {"type": "string", "nullable": true}, "project": {"type": "object", "properties": {"team_id": {"type": "integer", "example": 10928}, "project_id": {"type": "integer", "example": 8004}, "project_name": {"type": "string", "example": "ai-labs-project-7ccf237b"}, "team_name": {"type": "string", "example": "AI Labs Team-b612cb18"}}}, "sku_details": {"type": "object", "properties": {"specs": {"type": "object", "properties": {"sku_id": {"type": "integer", "example": 204}, "name": {"type": "string", "example": "GDC.4xH10080-104.1000GB_SXM"}, "series": {"type": "string", "example": "GPU"}, "cpu": {"type": "integer", "example": 104}, "gpu": {"type": "integer", "example": 4}, "memory": {"type": "integer", "example": 1000}, "ephemeral_storage": {"type": "integer", "example": 50}, "gpu_memory": {"type": "integer", "example": 320}, "is_free": {"type": "boolean", "example": false}, "is_active": {"type": "boolean", "example": true}, "gpu_switch_type": {"type": "string", "nullable": true}, "local_storage_in_gb": {"type": "integer", "example": 0}, "sku_type": {"type": "string", "example": "GDC-8xH10080"}, "gpu_card_type": {"type": "string", "example": "H100"}, "category": {"type": "string", "example": "ai_labs"}, "variant": {"type": "string", "example": "e2e"}, "no_of_nodes": {"type": "integer", "example": 1}}}, "plan": {"type": "object", "properties": {"sku_item_price_id": {"type": "integer", "example": 1272}, "sku_type": {"type": "string", "example": "committed"}, "committed_days": {"type": "integer", "example": 30}, "unit_price": {"type": "number", "example": 550000}, "currency": {"type": "string", "example": "INR"}, "is_active": {"type": "boolean", "example": true}, "description": {"type": "string", "example": "Committed ai_labs for 30 days"}, "location": {"type": "string", "example": "Delhi"}}}}}, "organization_nodes": {"type": "array", "items": {"type": "object", "properties": {"node_name": {"type": "string", "example": "spk-4h100-hgx-10"}, "node_alias_name": {"type": "string", "example": "e2e_node_167"}}}}, "members_count": {"type": "integer", "example": 1}, "max_students": {"type": "integer", "example": 50}, "created_by": {"type": "object", "properties": {"id": {"type": "integer", "example": 7483}, "name": {"type": "string", "example": "test"}, "email": {"type": "string", "format": "email", "example": "test@gmail.com"}, "username": {"type": "string", "example": "test@gmail.com"}}}, "created_at": {"type": "string", "format": "date-time", "example": "2025-10-28T06:00:50.909464Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2025-10-28T06:01:31.034750Z"}, "resource_count": {"type": "integer", "example": 0}, "iam_info": {"type": "object", "properties": {"id": {"type": "integer", "example": 4753}, "owner": {"type": "object", "properties": {"id": {"type": "integer", "example": 7483}, "name": {"type": "string", "example": "test"}, "email": {"type": "string", "example": "test@gmail.com"}, "username": {"type": "string", "example": "test@gmail.com"}}}, "added_user": {"type": "object", "properties": {"id": {"type": "integer", "example": 7483}, "name": {"type": "string", "example": "test"}, "email": {"type": "string", "example": "test@gmail.com"}, "username": {"type": "string", "example": "test@gmail.com"}}}, "role": {"type": "string", "example": "Owner"}, "iam_type": {"type": "string", "example": "OwnerIam"}, "created_at": {"type": "string", "format": "date-time", "example": "2025-05-28T12:43:30.244608Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2025-05-28T12:43:30.244712Z"}, "is_student": {"type": "boolean", "example": true}}}, "invited_count": {"type": "integer", "example": 0}, "ai_lab_plan": {"type": "object", "properties": {"id": {"type": "integer", "example": 1}, "name": {"type": "string", "example": "GDC.4xH10080-104.1000GB_SXM"}, "no_of_students": {"type": "integer", "example": 50}, "is_active": {"type": "boolean", "example": true}, "no_of_nodes": {"type": "integer", "example": 1}}}, "committed_info": {"type": "object", "properties": {"resource_state": {"type": "string", "example": "running"}, "updation_policy": {"type": "string", "enum": ["auto_terminate", "convert_to_hourly_billing", "auto_renew"], "example": "auto_terminate"}, "next_sku_item_price": {"type": "object", "nullable": true}, "end_date": {"type": "string", "format": "date-time", "example": "2025-11-27T06:01:31.247235Z"}}}, "status": {"type": "string", "example": "active"}, "course_count": {"type": "integer", "example": 0}, "location": {"type": "string", "example": "Delhi"}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/ai_labs/organization/{Organization_Id}/actions/": {"put": {"operationId": "put-ai-labs-organization-organization-id-actions", "summary": "Free up resources", "tags": ["AI Labs"], "description": "**Note:** AI Labs is currently available only in the **Delhi** region.", "parameters": [{"name": "Organization_Id", "in": "path", "required": true, "description": "Organization ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "action", "in": "query", "required": true, "description": "Action to perform on organization resources", "schema": {"type": "string", "enum": ["stop_resources"]}, "example": "stop_resources"}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "description": "Empty request body for initiating the free-up resources operation", "example": {}}}}, "required": true}, "responses": {"200": {"description": "Successfully initiated the resource stop operation", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "example": {}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Resource stop operation initiated successfully. The resources will shut down shortly."}}}}}}}}}, "/ai_labs/organization/{Organization_Id}/group/": {"get": {"operationId": "get-ai-labs-organization-organization-id-group", "summary": "List Groups", "tags": ["AI Labs"], "description": "**Note:** AI Labs is currently available only in the **Delhi** region.", "parameters": [{"name": "Organization_Id", "in": "path", "required": true, "description": "Organization ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}], "responses": {"200": {"description": "Successfully retrieved group list", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 55}, "allowed_plans": {"type": "array", "items": {"type": "object", "properties": {"plan_id": {"type": "integer", "example": 1}, "plan_name": {"type": "string", "example": "GDC.H100.5g.3.9GB_SXM"}, "max_instances": {"type": "integer", "example": 1}}}}, "policies": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 363}, "name": {"type": "string", "example": "E2E Default AI-Labs Student Policy."}, "description": {"type": "string", "example": "This policy is created by default to give all the access to the students."}, "created_by": {"type": "object", "properties": {"id": {"type": "integer", "example": 7483}, "name": {"type": "string", "example": "test"}, "email": {"type": "string", "example": "test@gmail.com"}, "username": {"type": "string", "example": "test@gmail.com"}}}, "created_at": {"type": "string", "format": "date-time", "example": "2025-10-28T06:21:09.594211Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2025-10-28T06:21:09.594263Z"}, "services": {"type": "array", "items": {"type": "object", "properties": {"permissions": {"type": "integer", "example": 15}, "service": {"type": "object", "properties": {"service_id": {"type": "string", "example": "notebook"}, "alias_name": {"type": "string", "example": "Node"}, "description": {"type": "string", "example": "notebook"}}}}}}}}}, "tag": {"type": "string", "example": "Default"}, "created_by": {"type": "object", "properties": {"id": {"type": "integer", "example": 7483}, "name": {"type": "string", "example": "test"}, "email": {"type": "string", "example": "test@gmail.com"}, "username": {"type": "string", "example": "test@gmail.com"}}}}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}, "post": {"operationId": "post-ai-labs-organization-organization-id-group", "summary": "Create Group", "tags": ["AI Labs"], "description": "**Note:** AI Labs is currently available only in the **Delhi** region.", "parameters": [{"name": "Organization_Id", "in": "path", "required": true, "description": "Organization ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "required": ["tag"], "properties": {"tag": {"type": "string", "description": "Unique tag for the group", "example": "group-25102716406"}, "allowed_plans": {"type": "array", "description": "List of allowed plans for the group with max instances", "items": {"type": "object", "properties": {"plan_id": {"type": "integer", "example": 7}, "plan_name": {"type": "string", "example": "GDC.H100.80g.26.250GB_SXM"}, "max_instances": {"type": "integer", "example": 1}}}}, "policies": {"type": "array", "description": "List of service policies with CRUD permissions", "items": {"type": "object", "properties": {"service_id": {"type": "string", "example": "notebook"}, "create": {"type": "boolean", "example": true}, "read": {"type": "boolean", "example": true}, "update": {"type": "boolean", "example": true}, "delete": {"type": "boolean", "example": true}}}}}}}}, "required": true}, "responses": {"201": {"description": "Successfully created a group", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 201}, "data": {"type": "object", "properties": {"id": {"type": "integer", "example": 57}, "allowed_plans": {"type": "array", "items": {"type": "object", "properties": {"plan_id": {"type": "integer", "example": 1}, "plan_name": {"type": "string", "example": "GDC.H100.5g.3.9GB_SXM"}, "max_instances": {"type": "integer", "example": 1}}}}, "policies": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 365}, "name": {"type": "string", "example": "AI_Labs_Policy_a14e8"}, "description": {"type": "string", "example": "AI_Labs_Policy_Description_57"}, "created_by": {"type": "object", "properties": {"id": {"type": "integer", "example": 7483}, "name": {"type": "string", "example": "test"}, "email": {"type": "string", "format": "email", "example": "test@gmail.com"}, "username": {"type": "string", "example": "test@gmail.com"}}}, "created_at": {"type": "string", "format": "date-time", "example": "2025-10-28T07:04:46.805475Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2025-10-28T07:04:46.805504Z"}, "services": {"type": "array", "items": {"type": "object", "properties": {"permissions": {"type": "integer", "example": 15}, "service": {"type": "object", "properties": {"service_id": {"type": "string", "example": "notebook"}, "alias_name": {"type": "string", "example": "Node"}, "description": {"type": "string", "example": "notebook"}}}}}}}}}, "tag": {"type": "string", "example": "group-251028123437"}, "created_by": {"type": "object", "properties": {"id": {"type": "integer", "example": 7483}, "name": {"type": "string", "example": "test"}, "email": {"type": "string", "format": "email", "example": "test@gmail.com"}, "username": {"type": "string", "example": "test@gmail.com"}}}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Created Successfully"}}}}}}}}}, "/ai_labs/organization/{Organization_Id}/group/{Group_Id}/": {"put": {"operationId": "put-ai-labs-organization-organization-id-group-group-id", "summary": "Update Group", "tags": ["AI Labs"], "description": "**Note:** AI Labs is currently available only in the **Delhi** region.", "parameters": [{"name": "Organization_Id", "in": "path", "required": true, "description": "Organization ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "Group_Id", "in": "path", "required": true, "description": "Unique identifier for the group", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "required": ["tag"], "properties": {"tag": {"type": "string", "description": "Updated tag for the group", "example": "Default"}, "allowed_plans": {"type": "array", "description": "List of allowed plans for the group with max instances", "items": {"type": "object", "properties": {"plan_id": {"type": "integer", "example": 1}, "plan_name": {"type": "string", "example": "GDC.H100.5g.3.9GB_SXM"}, "max_instances": {"type": "integer", "example": 1}}}}, "policies": {"type": "array", "description": "List of service policies with CRUD permissions", "items": {"type": "object", "properties": {"service_id": {"type": "string", "example": "notebook"}, "create": {"type": "boolean", "example": true}, "read": {"type": "boolean", "example": true}, "update": {"type": "boolean", "example": true}, "delete": {"type": "boolean", "example": true}}}}}}}}, "required": true}, "responses": {"default": {"description": "Successful response"}}}, "delete": {"operationId": "delete-ai-labs-organization-organization-id-group-group-id", "summary": "Delete Group", "tags": ["AI Labs"], "description": "**Note:** AI Labs is currently available only in the **Delhi** region.", "parameters": [{"name": "Organization_Id", "in": "path", "required": true, "description": "Organization ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "Group_Id", "in": "path", "required": true, "description": "Unique identifier for the group", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}], "responses": {"200": {"description": "Successfully deleted the group", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "string", "example": "Group deleted successfully"}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/ai_labs/organization/{Organization_Id}/members/": {"get": {"operationId": "get-ai-labs-organization-organization-id-members", "summary": "List Members", "tags": ["AI Labs"], "description": "**Note:** AI Labs is currently available only in the **Delhi** region.", "parameters": [{"name": "Organization_Id", "in": "path", "required": true, "description": "Organization ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}], "responses": {"200": {"description": "Successfully fetched the list of members", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 10400}, "project_id": {"type": "integer", "example": 8007}, "role": {"type": "string", "example": "AI_Labs_Admin"}, "member": {"type": "object", "properties": {"id": {"type": "integer", "example": 7483}, "name": {"type": "string", "example": "test"}, "email": {"type": "string", "format": "email", "example": "test@gmail.com"}, "username": {"type": "string", "example": "test@gmail.com"}}}, "created_by": {"type": "object", "properties": {"id": {"type": "integer", "example": 7483}, "name": {"type": "string", "example": "test"}, "email": {"type": "string", "format": "email", "example": "test@gmail.com"}, "username": {"type": "string", "example": "test@gmail.com"}}}, "created_at": {"type": "string", "format": "date-time", "example": "2025-10-28T06:21:08.646183Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2025-10-28T06:21:08.646229Z"}, "group_tags": {"type": "array", "items": {"type": "string"}, "example": []}, "services": {"type": "array", "items": {"type": "object"}, "example": []}, "resource_count": {"type": "integer", "example": 1}, "tir_role": {"type": "string", "example": "Owner"}}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}, "post": {"operationId": "post-ai-labs-organization-organization-id-members", "summary": "Add Members", "tags": ["AI Labs"], "description": "**Note:** AI Labs is currently available only in the **Delhi** region.", "parameters": [{"name": "Organization_Id", "in": "path", "required": true, "description": "Organization ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "required": ["member_emails", "role"], "properties": {"member_emails": {"type": "array", "description": "List of member email addresses to be added", "items": {"type": "string", "format": "email", "example": "test.singh1@gmail.com"}}, "role": {"type": "string", "description": "Role assigned to the members", "example": "AI_Labs_Student"}, "groups": {"type": "array", "description": "List of group IDs to which the members should be added", "items": {"type": "integer", "example": 57}}}}}}, "required": true}, "responses": {"201": {"description": "Successfully sent member invite", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 201}, "data": {"type": "string", "example": "Member Invite Sent."}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Created Successfully"}}}}}}}}}, "/ai_labs/organization/{Organization_Id}/course/": {"get": {"operationId": "get-ai-labs-organization-organization-id-course", "summary": "List Courses", "tags": ["AI Labs"], "description": "**Note:** AI Labs is currently available only in the **Delhi** region.", "parameters": [{"name": "Organization_Id", "in": "path", "required": true, "description": "Organization ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}], "responses": {"200": {"description": "Successfully fetched the list of courses", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 25}, "name": {"type": "string", "example": "course-251028115114"}, "description": {"type": "string", "example": "This is a course description"}, "created_by": {"type": "object", "properties": {"id": {"type": "integer", "example": 7483}, "name": {"type": "string", "example": "test"}, "email": {"type": "string", "format": "email", "example": "test@gmail.com"}, "username": {"type": "string", "example": "test@gmail.com"}}}, "created_at": {"type": "string", "format": "date-time", "example": "2025-10-28T06:21:15.978247Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2025-10-28T06:21:17.977078Z"}, "courseware_details": {"type": "object", "properties": {"id": {"type": "integer", "example": 3005}, "name": {"type": "string", "example": "ai-labs-course-1761632475"}, "project_id": {"type": "integer", "example": 8007}, "description": {"type": "string", "nullable": true}, "storage_type": {"type": "string", "example": "managed"}, "pvc": {"type": "string", "nullable": true}, "bucket": {"type": "object", "properties": {"id": {"type": "integer", "example": 5035}, "bucket_name": {"type": "string", "example": "d-gpu-68e7aa62-c3ae-4c42-b09b-dc2186338dfe"}, "bucket_url": {"type": "string", "example": "s3://d-gpu-68e7aa62-c3ae-4c42-b09b-dc2186338dfe/"}, "endpoint": {"type": "string", "example": "https://objectstore.e2enetworks.net"}, "is_managed": {"type": "boolean", "example": true}, "eos_bucket_permission_id": {"type": "integer", "example": 16757}, "location": {"type": "string", "example": "Delhi"}, "bucket_size": {"type": "string", "example": "0 bytes"}}}, "access_key": {"type": "object", "properties": {"id": {"type": "integer", "example": 5053}, "access_key": {"type": "string", "example": "18NQRRWT4ZGQRNS1VM8I"}, "secret_key": {"type": "string", "nullable": true}, "tag": {"type": "string", "example": "akgpu100eb36863de4d80b08302a9050f21e4"}, "is_managed": {"type": "boolean", "example": true}, "location": {"type": "string", "example": "Delhi"}}}, "encryption_type": {"type": "string", "nullable": true}, "encryption_enable": {"type": "boolean", "example": false}, "status": {"type": "string", "example": "OK"}, "created_by": {"type": "object", "properties": {"id": {"type": "integer", "example": 7483}, "name": {"type": "string", "example": "test"}, "email": {"type": "string", "format": "email", "example": "test@gmail.com"}, "username": {"type": "string", "example": "test@gmail.com"}}}, "created_at": {"type": "string", "format": "date-time", "example": "2025-10-28T06:21:17.919029Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2025-10-28T06:21:17.919086Z"}, "pfs": {"type": "string", "nullable": true}, "location": {"type": "string", "example": "Delhi"}}}, "professor_title": {"type": "string", "example": "Prof."}, "professor_name": {"type": "string", "example": "test"}, "professor": {"type": "string", "example": "Prof. test"}}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}, "post": {"operationId": "post-ai-labs-organization-organization-id-course", "summary": "Add Course", "tags": ["AI Labs"], "description": "**Note:** AI Labs is currently available only in the **Delhi** region.", "parameters": [{"name": "Organization_Id", "in": "path", "required": true, "description": "Organization ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "required": ["name", "professor_name", "professor_title"], "properties": {"name": {"type": "string", "description": "Name of the course", "example": "course-251027164554"}, "description": {"type": "string", "description": "Description of the course", "example": "This is a course description"}, "professor_name": {"type": "string", "description": "Name of the professor", "example": "Akansha"}, "professor_title": {"type": "string", "enum": ["Prof.", "Dr.", "Mr.", "Ms.", "Mrs."], "description": "Title of the professor", "example": "Prof."}}}}}, "required": true}, "responses": {"201": {"description": "Successfully created a new course", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 201}, "data": {"type": "object", "properties": {"id": {"type": "integer", "example": 26}, "name": {"type": "string", "example": "course-251027164554"}, "description": {"type": "string", "example": "This is a course description"}, "created_by": {"type": "object", "properties": {"id": {"type": "integer", "example": 7483}, "name": {"type": "string", "example": "test"}, "email": {"type": "string", "format": "email", "example": "test@gmail.com"}, "username": {"type": "string", "example": "test@gmail.com"}}}, "created_at": {"type": "string", "format": "date-time", "example": "2025-10-28T07:22:44.701976Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2025-10-28T07:22:46.515400Z"}, "courseware_details": {"type": "object", "properties": {"id": {"type": "integer", "example": 3006}, "name": {"type": "string", "example": "ai-labs-course-1761636164"}, "project_id": {"type": "integer", "example": 8007}, "description": {"type": "string", "nullable": true, "example": null}, "storage_type": {"type": "string", "example": "managed"}, "pvc": {"type": "string", "nullable": true, "example": null}, "bucket": {"type": "object", "properties": {"id": {"type": "integer", "example": 5037}, "bucket_name": {"type": "string", "example": "d-gpu-86822602-a838-432f-af04-06a2e0ea6fdb"}, "bucket_url": {"type": "string", "example": "s3://d-gpu-86822602-a838-432f-af04-06a2e0ea6fdb/"}, "endpoint": {"type": "string", "example": "https://objectstore.e2enetworks.net"}, "is_managed": {"type": "boolean", "example": true}, "eos_bucket_permission_id": {"type": "integer", "example": 16759}, "location": {"type": "string", "example": "Delhi"}, "bucket_size": {"type": "string", "example": "0 bytes"}}}, "access_key": {"type": "object", "properties": {"id": {"type": "integer", "example": 5055}, "access_key": {"type": "string", "example": "IMJMASCNSBEICHSPG2BN"}, "secret_key": {"type": "string", "nullable": true, "example": null}, "tag": {"type": "string", "example": "akgpue9b954868841451a9fbec7df7d83f102"}, "is_managed": {"type": "boolean", "example": true}, "location": {"type": "string", "example": "Delhi"}}}, "encryption_type": {"type": "string", "nullable": true, "example": null}, "encryption_enable": {"type": "boolean", "example": false}, "status": {"type": "string", "example": "Pending"}, "created_by": {"type": "object", "properties": {"id": {"type": "integer", "example": 7483}, "name": {"type": "string", "example": "test"}, "email": {"type": "string", "format": "email", "example": "test@gmail.com"}, "username": {"type": "string", "example": "test@gmail.com"}}}, "created_at": {"type": "string", "format": "date-time", "example": "2025-10-28T07:22:46.461837Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2025-10-28T07:22:46.461890Z"}, "pfs": {"type": "string", "nullable": true, "example": null}, "location": {"type": "string", "example": "Delhi"}}}, "professor_title": {"type": "string", "example": "Prof."}, "professor_name": {"type": "string", "example": "test"}, "professor": {"type": "string", "example": "Prof. test"}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Created Successfully"}}}}}}}}}, "/ai_labs/organization/{Organization_Id}/course/{Course_Id}/": {"get": {"operationId": "get-ai-labs-organization-organization-id-course-course-id", "summary": "Get Course by Id", "tags": ["AI Labs"], "description": "**Note:** AI Labs is currently available only in the **Delhi** region.", "parameters": [{"name": "Organization_Id", "in": "path", "required": true, "description": "Organization ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "Course_Id", "in": "path", "required": true, "description": "Course ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}], "responses": {"200": {"description": "Successfully fetched course details", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"id": {"type": "integer", "example": 26}, "name": {"type": "string", "example": "course-251027164554"}, "description": {"type": "string", "example": "This is a course description"}, "created_by": {"type": "object", "properties": {"id": {"type": "integer", "example": 7483}, "name": {"type": "string", "example": "test"}, "email": {"type": "string", "format": "email", "example": "test@gmail.com"}, "username": {"type": "string", "example": "test@gmail.com"}}}, "created_at": {"type": "string", "format": "date-time", "example": "2025-10-28T07:22:44.701976Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2025-10-28T07:22:46.515400Z"}, "courseware_details": {"type": "object", "properties": {"id": {"type": "integer", "example": 3006}, "name": {"type": "string", "example": "ai-labs-course-1761636164"}, "project_id": {"type": "integer", "example": 8007}, "description": {"type": "string", "nullable": true, "example": null}, "storage_type": {"type": "string", "example": "managed"}, "pvc": {"type": "string", "nullable": true, "example": null}, "bucket": {"type": "object", "properties": {"id": {"type": "integer", "example": 5037}, "bucket_name": {"type": "string", "example": "d-gpu
[...]
