{"openapi": "3.0.3", "info": {"title": "MyAccount API - cloudfront", "description": "", "version": "1.0.0"}, "servers": [{"url": "https://api.e2enetworks.com/myaccount"}], "paths": {"/api/v1/cdn/request-for-cdn-service/": {"post": {"operationId": "post-cdn-request-for-cdn-service", "summary": "Request for CDN", "tags": ["CDN"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"reason": {"type": "string", "example": "testing"}}}}}, "required": true}, "responses": {"202": {"description": "Request for CDN service created successfully.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 202}, "data": {"type": "object", "additionalProperties": {}, "example": {}}, "errors": {"type": "object", "additionalProperties": {"type": "string"}, "example": {}}, "message": {"type": "string", "example": "Request for CDN service created successfully."}}}}}}}}}, "/api/v1/cdn/distributions/": {"get": {"operationId": "get-cdn-distributions", "summary": "Get CDN list", "tags": ["CDN"], "parameters": [{"name": "page_no", "in": "query", "required": false, "description": "The page number from which you want your page search results to be displayed.", "schema": {"type": "integer", "minimum": 0}}, {"name": "per_page", "in": "query", "required": false, "description": "Number of results per page", "schema": {"type": "integer", "minimum": 0}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Successful retrieval of CDN .", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 1052}, "domain_id": {"type": "string", "example": "ENZYVCZPO9X4L"}, "user_domain_name": {"type": "string", "example": "docs.e2enetworks.com"}, "e2e_domain_name": {"type": "string", "example": "docs1g047zlrhx.cdn.e2enetworks.net"}, "domain_state": {"type": "string", "example": "Deployed"}, "is_enabled": {"type": "boolean", "example": true}, "created_at": {"type": "string", "format": "date-time", "example": "30/Oct/2024 12:48 PM"}}}}, "errors": {"type": "object", "additionalProperties": {"type": "string"}, "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}, "post": {"operationId": "post-cdn-distributions", "summary": "Create CDN distribution", "tags": ["CDN"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"source": {"type": "string", "example": "cdn"}, "domain_name": {"type": "string", "example": "e2enetworks.com"}, "origin_details": {"type": "object", "properties": {"origin_path": {"type": "string", "example": "/static"}, "origin_id": {"type": "string", "example": "e2enetworks.com"}, "ssl_protocol": {"type": "string", "example": "TLSv1.2"}, "protocol_policy": {"type": "string", "example": "https-only"}, "response_timeout": {"type": "integer", "example": 30}, "keepalive_timeout": {"type": "integer", "example": 5}}}, "cache_details": {"type": "object", "properties": {"viewer_protocol_policy": {"type": "string", "example": "https-only"}, "allowed_http_methods": {"type": "string", "example": "GET|HEAD"}, "min_ttl": {"type": "integer", "example": 0}, "max_ttl": {"type": "integer", "example": 3153000}, "default_ttl": {"type": "integer", "example": 86400}}}, "domain_details": {"type": "object", "properties": {"http_versions": {"type": "string", "example": "http2"}, "root_object": {"type": "string", "example": ""}, "is_ipv6_supported": {"type": "boolean", "example": false}}}}}}}, "required": true}, "responses": {"200": {"description": "Distribution creation successful.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"message": {"type": "string", "example": "Your Distribution has been created successfully. It will take upto 30 minutes to deploy. Please wait."}, "domain_id": {"type": "string", "example": "ENZYVCZPO9X4L"}, "response_domain": {"type": "string", "example": "docs1g047zlrhx.cdn.e2enetworks.net"}, "resource_type": {"type": "string", "nullable": true, "example": null}, "label_id": {"type": "string", "nullable": true, "example": null}}}, "errors": {"type": "object", "additionalProperties": {"type": "string"}, "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}, "put": {"operationId": "put-cdn-distributions", "summary": "Enable/Disable CDN distribuition", "tags": ["CDN"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"properties": {"domain_id": {"type": "string", "example": "ENZYVCZPO9X4L"}, "is_enabled": {"description": "Enable CDN set is_enabled True else , To Disable set is_enabled False", "type": "boolean", "enum": [false, true]}}}}}, "required": true}, "responses": {"200": {"description": "Successful response indicating the distribution update status", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"message": {"type": "string", "example": "Your Distribution has been updated successfully. It will take up to 30 minutes to deploy the new changes. Please wait."}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}, "delete": {"operationId": "delete-cdn-distributions", "summary": "Delete CDN", "tags": ["CDN"], "parameters": [{"name": "domain_id", "in": "query", "required": true, "description": "CDN Domain ID", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"default": {"description": "Successful response"}}}}, "/api/v1/cdn/domain-usage/": {"post": {"operationId": "post-cdn-domain-usage", "summary": "CDN Bandwidth usage", "tags": ["CDN"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"domain": {"type": "string", "example": "all"}, "end_date": {"type": "string", "format": "date", "example": "2022-05-19"}, "granularity": {"type": "string", "example": "daily"}, "start_date": {"type": "string", "format": "date", "example": "2022-05-04"}}, "required": ["domain", "end_date", "granularity", "start_date"]}}}, "required": true}, "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {}, "example": []}, "errors": {"type": "object", "additionalProperties": true, "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}}}