{"openapi": "3.0.3", "info": {"title": "MyAccount API - elasticloadbalancingv2", "description": "", "version": "1.0.0"}, "servers": [{"url": "https://api.e2enetworks.com/myaccount"}], "paths": {"/api/v1/appliances/load-balancers/{lb_id}/historical_data/": {"get": {"operationId": "historical-data", "summary": "Historical Monitoring Data", "tags": ["Monitoring"], "description": "Returns historical (time-series) HAProxy metrics for a load balancer, sourced from Prometheus. The metric is selected by the `metric_name` query parameter and the look-back window by `interval` (in seconds). Frontend metrics return data for the load balancer's frontend; backend metrics return data for the backend named by the `server` parameter.\n\nThe HTTP response-code metrics (`haproxy_backend_http_responses_total`, `haproxy_frontend_http_responses_total`) return the current value bucketed by response class - `labels` is `[\"2xx\",\"3xx\",\"4xx\",\"5xx\"]` and `results` holds the matching counts. All other metrics return a range series over `interval`. See `metric_name` for the full list of metrics the console requests.", "parameters": [{"name": "lb_id", "in": "path", "required": true, "description": "The `id` of the load balancer, as returned by the List Load Balancers endpoint.", "schema": {"type": "integer"}, "example": 12345, "x-constraints": ["required", "must be a valid load balancer (appliance) ID"]}, {"name": "metric_name", "in": "query", "required": false, "description": "Name of the HAProxy/Prometheus metric to fetch. The backend does not restrict this to a fixed enum (any metric the HAProxy exporter publishes will work), but the console requests the specific frontend and backend metrics listed below. Defaults to `haproxy_backend_http_responses_total`.", "schema": {"type": "string"}, "example": "haproxy_backend_http_responses_total", "x-constraints": ["defaults to haproxy_backend_http_responses_total", "backend metrics requested by the console: haproxy_backend_http_responses_total, haproxy_backend_bytes_in_total, haproxy_backend_bytes_out_total, haproxy_backend_current_queue, haproxy_backend_max_queue, haproxy_backend_current_sessions, haproxy_backend_sessions_total, haproxy_backend_limit_sessions, haproxy_backend_max_sessions, haproxy_backend_up, haproxy_backend_response_errors_total, haproxy_backend_connection_errors_total, haproxy_backend_current_session_rate, haproxy_backend_max_session_rate", "frontend metrics requested by the console: haproxy_frontend_http_responses_total, haproxy_frontend_max_session_rate, haproxy_frontend_limit_session_rate, haproxy_frontend_current_sessions, haproxy_frontend_max_sessions, haproxy_frontend_limit_sessions, haproxy_frontend_sessions_total, haproxy_frontend_request_errors_total, haproxy_frontend_requests_denied_total, haproxy_frontend_bytes_in_total, haproxy_frontend_bytes_out_total, haproxy_frontend_current_session_rate", "any metric name containing \"frontend\" is queried with frontend labels; otherwise backend labels are used"]}, {"name": "interval", "in": "query", "required": false, "description": "Look-back window in seconds for the time-series query. Defaults to 3600 (1 hour).", "schema": {"type": "integer"}, "example": 3600, "x-constraints": ["optional", "positive integer (seconds)", "console presets: 3600 (1h), 21600 (6h), 43200 (12h), 86400 (1d), 604800 (7d)"]}, {"name": "server", "in": "query", "required": false, "description": "Name of the backend to scope backend metrics to. Defaults to the load balancer's first backend.", "schema": {"type": "string"}, "example": "backend-group-1", "x-constraints": ["optional", "must match an existing backend name on the load balancer"]}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Region of the load balancer.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["must be a non-empty string"]}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "description": "For the HTTP response-code metrics, `labels` holds the response classes and `results` the matching counts. For range metrics, `labels` holds timestamps and `results` the per-timestamp values.", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"labels": {"type": "array", "description": "Series labels (response classes for response-code metrics, timestamps for range metrics).", "items": {"type": "string"}, "example": ["2xx", "3xx", "4xx", "5xx"]}, "results": {"type": "array", "description": "Series values aligned with `labels`.", "items": {"type": "string"}, "example": ["0", "0", "0", "2"]}}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/appliances/load-balancers/log-migrate/": {"put": {"operationId": "access-log-migration", "summary": "Enable / Disable Access Logs", "tags": ["Monitoring"], "description": "Enables or disables shipping of the load balancer's HAProxy access logs to an object-storage (EOS) bucket. The behaviour is controlled by the `is_enabled` query parameter together with the request body:\n- **Enable**: call with `?is_enabled=true` and a body containing\n  `appliance_id`, `access_key`, `secret_key`, and `bucket` - the\n  credentials for the destination object-storage bucket.\n\n- **Disable**: call with a body of `{ \"appliance_id\": \"<id>\",\n  \"disable\": true }`.", "parameters": [{"name": "is_enabled", "in": "query", "required": false, "description": "Used only when enabling access-log shipping - send `is_enabled=true` together with the bucket-credentials body. For the disable flow this parameter is discarded; send the `{ \"appliance_id\": \"<id>\", \"disable\": true }` body instead.", "schema": {"type": "boolean"}, "example": true, "x-constraints": ["send true only on the enable flow; discarded (not sent) on the disable flow"]}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Region of the load balancer.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["must be a non-empty string"]}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "description": "Body for enabling or disabling access-log shipping. To **enable**, call with `?is_enabled=true` and supply the object-storage `access_key`, `secret_key`, and `bucket`. To **disable**, send `{ \"appliance_id\": \"<id>\", \"disable\": true }`.", "required": ["appliance_id"], "properties": {"appliance_id": {"type": "string", "description": "ID of the load balancer (appliance) whose access logs are being configured.", "x-constraints": ["required", "must be a valid load balancer ID"], "example": "7972"}, "access_key": {"type": "string", "description": "Access key for the destination object-storage (EOS) bucket. Required when enabling.", "x-constraints": ["required when enabling (is_enabled=true)"], "example": "access-key"}, "secret_key": {"type": "string", "description": "Secret key for the destination object-storage bucket. Required when enabling.", "x-constraints": ["required when enabling (is_enabled=true)"], "example": "secret-key"}, "bucket": {"type": "string", "description": "Name of the destination object-storage bucket. Required when enabling.", "x-constraints": ["required when enabling (is_enabled=true)"], "example": "bucket-name"}, "disable": {"type": "boolean", "description": "Send `true` (with `appliance_id`) to disable access-log shipping.", "x-constraints": ["required when disabling"], "example": true}}}}}}, "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"appliance_id": {"type": "string", "example": "7972"}}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/appliances/load-balancer-actionlog/{lb_id}/": {"get": {"operationId": "action-logs", "summary": "Action Logs", "tags": ["Logs & Timeline"], "description": "Returns a paginated audit trail of actions performed on the load balancer (configuration updates, IPv6 attach/detach, alert pause/resume, and so on). Each entry records the `timestamp`, `event`, originating `client_ip`, a human-readable `details` string, the `project_name`, and the `created_by_user_email`.", "parameters": [{"name": "lb_id", "in": "path", "required": true, "description": "The `id` of the load balancer, as returned by the List Load Balancers endpoint.", "schema": {"type": "integer"}, "example": 12345, "x-constraints": ["required", "must be a valid load balancer (appliance) ID"]}, {"name": "page_no", "in": "query", "required": false, "description": "1-based page number to retrieve.", "schema": {"type": "integer"}, "example": 1, "x-constraints": ["optional", "positive integer"]}, {"name": "per_page", "in": "query", "required": false, "description": "Number of log entries to return per page.", "schema": {"type": "integer"}, "example": 5, "x-constraints": ["optional", "positive integer"]}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Region of the load balancer.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["must be a non-empty string"]}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"timestamp": {"type": "string", "example": "Jun 08, 2026 01:24:59 PM"}, "event": {"type": "string", "description": "Action that was logged (e.g. UPDATE, IPV6_DETACH, PAUSE_ALERT, RESUME_ALERT).", "example": "UPDATE"}, "client_ip": {"type": "string", "example": "59.160.116.134"}, "details": {"type": "string", "example": "Appliance name: new-name-1, Message: Configuration updated successfully"}, "project_name": {"type": "string", "example": "default-project-33935"}, "created_by_user_email": {"type": "string", "example": "user@example.com"}}}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "example": "Success"}, "total_page_number": {"type": "integer", "example": 5}, "total_count": {"type": "integer", "example": 23}}}}}}}}}, "/api/v1/appliances/load-balancer-billinglog/{lb_id}/": {"get": {"operationId": "lb-billing-logs", "summary": "Billing Logs", "tags": ["Logs & Timeline"], "description": "Returns a paginated billing history for the load balancer appliance. Each entry describes a billing event for the underlying compute. Use `page_no` and `per_page` to page through results.", "parameters": [{"name": "lb_id", "in": "path", "required": true, "description": "The `id` of the load balancer, as returned by the List Load Balancers endpoint.", "schema": {"type": "integer"}, "example": 12345, "x-constraints": ["required", "must be a valid load balancer (appliance) ID"]}, {"name": "page_no", "in": "query", "required": false, "description": "1-based page number to retrieve.", "schema": {"type": "integer"}, "example": 1, "x-constraints": ["optional", "positive integer"]}, {"name": "per_page", "in": "query", "required": false, "description": "Number of records to return per page.", "schema": {"type": "integer"}, "example": 5, "x-constraints": ["optional", "positive integer"]}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Region of the load balancer.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["must be a non-empty string"]}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "description": "Billing history entries for the load balancer appliance.", "items": {}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "example": "Success"}, "total_page_number": {"type": "integer", "example": 1}, "total_count": {"type": "integer", "example": 0}}}}}}}}}, "/api/v1/appliances/load-balancer-timeline/{lb_id}/": {"get": {"operationId": "activity-timeline", "summary": "Activity Timeline", "tags": ["Logs & Timeline"], "description": "Returns the activity timeline for a load balancer, optionally filtered to a given `year` and `month`. Compared with Action Logs, each timeline entry additionally records who performed the operation (`operation_performed_by`, `performer_type`, `performer_name`) and whether it succeeded (`status`). Events include `CREATE`, `UPDATE`, `RENAME`, `UPGRADE_PLAN`, `POWER_OFF`, `IPV6_ATTACH` / `IPV6_DETACH`, `ENABLE_ACCESS_LOGS` / `DISABLE_ACCESS_LOGS`, `ACTIVATE_BITNINJA_LICENSE` / `TERMINATE_BITNINJA_LICENSE`, and `PAUSE_ALERT` / `RESUME_ALERT`.", "parameters": [{"name": "lb_id", "in": "path", "required": true, "description": "The `id` of the load balancer, as returned by the List Load Balancers endpoint.", "schema": {"type": "integer"}, "example": 12345, "x-constraints": ["required", "must be a valid load balancer (appliance) ID"]}, {"name": "year", "in": "query", "required": false, "description": "Filter the timeline to this calendar year.", "schema": {"type": "string"}, "example": "2026", "x-constraints": ["optional", "four-digit year"]}, {"name": "month", "in": "query", "required": false, "description": "Filter the timeline to this month (zero-padded).", "schema": {"type": "string"}, "example": "06", "x-constraints": ["optional", "two-digit month, 01 to 12"]}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Region of the load balancer.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["must be a non-empty string"]}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"timestamp": {"type": "string", "example": "Jun 09, 2026 05:48:40 AM"}, "event": {"type": "string", "description": "Timeline event (e.g. CREATE, UPDATE, RENAME, UPGRADE_PLAN, POWER_OFF, IPV6_ATTACH, ENABLE_ACCESS_LOGS, ACTIVATE_BITNINJA_LICENSE).", "example": "ENABLE_ACCESS_LOGS"}, "client_ip": {"type": "string", "example": "59.160.116.134"}, "details": {"type": "string", "example": "Appliance name: new-name-1, Bucket name: bucket-name, Message: Access logs enabled successfully"}, "operation_performed_by": {"type": "string", "example": "user@example.com"}, "performer_type": {"type": "string", "example": "primary_user"}, "performer_name": {"type": "string", "example": "Tushar Tushar"}, "status": {"type": "boolean", "description": "Whether the operation succeeded.", "example": true}}}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/appliance-type/": {"get": {"operationId": "lb-plans", "summary": "List Load Balancer Plans", "tags": ["Load Balancer"], "description": "Lists the load balancer plans (SKUs) available to the account in the requested region. Each plan describes the compute backing the load balancer appliance - vCPU, RAM, disk, hourly/monthly price, maximum concurrent connections, and any committed (reserved) pricing options.\n\nUse the `name` of a plan (for example `E2E-LB-2`) as the `plan_name` field when creating or upgrading a load balancer. Plans whose `available_inventory_status` is `false` cannot currently be provisioned in the region.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "must be a valid alphanumeric API key"]}, {"name": "location", "in": "query", "required": true, "description": "Region whose load balancer plans should be returned.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["must be a non-empty string", "should be a valid region name (e.g., Delhi, Chennai)"]}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"appliance_config": {"type": "array", "description": "Available load balancer plans for the region.", "items": {"type": "object", "properties": {"name": {"type": "string", "description": "Plan SKU name. Use this as `plan_name` when creating/upgrading.", "example": "E2E-LB-2"}, "ram": {"type": "integer", "description": "RAM in GB.", "example": 6}, "vcpu": {"type": "integer", "description": "Number of vCPUs.", "example": 4}, "disk": {"type": "integer", "description": "Disk size in GB.", "example": 10}, "price": {"type": "integer", "description": "Monthly price (INR).", "example": 1460}, "hourly": {"type": "integer", "description": "Hourly price (INR).", "example": 2}, "location": {"type": "string", "example": "Delhi"}, "template_id": {"type": "string", "example": "2252"}, "description": {"type": "string", "example": ""}, "max_concurrent_connections": {"type": "integer", "description": "Maximum concurrent connections supported by the plan.", "example": 50000}, "available_inventory_status": {"type": "boolean", "description": "Whether the plan can currently be provisioned in the region.", "example": true}, "can_support_bitninja": {"type": "object", "properties": {"show_bitninja": {"type": "boolean", "example": true}, "bitninja_cost": {"type": "integer", "example": 760}}}, "iops": {"type": "object", "properties": {"READ_IOPS_SEC": {"type": "string", "example": "3000"}, "WRITE_IOPS_SEC": {"type": "string", "example": "2000"}, "TOTAL_IOPS_SEC": {"type": "string", "example": "2000"}}}, "committed_sku": {"type": "array", "description": "Committed (reserved) pricing options for the plan.", "items": {"type": "object", "properties": {"committed_sku_id": {"type": "integer", "example": 9143}, "committed_sku_name": {"type": "string", "example": "365 Days Committed , Rs. 15768.0"}, "committed_sku_price": {"type": "integer", "example": 15768}, "committed_days": {"type": "integer", "example": 365}, "committed_upto_date": {"type": "string", "example": "08-June-2027 09:13"}}}}}}}, "is_private_cluster_user": {"type": "boolean", "example": false}, "storage_price": {"type": "integer", "example": 5}}}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/appliances/load-balancers/": {"post": {"operationId": "create-load-balancer", "summary": "Create Load Balancer (ALB or NLB)", "tags": ["Load Balancer"], "description": "Provisions a load balancer appliance (HAProxy). A single endpoint creates both types - the request body shape is what distinguishes them:\n\n- **Application Load Balancer (ALB)** - Layer-7 (HTTP/HTTPS). Identified by\n  one or more `backends` (and no `tcp_backend`). Supports host/path ACL\n  routing, SSL termination, WebSocket timeouts, and node-based or\n  auto-scaling-group backends. `lb_mode` is `HTTP`, `HTTPS`, or `BOTH`.\n\n- **Network Load Balancer (NLB)** - Layer-4 (TCP). Identified by a single\n  `tcp_backend` entry (and no `backends`). `lb_mode` is `TCP` and the\n  listening port comes from the `tcp_backend` entry. ACLs and SSL are not\n  supported.\n\n\n`backends` and `tcp_backend` are mutually exclusive. ACL rules (`acl_list` / `acl_map`) are always sent **empty** at create time and added later via the Update Load Balancer endpoint. On success the appliance is returned in `Creating` state - poll the Load Balancer Status endpoint until it becomes `Running`.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the create request", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Region in which the load balancer will be provisioned.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["required", "must be a valid region name (e.g., Delhi, Chennai)"]}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "description": "Create payload for both load balancer types. Send `backends` for an **ALB** (Layer 7) or a single `tcp_backend` for an **NLB** (Layer 4) - the two are mutually exclusive and exactly one is required. ALB-only fields (`ssl_context`, `acl_list`/`acl_map`, per-backend `http_check` / `websocket_timeout` / `backend_ssl`) do not apply to an NLB.", "required": ["plan_name", "lb_name", "lb_type", "lb_mode", "lb_port", "node_list_type"], "properties": {"plan_name": {"type": "string", "description": "Plan SKU backing the load balancer appliance. Use the `name` of a plan returned by LB Plans (for example `E2E-LB-2`).", "x-constraints": ["required", "must reference an existing load balancer plan in the region"], "example": "E2E-LB-2"}, "lb_name": {"type": "string", "description": "Display name of the load balancer.", "x-constraints": ["required", "matches ^[A-Za-z0-9_-]+$", "max length 64 characters"], "example": "LB-ALB-26321-6218"}, "lb_type": {"type": "string", "description": "Network scheme of the load balancer. `external` exposes a public IP; `internal` is reachable only inside the selected VPC(s) and requires `vpc_list`. (This is the \"Scheme/Type\" choice in the console; it does **not** distinguish ALB from NLB - the presence of `backends` is what makes this an ALB.)", "enum": ["external", "internal"], "x-constraints": ["required", "defaults to external in the console"], "example": "external"}, "lb_mode": {"type": "string", "description": "Frontend protocol. For an **ALB**: `HTTP` (port 80 only), `HTTPS` (443 only), or `BOTH` (HTTP redirects honour `ssl_context.redirect_to_https`). For an **NLB**: always `TCP`.", "enum": ["HTTP", "HTTPS", "BOTH", "TCP"], "x-constraints": ["required", "ALB: HTTP | HTTPS | BOTH (console default BOTH); NLB: TCP"], "example": "BOTH"}, "lb_port": {"type": "string", "description": "Primary listening port, sent as a string. The console sets `80` when `lb_mode` is `HTTP` and `443` otherwise.", "x-constraints": ["required", "integer 1-65535 (as a string)", "ports 1-1023 and the reserved ports 8080, 10050, 9101 are rejected unless the value is 80 or 443"], "example": "443"}, "node_list_type": {"type": "string", "description": "Backend node-list mode. Always `D` (dynamic) for load balancers created from the console.", "enum": ["D"], "x-constraints": ["required", "must be the literal string `D`"], "example": "D"}, "connection_timeout": {"type": "integer", "description": "HAProxy connection timeout, in seconds.", "x-constraints": ["minimum 60, maximum 10000", "console default: 60"], "example": 60}, "client_timeout": {"type": "integer", "description": "HAProxy client-side inactivity timeout, in seconds.", "x-constraints": ["minimum 60, maximum 10000", "console default: 60"], "example": 60}, "server_timeout": {"type": "integer", "description": "HAProxy server-side inactivity timeout, in seconds.", "x-constraints": ["minimum 60, maximum 10000", "console default: 60"], "example": 60}, "http_keep_alive_timeout": {"type": "integer", "description": "HAProxy HTTP keep-alive timeout, in seconds.", "x-constraints": ["minimum 60, maximum 10000", "console default: 60"], "example": 60}, "ssl_context": {"type": "object", "description": "TLS configuration. Required when `lb_mode` is `HTTPS` or `BOTH` (an SSL certificate must be selected); not used for plain `HTTP`.", "properties": {"ssl_certificate_id": {"type": "integer", "nullable": true, "description": "ID of an uploaded SSL certificate to terminate TLS with. Required when `lb_mode` is not `HTTP`; `null` otherwise.", "x-constraints": ["required when lb_mode is HTTPS or BOTH", "must reference an SSL certificate owned by the account"], "example": null}, "redirect_to_https": {"type": "boolean", "description": "When `true`, plain HTTP requests are redirected to HTTPS.", "x-constraints": ["defaults to false"], "example": false}}}, "backends": {"type": "array", "description": "One or more backend groups the ALB routes traffic to. At least one backend is required for an ALB (this is what distinguishes it from an NLB). `backends` and `tcp_backend` are mutually exclusive.", "x-constraints": ["required for an ALB", "at least one entry", "backend names must be unique"], "items": {"type": "object", "required": ["name", "domain_name"], "properties": {"name": {"type": "string", "description": "Backend group name (also referenced by ACL maps and `default_backend`).", "x-constraints": ["required", "matches ^[A-Za-z0-9_-]+$", "max length 64 characters", "cannot be the reserved keyword `none`"], "example": "backend-group-1"}, "balance": {"type": "string", "description": "Load-balancing (routing policy) algorithm. `source` provides IP stickiness, `roundrobin` distributes evenly, `leastconn` sends to the least-busy server.", "enum": ["source", "roundrobin", "leastconn"], "x-constraints": ["console default: source"], "example": "source"}, "backend_mode": {"type": "string", "description": "Backend protocol. Mirrors `backend_ssl` - `http` or `https`.", "enum": ["http", "https"], "x-constraints": ["defaults to http"], "example": "http"}, "backend_ssl": {"type": "boolean", "description": "Whether the ALB connects to backend servers over HTTPS.", "x-constraints": ["defaults to false"], "example": false}, "http_check": {"type": "boolean", "description": "Enables HTTP health checks against `check_url`.", "x-constraints": ["console default: true"], "example": true}, "check_url": {"type": "string", "description": "Path used for HTTP health checks.", "x-constraints": ["defaults to /"], "example": "/"}, "domain_name": {"type": "string", "description": "Host header used for health checks. The console sends `localhost`.", "x-constraints": ["required", "max length 64 characters"], "example": "localhost"}, "websocket_timeout": {"type": "integer", "nullable": true, "description": "WebSocket idle timeout in seconds, or `null` to disable.", "x-constraints": ["minimum 1, maximum 100", "optional; null when not set"], "example": 60}, "network_id": {"type": "string", "nullable": true, "description": "VPC network ID for the backend; `null` for public backends.", "example": null}, "scaler_id": {"type": "string", "nullable": true, "description": "Auto Scaling Group ID when the backend type is an auto-scaling group. `null` for node-based backends.", "x-constraints": ["required when using an auto-scaling-group backend", "must reference an active scale group"], "example": null}, "scaler_port": {"type": "string", "nullable": true, "description": "Port on the auto-scaling group's nodes. `null` for node-based backends.", "x-constraints": ["required when using an auto-scaling-group backend", "integer 1-65535 (as a string)"], "example": null}, "servers": {"type": "array", "description": "Backend servers (nodes) for a node-based backend. Omitted/empty when the backend is an auto-scaling group.", "items": {"type": "object", "required": ["backend_name", "backend_ip", "backend_port"], "properties": {"backend_name": {"type": "string", "description": "Name of the backend server.", "x-constraints": ["required", "matches ^[A-Za-z0-9_-]+$"], "example": "C3-8GB-853"}, "backend_ip": {"type": "string", "description": "Private/public IPv4 address of the backend server.", "x-constraints": ["required", "valid IPv4 address"], "example": "10.2.3.4"}, "backend_port": {"type": "integer", "description": "Port the backend server listens on.", "x-constraints": ["required", "integer 1-65535"], "example": 8080}}}}}}}, "default_backend": {"type": "string", "description": "Name of the backend that receives traffic not matched by any ACL. May only be set when `backends` is non-empty.", "x-constraints": ["optional", "must match one of the `backends[].name` values"], "example": "backend-group-1"}, "acl_list": {"type": "array", "description": "Layer-7 routing rule definitions. Always sent **empty** at create time; add rules afterwards via Update Load Balancer.", "items": {}, "x-constraints": ["send an empty array at create"]}, "acl_map": {"type": "array", "description": "Mapping of ACL rules to backends. Always sent **empty** at create time.", "items": {}, "x-constraints": ["send an empty array at create"]}, "tcp_backend": {"type": "array", "description": "The single TCP backend group for an **NLB**. Provide exactly one entry for an NLB (and leave `backends` empty); leave this empty for an ALB. `backends` and `tcp_backend` are mutually exclusive.", "x-constraints": ["required for an NLB (exactly one entry); empty for an ALB"], "items": {"type": "object", "required": ["port", "servers"], "properties": {"backend_name": {"type": "string", "description": "Backend group name.", "x-constraints": ["matches ^[A-Za-z0-9_-]+$", "max length 64 characters"], "example": "backend-group-1"}, "port": {"type": "integer", "description": "Port the NLB listens on and forwards to the backend servers (also copied to top-level `lb_port`).", "x-constraints": ["required", "integer 1-65535", "ports 1-1023 and the reserved ports 8080, 10050, 9101 are rejected unless the value is 80 or 443"], "example": 12345}, "balance": {"type": "string", "description": "Load-balancing (routing policy) algorithm.", "enum": ["source", "roundrobin", "leastconn"], "x-constraints": ["console default: leastconn"], "example": "leastconn"}, "timeout_connect": {"type": "string", "description": "TCP connect timeout in seconds (as a string).", "x-constraints": ["defaults to 5"], "example": "5"}, "timeout_client": {"type": "string", "description": "TCP client-side timeout in seconds (as a string).", "x-constraints": ["defaults to 10"], "example": "10"}, "timeout_server": {"type": "string", "description": "TCP server-side timeout in seconds (as a string).", "x-constraints": ["defaults to 10"], "example": "10"}, "servers": {"type": "array", "description": "Backend servers (nodes) for the TCP backend.", "x-constraints": ["required", "at least one entry"], "items": {"type": "object", "required": ["backend_name", "backend_ip", "backend_port"], "properties": {"backend_name": {"type": "string", "x-constraints": ["required", "matches ^[A-Za-z0-9_-]+$"], "example": "C3-8GB-853"}, "backend_ip": {"type": "string", "x-constraints": ["required", "valid IPv4 address"], "example": "10.8.54.7"}, "backend_port": {"type": "integer", "x-constraints": ["required", "integer 1-65535"], "example": 32}}}}}}}, "vpc_list": {"type": "array", "description": "VPC(s) the load balancer attaches to. **Required when `lb_type` is `internal`**; optional otherwise.", "items": {"type": "object", "required": ["network_id", "vpc_name", "ipv4_cidr"], "properties": {"network_id": {"type": "string", "description": "VPC network ID.", "example": "60806"}, "vpc_name": {"type": "string", "description": "VPC name.", "example": "VPC-261"}, "ipv4_cidr": {"type": "string", "description": "IPv4 CIDR block of the VPC.", "example": "10.8.46.0/23"}, "subnet_id": {"type": "string", "nullable": true, "description": "Subnet ID, when attaching to a specific subnet.", "example": null}}}}, "lb_reserve_ip": {"type": "string", "description": "A previously reserved public IPv4 address to assign to the load balancer. Send an empty string to allocate a fresh IP. Not allowed for internal load balancers.", "x-constraints": ["optional", "must be a reserved IPv4 address on the account", "must be empty when lb_type is internal"], "example": ""}, "is_ipv6_attached": {"type": "boolean", "description": "Whether to attach a public IPv6 address at creation (external load balancers only).", "x-constraints": ["defaults to false"], "example": false}, "enable_bitninja": {"type": "boolean", "description": "Whether to activate the BitNinja security add-on on the appliance.", "x-constraints": ["defaults to false"], "example": false}, "security_group_id": {"type": "integer", "nullable": true, "description": "ID of the security group to attach to the load balancer. The console always sends the selected security group.", "x-constraints": ["optional", "must reference a security group owned by the account"], "example": 81526}, "isEncryptionEnabled": {"type": "boolean", "description": "Enables disk encryption on the appliance. When `true`, `encryption_passphrase` is required.", "x-constraints": ["defaults to false"], "example": false}, "encryption_passphrase": {"type": "string", "description": "Passphrase for disk encryption. Only used when `isEncryptionEnabled` is `true`.", "x-constraints": ["required when isEncryptionEnabled is true", "8-12 characters", "must contain at least one lowercase letter, one uppercase letter, and one special character"], "example": "ApiAuto@24"}, "cn_id": {"type": "integer", "nullable": true, "description": "Committed (reserved) SKU ID, when creating the load balancer on a committed plan. `null` for standard hourly billing. Use a `committed_sku_id` from LB Plans.", "example": null}, "cn_status": {"type": "string", "nullable": true, "description": "Committed-plan renewal status. `null` for standard hourly billing.", "example": null}}}}}}, "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"appliance_id": {"type": "integer", "description": "ID of the newly created load balancer.", "example": 1234}, "id": {"type": "integer", "description": "Same as `appliance_id`.", "example": 1234}, "IP": {"type": "string", "description": "Public IP assigned to the load balancer.", "example": "164.2.3.4"}, "is_credit_sufficient": {"type": "boolean", "description": "Whether the account had sufficient credit for the request.", "example": true}, "resource_type": {"type": "string", "nullable": true, "example": null}, "label_id": {"type": "integer", "nullable": true, "example": null}}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/appliances/": {"get": {"operationId": "list-load-balancers", "summary": "List Load Balancers", "tags": ["Load Balancer"], "description": "Returns a paginated list of the load balancer appliances in the project. Each entry contains the underlying node detail (public/private IP, plan, price), the full HAProxy configuration `context` (the same object you send to Update Load Balancer), the current `status`, and committed-pricing details. Use `page_no` and `per_page` to page through results; `total_count` and `total_page_number` are returned at the top level.", "parameters": [{"name": "page_no", "in": "query", "required": false, "description": "1-based page number to retrieve.", "schema": {"type": "integer"}, "example": 1, "x-constraints": ["optional", "positive integer", "defaults to 1 when omitted"]}, {"name": "per_page", "in": "query", "required": false, "description": "Number of load balancers to return per page.", "schema": {"type": "integer"}, "example": 5, "x-constraints": ["optional", "positive integer"]}, {"name": "advance_search_string", "in": "query", "required": false, "description": "Reserved search flag used by the console. Send `false` for the standard listing.", "schema": {"type": "boolean"}, "example": false, "x-constraints": ["optional", "boolean"]}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Region to filter load balancers by.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["must be a non-empty string"]}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "description": "Load balancer (appliance) ID.", "example": 7975}, "name": {"type": "string", "example": "LB-NLB-26321-4626"}, "customer": {"type": "integer", "example": 33935}, "status": {"type": "string", "description": "Lifecycle state (e.g. Creating, Running, Powered off).", "example": "Creating"}, "node_detail": {"type": "object", "description": "The underlying VM backing the appliance.", "properties": {"node_id": {"type": "integer", "example": 316770}, "vm_id": {"type": "integer", "description": "VM ID - used as the `vm_id` path parameter for BitNinja actions.", "example": 320926}, "private_ip": {"type": "string", "example": "10.8.46.6"}, "public_ip": {"type": "string", "example": "164.52.192.224"}, "ram": {"type": "string", "example": "6 GB"}, "disk": {"type": "string", "example": "10 GB"}, "vcpu": {"type": "integer", "example": 4}, "billing_type": {"type": "string", "example": "hourly"}, "price": {"type": "string", "example": "Rs. 2.0/Hour or Rs. 1460.0 Monthly"}, "plan_name": {"type": "string", "example": "E2E-LB-2"}}}, "appliance_instance": {"type": "array", "description": "The HAProxy instance(s). `context` is the full configuration object - the same shape you PUT to Update Load Balancer.", "items": {"type": "object", "properties": {"id": {"type": "string", "example": "23422"}, "run": {"type": "string", "nullable": true, "example": null}, "context": {"type": "object", "description": "Full load balancer configuration. See the Update Load Balancer request body for the field reference.", "properties": {"lb_name": {"type": "string", "example": "LB-NLB-26321-4626"}, "lb_type": {"type": "string", "example": "external"}, "lb_mode": {"type": "string", "example": "TCP"}, "lb_port": {"type": "string", "example": "12345"}, "plan_name": {"type": "string", "example": "E2E-LB-2"}, "node_list_type": {"type": "string", "example": "D"}, "backends": {"type": "array", "items": {}}, "tcp_backend": {"type": "array", "items": {}}, "acl_list": {"type": "array", "items": {}}, "acl_map": {"type": "array", "items": {}}, "enable_bitninja": {"type": "boolean", "example": false}, "security_group_id": {"type": "integer", "example": 81526}, "host_target": {"type": "string", "example": "164.52.192.224"}, "management_ip": {"type": "string", "example": "192.168.0.204"}}}}}}, "created_at": {"type": "string", "example": "2026-06-09 06:09:17 AM UTC"}, "updated_at": {"type": "string", "example": "2026-06-09 06:09:17 AM UTC"}, "eos_enabled_status": {"type": "boolean", "description": "Whether access-log shipping (EOS) is enabled.", "example": false}, "project_name": {"type": "string", "example": "default-project-33935"}, "isEncryptionEnabled": {"type": "boolean", "example": true}}}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "example": "Success"}, "total_page_number": {"type": "integer", "example": 1}, "total_count": {"type": "integer", "example": 1}}}}}}}}}, "/api/v1/appliances/load-balancers/{lb_id}/": {"get": {"operationId": "lb-stats", "summary": "Load Balancer Stats", "tags": ["Load Balancer"], "description": "Returns live HAProxy runtime statistics for a single load balancer, grouped into `frontends`, `backends`, and `servers`. The fields mirror the HAProxy stats CSV (sessions, bytes in/out, queue depth, response code counts, health-check status, and so on) and are useful for building custom dashboards. For historical time-series data use Historical Data instead.", "parameters": [{"name": "lb_id", "in": "path", "required": true, "description": "The `id` of the load balancer, as returned by the List Load Balancers endpoint.", "schema": {"type": "integer"}, "example": 12345, "x-constraints": ["required", "must be a valid load balancer (appliance) ID"]}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Region of the load balancer.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["must be a non-empty string"]}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "description": "Live HAProxy statistics. `frontends`, `backends`, and `servers` are arrays whose objects mirror the HAProxy stats CSV columns (only the commonly used columns are shown here).", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"frontends": {"type": "array", "items": {"type": "object", "properties": {"pxname": {"type": "string", "description": "Proxy (frontend) name.", "example": "http-in"}, "svname": {"type": "string", "example": "FRONTEND"}, "scur": {"type": "integer", "description": "Current sessions.", "example": 1}, "smax": {"type": "integer", "description": "Max sessions seen.", "example": 2}, "stot": {"type": "integer", "description": "Total sessions.", "example": 2}, "bin": {"type": "integer", "description": "Bytes in.", "example": 186}, "bout": {"type": "integer", "description": "Bytes out.", "example": 217}, "status": {"type": "string", "example": "OPEN"}, "hrsp_2xx": {"type": "integer", "example": 0}, "hrsp_4xx": {"type": "integer", "example": 0}, "hrsp_5xx": {"type": "integer", "example": 1}}}}, "backends": {"type": "array", "description": "Backend-level stats (same column set as frontends).", "items": {"type": "object", "properties": {"pxname": {"type": "string", "example": "backend-group-1"}, "svname": {"type": "string", "example": "BACKEND"}, "status": {"type": "string", "example": "UP"}}}}, "servers": {"type": "array", "description": "Per-server stats within each backend.", "items": {"type": "object", "properties": {"pxname": {"type": "string", "example": "backend-group-1"}, "svname": {"type": "string", "example": "C3-8GB-853"}, "status": {"type": "string", "example": "UP"}}}}}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}, "put": {"operationId": "update-load-balancer", "summary": "Update Load Balancer", "tags": ["Load Balancer"], "description": "Updates the configuration of an existing load balancer. This is the endpoint used to add or change backends, backend servers, ACL routing rules (`acl_list` / `acl_map`), the TCP backend (`tcp_backend`), timeouts, SSL settings, and the plan.\n\n**The full configuration context must be re-sent on every update** - the console reads the current `context` object (from List Load Balancers), mutates the arrays it needs to change, and PUTs the entire object back. Any field omitted is treated as cleared. Key rules enforced by the backend:\n- `backends` and `tcp_backend` are mutually exclusive; `tcp_backend` may\n  contain at most one entry.\n\n- `acl_list` / `acl_map` may only be used on an ALB (they cannot coexist\n  with `tcp_backend`).\n\n- `default_backend` may only be set when `backends` is non-empty.\n- For an internal load balancer (`lb_type: internal`) `vpc_list` is\n  required and `lb_reserve_ip` must be empty.", "parameters": [{"name": "lb_id", "in": "path", "required": true, "description": "The `id` of the load balancer, as returned by the List Load Balancers endpoint.", "schema": {"type": "integer"}, "example": 12345, "x-constraints": ["required", "must be a valid load balancer (appliance) ID"]}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the update request", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Region of the load balancer being updated.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["must be a non-empty string"]}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "description": "The complete load balancer configuration context. Read the current `context` from List Load Balancers, change the fields you need, and PUT the whole object back. Fields shared with create (plan, timeouts, ssl_context, vpc_list, backends/servers, security and encryption flags) behave identically; the fields below are the ones most relevant to updates.", "required": ["lb_port", "lb_type", "lb_name", "lb_mode", "plan_name", "node_list_type"], "properties": {"lb_name": {"type": "string", "description": "Display name (changing it here renames the load balancer).", "x-constraints": ["matches ^[A-Za-z0-9_-]+$", "max length 64 characters"], "example": "new-name-1"}, "lb_type": {"type": "string", "enum": ["external", "internal"], "description": "Network scheme. `internal` requires a non-empty `vpc_list` and forbids `lb_reserve_ip`.", "example": "external"}, "lb_mode": {"type": "string", "description": "Frontend protocol (`HTTP`/`HTTPS`/`BOTH` for an ALB, `TCP` for an NLB).", "example": "HTTP"}, "lb_port": {"type": "string", "description": "Listening port (string).", "x-constraints": ["integer 1-65535 (as a string)", "ports 1-1023 and reserved ports 8080, 10050, 9101 rejected unless 80 or 443"], "example": "80"}, "plan_name": {"type": "string", "description": "Plan SKU. Changing it here is **not** how you upgrade - use Perform Load Balancer Action with `type: upgrade_plan` instead.", "example": "E2E-LB-2"}, "node_list_type": {"type": "string", "enum": ["D"], "example": "D"}, "backends": {"type": "array", "description": "ALB backend groups (same item shape as create). Add, edit, or remove backends here. Empty for an NLB. Deleting a backend also prunes any `acl_map` entries that targeted it.", "items": {"type": "object", "properties": {"name": {"type": "string", "example": "backend-group-1"}, "balance": {"type": "string", "enum": ["source", "roundrobin", "leastconn"], "example": "source"}, "backend_mode": {"type": "string", "example": "http"}, "backend_ssl": {"type": "boolean", "example": false}, "http_check": {"type": "boolean", "example": true}, "check_url": {"type": "string", "example": "/"}, "domain_name": {"type": "string", "example": "localhost"}, "websocket_timeout": {"type": "integer", "nullable": true, "description": "WebSocket idle timeout (1-100s); send null (not empty string) to disable.", "example": 60}, "network_id": {"type": "string", "nullable": true, "example": null}, "scaler_id": {"type": "string", "nullable": true, "example": null}, "scaler_port": {"type": "string", "nullable": true, "example": null}, "servers": {"type": "array", "items": {"type": "object", "properties": {"backend_name": {"type": "string", "example": "C3-8GB-853"}, "backend_ip": {"type": "string", "example": "10.2.3.4"}, "backend_port": {"type": "integer", "example": 543}}}}}}}, "tcp_backend": {"type": "array", "description": "NLB TCP backend (same item shape as create). At most one entry. Mutually exclusive with `backends`.", "items": {}}, "acl_list": {"type": "array", "description": "Layer-7 ACL **rule definitions** (the match conditions). Only valid on an ALB - cannot coexist with `tcp_backend`. Each entry is paired 1:1 with an `acl_map` entry by `acl_name`.", "items": {"type": "object", "required": ["acl_name", "acl_condition", "acl_matching_path"], "properties": {"acl_name": {"type": "string", "description": "Unique name for this ACL rule; referenced by the matching `acl_map` entry.", "x-constraints": ["required", "matches ^[A-Za-z0-9_-]+$", "max length 32 characters"], "example": "acl-1"}, "acl_condition": {"type": "string", "description": "HAProxy match condition. Built in the console from an ACL type (Path / Host / Query Parameter / HTTP Request / Source IP) and a comparison.", "enum": ["hdr(host) -i", "hdr_beg(host) -i", "hdr_end(host) -i", "hdr_reg(host) -i", "path", "path_beg", "path_end", "path_reg", "path -i", "path_beg -i", "path_end -i", "path_reg -i", "src", "method", "urlp", "urlp_beg", "urlp_end", "urlp_reg"], "x-constraints": ["required", "must be one of the allowed HAProxy match strings", "max length 32 characters"], "example": "path_beg -i"}, "acl_matching_path": {"type": "string", "description": "The value to match - a path, host, IP/CIDR, query-parameter value, or (for an HTTP-request ACL) a space-separated list of methods such as `GET POST`.", "x-constraints": ["required", "max length 512 characters"], "example": "/api"}}}}, "acl_map": {"type": "array", "description": "Maps named ACL rules (from `acl_list`) to the backend that should serve matching traffic. Only valid on an ALB.", "items": {"type": "object", "required": ["acl_name", "acl_backend"], "properties": {"acl_name": {"type": "string", "description": "Name of the ACL rule (must match an `acl_list[].acl_name`).", "x-constraints": ["required", "max length 32 characters"], "example": "acl-1"}, "acl_backend": {"type": "string", "description": "Name of the backend group that serves traffic matching this ACL.", "x-constraints": ["required", "must match one of the `backends[].name` values", "max length 64 characters"], "example": "backend-group-1"}, "acl_condition_state": {"type": "boolean", "description": "When `true` (default) the rule routes to `acl_backend` on a match; `false` negates the condition.", "x-constraints": ["defaults to true"], "example": true}}}}, "default_backend": {"type": "string", "description": "Backend that serves unmatched traffic. Must be empty if there are no `backends`.", "example": "backend-group-1"}, "ssl_context": {"type": "object", "description": "TLS configuration (ALB only).", "properties": {"ssl_certificate_id": {"type": "integer", "nullable": true, "example": null}, "redirect_to_https": {"type": "boolean", "example": false}}}, "connection_timeout": {"type": "integer", "x-constraints": ["minimum 60, maximum 10000"], "example": 61}, "client_timeout": {"type": "integer", "x-constraints": ["minimum 60, maximum 10000"], "example": 61}, "server_timeout": {"type": "integer", "x-constraints": ["minimum 60, maximum 10000"], "example": 61}, "http_keep_alive_timeout": {"type": "integer", "x-constraints": ["minimum 60, maximum 10000"], "example": 61}, "vpc_list": {"type": "array", "description": "VPC attachments (required for internal load balancers).", "items": {"type": "object", "properties": {"network_id": {"type": "string", "example": "12345"}, "vpc_name": {"type": "string", "example": "VPC-261"}, "ipv4_cidr": {"type": "string", "example": "10.1.2.3/23"}}}}, "security_group_id": {"type": "integer", "example": 12345}, "enable_bitninja": {"type": "boolean", "example": false}, "is_ipv6_attached": {"type": "boolean", "example": false}, "lb_reserve_ip": {"type": "string", "example": ""}}}}}}, "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"appliance_id": {"type": "integer", "example": 7972}, "is_credit_sufficient": {"type": "boolean", "example": true}}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/appliances/status/": {"get": {"operationId": "lb-status", "summary": "Load Balancer Status", "tags": ["Load Balancer"], "description": "Lightweight status endpoint used to poll the lifecycle state of a load balancer (for example after create, upgrade, or power actions). Returns the `id`, `name`, and `status` (such as `Creating`, `Running`, `Powered off`) plus a `data_monitor` object. Pass the `id` query parameter to scope the response to a single load balancer.", "parameters": [{"name": "id", "in": "query", "required": false, "description": "Load balancer (appliance) ID to fetch status for. Omit to list status for all load balancers in the project.", "schema": {"type": "string"}, "example": "{{lb_id}}", "x-constraints": ["optional", "must be a valid load balancer ID"]}, {"name": "page_no", "in": "query", "required": false, "description": "1-based page number to retrieve.", "schema": {"type": "integer"}, "example": 1, "x-constraints": ["optional", "positive integer"]}, {"name": "per_page", "in": "query", "required": false, "description": "Number of records to return per page.", "schema": {"type": "integer"}, "example": 5, "x-constraints": ["optional", "positive integer"]}, {"name": "advance_search_string", "in": "query", "required": false, "description": "Reserved search flag used by the console.", "schema": {"type": "boolean"}, "example": true, "x-constraints": ["optional", "boolean"]}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Region to filter by.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["must be a non-empty string"]}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 7975}, "name": {"type": "string", "example": "LB-NLB-26321-4626"}, "status": {"type": "string", "example": "Creating"}, "data_monitor": {"type": "object", "properties": {}}}}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "example": "Success"}, "total_page_number": {"type": "integer", "example": 1}, "total_count": {"type": "integer", "example": 1}}}}}}}}}, "/api/v1/appliances/load-balancers/{lb_id}/actions/": {"put": {"operationId": "lb-action", "summary": "Perform Load Balancer Action", "tags": ["Load Balancer"], "description": "Performs a lifecycle or management action on a single load balancer. The action is selected by the `type` field in the request body. Two actions require an extra field: `upgrade_plan` requires `plan_name`, and `rename` requires `name`. All other actions need only `type`.\n\nSupported actions: `power_on`, `power_off`, `upgrade_plan`, `rename`. Any other value is rejected with `Invalid Action!`.", "parameters": [{"name": "lb_id", "in": "path", "required": true, "description": "The `id` of the load balancer, as returned by the List Load Balancers endpoint.", "schema": {"type": "integer"}, "example": 12345, "x-constraints": ["required", "must be a valid load balancer (appliance) ID"]}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Region of the target load balancer.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["required", "non-empty string"]}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "required": ["type"], "properties": {"type": {"type": "string", "description": "Action to perform. `upgrade_plan` additionally requires `plan_name`; `rename` additionally requires `name`. `power_on` and `power_off` need only `type`.", "enum": ["power_on", "power_off", "upgrade_plan", "rename"], "x-constraints": ["required", "must be one of the supported action identifiers"], "example": "power_off"}, "plan_name": {"type": "string", "description": "Target plan SKU. **Required when `type` is `upgrade_plan`.** Must be a larger plan than the current one.", "x-constraints": ["required when type is upgrade_plan", "must reference an existing load balancer plan in the region"], "example": "E2E-LB-3"}, "name": {"type": "string", "description": "New display name. **Required when `type` is `rename`.**", "x-constraints": ["required when type is rename", "matches ^[A-Za-z0-9_-]+$", "max length 64 characters"], "example": "new-name"}}}}}}, "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "string", "description": "Human-readable result of the action.", "example": "Appliance Powering Off"}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/appliances/load-balancers/{lb_id}/ipv6/": {"put": {"operationId": "attach-detach-ipv6", "summary": "Attach or Detach IPv6 Address", "tags": ["Load Balancer"], "description": "Attaches a public IPv6 address to a load balancer, or detaches the existing one. The operation is selected by the `action` field in the request body (`attach` or `detach`). On success the full load balancer configuration `context` is returned with the updated `host_target_ipv6` and `is_ipv6_attached` fields. IPv6 is only available for external load balancers.", "parameters": [{"name": "lb_id", "in": "path", "required": true, "description": "The `id` of the load balancer, as returned by the List Load Balancers endpoint.", "schema": {"type": "integer"}, "example": 12345, "x-constraints": ["required", "must be a valid load balancer (appliance) ID"]}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Region of the load balancer.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["required", "non-empty string"]}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "required": ["action"], "properties": {"action": {"type": "string", "description": "Whether to attach a new public IPv6 address or detach the existing one.", "enum": ["attach", "detach"], "x-constraints": ["required", "one of: attach, detach"], "example": "attach"}}}}}}, "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "description": "Returns the full load balancer configuration context with the updated IPv6 fields.", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "description": "The load balancer configuration context (see the Update Load Balancer request body for the complete field reference).", "properties": {"lb_name": {"type": "string", "example": "new-name-1"}, "lb_type": {"type": "string", "example": "external"}, "lb_mode": {"type": "string", "example": "HTTP"}, "lb_port": {"type": "string", "example": "80"}, "plan_name": {"type": "string", "example": "E2E-LB-2"}, "is_ipv6_attached": {"type": "boolean", "description": "Whether an IPv6 address is currently attached.", "example": false}, "host_target_ipv6": {"type": "string", "description": "The attached IPv6 address (empty/absent when detached).", "example": "2406:69c0:3000::65"}, "host_target": {"type": "string", "description": "Comma-separated public IPv4 (and IPv6, when attached) targets.", "example": "164.52.192.224,2406:69c0:3000::65"}, "management_ip": {"type": "string", "example": "192.168.0.204"}}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "example": "IPv6 Attached successfully"}}}}}}}}}, "/api/v1/appliances/{lb_id}/": {"delete": {"operationId": "delete-load-balancer", "summary": "Delete Load Balancer", "tags": ["Load Balancer"], "description": "Permanently deletes a load balancer appliance. Note the path uses the generic `appliances/{lb_id}/` route, not the `load-balancers/` prefix. Use the `reserve_ip_required` query parameter to decide whether the load balancer's public IP should be retained as a reserved IP on the account after deletion. This action cannot be undone.", "parameters": [{"name": "lb_id", "in": "path", "required": true, "description": "The `id` of the load balancer, as returned by the List Load Balancers endpoint.", "schema": {"type": "integer"}, "example": 12345, "x-constraints": ["required", "must be a valid load balancer (appliance) ID"]}, {"name": "reserve_ip_required", "in": "query", "required": false, "description": "When `true`, the load balancer's public IP is converted to a reserved IP on the account instead of being released.", "schema": {"type": "boolean"}, "example": false, "x-constraints": ["optional", "boolean", "defaults to false"]}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the delete request", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Region of the load balancer being deleted.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["required", "non-empty string"]}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"appliance_id": {"type": "string", "example": ""}}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}}}