{"openapi": "3.0.3", "info": {"title": "MyAccount API - securityhub", "description": "", "version": "1.0.0"}, "servers": [{"url": "https://api.e2enetworks.com/myaccount"}], "paths": {"/api/v1/compliance-security/agent/": {"get": {"operationId": "get-compliance-security-agent", "summary": "Connected agents", "tags": ["Security Compliance"], "parameters": [{"name": "key", "in": "query", "required": false, "description": "Agent classificaiton.", "schema": {"type": "string", "enum": ["Total_agents", "Disconnected_agents", "Never_connected_agents"]}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Successful response with agent status data", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"agent_configured": {"type": "boolean", "example": true}, "status_info": {"type": "object", "properties": {"Total_agents": {"type": "integer", "example": 1}, "Active_agents": {"type": "integer", "example": 0}, "Disconnected_agents": {"type": "integer", "example": 0}, "Pending_agents": {"type": "integer", "example": 0}, "Never_connected_agents": {"type": "integer", "example": 1}}}, "most_active_agent": {"type": "string", "nullable": true, "example": null}, "last_registered_agent": {"type": "string", "example": "C3-8GB-133"}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/abuse-detail/": {"get": {"operationId": "get-abuse-detail", "summary": "Abuse Logs", "tags": ["Settings"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"default": {"description": "Successful response"}}}}}}