{"openapi": "3.0.3", "info": {"title": "MyAccount API - s3", "description": "", "version": "1.0.0"}, "servers": [{"url": "https://api.e2enetworks.com/myaccount"}], "paths": {"/api/v1/storage/buckets/": {"get": {"operationId": "get-storage-buckets", "summary": "List Buckets", "tags": ["Object Storage"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "page_no", "in": "query", "required": false, "description": "The page number from which you want your page search results to be displayed.", "schema": {"type": "integer", "minimum": 0}}, {"name": "per_page", "in": "query", "required": false, "description": "Number of results per page", "schema": {"type": "integer", "minimum": 0}}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 1234}, "name": {"type": "string", "example": "testbucket"}, "created_by": {"type": "integer", "example": 1234}, "status": {"type": "string", "example": "NEW"}, "created_at": {"type": "string", "format": "date-time", "example": "2024-01-17T13:43:47.494582Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2024-01-17T13:43:47.494691Z"}, "bucket_size": {"type": "string", "example": "0 bytes"}, "versioning_status": {"type": "string", "example": "Enabled", "enum": ["Off", "Enabled", "Suspended"]}, "lifecycle_configuration_status": {"type": "string", "example": "Configured"}, "is_public_access_enabled": {"type": "boolean", "example": false}, "is_cdn_attached": {"type": "boolean", "example": false}, "is_lock_enabled": {"type": "boolean", "example": false}, "is_encryption_enabled": {"type": "boolean", "example": false}}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}, "total_count": {"type": "integer", "example": 3}, "total_page_number": {"type": "integer", "example": 1}}}}}}}}}, "/api/v1/storage/buckets/{bucket_name}/": {"post": {"operationId": "post-storage-buckets-bucket-name", "summary": "Create Object storage", "tags": ["Object Storage"], "parameters": [{"name": "bucket_name", "in": "path", "required": true, "description": "Bucket Name", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"is_lock_enabled": {"type": "boolean", "example": false, "description": "Set to `true` to enable object lock, or `false` to disable it.\n"}, "is_versioning_enabled": {"type": "boolean", "example": true, "description": "Set to `true` to enable bucket versioning, or `false` to disable it.\n"}, "is_encryption_enabled": {"type": "boolean", "example": false, "description": "Set to `true` to enable bucket encryption, or `false` to disable it.\n"}}}}}}, "responses": {"200": {"description": "Successfully created a bucket", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"id": {"type": "integer", "example": 12352}, "name": {"type": "string", "example": "test-bucket-112345"}, "created_by": {"type": "integer", "example": 24778}, "status": {"type": "string", "example": "NEW"}, "used_MB": {"type": "number", "nullable": true, "example": null}, "created_at": {"type": "string", "format": "date-time", "example": "2025-05-27T05:53:19.879549Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2025-05-27T05:53:19.879596Z"}, "versioning_status": {"type": "string", "example": "Enabled"}, "lifecycle_configuration_status": {"type": "string", "example": "Not-Configured"}, "is_lock_enabled": {"type": "boolean", "example": true}, "is_encryption_enabled": {"type": "boolean", "example": true}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}, "412": {"description": "Bucket creation failed due to precondition error", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 412}, "data": {"type": "object", "example": {}}, "errors": {"type": "string", "example": "Bucket name is not available."}, "message": {"type": "string", "example": "Precondition Failed"}}}}}}}}, "delete": {"operationId": "delete-storage-buckets-bucket-name", "summary": "Delete Object Storage", "tags": ["Object Storage"], "parameters": [{"name": "bucket_name", "in": "path", "required": true, "description": "Bucket Name", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Bucket deletion initiated successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "example": {}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Your request to delete the bucket is being processed. This may take some time depending on the amount of data in the bucket."}}}}}}, "412": {"description": "Precondition Failed \u2013 Bucket has a lock policy applied", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 412}, "data": {"type": "object", "example": {}}, "errors": {"type": "string", "example": "You can not delete this bucket. Default lock policy is applied on this bucket. First delete default lock policy and then delete bucket."}, "message": {"type": "string", "example": "Precondition Failed"}}}}}}}}}, "/api/v1/storage/bucket_versioning/{bucket_name}/": {"put": {"operationId": "put-storage-bucket-versioning-bucket-name", "summary": "Enable/Disable Bucket Versioning", "tags": ["Object Storage"], "parameters": [{"name": "bucket_name", "in": "path", "required": true, "description": "Bucket Name", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"bucket_name": {"type": "string", "example": "bucket_name"}, "new_versioning_state": {"type": "string", "enum": ["Enabled", "Disabled"], "example": "Disabled"}}, "required": ["bucket_name", "new_versioning_state"]}}}}, "responses": {"200": {"description": "A successful response with bucket details", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"bucket_name": {"type": "string", "example": "testing"}, "bucket_versioning_status": {"type": "string", "example": "Enabled"}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/storage/bucket_lifecycle/{bucket_name}/": {"get": {"operationId": "get-storage-bucket-lifecycle-bucket-name", "summary": "List Lifecycle Rules", "tags": ["Object Storage"], "parameters": [{"name": "bucket_name", "in": "path", "required": true, "description": "Bucket Name", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Successfully fetched lifecycle rules for the bucket", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 1310}, "deleted": {"type": "boolean", "example": false}, "created_at": {"type": "string", "format": "date-time", "example": "2025-05-27T06:39:02.713206Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2025-05-27T06:39:02.713304Z"}, "rule_id": {"type": "string", "example": "4aeca5795d1d4d41b2f7e0129a93bc3c"}, "enabled": {"type": "boolean", "example": true}, "prefix": {"type": "string", "example": ""}, "expiry_date_or_days": {"type": "string", "example": "1"}, "noncurrent_version_expiration_date_or_days": {"type": "string", "example": "1"}, "transition": {"type": "string", "example": ""}, "storage_class": {"type": "string", "example": ""}, "tags": {"type": "string", "example": ""}, "location": {"type": "string", "example": "Delhi"}, "bucket": {"type": "integer", "example": 12345}, "user": {"type": "integer", "example": 24778}}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}, "412": {"description": "Precondition Failed \u2013 Bucket does not exist in the project", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 412}, "data": {"type": "object", "example": {}}, "errors": {"type": "string", "example": "No Bucket with this name exist in this project."}, "message": {"type": "string", "example": "Precondition Failed"}}}}}}}}, "put": {"operationId": "put-storage-bucket-lifecycle-bucket-name", "summary": "Add Lifecycle Rule", "tags": ["Object Storage"], "parameters": [{"name": "bucket_name", "in": "path", "required": true, "description": "Bucket Name", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"bucket_name": {"type": "string", "example": "bucketname"}, "lifecycle_rules": {"type": "array", "items": {"type": "object", "properties": {"expiration_days": {"type": "integer", "example": 1}, "new_status": {"type": "string", "enum": ["Enabled", "Disabled"], "example": "Enabled"}, "noncurrent_version_expiration_date_or_days": {"type": "integer", "example": 1}, "prefix": {"type": "string", "example": ""}, "rule_id": {"type": "integer", "example": 0}}, "required": ["expiration_days", "new_status", "noncurrent_version_expiration_date_or_days", "rule_id"]}}}, "required": ["bucket_name", "lifecycle_rules"]}}}}, "responses": {"200": {"description": "A successful response with lifecycle rule information", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 948}, "deleted": {"type": "boolean", "example": false}, "created_at": {"type": "string", "format": "date-time", "example": "2024-11-05T09:05:25.569506Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2024-11-05T09:05:25.569606Z"}, "rule_id": {"type": "string", "example": "1aaed24b83a14ee4af38dc53d46a069b"}, "enabled": {"type": "boolean", "example": true}, "prefix": {"type": "string", "example": ""}, "expiry_date_or_days": {"type": "string", "example": "1"}, "noncurrent_version_expiration_date_or_days": {"type": "string", "example": "1"}, "transition": {"type": "string", "example": ""}, "storage_class": {"type": "string", "example": ""}, "tags": {"type": "string", "example": ""}, "location": {"type": "string", "example": "Delhi"}, "bucket": {"type": "integer", "example": 9053}, "user": {"type": "integer", "example": 5146}}}}, "errors": {"type": "object", "additionalProperties": false}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/storage/bucket_lifecycle/{bucket_name}/{lifecycle_rule_id}": {"delete": {"operationId": "delete-storage-bucket-lifecycle-bucket-name-lifecycle-rule-id", "summary": "Delete Lifecycle Rule", "tags": ["Object Storage"], "parameters": [{"name": "bucket_name", "in": "path", "required": true, "description": "Bucket Name", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "lifecycle_rule_id", "in": "path", "required": true, "description": "Lifecycle Rule ID", "schema": {"type": "string", "example": "740d0a130b0745ebb036bb866c87f847"}}], "responses": {"default": {"description": "Successful response"}}}}, "/api/v1/storage/core/list/users/": {"get": {"operationId": "get-storage-core-list-users", "summary": "Access Key List", "tags": ["Object Storage"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "List of access keys", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 1234}, "my_account_id": {"type": "integer", "nullable": true, "example": null}, "user_name": {"type": "string", "example": "admin@e2enetworks.com"}, "email": {"type": "string", "example": ""}, "access_key": {"type": "string", "example": "Q34D0BUS6OVZTF3IIR7M"}, "secret_key": {"type": "string", "nullable": true, "example": null}, "is_default": {"type": "boolean", "example": false}, "disabled": {"type": "boolean", "example": false}, "tag": {"type": "string", "example": "hello"}}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/storage/core/users/": {"post": {"operationId": "post-storage-core-users", "summary": "Create Access Key", "tags": ["Object Storage"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"tag": {"type": "string", "example": "hello"}}, "required": ["tag"]}}}}, "responses": {"200": {"description": "Create access key", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"id": {"type": "integer", "example": 1234}, "my_account_id": {"type": "integer", "nullable": true, "example": null}, "user_name": {"type": "string", "example": "admin@e2enetworks.com"}, "email": {"type": "string", "example": ""}, "access_key": {"type": "string", "example": "A10TYXIKJXI2S9Q8NO5J"}, "secret_key": {"type": "string", "example": "NOOKEAF1CUMXLVKDU8OD3N0XXN7CNZNENI4LF1KL"}, "is_default": {"type": "boolean", "example": false}, "disabled": {"type": "boolean", "example": false}, "tag": {"type": "string", "example": "hello"}, "minio_host_url": {"type": "string", "example": "objectstore.e2enetworks.net"}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}, "put": {"operationId": "put-storage-core-users", "summary": "Lock/Unlock Access key", "tags": ["Object Storage"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"disabled": {"type": "boolean", "enum": [true, false]}, "id": {"type": "integer", "example": 6069}}, "required": ["disabled", "id"]}}}}, "responses": {"200": {"description": "Response example for successful lock/unlock operation", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"id": {"type": "integer", "example": 9999}, "my_account_id": {"type": "integer", "nullable": true, "example": null}, "user_name": {"type": "string", "example": "admin@e2enetworks.com"}, "email": {"type": "string", "example": ""}, "access_key": {"type": "string", "example": "A1B2C3D4E5F6G7H8I9J0"}, "secret_key": {"type": "string", "nullable": true, "example": null}, "is_default": {"type": "boolean", "example": false}, "disabled": {"type": "boolean", "example": false}, "tag": {"type": "string", "example": "test-user"}}}, "errors": {"oneOf": [{"type": "object", "example": {}}, {"type": "string", "nullable": true, "example": null}]}, "message": {"type": "string", "example": "Success"}}}}}}}}, "delete": {"operationId": "delete-storage-core-users", "summary": "Delete Access Key", "tags": ["Object Storage"], "parameters": [{"name": "access_key", "in": "query", "required": true, "description": "Access key", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "A successful response indicating the delete operation", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "additionalProperties": false}, "errors": {"type": "string", "example": ""}, "message": {"type": "string", "example": "The delete operation is successful"}}}}}}}}}, "/api/v1/storage/bucket_perms/": {"get": {"operationId": "get-storage-bucket-perms", "summary": "Bucket Permission List", "tags": ["Object Storage"], "parameters": [{"name": "bucket_name", "in": "query", "required": true, "description": "Bucket Name", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "A list of users associated with a bucket", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 12345}, "user": {"type": "object", "properties": {"id": {"type": "integer", "example": 12345}, "my_account_id": {"type": "integer", "nullable": true, "example": null}, "user_name": {"type": "string", "example": "admin@e2enetworks.com"}, "email": {"type": "string", "example": ""}, "access_key": {"type": "string", "example": "QWEPGEYAMP123JRLMJNL"}, "secret_key": {"type": "string", "nullable": true, "example": null}, "is_default": {"type": "boolean", "example": false}, "disabled": {"type": "boolean", "example": false}, "tag": {"type": "string", "example": "test"}}}, "role": {"type": "object", "properties": {"id": {"type": "integer", "example": 1}, "name": {"type": "string", "example": "Bucket Admin"}, "display_name": {"type": "string", "example": "Bucket Admin"}, "active": {"type": "boolean", "example": true}}}, "deleted": {"type": "boolean", "example": false}, "created_at": {"type": "string", "format": "date-time", "example": "2025-05-27T06:08:42.020565Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2025-05-27T06:08:42.020618Z"}, "processed": {"type": "boolean", "example": true}, "processed_on": {"type": "string", "format": "date-time", "nullable": true, "example": null}, "disabled": {"type": "boolean", "example": false}, "date_disabled": {"type": "string", "format": "date-time", "nullable": true, "example": null}, "location": {"type": "string", "example": "Delhi"}, "bucket": {"type": "integer", "example": 12345}}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}, "put": {"operationId": "put-storage-bucket-perms", "summary": "Attach Access key in bucket", "tags": ["Object Storage"], "parameters": [{"name": "bucket_name", "in": "query", "required": true, "description": "Bucket Name", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"users": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 12345}, "my_account_id": {"type": "integer", "nullable": true, "example": null}, "user_name": {"type": "string", "example": "admin@e2enetworks.com"}, "email": {"type": "string", "example": ""}, "access_key": {"type": "string", "example": "YGLPHAYAMPO69JRLMJNL"}, "secret_key": {"type": "string", "nullable": true, "example": null}, "is_default": {"type": "boolean", "example": false}, "disabled": {"type": "boolean", "example": false}, "tag": {"type": "string", "example": "test"}}}}, "role_name": {"type": "string", "example": "Bucket Admin", "enum": ["Bucket Admin", "Bucket Writer", "Bucket Reader"]}}}}}}, "responses": {"200": {"description": "List of users assigned to a bucket", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 12345}, "user": {"type": "object", "properties": {"id": {"type": "integer", "example": 123}, "my_account_id": {"type": "integer", "nullable": true, "example": null}, "user_name": {"type": "string", "example": "admin@e2enetworks.com"}, "email": {"type": "string", "example": "admin@e2enetworks.com"}, "access_key": {"type": "string", "example": "ABC123XYZ456LMNOP789"}, "secret_key": {"type": "string", "nullable": true, "example": null}, "is_default": {"type": "boolean", "example": false}, "disabled": {"type": "boolean", "example": false}, "tag": {"type": "string", "example": "internal"}}}, "role": {"type": "object", "properties": {"id": {"type": "integer", "example": 1}, "name": {"type": "string", "example": "Bucket Admin"}, "display_name": {"type": "string", "example": "Bucket Admin"}, "active": {"type": "boolean", "example": true}}}, "deleted": {"type": "boolean", "example": false}, "created_at": {"type": "string", "format": "date-time", "example": "2025-01-01T10:00:00Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2025-01-01T10:05:00Z"}, "processed": {"type": "boolean", "example": true}, "processed_on": {"type": "string", "nullable": true, "example": null}, "disabled": {"type": "boolean", "example": false}, "date_disabled": {"type": "string", "nullable": true, "example": null}, "location": {"type": "string", "example": "New York"}, "bucket": {"type": "integer", "example": 54321}}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/storage/bucket_perm/{permission_id}/": {"delete": {"operationId": "delete-storage-bucket-perm-permission-id", "summary": "Delete Permission", "tags": ["Object Storage"], "parameters": [{"name": "permission_id", "in": "path", "required": true, "description": "Permission ID", "schema": {"type": "string"}}, {"name": "bucket_name", "in": "query", "required": true, "description": "Bucket Name", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"default": {"description": "Successful response"}}}}, "/api/v1/storage/urls/object/": {"get": {"operationId": "get-storage-urls-object", "summary": "Upload Object to Existing Bucket", "tags": ["Object Storage"], "description": "\nThis API enables clients to initiate a two-step process to upload files to an existing bucket.\n\n#### Step 1: Generate Upload URL\n\nCall this API `https://api.e2enetworks.com/myaccount/api/v1/storage/urls/object/`  \nto generate a pre-signed URL for uploading a file (valid for 300 seconds).\n\n**Response Fields:**\n\n- `data` \u2013 The pre-signed URL to be used in the subsequent HTTP PUT step.\n\n---\n\n#### Step 2: Upload the File (Binary Format)\n\nOnce the pre-signed URL is received, you can upload your file in binary format using any HTTP client such as curl, Postman, or programmatically in your preferred language.<br>\nNote: The file name should be same as the `object_name` provided in `https://api.e2enetworks.com/myaccount/api/v1/storage/urls/object/`.\nThe following code snippets are provided for illustration:\n\n##### Python (using `requests`)\n```python\nimport requests\n\nupload_url = \"<paste-upload-url-here>\"\nfile_path = \"path/to/your/file.txt\"\n\nwith open(file_path, \"rb\") as f:\n    response = requests.put(upload_url, data=f)\n    print(\"Status Code:\", response.status_code)\n```\n\n##### JavaScript (using `fetch`)\n```javascript\nconst fs = require(\"fs\");\nconst axios = require(\"axios\");\n\nconst uploadUrl = \"<paste-your-presigned-url-here>\";\nconst filePath = \"path/to/your/file.txt\";\n\nconst uploadFile = async () => {\ntry {\nconst fileStream = fs.createReadStream(filePath);\nconst response = await axios.put(uploadUrl, fileStream, {\nheaders: {\n  \"Content-Type\": \"application/octet-stream\"\n},\nmaxBodyLength: Infinity\n});\nconsole.log(\"Upload status code:\", response.status);\nconsole.log(\"Upload successful!\");\n} catch (error) {\nconsole.error(\"Upload failed:\", error.response?.status, error.message);\n}\n};\n\nuploadFile();\n```\n", "parameters": [{"name": "bucket_name", "in": "query", "required": true, "description": "Bucket Name", "schema": {"type": "string"}}, {"name": "object_name", "in": "query", "required": true, "description": "Object Name with Directory.", "schema": {"type": "string"}}, {"name": "method", "in": "query", "required": true, "description": "Method", "schema": {"type": "string", "enum": ["PUT"]}, "example": "PUT"}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Successfully generated a pre-signed URL for object upload", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "string", "format": "uri", "example": "https://objectstore.e2enetworks.net/sdaf/config%20%286%29.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=..."}, "errors": {"type": "object", "additionalProperties": true, "description": "Any error details encountered during URL generation", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/storage/public_perms/": {"put": {"operationId": "put-storage-public-perms", "summary": "Attach Public Permission", "tags": ["Object Storage"], "parameters": [{"name": "bucket_name", "in": "query", "required": true, "description": "Bucket Name", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"bucket_name": {"type": "string", "example": "open-1"}, "role_name": {"type": "string", "example": "Download", "enum": ["Download", "Upload", "Public", "None"]}}}}}}, "responses": {"200": {"description": "Details of a single user assigned to a bucket", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"id": {"type": "integer", "example": 10010}, "user": {"type": "object", "properties": {"id": {"type": "integer", "example": 20}, "my_account_id": {"type": "integer", "nullable": true, "example": null}, "user_name": {"type": "string", "example": "guest"}, "email": {"type": "string", "example": "guest@example.com"}, "access_key": {"type": "string", "example": "Public"}, "secret_key": {"type": "string", "nullable": true, "example": null}, "is_default": {"type": "boolean", "example": true}, "disabled": {"type": "boolean", "example": false}, "tag": {"type": "string", "nullable": true, "example": null}}}, "role": {"type": "object", "properties": {"id": {"type": "integer", "example": 2}, "name": {"type": "string", "example": "Download"}, "display_name": {"type": "string", "example": "Download"}, "active": {"type": "boolean", "example": true}}}, "deleted": {"type": "boolean", "example": false}, "created_at": {"type": "string", "format": "date-time", "example": "2025-01-01T10:00:00Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2025-01-01T10:05:00Z"}, "processed": {"type": "boolean", "example": true}, "processed_on": {"type": "string", "nullable": true, "example": null}, "disabled": {"type": "boolean", "example": false}, "date_disabled": {"type": "string", "nullable": true, "example": null}, "location": {"type": "string", "example": "New York"}, "bucket": {"type": "integer", "example": 98765}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/storage/list/objects": {"get": {"operationId": "get-storage-list-objects", "summary": "List Objects in an EOS Bucket", "tags": ["Object Storage"], "description": "Set `include_versions=true` to view version IDs. Use `object_name` to get versions of a specific object. Leave both empty to retrieve only the list of objects.", "parameters": [{"name": "bucket_name", "in": "query", "required": true, "description": "Bucket Name", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "include_versions", "in": "query", "required": false, "description": "Include versions in the response. Only `true` is accepted.", "schema": {"type": "boolean", "example": true}}, {"name": "object_name", "in": "query", "required": false, "description": "Object name for which versions are to be fetched.", "schema": {"type": "string", "example": "object_name"}}], "responses": {"200": {"description": "List of objects inside the specified bucket", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"bucket_name": {"type": "string", "example": "example-bucket"}, "contentType": {"type": "string", "nullable": true, "example": null}, "is_delete_marker": {"type": "boolean", "example": false}, "is_dir": {"type": "boolean", "example": false}, "is_latest": {"type": "boolean", "nullable": true, "example": null}, "lastModified": {"type": "string", "format": "date-time", "example": "2025-01-01T10:00:00Z"}, "name": {"type": "string", "example": "script.py"}, "owner_id": {"type": "integer", "nullable": true, "example": null}, "owner_name": {"type": "string", "nullable": true, "example": null}, "size": {"type": "integer", "example": 1234}, "storage_class": {"type": "string", "example": "STANDARD"}, "version_id": {"type": "string", "nullable": true, "example": null}}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/storage/objects/": {"delete": {"operationId": "delete-storage-objects", "summary": "Delete an Object", "tags": ["Object Storage"], "description": "Soft delete in MinIO retains deleted objects as previous versions, allowing recovery. This feature works for buckets that have versioning enabled. To delete (hard) a specific version of an object, use the `version_id` parameter.", "parameters": [{"name": "bucket_name", "in": "query", "required": true, "description": "Bucket Name", "schema": {"type": "string"}}, {"name": "object_ids", "in": "query", "required": true, "description": "List of object IDs for which versions are to be fetched.", "schema": {"type": "string", "items": {"type": "string"}, "example": ["parse.py", "data.json"]}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "version_ids", "in": "query", "required": false, "description": "Version ID", "schema": {"type": "string", "example": "740d0a130b0745ebb036bb866c87f847"}}], "responses": {"200": {"description": "Successful request with empty data", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {}, "example": []}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/storage/create-pre-signed-url/": {"post": {"operationId": "post-storage-create-pre-signed-url", "summary": "Generate Pre-Signed URL", "tags": ["Object Storage"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"object_name": {"type": "string", "example": "{{object_name}}"}, "url_type": {"type": "string", "enum": ["POST"], "example": "POST"}, "bucket_name": {"type": "string", "example": "{{bucket_name}}"}, "expiry_time": {"type": "integer", "example": 600, "description": "Expiration time of the URL in seconds."}, "object_version": {"type": "string", "example": "{{version_id}}"}}}}}}, "responses": {"200": {"description": "Signed URL for accessing an object in the bucket", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"signed_url": {"type": "string", "format": "uri", "example": "https://objectstore.example.net/example-bucket/example.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=EXAMPLE&X-Amz-Date=20250527T000000Z&X-Amz-Expires=600&X-Amz-SignedHeaders=host&X-Amz-Signature=abcdef1234567890"}}, "required": ["signed_url"]}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}, "412": {"description": "Precondition Failed error response when bucket does not exist", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 412}, "data": {"type": "object", "additionalProperties": false, "example": {}}, "errors": {"type": "string", "example": "No Bucket with this name exist in this project."}, "message": {"type": "string", "example": "Precondition Failed"}}}}}}}}}, "/api/v1/storage/buckets/{bucket_name}/legalhold/object/": {"get": {"operationId": "get-storage-buckets-bucket-name-legalhold-object", "summary": "Get Legal Hold Status (Object)", "tags": ["Object Storage"], "description": "This API allows users to check the legal hold status of an object.", "parameters": [{"name": "bucket_name", "in": "path", "required": true, "description": "Bucket Name", "schema": {"type": "string"}}, {"name": "object_name", "in": "query", "required": true, "description": "Object Name with Directory.", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "version_id", "in": "query", "required": true, "description": "Version ID", "schema": {"type": "string", "example": "740d0a130b0745ebb036bb866c87f847"}}], "responses": {"200": {"description": "Response showing the current legal hold status of a bucket or object", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"legal_hold_status": {"type": "boolean", "example": false}}, "required": ["legal_hold_status"]}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}, "post": {"operationId": "post-storage-buckets-bucket-name-legalhold-object", "summary": "Apply Legal hold (Object)", "tags": ["Object Storage"], "description": "This API allows users to apply legal hold to an object.", "parameters": [{"name": "bucket_name", "in": "path", "required": true, "description": "Bucket Name", "schema": {"type": "string"}}, {"name": "object_name", "in": "query", "required": true, "description": "Object Name with Directory.", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "version_id", "in": "query", "required": true, "description": "Version ID", "schema": {"type": "string", "example": "740d0a130b0745ebb036bb866c87f847"}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"object_name": {"type": "string", "example": "object_name"}, "version_id": {"type": "string", "example": "25273eed-1234-4bd2-96a1-a43a3aa44e43"}}}}}}, "responses": {"200": {"description": "Response indicating the legal hold status of the object or bucket", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"legal_hold_status": {"type": "boolean", "example": true, "enum": [true]}}, "required": ["legal_hold_status"]}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}, "delete": {"operationId": "delete-storage-buckets-bucket-name-legalhold-object", "summary": "Remove Legal Hold (Object)", "tags": ["Object Storage"], "description": "This API allows users to remove legal hold from an object.", "parameters": [{"name": "bucket_name", "in": "path", "required": true, "description": "Bucket Name", "schema": {"type": "string"}}, {"name": "object_name", "in": "query", "required": true, "description": "Object Name with Directory.", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "version_id", "in": "query", "required": true, "description": "Version ID", "schema": {"type": "string", "example": "740d0a130b0745ebb036bb866c87f847"}}], "responses": {"default": {"description": "Successful response"}}}}, "/api/v1/storage/buckets/{bucket_name}/lock/object/": {"get": {"operationId": "get-storage-buckets-bucket-name-lock-object", "summary": "Get Governance Lock Status (Object)", "tags": ["Object Storage"], "description": "This API allows users to check the governance lock status of an object.", "parameters": [{"name": "bucket_name", "in": "path", "required": true, "description": "Bucket Name", "schema": {"type": "string"}}, {"name": "object_name", "in": "query", "required": true, "description": "Object Name with Directory.", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "version_id", "in": "query", "required": true, "description": "Version ID", "schema": {"type": "string", "example": "740d0a130b0745ebb036bb866c87f847"}}], "responses": {"200": {"description": "Response showing the object lock status and retention details", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"bucket_name": {"type": "string", "example": "example-bucket"}, "object_name": {"type": "string", "example": "example-object.png"}, "version_id": {"type": "string", "example": "123e4567-e89b-12d3-a456-426614174000"}, "lock_mode": {"type": "string", "enum": ["GOVERNANCE"], "example": "GOVERNANCE"}, "retained_until": {"type": "string", "format": "date-time", "example": "2025-05-30T10:35:38.167000+00:00"}, "retention_days_remaining": {"type": "number", "format": "float", "example": 2.95}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}, "post": {"operationId": "post-storage-buckets-bucket-name-lock-object", "summary": "Apply Governance Lock (Object)", "tags": ["Object Storage"], "description": "This API allows users to apply governance lock to an object.", "parameters": [{"name": "bucket_name", "in": "path", "required": true, "description": "Bucket Name", "schema": {"type": "string"}}, {"name": "object_name", "in": "query", "required": true, "description": "Object Name with Directory.", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "version_id", "in": "query", "required": true, "description": "Version ID", "schema": {"type": "string", "example": "740d0a130b0745ebb036bb866c87f847"}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"lock_mode": {"type": "string", "enum": ["GOVERNANCE"], "example": "GOVERNANCE"}, "retention_period": {"type": "integer", "example": 3}}}}}}, "responses": {"200": {"description": "Response indicating that object retention has been set", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"bucket_name": {"type": "string", "example": "example-bucket"}, "object_name": {"type": "string", "example": "example-object.png"}, "version_id": {"type": "string", "example": "abc123-version-id"}, "lock_mode": {"type": "string", "enum": ["GOVERNANCE"], "example": "GOVERNANCE"}, "retained_until": {"type": "string", "format": "date-time", "example": "2025-05-30T12:24:35.844118"}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}, "delete": {"operationId": "delete-storage-buckets-bucket-name-lock-object", "summary": "Remove Governance Lock (Object)", "tags": ["Object Storage"], "description": "This API allows users to remove governance lock from an object.", "parameters": [{"name": "bucket_name", "in": "path", "required": true, "description": "Bucket Name", "schema": {"type": "string"}}, {"name": "object_name", "in": "query", "required": true, "description": "Object Name with Directory.", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "version_id", "in": "query", "required": true, "description": "Version ID", "schema": {"type": "string", "example": "740d0a130b0745ebb036bb866c87f847"}}], "responses": {"200": {"description": "Response indicating that object retention has been cleared or reset", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"mode": {"type": "string", "example": ""}, "versionID": {"type": "string", "example": "abc123-version-id"}, "status": {"type": "string", "example": "success"}, "error": {"type": "string", "nullable": true, "example": null}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/storage/destination-bucket-list/": {"get": {"operationId": "get-storage-destination-bucket-list", "summary": "List Destination Buckets", "tags": ["Object Storage"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "destination_region", "in": "query", "required": true, "description": "Destination region for the migration", "schema": {"type": "string", "example": "Chennai", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Successfully retrieved the list of buckets.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 12345}, "name": {"type": "string", "example": "another-bucket"}, "versioning_status": {"type": "string", "enum": ["Enabled", "Suspended", "Off"], "example": "Enabled"}, "location": {"type": "string", "example": "Chennai"}}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/storage/bucket-replication/": {"get": {"operationId": "get-storage-bucket-replication", "summary": "Get Bucket Replications", "tags": ["Object Storage"], "parameters": [{"name": "bucket_name", "in": "query", "required": true, "description": "Bucket Name", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Successfully retrieved replication rules.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 123}, "user": {"type": "integer", "example": 12345}, "source_bucket": {"type": "string", "example": "first-bucket"}, "destination_bucket": {"type": "string", "example": "second-bucket"}, "source_bucket_location": {"type": "string", "example": "Delhi"}, "destination_bucket_location": {"type": "string", "example": "Chennai"}, "enabled": {"type": "boolean", "example": false}, "created_at": {"type": "string", "format": "date-time", "example": "2025-05-28T05:07:40.359314Z"}}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}, "412": {"description": "Precondition failed due to missing or invalid bucket.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 412}, "data": {"type": "object", "example": {}}, "errors": {"type": "string", "example": "No Bucket with this name exist in this project."}, "message": {"type": "string", "example": "Precondition Failed"}}}}}}}}, "post": {"operationId": "post-storage-bucket-replication", "summary": "Create Bucket Replication", "tags": ["Object Storage"], "description": "Replication rule can be added only if versioning in both buckets are enabled and they do not belong to the same region.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"source_bucket": {"type": "string", "example": "first-bucket"}, "source_region": {"type": "string", "example": "Delhi"}, "destination_bucket": {"type": "string", "example": "second-bucket"}, "destination_region": {"type": "string", "example": "Chennai"}, "priority": {"type": "string", "example": "1", "enum": [1]}}}}}}, "responses": {"200": {"description": "Replication rule created successfully.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"id": {"type": "integer", "example": 123}, "user": {"type": "integer", "example": 12345}, "source_bucket": {"type": "string", "example": "first-bucket"}, "destination_bucket": {"type": "string", "example": "second-bucket"}, "source_bucket_location": {"type": "string", "example": "Delhi"}, "destination_bucket_location": {"type": "string", "example": "Chennai"}, "enabled": {"type": "boolean", "example": true}, "created_at": {"type": "string", "format": "date-time", "example": "2025-05-28T05:18:20.386151Z"}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}, "412": {"description": "Precondition failed due to replication rule conflict.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 412}, "data": {"type": "object", "example": {}}, "errors": {"type": "string", "example": "add-this-bucket to this-is-another-bucket replication rule already exists."}, "message": {"type": "string", "example": "Precondition Failed"}}}}}}}}, "put": {"operationId": "put-storage-bucket-replication", "summary": "Update Bucket Replication", "tags": ["Object Storage"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"status": {"type": "boolean", "example": true, "description": "Set to `true` to enable the replication rule, or `false` to disable it.\n"}, "rule_id": {"type": "integer", "example": 12345}}}}}}, "responses": {"200": {"description": "Replication rule updated successfully.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"id": {"type": "integer", "example": 123}, "user": {"type": "integer", "example": 12345}, "source_bucket": {"type": "string", "example": "first-bucket"}, "destination_bucket": {"type": "string", "example": "second-bucket"}, "source_bucket_location": {"type": "string", "example": "Delhi"}, "destination_bucket_location": {"type": "string", "example": "Chennai"}, "enabled": {"type": "boolean", "example": true}, "created_at": {"type": "string", "format": "date-time", "example": "2025-05-28T05:07:40.359314Z"}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}, "delete": {"operationId": "delete-storage-bucket-replication", "summary": "Delete Bucket Replication", "tags": ["Object Storage"], "parameters": [{"name": "bucket_name", "in": "query", "required": true, "description": "Bucket Name", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "rule_id", "in": "query", "required": true, "description": "Replication Rule ID", "schema": {"type": "integer", "example": 123}}], "responses": {"200": {"description": "A successful response with an empty data object", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "example": {}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/storage/buckets/{bucket_name}/lock/": {"get": {"operationId": "get-storage-buckets-bucket-name-lock", "summary": "Get Governance Lock Status (Bucket)", "tags": ["Object Storage"], "description": "This API allows users to check the governance lock status of a bucket.", "parameters": [{"name": "bucket_name", "in": "path", "required": true, "description": "Bucket Name", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Returns the retention policy applied on a specific bucket", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"bucket": {"type": "integer", "example": 12346}, "mode": {"type": "string", "example": "GOVERNANCE"}, "retention_period": {"type": "integer", "example": 3}, "created_at": {"type": "string", "format": "date-time", "example": "2025-05-27T06:22:24.481381Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2025-05-27T06:22:24.481442Z"}}, "required": ["bucket"]}}}}}}}}, "post": {"operationId": "post-storage-buckets-bucket-name-lock", "summary": "Apply Governance Lock (Bucket)", "tags": ["Object Storage"], "description": "This API allows users to apply governance lock to a bucket.", "parameters": [{"name": "bucket_name", "in": "path", "required": true, "description": "Bucket Name", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"lock_mode": {"type": "string", "enum": ["GOVERNANCE"], "example": "GOVERNANCE"}, "retention_period": {"type": "integer", "example": 3}}}}}}, "responses": {"200": {"description": "Successful retrieval of the bucket retention policy.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"bucket": {"type": "integer", "example": 12345}, "mode": {"type": "string", "enum": ["GOVERNANCE"], "example": "GOVERNANCE"}, "retention_period": {"type": "integer", "example": 5}, "created_at": {"type": "string", "format": "date-time", "example": "2025-05-27T13:50:12.651315Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2025-05-27T13:50:12.651385Z"}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}, "delete": {"operationId": "delete-storage-buckets-bucket-name-lock", "summary": "Remove Governance Lock (Bucket)", "tags": ["Object Storage"], "description": "This API allows users to remove governance lock from a bucket.", "parameters": [{"name": "bucket_name", "in": "path", "required": true, "description": "Bucket Name", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Successfully retrieved the retention policy for the bucket.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"bucket": {"type": "integer", "example": 12345}, "mode": {"type": "string", "enum": ["GOVERNANCE"], "example": "GOVERNANCE"}, "retention_period": {"type": "integer", "example": 5}, "created_at": {"type": "string", "format": "date-time", "example": "2025-05-27T13:50:12.651315Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2025-05-27T13:50:22.881128Z"}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}, "412": {"description": "No retention policy exists for the specified bucket.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 412}, "data": {"type": "object", "example": {}}, "errors": {"type": "string", "example": "No locking policy defined for this bucket."}, "message": {"type": "string", "example": "Precondition Failed"}}}}}}}}}, "/api/v1/storage/core/my_usage/": {"get": {"operationId": "get-storage-core-my-usage", "summary": "Get Usage (My Account)", "tags": ["Object Storage"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Successfully retrieved peak usage of the bucket.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"peak_usage": {"type": "string", "example": "215.44 GB"}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}}}