{"openapi": "3.0.3", "info": {"title": "TIR API - pipelines", "description": "E2E TIR \u2014 the AI/ML platform: notebooks, foundation models, fine-tuning, inference endpoints, RAG, pipelines, and data.", "version": "1.0.0"}, "servers": [{"url": "https://api.e2enetworks.com/myaccount/api/v1/gpu"}], "paths": {"/pipelines/": {"get": {"operationId": "get-pipelines", "summary": "Pipeline List", "tags": ["Pipeline"], "parameters": [{"name": "page_no", "in": "query", "required": false, "description": "The page number from which you want your page search results to be displayed.", "schema": {"type": "integer", "minimum": 0}}, {"name": "page_size", "in": "query", "required": false, "description": "Number of results per page", "schema": {"type": "integer", "minimum": 0}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Successful retrieval of pipeline list", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "message": {"type": "string", "example": "Success"}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 1556}, "name": {"type": "string", "example": "helloworld-124-1731580109"}, "description": {"type": "string", "example": "initial"}, "parameters": {"type": "string", "example": ""}, "pipeline_id": {"type": "string", "example": "824dccf7-edab-4b69-8f7a-6b77f726f74b"}, "runs": {"type": "array", "items": {"type": "object"}, "example": []}, "default_version_id": {"type": "string", "example": "1c48f3a2-70cb-4deb-9b83-36678c2f507c"}, "pipeline_type": {"type": "string", "example": "Argo"}, "created_at": {"type": "string", "format": "date-time", "example": "2024-11-14T10:28:29.987561Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2024-11-14T10:28:31.355315Z"}, "source": {"type": "string", "example": "pipeline"}}}}, "errors": {"type": "object", "additionalProperties": false, "example": {}}}}}}}}}}, "/pipelines/upload/": {"post": {"operationId": "post-pipelines-upload", "summary": "Create Pipeline", "tags": ["Pipeline"], "parameters": [{"name": "name", "in": "query", "required": true, "schema": {"type": "string"}}, {"name": "description", "in": "query", "required": true, "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "initial_setup", "in": "query", "required": false, "description": "Set to true to create a default hello-world pipeline without uploading a YAML file. When true and no file is uploaded, the name is auto-generated.", "schema": {"type": "boolean", "default": false}}], "requestBody": {"content": {"multipart/form-data": {"schema": {"type": "object", "properties": {"uploadfile": {"type": "string", "format": "binary", "description": "Pipeline YAML file to upload. Required when initial_setup is false or not provided."}}}}}}, "responses": {"200": {"description": "Pipeline updated or created successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "message": {"type": "string", "example": "Success"}, "data": {"type": "object", "properties": {"id": {"type": "integer", "example": 1555}, "name": {"type": "string", "example": "helloworld-124-1731578705"}, "description": {"type": "string", "example": "initial pipeline"}, "parameters": {"type": "string", "example": ""}, "pipeline_id": {"type": "string", "example": "41593f2d-2376-4d66-b1e8-7cc54744e2f0"}, "runs": {"type": "array", "items": {"type": "object"}, "example": []}, "default_version_id": {"type": "string", "example": "2bed88c1-f50f-4468-a223-48c39492bf33"}, "pipeline_type": {"type": "string", "example": "Argo"}, "created_at": {"type": "string", "format": "date-time", "example": "2024-11-14T10:05:05.835283Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2024-11-14T10:05:06.149908Z"}, "source": {"type": "string", "example": "pipeline"}, "new_version_id": {"type": "integer", "example": 1791}}}, "errors": {"type": "object", "additionalProperties": false, "example": {}}}}}}}}}}, "/pipelines/{pipeline_id}/": {"get": {"operationId": "get-pipelines-pipeline-id", "summary": "Pipeline Details", "tags": ["Pipeline"], "parameters": [{"name": "pipeline_id", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Successful retrieval of pipeline details", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "message": {"type": "string", "example": "Success"}, "data": {"type": "object", "properties": {"id": {"type": "integer", "example": 1556}, "name": {"type": "string", "example": "helloworld-124-1731580109"}, "description": {"type": "string", "example": "initial"}, "parameters": {"type": "string", "example": ""}, "pipeline_id": {"type": "string", "example": "824dccf7-edab-4b69-8f7a-6b77f726f74b"}, "runs": {"type": "array", "items": {"type": "object"}, "example": []}, "default_version_id": {"type": "string", "example": "1c48f3a2-70cb-4deb-9b83-36678c2f507c"}, "pipeline_type": {"type": "string", "example": "Argo"}, "created_at": {"type": "string", "format": "date-time", "example": "2024-11-14T10:28:29.987561Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2024-11-14T10:28:31.355315Z"}, "source": {"type": "string", "example": "pipeline"}}}, "errors": {"type": "object", "additionalProperties": false, "example": {}}}}}}}}}, "delete": {"operationId": "delete-pipelines-pipeline-id", "summary": "Delete Pipeline", "tags": ["Pipeline"], "parameters": [{"name": "pipeline_id", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "additionalProperties": false, "example": {}}, "errors": {"type": "object", "additionalProperties": false, "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/pipelines/{pipeline_id}/versions/": {"get": {"operationId": "get-pipelines-pipeline-id-versions", "summary": "Version List", "tags": ["Pipeline"], "parameters": [{"name": "pipeline_id", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "page_no", "in": "query", "required": false, "description": "The page number from which you want your page search results to be displayed.", "schema": {"type": "integer", "minimum": 0}}, {"name": "page_size", "in": "query", "required": false, "description": "Number of results per page", "schema": {"type": "integer", "minimum": 0}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Successful response containing pipeline version details", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 1792}, "name": {"type": "string", "example": "helloworld-124-1731580109"}, "description": {"type": "string", "example": "initial"}, "version_id": {"type": "string", "format": "uuid", "example": "1c48f3a2-70cb-4deb-9b83-36678c2f507c"}, "pipeline": {"type": "object", "properties": {"id": {"type": "integer", "example": 1556}, "name": {"type": "string", "example": "helloworld-124-1731580109"}, "description": {"type": "string", "example": "initial"}, "parameters": {"type": "string", "example": ""}, "pipeline_id": {"type": "string", "format": "uuid", "example": "824dccf7-edab-4b69-8f7a-6b77f726f74b"}, "runs": {"type": "array", "items": {"type": "object"}, "example": []}, "default_version_id": {"type": "string", "format": "uuid", "example": "1c48f3a2-70cb-4deb-9b83-36678c2f507c"}, "pipeline_type": {"type": "string", "example": "Argo"}, "created_at": {"type": "string", "format": "date-time", "example": "2024-11-14T10:28:29.987561Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2024-11-14T10:28:31.355315Z"}, "source": {"type": "string", "example": "pipeline"}}}, "is_default_version": {"type": "boolean", "example": true}, "created_at": {"type": "string", "format": "date-time", "example": "2024-11-14T10:28:29.997596Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2024-11-14T10:28:31.345587Z"}, "source": {"type": "string", "example": "pipeline"}}}}, "errors": {"type": "object", "additionalProperties": false, "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/pipelines/{pipeline_id}/versions/{version_id}/": {"get": {"operationId": "get-pipelines-pipeline-id-versions-version-id", "summary": "Version Details", "tags": ["Pipeline"], "parameters": [{"name": "pipeline_id", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "version_id", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Successful retrieval of pipeline version details", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "message": {"type": "string", "example": "Success"}, "data": {"type": "object", "properties": {"pipeline_id": {"type": "string", "format": "uuid", "example": "824dccf7-edab-4b69-8f7a-6b77f726f74b"}, "pipeline_version_id": {"type": "string", "format": "uuid", "example": "1c48f3a2-70cb-4deb-9b83-36678c2f507c"}, "display_name": {"type": "string", "example": "helloworld-124-1731580109"}, "description": {"type": "string", "example": "initial"}, "created_at": {"type": "string", "format": "date-time", "example": "2024-11-14T10:28:29.997596Z"}, "pipeline_spec": {"type": "object"}}}, "errors": {"type": "object", "additionalProperties": false, "example": {}}}}}}}}}, "delete": {"operationId": "delete-pipelines-pipeline-id-versions-version-id", "summary": "Delete Version", "tags": ["Pipeline"], "parameters": [{"name": "pipeline_id", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "version_id", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "additionalProperties": false, "example": {}}, "errors": {"type": "object", "additionalProperties": false, "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/pipelines/experiments/": {"get": {"operationId": "get-pipelines-experiments", "summary": "Experiment List", "tags": ["Run"], "parameters": [{"name": "page_no", "in": "query", "required": false, "description": "The page number from which you want your page search results to be displayed.", "schema": {"type": "integer", "minimum": 0}}, {"name": "page_size", "in": "query", "required": false, "description": "Number of results per page", "schema": {"type": "integer", "minimum": 0}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Successful response containing experiment details", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 843}, "name": {"type": "string", "example": "experiment-11141628022"}, "description": {"type": "string", "nullable": true, "example": null}, "experiment_id": {"type": "string", "format": "uuid", "example": "26dab7fb-37c2-49fb-97ba-c91922bde1a1"}, "created_at": {"type": "string", "format": "date-time", "example": "2024-11-14T10:58:04.228536Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2024-11-14T10:58:04.228604Z"}, "source": {"type": "string", "example": "pipeline"}}}}, "errors": {"type": "object", "additionalProperties": false, "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}, "post": {"operationId": "post-pipelines-experiments", "summary": "Create Experiment", "tags": ["Run"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "required": ["name"], "properties": {"name": {"type": "string", "description": "Name of the experiment"}, "description": {"type": "string", "description": "Description of the experiment"}}}}}, "required": true}, "responses": {"200": {"description": "Experiment created successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"id": {"type": "integer", "example": 843}, "name": {"type": "string", "example": "experiment-11141628022"}, "description": {"type": "string", "nullable": true, "example": null}, "experiment_id": {"type": "string", "format": "uuid", "example": "26dab7fb-37c2-49fb-97ba-c91922bde1a1"}, "created_at": {"type": "string", "format": "date-time", "example": "2024-11-14T10:58:04.228536Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2024-11-14T10:58:04.228604Z"}, "source": {"type": "string", "example": "pipeline"}}}, "errors": {"type": "object", "additionalProperties": false, "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/pipelines/experiments/{experiment_id}/": {"get": {"operationId": "get-pipelines-experiments-experiment-id", "summary": "Experiment Details", "tags": ["Run"], "parameters": [{"name": "experiment_id", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Successful retrieval of experiment details", "content": {"application/json": {"schema": {"type": "object", "properties": {"experiment_id": {"type": "string", "format": "uuid", "example": "26dab7fb-37c2-49fb-97ba-c91922bde1a1"}, "display_name": {"type": "string", "example": "experiment-11141628022"}, "description": {"type": "string", "example": ""}, "namespace": {"type": "string", "example": "p-123"}, "created_at": {"type": "string", "format": "date-time", "example": "2024-11-14T10:58:04.000000Z"}}}}}}}}, "delete": {"operationId": "delete-pipelines-experiments-experiment-id", "summary": "Delete Experiment", "tags": ["Run"], "parameters": [{"name": "experiment_id", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Experiment successfully deleted", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "string", "example": "Deleted Successfully"}, "errors": {"type": "object", "additionalProperties": false, "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/pipelines/runs/": {"get": {"operationId": "get-pipelines-runs", "summary": "Run List", "tags": ["Run"], "parameters": [{"name": "page_no", "in": "query", "required": false, "description": "The page number from which you want your page search results to be displayed.", "schema": {"type": "integer", "minimum": 0}}, {"name": "page_size", "in": "query", "required": false, "description": "Number of results per page", "schema": {"type": "integer", "minimum": 0}}, {"name": "pipeline_version_id", "in": "query", "required": false, "description": "Filter runs by pipeline version ID", "schema": {"type": "string", "format": "uuid"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Successful response containing run details", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 2439}, "name": {"type": "string", "example": "tir-run-111416275353"}, "run_id": {"type": "string", "format": "uuid", "example": "116bf10c-6d76-461a-98d2-7feb99fe7d29"}, "state": {"type": "string", "example": "Pending"}, "progress": {"type": "string", "example": ""}, "finished_at": {"type": "string", "format": "date-time", "example": "1970-01-01T00:00:00Z"}, "created_at": {"type": "string", "format": "date-time", "example": "2024-11-14T10:58:23.918155Z"}, "source": {"type": "string", "example": "pipeline"}, "scheduled_job": {"type": "string", "nullable": true, "example": null}}}}, "errors": {"type": "object", "additionalProperties": false, "example": {}}, "message": {"type": "string", "example": "Success"}, "total_page_number": {"type": "integer", "example": 1}, "total_count": {"type": "integer", "example": 1}}}}}}}}, "post": {"operationId": "post-pipelines-runs", "summary": "Create Run", "tags": ["Run"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "required": ["name", "experiment_id", "pipeline_version_id", "sku_item_price_id", "sku_id"], "properties": {"sku_id": {"type": "integer", "description": "SKU ID for the run. Get it from the **SKU List** API response."}, "sku_item_price_id": {"type": "integer", "description": "Price ID for the SKU item. Get it from the **SKU List** API response."}, "next_sku_item_price_id": {"type": "integer", "nullable": true, "description": "ID for the next SKU item price, if any"}, "committed_instance_policy": {"type": "string", "description": "Committed instance policy"}, "name": {"type": "string", "description": "Name of the run"}, "description": {"type": "string", "description": "Description of the run"}, "experiment_id": {"type": "string", "format": "uuid", "description": "ID of the associated experiment. Get it from the `experiment_id` field in the **Experiment List** API response."}, "pipeline_type": {"type": "string", "enum": ["existing", "new"], "description": "Type of pipeline"}, "pipeline_version_id": {"type": "string", "format": "uuid", "description": "Version ID of the pipeline. Get it from the `version_id` field in the **Version List** API response."}, "run_parameter": {"type": "array", "items": {"type": "object", "properties": {"name": {"type": "string"}, "value": {"type": "string"}}}, "description": "Runtime parameters for the pipeline run"}, "run_type": {"type": "string", "enum": ["run", "scheduled_job"], "description": "Type of run"}}}}}, "required": true}, "responses": {"200": {"description": "Successful response containing run details", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"id": {"type": "integer", "example": 2439}, "name": {"type": "string", "example": "tir-run-111416275353"}, "run_id": {"type": "string", "format": "uuid", "example": "116bf10c-6d76-461a-98d2-7feb99fe7d29"}, "state": {"type": "string", "example": "Pending"}, "progress": {"type": "string", "example": ""}, "finished_at": {"type": "string", "format": "date-time", "example": "1970-01-01T00:00:00Z"}, "created_at": {"type": "string", "format": "date-time", "example": "2024-11-14T10:58:23.918155Z"}, "source": {"type": "string", "example": "pipeline"}, "scheduled_job": {"type": "string", "nullable": true, "example": null}}}, "errors": {"type": "object", "additionalProperties": false, "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/pipelines/runs/{run_id}/": {"get": {"operationId": "get-pipelines-runs-run-id", "summary": "Run Details", "tags": ["Run"], "parameters": [{"name": "run_id", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "version", "in": "query", "required": false, "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Successful retrieval of run details", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"run": {"type": "object", "properties": {"id": {"type": "string", "format": "uuid", "example": "116bf10c-6d76-461a-98d2-7feb99fe7d29"}, "name": {"type": "string", "example": "tir-run-111416275353"}, "description": {"type": "string", "example": ""}, "status": {"type": "string", "example": "Succeeded"}, "scheduled_at": {"type": "string", "format": "date-time", "example": "2024-11-14T10:58:23.000000Z"}, "finished_at": {"type": "string", "format": "date-time", "example": "2024-11-14T11:02:10.000000Z"}, "pipeline_spec": {"type": "object"}}}, "pipeline_runtime": {"type": "object", "properties": {"workflow_manifest": {"type": "string"}}}}}, "errors": {"type": "object", "additionalProperties": false, "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}, "put": {"operationId": "put-pipelines-runs-run-id", "summary": "Run Action (Terminate/Retry)", "tags": ["Run"], "parameters": [{"name": "run_id", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "action", "in": "query", "required": true, "schema": {"type": "string", "enum": ["terminate", "retry"]}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Run action performed successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "additionalProperties": false, "example": {}}, "errors": {"type": "object", "additionalProperties": false, "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}, "delete": {"operationId": "delete-pipelines-runs-run-id", "summary": "Delete Run", "tags": ["Run"], "parameters": [{"name": "run_id", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Resource successfully deleted", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "description": "HTTP status code for the operation.", "example": 200}, "data": {"type": "string", "description": "Confirmation message for successful deletion.", "example": "Deleted Successfully"}, "errors": {"type": "object", "description": "Error details (empty if none).", "additionalProperties": false, "example": {}}, "message": {"type": "string", "description": "General response message.", "example": "Success"}}}}}}}}}, "/pipelines/jobs/": {"get": {"operationId": "get-pipelines-jobs", "summary": "Schedule Run List", "tags": ["Schedule Run"], "parameters": [{"name": "page_no", "in": "query", "required": false, "description": "The page number from which you want your page search results to be displayed.", "schema": {"type": "integer", "minimum": 0}}, {"name": "page_size", "in": "query", "required": false, "description": "Number of results per page", "schema": {"type": "integer", "minimum": 0}}, {"name": "pipeline_version_id", "in": "query", "required": false, "description": "Filter scheduled runs by pipeline version ID", "schema": {"type": "string", "format": "uuid"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "A list of scheduled jobs.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "description": "HTTP status code for the operation.", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "description": "The unique identifier of the scheduled job.", "example": 30}, "name": {"type": "string", "description": "The name of the scheduled job.", "example": "tir-run-111417044747"}, "job_id": {"type": "string", "description": "Unique identifier for the job.", "example": "e05346aa-97ce-41d0-962f-f9087c86c5f6"}, "is_enabled": {"type": "boolean", "description": "Indicates whether the job is enabled.", "example": true}, "experiment_id": {"type": "string", "description": "ID of the associated experiment.", "example": "843"}, "pipeline_version_id": {"type": "string", "description": "ID of the pipeline version.", "example": "1792"}, "max_concurrency": {"type": "integer", "description": "The maximum number of concurrent runs allowed.", "example": 1}, "trigger": {"type": "object", "properties": {"periodic_schedule": {"type": "object", "properties": {"end_time": {"type": "string", "format": "date-time", "description": "The end time for the schedule.", "example": "2024-11-15T18:25:47Z"}, "start_time": {"type": "string", "format": "date-time", "description": "The start time for the schedule.", "example": "2024-11-14T18:25:47Z"}, "interval_second": {"type": "integer", "description": "Interval in seconds for periodic execution.", "example": 86400}}}}}, "source": {"type": "string", "description": "The source of the job.", "example": "pipeline"}}}}, "errors": {"type": "object", "description": "Error details (empty if none).", "additionalProperties": false}, "message": {"type": "string", "description": "General response message.", "example": "Success"}}}}}}}}, "post": {"operationId": "post-pipelines-jobs", "summary": "Create Schedule Run", "tags": ["Schedule Run"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "required": ["name", "experiment_id", "pipeline_version_id", "sku_item_price_id", "sku_id", "periodic_schedule"], "properties": {"sku_id": {"type": "integer", "description": "SKU ID for the run. Get it from the **SKU List** API response."}, "sku_item_price_id": {"type": "integer", "description": "Price ID for the SKU item. Get it from the **SKU List** API response."}, "next_sku_item_price_id": {"type": "integer", "nullable": true, "description": "ID for the next SKU item price, if any"}, "committed_instance_policy": {"type": "string", "description": "Committed instance policy"}, "name": {"type": "string", "description": "Name of the scheduled run"}, "description": {"type": "string", "description": "Description of the scheduled run"}, "experiment_id": {"type": "string", "format": "uuid", "description": "ID of the associated experiment. Get it from the `experiment_id` field in the **Experiment List** API response."}, "pipeline_version_id": {"type": "string", "format": "uuid", "description": "Version ID of the pipeline. Get it from the `version_id` field in the **Version List** API response."}, "max_concurrency": {"type": "integer", "description": "Maximum number of concurrent runs allowed. Defaults to 1 if not provided. Do not include this field in the request body.", "default": 1}, "run_parameter": {"type": "array", "items": {"type": "object", "properties": {"name": {"type": "string"}, "value": {"type": "string"}}}, "description": "Runtime parameters for the pipeline run"}, "run_type": {"type": "string", "enum": ["scheduled_job"], "description": "Type of run"}, "periodic_schedule": {"type": "object", "required": ["interval_second"], "properties": {"interval_second": {"type": "integer", "description": "Interval in seconds between runs (e.g. 86400 for daily)"}, "start_time": {"type": "string", "format": "date-time", "description": "Start time for the schedule in UTC (e.g. 2024-11-14T18:25:47Z)"}, "end_time": {"type": "string", "format": "date-time", "description": "End time for the schedule in UTC. Leave empty for no end time."}}}}}}}, "required": true}, "responses": {"201": {"description": "Scheduled run created successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 201}, "data": {"type": "object", "properties": {"id": {"type": "integer", "description": "The unique identifier of the scheduled job.", "example": 30}, "name": {"type": "string", "description": "The name of the scheduled job.", "example": "tir-scheduled-run-example"}, "job_id": {"type": "string", "description": "Unique identifier for the job.", "example": "e05346aa-97ce-41d0-962f-f9087c86c5f6"}, "is_enabled": {"type": "boolean", "description": "Indicates whether the job is enabled.", "example": true}, "experiment_id": {"type": "string", "description": "ID of the associated experiment.", "example": "843"}, "pipeline_version_id": {"type": "string", "description": "ID of the pipeline version.", "example": "1792"}, "max_concurrency": {"type": "integer", "description": "The maximum number of concurrent runs allowed.", "example": 1}, "trigger": {"type": "object", "properties": {"periodic_schedule": {"type": "object", "properties": {"end_time": {"type": "string", "format": "date-time", "example": "2024-11-15T18:25:47Z"}, "start_time": {"type": "string", "format": "date-time", "example": "2024-11-14T18:25:47Z"}, "interval_second": {"type": "integer", "example": 86400}}}}}, "source": {"type": "string", "example": "pipeline"}}}, "errors": {"type": "object", "additionalProperties": false, "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/pipelines/jobs/{job_id}/": {"put": {"operationId": "put-pipelines-jobs-job-id", "summary": "Enable/Disable Schedule Run", "tags": ["Schedule Run"], "parameters": [{"name": "job_id", "in": "path", "required": true, "description": "Scheduled job ID. Get it from the `job_id` field in the **Schedule Run List** API response.", "schema": {"type": "string"}}, {"name": "action", "in": "query", "required": true, "schema": {"type": "string", "enum": ["disable", "enable"]}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Success response with no data.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "description": "HTTP status code for the operation.", "example": 200}, "data": {"type": "object", "description": "The data object, which is empty in this case."}, "errors": {"type": "object", "description": "Error details, which are empty in this case."}, "message": {"type": "string", "description": "General response message.", "example": "Success"}}}}}}}}, "delete": {"operationId": "delete-pipelines-jobs-job-id", "summary": "Delete Scheduled Run", "tags": ["Schedule Run"], "parameters": [{"name": "job_id", "in": "path", "required": true, "description": "Scheduled job ID. Get it from the `job_id` field in the **Schedule Run List** API response.", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Success response with no data.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "description": "HTTP status code for the operation.", "example": 200}, "data": {"type": "object", "description": "The data object, which is empty in this case."}, "errors": {"type": "object", "description": "Error details, which are empty in this case."}, "message": {"type": "string", "description": "General response message.", "example": "Success"}}}}}}}}}}}