{"openapi": "3.0.3", "info": {"title": "MyAccount API - networkfirewall", "description": "", "version": "1.0.0"}, "servers": [{"url": "https://api.e2enetworks.com/myaccount"}], "paths": {"/api/v1/fortigate/create": {"post": {"operationId": "post-fortigate-create", "summary": "Create Firewall", "tags": ["Firewall"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"label": {"type": "string", "example": "Default"}, "name": {"type": "string", "example": "Fortinet-7-01-Fortinet-835"}, "region": {"type": "string", "example": "ncr"}, "plan": {"type": "string", "example": "FTN-1vCPU-9RAM-20DISK-FTN.200V-Delhi"}, "image": {"type": "string", "example": "Fortinet-7.01-Fortinet"}, "ssh_keys": {"type": "array", "items": {"type": "string"}, "example": []}, "start_scripts": {"type": "array", "items": {"type": "string"}, "example": []}, "backups": {"type": "boolean", "example": false}, "enable_bitninja": {"type": "boolean", "example": false}, "disable_password": {"type": "boolean", "example": false}, "is_saved_image": {"type": "boolean", "example": false}, "saved_image_template_id": {"type": "string", "nullable": true, "example": null}, "reserve_ip": {"type": "string", "format": "ipv4", "example": "164.52.192.48"}, "is_ipv6_availed": {"type": "boolean", "example": false}, "vpc_id": {"type": "integer", "example": 16791}, "default_public_ip": {"type": "boolean", "example": false}, "ngc_container_id": {"type": "string", "nullable": true, "example": null}, "cn_id": {"type": "integer", "example": 3033}}, "required": ["label", "name", "region", "plan", "image", "vpc_id", "cn_id"]}}}, "required": true}, "responses": {"200": {"description": "Successful response with VM details", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"id": {"type": "integer", "example": 201190}, "name": {"type": "string", "example": "Fortinet-7-01-Fortinet-835"}, "vm_id": {"type": "integer", "example": 215851}, "created_at": {"type": "string", "format": "date-time", "example": "2024-11-04T07:08:54.119879Z"}, "public_ip_address": {"type": "string", "example": "164.52.195.12"}, "private_ip_address": {"type": "string", "example": "10.15.86.8"}, "backup": {"type": "boolean", "example": false}, "disk": {"type": "string", "example": "20 GB"}, "status": {"type": "string", "example": "Creating"}, "vcpus": {"type": "string", "example": "1"}, "memory": {"type": "string", "example": "9 GB"}, "plan": {"type": "string", "example": "FTN.100V"}, "region": {"type": "string", "nullable": true, "example": null}, "is_locked": {"type": "boolean", "example": false}, "zabbix_host_id": {"type": "integer", "nullable": true, "example": null}, "zabbix_host_id_v2": {"type": "integer", "nullable": true, "example": null}, "gpu": {"type": "string", "example": ""}, "price": {"type": "string", "example": "Rs. 13.0/Hour or Rs. 9490.0 Monthly"}, "additional_ip": {"type": "array", "items": {"type": "string"}, "example": []}, "label": {"type": "string", "example": "Default"}, "ssh_keys": {"type": "array", "items": {"type": "string"}, "example": []}, "is_active": {"type": "boolean", "example": true}, "scaler_id": {"type": "integer", "nullable": true, "example": null}, "os_info": {"type": "object", "properties": {"name": {"type": "string", "example": "Fortinet"}, "version": {"type": "string", "example": "7.01"}, "category": {"type": "string", "example": ""}, "full_name": {"type": "string", "example": "Fortinet 7.01 x86_64"}}}, "is_monitored": {"type": "boolean", "example": false}, "backup_status": {"type": "object", "properties": {"status": {"type": "string", "example": "backup_unsupported"}, "detail": {"type": "string", "example": "Backup Unsupported"}, "node_id": {"type": "integer", "example": 201190}, "is_encryption_enabled": {"type": "boolean", "example": false}}}, "location": {"type": "string", "example": "Delhi"}, "monitor_status": {"type": "object", "properties": {"status": {"type": "string", "example": "not_activated"}, "reason": {"type": "string", "example": ""}}}, "enable_bitninja_details": {"type": "object", "properties": {"show_bitninja": {"type": "boolean", "example": false}, "bitninja_cost": {"type": "number", "example": 0}}}, "is_bitninja_license_active": {"type": "boolean", "example": false}, "any_license_attached": {"type": "object", "properties": {"is_license_attached": {"type": "boolean", "example": false}, "license_deletion_message": {"type": "string", "example": ""}, "mssql_license_attached": {"type": "boolean", "example": false}}}, "is_committed": {"type": "boolean", "example": true}, "audit_log_message": {"type": "string", "nullable": true, "example": null}, "monitoring_tab_enabled": {"type": "boolean", "example": true}, "cdp_tab_enabled": {"type": "boolean", "example": true}, "alert_tab_enabled": {"type": "boolean", "example": true}, "bitninja_discount_percentage": {"type": "number", "format": "float", "example": 0}, "is_image_deleted": {"type": "boolean", "example": false}, "vpc_enabled": {"type": "boolean", "example": true}, "is_snapshot_allowed": {"type": "boolean", "example": false}, "is_fortigate_vm": {"type": "boolean", "example": true}, "rescue_mode_status": {"type": "string", "example": "Disabled"}, "is_upgradable": {"type": "boolean", "example": false}, "abuse_flag": {"type": "boolean", "example": false}, "currency": {"type": "string", "example": "INR"}, "vm_type": {"type": "string", "example": "committed_vm"}, "is_accidental_protection": {"type": "boolean", "example": false}, "project_name": {"type": "string", "example": "default-project-17976"}, "resource_type": {"type": "string", "nullable": true, "example": null}, "label_id": {"type": "integer", "nullable": true, "example": null}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/fortigate/list": {"get": {"operationId": "get-fortigate-list", "summary": "Firewall List", "tags": ["Firewall"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 201196}, "name": {"type": "string", "example": "Fortinet-7-01-Fortinet-835"}, "vm_id": {"type": "integer", "example": 215859}, "created_at": {"type": "string", "format": "date-time", "example": "2024-11-04T07:19:53.078897Z"}, "public_ip_address": {"type": "string", "example": "164.52.195.15"}, "private_ip_address": {"type": "string", "example": "10.15.86.11"}, "backup": {"type": "boolean", "example": false}, "disk": {"type": "string", "example": "20 GB"}, "status": {"type": "string", "example": "Creating"}, "vcpus": {"type": "string", "example": "1"}, "memory": {"type": "string", "example": "9 GB"}, "plan": {"type": "string", "example": "FTN.100V"}, "region": {"type": "string", "nullable": true, "example": null}, "is_locked": {"type": "boolean", "example": false}, "zabbix_host_id": {"type": "integer", "nullable": true, "example": null}, "zabbix_host_id_v2": {"type": "integer", "nullable": true, "example": null}, "gpu": {"type": "string", "example": ""}, "price": {"type": "string", "example": "Rs. 13.0/Hour or Rs. 9490.0 Monthly"}, "additional_ip": {"type": "array", "items": {"type": "string"}, "example": []}, "label": {"type": "string", "example": "Default"}, "ssh_keys": {"type": "array", "items": {"type": "string"}, "example": []}, "is_active": {"type": "boolean", "example": true}, "scaler_id": {"type": "integer", "nullable": true, "example": null}, "os_info": {"type": "object", "properties": {"name": {"type": "string", "example": "Fortinet"}, "version": {"type": "string", "example": "7.01"}, "category": {"type": "string", "example": ""}, "full_name": {"type": "string", "example": "Fortinet 7.01 x86_64"}}}, "is_monitored": {"type": "boolean", "example": false}, "backup_status": {"type": "object", "properties": {"status": {"type": "string", "example": "backup_unsupported"}, "detail": {"type": "string", "example": "Backup Unsupported"}, "node_id": {"type": "integer", "example": 201196}, "is_encryption_enabled": {"type": "boolean", "example": false}}}, "location": {"type": "string", "example": "Delhi"}, "monitor_status": {"type": "object", "properties": {"status": {"type": "string", "example": "not_activated"}, "reason": {"type": "string", "example": ""}}}, "enable_bitninja_details": {"type": "object", "properties": {"show_bitninja": {"type": "boolean", "example": false}, "bitninja_cost": {"type": "number", "example": 0}}}, "is_bitninja_license_active": {"type": "boolean", "example": false}, "any_license_attached": {"type": "object", "properties": {"is_license_attached": {"type": "boolean", "example": false}, "license_deletion_message": {"type": "string", "example": ""}, "mssql_license_attached": {"type": "boolean", "example": false}}}, "is_committed": {"type": "boolean", "example": true}, "audit_log_message": {"type": "string", "nullable": true, "example": null}, "monitoring_tab_enabled": {"type": "boolean", "example": true}, "cdp_tab_enabled": {"type": "boolean", "example": true}, "alert_tab_enabled": {"type": "boolean", "example": true}, "bitninja_discount_percentage": {"type": "number", "example": 0}, "is_image_deleted": {"type": "boolean", "example": false}, "vpc_enabled": {"type": "boolean", "example": true}, "is_snapshot_allowed": {"type": "boolean", "example": false}, "is_fortigate_vm": {"type": "boolean", "example": true}, "rescue_mode_status": {"type": "string", "example": "Disabled"}, "is_upgradable": {"type": "boolean", "example": false}, "abuse_flag": {"type": "boolean", "example": false}, "currency": {"type": "string", "example": "INR"}, "vm_type": {"type": "string", "example": "committed_vm"}, "is_accidental_protection": {"type": "boolean", "example": false}, "project_name": {"type": "string", "example": "default-project-17976"}}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}}}