{"openapi": "3.0.3", "info": {"title": "MyAccount API - drs", "description": "", "version": "1.0.0"}, "servers": [{"url": "https://api.e2enetworks.com/myaccount"}], "paths": {"/api/v1/draas/": {"get": {"operationId": "get-draas", "summary": "List DR Plans", "tags": ["Disaster Recovery"], "description": "This API lists all disaster recovery plans.", "parameters": [{"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "List of disaster recovery plans retrieved successfully.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 78163}, "plan_name": {"type": "string", "example": "57294108"}, "source_location": {"type": "string", "example": "Delhi"}, "target_location": {"type": "string", "example": "Chennai"}, "source_resource_id": {"type": "integer", "example": 91007}, "target_resource_id": {"type": "integer", "example": 91008}, "status": {"type": "string", "example": "Creating"}, "are_action_blocked": {"type": "boolean", "example": false}, "recovery_point_retention_days": {"type": "integer", "example": 2}, "start_date_time": {"type": "string", "format": "date-time", "nullable": true, "example": null}, "rpo": {"type": "integer", "example": 1}, "rpo_unit": {"type": "string", "example": "Hours"}, "rto": {"type": "integer", "example": 5}, "rto_unit": {"type": "string", "example": "Minutes"}, "is_shipping": {"type": "boolean", "example": false}, "can_create_recovery_point": {"type": "boolean", "example": true}, "created_at": {"type": "string", "format": "date-time", "example": "2026-02-23T07:22:40.538581Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2026-02-23T07:22:40.550850Z"}}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/draas/pricing/": {"get": {"operationId": "get-draas-pricing", "summary": "Get DR Pricing", "tags": ["Disaster Recovery"], "description": "This API fetches disaster recovery pricing details.", "parameters": [{"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Disaster recovery pricing retrieved successfully.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"DR_Pricing": {"type": "object", "properties": {"INR": {"type": "string", "example": "2.0/Hour or 1440.0/Month"}, "USD": {"type": "string", "example": "0.024/Hour or 17.28/Month"}}}, "DR_Recovery_Point_Pricing": {"type": "object", "properties": {"INR": {"type": "number", "format": "float", "example": 0.9722}, "USD": {"type": "number", "format": "float", "example": 0.0118}}}, "Volume_Pricing": {"type": "object", "properties": {"INR": {"type": "number", "format": "float", "example": 0.0069}, "USD": {"type": "number", "format": "float", "example": 0.0001}}}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/draas/create-plan/": {"post": {"operationId": "post-draas-create-plan", "summary": "Create DR Plan", "tags": ["Disaster Recovery"], "description": "This API creates a new disaster recovery plan.", "parameters": [{"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"plan_name": {"type": "string", "example": "83472915"}, "target_location": {"type": "string", "enum": ["Delhi", "Chennai"], "example": "Chennai"}, "resource_type": {"type": "string", "enum": ["Node"], "example": "Node"}, "source_resource_id": {"type": "integer", "example": 91007}, "rpo_hours": {"type": "integer", "example": 2}, "recovery_point_retention_days": {"type": "integer", "minimum": 1, "example": 1}, "volumes": {"type": "array", "items": {"type": "integer"}, "example": [6194]}}, "required": ["plan_name", "target_location", "resource_type", "source_resource_id", "rpo_hours", "recovery_point_retention_days", "volumes"]}}}, "required": true}, "responses": {"200": {"description": "Disaster recovery plan creation initiated successfully.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"dr_id": {"type": "integer", "example": 78164}, "plan_name": {"type": "string", "example": "83472915"}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Disaster Recovery Plan Creation in Process"}}}}}}, "400": {"description": "Bad request while creating disaster recovery plan.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 400}, "data": {"type": "object", "properties": {"plan_name": {"type": "string", "example": "83472915"}}}, "errors": {"type": "string", "example": "Disaster Recovery for this resource already exists"}, "message": {"type": "string", "example": "Bad Request"}}}}}}}}}, "/api/v1/draas/{dr_id}/details/": {"get": {"operationId": "get-draas-dr-id-details", "summary": "Get DR Plan Details", "tags": ["Disaster Recovery"], "description": "This API fetches details of a disaster recovery plan.", "parameters": [{"name": "dr_id", "in": "path", "required": true, "description": "Disaster Recovery ID", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Disaster recovery plan details retrieved successfully.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"plan_name": {"type": "string", "example": "57294108"}, "source_location": {"type": "string", "example": "Delhi"}, "target_location": {"type": "string", "example": "Chennai"}, "source_resource_id": {"type": "integer", "example": 91007}, "target_resource_id": {"type": "integer", "example": 91008}, "status": {"type": "string", "example": "Active"}, "are_action_blocked": {"type": "boolean", "example": false}, "recovery_point_retention_days": {"type": "integer", "example": 2}, "source_resource_info": {"type": "object", "properties": {"name": {"type": "string", "example": "10457999"}, "public_ip": {"type": "string", "nullable": true, "example": null}, "private_ip": {"type": "string", "example": "10.99.71.119"}, "state": {"type": "string", "example": "Running"}}}, "target_resource_info": {"type": "object", "properties": {"name": {"type": "string", "example": "90457999"}, "public_ip": {"type": "string", "nullable": true, "example": null}, "private_ip": {"type": "string", "example": "10.99.72.138"}, "state": {"type": "string", "example": "Powering off"}}}, "volumes": {"type": "array", "items": {"type": "object"}}, "is_shipping": {"type": "boolean", "example": false}, "can_create_recovery_point": {"type": "boolean", "example": true}, "rpo": {"type": "integer", "example": 1}, "rpo_unit": {"type": "string", "example": "Hours"}, "rto": {"type": "integer", "example": 5}, "rto_unit": {"type": "string", "example": "Minutes"}, "last_successful_replication_time": {"type": "string", "nullable": true, "example": null}, "start_date_time": {"type": "string", "format": "date-time", "example": "2026-02-24T11:16:56.751859Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2026-02-24T11:16:56.752065Z"}, "created_at": {"type": "string", "format": "date-time", "example": "2026-02-23T07:22:40.538581Z"}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/draas/{dr_id}/event-logs/": {"get": {"operationId": "get-draas-dr-id-event-logs", "summary": "Get DR Audit Logs", "tags": ["Disaster Recovery"], "description": "This API fetches disaster recovery audit logs by month and year.", "parameters": [{"name": "dr_id", "in": "path", "required": true, "description": "Disaster Recovery ID", "schema": {"type": "integer"}}, {"name": "year", "in": "query", "required": true, "description": "Year for DR audit logs in YYYY format.", "schema": {"type": "integer", "example": 2026}}, {"name": "month", "in": "query", "required": true, "description": "Month for DR audit logs in MM format.", "schema": {"type": "integer", "minimum": 1, "maximum": 12, "example": 2}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Disaster recovery audit logs retrieved successfully.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"service": {"type": "string", "example": "DR_SERVICE"}, "resource_name": {"type": "string", "example": "66019347"}, "operation_performed_by": {"type": "string", "example": "9988776655"}, "performer_name": {"type": "string", "example": "55667788"}, "event": {"type": "string", "example": "START DR PLAN"}, "client_ip": {"type": "string", "example": "10.99.73.19"}, "project_id": {"type": "integer", "example": 982}, "location": {"type": "string", "example": "Delhi"}, "source": {"type": "string", "example": ""}, "status": {"type": "boolean", "example": true}, "description": {"type": "string", "example": "Disaster Recovery Plan Started Successfully"}, "created_at": {"type": "string", "example": "Feb 24, 2026 12:13:28 PM"}, "updated_at": {"type": "string", "example": "Feb 24, 2026 12:13:28 PM"}}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/draas/{dr_id}/delete/": {"delete": {"operationId": "delete-draas-dr-id-delete", "summary": "Delete DR Plan", "tags": ["Disaster Recovery"], "description": "This API deletes a disaster recovery plan.", "parameters": [{"name": "dr_id", "in": "path", "required": true, "description": "Disaster Recovery ID", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Disaster recovery plan deleted successfully.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "example": {}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Disaster Recovery Plan Deleted Successfully"}}}}}}, "400": {"description": "Disaster recovery plan deletion request rejected.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 400}, "data": {"type": "object", "example": {}}, "errors": {"type": "string", "example": "Disaster Recovery Deletion is not allowed when data shipment is going on. Please wait."}, "message": {"type": "string", "example": "Bad Request"}}}}}}}}}, "/api/v1/draas/{dr_id}/recovery-point-groups/": {"get": {"operationId": "get-draas-dr-id-recovery-point-groups", "summary": "List Recovery Point Groups", "tags": ["Disaster Recovery"], "description": "This API lists recovery point groups for a disaster recovery plan.", "parameters": [{"name": "dr_id", "in": "path", "required": true, "description": "Disaster Recovery ID", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "fetch_resource", "in": "query", "required": false, "description": "Filter recovery points by protected resource type.", "schema": {"type": "string", "enum": ["all", "Node", "Volume"], "example": "all"}}, {"name": "recovery_point_type", "in": "query", "required": false, "description": "Filter recovery points by snapshot type.", "schema": {"type": "string", "enum": ["all", "Manual", "Scheduled"], "example": "all"}}, {"name": "range_start_datetime", "in": "query", "required": false, "description": "Start of filter range in ISO 8601 format (UTC).", "schema": {"type": "string", "format": "date-time", "example": "2026-02-24T00:00:00.000Z"}}, {"name": "range_end_datetime", "in": "query", "required": false, "description": "End of filter range in ISO 8601 format (UTC).", "schema": {"type": "string", "format": "date-time", "example": "2026-02-24T23:59:59.999Z"}}], "responses": {"200": {"description": "Recovery point groups retrieved successfully.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "additionalProperties": {"type": "object", "properties": {"group_name": {"type": "string"}, "Node": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer"}, "source_resource_name": {"type": "string"}, "target_resource_name": {"type": "string"}, "name": {"type": "string"}, "size": {"type": "string"}, "status": {"type": "string"}, "snapshot_type": {"type": "string"}, "replication_start_at": {"type": "string", "format": "date-time"}, "replication_end_at": {"type": "string", "format": "date-time"}, "replication_duration": {"type": "string"}, "deleted_at": {"type": "string", "nullable": true}}}}, "Volume": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer"}, "source_resource_name": {"type": "string"}, "target_resource_name": {"type": "string"}, "name": {"type": "string"}, "size": {"type": "string"}, "status": {"type": "string"}, "snapshot_type": {"type": "string"}, "replication_start_at": {"type": "string", "format": "date-time"}, "replication_end_at": {"type": "string", "format": "date-time"}, "replication_duration": {"type": "string"}, "deleted_at": {"type": "string", "nullable": true}}}}, "group_start_time": {"type": "string", "format": "date-time"}, "group_status": {"type": "string"}, "group_type": {"type": "string"}}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/draas/{dr_id}/create-recovery-point/": {"post": {"operationId": "post-draas-dr-id-create-recovery-point", "summary": "Create Manual Recovery Point", "tags": ["Disaster Recovery"], "description": "This API starts manual recovery point creation for a disaster recovery plan.", "parameters": [{"name": "dr_id", "in": "path", "required": true, "description": "Disaster Recovery ID", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "additionalProperties": false, "example": {}}}}}, "responses": {"200": {"description": "Manual recovery point creation initiated successfully.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "example": {}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Recovery Point Creation Started Successfully."}}}}}}}}}, "/api/v1/draas/{dr_id}/update-recovery-point-name/{rp_id}/": {"put": {"operationId": "put-draas-dr-id-update-recovery-point-name-rp-id", "summary": "Rename Recovery Point", "tags": ["Disaster Recovery"], "description": "This API updates the display name of a recovery point.", "parameters": [{"name": "dr_id", "in": "path", "required": true, "description": "Disaster Recovery ID", "schema": {"type": "integer"}}, {"name": "rp_id", "in": "path", "required": true, "description": "Recovery Point ID", "schema": {"type": "integer"}}, {"name": "resource_type", "in": "query", "required": true, "description": "DR Resource Type", "schema": {"type": "string", "enum": ["Node", "Volume"]}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"recovery_point_name": {"type": "string", "example": "99126437"}}, "required": ["recovery_point_name"]}}}, "required": true}, "responses": {"200": {"description": "Recovery point renamed successfully.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "example": {}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Successfully Updated Recovery Point Name from 77540128 to 99126437 of Node:10457832"}}}}}}}}}, "/api/v1/draas/{dr_id}/delete-recovery-point/{rp_id}/": {"delete": {"operationId": "delete-draas-dr-id-delete-recovery-point-rp-id", "summary": "Delete Recovery Point", "tags": ["Disaster Recovery"], "description": "This API deletes a specific recovery point from a disaster recovery plan.", "parameters": [{"name": "dr_id", "in": "path", "required": true, "description": "Disaster Recovery ID", "schema": {"type": "integer"}}, {"name": "rp_id", "in": "path", "required": true, "description": "Recovery Point ID", "schema": {"type": "integer"}}, {"name": "resource_type", "in": "query", "required": true, "description": "DR Resource Type", "schema": {"type": "string", "enum": ["Node", "Volume"]}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Recovery point deleted successfully.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "example": {}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Successfully deleted Recovery Point:77540129 of Node:10457832"}}}}}}}}}, "/api/v1/draas/{dr_id}/actions/": {"put": {"operationId": "put-draas-dr-id-actions", "summary": "Start or Stop DR Plan", "tags": ["Disaster Recovery"], "description": "This API starts or stops a disaster recovery plan.", "parameters": [{"name": "dr_id", "in": "path", "required": true, "description": "Disaster Recovery ID", "schema": {"type": "integer"}}, {"name": "action", "in": "query", "required": true, "description": "DR Action", "schema": {"type": "string", "enum": ["start", "stop"]}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Response for starting or stopping a disaster recovery plan.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "example": {}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Disaster Recovery Plan Started Successfully"}}}}}}}}}, "/api/v1/draas/{dr_id}/drill/": {"put": {"operationId": "put-draas-dr-id-drill", "summary": "Start or Stop DR Drill", "tags": ["Disaster Recovery"], "description": "This API starts or stops a disaster recovery drill.", "parameters": [{"name": "dr_id", "in": "path", "required": true, "description": "Disaster Recovery ID", "schema": {"type": "integer"}}, {"name": "action", "in": "query", "required": true, "description": "DR Action", "schema": {"type": "string", "enum": ["start", "stop"]}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"recovery_points": {"type": "object", "properties": {"Node": {"type": "object", "additionalProperties": {"type": "integer"}}, "Volume": {"type": "object", "additionalProperties": {"type": "integer"}}}, "example": {"Node": {"10457832": 77891}, "Volume": {"20457832": 77920}}}}}}}}, "responses": {"200": {"description": "Response for starting or stopping a disaster recovery drill.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "example": {}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Disaster Recovery Drill Started Successfully"}}}}}}}}}, "/api/v1/draas/{dr_id}/update-rpo/": {"put": {"operationId": "put-draas-dr-id-update-rpo", "summary": "Update RPO", "tags": ["Disaster Recovery"], "description": "This API updates the RPO value of a disaster recovery plan.", "parameters": [{"name": "dr_id", "in": "path", "required": true, "description": "Disaster Recovery ID", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"rpo_hour": {"type": "integer", "description": "RPO value in hours.", "example": 1}}, "required": ["rpo_hour"]}}}, "required": true}, "responses": {"200": {"description": "RPO updated successfully.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "example": {}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "rpo updated successfully."}}}}}}}}}, "/api/v1/draas/{dr_id}/update-recovery-point-retention-days/": {"put": {"operationId": "put-draas-dr-id-update-recovery-point-retention-days", "summary": "Update Recovery Point Retention Period", "tags": ["Disaster Recovery"], "description": "This API updates retention period for recovery points.", "parameters": [{"name": "dr_id", "in": "path", "required": true, "description": "Disaster Recovery ID", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"recovery_point_retention_days": {"type": "integer", "minimum": 1, "example": 2}}, "required": ["recovery_point_retention_days"]}}}, "required": true}, "responses": {"200": {"description": "Recovery point retention days updated successfully.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "example": {}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Recovery Point Retention Days Updated Successfully."}}}}}}}}}, "/api/v1/draas/{dr_id}/recover/": {"post": {"operationId": "post-draas-dr-id-recover", "summary": "Recover DR Plan", "tags": ["Disaster Recovery"], "description": "This API starts disaster recovery plan recovery using selected recovery points.", "parameters": [{"name": "dr_id", "in": "path", "required": true, "description": "Disaster Recovery ID", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"recovery_points": {"type": "object", "properties": {"Node": {"type": "object", "additionalProperties": {"type": "integer"}}, "Volume": {"type": "object", "additionalProperties": {"type": "integer"}}}, "example": {"Node": {"10457832": 77891}, "Volume": {"20457832": 77920}}}}, "required": ["recovery_points"]}}}, "required": true}, "responses": {"200": {"description": "Disaster recovery plan recovery initiated successfully.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "example": {}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Disaster Recovery Plan Recovery Started Successfully."}}}}}}}}}}}