{"openapi": "3.0.3", "info": {"title": "MyAccount API - ssoadmin", "description": "", "version": "1.0.0"}, "servers": [{"url": "https://api.e2enetworks.com/myaccount"}], "paths": {"/api/v1/sso/organizations/": {"get": {"operationId": "get-sso-organizations", "summary": "Get a List of IdP", "tags": ["SSO"], "description": "Returns a list of organizations configured for Single Sign-On (SSO) in E2E Cloud. Each organization entry includes details such as ID, ERN, organization reference, status, SSO enablement, and timestamps for creation and updates.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Successfully retrieved the list of SSO organizations.", "content": {"application/json": {"schema": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "string", "format": "uuid", "example": "019a7752-8aaa-7042-9c3e-bcbbe47f5f64", "description": "Unique identifier of the organization."}, "ern": {"type": "string", "example": "ern:e2e:organizations::master-account:organization/019a7752-8aaa-7042-9c3e-bcbbe47f5e74", "description": "E2E Resource Name (ERN) for the organization."}, "org_ref": {"type": "string", "example": "612214921334", "description": "Internal organization reference ID."}, "name": {"type": "string", "example": "idp-77823", "description": "Name of the organization or IdP configuration."}, "email": {"type": "string", "nullable": true, "example": null, "description": "Registered email for the organization (if applicable)."}, "domain": {"type": "string", "nullable": true, "example": null, "description": "Associated domain name (if applicable)."}, "customer_id": {"type": "string", "example": "1790", "description": "Customer ID associated with the organization."}, "status": {"type": "string", "enum": ["ACTIVE", "INACTIVE"], "example": "ACTIVE", "description": "Current status of the organization."}, "sso_enabled": {"type": "boolean", "example": true, "description": "Indicates whether Single Sign-On (SSO) is enabled for this organization."}, "created_at": {"type": "string", "format": "date-time", "example": "2025-11-12T09:08:09.517189Z", "description": "Timestamp when the organization was created."}, "updated_at": {"type": "string", "format": "date-time", "example": "2025-11-12T09:09:41.344411Z", "description": "Timestamp when the organization was last updated."}}}}}}}}}, "post": {"operationId": "post-sso-organizations", "summary": "Create a new organization for an IdP", "tags": ["SSO"], "description": "For creating a new IdP organization in E2E Cloud,\nyou must follow the sequence of steps below after calling this API:\n\n 1. Create an Organization for the IdP.  \n 2. Create a Realm for the newly created Organization.  \n 3. Upload the Federation (IdP) Metadata XML file to the created Realm using the API:\n    `POST /myaccount/api/v1/sso/organizations/{organization_id}/realms/{realm_id}/identity-sources/saml/idp-metadata/`\n 4. Create SSO Clients for the created Realm and organization.\n 5. Verify the client configurations and SSO setup.\n 6. Enable SSO for the Organization once all configurations are verified using Update IdP API.\n", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"name": {"type": "string", "description": "Name of the SSO organization", "example": "idp-624178"}, "sso_enabled": {"type": "boolean", "description": "Whether SSO is enabled for the organization", "example": false}}}}}, "required": true}, "responses": {"201": {"description": "Organization created successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"id": {"type": "string", "example": "019a783b-8688-7578-a47a-25536922f02e"}, "ern": {"type": "string", "example": "ern:e2e:organizations::master-account:organization/019a783b-8688-7578-a47a-25536922f02e"}, "org_ref": {"type": "string", "example": 64058431970}, "name": {"type": "string", "example": "idp-624178"}, "email": {"type": "string", "nullable": true, "example": null}, "domain": {"type": "string", "nullable": true, "example": null}, "customer_id": {"type": "string", "example": "1790"}, "status": {"type": "string", "example": "ACTIVE"}, "sso_enabled": {"type": "boolean", "example": false}, "created_at": {"type": "string", "format": "date-time", "example": "2025-11-12T13:22:38.346570Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2025-11-12T13:22:38.346613Z"}}}}}}}}}, "/api/v1/sso/organizations/{organization_id}/realms/": {"get": {"operationId": "get-sso-organizations-organization-id-realms", "summary": "Get Relam details for a specific IdP", "tags": ["SSO"], "description": "Returns a list of SSO realms associated with the specified organization. Each realm entry includes details such as ID, name, status, and timestamps for creation and updates.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "organization_id", "in": "path", "required": true, "description": "Unique identifier of the organization.", "schema": {"type": "string", "format": "uuid", "example": "019a7752-8aaa-7042-9c3e-bcbbe47f5e67"}}], "responses": {"200": {"description": "Successfully retrieved the list of SSO realms.", "content": {"application/json": {"schema": {"type": "array", "items": {"type": "object", "properties": {"ern": {"type": "string", "example": "ern:e2e:sso::019a7752-8aaa-7042-9c3e-bcbbe47f5234:realm/019a7752-8b35-71fc-97a3-047de7132f66", "description": "E2E Resource Name (ERN) of the realm."}, "organization_detail": {"type": "object", "description": "Details of the organization associated with this realm.", "properties": {"id": {"type": "string", "format": "uuid", "example": "019a7752-8aaa-7042-9c3e-bcbbe47f5e423"}, "ern": {"type": "string", "example": "ern:e2e:organizations::master-account:organization/019a7752-8aaa-7042-9c3e-bcbbe47f5e423"}, "org_ref": {"type": "string", "example": "612214921343"}, "name": {"type": "string", "example": "idp-778344"}, "email": {"type": "string", "nullable": true, "example": null}, "domain": {"type": "string", "nullable": true, "example": null}, "customer_id": {"type": "string", "example": "1790"}, "status": {"type": "string", "enum": ["ACTIVE", "INACTIVE"], "example": "ACTIVE"}, "sso_enabled": {"type": "boolean", "example": true}, "created_at": {"type": "string", "format": "date-time", "example": "2025-11-12T09:08:09.517189Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2025-11-12T09:09:41.344411Z"}}}, "name": {"type": "string", "example": "idp-778344", "description": "Display name of the realm or IdP configuration."}, "realm_type": {"type": "string", "enum": ["ENTERPRISE", "PUBLIC"], "example": "ENTERPRISE", "description": "Type of SSO realm configured."}, "entity_id": {"type": "string", "format": "uri", "example": "https://myaccount.e2enetworks.net/auth/realms/019a7752-8b35-71fc-97a3-047de7132f66", "description": "The Entity ID of the SAML 2.0 realm."}, "acs_url": {"type": "string", "format": "uri", "example": "https://myaccount.e2enetworks.net/auth/realms/019a7752-8b35-71fc-97a3-047de7132f66/broker/saml/endpoint", "description": "Assertion Consumer Service (ACS) endpoint URL for SAML authentication."}, "realm_id": {"type": "string", "format": "uuid", "example": "019a7752-8b35-71fc-97a3-047de7132f66", "description": "Unique identifier for the SSO realm."}, "status": {"type": "string", "enum": ["ACTIVE", "INACTIVE"], "example": "ACTIVE"}, "created_at": {"type": "string", "format": "date-time", "example": "2025-11-12T09:08:09.654675Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2025-11-12T09:08:32.396138Z"}}}}}}}}}, "post": {"operationId": "post-sso-organizations-organization-id-realms", "summary": "Create a new Realm for an IdP organization", "tags": ["SSO"], "description": "Creates a new Realm under a given organization to manage SSO configurations.\n", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "organization_id", "in": "path", "required": true, "description": "Unique identifier of the organization.", "schema": {"type": "string", "format": "uuid", "example": "019a7752-8aaa-7042-9c3e-bcbbe47f5e67"}}], "responses": {"201": {"description": "Realm created successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 201}, "data": {"type": "object", "properties": {"realm": {"type": "object", "properties": {"ern": {"type": "string", "example": "ern:e2e:sso::019a7847-1ff1-7627-858c-c9de3fa3ff2c:realm/019a7847-2073-73a5-8144-d29e318ae4a2"}, "organization_detail": {"type": "object", "properties": {"id": {"type": "string", "example": "019a7847-1ff1-7627-858c-c9de3fa3ff2c"}, "ern": {"type": "string", "example": "ern:e2e:organizations::master-account:organization/019a7847-1ff1-7627-858c-c9de3fa3ff2c"}, "org_ref": {"type": "string", "example": 112203638208}, "name": {"type": "string", "example": "idp-482005"}, "email": {"type": "string", "nullable": true, "example": null}, "domain": {"type": "string", "nullable": true, "example": null}, "customer_id": {"type": "string", "example": "1790"}, "status": {"type": "string", "example": "ACTIVE"}, "sso_enabled": {"type": "boolean", "example": false}, "created_at": {"type": "string", "format": "date-time", "example": "2025-11-12T13:35:18.515495Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2025-11-12T13:35:18.515536Z"}}}, "name": {"type": "string", "example": "idp-482005"}, "realm_type": {"type": "string", "example": "ENTERPRISE"}, "entity_id": {"type": "string", "example": "https://myaccount.e2enetworks.net/auth/realms/019a7847-2073-73a5-8144-d29e318ae4a2"}, "status": {"type": "string", "example": "ACTIVE"}, "acs_url": {"type": "string", "example": "https://myaccount.e2enetworks.net/auth/realms/019a7847-2073-73a5-8144-d29e318ae4a2/broker/saml/endpoint"}, "created_at": {"type": "string", "format": "date-time", "example": "2025-11-12T13:35:18.643540Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2025-11-12T13:35:34.046203Z"}, "realm_id": {"type": "string", "example": "019a7847-2073-73a5-8144-d29e318ae4a2"}}}, "message": {"type": "string", "example": "Realm \"idp-482005\" created successfully"}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Created Successfully"}}}}}}}}}, "/api/v1/sso/organizations/{organization_id}/realms/{realm_id}/clients/": {"get": {"operationId": "get-sso-organizations-organization-id-realms-realm-id-clients", "summary": "Retrieve SSO clients for a specific realm", "tags": ["SSO"], "description": "Returns a list of SSO clients associated with the specified realm. Each client entry includes details such as ID, name, status, and timestamps for creation and updates.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "organization_id", "in": "path", "required": true, "description": "Unique identifier of the organization.", "schema": {"type": "string", "format": "uuid", "example": "019a7752-8aaa-7042-9c3e-bcbbe47f5e67"}}, {"name": "realm_id", "in": "path", "required": true, "description": "Unique identifier of the Realm", "schema": {"type": "string", "example": "019a7847-2073-73a5-8144-d29e318ae4a2"}}], "responses": {"200": {"description": "SSO URL verification successful", "content": {"application/json": {"schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true}, "data": {"type": "object", "properties": {"is_sso_url_valid": {"type": "boolean", "description": "Indicates whether the SSO URL is valid", "example": true}, "is_redirect_url_valid": {"type": "boolean", "description": "Indicates whether the redirect URL is valid", "example": true}}}, "message": {"type": "string", "example": "SSO URL verification successful"}}}}}}}}, "post": {"operationId": "post-sso-organizations-organization-id-realms-realm-id-clients", "summary": "Create a new SSO client", "tags": ["SSO"], "description": "Creates a new SSO Client inside the specified Realm for an Organization.\nThe client represents a service that will communicate with the SSO Realm.\n", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "organization_id", "in": "path", "required": true, "description": "Unique identifier of the organization.", "schema": {"type": "string", "format": "uuid", "example": "019a7752-8aaa-7042-9c3e-bcbbe47f5e67"}}, {"name": "realm_id", "in": "path", "required": true, "description": "Unique identifier of the Realm", "schema": {"type": "string", "example": "019a7847-2073-73a5-8144-d29e318ae4a2"}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"name": {"type": "string", "description": "Name of the SSO Client", "example": "idp-482005"}}}}}, "required": true}, "responses": {"201": {"description": "SSO Client created successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 201}, "data": {"type": "object", "properties": {"client_id": {"type": "string", "example": "https://myaccount.e2enetworks.net/api/v1/sso/organizations/019a7847-1ff1-7627-858c-c9de3fa3ff2c/realms/019a7847-2073-73a5-8144-d29e318ae4a2/sp_metadata"}, "id": {"type": "string", "example": "019a784f-6541-7eb7-bdf7-807c72d59f78"}, "name": {"type": "string", "example": "idp-482005"}, "root_url": {"type": "string", "example": "https://myaccount.e2enetworks.net/publicapi/v1/sso/organizations/019a7847-1ff1-7627-858c-c9de3fa3ff2c/acs/"}, "redirect_uris": {"type": "array", "items": {"type": "string"}, "example": ["https://myaccountt.e2enetworks.net/publicapi/v1/sso/organizations/019a7847-1ff1-7627-858c-c9de3fa3ff2c/acs/"]}, "capabilities": {"type": "object", "example": {}}, "client_settings": {"type": "object", "example": {}}, "signature_settings": {"type": "object", "example": {}}, "status": {"type": "string", "example": "ACTIVE"}, "created_at": {"type": "string", "format": "date-time", "example": "2025-11-12T13:44:20.546060Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2025-11-12T13:44:22.089926Z"}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Client created successfully"}}}}}}}}}, "/api/v1/sso/organizations/{organization_id}/": {"put": {"operationId": "put-sso-organizations-organization-id", "summary": "Update an IdP", "tags": ["SSO"], "description": "- Enables or disables IdP for a specific organization using its unique identifier (Use ToggleSSO Body Example). \n- Change the name of the IdP using its unique identifier (Use RenameIDp Body Example).\n", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "organization_id", "in": "path", "required": true, "description": "Unique identifier of the organization.", "schema": {"type": "string", "format": "uuid", "example": "019a7752-8aaa-7042-9c3e-bcbbe47f5e67"}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"name": {"type": "string", "description": "New name for the Identity Provider (optional)", "example": "idp-new"}, "sso_enabled": {"type": "boolean", "description": "Enable or disable SSO for the organization (optional)", "example": true}}}}}, "required": true}, "responses": {"200": {"description": "Organization updated successfully.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"organization": {"type": "object", "properties": {"id": {"type": "string", "format": "uuid", "example": "019a7752-8aaa-7042-9c3e-bcbbe47f5e68"}, "ern": {"type": "string", "example": "ern:e2e:organizations::master-account:organization/019a7752-8aaa-7042-9c3e-bcbbe47f5e68"}, "org_ref": {"type": "string", "example": "612214921370"}, "name": {"type": "string", "example": "idp-new", "description": "Updated name of the organization."}, "email": {"type": "string", "nullable": true, "example": null}, "domain": {"type": "string", "nullable": true, "example": null}, "customer_id": {"type": "string", "example": "1790"}, "status": {"type": "string", "enum": ["ACTIVE", "INACTIVE"], "example": "ACTIVE"}, "sso_enabled": {"type": "boolean", "example": true}, "created_at": {"type": "string", "format": "date-time", "example": "2025-11-12T09:08:09.517189Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2025-11-12T10:13:18.385387Z"}}}, "message": {"type": "string", "example": "Organization \"idp-new\" updated successfully"}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}, "delete": {"operationId": "delete-sso-organizations-organization-id", "summary": "Delete an IdP", "tags": ["SSO"], "description": "Deletes the specified IdP organization from E2E Cloud. This action is irreversible and will remove all associated configurations.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "organization_id", "in": "path", "required": true, "description": "Unique identifier of the organization.", "schema": {"type": "string", "format": "uuid", "example": "019a7752-8aaa-7042-9c3e-bcbbe47f5e67"}}], "responses": {"default": {"description": "Successful response"}}}}, "/api/v1/sso/organizations/{organization_id}/realms/{realm_id}/clients/{client_id}/verify/": {"get": {"operationId": "get-sso-organizations-organization-id-realms-realm-id-clients-client-id-verify", "summary": "Verify SSO URL and Redirect URL for a Client", "tags": ["SSO"], "description": "This API verifies whether the SSO URL and Redirect URL configured for a\nspecific Client inside an Organization and Realm are valid.\n", "parameters": [{"name": "client_id", "in": "path", "required": true, "description": "client_id (added by fix_spec.py: appears in the URL template but is not declared as a parameter at all)", "schema": {"type": "string"}}, {"name": "organization_id", "in": "path", "required": true, "description": "Unique identifier of the organization.", "schema": {"type": "string", "format": "uuid", "example": "019a7752-8aaa-7042-9c3e-bcbbe47f5e67"}}, {"name": "realm_id", "in": "path", "required": true, "description": "Unique identifier of the Realm", "schema": {"type": "string", "example": "019a7847-2073-73a5-8144-d29e318ae4a2"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "SSO URL verification result", "content": {"application/json": {"schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true}, "data": {"type": "object", "properties": {"is_sso_url_valid": {"type": "boolean", "example": true}, "is_redirect_url_valid": {"type": "boolean", "example": true}}}, "message": {"type": "string", "example": "SSO URL verification successful"}}}}}}}}}}}