{"openapi": "3.0.3", "info": {"title": "TIR API - storage", "description": "E2E TIR \u2014 the AI/ML platform: notebooks, foundation models, fine-tuning, inference endpoints, RAG, pipelines, and data.", "version": "1.0.0"}, "servers": [{"url": "https://api.e2enetworks.com/myaccount/api/v1/gpu"}], "paths": {"/datasets/": {"get": {"operationId": "get-datasets", "summary": "List Datasets", "tags": ["Dataset"], "description": "Retrieve a list of all datasets in the project with filtering and pagination options", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "page_no", "in": "query", "required": false, "description": "The page number from which you want your page search results to be displayed.", "schema": {"type": "integer", "minimum": 0}}, {"name": "per_page", "in": "query", "required": false, "description": "Number of results per page", "schema": {"type": "integer", "minimum": 0}}, {"name": "is_advanced_search", "in": "query", "required": false, "description": "Specifies if advanced filters should be applied.", "schema": {"type": "boolean"}}, {"name": "storage_type", "in": "query", "required": false, "description": "Storage Type", "schema": {"type": "string", "enum": ["managed,e2e_s3", "pvc"]}}, {"name": "encrypted", "in": "query", "required": false, "description": "Encryption", "schema": {"type": "boolean"}}], "responses": {"200": {"description": "Success response with dataset information.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "description": "HTTP status code for the operation.", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "description": "Unique identifier of the dataset.", "example": 1306}, "name": {"type": "string", "description": "Name of the dataset.", "example": "tir-dataset-111415255656"}, "project_id": {"type": "integer", "description": "ID of the project associated with the dataset.", "example": 124}, "description": {"type": "string", "description": "Description of the dataset, which is null in this case.", "nullable": true}, "storage_type": {"type": "string", "description": "Type of storage used for the dataset.", "example": "managed"}, "pvc": {"type": "string", "description": "Persistent volume claim (PVC) details, which is null in this case.", "nullable": true}, "bucket": {"type": "object", "properties": {"id": {"type": "integer", "description": "Unique identifier of the bucket.", "example": 2519}, "bucket_name": {"type": "string", "description": "Name of the storage bucket.", "example": "d-gpu-eec9c7b5-be21-4303-ad86-78fa3b2ba284"}, "bucket_url": {"type": "string", "description": "URL of the bucket.", "example": "s3://d-gpu-eec9c7b5-be21-4303-ad86-78fa3b2ba284/"}, "endpoint": {"type": "string", "description": "Endpoint URL of the object store.", "example": "https://objectstore.e2enetworks.net"}, "is_managed": {"type": "boolean", "description": "Whether the bucket is managed.", "example": true}, "eos_bucket_permission_id": {"type": "integer", "description": "EOS bucket permission ID.", "example": 10205}}}, "access_key": {"type": "object", "properties": {"id": {"type": "integer", "description": "Unique identifier for the access key.", "example": 2536}, "access_key": {"type": "string", "description": "The access key.", "example": "CKEAFAC2WW1R3CRM4YR2"}, "secret_key": {"type": "string", "description": "The secret key for accessing the bucket.", "example": "X8PB1JFEYIFP1LZIRKPKYBDSCD57R15A9CMGD6UP"}, "tag": {"type": "string", "description": "A tag associated with the access key.", "example": "akgpu6bdbe89619c949d382acf141fb76c204"}, "is_managed": {"type": "boolean", "description": "Whether the access key is managed.", "example": true}}}, "encryption_type": {"type": "string", "description": "Type of encryption used, which is null in this case.", "nullable": true}, "encryption_enable": {"type": "boolean", "description": "Whether encryption is enabled for the dataset.", "example": false}, "status": {"type": "string", "description": "Status of the dataset.", "example": "OK"}, "created_by": {"type": "object", "properties": {"id": {"type": "integer", "description": "User ID of the creator.", "example": 3573}, "name": {"type": "string", "description": "Name of the creator.", "example": "Nipun"}, "email": {"type": "string", "description": "Email of the creator.", "example": "nipun.arora@e2enetworks.com"}, "username": {"type": "string", "description": "Username of the creator.", "example": "nipun.arora@e2enetworks.com"}}}, "created_at": {"type": "string", "format": "date-time", "description": "Timestamp of when the dataset was created.", "example": "2024-11-14T09:56:02.477591Z"}, "updated_at": {"type": "string", "format": "date-time", "description": "Timestamp of when the dataset was last updated.", "example": "2024-11-14T09:56:02.477647Z"}}}}, "errors": {"type": "object", "description": "Any errors encountered during the operation.", "example": {}}, "message": {"type": "string", "description": "Message indicating the result of the operation.", "example": "Success"}, "total_page_number": {"type": "integer", "description": "Total number of pages of dataset information available.", "example": 1}, "total_count": {"type": "integer", "description": "Total number of datasets returned.", "example": 1}}}}}}}}, "post": {"operationId": "post-datasets", "summary": "Create Dataset", "tags": ["Dataset"], "description": "Create a new dataset with one of three storage types:\n- **managed**: System creates and manages a new EOS bucket\n- **existing_bucket**: Connect to an existing EOS bucket with provided credentials\n- **pvc**: Create a dataset with disk storage \n\nOptionally supports encryption (SSE-KMS or SSE-C) for managed and existing_bucket types.\n", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"name": {"type": "string", "description": "Name of the dataset"}, "storage_type": {"type": "string", "enum": ["managed", "pvc", "existing_bucket"], "description": "Type of storage for the dataset"}, "pvc": {"type": "object", "description": "PVC configuration, required if storage_type is pvc", "properties": {"disk_size": {"type": "integer", "description": "Disk size for the PVC in GB"}, "pvc_type": {"type": "string", "description": "Type of the PVC"}}, "required": ["disk_size", "pvc_type"]}, "bucket": {"type": "object", "description": "Bucket configuration, required if storage_type is existing_bucket", "properties": {"bucket_name": {"type": "string", "description": "Name of the existing bucket"}, "endpoint": {"type": "string", "description": "Endpoint URL of the object store"}}, "required": ["bucket_name", "endpoint"]}, "access_key": {"type": "object", "description": "Access key configuration, required if storage_type is existing_bucket", "properties": {"access_key": {"type": "string", "description": "Access key for the bucket"}, "secret_key": {"type": "string", "description": "Secret key for the bucket"}}, "required": ["access_key", "secret_key"]}, "encryption_enable": {"type": "boolean", "description": "Whether to enable encryption", "default": false}, "encryption_type": {"type": "string", "enum": ["sse-kms", "sse-c"], "description": "Type of encryption to use (required if encryption_enable is true):\n- sse-kms: Server-side encryption with KMS (E2E managed)\n- sse-c: Server-side encryption with customer-provided keys (user managed)\n"}, "description": {"type": "string", "description": "Optional description of the dataset"}}, "required": ["name", "storage_type"]}}}, "required": true}, "responses": {"201": {"description": "Success response indicating that the dataset was created.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "description": "HTTP status code for the operation.", "example": 201}, "data": {"type": "object", "properties": {"id": {"type": "integer", "description": "Unique identifier of the dataset.", "example": 1310}, "name": {"type": "string", "description": "Name of the dataset.", "example": "eos-bucket"}, "project_id": {"type": "integer", "description": "ID of the project associated with the dataset.", "example": 124}, "description": {"type": "string", "description": "Description of the dataset, which is null in this case.", "nullable": true}, "storage_type": {"type": "string", "description": "Type of storage used for the dataset.", "example": "managed"}, "pvc": {"type": "string", "description": "Persistent volume claim (PVC) details, which is null in this case.", "nullable": true}, "bucket": {"type": "object", "properties": {"id": {"type": "integer", "description": "Unique identifier of the bucket.", "example": 2525}, "bucket_name": {"type": "string", "description": "Name of the storage bucket.", "example": "d-gpu-b4273173-e5ab-4a85-ad89-dc8d6e698a93"}, "bucket_url": {"type": "string", "description": "URL of the bucket.", "example": "s3://d-gpu-b4273173-e5ab-4a85-ad89-dc8d6e698a93/"}, "endpoint": {"type": "string", "description": "Endpoint URL of the object store.", "example": "https://objectstore.e2enetworks.net"}, "is_managed": {"type": "boolean", "description": "Whether the bucket is managed.", "example": true}, "eos_bucket_permission_id": {"type": "integer", "description": "EOS bucket permission ID.", "example": 10214}}}, "access_key": {"type": "object", "properties": {"id": {"type": "integer", "description": "Unique identifier for the access key.", "example": 2542}, "access_key": {"type": "string", "description": "The access key.", "example": "FWXL9EZZWS4BBSX9512V"}, "secret_key": {"type": "string", "description": "The secret key for accessing the bucket.", "example": "ZB3PM8XBNQGG4PFVDEI5915IO1TZHCFGEIO2LID9"}, "tag": {"type": "string", "description": "A tag associated with the access key.", "example": "akgpu50a522c13dcd4708a5dbf6ae3da98bfa"}, "is_managed": {"type": "boolean", "description": "Whether the access key is managed.", "example": true}}}, "encryption_type": {"type": "string", "description": "Type of encryption used, which is null in this case.", "nullable": true}, "encryption_enable": {"type": "boolean", "description": "Whether encryption is enabled for the dataset.", "example": false}, "status": {"type": "string", "description": "Status of the dataset.", "example": "Pending"}, "created_by": {"type": "object", "properties": {"id": {"type": "integer", "description": "User ID of the creator.", "example": 3573}, "name": {"type": "string", "description": "Name of the creator.", "example": "Nipun"}, "email": {"type": "string", "description": "Email of the creator.", "example": "nipun.arora@e2enetworks.com"}, "username": {"type": "string", "description": "Username of the creator.", "example": "nipun.arora@e2enetworks.com"}}}, "created_at": {"type": "string", "format": "date-time", "description": "Timestamp of when the dataset was created.", "example": "2024-11-14T12:57:36.293942Z"}, "updated_at": {"type": "string", "format": "date-time", "description": "Timestamp of when the dataset was last updated.", "example": "2024-11-14T12:57:36.293994Z"}}}, "errors": {"type": "object", "description": "Any errors encountered during the operation.", "example": {}}, "message": {"type": "string", "description": "Message indicating the result of the operation.", "example": "Created Successfully"}}}}}}}}}, "/datasets/{Dataset_Id}/objects/": {"get": {"operationId": "get-datasets-dataset-id-objects", "summary": "Get EOS Data Objects", "tags": ["Dataset"], "parameters": [{"name": "Dataset_Id", "in": "path", "required": true, "description": "dataset id", "schema": {"type": "integer"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Successful response with no data.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "description": "HTTP status code for the operation.", "example": 200}, "data": {"type": "array", "description": "An empty array indicating no results.", "items": {"type": "object"}, "example": []}, "errors": {"type": "object", "description": "Any errors encountered during the operation.", "example": {}}, "message": {"type": "string", "description": "Result message of the operation.", "example": "Success"}}}}}}}}}, "/datasets/{Dataset_Id}/lifecycle-rule/": {"get": {"operationId": "get-datasets-dataset-id-lifecycle-rule", "summary": "Get Lifecycle Rules", "tags": ["Dataset"], "description": "Retrieve lifecycle rules configured for the dataset's EOS bucket.\nOnly applicable for datasets with storage_type 'managed' or 'existing_bucket'.\n", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "Dataset_Id", "in": "path", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "Success response with lifecycle rule list.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 1711}, "deleted": {"type": "boolean", "example": false}, "created_at": {"type": "string", "format": "date-time", "example": "2026-02-05T10:43:25.612412Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2026-02-05T10:43:25.612430Z"}, "rule_id": {"type": "string", "example": "b0c6b464474f45eebcd626058ac637e7"}, "enabled": {"type": "boolean", "example": true}, "prefix": {"type": "string", "example": ""}, "expiry_date_or_days": {"type": "string", "example": "1"}, "noncurrent_version_expiration_date_or_days": {"type": "string", "example": ""}, "transition": {"type": "string", "example": ""}, "storage_class": {"type": "string", "example": ""}, "tags": {"type": "string", "example": ""}, "location": {"type": "string", "example": "Delhi"}, "bucket": {"type": "integer", "example": 16731}, "user": {"type": "integer", "example": 32970}}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}, "post": {"operationId": "post-datasets-dataset-id-lifecycle-rule", "summary": "Create Lifecycle Rule", "tags": ["Dataset"], "description": "Create a lifecycle rule for automatic object expiration in the dataset's EOS bucket.\nRules can be applied to all objects or to objects with a specific prefix.\n", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "Dataset_Id", "in": "path", "required": true, "schema": {"type": "integer"}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"apply_to": {"type": "string", "enum": ["all_objects", "objects_with_prefix"], "description": "Scope of the lifecycle rule:\n- all_objects: Apply rule to all objects in the bucket\n- objects_with_prefix: Apply rule only to objects with the specified prefix\n"}, "expiration_days": {"type": "string", "description": "Number of days after which objects will be deleted"}, "prefix": {"type": "string", "description": "Object prefix/folder path (required when apply_to is objects_with_prefix)"}}, "required": ["apply_to", "expiration_days"]}}}, "required": true}, "responses": {"200": {"description": "Success response with lifecycle rules information.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "description": "HTTP status code.", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "description": "Unique identifier of the lifecycle rule.", "example": 1711}, "deleted": {"type": "boolean", "description": "Indicates whether the rule is deleted.", "example": false}, "created_at": {"type": "string", "format": "date-time", "description": "Rule creation timestamp.", "example": "2026-02-05T10:43:25.612412Z"}, "updated_at": {"type": "string", "format": "date-time", "description": "Rule last updated timestamp.", "example": "2026-02-05T10:43:25.612430Z"}, "rule_id": {"type": "string", "description": "Unique lifecycle rule identifier.", "example": "b0c6b464474f45eebcd626058ac637e7"}, "enabled": {"type": "boolean", "description": "Whether the lifecycle rule is enabled.", "example": true}, "prefix": {"type": "string", "description": "Object prefix the rule applies to.", "example": ""}, "expiry_date_or_days": {"type": "string", "description": "Expiry date or number of days.", "example": "1"}, "noncurrent_version_expiration_date_or_days": {"type": "string", "description": "Expiry for non-current object versions.", "example": ""}, "transition": {"type": "string", "description": "Transition rule definition.", "example": ""}, "storage_class": {"type": "string", "description": "Storage class for transition.", "example": ""}, "tags": {"type": "string", "description": "Tags associated with the rule.", "example": ""}, "location": {"type": "string", "description": "Bucket location.", "example": "Delhi"}, "bucket": {"type": "integer", "description": "Associated bucket ID.", "example": 16731}, "user": {"type": "integer", "description": "User ID who created the rule.", "example": 32970}}}}, "errors": {"type": "object", "description": "Errors encountered during the operation.", "example": {}}, "message": {"type": "string", "description": "Result message.", "example": "Success"}}}}}}}}}, "/datasets/{Dataset_Id}/lifecycle-rule/{rule_id}/": {"delete": {"operationId": "delete-datasets-dataset-id-lifecycle-rule-rule-id", "summary": "Delete Lifecycle Rule", "tags": ["Dataset"], "description": "Delete a lifecycle rule from the dataset's EOS bucket.\n", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "Dataset_Id", "in": "path", "required": true, "schema": {"type": "integer"}}, {"name": "rule_id", "in": "path", "required": true, "description": "ID of the lifecycle rule to delete", "schema": {"type": "string"}}], "responses": {"200": {"description": "Success response for lifecycle rule deletion.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "string", "example": "Lifecycle rule deleted successfully"}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/datasets/{Dataset_Id}/": {"put": {"operationId": "put-datasets-dataset-id", "summary": "Increase Disk size", "tags": ["Dataset"], "parameters": [{"name": "Dataset_Id", "in": "path", "required": true, "description": "dataset id", "schema": {"type": "integer"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"name": {"type": "string", "description": "Name of the dataset"}, "type": {"type": "string", "enum": ["pvc"], "description": "Type of the dataset"}, "pvc": {"type": "object", "description": "PVC configuration, required if type is pvc", "properties": {"disk_size": {"type": "integer", "description": "Disk size for the PVC"}, "pvc_type": {"type": "string", "description": "Type of the PVC"}}, "required": ["disk_size", "pvc_type"]}}, "required": ["name", "type"]}}}, "required": true}, "responses": {"200": {"description": "Success response with updated PVC-based dataset details.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "description": "HTTP status code for the operation.", "example": 200}, "data": {"type": "object", "properties": {"id": {"type": "integer", "description": "Unique identifier of the dataset.", "example": 1311}, "name": {"type": "string", "description": "Name of the dataset.", "example": "tir-dataset-111418381010"}, "project_id": {"type": "integer", "description": "ID of the project associated with the dataset.", "example": 124}, "description": {"type": "string", "description": "Description of the dataset.", "nullable": true}, "storage_type": {"type": "string", "description": "Type of storage used for the dataset.", "example": "pvc"}, "pvc": {"type": "object", "properties": {"id": {"type": "integer", "description": "Unique identifier of the PVC.", "example": 262}, "disk_size": {"type": "integer", "description": "Updated disk size of the PVC in GB.", "example": 45}, "pvc_type": {"type": "string", "description": "Type of PVC.", "example": "custom_pvc"}, "status": {"type": "string", "description": "Current status of the PVC.", "example": "ready"}, "status_log": {"type": "string", "description": "Log detailing the PVC status.", "example": "{'message': 'Bound', 'phase': 'ready', 'state': ''}"}, "created_at": {"type": "string", "format": "date-time", "description": "Timestamp of PVC creation.", "example": "2024-11-14T13:08:17.551211Z"}, "updated_at": {"type": "string", "format": "date-time", "description": "Timestamp of last PVC update.", "example": "2024-11-14T13:12:25.137057Z"}}}, "bucket": {"type": "object", "nullable": true, "description": "Details of the bucket if applicable."}, "access_key": {"type": "object", "nullable": true, "description": "Access key details if applicable."}, "encryption_type": {"type": "string", "description": "Type of encryption used.", "nullable": true}, "encryption_enable": {"type": "boolean", "description": "Indicates if encryption is enabled.", "example": false}, "status": {"type": "string", "description": "Status of the dataset.", "example": "OK"}, "created_by": {"type": "object", "properties": {"id": {"type": "integer", "description": "User ID of the creator.", "example": 3573}, "name": {"type": "string", "description": "Name of the creator.", "example": "Nipun"}, "email": {"type": "string", "description": "Email of the creator.", "example": "nipun.arora@e2enetworks.com"}, "username": {"type": "string", "description": "Username of the creator.", "example": "nipun.arora@e2enetworks.com"}}}, "created_at": {"type": "string", "format": "date-time", "description": "Timestamp of dataset creation.", "example": "2024-11-14T13:08:17.555911Z"}, "updated_at": {"type": "string", "format": "date-time", "description": "Timestamp of last update.", "example": "2024-11-14T13:12:25.131864Z"}}}, "errors": {"type": "object", "description": "Any errors encountered during the operation.", "example": {}}, "message": {"type": "string", "description": "Result message of the operation.", "example": "Disk Size upgraded successfully. It can take a few minutes for the changes to get reflected"}}}}}}}}, "delete": {"operationId": "delete-datasets-dataset-id", "summary": "Delete Dataset", "tags": ["Dataset"], "parameters": [{"name": "Dataset_Id", "in": "path", "required": true, "description": "dataset id", "schema": {"type": "integer"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Dataset deletion confirmation.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "description": "HTTP status code for the operation.", "example": 200}, "data": {"type": "object", "description": "Placeholder object as no data is returned.", "example": {}}, "errors": {"type": "object", "description": "Contains any errors that occurred.", "example": {}}, "message": {"type": "string", "description": "Result message confirming the deletion.", "example": "Dataset deleted successfully"}}}}}}}}}, "/distributed_jobs/sfs/": {"get": {"operationId": "get-distributed-jobs-sfs", "summary": "List SFS", "tags": ["SFS"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "page_no", "in": "query", "required": false, "description": "The page number from which you want your page search results to be displayed.", "schema": {"type": "integer", "minimum": 0}}, {"name": "per_page", "in": "query", "required": false, "description": "Number of results per page", "schema": {"type": "integer", "minimum": 0}}], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 589}, "name": {"type": "string", "example": "temp"}, "created_by": {"type": "integer", "example": 7129}, "sfs_ip": {"type": "string", "example": "172.16.232.1"}, "created_at": {"type": "string", "format": "date-time", "example": "2025-08-19T11:11:37.504175Z"}, "disk_size": {"type": "string", "example": "250 GB"}, "size_in_gb": {"type": "string", "example": "250 GB"}, "location": {"type": "string", "example": "Delhi"}}}}, "errors": {"type": "object", "additionalProperties": false, "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}, "post": {"operationId": "post-distributed-jobs-sfs", "summary": "Create SFS", "tags": ["SFS"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"name": {"type": "string", "example": "tir-file-system-2818"}, "disk_size": {"type": "integer", "example": 500}}, "required": ["name", "disk_size"]}}}}, "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"id": {"type": "integer", "example": 587}, "name": {"type": "string", "example": "tir-file-syste-250819155818"}, "created_by": {"type": "integer", "example": 7129}, "sfs_ip": {"type": "string", "example": "172.16.232.1"}, "created_at": {"type": "string", "format": "date-time", "example": "2025-08-19T10:33:02.600024Z"}, "disk_size": {"type": "string", "example": "250 GB"}, "size_in_gb": {"type": "string", "example": "250 GB"}, "location": {"type": "string", "example": "Delhi"}}}, "errors": {"type": "object", "additionalProperties": false, "example": {}}, "message": {"type": "string", "example": "SFS created successfully"}}}}}}}}}, "/notebooks/{Notebook_Id}/mounted-sfs/": {"put": {"operationId": "put-notebooks-notebook-id-mounted-sfs", "summary": "Mount / Unmount SFS to Instance", "tags": ["SFS"], "description": "Kindly choose request example **mount** for mounting update and **unmount** for unmounting.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "Notebook_Id", "in": "path", "required": true, "description": "Notebook ID", "schema": {"type": "integer", "minimum": 0}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"action": {"type": "string", "example": "mount"}, "sfs_ids": {"type": "array", "items": {"type": "integer"}, "example": [200]}, "sfs_path": {"type": "string", "example": "/new"}}, "required": ["action", "sfs_ids", "sfs_path"]}}}}, "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "example": {}}, "errors": {"type": "object", "additionalProperties": {"type": "string"}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/distributed_jobs/sfs/{SFS_Id}/notebooks/": {"get": {"operationId": "get-distributed-jobs-sfs-sfs-id-notebooks", "summary": "List of Attached Resources", "tags": ["SFS"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "page_no", "in": "query", "required": false, "description": "The page number from which you want your page search results to be displayed.", "schema": {"type": "integer", "minimum": 0}}, {"name": "per_page", "in": "query", "required": false, "description": "Number of results per page", "schema": {"type": "integer", "minimum": 0}}, {"name": "SFS_Id", "in": "path", "required": true, "description": "SFS ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 7407}, "name": {"type": "string", "example": "node-022118463030"}, "project_id": {"type": "integer", "example": 4526}, "image_type": {"type": "string", "example": "pre-built"}, "image_details": {"type": "object", "properties": {"image_id": {"type": "integer", "example": 9}, "version_id": {"type": "integer", "example": 56}, "name": {"type": "string", "example": "Transformers"}, "version": {"type": "string", "example": "v4.45.2"}, "icon_url": {"type": "string", "example": "/notebook_images/hf-logo.png"}, "image_description": {"type": "string", "example": "Transformers v4.31.0 with Python 3.10 and NVIDIA Cuda 12.1 pre-installed on Ubuntu 22.04"}, "version_description": {"type": "string", "example": "Transformers v4.45.2 with Python 3.10 and NVIDIA Cuda 12.4 pre-installed on Ubuntu 22.04"}}}, "sku_details": {"type": "object", "properties": {"specs": {"type": "object", "properties": {"sku_id": {"type": "integer", "example": 4}, "name": {"type": "string", "example": "C3.8GB"}, "series": {"type": "string", "example": "CPU"}, "cpu": {"type": "integer", "example": 4}, "gpu": {"type": "integer", "example": 0}, "memory": {"type": "integer", "example": 8}, "ephemeral_storage": {"type": "integer", "example": 50}, "gpu_memory": {"type": "integer", "example": 0}, "is_free": {"type": "boolean", "example": false}, "is_active": {"type": "boolean", "example": true}, "gpu_switch_type": {"type": "string", "nullable": true, "example": null}, "local_storage_in_gb": {"type": "integer", "example": 0}}}, "plan": {"type": "object", "properties": {"sku_item_price_id": {"type": "integer", "example": 4}, "sku_type": {"type": "string", "example": "hourly"}, "committed_days": {"type": "integer", "example": 0}, "unit_price": {"type": "number", "example": 3.1}, "currency": {"type": "string", "example": "INR"}, "is_active": {"type": "boolean", "example": true}, "description": {"type": "string", "nullable": true, "example": null}}}}}, "status": {"type": "string", "example": "ready"}, "last_activity": {"type": "string", "format": "date-time", "example": "2025-02-21T13:16:44Z"}, "created_by": {"type": "object", "properties": {"id": {"type": "integer", "example": 4875}, "name": {"type": "string", "example": "Tester"}, "email": {"type": "string", "example": "test.test@e2enetworks.com"}, "username": {"type": "string", "example": "test.test@e2enetworks.com"}}}, "created_at": {"type": "string", "format": "date-time", "example": "2025-02-21T13:16:44.020823Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2025-02-21T13:16:45.565414Z"}, "lab_url": {"type": "string", "example": "https://notebooks.e2enetworks.com/notebook/p-4526/n-f069bcc9-c9dc-4784-8a97-9d4f45d4e0/lab"}, "disk_size_in_gb": {"type": "integer", "example": 30}, "instance_type": {"type": "string", "example": "paid_usage"}, "ssh_keys": {"type": "array", "items": {"type": "string"}, "example": []}, "disable_ssh_login_password": {"type": "boolean", "example": true}, "public_ip": {"type": "string", "example": ""}, "e2e_registry_image_url": {"type": "string", "nullable": true, "example": null}, "egress_gateway_ip": {"type": "string", "example": ""}, "add_ons": {"type": "object", "additionalProperties": {}}, "is_jupyterlab_enabled": {"type": "boolean", "example": true}, "is_ssh_enabled": {"type": "boolean", "example": false}, "custom_ports": {"type": "array", "items": {"type": "string"}, "example": []}, "private_cloud_id": {"type": "string", "nullable": true, "example": null}, "custom_sku": {"type": "string", "nullable": true, "example": null}, "init_scripts": {"type": "array", "items": {"type": "string"}, "example": []}, "is_spot_instance": {"type": "boolean", "example": false}, "custom_image_version": {"type": "string", "example": ""}, "is_mounted": {"type": "boolean", "example": false}, "sfs_path": {"type": "string", "nullable": true, "example": null}}}}, "errors": {"type": "object", "additionalProperties": false, "example": {}}, "message": {"type": "string", "example": "Success"}, "total_page_number": {"type": "integer", "example": 1}, "total_count": {"type": "integer", "example": 1}}}}}}}}}, "/distributed_jobs/sfs/{SFS_Id}/": {"delete": {"operationId": "delete-distributed-jobs-sfs-sfs-id", "summary": "Delete SFS", "tags": ["SFS"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "SFS_Id", "in": "path", "required": true, "description": "SFS ID", "schema": {"type": "integer", "minimum": 0}}], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "example": {}}, "errors": {"type": "object", "additionalProperties": false, "example": {}}, "message": {"type": "string", "example": "SFS deleted successfully"}}}}}}}}}, "/pfs/": {"get": {"operationId": "get-pfs", "summary": "List PFS", "tags": ["PFS"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "page_no", "in": "query", "required": false, "description": "The page number from which you want your page search results to be displayed.", "schema": {"type": "integer", "minimum": 0}}, {"name": "per_page", "in": "query", "required": false, "description": "Number of results per page", "schema": {"type": "integer", "minimum": 0}}], "responses": {"200": {"description": "List of PFS resources", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 504}, "name": {"type": "string", "example": "tir-pfs-260206142723"}, "disk_size": {"type": "integer", "example": 1000}, "created_by": {"type": "integer", "example": 1234}, "updated_at": {"type": "string", "format": "date-time", "example": "2026-02-06T08:58:48.117806Z"}, "created_at": {"type": "string", "format": "date-time", "example": "2026-02-06T08:57:33.388926Z"}, "status": {"type": "string", "example": "OK"}, "disk_size_in_gb": {"type": "string", "example": "1000 GB"}, "disk_size_in_tb": {"type": "string", "example": "1.0TB"}, "set_up_progress": {"type": "integer", "example": 100}, "location": {"type": "string", "example": "Delhi"}}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}, "total_page_number": {"type": "integer", "example": 1}, "total_count": {"type": "integer", "example": 1}}}}}}}}, "post": {"operationId": "post-pfs", "summary": "Create PFS", "tags": ["PFS"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"name": {"type": "string", "example": "tir-pfs-260206142723"}, "disk_size": {"type": "integer", "example": 1000}}, "required": ["name", "disk_size"]}}}, "required": true}, "responses": {"201": {"description": "PFS created successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 201}, "data": {"type": "object", "properties": {"id": {"type": "integer", "example": 504}, "name": {"type": "string", "example": "tir-pfs-260206142723"}, "disk_size": {"type": "integer", "example": 1000}, "created_by": {"type": "integer", "example": 1234}, "updated_at": {"type": "string", "format": "date-time", "example": "2026-02-06T08:57:33.447326Z"}, "created_at": {"type": "string", "format": "date-time", "example": "2026-02-06T08:57:33.388926Z"}, "status": {"type": "string", "example": "Pending"}, "disk_size_in_gb": {"type": "string", "example": "1000 GB"}, "disk_size_in_tb": {"type": "string", "example": "1.0TB"}, "set_up_progress": {"type": "integer", "example": 25}, "location": {"type": "string", "example": "Delhi"}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Created Successfully"}}}}}}}}}, "/notebooks/{Notebook_Id}/mounted-pfs/": {"put": {"operationId": "put-notebooks-notebook-id-mounted-pfs", "summary": "Mount / Unmount PFS to Instance", "tags": ["PFS"], "description": "Kindly choose request example **mount** for mounting update and **unmount** for unmounting.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "Notebook_Id", "in": "path", "required": true, "description": "Notebook ID", "schema": {"type": "integer", "minimum": 0}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"action": {"type": "string", "example": "mount or unmount"}, "pfs_ids": {"type": "array", "items": {"type": "integer"}, "example": [504]}, "pfs_path": {"type": "string", "example": "/pfs"}}, "required": ["action", "pfs_ids", "pfs_path"]}}}}, "responses": {"default": {"description": "Response"}}}}, "/pfs/{PFS_Id}/notebooks/": {"get": {"operationId": "get-pfs-pfs-id-notebooks", "summary": "Get Attached Instances to PFS", "tags": ["PFS"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "PFS_Id", "in": "path", "required": true, "description": "PFS ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "page_no", "in": "query", "required": false, "description": "The page number from which you want your page search results to be displayed.", "schema": {"type": "integer", "minimum": 0}}, {"name": "per_page", "in": "query", "required": false, "description": "Number of results per page", "schema": {"type": "integer", "minimum": 0}}], "responses": {"default": {"description": "Response"}}}}, "/pfs/{PFS_Id}/": {"put": {"operationId": "put-pfs-pfs-id", "summary": "Increase PFS Size", "tags": ["PFS"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "PFS_Id", "in": "path", "required": true, "description": "PFS ID", "schema": {"type": "integer", "minimum": 0}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"disk_size": {"type": "integer", "example": 1000}}, "required": ["disk_size"]}}}}, "responses": {"default": {"description": "Successful response"}}}, "delete": {"operationId": "delete-pfs-pfs-id", "summary": "Delete PFS", "tags": ["PFS"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "PFS_Id", "in": "path", "required": true, "description": "PFS ID", "schema": {"type": "integer", "minimum": 0}}], "responses": {"default": {"description": "Response"}}}}, "/container_registry/": {"get": {"operationId": "get-container-registry", "summary": "List Container Registry", "tags": ["Container Registry"], "description": "**Note:** Container Registry is currently available only in the **Delhi** region.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Successfully retrieved namespace details", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "message": {"type": "string", "example": "Success"}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 131}, "namespace": {"type": "string", "example": "testing1234"}, "registry_endpoint": {"type": "string", "example": "registry.e2enetworks.net"}, "namespace_size": {"type": "integer", "example": 0}, "username": {"type": "string", "example": "e2etesting1234+hey"}}}}, "errors": {"type": "object", "additionalProperties": false, "example": {}}}}}}}}}, "post": {"operationId": "post-container-registry", "summary": "Create Container Registry", "tags": ["Container Registry"], "description": "**Note:** Container Registry is currently available only in the **Delhi** region.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"name": {"type": "string", "description": "The name of the user"}, "username": {"type": "string", "description": "The username of the user"}}, "example": {"name": "testing12345", "username": "username_"}}}}, "required": true}, "responses": {"default": {"description": "Successful response"}}}}, "/container_registry/{Container_reg_id}/namespace-repository/": {"get": {"operationId": "get-container-registry-container-reg-id-namespace-repository", "summary": "List Images", "tags": ["Container Registry"], "description": "**Note:** Container Registry is currently available only in the **Delhi** region.", "parameters": [{"name": "Container_reg_id", "in": "path", "required": true, "schema": {"type": "integer"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Successfully retrieved images in the container registry", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"artifact_count": {"type": "integer", "example": 1}, "creation_time": {"type": "string", "format": "date-time", "example": "2026-03-04T02:40:12.186Z"}, "id": {"type": "integer", "example": 7749}, "name": {"type": "string", "example": "mycr03/tir_automation-v2"}, "project_id": {"type": "integer", "example": 2246}, "pull_count": {"type": "integer", "example": 3}, "update_time": {"type": "string", "format": "date-time", "example": "2026-03-04T02:40:27.623Z"}}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}, "total_count": {"type": "integer", "example": 3}}}}}}}}}, "/container_registry/{Container_reg_id}/": {"delete": {"operationId": "delete-container-registry-container-reg-id", "summary": "Delete Container Registry", "tags": ["Container Registry"], "description": "**Note:** Container Registry is currently available only in the **Delhi** region.", "parameters": [{"name": "Container_reg_id", "in": "path", "required": true, "schema": {"type": "integer"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Container registry deletion started", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "string", "example": "Container Registry Deletion Started"}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/vector_db/": {"get": {"operationId": "get-vector-db", "summary": "VectorDB List", "tags": ["Vector Database"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "page_no", "in": "query", "required": false, "description": "The page number from which you want your page search results to be displayed.", "schema": {"type": "integer", "minimum": 0}}, {"name": "per_page", "in": "query", "required": false, "description": "Number of results per page", "schema": {"type": "integer", "minimum": 0}}], "responses": {"200": {"description": "Vector database instances retrieved successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "message": {"type": "string", "example": "Success"}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 327}, "name": {"type": "string", "example": "tir-qdrant-0709120fd5ghh1616"}, "disk_size": {"type": "integer", "example": 30}, "status": {"type": "string", "example": "Running"}, "created_by": {"type": "object", "properties": {"id": {"type": "integer", "example": 3573}, "name": {"type": "string", "example": "Nipun"}, "email": {"type": "string", "example": "nipun.arora@e2enetworks.com"}, "username": {"type": "string", "example": "nipun.arora@e2enetworks.com"}}}, "created_at": {"type": "string", "format": "date-time", "example": "2024-11-14T05:42:58.096699Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2024-11-14T05:43:44.062600Z"}, "vectordb_type": {"type": "string", "example": "Qdrant"}, "dashboard_url": {"type": "string", "example": "https://327v04a82908-vectordatabase.e2enetworks.net:6333/dashboard"}, "custom_sku": {"type": "string", "nullable": true, "example": null}}}}, "errors": {"type": "object", "additionalProperties": false, "example": {}}, "total_page_number": {"type": "integer", "example": 1}, "total_count": {"type": "integer", "example": 1}}}}}}}}, "post": {"operationId": "post-vector-db", "summary": "Create Qdrant", "tags": ["Vector Database"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"name": {"type": "string", "description": "The name of the VectorDB instance"}, "sku_item_price_id": {"type": "integer", "description": "The SKU item price ID"}, "replicas": {"type": "integer", "description": "The number of replicas"}, "vectordb_type": {"type": "string", "description": "The type of vector database (e.g., Qdrant)"}, "disk_size": {"type": "integer", "description": "The disk size in GB"}, "collections": {"type": "object", "properties": {"collection_name": {"type": "string", "description": "The name of the collection"}, "vectors": {"type": "object", "properties": {"size": {"type": "integer", "description": "The size of the vectors"}, "distance": {"type": "string", "description": "The distance metric (e.g., Cosine)"}}}, "replication_factor": {"type": "integer", "description": "The replication factor for the collection"}, "shard_number": {"type": "integer", "description": "The number of shards"}, "sharding_method": {"type": "string", "description": "The method of sharding (e.g., auto)"}}}}}}}, "required": true}, "responses": {"201": {"description": "Vector database instance created successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 201}, "message": {"type": "string", "example": "Created Successfully"}, "data": {"type": "object", "properties": {"id": {"type": "integer", "example": 327}, "name": {"type": "string", "example": "tir-qdrant-0709120fd5ghh1616"}, "disk_size": {"type": "integer", "example": 30}, "replicas": {"type": "integer", "example": 3}, "status": {"type": "string", "example": "Creating"}, "created_by": {"type": "object", "properties": {"id": {"type": "integer", "example": 3573}, "name": {"type": "string", "example": "Nipun"}, "email": {"type": "string", "example": "nipun.arora@e2enetworks.com"}, "username": {"type": "string", "example": "nipun.arora@e2enetworks.com"}}}, "created_at": {"type": "string", "format": "date-time", "example": "2024-11-14T05:42:58.096699Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2024-11-14T05:42:58.096769Z"}, "vectordb_type": {"type": "string", "example": "Qdrant"}, "sku_details": {"type": "object", "properties": {"specs": {"type": "object", "properties": {"sku_id": {"type": "integer", "example": 133}, "name": {"type": "string", "example": "VDB.16GB"}, "series": {"type": "string", "example": "CPU"}, "cpu": {"type": "integer", "example": 4}, "gpu": {"type": "integer", "example": 0}, "memory": {"type": "integer", "example": 16}, "is_free": {"type": "boolean", "example": false}, "is_active": {"type": "boolean", "example": true}, "gpu_switch_type": {"type": "string", "nullable": true}, "local_storage_in_gb": {"type": "integer", "example": 0}}}, "plan": {"type": "object", "properties": {"sku_item_price_id": {"type": "integer", "example": 635}, "sku_type": {"type": "string", "example": "hourly"}, "committed_days": {"type": "integer", "example": 0}, "unit_price": {"type": "number", "format": "float", "example": 9}, "currency": {"type": "string", "example": "INR"}, "is_active": {"type": "boolean", "example": true}, "description": {"type": "string", "example": "Hourly Compute Instance"}}}}}, "endpoint_url": {"type": "string", "example": "327v04a82908-vectordatabase.e2enetworks.net"}, "ip_enabled": {"type": "boolean", "example": false}, "api_key": {"type": "string", "example": "9BtmiMORVjztx9Jqpoooy7PnNlkjM#04"}, "read_only_api_key": {"type": "string", "example": "z7zXhiNBhEcPR5jUJLd@"}, "dashboard_url": {"type": "string", "example": "https://327v04a82908-vectordatabase.e2enetworks.net:6333/dashboard"}, "number_of_vectors": {"type": "string", "example": ""}, "number_of_collections": {"type": "string", "example": ""}, "total_peers": {"type": "string", "example": ""}, "custom_sku": {"type": "string", "nullable": true, "example": null}, "private_cloud_id": {"type": "string", "nullable": true, "example": null}}}, "errors": {"type": "object", "additionalProperties": false, "example": {}}}}}}}}}}, "/vector_db/{VectorDB_id}": {"get": {"operationId": "get-vector-db-vectordb-id", "summary": "VectorDB Details", "tags": ["Vector Database"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "VectorDB_id", "in": "path", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "Vector database instance details retrieved successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "message": {"type": "string", "example": "Success"}, "data": {"type": "object", "properties": {"id": {"type": "integer", "example": 327}, "name": {"type": "string", "example": "tir-qdrant-0709120fd5ghh1616"}, "disk_size": {"type": "integer", "example": 30}, "replicas": {"type": "integer", "example": 3}, "status": {"type": "string", "example": "Running"}, "created_by": {"type": "object", "properties": {"id": {"type": "integer", "example": 3573}, "name": {"type": "string", "example": "Nipun"}, "email": {"type": "string", "example": "nipun.arora@e2enetworks.com"}, "username": {"type": "string", "example": "nipun.arora@e2enetworks.com"}}}, "created_at": {"type": "string", "format": "date-time", "example": "2024-11-14T05:42:58.096699Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2024-11-14T05:49:24.650496Z"}, "vectordb_type": {"type": "string", "example": "Qdrant"}, "sku_details": {"type": "object", "properties": {"specs": {"type": "object", "properties": {"sku_id": {"type": "integer", "example": 133}, "name": {"type": "string", "example": "VDB.16GB"}, "series": {"type": "string", "example": "CPU"}, "cpu": {"type": "integer", "example": 4}, "gpu": {"type": "integer", "example": 0}, "memory": {"type": "integer", "example": 16}, "is_free": {"type": "boolean", "example": false}, "is_active": {"type": "boolean", "example": true}, "gpu_switch_type": {"type": "string", "nullable": true, "example": null}, "local_storage_in_gb": {"type": "integer", "example": 0}}}, "plan": {"type": "object", "properties": {"sku_item_price_id": {"type": "integer", "example": 635}, "sku_type": {"type": "string", "example": "hourly"}, "committed_days": {"type": "integer", "example": 0}, "unit_price": {"type": "number", "format": "float", "example": 9}, "currency": {"type": "string", "example": "INR"}, "is_active": {"type": "boolean", "example": true}, "description": {"type": "string", "example": "Hourly Compute Instance"}}}}}, "endpoint_url": {"type": "string", "example": "327v04a82908-vectordatabase.e2enetworks.net"}, "ip_enabled": {"type": "boolean", "example": false}, "api_key": {"type": "string", "example": "9BtmiMORVjztx9Jqpoooy7PnNlkjM#04"}, "read_only_api_key": {"type": "string", "example": "z7zXhiNBhEcPR5jUJLd@"}, "dashboard_url": {"type": "string", "example": "https://327v04a82908-vectordatabase.e2enetworks.net:6333/dashboard"}, "number_of_vectors": {"type": "string", "example": "0"}, "number_of_collections": {"type": "string", "example": "1"}, "total_peers": {"type": "string", "example": "3"}, "custom_sku": {"type": "string", "nullable": true, "example": null}, "private_cloud_id": {"type": "string", "nullable": true, "example": null}}}, "errors": {"type": "object", "additionalProperties": false, "example": {}}}}}}}}}}, "/vector_db/{VectorDB_id}/pvcs/": {"put": {"operationId": "put-vector-db-vectordb-id-pvcs", "summary": "Resize disk", "tags": ["Vector Database"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "VectorDB_id", "in": "path", "required": true, "schema": {"type": "integer"}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"disk_size": {"type": "integer", "description": "The disk size in GB"}}, "example": {"disk_size": 31}}}}, "required": true}, "responses": {"200": {"description": "Disk size upgraded successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "message": {"type": "string", "example": "Disk Size upgraded successfully. It can take a few minutes for the changes to get reflected"}, "data": {"type": "object", "properties": {"id": {"type": "integer", "example": 327}, "name": {"type": "string", "example": "tir-qdrant-0709120fd5ghh1616"}, "disk_size": {"type": "integer", "example": 32}, "replicas": {"type": "integer", "example": 3}, "status": {"type": "string", "example": "Running"}, "created_by": {"type": "object", "properties": {"id": {"type": "integer", "example": 3573}, "name": {"type": "string", "example": "Nipun"}, "email": {"type": "string", "example": "nipun.arora@e2enetworks.com"}, "username": {"type": "string", "example": "nipun.arora@e2enetworks.com"}}}, "created_at": {"type": "string", "format": "date-time", "example": "2024-11-14T05:42:58.096699Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2024-11-14T05:55:48.673470Z"}, "vectordb_type": {"type": "string", "example": "Qdrant"}, "sku_details": {"type": "object", "properties": {"specs": {"type": "object", "properties": {"sku_id": {"type": "integer", "example": 133}, "name": {"type": "string", "example": "VDB.16GB"}, "series": {"type": "string", "example": "CPU"}, "cpu": {"type": "integer", "example": 4}, "gpu": {"type": "integer", "example": 0}, "memory": {"type": "integer", "example": 16}, "is_free": {"type": "boolean", "example": false}, "is_active": {"type": "boolean", "example": true}, "gpu_switch_type": {"type": "string", "nullable": true, "example": null}, "local_storage_in_gb": {"type": "integer", "example": 0}}}, "plan": {"type": "object", "properties": {"sku_item_price_id": {"type": "integer", "example": 635}, "sku_type": {"type": "string", "example": "hourly"}, "committed_days": {"type": "integer", "example": 0}, "unit_price": {"type": "number", "format": "float", "example": 9}, "currency": {"type": "string", "example": "INR"}, "is_active": {"type": "boolean", "example": true}, "description": {"type": "string", "example": "Hourly Compute Instance"}}}}}, "endpoint_url": {"type": "string", "example": "327v04a82908-vectordatabase.e2enetworks.net"}, "ip_enabled": {"type": "boolean", "example": false}, "api_key": {"type": "string", "example": "9BtmiMORVjztx9Jqpoooy7PnNlkjM#04"}, "read_only_api_key": {"type": "string", "example": "z7zXhiNBhEcPR5jUJLd@"}, "dashboard_url": {"type": "string", "example": "https://327v04a82908-vectordatabase.e2enetworks.net:6333/dashboard"}, "number_of_vectors": {"type": "string", "example": "0"}, "number_of_collections": {"type": "string", "example": "1"}, "total_peers": {"type": "string", "example": "3"}, "custom_sku": {"type": "string", "nullable": true, "example": null}, "private_cloud_id": {"type": "string", "nullable": true, "example": null}}}, "errors": {"type": "object", "additionalProperties": false, "example": {}}}}}}}}}}, "/vector_db/{VectorDB_id}/": {"put": {"operationId": "put-vector-db-vectordb-id", "summary": "Update Cluster", "tags": ["Vector Database"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "VectorDB_id", "in": "path", "required": true, "schema": {"type": "integer"}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"replicas": {"type": "integer", "description": "The number of replicas"}}, "example": {"replicas": 4}}}}, "required": true}, "responses": {"200": {"description": "Successfully updated the vector database instance", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "message": {"type": "string", "example": "Success"}, "data": {"type": "object", "properties": {"id": {"type": "integer", "example": 327}, "name": {"type": "string", "example": "tir-qdrant-0709120fd5ghh1616"}, "disk_size": {"type": "integer", "example": 32}, "replicas": {"type": "integer", "example": 4}, "status": {"type": "string", "example": "Running"}, "created_by": {"type": "object", "properties": {"id": {"type": "integer", "example": 3573}, "name": {"type": "string", "example": "Nipun"}, "email": {"type": "string", "example": "nipun.arora@e2enetworks.com"}, "username": {"type": "string", "example": "nipun.arora@e2enetworks.com"}}}, "created_at": {"type": "string", "format": "date-time", "example": "2024-11-14T05:42:58.096699Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2024-11-14T06:02:01.487643Z"}, "vectordb_type": {"type": "string", "example": "Qdrant"}, "sku_details": {"type": "object", "properties": {"specs": {"type": "object", "properties": {"sku_id": {"type": "integer", "example": 133}, "name": {"type": "string", "example": "VDB.16GB"}, "series": {"type": "string", "example": "CPU"}, "cpu": {"type": "integer", "example": 4}, "gpu": {"type": "integer", "example": 0}, "memory": {"type": "integer", "example": 16}, "is_free": {"type": "boolean", "example": false}, "is_active": {"type": "boolean", "example": true}, "gpu_switch_type": {"type": "string", "nullable": true, "example": null}, "local_storage_in_gb": {"type": "integer", "example": 0}}}, "plan": {"type": "object", "properties": {"sku_item_price_id": {"type": "integer", "example": 635}, "sku_type": {"type": "string", "example": "hourly"}, "committed_days": {"type": "integer", "example": 0}, "unit_price": {"type": "number", "format": "float", "example": 9}, "currency": {"type": "string", "example": "INR"}, "is_active": {"type": "boolean", "example": true}, "description": {"type": "string", "example": "Hourly Compute Instance"}}}}}, "endpoint_url": {"type": "string", "example": "327v04a82908-vectordatabase.e2enetworks.net"}, "ip_enabled": {"type": "boolean", "example": false}, "api_key": {"type": "string", "example": "9BtmiMORVjztx9Jqpoooy7PnNlkjM#04"}, "read_only_api_key": {"type": "string", "example": "z7zXhiNBhEcPR5jUJLd@"}, "dashboard_url": {"type": "string", "example": "https://327v04a82908-vectordatabase.e2enetworks.net:6333/dashboard"}, "number_of_vectors": {"type": "string", "example": "0"}, "number_of_collections": {"type": "string", "example": "1"}, "total_peers": {"type": "string", "example": "3"}, "custom_sku": {"type": "string", "nullable": true, "example": null}, "private_cloud_id": {"type": "string", "nullable": true, "example": null}}}, "errors": {"type": "object", "additionalProperties": false, "example": {}}}}}}}}}, "delete": {"operationId": "delete-vector-db-vectordb-id", "summary": "Delete vector Database", "tags": ["Vector Database"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "VectorDB_id", "in": "path", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "Vector database has been successfully deleted", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "message": {"type": "string", "example": "VectorDB deleted successfully"}, "data": {"type": "object", "additionalProperties": false, "example": {}}, "errors": {"type": "object", "additionalProperties": false, "example": {}}}}}}}}}}, "/vector_db/{VectorDB_id}/snapshot/": {"get": {"operationId": "get-vector-db-vectordb-id-snapshot", "summary": "Snapshot List", "tags": ["Vector Database"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "VectorDB_id", "in": "path", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "Successfully retrieved snapshot information", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "message": {"type": "string", "example": "Success"}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 69}, "vector_db_id": {"type": "integer", "example": 327}, "status": {"type": "string", "example": "Creating"}, "snapshot_time": {"type": "string", "format": "date-time", "example": "2024-11-14T06:05:38.802401Z"}, "restoring_status": {"type": "boolean", "example": false}}}}, "errors": {"type": "object", "additionalProperties": false, "example": {}}}}}}}}}, "post": {"operationId": "post-vector-db-vectordb-id-snapshot", "summary": "Take Snapshot", "tags": ["Vector Database"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "VectorDB_id", "in": "path", "required": true, "schema": {"type": "integer"}}], "responses": {"201": {"description": "Snapshot creation scheduled successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 201}, "message": {"type": "string", "example": "Snapshot Creation Scheduled."}, "data": {"type": "object", "properties": {"snapshot_id": {"type": "integer", "example": 69}, "snapshot_time": {"type": "string", "format": "date-time", "example": "2024-11-14T06:05:38.802401"}}}, "errors": {"type": "object", "additionalProperties": false, "example": {}}}}}}}}}}, "/vector_db/{VectorDB_id}/snapshot/{Snapshot_id}/restore/": {"put": {"operationId": "put-vector-db-vectordb-id-snapshot-snapshot-id-restore", "summary": "Restore snapshot", "tags": ["Vector Database"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "VectorDB_id", "in": "path", "required": true, "schema": {"type": "integer"}}, {"name": "Snapshot_id", "in": "path", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "Snapshot restoration has been successfully scheduled", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "message": {"type": "string", "example": "Snapshot Restoration Scheduled."}, "data": {"type": "object", "additionalProperties": false, "example": {}}, "errors": {"type": "object", "additionalProperties": false, "example": {}}}}}}}}}}, "/vector_db/{VectorDB_id}/snapshot/{Snapshot_id}/": {"delete": {"operationId": "delete-vector-db-vectordb-id-snapshot-snapshot-id", "summary": "Delete snapshot", "tags": ["Vector Database"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "VectorDB_id", "in": "path", "required": true, "schema": {"type": "integer"}}, {"name": "Snapshot_id", "in": "path", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "Snapshot has been successfully deleted", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "message": {"type": "string", "example": "Snapshot Deleted Successfully"}, "data": {"type": "object", "properties": {"snapshot_id": {"type": "integer", "example": 69}, "snapshot": {"type": "string", "example": "2024-11-14T06:05:38.802401Z"}}}, "errors": {"type": "object", "additionalProperties": false, "example": {}}}}}}}}}}}}