{"openapi": "3.0.3", "info": {"title": "MyAccount API - ec2", "description": "", "version": "1.0.0"}, "servers": [{"url": "https://api.e2enetworks.com/myaccount"}], "paths": {"/api/v1/nodes/{node_id}/actions/": {"put": {"operationId": "node-action", "summary": "Perform Node Action", "tags": ["Actions", "Security"], "description": "Performs a lifecycle, security, or rename action on a single node. The action is selected by the `type` field in the request body. Some actions require additional fields (see the `type` description below for the per-action contract).\n\nAll actions return the same response envelope - `data.action_type` echoes the action that was performed. Long-running actions (`reinstall`, `save_images`) return `status: \"done\"` immediately to indicate the request was accepted; the node will transition through the actual workflow asynchronously.\n\nThis path + method also serves **Add SSH Key** (`add-ssh-key`); select the variant via the request body.\n\nThis path + method also serves **Update Password** (`update-password`); select the variant via the request body.", "parameters": [{"name": "node_id", "in": "path", "required": true, "description": "Path parameter `node_id`.", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "must be a valid alphanumeric API key"]}, {"name": "location", "in": "query", "required": true, "description": "Region identifier for the target node", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["required", "non-empty string", "must be a valid location identifier"]}], "requestBody": {"content": {"application/json": {"schema": {"oneOf": [{"type": "object", "required": ["type"], "properties": {"type": {"type": "string", "description": "Discriminator that selects which action to perform. Most actions require no additional fields; the two exceptions are `save_images` and `rename`, both of which require the `name` field below.\n\nSupported values and their semantics:\n- `power_off` - gracefully shut down the node.\n- `power_on` - boot a powered-off node.\n- `reboot` - reboot the node (soft reboot via the guest OS where\n  possible).\n\n- `reinstall` - wipe the node and reinstall the same OS image.\n  Destructive: all data on the root disk is lost.\n\n- `save_images` - capture the current root disk as a saved image\n  template. Requires `name`.\n\n- `rename` - change the node's display name. Requires `name`.\n- `enable_recovery_mode` / `disable_recovery_mode` - toggle\n  recovery-mode boot (mounts the root disk on a rescue image).\n\n- `lock_vm` / `unlock_vm` - administrative lock that blocks\n  further actions until unlocked.\n\n- `enable_accidental_protection` / `disable_accidental_protection` -\n  require an extra confirmation step before destructive actions.\n\n- `enable_node_compliance` / `disable_node_compliance` - toggle\n  security-compliance mode (hardens the node per the platform's\n  compliance baseline).", "enum": ["power_off", "power_on", "reboot", "reinstall", "save_images", "rename", "enable_recovery_mode", "disable_recovery_mode", "lock_vm", "unlock_vm", "enable_accidental_protection", "disable_accidental_protection", "enable_node_compliance", "disable_node_compliance"], "x-constraints": ["required", "must be one of the supported action identifiers above"], "example": "power_off"}, "name": {"type": "string", "description": "Required when `type` is `save_images` (sets the name of the saved image template) or `rename` (sets the new node display name). Ignored for all other action types.", "x-constraints": ["required when `type` is `save_images` or `rename`", "non-empty string", "max length 255 characters", "no leading or trailing whitespace"], "example": "my-saved-image"}}}, {"type": "object", "properties": {"ssh_keys": {"type": "array", "items": {"type": "object", "properties": {"label": {"type": "string", "description": "User-defined name for the SSH key", "x-constraints": ["must be a non-empty string", "maximum length 255 characters"], "example": "your_email@example.com", "format": "email"}, "ssh_key": {"type": "string", "description": "SSH public key to add", "x-constraints": ["must be a valid SSH public key format", "cannot contain line breaks", "maximum length 4096 characters"], "example": "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAI... your_email@example.com"}}}}, "type": {"type": "string", "description": "Identifier specifying the add SSH key operation", "x-constraints": ["must be the string \"add_ssh_keys\"", "must be a non-empty string"], "example": "add_ssh_keys"}}}, {"type": "object", "properties": {"type": {"type": "string", "description": "Action identifier for updating a password", "x-constraints": ["must be the string \"update_password\""], "example": "update_password"}, "password": {"type": "string", "description": "New password for the user", "x-constraints": ["must be a non-empty string", "minimum length 8 characters", "maximum length 64 characters", "must include at least one uppercase letter, one lowercase letter, one digit, and one special character"], "example": "Hello@1234567890"}}}]}}}}, "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "description": "HTTP status code. 200 indicates the action was accepted.", "x-constraints": ["integer between 100 and 599"], "example": 200}, "data": {"type": "object", "properties": {"id": {"type": "integer", "description": "Unique identifier of the action record.", "x-constraints": ["positive integer"], "example": 123456}, "created_at": {"type": "string", "format": "date-time", "description": "ISO 8601 timestamp when the action was created.", "x-constraints": ["ISO 8601 UTC datetime string ending with `Z`"], "example": "2025-07-11T12:45:40.599874Z"}, "status": {"type": "string", "description": "Action completion status. `done` indicates the request was accepted and synchronous work has finished. Long-running actions may also return `pending`.", "enum": ["done", "pending", "failed"], "example": "done"}, "action_type": {"type": "string", "description": "Echo of the action that was performed. Usually matches the request's `type`, but compound actions may report a related internal step - for example `reinstall` returns `action_type: undeploy` while the reinstall workflow runs.", "example": "power_off"}, "resource_id": {"type": "string", "description": "Numeric identifier of the affected node (as a string).", "x-constraints": ["non-empty numeric string"], "example": "12345"}, "resource_name": {"type": "string", "description": "Display name of the affected node.", "x-constraints": ["non-empty string", "may contain letters, digits, and hyphens"], "example": "C3-8GB-784"}, "image_id": {"type": "string", "description": "Identifier of the saved image template. Only populated when `action_type` is `save_images`; empty string otherwise.", "example": ""}}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "description": "Human-readable status message.", "x-constraints": ["non-empty string", "maximum length 255 characters"], "example": "Success"}}}}}}}, "x-alternate-operations": [{"operationId": "add-ssh-key", "summary": "Add SSH Key"}, {"operationId": "update-password", "summary": "Update Password"}]}}, "/api/v1/resource-transfer/": {"post": {"operationId": "transfer-node-to-project", "summary": "Transfer Node to Project", "tags": ["Actions", "Images"], "description": "Transfers an existing node from one project to another inside the same account. The destination project must belong to the same customer and the node must be in a transferable state (powered off or running, not locked).\n\nThis path + method also serves **Transfer image to another project** (`post-resource-transfer`); select the variant via the request body.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used for authenticating the request", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "The region of the node being transferred.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["required", "must be a valid location identifier (e.g., region code)"]}], "requestBody": {"content": {"application/json": {"schema": {"oneOf": [{"type": "object", "required": ["current_project_id", "target_project_id", "resource_type", "resource_id"], "properties": {"current_project_id": {"type": "integer", "description": "ID of the project the node currently belongs to.", "x-constraints": ["required", "positive integer"], "example": 12345}, "target_project_id": {"type": "integer", "description": "ID of the destination project. Must belong to the same customer as the source project.", "x-constraints": ["required", "positive integer", "must differ from `current_project_id`"], "example": 12345}, "resource_type": {"type": "string", "description": "Resource type identifier. Always `node` for this endpoint.", "enum": ["node"], "x-constraints": ["required", "must be the literal string `node`"], "example": "node"}, "resource_id": {"type": "integer", "description": "ID of the node being transferred.", "x-constraints": ["required", "positive integer", "must reference a node owned by `current_project_id`"], "example": 12345}}}, {"type": "object", "required": ["current_project_id", "target_project_id", "resource_type", "resource_id"], "properties": {"current_project_id": {"type": "integer", "description": "ID of the source project from which the image will be transferred", "example": 43695}, "target_project_id": {"type": "integer", "description": "ID of the destination project to which the image will be transferred", "example": 46162}, "resource_type": {"type": "string", "description": "Type of resource being transferred", "example": "image"}, "resource_id": {"type": "string", "description": "Unique identifier of the image resource", "example": "36622"}}}]}}}}, "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "description": "HTTP status code of the transfer operation.", "x-constraints": ["integer between 100 and 599"], "example": 200}, "data": {"type": "string", "description": "Identifier of the transferred resource. May be an empty string when the platform does not return an ID for transfer operations.", "x-constraints": ["string (may be empty)"], "example": ""}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "description": "Status message indicating the result of the transfer.", "x-constraints": ["non-empty string", "maximum length 200 characters"], "example": "Resource is transferred successfully."}}}}}}}, "x-alternate-operations": [{"operationId": "post-resource-transfer", "summary": "Transfer image to another project"}]}}, "/api/v1/nodes/upgrade/{node_id}": {"put": {"operationId": "upgrade-plan", "summary": "Upgrade Plan", "tags": ["Actions"], "description": "Upgrades the node to a larger plan (more vCPU / RAM / disk). The node must be powered off before issuing this request. The upgrade is destructive to the underlying VM but preserves the persistent root disk; transient state in RAM is lost.", "parameters": [{"name": "node_id", "in": "path", "required": true, "description": "Path parameter `node_id`.", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Region of the node being upgraded.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["must be a non-empty string", "should be a valid region identifier"]}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "required": ["plan", "image"], "properties": {"plan": {"type": "string", "description": "Plan SKU to upgrade to. The new plan must be larger than the current plan in at least one dimension (vCPU / RAM / disk). Use the plans API to discover valid SKUs.", "x-constraints": ["required", "non-empty string", "must follow the plan naming convention (alphanumeric, hyphens, periods)", "must reference an existing plan in the node's region"], "example": "C3-2vCPU-2RAM-15DISK-C3.4GB_CHENNAI-Chennai"}, "image": {"type": "string", "description": "OS image identifier to use after the upgrade. Usually the same as the node's current image - supplied explicitly so the new VM is reprovisioned from a known template.", "x-constraints": ["required", "non-empty string", "allowed characters are letters, digits, hyphens, and periods"], "example": "CentOS-7.5-Distro"}}}}}}, "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "description": "HTTP status code indicating the result of the upgrade request.", "x-constraints": ["integer between 100 and 599"], "example": 200}, "data": {"type": "object", "properties": {"vcpu": {"type": "integer", "description": "Number of virtual CPUs in the upgraded plan.", "x-constraints": ["positive integer"], "example": 8}, "ram": {"type": "integer", "description": "RAM allocation in megabytes.", "x-constraints": ["positive integer"], "example": 16000}, "disk-size": {"type": "integer", "description": "Root disk size in megabytes.", "x-constraints": ["non-negative integer"], "example": 143051}, "customer_id": {"type": "integer", "description": "Identifier of the customer that owns the node.", "x-constraints": ["positive integer"], "example": 12345}, "vm_id": {"type": "integer", "description": "Identifier of the virtual machine.", "x-constraints": ["positive integer"], "example": 12345}, "new_node_image_id": {"type": "integer", "description": "Identifier of the post-upgrade node image.", "x-constraints": ["positive integer"], "example": 12345}, "old_node_image_id": {"type": "integer", "description": "Identifier of the pre-upgrade node image.", "x-constraints": ["positive integer"], "example": 12345}, "action": {"type": "string", "description": "Action identifier returned in the upgrade response.", "example": "Delhi"}, "cluster": {"type": "string", "description": "Identifier of the target cluster. May be null when the node is not pinned to a specific cluster.", "x-constraints": ["may be null", "non-empty alphanumeric string when present"]}, "size": {"type": "integer", "description": "Size value returned by the upgrade response.", "x-constraints": ["non-negative integer"], "example": 0}, "location": {"type": "string", "description": "Region/city name where the upgraded node lives.", "x-constraints": ["non-empty string", "maximum length 100 characters"], "example": "Delhi"}}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "description": "Human-readable status message for the upgrade.", "x-constraints": ["non-empty string", "maximum length 255 characters"], "example": "Node successfully upgraded"}}}}}}}}}, "/api/v1/nodes/{node_id}/root-storage-upgrade/": {"put": {"operationId": "increase-root-storage", "summary": "Increase Root Storage", "tags": ["Actions"], "description": "Grows the node's root disk to the requested size. Root disk expansion is online (no reboot required) but the filesystem may need to be resized inside the OS after the action completes.", "parameters": [{"name": "node_id", "in": "path", "required": true, "description": "Path parameter `node_id`.", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "must be a valid API key string"]}, {"name": "location", "in": "query", "required": true, "description": "Region of the node whose root storage is being increased.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["must be a non-empty string", "should be a valid location identifier (e.g., region code)"]}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "required": ["disk_size"], "properties": {"disk_size": {"type": "integer", "description": "New root disk size in gigabytes. Must be strictly greater than the current root disk size. Root disk shrinking is not supported.", "x-constraints": ["required", "positive integer", "must be greater than the node's current root disk size"], "example": 125}}}}}}, "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "description": "HTTP status code of the increase-root-storage operation.", "x-constraints": ["integer between 100 and 599"], "example": 200}, "data": {"type": "object", "properties": {"node_id": {"type": "integer", "description": "Identifier of the node whose root disk was resized.", "x-constraints": ["positive integer"], "example": 12345}, "customer_id": {"type": "integer", "description": "Identifier of the customer that owns the node.", "x-constraints": ["positive integer"], "example": 12345}, "new_disk_size_in_GB": {"type": "integer", "description": "New root disk size in gigabytes after the resize.", "x-constraints": ["positive integer", "greater than the previous root disk size"], "example": 125}}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "description": "Status message for the root storage increase.", "x-constraints": ["non-empty string", "maximum length 256 characters"], "example": "Root disk size upgrade in progress."}}}}}}}}}, "/api/v1/nodes/action-on-multiple-nodes/": {"put": {"operationId": "bulk-action", "summary": "Bulk Action", "tags": ["Actions"], "description": "Applies the same action to multiple nodes at once. The body is a JSON payload with a `node_ids` array and a `type` field naming the action. Supported action types are the same as the single-node action endpoint's \"simple\" types - `power_off`, `power_on`, `reboot`, `lock_vm`, `unlock_vm`.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the bulk action request", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "must be a valid API key string"]}, {"name": "location", "in": "query", "required": true, "description": "Region of the target nodes", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["must be a non-empty string", "should contain only URL-safe characters"]}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "required": ["node_ids", "type"], "properties": {"node_ids": {"type": "array", "description": "IDs of the nodes to apply the action to. All nodes must belong to the project identified by the `project_id` query parameter and must be in a state compatible with the chosen action (e.g. you cannot `power_off` a node that is already off).", "x-constraints": ["required", "at least one entry", "each entry must be a positive integer node ID", "no duplicate IDs"], "items": {"type": "integer", "description": "A single node ID.", "example": 12345}}, "type": {"type": "string", "description": "The bulk-supported action to perform. A strict subset of the single-node action set - only the \"simple\" actions that take no additional fields are allowed in bulk.", "enum": ["power_off", "power_on", "reboot", "lock_vm", "unlock_vm"], "x-constraints": ["required", "must be one of the bulk-supported action identifiers"], "example": "power_off"}}}}}}, "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "description": "HTTP status code of the bulk action result.", "x-constraints": ["integer between 100 and 599"], "example": 200}, "data": {"type": "string", "description": "Result data returned by the bulk action.", "example": ""}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "description": "Human-readable status message for the bulk action.", "x-constraints": ["non-empty string", "maximum length 200 characters"], "example": "All selected nodes powered off successfuly."}}}}}}}}}, "/api/v1/start-script/": {"post": {"operationId": "add-start-script", "summary": "Add Start Script", "tags": ["Start Script"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key for authenticating the request", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Specifies the target location for the start script", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["must be a non-empty string", "should be a valid URI or file path"]}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"label": {"type": "string", "description": "Name of the start script to add", "x-constraints": ["must be a non-empty string", "may contain letters, numbers, hyphens and underscores"], "example": "nginx-hello"}, "script_content": {"type": "string", "description": "Script content to be executed at start", "x-constraints": ["required", "must be a non-empty string"], "example": "hello"}}}}}}, "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "description": "HTTP status code indicating the result of adding the start script", "x-constraints": ["must be an integer", "must be a valid HTTP status code (100-599)"], "example": 200}, "data": {"type": "object", "properties": {}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "description": "Human-readable result message of the add start script operation", "x-constraints": ["must be a non-empty string", "maximum length of 200 characters"], "example": "Success"}}}}}}}}, "get": {"operationId": "start-script", "summary": "Start Script", "tags": ["Start Script"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used for authentication", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "must be a non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Specifies the starting location for the script.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["required", "must be a non-empty string, URL-encoded if it contains special characters"]}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "description": "Unique identifier of the script execution", "x-constraints": ["integer", "positive", "required"], "example": 123}, "label": {"type": "string", "description": "Identifier for the script", "x-constraints": ["must be a non-empty string", "may contain alphanumeric characters, hyphens, and underscores"], "example": "nginx"}, "script_content": {"type": "string", "description": "Shell script content to be executed", "x-constraints": ["must be a non-empty UTF-8 string", "may contain newline characters but no binary data"], "example": "sudo apt-get update\nsudo apt-get install nginx -y"}}}}}}}}}}}, "delete": {"operationId": "delete-start-script", "summary": "Delete Start Script", "tags": ["Start Script"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "must be a valid API key"]}, {"name": "location", "in": "query", "required": true, "description": "Specifies the target location for the delete start script operation", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["required", "must be a non-empty string"]}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"id": {"type": "integer", "description": "Identifier of the start script to delete", "x-constraints": ["required", "must be a positive integer"], "example": 123}}}}}}, "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "string", "description": "HTTP status code returned by the Delete Start Script operation", "x-constraints": ["must be a three-digit numeric string", "expected value is \"204\" for successful deletion"], "example": "123"}}}}}}}, "/api/v1/nodes/{node_id}/attached-volumes/": {"get": {"operationId": "attached-volumes", "summary": "Attached Volumes", "tags": ["Volumes", "Nodes"], "parameters": [{"name": "node_id", "in": "path", "required": true, "description": "Path parameter `node_id`.", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used for authenticating the request", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Specifies the location filter for attached volumes.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["must be a valid location identifier (e.g., region code)", "may contain letters, numbers, and hyphens"]}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "description": "HTTP status code of the attached volumes response", "x-constraints": ["integer representing a valid HTTP status code (100-599)", "200 indicates a successful operation"], "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "description": "Unique identifier for the attached volume", "x-constraints": ["required", "positive integer"], "example": 1234}, "volume_name": {"type": "string", "description": "Name of the attached volume", "x-constraints": ["must be a non-empty string", "may contain alphanumeric characters and underscores only"], "example": "V_100GB_160"}, "total_size": {"type": "string", "description": "Total size of the attached volume as a stringified number of bytes", "x-constraints": ["must contain only digits", "represents a non-negative integer"], "example": "12345"}, "total_size_string": {"type": "string", "description": "Human-readable total size of the volume", "x-constraints": ["Must be a non-empty string", "Format: numeric value followed by a space and unit (KB, MB, GB, TB)"], "example": "100.0 GB"}, "total_iops_sec": {"type": "string", "description": "IOPS per second for the attached volume", "x-constraints": ["must be a numeric string", "non-negative integer value"], "example": "1500"}, "bs_size": {"type": "number", "description": "Size of the attached volume in gigabytes", "x-constraints": ["must be a non-negative number", "may include fractional values"], "example": 0.1}, "hourly_price": {"type": "string", "description": "Hourly price of the attached volume as a formatted string.", "x-constraints": ["non-empty string", "format: \"Rs. <amount>/Hour\" with numeric amount"], "example": "Rs. 0.69/Hour"}, "monthly_price": {"type": "string", "description": "Monthly price of the attached volume", "x-constraints": ["Non-empty string", "Format: \"Rs. <amount> Monthly\""], "example": "Rs. 500.0 Monthly"}, "is_encrypted": {"type": "boolean", "description": "Indicates whether the attached volume is encrypted.", "x-constraints": ["boolean value", "true if encrypted, false otherwise"], "example": false}}}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "description": "Status message indicating the result of the request", "x-constraints": ["Must be a non-empty string", "Maximum length 255 characters"], "example": "Success"}}}}}}}, "x-alternate-operations": [{"operationId": "attached-volumes", "summary": "Attached Volumes"}], "description": "This path + method also serves **Attached Volumes** (`attached-volumes`); select the variant via the request body."}}, "/api/v1/block_storage/{block_id}/vm/attach/": {"put": {"operationId": "attach-volume", "summary": "Attach Volume", "tags": ["Volumes", "Volume"], "parameters": [{"name": "block_id", "in": "path", "required": true, "description": "Path parameter `block_id`.", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Specifies the target location for attaching the volume", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["must be a valid location identifier", "no spaces allowed"]}], "requestBody": {"content": {"application/json": {"schema": {"oneOf": [{"type": "string", "description": "JSON-formatted string specifying the VM ID for the volume attachment", "x-constraints": ["must be a valid JSON string", "must contain a \"vm_id\" field"], "example": "{\n    \"vm_id\": {{vm_id}}\n}"}, {"type": "object", "properties": {"vm_id": {"type": "integer", "example": 100157}}, "required": ["vm_id"]}]}}}}, "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "description": "HTTP status code indicating the result of the attach volume request", "x-constraints": ["must be an integer", "must be a valid HTTP status code"], "example": 200}, "data": {"type": "object", "properties": {"image_id": {"type": "integer", "description": "Unique identifier of the attached image", "x-constraints": ["integer", "must be greater than zero"], "example": 1234}, "vm_id": {"type": "integer", "description": "Identifier of the virtual machine", "x-constraints": ["positive integer", "fits within 32-bit signed range"], "example": 1234}}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "description": "Human-readable status message for the attach volume operation.", "x-constraints": ["must be a non-empty string", "typically under 256 characters"], "example": "Block Storage is Attached to VM."}}}}}}}, "x-alternate-operations": [{"operationId": "put-block-storage-block-id-vm-attach", "summary": "Attach Volume to Node"}], "description": "This path + method also serves **Attach Volume to Node** (`put-block-storage-block-id-vm-attach`); select the variant via the request body."}}, "/api/v1/schedule-snapshot/": {"post": {"operationId": "schedule-snapshots", "summary": "Schedule Snapshots", "tags": ["Snapshots"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used for authenticating the request", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Location identifier for the snapshot schedule", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["must be a non-empty string", "should be a valid location identifier"]}], "requestBody": {"content": {"application/json": {"schema": {"type": "string", "description": "request field", "example": "{\n    \"resource_id\": {{node_id}},\n    \"resource_type\": \"node\",\n    \"time_line\": 1,\n    \"create_after\": \"1\",\n    \"delete_after\": \"3\"\n}"}}}}, "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "description": "HTTP status code of the schedule snapshots response", "x-constraints": ["integer", "valid HTTP status code"], "example": 200}, "data": {"type": "object", "properties": {}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "description": "Human-readable status message for the schedule snapshots operation.", "x-constraints": ["must be a non-empty string", "maximum length 200 characters"], "example": "Schedule settings has been saved successfully."}}}}}}}}, "get": {"operationId": "scheduled-snapshots", "summary": "Scheduled Snapshots", "tags": ["Snapshots"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "resource_id", "in": "query", "required": false, "description": "Identifier of the node for which to retrieve scheduled snapshots", "schema": {"type": "string"}, "example": "{{node_id}}", "x-constraints": ["required", "non-empty string", "valid node identifier"]}, {"name": "resource_type", "in": "query", "required": false, "description": "Filter snapshots by the type of resource they belong to", "schema": {"type": "string"}, "example": "node", "x-constraints": ["must be a non-empty string", "case-sensitive identifier of a resource type"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "must be a valid API key string"]}, {"name": "location", "in": "query", "required": true, "description": "Specifies the E2E Myaccount region for the scheduled snapshot.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["non-empty string", "must be a valid E2E Myaccount location identifier"]}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "description": "HTTP status code of the scheduled snapshot response", "x-constraints": ["integer", "value between 100 and 599"], "example": 200}, "data": {"type": "object", "properties": {"id": {"type": "string", "description": "Unique identifier of the scheduled snapshot", "x-constraints": ["must be a valid UUID", "maximum length of 36 characters"], "example": "9591023453-528f-65a2-4fb7-3ae4b23b8bb8", "format": "uuid"}, "time_line": {"type": "string", "description": "Identifier for the scheduled snapshot timeline", "x-constraints": ["must be a non-empty string", "should contain only digits"], "example": "1"}, "resource_id": {"type": "integer", "description": "Unique identifier of the snapshot resource", "x-constraints": ["integer", "greater than zero"], "example": 12345}, "resource_type": {"type": "string", "description": "Type of the resource for which the snapshot is scheduled", "x-constraints": ["non-empty string", "must be a supported resource type (e.g., \"node\")"], "example": "node"}, "create_after": {"type": "integer", "description": "Delay before the snapshot is created", "x-constraints": ["must be a non-negative integer"], "example": 1}, "delete_after": {"type": "integer", "description": "Number of days after which the scheduled snapshot will be deleted", "x-constraints": ["must be a non-negative integer", "typically represents days (e.g., 0\u2013365)"], "example": 7}, "deleted_at": {"type": "string", "description": "Timestamp when the snapshot was deleted, or null if not deleted", "x-constraints": ["ISO 8601 datetime string when present", "nullable"]}}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "description": "Status message indicating the result of the snapshot operation.", "x-constraints": ["must be a non-empty string", "max length 255 characters"], "example": "Success"}}}}}}}}, "put": {"operationId": "update-scheduled-snapshots", "summary": "Update Scheduled Snapshots", "tags": ["Snapshots", "DBaaS"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "must be a valid API key"]}, {"name": "location", "in": "query", "required": true, "description": "Specifies the E2E Myaccount region where the snapshot will be updated.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["Must be a non-empty string", "Should be a valid E2E Myaccount region identifier (e.g., eastus, westus2)"]}], "requestBody": {"content": {"application/json": {"schema": {"oneOf": [{"type": "string", "description": "JSON string containing the scheduled snapshot update parameters", "x-constraints": ["must be a valid JSON object", "must include resource_id, resource_type, time_line, create_after, and delete_after"], "example": "{\n    \"resource_id\": {{node_id}},\n    \"resource_type\": \"node\",\n    \"time_line\": 1,\n    \"create_after\": \"7\",\n    \"delete_after\": \"3\"\n}"}, {"type": "object", "properties": {"block_storage_id": {"type": "integer", "example": 5275}, "resource_id": {"type": "integer", "example": 5275}, "create_after": {"type": "string", "example": "7"}, "delete_after": {"type": "string", "example": "15"}, "resource_type": {"type": "string", "example": "dbass"}, "time_line": {"type": "integer", "example": 2}}, "required": ["block_storage_id", "create_after", "delete_after", "resource_type", "time_line"]}]}}}}, "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "description": "HTTP status code of the update operation", "x-constraints": ["3-digit HTTP status code", "non-negative integer"], "example": 200}, "data": {"type": "object", "properties": {}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "description": "Confirmation message indicating the update result.", "x-constraints": ["must be a non-empty string", "maximum length of 255 characters"], "example": "Schedule settings has been updated successfully."}}}}}}}, "x-alternate-operations": [{"operationId": "put-schedule-snapshot", "summary": "Schedule Snapshot"}], "description": "This path + method also serves **Schedule Snapshot** (`put-schedule-snapshot`); select the variant via the request body."}, "delete": {"operationId": "disable-scheduled-snapshots", "summary": "Disable Scheduled Snapshots", "tags": ["Snapshots"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "service_type", "in": "query", "required": false, "description": "Specifies the type of service to disable scheduled snapshots for.", "schema": {"type": "string"}, "example": "schedule", "x-constraints": ["must be a non-empty string", "allowed value: schedule"]}, {"name": "resource_id", "in": "query", "required": false, "description": "Identifier of the node whose scheduled snapshots are to be disabled", "schema": {"type": "string"}, "example": "{{node_id}}", "x-constraints": ["required", "must be a valid node identifier (e.g., UUID or alphanumeric ID)"]}, {"name": "resource_type", "in": "query", "required": false, "description": "Specifies the type of resource for which scheduled snapshots are disabled.", "schema": {"type": "string"}, "example": "node", "x-constraints": ["must be a non-empty string", "allowed values include \"node\""]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty", "alphanumeric"]}, {"name": "location", "in": "query", "required": true, "description": "Specifies the target location for disabling scheduled snapshots.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["must be a non-empty string", "should match a supported location identifier (e.g., us-east, eu-west)"]}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "description": "HTTP status code indicating the result of disabling scheduled snapshots", "x-constraints": ["must be an integer", "200 indicates success"], "example": 200}, "data": {"type": "object", "properties": {}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "description": "Confirmation message indicating scheduled snapshots have been disabled.", "x-constraints": ["must be a non-empty string", "should not exceed 200 characters"], "example": "Schedule settings has been disabled successfully."}}}}}}}}}, "/api/v1/nodes/{node_id}/snapshots/": {"post": {"operationId": "create-snapshot", "summary": "Create Snapshot", "tags": ["Snapshots"], "parameters": [{"name": "node_id", "in": "path", "required": true, "description": "Path parameter `node_id`.", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key for authenticating the request", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "The target location or region for the snapshot.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["required", "must be a valid region identifier (e.g., us-east1)"]}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"name": {"type": "string", "description": "Name of the snapshot to create", "x-constraints": ["must be a non-empty string", "max length 255 characters"], "example": "random"}}}}}}, "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "description": "HTTP status code of the snapshot creation response", "x-constraints": ["integer", "value between 100 and 599"], "example": 200}, "data": {"type": "object", "properties": {"snapshot_id": {"type": "integer", "description": "Identifier of the created snapshot", "x-constraints": ["non-negative integer", "required"], "example": 0}, "snapshot_details": {"type": "object", "properties": {"name": {"type": "string", "description": "Identifier for the created snapshot", "x-constraints": ["must be a non-empty string", "may contain alphanumeric characters and underscores only"], "example": "random_1752239735.723534"}, "date": {"type": "string", "description": "Timestamp of when the snapshot was created", "x-constraints": ["ISO 8601 UTC format", "required"], "example": "2025-07-11T13:15:36Z", "format": "date-time"}, "size": {"type": "string", "description": "Size of the snapshot in bytes represented as a string", "x-constraints": ["Must contain only digits", "Must represent a non-negative integer"], "example": "95367"}, "snapshot_id": {"type": "string", "description": "Identifier of the created snapshot", "x-constraints": ["must be a non-empty string", "contains only decimal digits"], "example": "0"}}}}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "description": "Status message indicating the result of the snapshot creation.", "x-constraints": ["Must be a non-empty string", "Maximum length typically 255 characters"], "example": "Success"}}}}}}}}, "get": {"operationId": "list-snapshots", "summary": "List Snapshots", "tags": ["Snapshots"], "parameters": [{"name": "node_id", "in": "path", "required": true, "description": "Path parameter `node_id`.", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key for authenticating the request", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Specifies the location/region for which snapshots are listed", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["must be a non-empty string", "should be a valid location identifier (e.g., region name)"]}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "description": "HTTP status code of the list snapshots response", "x-constraints": ["integer", "value between 100 and 599"], "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"name": {"type": "string", "description": "Name of the snapshot", "x-constraints": ["must be a non-empty string", "may contain only alphanumeric characters"], "example": "etsghrh"}, "date": {"type": "string", "description": "Timestamp of the snapshot in UTC", "x-constraints": ["must be a non-empty ISO\u202f8601 UTC datetime string (e.g., 2025-07-18T09:32:32Z)", "must represent a valid date-time"], "example": "2025-07-18T09:32:32Z", "format": "date-time"}, "size": {"type": "string", "description": "Size of the snapshot in bytes", "x-constraints": ["numeric string", "non-negative integer"], "example": "95367"}, "snapshot_uuid": {"type": "string", "description": "Unique identifier of the snapshot", "x-constraints": ["must be a UUID string", "cannot be empty"], "example": "f5bb7e1d-413e-4f24-5501-927bb2xxxxd1", "format": "uuid"}, "snapshot_id": {"type": "string", "description": "Identifier of the snapshot", "x-constraints": ["must be a non-empty string", "contains only numeric characters"], "example": "0"}, "status": {"type": "string", "description": "Current state of the snapshot", "x-constraints": ["Must be a non-empty string", "Allowed values likely include Complete, InProgress, Failed"], "example": "Complete"}, "method": {"type": "string", "description": "The method used to create the snapshot", "x-constraints": ["Must be a non-empty string", "May be one of a predefined set of methods"], "example": "Manual"}, "is_locked": {"type": "boolean", "description": "Indicates whether the snapshot is locked.", "x-constraints": ["must be a boolean value", "read-only field"], "example": false}, "bs_size": {"type": "string", "description": "Size of the snapshot as a stringified decimal number", "x-constraints": ["must be a non-negative decimal string", "represents size in gigabytes"], "example": "0.0931318359375"}, "snapshot_size": {"type": "string", "description": "Human-readable size of the snapshot", "x-constraints": ["non-empty string", "format: numeric value followed by a space and a unit (e.g., KB, MB, GB, TB)"], "example": "4.4 GB"}}}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "description": "Status message indicating the result of the list snapshots operation", "x-constraints": ["non-empty string", "max length 200 characters"], "example": "Success"}}}}}}}}}, "/api/v1/nodes/{node_id}/snapshots/{snapshot_uuid}/": {"get": {"operationId": "get-snapshots", "summary": "Get Snapshots", "tags": ["Snapshots"], "parameters": [{"name": "node_id", "in": "path", "required": true, "description": "Path parameter `node_id`.", "schema": {"type": "string"}}, {"name": "snapshot_uuid", "in": "path", "required": true, "description": "Path parameter `snapshot_uuid`.", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Specifies the E2E Myaccount region for which snapshots are retrieved.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["must be a valid E2E Myaccount location identifier (e.g., 'eastus')", "cannot be empty"]}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "description": "HTTP status code indicating the result of the Get Snapshots request", "x-constraints": ["must be an integer", "value should be a valid HTTP status code (100-599)"], "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"name": {"type": "string", "description": "Snapshot name identifier", "x-constraints": ["non-empty string", "lowercase alphanumeric characters and hyphens only"], "example": "api-automation-snapshot-5854"}, "date": {"type": "string", "description": "Timestamp of the snapshot in ISO 8601 UTC format", "x-constraints": ["Must be a valid ISO 8601 datetime string", "Must end with 'Z' to indicate UTC"], "example": "2025-07-18T05:39:47Z", "format": "date-time"}, "size": {"type": "string", "description": "Size of the snapshot in bytes as a string", "x-constraints": ["must contain only digits", "must represent a non-negative integer"], "example": "95367"}, "snapshot_uuid": {"type": "string", "description": "Unique identifier of the snapshot", "x-constraints": ["must be a valid UUID format", "cannot be empty"], "example": "d82e11ae-a56c-6767-b2d5-46b3105gf8a5", "format": "uuid"}, "snapshot_id": {"type": "string", "description": "Identifier of the snapshot", "x-constraints": ["must be a non-empty string", "should contain only digits"], "example": "0"}, "status": {"type": "string", "description": "Snapshot processing status", "x-constraints": ["non-empty string", "allowed values: Complete, Pending, Failed"], "example": "Complete"}, "method": {"type": "string", "description": "Indicates how the snapshot was created", "x-constraints": ["must be a non-empty string", "typically one of: Manual, Scheduled, Automatic"], "example": "Manual"}, "is_locked": {"type": "boolean", "description": "Indicates if the snapshot is locked", "x-constraints": ["Boolean value", "Read-only"], "example": false}, "bs_size": {"type": "string", "description": "Size of the snapshot as a string", "x-constraints": ["numeric string", "non-negative value"], "example": "0.0931318359375"}, "snapshot_size": {"type": "string", "description": "Human-readable size of the snapshot", "x-constraints": ["Must be a non-empty string", "Formatted as a numeric value followed by a space and a unit (KB, MB, GB, TB)"], "example": "4.4 GB"}}}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "description": "Status message indicating the result of the request", "x-constraints": ["must be a non-empty string", "max length 255 characters"], "example": "Success"}}}}}}}}}, "/api/v1/nodes/{node_id}/snapshot/{snapshot_uuid}": {"post": {"operationId": "save-image-from-snapshot", "summary": "Save Image from Snapshot", "tags": ["Snapshots"], "parameters": [{"name": "node_id", "in": "path", "required": true, "description": "Path parameter `node_id`.", "schema": {"type": "string"}}, {"name": "snapshot_uuid", "in": "path", "required": true, "description": "Path parameter `snapshot_uuid`.", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used for authentication", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Specifies where the saved image should be stored.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["required", "must be a valid URL or file path"]}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"name": {"type": "string", "description": "Identifier for the saved image derived from a snapshot.", "x-constraints": ["required", "must contain only alphanumeric characters and hyphens"], "example": "image-from-snapshot-1234"}}}}}}, "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "description": "HTTP status code indicating the result of the Save Image from Snapshot operation", "x-constraints": ["integer", "value between 100 and 599"], "example": 200}, "data": {"type": "object", "properties": {}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "description": "Status message indicating the result of the save operation", "x-constraints": ["Must not be empty", "Maximum length 255 characters"], "example": "Success"}}}}}}}}, "put": {"operationId": "lock-unlock-snapshot", "summary": "Lock/Unlock Snapshot", "tags": ["Snapshots"], "parameters": [{"name": "node_id", "in": "path", "required": true, "description": "Path parameter `node_id`.", "schema": {"type": "string"}}, {"name": "snapshot_uuid", "in": "path", "required": true, "description": "Path parameter `snapshot_uuid`.", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key for authenticating the lock/unlock snapshot request", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Specifies the target location for the lock or unlock operation", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["required", "non-empty string"]}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"locked_status": {"type": "boolean", "description": "Indicates if the snapshot should be locked (true) or unlocked (false).", "x-constraints": ["must be a boolean", "required"], "example": false}, "resource_type": {"type": "string", "description": "Specifies the type of resource to lock or unlock", "x-constraints": ["must be a non-empty string", "allowed values: node, volume, snapshot"], "example": "node"}}}}}}, "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "description": "HTTP status code indicating the result of the lock/unlock operation", "x-constraints": ["must be a valid HTTP status code", "must be a non-negative integer"], "example": 200}, "data": {"type": "object", "properties": {}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "description": "Status message indicating the result of the lock or unlock snapshot operation", "x-constraints": ["must be a non-empty string", "maximum length of 255 characters"], "example": "Success"}}}}}}}}, "delete": {"operationId": "delete-snapshot", "summary": "Delete Snapshot", "tags": ["Snapshots"], "parameters": [{"name": "node_id", "in": "path", "required": true, "description": "Path parameter `node_id`.", "schema": {"type": "string"}}, {"name": "snapshot_uuid", "in": "path", "required": true, "description": "Path parameter `snapshot_uuid`.", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authorize the delete snapshot request", "schema": {"type": "string"}, "example": "{{snapshot_uuid}}", "x-constraints": ["required", "must be a non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "E2E Myaccount region where the snapshot resides", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["must be a non-empty string", "should be a valid E2E Myaccount region name (e.g., westus2)"]}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "description": "HTTP status code returned by the Delete Snapshot operation", "x-constraints": ["must be an integer", "should be a valid HTTP status code (e.g., 200)"], "example": 200}, "data": {"type": "object", "properties": {}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "description": "Result message indicating the outcome of the delete snapshot operation", "x-constraints": ["must be a non-empty string", "maximum length of 255 characters"], "example": "Success"}}}}}}}}}, "/api/v1/security_group/{vm_id}/attach/": {"get": {"operationId": "attached-security-group", "summary": "Attached Security Group", "tags": ["Security Group"], "parameters": [{"name": "vm_id", "in": "path", "required": true, "description": "Path parameter `vm_id`.", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used for authentication", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "must be a valid API key"]}, {"name": "location", "in": "query", "required": true, "description": "Location filter for the attached security group query", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["must be a non-empty string", "should be a valid location identifier (e.g., region code)"]}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "description": "HTTP status code indicating the result of the request", "x-constraints": ["required", "must be a valid HTTP status code (100-599)"], "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "description": "Unique identifier of the attached security group", "x-constraints": ["must be an integer", "must be a positive value"], "example": 12345}, "name": {"type": "string", "description": "Name of the attached security group", "x-constraints": ["non-empty string", "allowed characters: letters, numbers, underscores"], "example": "default_sg_delhi_35027"}, "description": {"type": "string", "description": "Name of the attached security group", "x-constraints": ["non-empty string", "maximum length 255 characters"], "example": "default security group delhi"}, "rules": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "description": "Unique identifier for the security group rule", "x-constraints": ["positive integer", "unique within the response list"], "example": 123456}, "rule_type": {"type": "string", "description": "Specifies the direction of the security group rule", "x-constraints": ["Must be a non-empty string", "Allowed values are \"Inbound\" or \"Outbound\""], "example": "Inbound"}, "protocol_name": {"type": "string", "description": "Name of the network protocol for the rule", "x-constraints": ["non-empty string", "allowed values: All, TCP, UDP, ICMP"], "example": "All"}, "port_range": {"type": "string", "description": "Port range for the rule, expressed as a single port or a start-end range", "x-constraints": ["Must be a number between 0 and 65535", "If a range, format is \"start-end\" with start \u2264 end", "Empty string may indicate all ports"], "example": ""}, "network": {"type": "string", "description": "Network identifier for the rule, such as a CIDR block or \"any\"", "x-constraints": ["must be a non-empty string", "allowed values are \"any\" or a valid CIDR notation"], "example": "any"}, "network_cidr": {"type": "string", "description": "Network CIDR block for the security group rule", "x-constraints": ["must be a valid IPv4 or IPv6 CIDR notation", "cannot be empty"], "example": "--"}, "network_size": {"type": "integer", "description": "Number of networks associated with the security group", "x-constraints": ["must be a positive integer", "minimum value is 1"], "example": 1}, "vpc_id": {"type": "string", "description": "Identifier of the VPC associated with the security group rule", "x-constraints": ["If present, must be a valid VPC ID (e.g., starts with \"vpc-\")", "May be null"]}, "description": {"type": "string", "description": "Textual description of the security group rule.", "x-constraints": ["May be empty", "Maximum length 255 characters"], "example": ""}}}}, "is_default": {"type": "boolean", "description": "Indicates whether the attached security group is the default one", "x-constraints": ["must be a boolean", "required"], "example": true}, "is_all_traffic_rule": {"type": "boolean", "description": "Indicates whether the security group rule applies to all traffic", "x-constraints": ["must be a boolean (true or false)", "field is required"], "example": false}}}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "description": "Status message indicating the result of attaching a security group", "x-constraints": ["must be a non-empty string", "maximum length of 255 characters"], "example": "Success"}}}}}}}, "x-alternate-operations": [{"operationId": "list-attached-security-groups", "summary": "List Attached Security Groups"}], "description": "This path + method also serves **List Attached Security Groups** (`list-attached-security-groups`); select the variant via the request body."}, "post": {"operationId": "attach-security-group", "summary": "Attach Security Group", "tags": ["Security Group"], "parameters": [{"name": "vm_id", "in": "path", "required": true, "description": "Path parameter `vm_id`.", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used for authentication", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Specifies the target location for attaching the security group.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["must be a non-empty string", "should be a valid region identifier (e.g., us-east-1)"]}], "requestBody": {"content": {"application/json": {"schema": {"oneOf": [{"type": "string", "description": "JSON string specifying security group IDs to attach", "x-constraints": ["must be valid JSON", "must contain a \"security_group_ids\" array", "each ID should be a non-empty string"], "example": "{\n    \"security_group_ids\": [\n        {{security_group_id}}\n    ]\n}"}, {"type": "object", "required": ["security_group_ids"], "properties": {"security_group_ids": {"type": "array", "description": "IDs of the security groups to attach to the load balancer's VM.", "x-constraints": ["required", "at least one entry", "each entry must reference a security group owned by the account"], "items": {"type": "string", "example": "81526"}}}}]}}}}, "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "description": "HTTP status code indicating the result of the attach operation", "x-constraints": ["must be a valid HTTP status code", "typically 200 for success"], "example": 200}, "data": {"type": "object", "properties": {}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "description": "Human-readable status message indicating the result of the attach operation", "x-constraints": ["must be a non-empty string", "should not exceed 256 characters"], "example": "Security Group Attached Successfully"}}}}}}}, "x-alternate-operations": [{"operationId": "lb-attach-security-group", "summary": "Attach Security Group"}], "description": "This path + method also serves **Attach Security Group** (`lb-attach-security-group`); select the variant via the request body."}}, "/api/v1/security_group/{vm_id}/detach/": {"get": {"operationId": "available-security-group", "summary": "Available Security Group", "tags": ["Security Group"], "parameters": [{"name": "vm_id", "in": "path", "required": true, "description": "Path parameter `vm_id`.", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "must be a non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Location identifier for the security group query", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["non-empty string", "valid location code"]}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "description": "HTTP status code indicating the result of the request", "x-constraints": ["must be an integer", "value typically between 100 and 599"], "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "description": "Unique identifier of the security group", "x-constraints": ["must be a positive integer", "unique within the response list"], "example": 12345}, "name": {"type": "string", "description": "Name of the security group", "x-constraints": ["must be a non-empty string", "may contain alphanumeric characters, hyphens, and underscores only"], "example": "api-automation-sg-7177"}, "description": {"type": "string", "description": "Brief textual description of the security group.", "x-constraints": ["must be a non-empty string", "maximum length 255 characters", "no line breaks"], "example": "Base Security Group payload for negative testing"}, "rules": {"type": "array", "items": {"type": "string", "description": "Array item"}}, "is_default": {"type": "boolean", "description": "Indicates whether the security group is the default one", "x-constraints": ["must be a boolean", "required in each security group object"], "example": false}, "is_all_traffic_rule": {"type": "boolean", "description": "Indicates whether the rule applies to all traffic", "x-constraints": ["must be a boolean", "required for each security group entry"], "example": false}}}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "description": "Human-readable status message for the response", "x-constraints": ["Must be a non-empty string", "Maximum length of 255 characters"], "example": "Success"}}}}}}}, "x-alternate-operations": [{"operationId": "list-available-security-groups", "summary": "List Available (Detachable) Security Groups"}], "description": "This path + method also serves **List Available (Detachable) Security Groups** (`list-available-security-groups`); select the variant via the request body."}, "post": {"operationId": "detach-security-group", "summary": "Detach Security Group", "tags": ["Security Group"], "parameters": [{"name": "vm_id", "in": "path", "required": true, "description": "Path parameter `vm_id`.", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used for authenticating the request", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "must be a valid API key string"]}, {"name": "location", "in": "query", "required": true, "description": "E2E Myaccount region identifier for the request", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["required", "must be a valid E2E Myaccount location string (e.g., \"eastus\")"]}], "requestBody": {"content": {"application/json": {"schema": {"oneOf": [{"type": "string", "description": "JSON-formatted string containing the security_group_ids to detach", "x-constraints": ["must be a valid JSON string", "must include a \"security_group_ids\" field", "\"security_group_ids\" must be an array of security group ID strings", "array should not be empty"], "example": "{\n    \"security_group_ids\": [\n        {{security_group_id}}\n    ]\n}"}, {"type": "object", "required": ["security_group_ids"], "properties": {"security_group_ids": {"type": "array", "description": "IDs of the security groups to detach from the load balancer's VM.", "x-constraints": ["required", "at least one entry"], "items": {"type": "string", "example": "126752"}}}}]}}}}, "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "description": "HTTP status code indicating the result of the detach operation", "x-constraints": ["must be a valid HTTP status code", "typically 200 for success"], "example": 200}, "data": {"type": "object", "properties": {}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "description": "Human-readable status message for the detach security group operation", "x-constraints": ["must be a non-empty string", "maximum length of 255 characters"], "example": "Security Groups Detached Successfully"}}}}}}}, "x-alternate-operations": [{"operationId": "lb-detach-security-group", "summary": "Detach Security Group"}], "description": "This path + method also serves **Detach Security Group** (`lb-detach-security-group`); select the variant via the request body."}}, "/api/v1/security_group/{vm_id}/allow-all-traffic-node/": {"post": {"operationId": "allow-all-traffic", "summary": "Allow All Traffic", "tags": ["Security Group"], "parameters": [{"name": "vm_id", "in": "path", "required": true, "description": "Path parameter `vm_id`.", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used for authentication", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Specifies the location for the request", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["must be a non-empty string", "should be a valid location identifier"]}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "description": "HTTP status code of the response", "x-constraints": ["must be an integer", "value should be a valid HTTP status code (100-599)"], "example": 200}, "data": {"type": "string", "description": "String payload of the response, typically empty for allow-all traffic", "x-constraints": ["must be a string", "may be empty"], "example": ""}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "description": "Human-readable status message for the operation.", "x-constraints": ["Must be a non-empty string", "Maximum length of 255 characters"], "example": "Security Group attached successfully."}}}}}}}, "requestBody": {"content": {"application/json": {"schema": {"type": "object", "description": "No fields are required - send an empty JSON object. The target VM is identified by the `vm_id` path parameter.", "properties": {}}}}}, "x-alternate-operations": [{"operationId": "lb-allow-all-traffic", "summary": "Allow All Traffic"}], "description": "This path + method also serves **Allow All Traffic** (`lb-allow-all-traffic`); select the variant via the request body."}}, "/api/v1/vpc/node/{node_id}/": {"get": {"operationId": "vpc-details", "summary": "VPC Details", "tags": ["Network"], "parameters": [{"name": "node_id", "in": "path", "required": true, "description": "Path parameter `node_id`.", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "must be a non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Location identifier to filter VPC details", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["Required", "Must be a valid region code (e.g., us-east-1)"]}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"is_private_cluster_user": {"type": "boolean", "description": "Indicates whether the user is a private cluster user", "x-constraints": ["must be a boolean value"], "example": false}, "dns": {"type": "string", "description": "Space-separated list of DNS server IP addresses", "x-constraints": ["must be a space-separated list of IPv4 addresses", "each address must be a valid IPv4 address"], "example": "8.8.8.8 8.8.4.4"}, "ipv4_cidr": {"type": "string", "description": "IPv4 CIDR block of the VPC", "x-constraints": ["must be a valid IPv4 CIDR notation", "must represent a network address (host bits zero)"], "example": "10.2.3.4/23"}, "name": {"type": "string", "description": "Identifier of the VPC", "x-constraints": ["Must be a non-empty string", "May contain alphanumeric characters and hyphens", "Maximum length 64 characters"], "example": "VPC-493"}, "network_id": {"type": "integer", "description": "Unique identifier of the VPC network", "x-constraints": ["integer", "positive"], "example": 12345}, "project_id": {"type": "string", "description": "Identifier of the project associated with the VPC", "x-constraints": ["non-empty string", "contains only digits"], "example": "12345"}, "subnet_id": {"type": "integer", "description": "Identifier of the subnet", "x-constraints": ["required", "positive integer"], "example": 123}, "subnet_name": {"type": "string", "description": "Name of the subnet", "x-constraints": ["must be a non-empty string", "may contain letters, numbers, and hyphens"], "example": "api-automation-subnet-2008"}}}}}}}}}, "/api/v1/nodes/{node_id}/networkdetail/": {"get": {"operationId": "network-details", "summary": "Network Details", "tags": ["Network"], "parameters": [{"name": "node_id", "in": "path", "required": true, "description": "Path parameter `node_id`.", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used for authentication", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Location filter for network details", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["required", "non-empty string", "URL-encoded"]}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "description": "HTTP status code of the network details response", "x-constraints": ["integer between 100 and 599", "represents a valid HTTP status code"], "example": 200}, "data": {"type": "object", "properties": {"additional_ip": {"type": "array", "items": {"type": "object", "properties": {"ip_address": {"type": "string", "description": "IPv4 address of an additional network interface", "x-constraints": ["must be a valid IPv4 address", "format: dotted decimal notation (e.g., 1.2.4.5)"], "example": "1.2.3.4"}}}}, "reserve_ip_details": {"type": "object", "properties": {"is_limit_available": {"type": "boolean", "description": "Indicates whether a limit is available for the reserved IP.", "x-constraints": ["must be a boolean", "required"], "example": true}, "is_already_reserved": {"type": "boolean", "description": "True if the IP address is already reserved, otherwise false.", "x-constraints": ["boolean value", "required"], "example": true}, "can_we_reserved": {"type": "boolean", "description": "Indicates whether the IP address can be reserved", "x-constraints": ["value must be a boolean", "must not be null"], "example": false}, "reserve_ip_price": {"type": "string", "description": "Price of the reserved IP, including currency and optional tax note", "x-constraints": ["non-empty string", "starts with a three-letter currency code", "contains a numeric amount", "optional parentheses with additional text"], "example": "INR 199.0 (excluding GST)"}, "can_we_attach_detach_public_ip": {"type": "boolean", "description": "Indicates if a public IP can be attached or detached", "x-constraints": ["must be a boolean"], "example": true}, "currency": {"type": "string", "description": "Three-letter ISO 4217 currency code for the reserved IP", "x-constraints": ["must be a valid ISO 4217 code", "exactly three uppercase letters"], "example": "INR"}}}, "ipv6_addresses": {"type": "array", "items": {"type": "string", "description": "List of IPv6 address strings associated with the network", "x-constraints": ["each entry must be a valid IPv6 address", "maximum length of each address is 39 characters"], "example": "3456:96c0:0100::99"}}, "ipv6_allowed": {"type": "boolean", "description": "Indicates whether IPv6 traffic is permitted for the network.", "x-constraints": ["value must be a boolean", "must be present in the response"], "example": true}, "public_ip_address": {"type": "string", "description": "The public IPv4 address assigned to the network.", "x-constraints": ["must be a valid IPv4 address", "maximum length of 15 characters"], "example": "1.2.3.4"}, "private_ip_address": {"type": "string", "description": "The private IPv4 address assigned to the network interface.", "x-constraints": ["Must be a valid IPv4 address", "Must be within RFC1918 private address ranges"], "example": "10.2.3.4"}, "additional_ip_with_pool": {"type": "array", "items": {"type": "string", "description": "An IPv4 address assigned from the pool", "x-constraints": ["must be a valid IPv4 address", "unique within the list"], "example": "1.2.3.4"}}, "floating_ip_list": {"type": "array", "items": {"type": "string", "description": "List of floating IP addresses associated with the network", "x-constraints": ["each item must be a valid IPv4 address string", "items should be unique"], "example": "1.2.3.4"}}}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "description": "Status message indicating the result of the request", "x-constraints": ["non-empty string", "max length 255 characters"], "example": "Success"}}}}}}}}}, "/api/v1/reserve_ips/public_reserveip_actions/": {"post": {"operationId": "detach-public-ip", "summary": "Detach Public IP", "tags": ["Network"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authorize the detach public IP request", "schema": {"type": "string"}, "example": "{{base_url}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "E2E Myaccount region where the public IP is located", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["must be a valid E2E Myaccount region name (e.g., eastus, westus2)", "cannot be empty"]}], "requestBody": {"content": {"application/json": {"schema": {"oneOf": [{"type": "string", "description": "JSON-formatted string specifying the public IP to detach, the operation type, and the target VM ID", "x-constraints": ["must be valid JSON", "must contain a \"public_ip\" field", "must contain a \"type\" field set to \"detach\"", "must contain a \"vm_id\" field"], "example": "{\n    \"public_ip\": {{public_ip}},\n    \"type\": \"detach\",\n    \"vm_id\": {{vm_id}}\n}"}, {"type": "string", "description": "JSON string containing the attach public IP request payload", "x-constraints": ["must be a valid JSON object string", "required fields: public_ip, type, vm_id", "type field must be \"attach\""], "example": "{\n    \"public_ip\": {{public_ip}},\n    \"type\": \"attach\",\n    \"vm_id\": {{vm_id}}\n}"}]}}}}, "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "description": "HTTP status code of the detach operation", "x-constraints": ["integer", "value between 100 and 599"], "example": 200}, "data": {"type": "object", "properties": {"IP": {"type": "string", "description": "The public IPv4 address assigned to the detached resource", "x-constraints": ["must be a valid IPv4 address", "cannot be null"], "example": "1.2.3.4"}, "status": {"type": "string", "description": "Indicates the result status of the detach public IP operation", "x-constraints": ["must be a string", "may be empty"], "example": ""}, "vm_name": {"type": "string", "description": "Name of the virtual machine associated with the detach operation", "x-constraints": ["Must be a non-empty string", "May contain alphanumeric characters, hyphens, and underscores"], "example": "--"}}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "description": "Status message indicating the result of the detach public IP operation.", "x-constraints": ["Must be a non-empty string", "Maximum length of 255 characters"], "example": "IP Detached Successfully."}}}}}}}, "x-alternate-operations": [{"operationId": "attach-public-ip", "summary": "Attach Public IP"}], "description": "This path + method also serves **Attach Public IP** (`attach-public-ip`); select the variant via the request body."}}, "/api/v1/reserve_ips/{addon_ip}/actions/": {"post": {"operationId": "attach-addon-ipv4", "summary": "Attach AddOn IPv4", "tags": ["Network"], "parameters": [{"name": "addon_ip", "in": "path", "required": true, "description": "Path parameter `addon_ip`.", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "must be a valid non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Specifies the target location for attaching the IPv4 add-on.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["required", "must be a non-empty string"]}], "requestBody": {"content": {"application/json": {"schema": {"oneOf": [{"type": "string", "description": "JSON string with parameters to attach an IPv4 add-on to a VM", "x-constraints": ["must be valid JSON", "must contain a \"vm_id\" field", "must contain a \"type\" field set to \"attach\""], "example": "{\n    \"vm_id\": {{vm_id}},\n    \"type\": \"attach\"\n}"}, {"type": "string", "description": "JSON string representing the detach add-on IPv4 request", "x-constraints": ["must be valid JSON", "must include a \"type\" field with value \"detach\"", "must include a \"vm_id\" field"], "example": "{\n    \"type\": \"detach\",\n    \"vm_id\": {{vm_id}}\n}"}]}}}}, "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "description": "HTTP status code of the response", "x-constraints": ["integer between 100 and 599", "non-negative"], "example": 200}, "data": {"type": "object", "properties": {"IP": {"type": "string", "description": "IPv4 address of the attached add-on", "x-constraints": ["must be a valid IPv4 address", "required field"], "example": "1.2.3.4"}, "status": {"type": "string", "description": "status field", "example": "Attached"}, "vm_name": {"type": "string", "description": "Name of the virtual machine", "x-constraints": ["non-empty string", "alphanumeric characters and hyphens only", "max length 64"], "example": "C3-8GB-792"}, "vm_id": {"type": "integer", "description": "Identifier of the virtual machine", "x-constraints": ["must be an integer", "must be a positive value"], "example": 123456}}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "description": "Status message indicating the result of the IPv4 attachment operation.", "x-constraints": ["must be a non-empty string", "maximum length of 255 characters"], "example": "IP assigned Successfully."}}}}}}}, "x-alternate-operations": [{"operationId": "detach-addon-ipv4", "summary": "Detach AddOn IPv4"}], "description": "This path + method also serves **Detach AddOn IPv4** (`detach-addon-ipv4`); select the variant via the request body."}}, "/api/v1/nodes/ipv6/": {"post": {"operationId": "attach-ipv6", "summary": "Attach IPv6", "tags": ["Network"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key for authenticating the request", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Specifies the location identifier for the IPv6 attachment.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["must be a non-empty string", "maximum length of 255 characters"]}], "requestBody": {"content": {"application/json": {"schema": {"oneOf": [{"type": "string", "description": "JSON string representing the request body for attaching an IPv6 address", "x-constraints": ["must be a valid JSON string", "must include a numeric \"node_id\" field", "\"action\" field must be set to \"attach\"", "\"location\" field must be provided"], "example": "{\n    \"node_id\": {{vm_id}},\n    \"action\": \"attach\",\n    \"location\": {{location}}\n}"}, {"type": "string", "description": "JSON-encoded request body for detaching an IPv6 address", "x-constraints": ["must be a valid JSON string", "must contain the keys node_id, action, detach_ipv6, and location", "action value must be \"detach\""], "example": "{\n    \"node_id\": {{vm_id}},\n    \"action\": \"detach\",\n    \"detach_ipv6\": {{ipv6}},\n    \"location\": {{location}}\n}"}]}}}}, "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "description": "HTTP status code indicating the result of the IPv6 attachment request", "x-constraints": ["must be an integer", "must be a valid HTTP status code (e.g., 200 for success)"], "example": 200}, "data": {"type": "object", "properties": {"attached_ipv6": {"type": "string", "description": "IPv6 address attached to the resource", "x-constraints": ["must be a valid IPv6 address format", "cannot be empty"], "example": "2306:64c0:2000::59"}}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "description": "Human-readable status message for the IPv6 attachment operation.", "x-constraints": ["non-empty string", "maximum length 256 characters"], "example": "IPv6 attached successfully to the compute node."}}}}}}}, "x-alternate-operations": [{"operationId": "detach-ipv6", "summary": "Detach IPv6"}], "description": "This path + method also serves **Detach IPv6** (`detach-ipv6`); select the variant via the request body."}}, "/api/v1/reserve_ips/floating-ip/detach/": {"put": {"operationId": "detach-floating-ipv4", "summary": "Detach Floating IPv4", "tags": ["Network", "Reserve IP"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "The target region or data center for the detach operation.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["Must be a non-empty string", "Should match the service's location identifier format (e.g., alphanumeric with optional hyphens)"]}], "requestBody": {"content": {"application/json": {"schema": {"oneOf": [{"type": "string", "description": "JSON string specifying the floating IP address and node IDs to detach", "x-constraints": ["must be valid JSON", "must contain \"ip_address\" field with a valid IPv4 address", "must contain \"node_ids\" field as an array of node identifiers"], "example": "{\n    \"ip_address\": {{floating_ip}},\n    \"node_ids\": [\n        {{node_id}}\n    ]\n}"}, {"type": "object", "required": ["ip_address", "node_ids"], "properties": {"ip_address": {"type": "string", "example": "164.52.220.153"}, "node_ids": {"type": "array", "items": {"type": "integer"}, "example": [244981]}}}]}}}}, "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "description": "HTTP status code indicating the result of the detach operation", "x-constraints": ["must be an integer", "must be a valid HTTP status code (e.g., 200 for success)"], "example": 200}, "data": {"type": "object", "properties": {"ip_address": {"type": "string", "description": "IPv4 address of the detached floating IP", "x-constraints": ["must be a valid IPv4 address", "maximum length of 15 characters"], "example": "1.2.3.4"}, "node_ids": {"type": "array", "items": {"type": "integer", "description": "Array of node IDs from which the floating IPv4 address was detached", "x-constraints": ["each ID is a positive integer"], "example": 123456}}}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "description": "Human-readable status message indicating the result of the detach operation.", "x-constraints": ["Must be a non-empty string", "Maximum length 256 characters"], "example": "Floating IP is detached successfully."}}}}}}}, "x-alternate-operations": [{"operationId": "put-reserve-ips-floating-ip-detach", "summary": "Detach Floating IP"}], "description": "This path + method also serves **Detach Floating IP** (`put-reserve-ips-floating-ip-detach`); select the variant via the request body."}}, "/api/v1/reserve_ips/floating-ip/attach/": {"put": {"operationId": "attach-floating-ipv4", "summary": "Attach Floating IPv4", "tags": ["Network", "Reserve IP"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used for authenticating the request", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "must be a valid alphanumeric API key"]}, {"name": "location", "in": "query", "required": true, "description": "Specifies the target location for attaching the floating IPv4 address.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["Must be a non-empty string", "Should match a supported location identifier (e.g., region code)"]}], "requestBody": {"content": {"application/json": {"schema": {"oneOf": [{"type": "string", "description": "JSON payload to attach a floating IPv4 address to one or more nodes", "x-constraints": ["must be a valid JSON string", "requires \"ip_address\" field containing an IPv4 address", "\"node_ids\" must be a non-empty array of node identifiers"], "example": "{\n    \"ip_address\": {{floating_ip}},\n    \"node_ids\": [\n        {{node_id}}\n    ]\n}"}, {"type": "object", "properties": {"ip_address": {"type": "string", "example": "164.52.220.153"}, "node_ids": {"type": "array", "items": {"type": "integer"}, "example": [244981]}}, "required": ["ip_address", "node_ids"]}]}}}}, "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "description": "HTTP status code indicating the result of the attach operation", "x-constraints": ["must be an integer", "must be a valid HTTP status c
[...]
