{"openapi": "3.0.3", "info": {"title": "TIR API", "description": "E2E TIR \u2014 the AI/ML platform: notebooks, foundation models, fine-tuning, inference endpoints, RAG, pipelines, and data.", "version": "1.0.0"}, "servers": [{"url": "https://api.e2enetworks.com/myaccount/api/v1/gpu"}], "tags": [{"name": "AI Labs"}, {"name": "Alerts Management"}, {"name": "Container Registry"}, {"name": "Data Syncer"}, {"name": "Dataset"}, {"name": "External Integration"}, {"name": "Fine Tune Models"}, {"name": "Gateway"}, {"name": "GenAI API"}, {"name": "IAM Users"}, {"name": "Instance/VM"}, {"name": "Model Endpoints"}, {"name": "Model Evaluation"}, {"name": "Model Repository"}, {"name": "PFS"}, {"name": "Pipeline"}, {"name": "Plans & Pricing"}, {"name": "Playground API"}, {"name": "Private Cluster"}, {"name": "RAG (Chat Assistant)"}, {"name": "RAG (Knowledge Base)"}, {"name": "Reserve IP"}, {"name": "Run"}, {"name": "SFS"}, {"name": "SKU"}, {"name": "Schedule Run"}, {"name": "Security"}, {"name": "Security Groups"}, {"name": "Training Cluster"}, {"name": "Vector Database"}], "paths": {"/gpu_service/image/": {"get": {"operationId": "get-gpu-service-image", "summary": "Supported Images List", "tags": ["Instance/VM"], "description": "Returns all available notebook images and their versions. Use the `image_version_id` from the response when calling the SKU List API for notebooks.", "parameters": [{"name": "category", "in": "query", "required": true, "description": "category", "schema": {"type": "string", "enum": ["notebook"]}}, {"name": "is_advanced_search", "in": "query", "required": false, "description": "Specifies if advanced filters should be applied.", "schema": {"type": "boolean"}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "A list of available images with their details and versions", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"image_id": {"type": "integer", "example": 9}, "name": {"type": "string", "example": "Transformers"}, "slug_name": {"type": "string", "example": "nvidia-pytorch-transformers"}, "versions": {"type": "array", "items": {"type": "object", "properties": {"image_version_id": {"type": "integer", "example": 56}, "version": {"type": "string", "example": "v4.45.2"}, "cpu_image_url": {"type": "string", "nullable": true, "example": "registry.e2enetworks.net/aimle2e/nvidia-pytorch-transformers:24.03-2.3.0-4.45.2"}, "gpu_image_url": {"type": "string", "example": "registry.e2enetworks.net/aimle2e/nvidia-pytorch-transformers:24.03-2.3.0-4.45.2"}, "description": {"type": "string", "example": "Transformers v4.45.2 with Python 3.10 and NVIDIA Cuda 12.4 pre-installed on Ubuntu 22.04"}}}}, "icon_url": {"type": "string", "example": "/notebook_images/hf-logo.png"}, "description": {"type": "string", "example": "Transformers v4.31.0 with Python 3.10 and NVIDIA Cuda 12.1 pre-installed on Ubuntu 22.04"}}}}}}}}}}}}, "/notebooks/": {"get": {"operationId": "get-notebooks", "summary": "Instance / VM List", "tags": ["Instance/VM"], "description": "Returns a paginated list of compute resources in the project.\n\nUse the `kind` query parameter to filter by compute type: pass `kind=vm` to return only Virtual Machines, or `kind=container` to return only container-based Instances. **You must also pass `is_advanced_search=true` for the `kind` filter to take effect** \u2014 without it, the filter is ignored and all resources are returned.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "kind", "in": "query", "required": false, "description": "Filter results by compute type. Pass `kind=vm` to return only Virtual Machines, or `kind=container` to return only container-based Instances.\n\n**Important:** This filter only takes effect when `is_advanced_search=true` is also passed. Without it, the `kind` parameter is ignored and all resources are returned.", "schema": {"type": "string", "enum": ["vm", "container"]}}, {"name": "page_no", "in": "query", "required": false, "description": "The page number from which you want your page search results to be displayed.", "schema": {"type": "integer", "minimum": 0}}, {"name": "per_page", "in": "query", "required": false, "description": "Number of results per page", "schema": {"type": "integer", "minimum": 0}}, {"name": "order_by", "in": "query", "required": false, "schema": {"type": "string", "enum": ["notebook"]}}, {"name": "is_advanced_search", "in": "query", "required": false, "description": "Specifies if advanced filters should be applied.", "schema": {"type": "boolean"}}, {"name": "instance_category", "in": "query", "required": true, "schema": {"type": "string", "enum": ["notebook"]}}, {"name": "name", "in": "query", "required": false, "description": "Filter by name. **Requires `is_advanced_search=true`** to take effect.", "schema": {"type": "string"}}, {"name": "status", "in": "query", "required": false, "description": "Filter by resource status. **Requires `is_advanced_search=true`** to take effect.", "schema": {"type": "string", "enum": ["ready", "waiting", "terminating", "error", "Pending", "stopped"]}}, {"name": "custom", "in": "query", "required": false, "description": "Filter by image type. **Requires `is_advanced_search=true`** to take effect.", "schema": {"type": "string", "enum": ["custom", "pre-built"]}}, {"name": "sku series", "in": "query", "required": false, "description": "Filter by SKU series. **Requires `is_advanced_search=true`** to take effect.", "schema": {"type": "string", "enum": ["CPU", "GPU"]}}, {"name": "sku_type", "in": "query", "required": false, "description": "Filter by SKU type. **Requires `is_advanced_search=true`** to take effect.", "schema": {"type": "string", "enum": ["hourly", "committed"]}}], "responses": {"200": {"description": "Successful response with node details", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "message": {"type": "string", "example": "Success"}, "total_page_number": {"type": "integer", "example": 1}, "total_count": {"type": "integer", "example": 1}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 4984}, "name": {"type": "string", "example": "node-09161505088"}, "project_id": {"type": "integer", "example": 124}, "image_type": {"type": "string", "example": "pre-built"}, "image_details": {"type": "object", "properties": {"image_id": {"type": "integer", "example": 14}, "version_id": {"type": "integer", "example": 16}, "name": {"type": "string", "example": "Ubuntu"}, "icon_url": {"type": "string", "example": "/notebook_images/ubuntu.svg"}, "image_description": {"type": "string", "example": "Ubuntu 22.04 base image with Python 3.10"}, "version_description": {"type": "string", "example": "Ubuntu 22.04 base image with Python 3.10"}}}, "sku_details": {"type": "object", "properties": {"specs": {"type": "object", "properties": {"sku_id": {"type": "integer", "example": 4}, "name": {"type": "string", "example": "C3.8GB"}, "series": {"type": "string", "example": "CPU"}, "cpu": {"type": "integer", "example": 4}, "gpu": {"type": "integer", "example": 0}, "memory": {"type": "integer", "example": 8}, "is_free": {"type": "boolean", "example": false}, "is_active": {"type": "boolean", "example": true}, "gpu_switch_type": {"type": "string", "nullable": true, "example": null}, "local_storage_in_gb": {"type": "integer", "example": 0}}}, "plan": {"type": "object", "properties": {"sku_item_price_id": {"type": "integer", "example": 4}, "sku_type": {"type": "string", "example": "hourly"}, "committed_days": {"type": "integer", "example": 0}, "unit_price": {"type": "number", "format": "float", "example": 3.1}, "currency": {"type": "string", "example": "INR"}, "is_active": {"type": "boolean", "example": true}, "description": {"type": "string", "nullable": true, "example": null}}}}}, "status": {"type": "string", "example": "ready"}, "last_activity": {"type": "string", "format": "date-time", "example": "2024-09-16T09:35:18Z"}, "created_by": {"type": "object", "properties": {"id": {"type": "integer", "example": 3573}, "name": {"type": "string", "example": "Nipun"}, "email": {"type": "string", "example": "nipun.arora@e2enetworks.com"}, "username": {"type": "string", "example": "nipun.arora@e2enetworks.com"}}}, "created_at": {"type": "string", "format": "date-time", "example": "2024-09-16T09:35:18.580926Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2024-11-13T10:58:41.184577Z"}, "lab_url": {"type": "string", "example": "https://notebooks.e2enetworks.com/notebook/p-124/n-7e940564-90f0-4e55-94f0-f67891aa0b68/lab"}, "disk_size_in_gb": {"type": "integer", "example": 30}, "instance_type": {"type": "string", "example": "paid_usage"}, "ssh_keys": {"type": "array", "items": {"type": "string"}, "example": []}, "disable_ssh_login_password": {"type": "boolean", "example": true}, "public_ip": {"type": "string", "example": ""}, "e2e_registry_image_url": {"type": "string", "nullable": true, "example": null}, "egress_gateway_ip": {"type": "string", "example": "116.204.174.167"}, "add_ons": {"type": "object", "additionalProperties": true, "example": {}}, "is_jupyterlab_enabled": {"type": "boolean", "example": true}, "is_ssh_enabled": {"type": "boolean", "example": false}, "custom_ports": {"type": "array", "items": {"type": "string"}, "example": []}, "private_cloud_id": {"type": "string", "nullable": true, "example": null}, "custom_sku": {"type": "string", "nullable": true, "example": null}}}}, "errors": {"type": "object", "additionalProperties": false, "example": {}}}}}}}}}, "post": {"operationId": "post-notebooks", "summary": "Create Instance / VM", "tags": ["Instance/VM"], "description": "Creates a new compute resource.\n\n**To create a Virtual Machine**, set `\"kind\": \"vm\"` in the request body along with `\"image_type\": \"pre-built\"` and a valid `sku_item_price_id` from the Plans List API.\n\nOmitting `kind` (or setting it to any other value) creates a container-based Instance.\n\nNote: `pfs_id`, `local_pv_id`, and `is_spot_instance` are not supported for VMs.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"name": {"type": "string", "example": "node-111316563232"}, "cluster_type": {"type": "string", "example": "tir-cluster"}, "image_type": {"type": "string", "example": "pre-built"}, "is_jupyterlab_enabled": {"type": "boolean", "example": true}, "notebook_type": {"type": "string", "example": "new"}, "notebook_url": {"type": "string", "example": ""}, "disk_size_in_gb": {"type": "integer", "example": 30}, "dataset_id_list": {"type": "array", "items": {"type": "integer"}, "example": []}, "enable_ssh": {"type": "boolean", "description": "Ignored by the backend. SSH access is determined solely by whether `public_key` is provided. Include this field for compatibility but it has no effect.", "example": false}, "add_ons": {"type": "array", "items": {"type": "string"}, "example": []}, "init_script_id_list": {"type": "array", "description": "List of initialization script IDs", "items": {"type": "integer"}, "example": [120]}, "sfs_path": {"type": "string", "example": "/mnt/sfs"}, "image_version_id": {"type": "integer", "example": 59}, "sku_id": {"type": "integer", "example": 4}, "sku_item_price_id": {"type": "integer", "example": 4}, "app_id": {"type": "integer", "example": 1}, "instance_type": {"type": "string", "example": "paid_usage"}, "kind": {"type": "string", "description": "Set to `\"vm\"` to create a full OS Virtual Machine instead of a container-based Instance. Omit or leave empty for Instances.", "enum": ["vm"], "example": "vm"}, "public_key": {"type": "array", "description": "SSH public key strings to authorize at creation time. **The key must already be saved in your TIR account** (via Security \u2192 SSH Keys) \u2014 the backend looks up keys by exact string match against your saved keys. Providing an unregistered key string is silently ignored and SSH will remain disabled. This is the only way to enable SSH; `enable_ssh` has no effect.", "items": {"type": "string"}, "example": ["ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIGEGHcYy..."]}, "security_group_id": {"type": "integer", "description": "ID of a Security Group to attach at creation time.", "example": 11442}, "is_pvc_encrypted": {"type": "boolean", "description": "Whether to encrypt the workspace disk. Defaults to false.", "example": false}, "pfs_path": {"type": "string", "description": "Mount path for Parallel File Storage (not supported for VMs).", "example": "/mnt/pfs"}, "pfs_read_only": {"type": "boolean", "description": "Whether to mount PFS in read-only mode (not supported for VMs).", "example": false}}}}}}, "responses": {"201": {"description": "Node created successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 201}, "message": {"type": "string", "example": "Created Successfully"}, "data": {"type": "object", "properties": {"id": {"type": "integer", "example": 5633}, "name": {"type": "string", "example": "node-11131656asd3232"}, "project_id": {"type": "integer", "example": 124}, "image_type": {"type": "string", "example": "pre-built"}, "image_details": {"type": "object", "properties": {"image_id": {"type": "integer", "example": 9}, "version_id": {"type": "integer", "example": 56}, "name": {"type": "string", "example": "Transformers"}, "icon_url": {"type": "string", "example": "/notebook_images/hf-logo.png"}, "image_description": {"type": "string", "example": "Transformers v4.31.0 with Python 3.10 and NVIDIA Cuda 12.1 pre-installed on Ubuntu 22.04"}, "version_description": {"type": "string", "example": "Transformers v4.45.2 with Python 3.10 and NVIDIA Cuda 12.4 pre-installed on Ubuntu 22.04"}}}, "sku_details": {"type": "object", "properties": {"specs": {"type": "object", "properties": {"sku_id": {"type": "integer", "example": 4}, "name": {"type": "string", "example": "C3.8GB"}, "series": {"type": "string", "example": "CPU"}, "cpu": {"type": "integer", "example": 4}, "gpu": {"type": "integer", "example": 0}, "memory": {"type": "integer", "example": 8}, "is_free": {"type": "boolean", "example": false}, "is_active": {"type": "boolean", "example": true}, "gpu_switch_type": {"type": "string", "nullable": true, "example": null}, "local_storage_in_gb": {"type": "integer", "example": 0}}}, "plan": {"type": "object", "properties": {"sku_item_price_id": {"type": "integer", "example": 4}, "sku_type": {"type": "string", "example": "hourly"}, "committed_days": {"type": "integer", "example": 0}, "unit_price": {"type": "number", "format": "float", "example": 3.1}, "currency": {"type": "string", "example": "INR"}, "is_active": {"type": "boolean", "example": true}, "description": {"type": "string", "nullable": true, "example": null}}}}}, "status": {"type": "string", "example": "waiting"}, "last_activity": {"type": "string", "nullable": true, "format": "date-time", "example": null}, "created_by": {"type": "object", "properties": {"id": {"type": "integer", "example": 3573}, "name": {"type": "string", "example": "Nipun"}, "email": {"type": "string", "example": "nipun.arora@e2enetworks.com"}, "username": {"type": "string", "example": "nipun.arora@e2enetworks.com"}}}, "created_at": {"type": "string", "format": "date-time", "example": "2024-11-13T11:30:13.267193Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2024-11-13T11:30:13.327815Z"}, "lab_url": {"type": "string", "nullable": true, "example": null}, "disk_size_in_gb": {"type": "integer", "example": 30}, "instance_type": {"type": "string", "example": "paid_usage"}, "ssh_keys": {"type": "array", "items": {"type": "string"}, "example": []}, "disable_ssh_login_password": {"type": "boolean", "example": true}, "public_ip": {"type": "string", "example": ""}, "e2e_registry_image_url": {"type": "string", "nullable": true, "example": null}, "egress_gateway_ip": {"type": "string", "example": "116.204.174.145"}, "add_ons": {"type": "object", "additionalProperties": true, "example": {}}, "is_jupyterlab_enabled": {"type": "boolean", "example": true}, "is_ssh_enabled": {"type": "boolean", "example": false}, "custom_ports": {"type": "array", "items": {"type": "string"}, "example": []}, "private_cloud_id": {"type": "string", "nullable": true, "example": null}, "custom_sku": {"type": "string", "nullable": true, "example": null}}}, "errors": {"type": "object", "additionalProperties": false, "example": {}}}}}}}}}}, "/notebooks/{Instance_id}/actions/": {"put": {"operationId": "put-notebooks-instance-id-actions", "summary": "Start-Stop/Attach-Detach ReserveIp", "tags": ["Instance/VM"], "description": "Perform lifecycle actions on an Instance or Virtual Machine using the `action` query parameter.\n\n**For Virtual Machines**, use `action=start`, `action=stop`, or `action=restart`. Startup scripts run automatically on every boot.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "Instance_id", "in": "path", "required": true, "description": "Instance ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "action", "in": "query", "required": true, "schema": {"type": "string", "enum": ["Start", "Stop", "Restart", "attach_reserve_ip", "detach_reserve_ip"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"reserved_ip_id": {"type": "integer", "example": 49}}, "required": ["reserved_ip_id"]}}}, "required": true}, "responses": {"200": {"description": "Notebook started or stopped successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "message": {"type": "string", "example": "Notebook stopped/started successfully"}, "data": {"type": "object", "properties": {}, "additionalProperties": false, "example": {}}, "errors": {"type": "object", "additionalProperties": false, "example": {}}}}}}}}}}, "/notebooks/{Instance_id}/save_image/": {"post": {"operationId": "post-notebooks-instance-id-save-image", "summary": "Save Image", "tags": ["Instance/VM"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "Instance_id", "in": "path", "required": true, "description": "Instance ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"registry_namespace_id": {"type": "integer", "description": "ID of the container registry namespace where the image will be stored", "example": 123}, "image_name": {"type": "string", "description": "Name of the image to be saved", "example": "nginx"}, "image_tag": {"type": "string", "description": "Tag assigned to the saved image", "example": "v2"}}}, "example": {"registry_namespace_id": 123, "image_name": "nginx", "image_tag": "v2"}}}, "required": true}, "responses": {"201": {"description": "Image saved successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 201}, "data": {"type": "object", "properties": {"id": {"type": "integer", "example": 804}, "created_by": {"type": "object", "properties": {"id": {"type": "integer", "example": 4946}, "name": {"type": "string", "example": "Tushar Tushar"}, "email": {"type": "string", "example": "tushar@e2enetworks.com"}, "username": {"type": "string", "example": "tushar@e2enetworks.com"}}}, "notebook_id": {"type": "integer", "example": 18783}, "image_name": {"type": "string", "example": "nginx"}, "image_tag": {"type": "string", "example": "v2"}, "e2e_registry_id": {"type": "integer", "example": 646}, "e2e_registry_name": {"type": "string", "example": "rajcr03"}, "status": {"type": "string", "example": "Building"}, "created_at": {"type": "string", "example": "2026-03-09T05:13:31.301049Z"}, "size": {"type": "integer", "nullable": true, "example": null}, "app": {"type": "object", "properties": {"id": {"type": "integer", "example": 3}, "name": {"type": "string", "example": "jupyter_labs"}, "app_url": {"type": "string", "example": "/lab"}, "icon_url": {"type": "string", "example": ""}, "is_ssh_required": {"type": "boolean", "example": false}, "display_name": {"type": "string", "example": "Jupyter Labs"}}}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Created Successfully"}}}}}}}}}, "/notebooks/{Instance_id}/pvc/upgrade/": {"put": {"operationId": "put-notebooks-instance-id-pvc-upgrade", "summary": "Increase Disk Size", "tags": ["Instance/VM"], "description": "Increases the workspace disk size. Disk size can only be increased, not reduced. Works for both Instances and Virtual Machines.\n\n**For Virtual Machines**: after resizing, the new storage is not automatically visible inside the VM. To apply the new size, either restart the VM or run these commands while it is running: ``` sudo partprobe && sudo growpart /dev/vda 1 && sudo resize2fs /dev/vda1 ```", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "Instance_id", "in": "path", "required": true, "description": "Instance ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"size": {"type": "integer", "description": "The size value"}}, "example": {"size": 76}}}}, "required": true}, "responses": {"200": {"description": "Disk size upgraded successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "message": {"type": "string", "example": "Disk Size upgraded successfully. It can take a few minutes for the changes to get reflected"}, "data": {"type": "object", "properties": {"id": {"type": "integer", "example": 5632}, "name": {"type": "string", "example": "node-111316563232"}, "project_id": {"type": "integer", "example": 124}, "image_type": {"type": "string", "example": "pre-built"}, "image_details": {"type": "object", "properties": {"image_id": {"type": "integer", "example": 9}, "version_id": {"type": "integer", "example": 56}, "name": {"type": "string", "example": "Transformers"}, "icon_url": {"type": "string", "example": "/notebook_images/hf-logo.png"}, "image_description": {"type": "string", "example": "Transformers v4.31.0 with Python 3.10 and NVIDIA Cuda 12.1 pre-installed on Ubuntu 22.04"}, "version_description": {"type": "string", "example": "Transformers v4.45.2 with Python 3.10 and NVIDIA Cuda 12.4 pre-installed on Ubuntu 22.04"}}}, "sku_details": {"type": "object", "properties": {"specs": {"type": "object", "properties": {"sku_id": {"type": "integer", "example": 4}, "name": {"type": "string", "example": "C3.8GB"}, "series": {"type": "string", "example": "CPU"}, "cpu": {"type": "integer", "example": 4}, "gpu": {"type": "integer", "example": 0}, "memory": {"type": "integer", "example": 8}, "is_free": {"type": "boolean", "example": false}, "is_active": {"type": "boolean", "example": true}, "gpu_switch_type": {"type": "string", "nullable": true, "example": null}, "local_storage_in_gb": {"type": "integer", "example": 0}}}, "plan": {"type": "object", "properties": {"sku_item_price_id": {"type": "integer", "example": 4}, "sku_type": {"type": "string", "example": "hourly"}, "committed_days": {"type": "integer", "example": 0}, "unit_price": {"type": "number", "format": "float", "example": 3.1}, "currency": {"type": "string", "example": "INR"}, "is_active": {"type": "boolean", "example": true}, "description": {"type": "string", "nullable": true, "example": null}}}}}, "status": {"type": "string", "example": "ready"}, "last_activity": {"type": "string", "format": "date-time", "example": "2024-11-13T11:27:27Z"}, "created_by": {"type": "object", "properties": {"id": {"type": "integer", "example": 3573}, "name": {"type": "string", "example": "Nipun"}, "email": {"type": "string", "example": "nipun.arora@e2enetworks.com"}, "username": {"type": "string", "example": "nipun.arora@e2enetworks.com"}}}, "created_at": {"type": "string", "format": "date-time", "example": "2024-11-13T11:27:27.186708Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2024-11-13T11:42:32.188962Z"}, "lab_url": {"type": "string", "example": "https://notebooks.e2enetworks.com/notebook/p-124/n-3cadd904-9532-4f91-a865-85e8b1509699/lab"}, "disk_size_in_gb": {"type": "integer", "example": 31}, "instance_type": {"type": "string", "example": "paid_usage"}, "ssh_keys": {"type": "array", "items": {"type": "string"}, "example": []}, "disable_ssh_login_password": {"type": "boolean", "example": true}, "public_ip": {"type": "string", "example": ""}, "e2e_registry_image_url": {"type": "string", "nullable": true, "example": null}, "egress_gateway_ip": {"type": "string", "example": "116.204.174.139"}, "add_ons": {"type": "object", "additionalProperties": true, "example": {}}, "is_jupyterlab_enabled": {"type": "boolean", "example": true}, "is_ssh_enabled": {"type": "boolean", "example": false}, "custom_ports": {"type": "array", "items": {"type": "string"}, "example": []}, "private_cloud_id": {"type": "string", "nullable": true, "example": null}, "custom_sku": {"type": "string", "nullable": true, "example": null}}}, "errors": {"type": "object", "additionalProperties": false, "example": {}}}}}}}}}}, "/notebooks/{Instance_id}/events/": {"get": {"operationId": "get-notebooks-instance-id-events", "summary": "Events Log", "tags": ["Instance/VM"], "description": "Returns a chronological log of lifecycle events for an Instance or Virtual Machine. Use this to debug startup failures or track activity.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "Instance_id", "in": "path", "required": true, "description": "Instance ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Lifecycle events log for an Instance or Virtual Machine", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"event_type": {"type": "string", "example": "VM_STARTED"}, "message": {"type": "string", "example": "VM started successfully"}, "timestamp": {"type": "string", "format": "date-time", "example": "2025-04-10T09:00:00Z"}, "reason": {"type": "string", "nullable": true, "example": null}}}}}}}}}}}}, "/notebooks/{Instance_id}/security-groups/": {"get": {"operationId": "get-notebooks-instance-id-security-groups", "summary": "List Security Groups", "tags": ["Instance/VM"], "description": "Returns all Security Groups attached to the Instance or Virtual Machine.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "Instance_id", "in": "path", "required": true, "description": "Instance ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "List of Security Groups attached to the Instance or Virtual Machine", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 45}, "name": {"type": "string", "example": "allow-ssh"}, "description": {"type": "string", "example": "Allows inbound SSH on port 22"}}}}}}}}}}}, "post": {"operationId": "post-notebooks-instance-id-security-groups", "summary": "Attach Security Group", "tags": ["Instance/VM"], "description": "Attaches one or more Security Groups to the Instance or Virtual Machine.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "Instance_id", "in": "path", "required": true, "description": "Instance ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"security_groups_ids": {"type": "array", "items": {"type": "integer"}, "example": [0, 0]}}}}}, "required": true}, "responses": {"200": {"description": "Security group added successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "string", "example": "Security group addition successful"}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/notebooks/{Instance_id}/security-groups/{security_group_id}/": {"delete": {"operationId": "delete-notebooks-instance-id-security-groups-security-group-id", "summary": "Detach Security Group", "tags": ["Instance/VM"], "description": "Removes a Security Group from the Instance or Virtual Machine.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "Instance_id", "in": "path", "required": true, "description": "Instance ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "security_group_id", "in": "path", "required": true, "description": "Security Group ID", "schema": {"type": "integer", "minimum": 0}}], "responses": {"200": {"description": "Security group removed successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "string", "example": "Security group removal successful"}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/notebooks/{Instance_id}/ssh-keys/": {"get": {"operationId": "get-notebooks-instance-id-ssh-keys", "summary": "List SSH Keys", "tags": ["Instance/VM"], "description": "Returns the SSH public keys currently authorized to access the Instance or Virtual Machine.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "Instance_id", "in": "path", "required": true, "description": "Instance ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "List of authorized SSH keys", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 12}, "name": {"type": "string", "example": "my-laptop-key"}, "public_key": {"type": "string", "example": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAAB..."}}}}}}}}}}}, "put": {"operationId": "put-notebooks-instance-id-ssh-keys", "summary": "Add SSH key", "tags": ["Instance/VM"], "description": "Adds SSH public keys to an Instance or Virtual Machine. Key changes take effect within seconds \u2014 no restart required.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "Instance_id", "in": "path", "required": true, "description": "Instance ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"ssh_keys_to_add": {"type": "array", "items": {"type": "string"}, "description": "List of SSH keys to be added"}}, "example": {"ssh_keys_to_add": ["ssh-rsa AAAAB3NzaC1yc2..........................Enjr.local"]}}}}, "required": true}, "responses": {"200": {"description": "Operation successful, but no data returned", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "message": {"type": "string", "example": "Success"}, "data": {"type": "object", "properties": {}, "additionalProperties": false, "example": {}}, "errors": {"type": "object", "additionalProperties": false, "example": {}}}}}}}}}, "delete": {"operationId": "delete-notebooks-instance-id-ssh-keys", "summary": "Remove SSH Access", "tags": ["Instance/VM"], "description": "Removes all SSH keys from the Instance or Virtual Machine, disabling SSH access.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "Instance_id", "in": "path", "required": true, "description": "Instance ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"default": {"description": "Successful response"}}}}, "/notebooks/{Instance_id}/": {"get": {"operationId": "get-notebooks-instance-id", "summary": "Get Instance / VM Details", "tags": ["Instance/VM"], "description": "Returns full details of an Instance or Virtual Machine, including SSH keys, security groups, startup scripts, and attached datasets. For Virtual Machines, also returns the public IP and any reserved IP details.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "Instance_id", "in": "path", "required": true, "description": "Instance ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Full details of an Instance or Virtual Machine", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"id": {"type": "integer", "example": 5633}, "name": {"type": "string", "example": "my-gpu-vm"}, "kind": {"type": "string", "example": "vm"}, "status": {"type": "string", "enum": ["waiting", "running", "stopped", "error"], "example": "running"}, "public_ip": {"type": "string", "nullable": true, "example": "203.0.113.42"}, "image_type": {"type": "string", "example": "pre-built"}, "image_details": {"type": "object", "properties": {"name": {"type": "string", "example": "Ubuntu"}, "icon_url": {"type": "string", "example": "/notebook_images/ubuntu.svg"}, "image_description": {"type": "string", "example": "Ubuntu 22.04 base image with Python 3.10"}}}, "sku_details": {"type": "object", "properties": {"specs": {"type": "object", "properties": {"name": {"type": "string", "example": "GDC.1xH100-SXM5-80GB"}, "cpu": {"type": "integer", "example": 26}, "gpu": {"type": "integer", "example": 1}, "memory": {"type": "string", "example": "240GB"}}}}}, "disk_size_in_gb": {"type": "integer", "example": 100}, "instance_type": {"type": "string", "example": "paid_usage"}, "ssh_keys": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 12}, "name": {"type": "string", "example": "my-laptop-key"}}}}, "security_groups": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 45}, "name": {"type": "string", "example": "allow-ssh"}}}}, "init_scripts": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 8}, "name": {"type": "string", "example": "01_install.sh"}}}}, "reserve_ip": {"type": "array", "nullable": true, "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 99}, "ip_address": {"type": "string", "example": "203.0.113.42"}}}}, "custom_ports": {"type": "array", "items": {"type": "object", "properties": {"protocol": {"type": "string", "example": "TCP"}, "port": {"type": "integer", "example": 8888}}}}, "is_pvc_encrypted": {"type": "boolean", "example": false}, "created_at": {"type": "string", "format": "date-time", "example": "2025-04-10T08:30:00Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2025-04-10T09:00:00Z"}}}}}}}}, "404": {"description": "Instance or VM not found", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 404}, "message": {"type": "string", "example": "Not found"}}}}}}}}, "put": {"operationId": "put-notebooks-instance-id", "summary": "Update Plan", "tags": ["Instance/VM"], "description": "Upgrade or downgrade the hardware plan (SKU) of an Instance or Virtual Machine. The resource must be stopped before changing its plan.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "Instance_id", "in": "path", "required": true, "description": "Instance ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"cluster_type": {"type": "string", "description": "The type of the cluster"}, "sku_id": {"type": "integer", "description": "The SKU ID"}, "sku_item_price_id": {"type": "integer", "description": "The SKU item price ID"}}}}}, "required": true}, "responses": {"200": {"description": "Notebook details retrieved successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "message": {"type": "string", "example": "Success"}, "data": {"type": "object", "properties": {"id": {"type": "integer", "example": 5633}, "name": {"type": "string", "example": "node-11131656asd3232"}, "project_id": {"type": "integer", "example": 124}, "image_type": {"type": "string", "example": "pre-built"}, "image_details": {"type": "object", "properties": {"image_id": {"type": "integer", "example": 9}, "version_id": {"type": "integer", "example": 56}, "name": {"type": "string", "example": "Transformers"}, "icon_url": {"type": "string", "example": "/notebook_images/hf-logo.png"}, "image_description": {"type": "string", "example": "Transformers v4.31.0 with Python 3.10 and NVIDIA Cuda 12.1 pre-installed on Ubuntu 22.04"}, "version_description": {"type": "string", "example": "Transformers v4.45.2 with Python 3.10 and NVIDIA Cuda 12.4 pre-installed on Ubuntu 22.04"}}}, "sku_details": {"type": "object", "properties": {"specs": {"type": "object", "properties": {"sku_id": {"type": "integer", "example": 4}, "name": {"type": "string", "example": "C3.8GB"}, "series": {"type": "string", "example": "CPU"}, "cpu": {"type": "integer", "example": 4}, "gpu": {"type": "integer", "example": 0}, "memory": {"type": "integer", "example": 8}, "is_free": {"type": "boolean", "example": false}, "is_active": {"type": "boolean", "example": true}, "gpu_switch_type": {"type": "string", "nullable": true, "example": null}, "local_storage_in_gb": {"type": "integer", "example": 0}}}, "plan": {"type": "object", "properties": {"sku_item_price_id": {"type": "integer", "example": 5}, "sku_type": {"type": "string", "example": "hourly"}, "committed_days": {"type": "integer", "example": 0}, "unit_price": {"type": "number", "format": "float", "example": 3.1}, "currency": {"type": "string", "example": "INR"}, "is_active": {"type": "boolean", "example": true}, "description": {"type": "string", "nullable": true, "example": null}}}}}, "status": {"type": "string", "example": "stopped"}, "last_activity": {"type": "string", "nullable": true, "example": null}, "created_by": {"type": "object", "properties": {"id": {"type": "integer", "example": 3573}, "name": {"type": "string", "example": "Nipun"}, "email": {"type": "string", "example": "nipun.arora@e2enetworks.com"}, "username": {"type": "string", "example": "nipun.arora@e2enetworks.com"}}}, "created_at": {"type": "string", "format": "date-time", "example": "2024-11-13T11:30:13.267193Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2024-11-13T12:04:13.981427Z"}, "lab_url": {"type": "string", "nullable": true, "example": null}, "disk_size_in_gb": {"type": "integer", "example": 30}, "instance_type": {"type": "string", "example": "paid_usage"}, "ssh_keys": {"type": "array", "items": {"type": "string"}, "example": []}, "disable_ssh_login_password": {"type": "boolean", "example": true}, "public_ip": {"type": "string", "example": ""}, "e2e_registry_image_url": {"type": "string", "nullable": true, "example": null}, "egress_gateway_ip": {"type": "string", "example": "116.204.174.145"}, "add_ons": {"type": "object", "additionalProperties": false, "example": {}}, "is_jupyterlab_enabled": {"type": "boolean", "example": true}, "is_ssh_enabled": {"type": "boolean", "example": false}, "custom_ports": {"type": "array", "items": {"type": "string"}, "example": []}, "private_cloud_id": {"type": "string", "nullable": true, "example": null}, "custom_sku": {"type": "string", "nullable": true, "example": null}}}, "errors": {"type": "object", "additionalProperties": false, "example": {}}}}}}}}}, "delete": {"operationId": "delete-notebooks-instance-id", "summary": "Delete Instance / VM", "tags": ["Instance/VM"], "description": "Permanently deletes the Instance or Virtual Machine and its workspace disk. **This action cannot be undone.** Back up any important data before deleting.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "Instance_id", "in": "path", "required": true, "description": "Instance ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Notebook deleted successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "message": {"type": "string", "example": "Notebook deleted successfully"}, "data": {"type": "object", "additionalProperties": false, "example": {}}, "errors": {"type": "object", "additionalProperties": false, "example": {}}}}}}}}}}, "/notebooks/{Instance_id}/metrics/gauge/all/": {"get": {"operationId": "get-notebooks-instance-id-metrics-gauge-all", "summary": "Monitoring", "tags": ["Instance/VM"], "description": "Returns current resource utilization metrics. Works for both Instances and Virtual Machines \u2014 returns CPU, memory, and GPU utilization.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "Instance_id", "in": "path", "required": true, "description": "Instance ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Node metrics retrieved successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"pvc_metrics": {"type": "object", "properties": {"pvc_capacity": {"type": "string", "example": "29412593664"}, "used_pvc_storage": {"type": "string", "example": "57860096"}}}, "memory_metrics": {"type": "object", "properties": {"memory_capacity": {"type": "string", "example": "15998753178"}, "used_memory_capacity": {"type": "string", "example": "117813248"}}}, "ephemeral_storage_metrics": {"type": "object", "properties": {"ephemeral_storage_capacity": {"type": "string", "example": "50000000000"}, "used_ephemeral_storage": {"type": "string", "example": "868352"}}}, "gpu_metrics": {"type": "object", "properties": {"avg_gpu_utilization": {"type": "string", "nullable": true, "example": ""}, "avg_gpu_temperature": {"type": "string", "nullable": true, "example": ""}, "avg_gpu_power": {"type": "string", "nullable": true, "example": ""}, "used_gpu_memory": {"type": "string", "nullable": true, "example": ""}, "total_gpu_memory": {"type": "string", "nullable": true, "example": ""}}}, "cpu_metrics": {"type": "object", "properties": {"avg_cpu_utilization": {"type": "string", "example": "0.14139347820001158"}, "avg_memory_utilization": {"type": "string", "example": "0.5931316606002083"}, "uptime": {"type": "string", "example": "136.91499996185303"}}}, "gpu_performance_metrics": {"type": "object", "properties": {"avg_memory_bandwidth": {"type": "string", "nullable": true, "example": ""}, "avg_tensor_throughput": {"type": "string", "nullable": true, "example": ""}, "pcie_throughput": {"type": "string", "nullable": true, "example": ""}}}}}, "errors": {"type": "object", "additionalProperties": false, "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/notebooks/{Instance_id}/metrics/container_cpu_usage_seconds_total/": {"get": {"operationId": "get-notebooks-instance-id-metrics-container-cpu-usage-seconds-total", "summary": "CPU Utilization", "tags": ["Instance/VM"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "Instance_id", "in": "path", "required": true, "description": "Instance ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "interval", "in": "query", "required": true, "description": "Interval for the data", "schema": {"type": "string", "enum": ["5m", "1h", "1d", "7d", "1mn"]}, "example": "5m for 5min ,1h for 1 hour, 1d for 1 day, 7d for 7 days, 1mn for 1 month"}], "responses": {"200": {"description": "Time series metrics retrieved successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"time_series": {"type": "array", "items": {"type": "string"}, "example": ["11:58:48AM", "11:59:03AM", "11:59:18AM", "11:59:33AM", "11:59:48AM"]}, "value_series": {"type": "array", "items": {"type": "string"}, "example": ["0.032537415427217456", "0.03272080373466566", "0.032955218299105596", "0.033358756045318946", "0.03358186154866349"]}}}, "errors": {"type": "object", "additionalProperties": false, "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/notebooks/{Instance_id}/metrics/container_memory_usage_bytes/": {"get": {"operationId": "get-notebooks-instance-id-metrics-container-memory-usage-bytes", "summary": "Memory Utilization", "tags": ["Instance/VM"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "Instance_id", "in": "path", "required": true, "description": "Instance ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "interval", "in": "query", "required": true, "description": "Interval for the data", "schema": {"type": "string", "enum": ["5m", "1h", "1d", "7d", "1mn"]}, "example": "5m for 5min ,1h for 1 hour, 1d for 1 day, 7d for 7 days, 1mn for 1 month"}], "responses": {"200": {"description": "Node memory usage time-series metrics retrieved successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"time_series": {"type": "array", "items": {"type": "string"}, "example": ["11:58:35AM", "11:58:50AM", "11:59:05AM", "11:59:20AM", "11:59:35AM"]}, "value_series": {"type": "array", "items": {"type": "string"}, "example": ["96182272", "96309248", "96313344", "96313344", "96313344"]}}}, "errors": {"type": "object", "additionalProperties": false, "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/notebooks/init-script/": {"get": {"operationId": "get-notebooks-init-script", "summary": "Get Start Scripts", "tags": ["Instance/VM"], "description": "Returns all startup scripts in the project. These scripts run automatically on every Instance or Virtual Machine boot, in alphabetical order by name.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Start script listed successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "message": {"type": "string", "example": "Success"}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 172}, "name": {"type": "string", "example": "Instance-script-25111112519"}, "init_script": {"type": "string", "example": "# !/bin/bash\nsudo apt update -y\n"}, "created_by": {"type": "object", "properties": {"id": {"type": "integer", "example": 12477}, "name": {"type": "string", "example": "Raj Singh"}, "email": {"type": "string", "example": "test@gmail.com"}, "username": {"type": "string", "example": "test@gmail.com"}}}}}}, "errors": {"type": "object", "additionalProperties": false, "example": {}}}}}}}}}, "post": {"operationId": "post-notebooks-init-script", "summary": "Create Start Script", "tags": ["Instance/VM"], "description": "Creates a new startup script. Scripts run on every boot in alphabetical order. Use prefixes like `01_install.sh`, `02_setup.sh` for reliable ordering. Works for both Instances and Virtual Machines.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"name": {"type": "string", "description": "The name of the start script"}, "init_script": {"type": "string", "description": "The start script content"}}}}}, "required": true}, "responses": {"201": {"description": "Start script created successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 201}, "message": {"type": "string", "example": "Created Successfully"}, "data": {"type": "object", "properties": {"id": {"type": "integer", "example": 177}, "name": {"type": "string", "example": "test-script-1"}, "init_script": {"type": "string", "example": "# !/bin/bash\nsudo apt update -y\n"}, "created_by": {"type": "object", "properties": {"id": {"type": "integer", "example": 12477}, "name": {"type": "string", "example": "Raj Singh"}, "email": {"type": "string", "example": "test@gmail.com"}, "username": {"type": "string", "example": "test@gmail.com"}}}}}, "errors": {"type": "object", "additionalProperties": false, "example": {}}}}}}}}}}, "/notebooks/init-script/{Start_Script_Id}/": {"put": {"operationId": "put-notebooks-init-script-start-script-id", "summary": "Update Start Script", "tags": ["Instance/VM"], "description": "Updates the name or content of a startup script. Works for both Instances and Virtual Machines.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "Start_Script_Id", "in": "path", "required": true, "description": "Start Script Id", "schema": {"type": "integer", "minimum": 0}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"name": {"type": "string", "description": "The updated name of the start script"}, "init_script": {"type": "string", "description": "The updated start script content"}}}}}, "required": true}, "responses": {"default": {"description": "Successful response"}}}, "delete": {"operationId": "delete-notebooks-init-script-start-script-id", "summary": "Delete Start Script", "tags": ["Instance/VM"], "description": "Permanently deletes a startup script. It will no longer run on boot. Works for both Instances and Virtual Machines.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "Start_Script_Id", "in": "path", "required": true, "description": "Start Script Id", "schema": {"type": "integer", "minimum": 0}}], "responses": {"200": {"description": "Start script deleted successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "message": {"type": "string", "example": "Init Script deleted successfully"}, "data": {"type": "object", "additionalProperties": false, "example": {}}, "errors": {"type": "object", "additionalProperties": false, "example": {}}}}}}}}}}, "/notebooks/{Instance_id}/init-script/": {"put": {"operationId": "put-notebooks-instance-id-init-script", "summary": "Attach Startup Scripts to Instance / VM", "tags": ["Instance/VM"], "description": "Attaches one or more startup scripts to a specific Instance or Virtual Machine. Scripts run on every boot in alphabetical order by name.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "Instance_id", "in": "path", "required": true, "description": "Instance ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"name": {"type": "string", "description": "The name of the start script"}, "init_script": {"type": "string", "description": "The start script content"}}}}}, "required": true}, "responses": {"200": {"description": "Start script updated successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "message": {"type": "string", "example": "Success"}, "data": {"type": "object", "properties": {"id": {"type": "integer", "example": 177}, "name": {"type": "string", "example": "Instance-fds-25111112519"}, "init_script": {"type": "string", "example": "# !/bin/bash\nsudo apt updafste -y\nfasdfasdf\n"}, "created_by": {"type": "object", "properties": {"id": {"type": "integer", "example": 12477}, "name": {"type": "string", "example": "Raj Singh"}, "email": {"type": "string", "example": "test@gmail.com"}, "username": {"type": "string", "example": "test@gmail.com"}}}}}, "errors": {"type": "object", "additionalProperties": false, "example": {}}}}}}}}}}, "/notebooks/{Instance_id}/alerts/": {"get": {"operationId": "get-notebooks-instance-id-alerts", "summary": "Notebook Alerts List", "tags": ["Instance/VM"], "description": "Retrieve all alerts attached to a specific notebook instance with pagination support.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "Instance_id", "in": "path", "required": true, "description": "Instance ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "page_no", "in": "query", "required": false, "description": "The page number from which you want your page search results to be displayed.", "schema": {"type": "integer", "minimum": 0}}, {"name": "per_page", "in": "query", "required": false, "description": "Number of results per page", "schema": {"type": "integer", "minimum": 0}}], "responses": {"200": {"description": "Successful response with notebook alerts list", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "message": {"type": "string", "example": "Success"}, "total_page_number": {"type": "integer", "example": 1}, "total_count": {"type": "integer", "example": 1}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 19}, "notebook": {"type": "integer", "example": 19919}, "notebook_name": {"type": "string", "example": "instance-name"}, "alert": {"type": "object", "properties": {"id": {"type": "integer", "example": 57}, "name": {"type": "string", "example": "alert-name"}, "location": {"type": "string", "example": "Delhi"}, "resource_type": {"type": "string", "example": "Instance"}, "metric_type": {"type": "string", "example": "Ephemeral Storage"}, "metric_type_unit": {"type": "string", "example": "%"}, "operator": {"type": "string", "example": "Less Than"}, "threshold_value": {"type": "number", "format": "float", "example": 23}, "severity": {"type": "string", "example": "Warning"}, "created_by": {"type": "object", "properties": {"id": {"type": "integer", "example": 1001}, "name": {"type": "string", "example": "User Name"}, "email": {"type": "string", "example": "user@example.com"}, "username": {"type": "string", "example": "user@example.com"}}}, "created_at": {"type": "string", "format": "date-time", "example": "2026-03-25T09:04:09Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2026-03-25T09:04:09Z"}}}, "alert_name": {"type": "string", "example": "alert-name"}, "grafana_rule_uid": {"type": "string", "example": "bfh2k92v7tb0ge"}, "is_firing": {"type": "boolean", "example": false}, "created_at": {"type": "string", "format": "date-time", "example": "2026-03-25T09:42:31Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2026-03-25T09:42:31Z"}}}}, "errors": {"type": "object", "additionalProperties": false, "example": {}}}}}}}}}, "post": {"operationId": "post-notebooks-instance-id-alerts", "summary": "Attach Alert", "tags": ["Instance/VM"], "description": "Attach an existing alert to a notebook instance.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "Instance_id", "in": "path", "required": true, "description": "Instance ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"alert_id": {"type": "integer", "description": "Alert ID to be attached to the notebook", "example": 57}}}}}, "required": true}, "responses": {"200": {"description": "Alert attached successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "message": {"type": "string", "example": "Success"}, "data": {"type": "object", "properties": {"id": {"type": "integer", "example": 18}, "notebook": {"type": "integer", "example": 19919}, "notebook_name": {"type": "string", "example": "instance-26032514331"}, "alert": {"type": "object", "properties": {"id": {"type": "integer", "example": 57}, "name": {"type": "string", "example": "alert-260325143350"}, "location": {"type": "string", "example": "Delhi"}, "resource_type": {"type": "string", "example": "Instance"}, "metric_type": {"type": "string", "example": "Ephemeral Storage"}, "metric_type_unit": {"type": "string", "example": "%"}, "operator": {"type": "string", "example": "Less Than"}, "threshold_value": {"type": "number", "format": "float", "example": 23}, "severity": {"type": "string", "example": "Warning"}, "created_by": {"type": "object", "properties": {"id": {"type": "integer", "example": 1001}, "name": {"type": "string", "example": "User Name"}, "email": {"type": "string", "example": "user@example.com"}, "username": {"type": "string", "example": "user@example.com"}}}, "created_at": {"type": "string", "format": "date-time", "example": "2026-03-25T09:04:09Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2026-03-25T09:04:09Z"}}}, "alert_name": {"type": "string", "example": "alert-260325143350"}, "grafana_rule_uid": {"type": "string", "example": "efh2jjjodxq80c"}, "created_at": {"type": "string", "format": "date-time", "example": "2026-03-25T09:34:34Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2026-03-25T09:34:34Z"}}}, "errors": {"type": "object", "additionalProperties": false, "example": {}}}}}}}}}}, "/notebooks/{Instance_id}/alerts/{alert_id}/": {"delete": {"operationId": "delete-notebooks-instance-id-alerts-alert-id", "summary": "Detach Alert", "tags": ["Instance/VM"], "description": "Detach an alert from a notebook instance.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "Instance_id", "in": "path", "required": true, "description": "Instance ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "alert_id", "in": "path", "required": true, "description": "Alert ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Notebook alert detached successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "message": {"type": "string", "example": "Notebook alert detached successfully"}, "data": {"type": "object", "additionalProperties": false, "example": {}}, "errors": {"type": "object", "additionalProperties": false, "example": {}}}}}}}}}}, "/datasets/": {"get": {"operationId": "get-datasets", "summary": "List Datasets", "tags": ["Dataset"], "description": "Retrieve a list of all datasets in the project with filtering and pagination options", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "page_no", "in": "query", "required": false, "description": "The page number from which you want your page search results to be displayed.", "schema": {"type": "integer", "minimum": 0}}, {"name": "per_page", "in": "query", "required": false, "description": "Number of results per page", "schema": {"type": "integer", "minimum": 0}}, {"name": "is_advanced_search", "in": "query", "required": false, "description": "Specifies if advanced filters should be applied.", "schema": {"type": "boolean"}}, {"name": "storage_type", "in": "query", "required": false, "description": "Storage Type", "schema": {"type": "string", "enum": ["managed,e2e_s3", "pvc"]}}, {"name": "encrypted", "in": "query", "required": false, "description": "Encryption", "schema": {"type": "boolean"}}], "responses": {"200": {"description": "Success response with dataset information.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "description": "HTTP status code for the operation.", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "description": "Unique identifier of the dataset.", "example": 1306}, "name": {"type": "string", "description": "Name of the dataset.", "example": "tir-dataset-111415255656"}, "project_id": {"type": "integer", "description": "ID of the project associated with the dataset.", "example": 124}, "description": {"type": "string", "description": "Description of the dataset, which is null in this case.", "nullable": true}, "storage_type": {"type": "string", "description": "Type of storage used for the dataset.", "example": "managed"}, "pvc": {"type": "string", "description": "Persistent volume claim (PVC) details, which is null in this case.", "nullable": true}, "bucket": {"type": "object", "properties": {"id": {"type": "integer", "description": "Unique identifier of the bucket.", "example": 2519}, "bucket_name": {"type": "string", "description": "Name of the storage bucket.", "example": "d-gpu-eec9c7b5-be21-4303-ad86-78fa3b2ba284"}, "bucket_url": {"type": "string", "description": "URL of the bucket.", "example": "s3://d-gpu-eec9c7b5-be21-4303-ad86-78fa3b2ba284/"}, "endpoint": {"type": "string", "description": "Endpoint URL of the object store.", "example": "https://objectstore.e2enetworks.net"}, "is_managed": {"type": "boolean", "description": "Whether the bucket is managed.", "example": true}, "eos_bucket_permission_id": {"type": "integer", "description": "EOS bucket permission ID.", "example": 10205}}}, "access_key": {"type": "object", "properties": {"id": {"type": "integer", "description": "Unique identifier for the access key.", "example": 2536}, "access_key": {"type": "string", "description": "The access key.", "example": "CKEAFAC2WW1R3CRM4YR2"}, "secret_key": {"type": "string", "description": "The secret key for accessing the bucket.", "example": "X8PB1JFEYIFP1LZIRKPKYBDSCD57R15A9CMGD6UP"}, "tag": {"type": "string", "description": "A tag associated with the access key.", "example": "akgpu6bdbe89619c949d382acf141fb76c204"}, "is_managed": {"type": "boolean", "description": "Whether the access key is managed.", "example": true}}}, "encryption_type": {"type": "string", "description": "Type of encryption used, which is null in this case.", "nullable": true}, "encryption_enable": {"type": "boolean", "description": "Whether encryption is enabled for the dataset.", "example": false}, "status": {"type": "string", "description": "Status of the dataset.", "example": "OK"}, "created_by": {"type": "object", "properties": {"id": {"type": "integer", "description": "User ID of the creator.", "example": 3573}, "name": {"type": "string", "description": "Name of the creator.", "example": "Nipun"}, "email": {"type": "string", "description": "Email of the creator.", "example": "nipun.arora@e2enetworks.com"}, "username": {"type": "string", "description": "Username of the creator.", "example": "nipun.arora@e2enetworks.com"}}}, "created_at": {"type": "string", "format": "date-time", "description": "Timestamp of when the dataset was created.", "example": "2024-11-14T09:56:02.477591Z"}, "updated_at": {"type": "string", "format": "date-time", "description": "Timestamp of when the dataset was last updated.", "example": "2024-11-14T09:56:02.477647Z"}}}}, "errors": {"type": "object", "description": "Any errors encountered during the operation.", "example": {}}, "message": {"type": "string", "description": "Message indicating the result of the operation.", "example": "Success"}, "total_page_number": {"type": "integer", "description": "Total number of pages of dataset information available.", "example": 1}, "total_count": {"type": "integer", "description": "Total number of datasets returned.", "example": 1}}}}}}}}, "post": {"operationId": "post-datasets", "summary": "Create Dataset", "tags": ["Dataset"], "description": "Create a new dataset with one of three storage types:\n- **managed**: System creates and manages a new EOS bucket\n- **existing_bucket**: Connect to an existing EOS bucket with provided credentials\n- **pvc**: Create a dataset with disk storage \n\nOptionally supports encryption (SSE-KMS or SSE-C) for managed and existing_bucket types.\n", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"name": {"type": "string", "description": "Name of the dataset"}, "storage_type": {"type": "string", "enum": ["managed", "pvc", "existing_bucket"], "description": "Type of storage for the dataset"}, "pvc": {"type": "object", "description": "PVC configuration, required if storage_type is pvc", "properties": {"disk_size": {"type": "integer", "description": "Disk size for the PVC in GB"}, "pvc_type": {"type": "string", "description": "Type of the PVC"}}, "required": ["disk_size", "pvc_type"]}, "bucket": {"type": "object", "description": "Bucket configuration, required if storage_type is existing_bucket", "properties": {"bucket_name": {"type": "string", "description": "Name of the existing bucket"}, "endpoint": {"type": "string", "description": "Endpoint URL of the object store"}}, "required": ["bucket_name", "endpoint"]}, "access_key": {"type": "object", "description": "Access key configuration, required if storage_type is existing_bucket", "properties": {"access_key": {"type": "string", "description": "Access key for the bucket"}, "secret_key": {"type": "string", "description": "Secret key for the bucket"}}, "required": ["access_key", "secret_key"]}, "encryption_enable": {"type": "boolean", "description": "Whether to enable encryption", "default": false}, "encryption_type": {"type": "string", "enum": ["sse-kms", "sse-c"], "description": "Type of encryption to use (required if encryption_enable is true):\n- sse-kms: Server-side encryption with KMS (E2E managed)\n- sse-c: Server-side encryption with customer-provided keys (user managed)\n"}, "description": {"type": "string", "description": "Optional description of the dataset"}}, "required": ["name", "storage_type"]}}}, "required": true}, "responses": {"201": {"description": "Success response indicating that the dataset was created.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "description": "HTTP status code for the operation.", "example": 201}, "data": {"type": "object", "properties": {"id": {"type": "integer", "description": "Unique identifier of the dataset.", "example": 1310}, "name": {"type": "string", "description": "Name of the dataset.", "example": "eos-bucket"}, "project_id": {"type": "integer", "description": "ID of the project associated with the dataset.", "example": 124}, "description": {"type": "string", "description": "Description of the dataset, which is null in this case.", "nullable": true}, "storage_type": {"type": "string", "description": "Type of storage used for the dataset.", "example": "managed"}, "pvc": {"type": "string", "description": "Persistent volume claim (PVC) details, which is null in this case.", "nullable": true}, "bucket": {"type": "object", "properties": {"id": {"type": "integer", "description": "Unique identifier of the bucket.", "example": 2525}, "bucket_name": {"type": "string", "description": "Name of the storage bucket.", "example": "d-gpu-b4273173-e5ab-4a85-ad89-dc8d6e698a93"}, "bucket_url": {"type": "string", "description": "URL of the bucket.", "example": "s3://d-gpu-b4273173-e5ab-4a85-ad89-dc8d6e698a93/"}, "endpoint": {"type": "string", "description": "Endpoint URL of the object store.", "example": "https://objectstore.e2enetworks.net"}, "is_managed": {"type": "boolean", "description": "Whether the bucket is managed.", "example": true}, "eos_bucket_permission_id": {"type": "integer", "description": "EOS bucket permission ID.", "example": 10214}}}, "access_key": {"type": "object", "properties": {"id": {"type": "integer", "description": "Unique identifier for the access key.", "example": 2542}, "access_key": {"type": "string", "description": "The access key.", "example": "FWXL9EZZWS4BBSX9512V"}, "secret_key": {"type": "string", "description": "The secret key for accessing the bucket.", "example": "ZB3PM8XBNQGG4PFVDEI5915IO1TZHCFGEIO2LID9"}, "tag": {"type": "string", "description": "A tag associated with the access key.", "example": "akgpu50a522c13dcd4708a5dbf6ae3da98bfa"}, "is_managed": {"type": "boolean", "description": "Whether the access key is managed.", "example": true}}}, "encryption_type": {"type": "string", "description": "Type of encryption used, which is null in this case.", "nullable": true}, "encryption_enable": {"type": "boolean", "description": "Whether encryption is enabled for the dataset.", "example": false}, "status": {"type": "string", "description": "Status of the dataset.", "example": "Pending"}, "created_by": {"type": "object", "properties": {"id": {"type": "integer", "description": "User ID of the creator.", "example": 3573}, "name": {"type": "string", "description": "Name of the creator.", "example": "Nipun"}, "email": {"type": "string", "description": "Email of the creator.", "example": "nipun.arora@e2enetworks.com"}, "username": {"type": "string", "description": "Username of the creator.", "example": "nipun.arora@e2enetworks.com"}}}, "created_at": {"type": "string", "format": "date-time", "description": "Timestamp of when the dataset was created.", "example": "2024-11-14T12:57:36.293942Z"}, "updated_at": {"type": "string", "format": "date-time", "description": "Timestamp of when the dataset was last updated.", "example": "2024-11-14T12:57:36.293994Z"}}}, "errors": {"type": "object", "description": "Any errors encountered during the operation.", "example": {}}, "message": {"type": "string", "description": "Message indicating the result of the operation.", "example": "Created Successfully"}}}}}}}}}, "/datasets/{Dataset_Id}/objects/": {"get": {"operationId": "get-datasets-dataset-id-objects", "summary": "Get EOS Data Objects", "tags": ["Dataset"], "parameters": [{"name": "Dataset_Id", "in": "path", "required": true, "description": "dataset id", "schema": {"type": "integer"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Successful response with no data.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "description": "HTTP status code for the operation.", "example": 200}, "data": {"type": "array", "description": "An empty array indicating no results.", "items": {"type": "object"}, "example": []}, "errors": {"type": "object", "description": "Any errors encountered during the operation.", "example": {}}, "message": {"type": "string", "description": "Result message of the operation.", "example": "Success"}}}}}}}}}, "/datasets/{Dataset_Id}/lifecycle-rule/": {"get": {"operationId": "get-datasets-dataset-id-lifecycle-rule", "summary": "Get Lifecycle Rules", "tags": ["Dataset"], "description": "Retrieve lifecycle rules configured for the dataset's EOS bucket.\nOnly applicable for datasets with storage_type 'managed' or 'existing_bucket'.\n", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "Dataset_Id", "in": "path", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "Success response with lifecycle rule list.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 1711}, "deleted": {"type": "boolean", "example": false}, "created_at": {"type": "string", "format": "date-time", "example": "2026-02-05T10:43:25.612412Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2026-02-05T10:43:25.612430Z"}, "rule_id": {"type": "string", "example": "b0c6b464474f45eebcd626058ac637e7"}, "enabled": {"type": "boolean", "example": true}, "prefix": {"type": "string", "example": ""}, "expiry_date_or_days": {"type": "string", "example": "1"}, "noncurrent_version_expiration_date_or_days": {"type": "string", "example": ""}, "transition": {"type": "string", "example": ""}, "storage_class": {"type": "string", "example": ""}, "tags": {"type": "string", "example": ""}, "location": {"type": "string", "example": "Delhi"}, "bucket": {"type": "integer", "example": 16731}, "user": {"type": "integer", "example": 32970}}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}, "post": {"operationId": "post-datasets-dataset-id-lifecycle-rule", "summary": "Create Lifecycle Rule", "tags": ["Dataset"], "description": "Create a lifecycle rule for automatic object expiration in the dataset's EOS bucket.\nRules can be applied to all objects or to objects with a specific prefix.\n", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "Dataset_Id", "in": "path", "required": true, "schema": {"type": "integer"}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"apply_to": {"type": "string", "enum": ["all_objects", "objects_with_prefix"], "description": "Scope of the lifecycle rule:\n- all_objects: Apply rule to all objects in the bucket\n- objects_with_prefix: Apply rule only to objects with the specified prefix\n"}, "expiration_days": {"type": "string", "description": "Number of days after which objects will be deleted"}, "prefix": {"type": "string", "description": "Object prefix/folder path (required when apply_to is objects_with_prefix)"}}, "required": ["apply_to", "expiration_days"]}}}, "required": true}, "responses": {"200": {"description": "Success response with lifecycle rules information.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "description": "HTTP status code.", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "description": "Unique identifier of the lifecycle rule.", "example": 1711}, "deleted": {"type": "boolean", "description": "Indicates whether the rule is deleted.", "example": false}, "created_at": {"type": "string", "format": "date-time", "description": "Rule creation timestamp.", "example": "2026-02-05T10:43:25.612412Z"}, "updated_at": {"type": "string", "format": "date-time", "description": "Rule last updated timestamp.", "example": "2026-02-05T10:43:25.612430Z"}, "rule_id": {"type": "string", "description": "Unique lifecycle rule identifier.", "example": "b0c6b464474f45eebcd626058ac637e7"}, "enabled": {"type": "boolean", "description": "Whether the lifecycle rule is enabled.", "example": true}, "prefix": {"type": "string", "description": "Object prefix the rule applies to.", "example": ""}, "expiry_date_or_days": {"type": "string", "description": "Expiry date or number of days.", "example": "1"}, "noncurrent_version_expiration_date_or_days": {"type": "string", "description": "Expiry for non-current object versions.", "example": ""}, "transition": {"type": "string", "description": "Transition rule definition.", "example": ""}, "storage_class": {"type": "string", "description": "Storage class for transition.", "example": ""}, "tags": {"type": "string", "description": "Tags associated with the rule.", "example": ""}, "location": {"type": "string", "description": "Bucket location.", "example": "Delhi"}, "bucket": {"type": "integer", "description": "Associated bucket ID.", "example": 16731}, "user": {"type": "integer", "description": "User ID who created the rule.", "example": 32970}}}}, "errors": {"type": "object", "description": "Errors encountered during the operation.", "example": {}}, "message": {"type": "string", "description": "Result message.", "example": "Success"}}}}}}}}}, "/datasets/{Dataset_Id}/lifecycle-rule/{rule_id}/": {"delete": {"operationId": "delete-datasets-dataset-id-lifecycle-rule-rule-id", "summary": "Delete Lifecycle Rule", "tags": ["Dataset"], "description": "Delete a lifecycle rule from the dataset's EOS bucket.\n", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "Dataset_Id", "in": "path", "required": true, "schema": {"type": "integer"}}, {"name": "rule_id", "in": "path", "required": true, "description": "ID of the lifecycle rule to delete", "schema": {"type": "string"}}], "responses": {"200": {"description": "Success response for lifecycle rule deletion.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "string", "example": "Lifecycle rule deleted successfully"}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/datasets/{Dataset_Id}/": {"put": {"operationId": "put-datasets-dataset-id", "summary": "Increase Disk size", "tags": ["Dataset"], "parameters": [{"name": "Dataset_Id", "in": "path", "required": true, "description": "dataset id", "schema": {"type": "integer"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"name": {"type": "string", "description": "Name of the dataset"}, "type": {"type": "string", "enum": ["pvc"], "description": "Type of the dataset"}, "pvc": {"type": "object", "description": "PVC configuration, required if type is pvc", "properties": {"disk_size": {"type": "integer", "description": "Disk size for the PVC"}, "pvc_type": {"type": "string", "description": "Type of the PVC"}}, "required": ["disk_size", "pvc_type"]}}, "required": ["name", "type"]}}}, "required": true}, "responses": {"200": {"description": "Success response with updated PVC-based dataset details.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "description": "HTTP status code for the operation.", "example": 200}, "data": {"type": "object", "properties": {"id": {"type": "integer", "description": "Unique identifier of the dataset.", "example": 1311}, "name": {"type": "string", "description": "Name of the dataset.", "example": "tir-dataset-111418381010"}, "project_id": {"type": "integer", "description": "ID of the project associated with the dataset.", "example": 124}, "description": {"type": "string", "description": "Description of the dataset.", "nullable": true}, "storage_type": {"type": "string", "description": "Type of storage used for the dataset.", "example": "pvc"}, "pvc": {"type": "object", "properties": {"id": {"type": "integer", "description": "Unique identifier of the PVC.", "example": 262}, "disk_size": {"type": "integer", "description": "Updated disk size of the PVC in GB.", "example": 45}, "pvc_type": {"type": "string", "description": "Type of PVC.", "example": "custom_pvc"}, "status": {"type": "string", "description": "Current status of the PVC.", "example": "ready"}, "status_log": {"type": "string", "description": "Log detailing the PVC status.", "example": "{'message': 'Bound', 'phase': 'ready', 'state': ''}"}, "created_at": {"type": "string", "format": "date-time", "description": "Timestamp of PVC creation.", "example": "2024-11-14T13:08:17.551211Z"}, "updated_at": {"type": "string", "format": "date-time", "description": "Timestamp of last PVC update.", "example": "2024-11-14T13:12:25.137057Z"}}}, "bucket": {"type": "object", "nullable": true, "description": "Details of the bucket if applicable."}, "access_key": {"type": "object", "nullable": true, "description": "Access key details if applicable."}, "encryption_type": {"type": "string", "description": "Type of encryption used.", "nullable": true}, "encryption_enable": {"type": "boolean", "description": "Indicates if encryption is enabled.", "example": false}, "status": {"type": "string", "description": "Status of the dataset.", "example": "OK"}, "created_by": {"type": "object", "properties": {"id": {"type": "integer", "description": "User ID of the creator.", "example": 3573}, "name": {"type": "string", "description": "Name of the creator.", "example": "Nipun"}, "email": {"type": "string", "description": "Email of the creator.", "example": "nipun.arora@e2enetworks.com"}, "username": {"type": "string", "description": "Username of the creator.", "example": "nipun.arora@e2enetworks.com"}}}, "created_at": {"type": "string", "format": "date-time", "description": "Timestamp of dataset creation.", "example": "2024-11-14T13:08:17.555911Z"}, "updated_at": {"type": "string", "format": "date-time", "description": "Timestamp of last update.", "example": "2024-11-14T13:12:25.131864Z"}}}, "errors": {"type": "object", "description": "Any errors encountered during the operation.", "example": {}}, "message": {"type": "string", "description": "Result message of the operation.", "example": "Disk Size upgraded successfully. It can take a few minutes for the changes to get reflected"}}}}}}}}, "delete": {"operationId": "delete-datasets-dataset-id", "summary": "Delete Dataset", "tags": ["Dataset"], "parameters": [{"name": "Dataset_Id", "in": "path", "required": true, "description": "dataset id", "schema": {"type": "integer"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Dataset deletion confirmation.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "description": "HTTP status code for the operation.", "example": 200}, "data": {"type": "object", "description": "Placeholder object as no data is returned.", "example": {}}, "errors": {"type": "object", "description": "Contains any errors that occurred.", "example": {}}, "message": {"type": "string", "description": "Result message confirming the deletion.", "example": "Dataset deleted successfully"}}}}}}}}}, "/distributed_jobs/sfs/": {"get": {"operationId": "get-distributed-jobs-sfs", "summary": "List SFS", "tags": ["SFS"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "page_no", "in": "query", "required": false, "description": "The page number from which you want your page search results to be displayed.", "schema": {"type": "integer", "minimum": 0}}, {"name": "per_page", "in": "query", "required": false, "description": "Number of results per page", "schema": {"type": "integer", "minimum": 0}}], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 589}, "name": {"type": "string", "example": "temp"}, "created_by": {"type": "integer", "example": 7129}, "sfs_ip": {"type": "string", "example": "172.16.232.1"}, "created_at": {"type": "string", "format": "date-time", "example": "2025-08-19T11:11:37.504175Z"}, "disk_size": {"type": "string", "example": "250 GB"}, "size_in_gb": {"type": "string", "example": "250 GB"}, "location": {"type": "string", "example": "Delhi"}}}}, "errors": {"type": "object", "additionalProperties": false, "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}, "post": {"operationId": "post-distributed-jobs-sfs", "summary": "Create SFS", "tags": ["SFS"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {
[...]
