{
  "openapi": "3.0.3",
  "info": {
    "title": "MyAccount API",
    "description": "",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.e2enetworks.com/myaccount"
    }
  ],
  "tags": [
    {
      "name": "API Tokens"
    },
    {
      "name": "Actions"
    },
    {
      "name": "Alerts"
    },
    {
      "name": "Auto Scaling"
    },
    {
      "name": "Auto-Scale"
    },
    {
      "name": "Billing"
    },
    {
      "name": "BitNinja Security"
    },
    {
      "name": "CDN"
    },
    {
      "name": "CDP Backup"
    },
    {
      "name": "Committed"
    },
    {
      "name": "Committed Billing"
    },
    {
      "name": "Container Registry"
    },
    {
      "name": "DBaaS"
    },
    {
      "name": "DNS"
    },
    {
      "name": "Disaster Recovery"
    },
    {
      "name": "EPFS"
    },
    {
      "name": "Event Monitoring"
    },
    {
      "name": "Firewall"
    },
    {
      "name": "Functions"
    },
    {
      "name": "Images"
    },
    {
      "name": "Kubernetes"
    },
    {
      "name": "LB IP"
    },
    {
      "name": "License Management"
    },
    {
      "name": "Load Balancer"
    },
    {
      "name": "Logs & Timeline"
    },
    {
      "name": "Monitoring"
    },
    {
      "name": "Monitoring and Logs"
    },
    {
      "name": "Network"
    },
    {
      "name": "Networks"
    },
    {
      "name": "Node Action"
    },
    {
      "name": "Node Pool"
    },
    {
      "name": "Nodes"
    },
    {
      "name": "Object Storage"
    },
    {
      "name": "Other"
    },
    {
      "name": "ParameterGroup"
    },
    {
      "name": "Persistant Volume"
    },
    {
      "name": "Reserve IP"
    },
    {
      "name": "SFS"
    },
    {
      "name": "SSO"
    },
    {
      "name": "Scheduled Actions"
    },
    {
      "name": "Secret Management"
    },
    {
      "name": "Security"
    },
    {
      "name": "Security Compliance"
    },
    {
      "name": "Security Group"
    },
    {
      "name": "Settings"
    },
    {
      "name": "Snapshots"
    },
    {
      "name": "Start Script"
    },
    {
      "name": "Static"
    },
    {
      "name": "Tags"
    },
    {
      "name": "Trigger and Alerts"
    },
    {
      "name": "VPC"
    },
    {
      "name": "Volume"
    },
    {
      "name": "Volumes"
    }
  ],
  "paths": {
    "/api/v1/nodes/{node_id}/actions/": {
      "put": {
        "operationId": "node-action",
        "summary": "Perform Node Action",
        "tags": [
          "Actions",
          "Security"
        ],
        "description": "Performs a lifecycle, security, or rename action on a single node. The action is selected by the `type` field in the request body. Some actions require additional fields (see the `type` description below for the per-action contract).\n\nAll actions return the same response envelope - `data.action_type` echoes the action that was performed. Long-running actions (`reinstall`, `save_images`) return `status: \"done\"` immediately to indicate the request was accepted; the node will transition through the actual workflow asynchronously.\n\nThis path + method also serves **Add SSH Key** (`add-ssh-key`); select the variant via the request body.\n\nThis path + method also serves **Update Password** (`update-password`); select the variant via the request body.",
        "parameters": [
          {
            "name": "node_id",
            "in": "path",
            "required": true,
            "description": "Path parameter `node_id`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "query",
            "required": true,
            "description": "Identifier of the project to scope the request to. Required integer project ID.",
            "schema": {
              "type": "integer"
            },
            "example": "{{project_id}}",
            "x-constraints": [
              "required",
              "must be a valid integer project ID"
            ]
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "description": "API key used to authenticate the request",
            "schema": {
              "type": "string"
            },
            "example": "{{api_key}}",
            "x-constraints": [
              "required",
              "must be a valid alphanumeric API key"
            ]
          },
          {
            "name": "location",
            "in": "query",
            "required": true,
            "description": "Region identifier for the target node",
            "schema": {
              "type": "string"
            },
            "example": "{{location}}",
            "x-constraints": [
              "required",
              "non-empty string",
              "must be a valid location identifier"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "required": [
                      "type"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "Discriminator that selects which action to perform. Most actions require no additional fields; the two exceptions are `save_images` and `rename`, both of which require the `name` field below.\n\nSupported values and their semantics:\n- `power_off` - gracefully shut down the node.\n- `power_on` - boot a powered-off node.\n- `reboot` - reboot the node (soft reboot via the guest OS where\n  possible).\n\n- `reinstall` - wipe the node and reinstall the same OS image.\n  Destructive: all data on the root disk is lost.\n\n- `save_images` - capture the current root disk as a saved image\n  template. Requires `name`.\n\n- `rename` - change the node's display name. Requires `name`.\n- `enable_recovery_mode` / `disable_recovery_mode` - toggle\n  recovery-mode boot (mounts the root disk on a rescue image).\n\n- `lock_vm` / `unlock_vm` - administrative lock that blocks\n  further actions until unlocked.\n\n- `enable_accidental_protection` / `disable_accidental_protection` -\n  require an extra confirmation step before destructive actions.\n\n- `enable_node_compliance` / `disable_node_compliance` - toggle\n  security-compliance mode (hardens the node per the platform's\n  compliance baseline).",
                        "enum": [
                          "power_off",
                          "power_on",
                          "reboot",
                          "reinstall",
                          "save_images",
                          "rename",
                          "enable_recovery_mode",
                          "disable_recovery_mode",
                          "lock_vm",
                          "unlock_vm",
                          "enable_accidental_protection",
                          "disable_accidental_protection",
                          "enable_node_compliance",
                          "disable_node_compliance"
                        ],
                        "x-constraints": [
                          "required",
                          "must be one of the supported action identifiers above"
                        ],
                        "example": "power_off"
                      },
                      "name": {
                        "type": "string",
                        "description": "Required when `type` is `save_images` (sets the name of the saved image template) or `rename` (sets the new node display name). Ignored for all other action types.",
                        "x-constraints": [
                          "required when `type` is `save_images` or `rename`",
                          "non-empty string",
                          "max length 255 characters",
                          "no leading or trailing whitespace"
                        ],
                        "example": "my-saved-image"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "properties": {
                      "ssh_keys": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "label": {
                              "type": "string",
                              "description": "User-defined name for the SSH key",
                              "x-constraints": [
                                "must be a non-empty string",
                                "maximum length 255 characters"
                              ],
                              "example": "your_email@example.com",
                              "format": "email"
                            },
                            "ssh_key": {
                              "type": "string",
                              "description": "SSH public key to add",
                              "x-constraints": [
                                "must be a valid SSH public key format",
                                "cannot contain line breaks",
                                "maximum length 4096 characters"
                              ],
                              "example": "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAI... your_email@example.com"
                            }
                          }
                        }
                      },
                      "type": {
                        "type": "string",
                        "description": "Identifier specifying the add SSH key operation",
                        "x-constraints": [
                          "must be the string \"add_ssh_keys\"",
                          "must be a non-empty string"
                        ],
                        "example": "add_ssh_keys"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "Action identifier for updating a password",
                        "x-constraints": [
                          "must be the string \"update_password\""
                        ],
                        "example": "update_password"
                      },
                      "password": {
                        "type": "string",
                        "description": "New password for the user",
                        "x-constraints": [
                          "must be a non-empty string",
                          "minimum length 8 characters",
                          "maximum length 64 characters",
                          "must include at least one uppercase letter, one lowercase letter, one digit, and one special character"
                        ],
                        "example": "Hello@1234567890"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "HTTP status code. 200 indicates the action was accepted.",
                      "x-constraints": [
                        "integer between 100 and 599"
                      ],
                      "example": 200
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Unique identifier of the action record.",
                          "x-constraints": [
                            "positive integer"
                          ],
                          "example": 123456
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "ISO 8601 timestamp when the action was created.",
                          "x-constraints": [
                            "ISO 8601 UTC datetime string ending with `Z`"
                          ],
                          "example": "2025-07-11T12:45:40.599874Z"
                        },
                        "status": {
                          "type": "string",
                          "description": "Action completion status. `done` indicates the request was accepted and synchronous work has finished. Long-running actions may also return `pending`.",
                          "enum": [
                            "done",
                            "pending",
                            "failed"
                          ],
                          "example": "done"
                        },
                        "action_type": {
                          "type": "string",
                          "description": "Echo of the action that was performed. Usually matches the request's `type`, but compound actions may report a related internal step - for example `reinstall` returns `action_type: undeploy` while the reinstall workflow runs.",
                          "example": "power_off"
                        },
                        "resource_id": {
                          "type": "string",
                          "description": "Numeric identifier of the affected node (as a string).",
                          "x-constraints": [
                            "non-empty numeric string"
                          ],
                          "example": "12345"
                        },
                        "resource_name": {
                          "type": "string",
                          "description": "Display name of the affected node.",
                          "x-constraints": [
                            "non-empty string",
                            "may contain letters, digits, and hyphens"
                          ],
                          "example": "C3-8GB-784"
                        },
                        "image_id": {
                          "type": "string",
                          "description": "Identifier of the saved image template. Only populated when `action_type` is `save_images`; empty string otherwise.",
                          "example": ""
                        }
                      }
                    },
                    "errors": {
                      "type": "object",
                      "properties": {}
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable status message.",
                      "x-constraints": [
                        "non-empty string",
                        "maximum length 255 characters"
                      ],
                      "example": "Success"
                    }
                  }
                }
              }
            }
          }
        },
        "x-alternate-operations": [
          {
            "operationId": "add-ssh-key",
            "summary": "Add SSH Key"
          },
          {
            "operationId": "update-password",
            "summary": "Update Password"
          }
        ]
      }
    },
    "/api/v1/resource-transfer/": {
      "post": {
        "operationId": "transfer-node-to-project",
        "summary": "Transfer Node to Project",
        "tags": [
          "Actions",
          "Images"
        ],
        "description": "Transfers an existing node from one project to another inside the same account. The destination project must belong to the same customer and the node must be in a transferable state (powered off or running, not locked).\n\nThis path + method also serves **Transfer image to another project** (`post-resource-transfer`); select the variant via the request body.",
        "parameters": [
          {
            "name": "project_id",
            "in": "query",
            "required": true,
            "description": "Identifier of the project to scope the request to. Required integer project ID.",
            "schema": {
              "type": "integer"
            },
            "example": "{{project_id}}",
            "x-constraints": [
              "required",
              "must be a valid integer project ID"
            ]
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "description": "API key used for authenticating the request",
            "schema": {
              "type": "string"
            },
            "example": "{{api_key}}",
            "x-constraints": [
              "required",
              "non-empty string"
            ]
          },
          {
            "name": "location",
            "in": "query",
            "required": true,
            "description": "The region of the node being transferred.",
            "schema": {
              "type": "string"
            },
            "example": "{{location}}",
            "x-constraints": [
              "required",
              "must be a valid location identifier (e.g., region code)"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "required": [
                      "current_project_id",
                      "target_project_id",
                      "resource_type",
                      "resource_id"
                    ],
                    "properties": {
                      "current_project_id": {
                        "type": "integer",
                        "description": "ID of the project the node currently belongs to.",
                        "x-constraints": [
                          "required",
                          "positive integer"
                        ],
                        "example": 12345
                      },
                      "target_project_id": {
                        "type": "integer",
                        "description": "ID of the destination project. Must belong to the same customer as the source project.",
                        "x-constraints": [
                          "required",
                          "positive integer",
                          "must differ from `current_project_id`"
                        ],
                        "example": 12345
                      },
                      "resource_type": {
                        "type": "string",
                        "description": "Resource type identifier. Always `node` for this endpoint.",
                        "enum": [
                          "node"
                        ],
                        "x-constraints": [
                          "required",
                          "must be the literal string `node`"
                        ],
                        "example": "node"
                      },
                      "resource_id": {
                        "type": "integer",
                        "description": "ID of the node being transferred.",
                        "x-constraints": [
                          "required",
                          "positive integer",
                          "must reference a node owned by `current_project_id`"
                        ],
                        "example": 12345
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": [
                      "current_project_id",
                      "target_project_id",
                      "resource_type",
                      "resource_id"
                    ],
                    "properties": {
                      "current_project_id": {
                        "type": "integer",
                        "description": "ID of the source project from which the image will be transferred",
                        "example": 43695
                      },
                      "target_project_id": {
                        "type": "integer",
                        "description": "ID of the destination project to which the image will be transferred",
                        "example": 46162
                      },
                      "resource_type": {
                        "type": "string",
                        "description": "Type of resource being transferred",
                        "example": "image"
                      },
                      "resource_id": {
                        "type": "string",
                        "description": "Unique identifier of the image resource",
                        "example": "36622"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "HTTP status code of the transfer operation.",
                      "x-constraints": [
                        "integer between 100 and 599"
                      ],
                      "example": 200
                    },
                    "data": {
                      "type": "string",
                      "description": "Identifier of the transferred resource. May be an empty string when the platform does not return an ID for transfer operations.",
                      "x-constraints": [
                        "string (may be empty)"
                      ],
                      "example": ""
                    },
                    "errors": {
                      "type": "object",
                      "properties": {}
                    },
                    "message": {
                      "type": "string",
                      "description": "Status message indicating the result of the transfer.",
                      "x-constraints": [
                        "non-empty string",
                        "maximum length 200 characters"
                      ],
                      "example": "Resource is transferred successfully."
                    }
                  }
                }
              }
            }
          }
        },
        "x-alternate-operations": [
          {
            "operationId": "post-resource-transfer",
            "summary": "Transfer image to another project"
          }
        ]
      }
    },
    "/api/v1/nodes/upgrade/{node_id}": {
      "put": {
        "operationId": "upgrade-plan",
        "summary": "Upgrade Plan",
        "tags": [
          "Actions"
        ],
        "description": "Upgrades the node to a larger plan (more vCPU / RAM / disk). The node must be powered off before issuing this request. The upgrade is destructive to the underlying VM but preserves the persistent root disk; transient state in RAM is lost.",
        "parameters": [
          {
            "name": "node_id",
            "in": "path",
            "required": true,
            "description": "Path parameter `node_id`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "query",
            "required": true,
            "description": "Identifier of the project to scope the request to. Required integer project ID.",
            "schema": {
              "type": "integer"
            },
            "example": "{{project_id}}",
            "x-constraints": [
              "required",
              "must be a valid integer project ID"
            ]
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "description": "API key used to authenticate the request",
            "schema": {
              "type": "string"
            },
            "example": "{{api_key}}",
            "x-constraints": [
              "required",
              "non-empty string"
            ]
          },
          {
            "name": "location",
            "in": "query",
            "required": true,
            "description": "Region of the node being upgraded.",
            "schema": {
              "type": "string"
            },
            "example": "{{location}}",
            "x-constraints": [
              "must be a non-empty string",
              "should be a valid region identifier"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "plan",
                  "image"
                ],
                "properties": {
                  "plan": {
                    "type": "string",
                    "description": "Plan SKU to upgrade to. The new plan must be larger than the current plan in at least one dimension (vCPU / RAM / disk). Use the plans API to discover valid SKUs.",
                    "x-constraints": [
                      "required",
                      "non-empty string",
                      "must follow the plan naming convention (alphanumeric, hyphens, periods)",
                      "must reference an existing plan in the node's region"
                    ],
                    "example": "C3-2vCPU-2RAM-15DISK-C3.4GB_CHENNAI-Chennai"
                  },
                  "image": {
                    "type": "string",
                    "description": "OS image identifier to use after the upgrade. Usually the same as the node's current image - supplied explicitly so the new VM is reprovisioned from a known template.",
                    "x-constraints": [
                      "required",
                      "non-empty string",
                      "allowed characters are letters, digits, hyphens, and periods"
                    ],
                    "example": "CentOS-7.5-Distro"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "HTTP status code indicating the result of the upgrade request.",
                      "x-constraints": [
                        "integer between 100 and 599"
                      ],
                      "example": 200
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "vcpu": {
                          "type": "integer",
                          "description": "Number of virtual CPUs in the upgraded plan.",
                          "x-constraints": [
                            "positive integer"
                          ],
                          "example": 8
                        },
                        "ram": {
                          "type": "integer",
                          "description": "RAM allocation in megabytes.",
                          "x-constraints": [
                            "positive integer"
                          ],
                          "example": 16000
                        },
                        "disk-size": {
                          "type": "integer",
                          "description": "Root disk size in megabytes.",
                          "x-constraints": [
                            "non-negative integer"
                          ],
                          "example": 143051
                        },
                        "customer_id": {
                          "type": "integer",
                          "description": "Identifier of the customer that owns the node.",
                          "x-constraints": [
                            "positive integer"
                          ],
                          "example": 12345
                        },
                        "vm_id": {
                          "type": "integer",
                          "description": "Identifier of the virtual machine.",
                          "x-constraints": [
                            "positive integer"
                          ],
                          "example": 12345
                        },
                        "new_node_image_id": {
                          "type": "integer",
                          "description": "Identifier of the post-upgrade node image.",
                          "x-constraints": [
                            "positive integer"
                          ],
                          "example": 12345
                        },
                        "old_node_image_id": {
                          "type": "integer",
                          "description": "Identifier of the pre-upgrade node image.",
                          "x-constraints": [
                            "positive integer"
                          ],
                          "example": 12345
                        },
                        "action": {
                          "type": "string",
                          "description": "Action identifier returned in the upgrade response.",
                          "example": "Delhi"
                        },
                        "cluster": {
                          "type": "string",
                          "description": "Identifier of the target cluster. May be null when the node is not pinned to a specific cluster.",
                          "x-constraints": [
                            "may be null",
                            "non-empty alphanumeric string when present"
                          ]
                        },
                        "size": {
                          "type": "integer",
                          "description": "Size value returned by the upgrade response.",
                          "x-constraints": [
                            "non-negative integer"
                          ],
                          "example": 0
                        },
                        "location": {
                          "type": "string",
                          "description": "Region/city name where the upgraded node lives.",
                          "x-constraints": [
                            "non-empty string",
                            "maximum length 100 characters"
                          ],
                          "example": "Delhi"
                        }
                      }
                    },
                    "errors": {
                      "type": "object",
                      "properties": {}
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable status message for the upgrade.",
                      "x-constraints": [
                        "non-empty string",
                        "maximum length 255 characters"
                      ],
                      "example": "Node successfully upgraded"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/nodes/{node_id}/root-storage-upgrade/": {
      "put": {
        "operationId": "increase-root-storage",
        "summary": "Increase Root Storage",
        "tags": [
          "Actions"
        ],
        "description": "Grows the node's root disk to the requested size. Root disk expansion is online (no reboot required) but the filesystem may need to be resized inside the OS after the action completes.",
        "parameters": [
          {
            "name": "node_id",
            "in": "path",
            "required": true,
            "description": "Path parameter `node_id`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "query",
            "required": true,
            "description": "Identifier of the project to scope the request to. Required integer project ID.",
            "schema": {
              "type": "integer"
            },
            "example": "{{project_id}}",
            "x-constraints": [
              "required",
              "must be a valid integer project ID"
            ]
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "description": "API key used to authenticate the request",
            "schema": {
              "type": "string"
            },
            "example": "{{api_key}}",
            "x-constraints": [
              "required",
              "must be a valid API key string"
            ]
          },
          {
            "name": "location",
            "in": "query",
            "required": true,
            "description": "Region of the node whose root storage is being increased.",
            "schema": {
              "type": "string"
            },
            "example": "{{location}}",
            "x-constraints": [
              "must be a non-empty string",
              "should be a valid location identifier (e.g., region code)"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "disk_size"
                ],
                "properties": {
                  "disk_size": {
                    "type": "integer",
                    "description": "New root disk size in gigabytes. Must be strictly greater than the current root disk size. Root disk shrinking is not supported.",
                    "x-constraints": [
                      "required",
                      "positive integer",
                      "must be greater than the node's current root disk size"
                    ],
                    "example": 125
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "HTTP status code of the increase-root-storage operation.",
                      "x-constraints": [
                        "integer between 100 and 599"
                      ],
                      "example": 200
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "node_id": {
                          "type": "integer",
                          "description": "Identifier of the node whose root disk was resized.",
                          "x-constraints": [
                            "positive integer"
                          ],
                          "example": 12345
                        },
                        "customer_id": {
                          "type": "integer",
                          "description": "Identifier of the customer that owns the node.",
                          "x-constraints": [
                            "positive integer"
                          ],
                          "example": 12345
                        },
                        "new_disk_size_in_GB": {
                          "type": "integer",
                          "description": "New root disk size in gigabytes after the resize.",
                          "x-constraints": [
                            "positive integer",
                            "greater than the previous root disk size"
                          ],
                          "example": 125
                        }
                      }
                    },
                    "errors": {
                      "type": "object",
                      "properties": {}
                    },
                    "message": {
                      "type": "string",
                      "description": "Status message for the root storage increase.",
                      "x-constraints": [
                        "non-empty string",
                        "maximum length 256 characters"
                      ],
                      "example": "Root disk size upgrade in progress."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/nodes/action-on-multiple-nodes/": {
      "put": {
        "operationId": "bulk-action",
        "summary": "Bulk Action",
        "tags": [
          "Actions"
        ],
        "description": "Applies the same action to multiple nodes at once. The body is a JSON payload with a `node_ids` array and a `type` field naming the action. Supported action types are the same as the single-node action endpoint's \"simple\" types - `power_off`, `power_on`, `reboot`, `lock_vm`, `unlock_vm`.",
        "parameters": [
          {
            "name": "project_id",
            "in": "query",
            "required": true,
            "description": "Identifier of the project to scope the request to. Required integer project ID.",
            "schema": {
              "type": "integer"
            },
            "example": "{{project_id}}",
            "x-constraints": [
              "required",
              "must be a valid integer project ID"
            ]
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "description": "API key used to authenticate the bulk action request",
            "schema": {
              "type": "string"
            },
            "example": "{{api_key}}",
            "x-constraints": [
              "required",
              "must be a valid API key string"
            ]
          },
          {
            "name": "location",
            "in": "query",
            "required": true,
            "description": "Region of the target nodes",
            "schema": {
              "type": "string"
            },
            "example": "{{location}}",
            "x-constraints": [
              "must be a non-empty string",
              "should contain only URL-safe characters"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "node_ids",
                  "type"
                ],
                "properties": {
                  "node_ids": {
                    "type": "array",
                    "description": "IDs of the nodes to apply the action to. All nodes must belong to the project identified by the `project_id` query parameter and must be in a state compatible with the chosen action (e.g. you cannot `power_off` a node that is already off).",
                    "x-constraints": [
                      "required",
                      "at least one entry",
                      "each entry must be a positive integer node ID",
                      "no duplicate IDs"
                    ],
                    "items": {
                      "type": "integer",
                      "description": "A single node ID.",
                      "example": 12345
                    }
                  },
                  "type": {
                    "type": "string",
                    "description": "The bulk-supported action to perform. A strict subset of the single-node action set - only the \"simple\" actions that take no additional fields are allowed in bulk.",
                    "enum": [
                      "power_off",
                      "power_on",
                      "reboot",
                      "lock_vm",
                      "unlock_vm"
                    ],
                    "x-constraints": [
                      "required",
                      "must be one of the bulk-supported action identifiers"
                    ],
                    "example": "power_off"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "HTTP status code of the bulk action result.",
                      "x-constraints": [
                        "integer between 100 and 599"
                      ],
                      "example": 200
                    },
                    "data": {
                      "type": "string",
                      "description": "Result data returned by the bulk action.",
                      "example": ""
                    },
                    "errors": {
                      "type": "object",
                      "properties": {}
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable status message for the bulk action.",
                      "x-constraints": [
                        "non-empty string",
                        "maximum length 200 characters"
                      ],
                      "example": "All selected nodes powered off successfuly."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/start-script/": {
      "post": {
        "operationId": "add-start-script",
        "summary": "Add Start Script",
        "tags": [
          "Start Script"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "query",
            "required": true,
            "description": "Identifier of the project to scope the request to. Required integer project ID.",
            "schema": {
              "type": "integer"
            },
            "example": "{{project_id}}",
            "x-constraints": [
              "required",
              "must be a valid integer project ID"
            ]
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "description": "API key for authenticating the request",
            "schema": {
              "type": "string"
            },
            "example": "{{api_key}}",
            "x-constraints": [
              "required",
              "non-empty string"
            ]
          },
          {
            "name": "location",
            "in": "query",
            "required": true,
            "description": "Specifies the target location for the start script",
            "schema": {
              "type": "string"
            },
            "example": "{{location}}",
            "x-constraints": [
              "must be a non-empty string",
              "should be a valid URI or file path"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "label": {
                    "type": "string",
                    "description": "Name of the start script to add",
                    "x-constraints": [
                      "must be a non-empty string",
                      "may contain letters, numbers, hyphens and underscores"
                    ],
                    "example": "nginx-hello"
                  },
                  "script_content": {
                    "type": "string",
                    "description": "Script content to be executed at start",
                    "x-constraints": [
                      "required",
                      "must be a non-empty string"
                    ],
                    "example": "hello"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "HTTP status code indicating the result of adding the start script",
                      "x-constraints": [
                        "must be an integer",
                        "must be a valid HTTP status code (100-599)"
                      ],
                      "example": 200
                    },
                    "data": {
                      "type": "object",
                      "properties": {}
                    },
                    "errors": {
                      "type": "object",
                      "properties": {}
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable result message of the add start script operation",
                      "x-constraints": [
                        "must be a non-empty string",
                        "maximum length of 200 characters"
                      ],
                      "example": "Success"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "start-script",
        "summary": "Start Script",
        "tags": [
          "Start Script"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "query",
            "required": true,
            "description": "Identifier of the project to scope the request to. Required integer project ID.",
            "schema": {
              "type": "integer"
            },
            "example": "{{project_id}}",
            "x-constraints": [
              "required",
              "must be a valid integer project ID"
            ]
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "description": "API key used for authentication",
            "schema": {
              "type": "string"
            },
            "example": "{{api_key}}",
            "x-constraints": [
              "required",
              "must be a non-empty string"
            ]
          },
          {
            "name": "location",
            "in": "query",
            "required": true,
            "description": "Specifies the starting location for the script.",
            "schema": {
              "type": "string"
            },
            "example": "{{location}}",
            "x-constraints": [
              "required",
              "must be a non-empty string, URL-encoded if it contains special characters"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "Unique identifier of the script execution",
                            "x-constraints": [
                              "integer",
                              "positive",
                              "required"
                            ],
                            "example": 123
                          },
                          "label": {
                            "type": "string",
                            "description": "Identifier for the script",
                            "x-constraints": [
                              "must be a non-empty string",
                              "may contain alphanumeric characters, hyphens, and underscores"
                            ],
                            "example": "nginx"
                          },
                          "script_content": {
                            "type": "string",
                            "description": "Shell script content to be executed",
                            "x-constraints": [
                              "must be a non-empty UTF-8 string",
                              "may contain newline characters but no binary data"
                            ],
                            "example": "sudo apt-get update\nsudo apt-get install nginx -y"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "delete-start-script",
        "summary": "Delete Start Script",
        "tags": [
          "Start Script"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "query",
            "required": true,
            "description": "Identifier of the project to scope the request to. Required integer project ID.",
            "schema": {
              "type": "integer"
            },
            "example": "{{project_id}}",
            "x-constraints": [
              "required",
              "must be a valid integer project ID"
            ]
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "description": "API key used to authenticate the request",
            "schema": {
              "type": "string"
            },
            "example": "{{api_key}}",
            "x-constraints": [
              "required",
              "must be a valid API key"
            ]
          },
          {
            "name": "location",
            "in": "query",
            "required": true,
            "description": "Specifies the target location for the delete start script operation",
            "schema": {
              "type": "string"
            },
            "example": "{{location}}",
            "x-constraints": [
              "required",
              "must be a non-empty string"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "Identifier of the start script to delete",
                    "x-constraints": [
                      "required",
                      "must be a positive integer"
                    ],
                    "example": 123
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "HTTP status code returned by the Delete Start Script operation",
                  "x-constraints": [
                    "must be a three-digit numeric string",
                    "expected value is \"204\" for successful deletion"
                  ],
                  "example": "123"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/nodes/{node_id}/attached-volumes/": {
      "get": {
        "operationId": "attached-volumes",
        "summary": "Attached Volumes",
        "tags": [
          "Volumes",
          "Nodes"
        ],
        "parameters": [
          {
            "name": "node_id",
            "in": "path",
            "required": true,
            "description": "Path parameter `node_id`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "query",
            "required": true,
            "description": "Identifier of the project to scope the request to. Required integer project ID.",
            "schema": {
              "type": "integer"
            },
            "example": "{{project_id}}",
            "x-constraints": [
              "required",
              "must be a valid integer project ID"
            ]
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "description": "API key used for authenticating the request",
            "schema": {
              "type": "string"
            },
            "example": "{{api_key}}",
            "x-constraints": [
              "required",
              "non-empty string"
            ]
          },
          {
            "name": "location",
            "in": "query",
            "required": true,
            "description": "Specifies the location filter for attached volumes.",
            "schema": {
              "type": "string"
            },
            "example": "{{location}}",
            "x-constraints": [
              "must be a valid location identifier (e.g., region code)",
              "may contain letters, numbers, and hyphens"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "HTTP status code of the attached volumes response",
                      "x-constraints": [
                        "integer representing a valid HTTP status code (100-599)",
                        "200 indicates a successful operation"
                      ],
                      "example": 200
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "Unique identifier for the attached volume",
                            "x-constraints": [
                              "required",
                              "positive integer"
                            ],
                            "example": 1234
                          },
                          "volume_name": {
                            "type": "string",
                            "description": "Name of the attached volume",
                            "x-constraints": [
                              "must be a non-empty string",
                              "may contain alphanumeric characters and underscores only"
                            ],
                            "example": "V_100GB_160"
                          },
                          "total_size": {
                            "type": "string",
                            "description": "Total size of the attached volume as a stringified number of bytes",
                            "x-constraints": [
                              "must contain only digits",
                              "represents a non-negative integer"
                            ],
                            "example": "12345"
                          },
                          "total_size_string": {
                            "type": "string",
                            "description": "Human-readable total size of the volume",
                            "x-constraints": [
                              "Must be a non-empty string",
                              "Format: numeric value followed by a space and unit (KB, MB, GB, TB)"
                            ],
                            "example": "100.0 GB"
                          },
                          "total_iops_sec": {
                            "type": "string",
                            "description": "IOPS per second for the attached volume",
                            "x-constraints": [
                              "must be a numeric string",
                              "non-negative integer value"
                            ],
                            "example": "1500"
                          },
                          "bs_size": {
                            "type": "number",
                            "description": "Size of the attached volume in gigabytes",
                            "x-constraints": [
                              "must be a non-negative number",
                              "may include fractional values"
                            ],
                            "example": 0.1
                          },
                          "hourly_price": {
                            "type": "string",
                            "description": "Hourly price of the attached volume as a formatted string.",
                            "x-constraints": [
                              "non-empty string",
                              "format: \"Rs. <amount>/Hour\" with numeric amount"
                            ],
                            "example": "Rs. 0.69/Hour"
                          },
                          "monthly_price": {
                            "type": "string",
                            "description": "Monthly price of the attached volume",
                            "x-constraints": [
                              "Non-empty string",
                              "Format: \"Rs. <amount> Monthly\""
                            ],
                            "example": "Rs. 500.0 Monthly"
                          },
                          "is_encrypted": {
                            "type": "boolean",
                            "description": "Indicates whether the attached volume is encrypted.",
                            "x-constraints": [
                              "boolean value",
                              "true if encrypted, false otherwise"
                            ],
                            "example": false
                          }
                        }
                      }
                    },
                    "errors": {
                      "type": "object",
                      "properties": {}
                    },
                    "message": {
                      "type": "string",
                      "description": "Status message indicating the result of the request",
                      "x-constraints": [
                        "Must be a non-empty string",
                        "Maximum length 255 characters"
                      ],
                      "example": "Success"
                    }
                  }
                }
              }
            }
          }
        },
        "x-alternate-operations": [
          {
            "operationId": "attached-volumes",
            "summary": "Attached Volumes"
          }
        ],
        "description": "This path + method also serves **Attached Volumes** (`attached-volumes`); select the variant via the request body."
      }
    },
    "/api/v1/block_storage/{block_id}/vm/attach/": {
      "put": {
        "operationId": "attach-volume",
        "summary": "Attach Volume",
        "tags": [
          "Volumes",
          "Volume"
        ],
        "parameters": [
          {
            "name": "block_id",
            "in": "path",
            "required": true,
            "description": "Path parameter `block_id`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "query",
            "required": true,
            "description": "Identifier of the project to scope the request to. Required integer project ID.",
            "schema": {
              "type": "integer"
            },
            "example": "{{project_id}}",
            "x-constraints": [
              "required",
              "must be a valid integer project ID"
            ]
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "description": "API key used to authenticate the request",
            "schema": {
              "type": "string"
            },
            "example": "{{api_key}}",
            "x-constraints": [
              "required",
              "non-empty string"
            ]
          },
          {
            "name": "location",
            "in": "query",
            "required": true,
            "description": "Specifies the target location for attaching the volume",
            "schema": {
              "type": "string"
            },
            "example": "{{location}}",
            "x-constraints": [
              "must be a valid location identifier",
              "no spaces allowed"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "string",
                    "description": "JSON-formatted string specifying the VM ID for the volume attachment",
                    "x-constraints": [
                      "must be a valid JSON string",
                      "must contain a \"vm_id\" field"
                    ],
                    "example": "{\n    \"vm_id\": {{vm_id}}\n}"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "vm_id": {
                        "type": "integer",
                        "example": 100157
                      }
                    },
                    "required": [
                      "vm_id"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "HTTP status code indicating the result of the attach volume request",
                      "x-constraints": [
                        "must be an integer",
                        "must be a valid HTTP status code"
                      ],
                      "example": 200
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "image_id": {
                          "type": "integer",
                          "description": "Unique identifier of the attached image",
                          "x-constraints": [
                            "integer",
                            "must be greater than zero"
                          ],
                          "example": 1234
                        },
                        "vm_id": {
                          "type": "integer",
                          "description": "Identifier of the virtual machine",
                          "x-constraints": [
                            "positive integer",
                            "fits within 32-bit signed range"
                          ],
                          "example": 1234
                        }
                      }
                    },
                    "errors": {
                      "type": "object",
                      "properties": {}
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable status message for the attach volume operation.",
                      "x-constraints": [
                        "must be a non-empty string",
                        "typically under 256 characters"
                      ],
                      "example": "Block Storage is Attached to VM."
                    }
                  }
                }
              }
            }
          }
        },
        "x-alternate-operations": [
          {
            "operationId": "put-block-storage-block-id-vm-attach",
            "summary": "Attach Volume to Node"
          }
        ],
        "description": "This path + method also serves **Attach Volume to Node** (`put-block-storage-block-id-vm-attach`); select the variant via the request body."
      }
    },
    "/api/v1/schedule-snapshot/": {
      "post": {
        "operationId": "schedule-snapshots",
        "summary": "Schedule Snapshots",
        "tags": [
          "Snapshots"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "query",
            "required": true,
            "description": "Identifier of the project to scope the request to. Required integer project ID.",
            "schema": {
              "type": "integer"
            },
            "example": "{{project_id}}",
            "x-constraints": [
              "required",
              "must be a valid integer project ID"
            ]
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "description": "API key used for authenticating the request",
            "schema": {
              "type": "string"
            },
            "example": "{{api_key}}",
            "x-constraints": [
              "required",
              "non-empty string"
            ]
          },
          {
            "name": "location",
            "in": "query",
            "required": true,
            "description": "Location identifier for the snapshot schedule",
            "schema": {
              "type": "string"
            },
            "example": "{{location}}",
            "x-constraints": [
              "must be a non-empty string",
              "should be a valid location identifier"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string",
                "description": "request field",
                "example": "{\n    \"resource_id\": {{node_id}},\n    \"resource_type\": \"node\",\n    \"time_line\": 1,\n    \"create_after\": \"1\",\n    \"delete_after\": \"3\"\n}"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "HTTP status code of the schedule snapshots response",
                      "x-constraints": [
                        "integer",
                        "valid HTTP status code"
                      ],
                      "example": 200
                    },
                    "data": {
                      "type": "object",
                      "properties": {}
                    },
                    "errors": {
                      "type": "object",
                      "properties": {}
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable status message for the schedule snapshots operation.",
                      "x-constraints": [
                        "must be a non-empty string",
                        "maximum length 200 characters"
                      ],
                      "example": "Schedule settings has been saved successfully."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "scheduled-snapshots",
        "summary": "Scheduled Snapshots",
        "tags": [
          "Snapshots"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "query",
            "required": true,
            "description": "Identifier of the project to scope the request to. Required integer project ID.",
            "schema": {
              "type": "integer"
            },
            "example": "{{project_id}}",
            "x-constraints": [
              "required",
              "must be a valid integer project ID"
            ]
          },
          {
            "name": "resource_id",
            "in": "query",
            "required": false,
            "description": "Identifier of the node for which to retrieve scheduled snapshots",
            "schema": {
              "type": "string"
            },
            "example": "{{node_id}}",
            "x-constraints": [
              "required",
              "non-empty string",
              "valid node identifier"
            ]
          },
          {
            "name": "resource_type",
            "in": "query",
            "required": false,
            "description": "Filter snapshots by the type of resource they belong to",
            "schema": {
              "type": "string"
            },
            "example": "node",
            "x-constraints": [
              "must be a non-empty string",
              "case-sensitive identifier of a resource type"
            ]
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "description": "API key used to authenticate the request",
            "schema": {
              "type": "string"
            },
            "example": "{{api_key}}",
            "x-constraints": [
              "required",
              "must be a valid API key string"
            ]
          },
          {
            "name": "location",
            "in": "query",
            "required": true,
            "description": "Specifies the E2E Myaccount region for the scheduled snapshot.",
            "schema": {
              "type": "string"
            },
            "example": "{{location}}",
            "x-constraints": [
              "non-empty string",
              "must be a valid E2E Myaccount location identifier"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "HTTP status code of the scheduled snapshot response",
                      "x-constraints": [
                        "integer",
                        "value between 100 and 599"
                      ],
                      "example": 200
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Unique identifier of the scheduled snapshot",
                          "x-constraints": [
                            "must be a valid UUID",
                            "maximum length of 36 characters"
                          ],
                          "example": "9591023453-528f-65a2-4fb7-3ae4b23b8bb8",
                          "format": "uuid"
                        },
                        "time_line": {
                          "type": "string",
                          "description": "Identifier for the scheduled snapshot timeline",
                          "x-constraints": [
                            "must be a non-empty string",
                            "should contain only digits"
                          ],
                          "example": "1"
                        },
                        "resource_id": {
                          "type": "integer",
                          "description": "Unique identifier of the snapshot resource",
                          "x-constraints": [
                            "integer",
                            "greater than zero"
                          ],
                          "example": 12345
                        },
                        "resource_type": {
                          "type": "string",
                          "description": "Type of the resource for which the snapshot is scheduled",
                          "x-constraints": [
                            "non-empty string",
                            "must be a supported resource type (e.g., \"node\")"
                          ],
                          "example": "node"
                        },
                        "create_after": {
                          "type": "integer",
                          "description": "Delay before the snapshot is created",
                          "x-constraints": [
                            "must be a non-negative integer"
                          ],
                          "example": 1
                        },
                        "delete_after": {
                          "type": "integer",
                          "description": "Number of days after which the scheduled snapshot will be deleted",
                          "x-constraints": [
                            "must be a non-negative integer",
                            "typically represents days (e.g., 0–365)"
                          ],
                          "example": 7
                        },
                        "deleted_at": {
                          "type": "string",
                          "description": "Timestamp when the snapshot was deleted, or null if not deleted",
                          "x-constraints": [
                            "ISO 8601 datetime string when present",
                            "nullable"
                          ]
                        }
                      }
                    },
                    "errors": {
                      "type": "object",
                      "properties": {}
                    },
                    "message": {
                      "type": "string",
                      "description": "Status message indicating the result of the snapshot operation.",
                      "x-constraints": [
                        "must be a non-empty string",
                        "max length 255 characters"
                      ],
                      "example": "Success"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "update-scheduled-snapshots",
        "summary": "Update Scheduled Snapshots",
        "tags": [
          "Snapshots",
          "DBaaS"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "query",
            "required": true,
            "description": "Identifier of the project to scope the request to. Required integer project ID.",
            "schema": {
              "type": "integer"
            },
            "example": "{{project_id}}",
            "x-constraints": [
              "required",
              "must be a valid integer project ID"
            ]
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "description": "API key used to authenticate the request",
            "schema": {
              "type": "string"
            },
            "example": "{{api_key}}",
            "x-constraints": [
              "required",
              "must be a valid API key"
            ]
          },
          {
            "name": "location",
            "in": "query",
            "required": true,
            "description": "Specifies the E2E Myaccount region where the snapshot will be updated.",
            "schema": {
              "type": "string"
            },
            "example": "{{location}}",
            "x-constraints": [
              "Must be a non-empty string",
              "Should be a valid E2E Myaccount region identifier (e.g., eastus, westus2)"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "string",
                    "description": "JSON string containing the scheduled snapshot update parameters",
                    "x-constraints": [
                      "must be a valid JSON object",
                      "must include resource_id, resource_type, time_line, create_after, and delete_after"
                    ],
                    "example": "{\n    \"resource_id\": {{node_id}},\n    \"resource_type\": \"node\",\n    \"time_line\": 1,\n    \"create_after\": \"7\",\n    \"delete_after\": \"3\"\n}"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "block_storage_id": {
                        "type": "integer",
                        "example": 5275
                      },
                      "resource_id": {
                        "type": "integer",
                        "example": 5275
                      },
                      "create_after": {
                        "type": "string",
                        "example": "7"
                      },
                      "delete_after": {
                        "type": "string",
                        "example": "15"
                      },
                      "resource_type": {
                        "type": "string",
                        "example": "dbass"
                      },
                      "time_line": {
                        "type": "integer",
                        "example": 2
                      }
                    },
                    "required": [
                      "block_storage_id",
                      "create_after",
                      "delete_after",
                      "resource_type",
                      "time_line"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "HTTP status code of the update operation",
                      "x-constraints": [
                        "3-digit HTTP status code",
                        "non-negative integer"
                      ],
                      "example": 200
                    },
                    "data": {
                      "type": "object",
                      "properties": {}
                    },
                    "errors": {
                      "type": "object",
                      "properties": {}
                    },
                    "message": {
                      "type": "string",
                      "description": "Confirmation message indicating the update result.",
                      "x-constraints": [
                        "must be a non-empty string",
                        "maximum length of 255 characters"
                      ],
                      "example": "Schedule settings has been updated successfully."
                    }
                  }
                }
              }
            }
          }
        },
        "x-alternate-operations": [
          {
            "operationId": "put-schedule-snapshot",
            "summary": "Schedule Snapshot"
          }
        ],
        "description": "This path + method also serves **Schedule Snapshot** (`put-schedule-snapshot`); select the variant via the request body."
      },
      "delete": {
        "operationId": "disable-scheduled-snapshots",
        "summary": "Disable Scheduled Snapshots",
        "tags": [
          "Snapshots"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "query",
            "required": true,
            "description": "Identifier of the project to scope the request to. Required integer project ID.",
            "schema": {
              "type": "integer"
            },
            "example": "{{project_id}}",
            "x-constraints": [
              "required",
              "must be a valid integer project ID"
            ]
          },
          {
            "name": "service_type",
            "in": "query",
            "required": false,
            "description": "Specifies the type of service to disable scheduled snapshots for.",
            "schema": {
              "type": "string"
            },
            "example": "schedule",
            "x-constraints": [
              "must be a non-empty string",
              "allowed value: schedule"
            ]
          },
          {
            "name": "resource_id",
            "in": "query",
            "required": false,
            "description": "Identifier of the node whose scheduled snapshots are to be disabled",
            "schema": {
              "type": "string"
            },
            "example": "{{node_id}}",
            "x-constraints": [
              "required",
              "must be a valid node identifier (e.g., UUID or alphanumeric ID)"
            ]
          },
          {
            "name": "resource_type",
            "in": "query",
            "required": false,
            "description": "Specifies the type of resource for which scheduled snapshots are disabled.",
            "schema": {
              "type": "string"
            },
            "example": "node",
            "x-constraints": [
              "must be a non-empty string",
              "allowed values include \"node\""
            ]
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "description": "API key used to authenticate the request",
            "schema": {
              "type": "string"
            },
            "example": "{{api_key}}",
            "x-constraints": [
              "required",
              "non-empty",
              "alphanumeric"
            ]
          },
          {
            "name": "location",
            "in": "query",
            "required": true,
            "description": "Specifies the target location for disabling scheduled snapshots.",
            "schema": {
              "type": "string"
            },
            "example": "{{location}}",
            "x-constraints": [
              "must be a non-empty string",
              "should match a supported location identifier (e.g., us-east, eu-west)"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "HTTP status code indicating the result of disabling scheduled snapshots",
                      "x-constraints": [
                        "must be an integer",
                        "200 indicates success"
                      ],
                      "example": 200
                    },
                    "data": {
                      "type": "object",
                      "properties": {}
                    },
                    "errors": {
                      "type": "object",
                      "properties": {}
                    },
                    "message": {
                      "type": "string",
                      "description": "Confirmation message indicating scheduled snapshots have been disabled.",
                      "x-constraints": [
                        "must be a non-empty string",
                        "should not exceed 200 characters"
                      ],
                      "example": "Schedule settings has been disabled successfully."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/nodes/{node_id}/snapshots/": {
      "post": {
        "operationId": "create-snapshot",
        "summary": "Create Snapshot",
        "tags": [
          "Snapshots"
        ],
        "parameters": [
          {
            "name": "node_id",
            "in": "path",
            "required": true,
            "description": "Path parameter `node_id`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "query",
            "required": true,
            "description": "Identifier of the project to scope the request to. Required integer project ID.",
            "schema": {
              "type": "integer"
            },
            "example": "{{project_id}}",
            "x-constraints": [
              "required",
              "must be a valid integer project ID"
            ]
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "description": "API key for authenticating the request",
            "schema": {
              "type": "string"
            },
            "example": "{{api_key}}",
            "x-constraints": [
              "required",
              "non-empty string"
            ]
          },
          {
            "name": "location",
            "in": "query",
            "required": true,
            "description": "The target location or region for the snapshot.",
            "schema": {
              "type": "string"
            },
            "example": "{{location}}",
            "x-constraints": [
              "required",
              "must be a valid region identifier (e.g., us-east1)"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of the snapshot to create",
                    "x-constraints": [
                      "must be a non-empty string",
                      "max length 255 characters"
                    ],
                    "example": "random"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "HTTP status code of the snapshot creation response",
                      "x-constraints": [
                        "integer",
                        "value between 100 and 599"
                      ],
                      "example": 200
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "snapshot_id": {
                          "type": "integer",
                          "description": "Identifier of the created snapshot",
                          "x-constraints": [
                            "non-negative integer",
                            "required"
                          ],
                          "example": 0
                        },
                        "snapshot_details": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Identifier for the created snapshot",
                              "x-constraints": [
                                "must be a non-empty string",
                                "may contain alphanumeric characters and underscores only"
                              ],
                              "example": "random_1752239735.723534"
                            },
                            "date": {
                              "type": "string",
                              "description": "Timestamp of when the snapshot was created",
                              "x-constraints": [
                                "ISO 8601 UTC format",
                                "required"
                              ],
                              "example": "2025-07-11T13:15:36Z",
                              "format": "date-time"
                            },
                            "size": {
                              "type": "string",
                              "description": "Size of the snapshot in bytes represented as a string",
                              "x-constraints": [
                                "Must contain only digits",
                                "Must represent a non-negative integer"
                              ],
                              "example": "95367"
                            },
                            "snapshot_id": {
                              "type": "string",
                              "description": "Identifier of the created snapshot",
                              "x-constraints": [
                                "must be a non-empty string",
                                "contains only decimal digits"
                              ],
                              "example": "0"
                            }
                          }
                        }
                      }
                    },
                    "errors": {
                      "type": "object",
                      "properties": {}
                    },
                    "message": {
                      "type": "string",
                      "description": "Status message indicating the result of the snapshot creation.",
                      "x-constraints": [
                        "Must be a non-empty string",
                        "Maximum length typically 255 characters"
                      ],
                      "example": "Success"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "list-snapshots",
        "summary": "List Snapshots",
        "tags": [
          "Snapshots"
        ],
        "parameters": [
          {
            "name": "node_id",
            "in": "path",
            "required": true,
            "description": "Path parameter `node_id`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "query",
            "required": true,
            "description": "Identifier of the project to scope the request to. Required integer project ID.",
            "schema": {
              "type": "integer"
            },
            "example": "{{project_id}}",
            "x-constraints": [
              "required",
              "must be a valid integer project ID"
            ]
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "description": "API key for authenticating the request",
            "schema": {
              "type": "string"
            },
            "example": "{{api_key}}",
            "x-constraints": [
              "required",
              "non-empty string"
            ]
          },
          {
            "name": "location",
            "in": "query",
            "required": true,
            "description": "Specifies the location/region for which snapshots are listed",
            "schema": {
              "type": "string"
            },
            "example": "{{location}}",
            "x-constraints": [
              "must be a non-empty string",
              "should be a valid location identifier (e.g., region name)"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "HTTP status code of the list snapshots response",
                      "x-constraints": [
                        "integer",
                        "value between 100 and 599"
                      ],
                      "example": 200
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "Name of the snapshot",
                            "x-constraints": [
                              "must be a non-empty string",
                              "may contain only alphanumeric characters"
                            ],
                            "example": "etsghrh"
                          },
                          "date": {
                            "type": "string",
                            "description": "Timestamp of the snapshot in UTC",
                            "x-constraints": [
                              "must be a non-empty ISO 8601 UTC datetime string (e.g., 2025-07-18T09:32:32Z)",
                              "must represent a valid date-time"
                            ],
                            "example": "2025-07-18T09:32:32Z",
                            "format": "date-time"
                          },
                          "size": {
                            "type": "string",
                            "description": "Size of the snapshot in bytes",
                            "x-constraints": [
                              "numeric string",
                              "non-negative integer"
                            ],
                            "example": "95367"
                          },
                          "snapshot_uuid": {
                            "type": "string",
                            "description": "Unique identifier of the snapshot",
                            "x-constraints": [
                              "must be a UUID string",
                              "cannot be empty"
                            ],
                            "example": "f5bb7e1d-413e-4f24-5501-927bb2xxxxd1",
                            "format": "uuid"
                          },
                          "snapshot_id": {
                            "type": "string",
                            "description": "Identifier of the snapshot",
                            "x-constraints": [
                              "must be a non-empty string",
                              "contains only numeric characters"
                            ],
                            "example": "0"
                          },
                          "status": {
                            "type": "string",
                            "description": "Current state of the snapshot",
                            "x-constraints": [
                              "Must be a non-empty string",
                              "Allowed values likely include Complete, InProgress, Failed"
                            ],
                            "example": "Complete"
                          },
                          "method": {
                            "type": "string",
                            "description": "The method used to create the snapshot",
                            "x-constraints": [
                              "Must be a non-empty string",
                              "May be one of a predefined set of methods"
                            ],
                            "example": "Manual"
                          },
                          "is_locked": {
                            "type": "boolean",
                            "description": "Indicates whether the snapshot is locked.",
                            "x-constraints": [
                              "must be a boolean value",
                              "read-only field"
                            ],
                            "example": false
                          },
                          "bs_size": {
                            "type": "string",
                            "description": "Size of the snapshot as a stringified decimal number",
                            "x-constraints": [
                              "must be a non-negative decimal string",
                              "represents size in gigabytes"
                            ],
                            "example": "0.0931318359375"
                          },
                          "snapshot_size": {
                            "type": "string",
[...]
