{"openapi": "3.0.3", "info": {"title": "MyAccount API - eks", "description": "", "version": "1.0.0"}, "servers": [{"url": "https://api.e2enetworks.com/myaccount"}], "paths": {"/api/v1/kubernetes/change-committed-settings/{node_pool_id}/": {"put": {"operationId": "k8s-change-committed", "summary": "Change Committed Node Settings", "tags": ["Static"], "description": "Updates the committed (reserved) billing settings of a node pool's nodes. Set `node_status` to `auto_renew` to auto-renew the commitment on expiry, or to `hourly_billing` to fall back to hourly billing when the term ends. `committed_plan` is the committed-plan option (`sku_day_id`) to switch to.", "parameters": [{"name": "node_pool_id", "in": "path", "required": true, "description": "The node pool `service_id` (from List Node Pools).", "schema": {"type": "integer"}, "example": 12346, "x-constraints": ["required", "must be a valid node pool service ID"]}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request.", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Region of the cluster.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["required", "must be a valid region name (e.g., Delhi, Chennai)"]}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "description": "Update the committed billing settings of the pool's nodes.", "required": ["node_status"], "properties": {"node_status": {"type": "string", "description": "Committed billing behaviour on term expiry.", "x-constraints": ["required", "one of: auto_renew, hourly_billing"], "example": "hourly_billing"}, "committed_plan": {"type": "integer", "description": "Committed-plan option (`sku_day_id`) to switch to. Use 0 to leave the plan unchanged.", "x-constraints": ["optional"], "example": 0}}, "example": {"node_status": "hourly_billing", "committed_plan": 0}}}}}, "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "string"}, "example": [""]}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "example": "Kubernetes Committed Nodes Plans are updated"}}}}}}}}}, "/api/v1/kubernetes/convert-to-committed/{node_pool_id}/": {"post": {"operationId": "k8s-convert-to-committed", "summary": "Convert Node Pool to Committed Nodes", "tags": ["Static"], "description": "Converts a node pool's hourly-billed worker nodes into committed (reserved) nodes for a fixed term, at a lower effective rate. Send `sku_day_id` - the committed-plan option to apply (a `committed_sku_id` from the plan's `committed_sku` list). Use the node pool's `service_id`.", "parameters": [{"name": "node_pool_id", "in": "path", "required": true, "description": "The node pool `service_id` (from List Node Pools).", "schema": {"type": "integer"}, "example": 12346, "x-constraints": ["required", "must be a valid node pool service ID"]}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request.", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Region of the cluster.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["required", "must be a valid region name (e.g., Delhi, Chennai)"]}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "description": "Convert the pool's nodes to committed (reserved) nodes.", "required": ["sku_day_id"], "properties": {"sku_day_id": {"type": "integer", "description": "The committed-plan option to apply (a `committed_sku_id` from the plan's `committed_sku` list).", "x-constraints": ["required", "must be a valid committed SKU ID"], "example": 9195}}, "example": {"sku_day_id": 9195}}}}}, "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "string"}, "example": [""]}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "example": "Kubernetes node pool vms are converted into Committed Nodes"}}}}}}}}}, "/api/v1/kubernetes/delete-worker-node/{node_pool_id}/{node_id}/": {"delete": {"operationId": "k8s-delete-worker-node", "summary": "Delete a Single Worker Node", "tags": ["Node Action"], "description": "Terminates a single worker node from a node pool (scaling that pool down by one). Use the node pool's `service_id` and the node's `id` (from Node Pool Details).", "parameters": [{"name": "node_pool_id", "in": "path", "required": true, "description": "The node pool `service_id` (from List Node Pools).", "schema": {"type": "integer"}, "example": 12346, "x-constraints": ["required", "must be a valid node pool service ID"]}, {"name": "node_id", "in": "path", "required": true, "description": "The `id` of the worker node to delete (from Node Pool Details).", "schema": {"type": "integer"}, "example": 320001, "x-constraints": ["required", "must be a valid worker node ID"]}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the delete request.", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Region of the cluster.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["required", "must be a valid region name (e.g., Delhi, Chennai)"]}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "example": "Worker node deleted successfully"}}}}}}}}}, "/api/v1/kubernetes/node-pool/{node_pool_id}/update-worker-node/{node_id}/": {"put": {"operationId": "k8s-node-lifecycle", "summary": "Worker Node Power/Reboot/Rename Action", "tags": ["Node Action"], "description": "Performs a lifecycle action on a single worker node. The action is chosen with the required `action` query parameter: `power_on`, `power_off`, `reboot`, or `rename`. The path takes the node pool `service_id` and the node's `id`.", "parameters": [{"name": "node_pool_id", "in": "path", "required": true, "description": "The node pool `service_id` (from List Node Pools).", "schema": {"type": "integer"}, "example": 12346, "x-constraints": ["required", "must be a valid node pool service ID"]}, {"name": "node_id", "in": "path", "required": true, "description": "The `id` of the worker node (from Node Pool Details).", "schema": {"type": "integer"}, "example": 320001, "x-constraints": ["required", "must be a valid worker node ID"]}, {"name": "action", "in": "query", "required": true, "description": "The lifecycle action to perform on the node.", "schema": {"type": "string"}, "example": "reboot", "x-constraints": ["required", "one of: power_on, power_off, reboot, rename"]}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request.", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Region of the cluster.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["required", "must be a valid region name (e.g., Delhi, Chennai)"]}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "description": "The lifecycle action takes an empty request body; the action is set via the `action` query parameter.", "properties": {}, "example": {}}}}}, "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "example": "Action performed successfully"}}}}}}}}}, "/api/v1/kubernetes/update-node-pool/{node_pool_id}/": {"put": {"operationId": "k8s-update-node-pool", "summary": "Edit a Node Pool (Autoscaling)", "tags": ["Auto-Scale"], "description": "Updates a node pool's scaling configuration: its `min_vms` / `cardinality` / `max_vms`, `policy_type`, backing `plan_id`, and the elastic (`elasticity_policies`) and scheduled (`scheduled_policies`) rules. The requested `cardinality` must lie within `[min_vms, max_vms]`. Use the node pool's `service_id` (from List Node Pools).", "parameters": [{"name": "node_pool_id", "in": "path", "required": true, "description": "The node pool `service_id` (from List Node Pools).", "schema": {"type": "integer"}, "example": 12346, "x-constraints": ["required", "must be a valid node pool service ID"]}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the update request.", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Region of the cluster.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["required", "must be a valid region name (e.g., Delhi, Chennai)"]}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "description": "Update a node pool's sizing and scaling policies.", "required": ["min_vms", "cardinality", "max_vms", "policy_type", "plan_id"], "properties": {"min_vms": {"type": "integer", "description": "Minimum number of worker nodes.", "x-constraints": ["required", "must be <= cardinality"], "example": 3}, "cardinality": {"type": "integer", "description": "Desired (current) number of worker nodes.", "x-constraints": ["required", "must be between min_vms and max_vms"], "example": 3}, "max_vms": {"type": "integer", "description": "Maximum number of worker nodes.", "x-constraints": ["required", "must be >= cardinality"], "example": 5}, "policy_type": {"type": "string", "description": "Scaling policy mode.", "x-constraints": ["required", "max length 50 characters", "one of: Default, Custom, Default-Scheduled, Custom-Scheduled, No-policy"], "example": "Default"}, "plan_id": {"type": "integer", "description": "SKU ID of the worker plan backing the pool.", "x-constraints": ["required", "must be a valid worker SKU ID"], "example": 1088}, "elasticity_policies": {"type": "array", "description": "Elastic scaling rules (scale-up adjust 1 and scale-down adjust -1).", "items": {"type": "object", "properties": {"type": {"type": "string", "example": "CHANGE"}, "adjust": {"type": "integer", "example": 1}, "parameter": {"type": "string", "x-constraints": ["one of: CPU, MEMORY"], "example": "CPU"}, "operator": {"type": "string", "x-constraints": ["one of: \">\", \"<\", \">=\", \"<=\""], "example": ">"}, "value": {"type": "integer", "example": 60}, "period_number": {"type": "integer", "example": 3}, "period": {"type": "integer", "example": 10}, "cooldown": {"type": "integer", "example": 150}}}}, "scheduled_policies": {"type": "array", "description": "Scheduled scaling rules. Empty when the pool uses only elastic scaling.", "items": {"type": "object", "properties": {"type": {"type": "string", "example": "CARDINALITY"}, "adjust": {"type": "integer", "example": 3}, "recurrence": {"type": "string", "x-constraints": ["must be a valid cron expression"], "example": "0 12 * * *"}}}}}, "example": {"min_vms": 3, "cardinality": 3, "max_vms": 5, "policy_type": "Default", "plan_id": 1088, "elasticity_policies": [{"type": "CHANGE", "adjust": 1, "parameter": "CPU", "operator": ">", "value": 60, "period_number": 3, "period": 10, "cooldown": 150}, {"type": "CHANGE", "adjust": -1, "parameter": "CPU", "operator": "<", "value": 30, "period_number": 3, "period": 10, "cooldown": 150}], "scheduled_policies": []}}}}}, "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "example": "Node Pool pool-worker-1 Updated Successfully"}}}}}}}}}, "/api/v1/kubernetes/add-node-pools/{service_id}": {"get": {"operationId": "k8s-add-node-pool", "summary": "Add Node Pool View", "tags": ["Node Pool"], "description": "Returns the data needed to add a worker node pool to an existing cluster - the cluster's current worker pools and their configuration. Use the cluster `service_id` returned by List.", "parameters": [{"name": "service_id", "in": "path", "required": true, "description": "The cluster `service_id`, as returned by List.", "schema": {"type": "integer"}, "example": 12345, "x-constraints": ["required", "must be a valid cluster service ID"]}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request.", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Region of the cluster.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["required", "must be a valid region name (e.g., Delhi, Chennai)"]}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "description": "Returns the cluster's current worker pools (the data backing the add-node-pool view).", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"service_id": {"type": "integer", "example": 12346}, "service_name": {"type": "string", "example": "pool-worker-1"}, "state": {"type": "string", "example": "Running"}, "plan_name": {"type": "string", "example": "C3.8GB"}}}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/kubernetes/node-pool-services/{service_id}": {"get": {"operationId": "k8s-list-node-pools", "summary": "List Node Pools of a Cluster", "tags": ["Node Pool"], "description": "Returns the worker node pools attached to a cluster. Each pool reports its own `service_id`, worker role (cardinality, min/max VMs, elasticity and scheduled policies, `policy_type`, backing `plan_id`), state, node id list, and committed-pricing options. Use the cluster `service_id` returned by List.", "parameters": [{"name": "service_id", "in": "path", "required": true, "description": "The cluster `service_id`, as returned by List.", "schema": {"type": "integer"}, "example": 12345, "x-constraints": ["required", "must be a valid cluster service ID"]}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request.", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Region of the cluster.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["required", "must be a valid region name (e.g., Delhi, Chennai)"]}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "description": "Worker node pools of the cluster.", "items": {"type": "object", "properties": {"service_id": {"type": "integer", "example": 12346}, "service_name": {"type": "string", "example": "pool-worker-1"}, "roles": {"type": "array", "items": {"type": "object", "properties": {"role_name": {"type": "string", "example": "worker"}, "cardinality": {"type": "integer", "example": 3}, "min_vms": {"type": "integer", "example": 3}, "max_vms": {"type": "integer", "example": 5}, "state": {"type": "string", "example": "Running"}, "elasticity_policies": {"type": "array", "items": {"type": "object", "properties": {"elasticity_type": {"type": "string", "example": "CHANGE"}, "adjust": {"type": "integer", "example": 1}, "parameter": {"type": "string", "example": "CPU"}, "operator": {"type": "string", "example": ">"}, "value": {"type": "integer", "example": 60}, "period_number": {"type": "integer", "example": 3}, "period": {"type": "integer", "example": 10}, "cooldown": {"type": "integer", "example": 150}}}}, "scheduled_policies": {"type": "array", "items": {"type": "object", "properties": {"type": {"type": "string", "example": "CARDINALITY"}, "adjust": {"type": "integer", "example": 3}, "recurrence": {"type": "string", "example": "0 12 * * *"}}}}, "node_id_list": {"type": "array", "items": {"type": "integer"}, "example": [320001, 320002, 320003]}, "policy_type": {"type": "string", "example": "Default-Scheduled"}, "plan_id": {"type": "integer", "example": 1088}}}}, "state": {"type": "string", "example": "Running"}, "auto_scale_enabled": {"type": "boolean", "example": true}, "plan_name": {"type": "string", "example": "C3.8GB"}, "master_node_id": {"type": "integer", "example": 320000}, "cluster_id": {"type": "integer", "example": 10002}, "price": {"type": "string", "example": "Rs. 3.1/Hour or Rs. 2263.0 Monthly"}}}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/kubernetes/cluster-nodes/{node_pool_id}": {"get": {"operationId": "k8s-node-pool-nodes", "summary": "List Nodes in a Node Pool", "tags": ["Node Pool"], "description": "Returns the worker nodes belonging to a node pool - each node's `id`, `name`, `status`, public and private IP address, `vm_type`, and timestamps. Use the node pool's `service_id` (from List).", "parameters": [{"name": "node_pool_id", "in": "path", "required": true, "description": "The node pool `service_id` (from List).", "schema": {"type": "integer"}, "example": 12346, "x-constraints": ["required", "must be a valid node pool service ID"]}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request.", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Region of the cluster.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["required", "must be a valid region name (e.g., Delhi, Chennai)"]}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "description": "Worker nodes in the node pool.", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 320001}, "name": {"type": "string", "example": "worker_0_service_12346"}, "status": {"type": "string", "example": "Running"}, "ip_address_public": {"type": "string", "example": "203.0.113.10"}, "ip_address_private": {"type": "string", "example": "10.20.30.10"}, "vm_type": {"type": "string", "example": "worker"}, "created_at": {"type": "string", "example": "2026-06-30T10:19:41.892656Z"}, "worker_name": {"type": "string", "example": "e2e-137-54"}}}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/kubernetes/cluster-update/{node_pool_id}": {"put": {"operationId": "k8s-resize-node-pool", "summary": "Resize a Node Pool (Cardinality)", "tags": ["Node Pool"], "description": "Manually sets the number of worker nodes (`cardinality`) in a node pool. `cardinality` must be between 2 and 25. Set `update_min_nodes: true` to also raise the pool's minimum so autoscaling does not immediately scale it back down. The request is rejected with `412 Precondition Failed` if the pool is already committed or otherwise not in a resizable state.", "parameters": [{"name": "node_pool_id", "in": "path", "required": true, "description": "The node pool `service_id` (from List).", "schema": {"type": "integer"}, "example": 12346, "x-constraints": ["required", "must be a valid node pool service ID"]}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request.", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Region of the cluster.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["required", "must be a valid region name (e.g., Delhi, Chennai)"]}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "description": "Manually set the worker node count of the pool.", "required": ["cardinality"], "properties": {"cardinality": {"type": "integer", "description": "Target number of worker nodes.", "x-constraints": ["required", "integer between 2 and 25"], "example": 3}, "update_min_nodes": {"type": "boolean", "description": "When true, also raise the pool's minimum to the new cardinality so autoscaling does not scale it back down.", "x-constraints": ["optional", "defaults to false"], "example": false}}, "example": {"cardinality": 3, "update_min_nodes": false}}}}}, "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "description": "A resize on a committed pool is rejected with 412 Precondition Failed.", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "example": "Node pool resize initiated"}}}}}}}}}, "/api/v1/kubernetes/delete-node-pool-service/{node_pool_id}": {"delete": {"operationId": "k8s-delete-node-pool", "summary": "Delete a Node Pool", "tags": ["Node Pool"], "description": "Permanently deletes a worker node pool from the cluster. All of the pool's worker nodes are terminated. Use the node pool's `service_id` (from List). On success the API returns `code: 204` with an empty body.", "parameters": [{"name": "node_pool_id", "in": "path", "required": true, "description": "The node pool `service_id` to delete (from List).", "schema": {"type": "integer"}, "example": 12346, "x-constraints": ["required", "must be a valid node pool service ID"]}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the delete request.", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Region of the cluster.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["required", "must be a valid region name (e.g., Delhi, Chennai)"]}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 204}, "data": {"type": "object", "properties": {}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "example": "Node pool deleted successfully"}}}}}}}}}, "/api/v1/kubernetes/attach-security-group/{service_id}/": {"post": {"operationId": "k8s-attach-sg", "summary": "Attach Security Groups to a Cluster", "tags": ["Security Group"], "description": "Attaches one or more security groups to the cluster's nodes. Send `security_group_ids` - a non-empty list of security group IDs (from Available Security Groups). Use the cluster `service_id`.", "parameters": [{"name": "service_id", "in": "path", "required": true, "description": "The cluster `service_id`, as returned by List.", "schema": {"type": "integer"}, "example": 12345, "x-constraints": ["required", "must be a valid cluster service ID"]}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request.", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Region of the cluster.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["required", "must be a valid region name (e.g., Delhi, Chennai)"]}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "description": "Security groups to attach to the cluster.", "required": ["security_group_ids"], "properties": {"security_group_ids": {"type": "array", "description": "IDs of the security groups to attach (from Available Security Groups).", "items": {"type": "integer"}, "x-constraints": ["required", "non-empty list of valid security group IDs"], "example": [12345]}}, "example": {"security_group_ids": [12345]}}}}}, "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "example": "Security Group Attached Successfully"}}}}}}}}}, "/api/v1/kubernetes/detach-security-group/{service_id}/": {"post": {"operationId": "k8s-detach-sg", "summary": "Detach Security Groups from a Cluster", "tags": ["Security Group"], "description": "Detaches one or more security groups from the cluster's nodes. Send `security_group_ids` - a non-empty list of security group IDs (from Attached Security Groups). Use the cluster `service_id`.", "parameters": [{"name": "service_id", "in": "path", "required": true, "description": "The cluster `service_id`, as returned by List.", "schema": {"type": "integer"}, "example": 12345, "x-constraints": ["required", "must be a valid cluster service ID"]}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request.", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Region of the cluster.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["required", "must be a valid region name (e.g., Delhi, Chennai)"]}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "description": "Security groups to detach from the cluster.", "required": ["security_group_ids"], "properties": {"security_group_ids": {"type": "array", "description": "IDs of the security groups to detach (from Attached Security Groups).", "items": {"type": "integer"}, "x-constraints": ["required", "non-empty list of valid security group IDs"], "example": [12345]}}, "example": {"security_group_ids": [12345]}}}}}, "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "example": "Security Group Detached Successfully"}}}}}}}}}, "/api/v1/kubernetes/allow-all-traffic-node/{service_id}/": {"post": {"operationId": "k8s-allow-all-traffic", "summary": "Attach Allow-All-Traffic Security Group", "tags": ["Security Group"], "description": "Attaches an \"allow all traffic\" security group to the cluster's nodes, opening all inbound and outbound traffic. The request body is empty. Use the cluster `service_id`.", "parameters": [{"name": "service_id", "in": "path", "required": true, "description": "The cluster `service_id`, as returned by List.", "schema": {"type": "integer"}, "example": 12345, "x-constraints": ["required", "must be a valid cluster service ID"]}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request.", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Region of the cluster.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["required", "must be a valid region name (e.g., Delhi, Chennai)"]}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "description": "The allow-all-traffic action takes an empty request body.", "properties": {}, "example": {}}}}}, "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "example": "Security Group Attached Successfully"}}}}}}}}}, "/api/v1/kubernetes/cluster-config-download/{service_id}/": {"get": {"operationId": "k8s-kube-config", "summary": "Download Cluster kubeconfig", "tags": ["Actions"], "description": "Returns the cluster's `kubeconfig` file - the credentials and endpoint used by `kubectl` and other clients to connect to the cluster's API server. Save the response as your `~/.kube/config` (or merge it in). Use the cluster `service_id`.", "parameters": [{"name": "service_id", "in": "path", "required": true, "description": "The cluster `service_id`, as returned by List.", "schema": {"type": "integer"}, "example": 12345, "x-constraints": ["required", "must be a valid cluster service ID"]}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request.", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Region of the cluster.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["required", "must be a valid region name (e.g., Delhi, Chennai)"]}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "description": "The cluster's kubeconfig, returned as YAML text (fields vary by cluster).", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "string", "description": "The kubeconfig file contents.", "example": "apiVersion: v1\nclusters:\n- cluster:\n    server: https://203.0.113.10:6443\n  name: my-k8s-cluster\ncontexts:\n- context:\n    cluster: my-k8s-cluster\n    user: admin-user\n  name: my-k8s-cluster\ncurrent-context: my-k8s-cluster\nkind: Config\nusers:\n- name: admin-user\n  user:\n    token: <token>\n"}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/kubernetes/proxy-ui-token/{service_id}/": {"get": {"operationId": "k8s-config-token", "summary": "Get Dashboard Proxy Token", "tags": ["Actions"], "description": "Returns a service-account bearer `token` used to authenticate to the cluster's Kubernetes Dashboard (proxy UI). Use the cluster `service_id`.", "parameters": [{"name": "service_id", "in": "path", "required": true, "description": "The cluster `service_id`, as returned by List.", "schema": {"type": "integer"}, "example": 12345, "x-constraints": ["required", "must be a valid cluster service ID"]}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request.", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Region of the cluster.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["required", "must be a valid region name (e.g., Delhi, Chennai)"]}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"token": {"type": "string", "description": "Service-account bearer token for the Kubernetes Dashboard.", "example": "<token>"}}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/kubernetes/master-upgrade/{service_id}/": {"put": {"operationId": "k8s-master-upgrade", "summary": "Upgrade Master Node Plan", "tags": ["Actions"], "description": "Upgrades the cluster's master node to a larger plan. Send the target `sku_id` (a master `specs.id` from Master Plan). The target plan must have **more** vCPU and RAM than the current master plan - downgrades are rejected. Use the cluster `service_id`.", "parameters": [{"name": "service_id", "in": "path", "required": true, "description": "The cluster `service_id`, as returned by List.", "schema": {"type": "integer"}, "example": 12345, "x-constraints": ["required", "must be a valid cluster service ID"]}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request.", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Region of the cluster.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["required", "must be a valid region name (e.g., Delhi, Chennai)"]}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "description": "Target master plan to upgrade to.", "required": ["sku_id"], "properties": {"sku_id": {"type": "integer", "description": "SKU ID of the target master plan (a `specs.id` from Master Plan). Must have more vCPU and RAM than the current plan.", "x-constraints": ["required", "must be a valid active master (K8s_Master) SKU ID", "target CPU and RAM must be greater than the current plan"], "example": 1694}, "plan": {"type": "string", "description": "Human-readable name of the target plan (optional; for display).", "x-constraints": ["optional"], "example": "E2E-K8s-Cluster-Large"}}, "example": {"sku_id": 1694, "plan": "E2E-K8s-Cluster-Large"}}}}}, "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"service_id": {"type": "integer", "example": 12345}, "new_sku_id": {"type": "integer", "example": 1694}, "old_sku_id": {"type": "integer", "example": 1178}, "vcpu": {"type": "integer", "example": 8}, "ram": {"type": "integer", "example": 16000}, "location": {"type": "string", "example": "Delhi"}}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "example": "Master node upgrade initiated"}}}}}}}}}, "/api/v1/kubernetes/k8s-monitoring-nodes/{service_id}/": {"get": {"operationId": "k8s-monitoring-nodes", "summary": "List Monitored Cluster Nodes", "tags": ["Monitoring and Logs"], "description": "Returns the cluster's nodes as seen by monitoring - each node's `id`, `name`, `vm_id`, public/private IP, `status`, `vm_type` (master/worker), monitor status, and whether the monitoring and alert tabs are enabled for it. Use the cluster `service_id`. The node `id`/`vm_id` from here feeds Server Health and the alert operations.", "parameters": [{"name": "service_id", "in": "path", "required": true, "description": "The cluster `service_id`, as returned by List.", "schema": {"type": "integer"}, "example": 12345, "x-constraints": ["required", "must be a valid cluster service ID"]}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request.", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Region of the cluster.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["required", "must be a valid region name (e.g., Delhi, Chennai)"]}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "description": "Cluster nodes as seen by monitoring.", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 320000}, "name": {"type": "string", "example": "master_0_service_12345"}, "vm_id": {"type": "integer", "example": 323992}, "created_at": {"type": "string", "example": "2026-07-01T06:21:49.151569Z"}, "public_ip_address": {"type": "string", "example": "203.0.113.10"}, "private_ip_address": {"type": "string", "example": "10.20.30.10"}, "status": {"type": "string", "example": "Running"}, "vm_type": {"type": "string", "example": "master"}, "is_monitored": {"type": "boolean", "example": true}, "monitor_status": {"type": "object", "properties": {"status": {"type": "string", "example": "activated"}, "reason": {"type": "string", "example": ""}}}, "monitoring_tab_enabled": {"type": "boolean", "example": true}, "alert_tab_enabled": {"type": "boolean", "example": true}, "location": {"type": "string", "example": "Delhi"}, "worker_name": {"type": "string", "example": "onekube-ip-10-20-30-10"}}}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/kubernetes/timeline/{service_id}/": {"get": {"operationId": "k8s-timeline", "summary": "Get Cluster Activity Timeline", "tags": ["Monitoring and Logs"], "description": "Returns the audited activity timeline for the cluster for a given month - each management event (cluster created, security group attached/detached, PV created/removed, tool installed, and so on), its `timestamp`, `details`, who performed it, the client IP, and whether it succeeded. Filter with the required `year` and `month` query parameters.", "parameters": [{"name": "service_id", "in": "path", "required": true, "description": "The cluster `service_id`, as returned by List.", "schema": {"type": "integer"}, "example": 12345, "x-constraints": ["required", "must be a valid cluster service ID"]}, {"name": "year", "in": "query", "required": true, "description": "Four-digit year to filter the timeline by.", "schema": {"type": "integer"}, "example": 2026, "x-constraints": ["required", "four-digit year"]}, {"name": "month", "in": "query", "required": true, "description": "Month (1-12) to filter the timeline by.", "schema": {"type": "integer"}, "example": 7, "x-constraints": ["required", "integer between 1 and 12"]}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request.", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Region of the cluster.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["required", "must be a valid region name (e.g., Delhi, Chennai)"]}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "description": "Audited cluster management events.", "items": {"type": "object", "properties": {"timestamp": {"type": "string", "example": "Jul 01, 2026 08:48:54 AM"}, "event": {"type": "string", "example": "K8S_CLUSTER_CREATED"}, "client_ip": {"type": "string", "example": "203.0.113.5"}, "details": {"type": "string", "example": "Cluster name: my-k8s-cluster, Message: Cluster creation completed successfully"}, "operation_performed_by": {"type": "string", "example": "user@example.com"}, "performer_type": {"type": "string", "example": "primary_user"}, "performer_name": {"type": "string", "example": "Example User"}, "status": {"type": "boolean", "example": true}}}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/kubernetes/plans": {"get": {"operationId": "k8s-master-plan", "summary": "List Master Node Plans & Pricing", "tags": ["Kubernetes"], "description": "Returns the compute plans (SKUs) available for the cluster's master node in the region, with each plan's specs (vCPU, RAM, disk), hourly/monthly pricing, supported Kubernetes version, and the committed-pricing (reserved) options. Use a plan's `specs.id` as `sku_id` and its `plan` string as `slug_name` when creating a cluster.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request.", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Region whose plans and pricing should be returned.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["required", "must be a valid region name (e.g., Delhi, Chennai)"]}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"data": {"type": "array", "description": "Available master node plans.", "items": {"type": "object", "properties": {"name": {"type": "string", "example": "E2E-K8s-Cluster"}, "plan": {"type": "string", "example": "C3-4vCPU-8RAM-100DISK-3rdGen-K8s1_32-master-metal-lb-Delhi"}, "location": {"type": "string", "example": "Delhi"}, "specs": {"type": "object", "properties": {"id": {"type": "string", "description": "SKU ID - use as `sku_id` on create.", "example": "1178"}, "sku_name": {"type": "string", "example": "E2E-K8s-Cluster"}, "ram": {"type": "string", "example": "8.00"}, "cpu": {"type": "integer", "example": 4}, "disk_space": {"type": "integer", "example": 100}, "price_per_month": {"type": "number", "example": 2263}, "price_per_hour": {"type": "number", "example": 3.1}, "series": {"type": "string", "example": "C3"}, "committed_sku": {"type": "array", "description": "Committed (reserved) pricing options for this plan.", "items": {"type": "object", "properties": {"committed_sku_id": {"type": "integer", "example": 9197}, "committed_sku_name": {"type": "string", "example": "365 Days Committed , Rs. 21725.0"}, "committed_sku_price": {"type": "number", "example": 21725}, "committed_days": {"type": "integer", "example": 365}}}}, "family": {"type": "string", "example": "CPU Intensive 3rd Generation"}}}, "currency": {"type": "string", "example": "INR"}, "k8s_version": {"type": "string", "example": "1.32"}}}}}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/kubernetes/worker-plans/": {"get": {"operationId": "k8s-worker-plan", "summary": "List Worker Node Plans & Pricing", "tags": ["Kubernetes"], "description": "Returns the compute plans (SKUs) available for worker nodes in the region, with each plan's OS image, specs (vCPU, RAM, disk), pricing, and committed-pricing options. Use a plan's `specs.id` as `sku_id` and its `plan` string as `slug_name` when defining a node pool.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request.", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Region whose plans and pricing should be returned.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["required", "must be a valid region name (e.g., Delhi, Chennai)"]}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "description": "Available worker node plans.", "items": {"type": "object", "properties": {"name": {"type": "string", "example": "C3.96GB"}, "plan": {"type": "string", "example": "C3-24vCPU-96RAM-600DISK-C3.96GB - CentOS-Stream-Delhi"}, "image": {"type": "string", "example": "CentOS-Stream-Distro"}, "os": {"type": "object", "properties": {"name": {"type": "string", "example": "CentOS"}, "version": {"type": "string", "example": "Stream"}, "category": {"type": "string", "example": "CentOS"}}}, "location": {"type": "string", "example": "Delhi"}, "specs": {"type": "object", "properties": {"id": {"type": "string", "description": "SKU ID - use as `sku_id` in a node pool.", "example": "1088"}, "sku_name": {"type": "string", "example": "C3.96GB"}, "ram": {"type": "string", "example": "96.00"}, "cpu": {"type": "integer", "example": 24}, "disk_space": {"type": "integer", "example": 600}, "price_per_month": {"type": "number", "example": 27156}, "price_per_hour": {"type": "number", "example": 37.2}}}, "currency": {"type": "string", "example": "INR"}}}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/kubernetes/": {"post": {"operationId": "k8s-create", "summary": "Create Kubernetes Cluster", "tags": ["Kubernetes"], "description": "Provisions a managed Kubernetes cluster. The cluster is created with a single master node (sized by `sku_id` from Master Plan) and one or more worker **node pools** (`node_pools`, 1-10 pools). Each node pool runs identical worker nodes from the selected worker plan and can define elastic (metric based) and/or scheduled (cron based) autoscaling via `elasticity_dict` and `scheduled_dict`.\n\nThe cluster must be attached to a VPC (`vpc_id`, which must be in the `Running` state), and can optionally attach a security group and enable disk encryption. On success the cluster is returned in a `Creating` state - poll List or Detail until it reaches `Running`.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the create request.", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Region in which the cluster will be provisioned.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["required", "must be a valid region name (e.g., Delhi, Chennai)"]}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "description": "Create payload for a Kubernetes cluster. Send the master node sizing (`sku_id`, `version`, `slug_name`), the VPC to attach (`vpc_id`), and one or more worker `node_pools` (1-10). For each node pool, send `elasticity_dict` for metric-based scaling, `scheduled_dict` for cron-based scaling, or both - and set `policy_type` accordingly.", "required": ["name", "version", "slug_name", "vpc_id", "sku_id", "node_pools"], "properties": {"name": {"type": "string", "description": "Display name of the cluster.", "x-constraints": ["required", "max length 100 characters"], "example": "my-k8s-cluster"}, "version": {"type": "string", "description": "Kubernetes version for the cluster. Must be a version supported by the selected master image (`slug_name`).", "x-constraints": ["required", "must be a supported Kubernetes version (e.g., \"1.32\")"], "example": "1.32"}, "slug_name": {"type": "string", "description": "Master plan slug (the `plan` string from Master Plan). The region must support managed Kubernetes.", "x-constraints": ["required", "must be a valid master plan slug"], "example": "C3-4vCPU-8RAM-100DISK-3rdGen-K8s1_32-master-metal-lb-Delhi"}, "vpc_id": {"type": "integer", "description": "ID of the VPC network to attach the cluster to.", "x-constraints": ["required", "must reference a VPC in the Running state in the same project and region"], "example": 12345}, "subnet_id": {"type": "integer", "description": "ID of the subnet within the VPC to place the cluster in.", "nullable": true, "x-constraints": ["optional", "when set, must be a Running subnet of the selected VPC"], "example": null}, "sku_id": {"type": "integer", "description": "SKU ID of the master node plan (a `specs.id` from Master Plan).", "x-constraints": ["required", "must be a valid master (K8s_Master) SKU ID"], "example": 1178}, "security_group_id": {"type": "integer", "description": "ID of a security group to attach to the cluster nodes at create time.", "x-constraints": ["optional", "must be a valid security group ID in the same project and region"], "example": 12345}, "isEncryptionEnabled": {"type": "boolean", "description": "Whether to enable disk encryption on the cluster nodes.", "x-constraints": ["optional", "defaults to false"], "example": true}, "encryption_passphrase": {"type": "string", "description": "Passphrase used to encrypt the disks. Required when `isEncryptionEnabled` is true.", "x-constraints": ["required when isEncryptionEnabled is true"], "example": "<encryption-passphrase>"}, "node_pools": {"type": "array", "description": "Worker node pools to create with the cluster.", "x-constraints": ["required", "between 1 and 10 node pools"], "items": {"type": "object", "required": ["name", "slug_name", "sku_id"], "properties": {"name": {"type": "string", "description": "Display name of the node pool.", "x-constraints": ["required", "max length 100 characters"], "example": "pool-worker-1"}, "slug_name": {"type": "string", "description": "Worker plan slug (the `plan` string from Worker Plan).", "x-constraints": ["required", "must be a valid worker plan slug"], "example": "C3-4vCPU-8RAM-100DISK-C3.96GB - CentOS-Stream-Delhi"}, "sku_id": {"type": "integer", "description": "SKU ID of the worker plan (a `specs.id` from Worker Plan).", "x-constraints": ["required", "must be a valid worker SKU ID"], "example": 1088}, "specs_name": {"type": "string", "description": "Human-readable plan/spec name for the worker nodes.", "x-constraints": ["optional"], "example": "C3.8GB"}, "policy_type": {"type": "string", "description": "Scaling policy mode for the pool. Required when `elasticity_dict` or `scheduled_dict` is supplied.", "x-constraints": ["one of: Default, Custom, Default-Scheduled, Custom-Scheduled, No-policy", "required when elasticity_dict or scheduled_dict is set"], "example": "Default-Scheduled"}, "elasticity_dict": {"type": "object", "description": "Elastic (metric-based) autoscaling configuration, keyed by role (`worker`).", "properties": {"worker": {"type": "object", "properties": {"min_vms": {"type": "integer", "description": "Minimum number of worker nodes.", "x-constraints": ["integer", "must be <= cardinality"], "example": 3}, "cardinality": {"type": "integer", "description": "Initial (desired) number of worker nodes.", "x-constraints": ["must be between min_vms and max_vms"], "example": 3}, "max_vms": {"type": "integer", "description": "Maximum number of worker nodes the pool may scale to.", "x-constraints": ["integer", "must not exceed 25"], "example": 5}, "elasticity_policies": {"type": "array", "description": "Elastic scaling rules, sent as two objects - a scale-up rule (`adjust: 1`) and a scale-down rule (`adjust: -1`).", "items": {"type": "object", "properties": {"type": {"type": "string", "description": "Policy type; use \"CHANGE\" for a relative adjustment.", "example": "CHANGE"}, "adjust": {"type": "integer", "description": "Number of nodes to add (positive) or remove (negative) when the rule fires.", "example": 1}, "parameter": {"type": "string", "description": "Metric the rule watches.", "x-constraints": ["one of: CPU, MEMORY"], "example": "CPU"}, "operator": {"type": "string", "description": "Comparison operator applied to the metric.", "x-constraints": ["one of: \">\", \"<\", \">=\", \"<=\""], "example": ">"}, "value": {"type": "integer", "description": "Threshold percentage the metric is compared against.", "example": 60}, "period_number": {"type": "integer", "description": "Number of consecutive evaluation periods the condition must hold before the rule fires.", "example": 3}, "period": {"type": "integer", "description": "Duration of one evaluation period, in seconds.", "example": 10}, "cooldown": {"type": "integer", "description": "Cooldown after scaling, in seconds, before the rule can fire again.", "example": 150}}}}}}}}, "scheduled_dict": {"type": "object", "description": "Scheduled (cron-based) autoscaling configuration, keyed by role (`worker`).", "properties": {"worker": {"type": "object", "properties": {"min_vms": {"type": "integer", "example": 3}, "cardinality": {"type": "integer", "example": 3}, "max_vms": {"type": "integer", "example": 5}, "scheduled_policies": {"type": "array", "description": "Scheduled scaling rules that set the node count on a cron schedule.", "items": {"type": "object", "properties": {"type": {"type": "string", "description": "Use \"CARDINALITY\" to set an absolute target node count.", "example": "CARDINALITY"}, "adjust": {"type": "integer", "description": "Target number of worker nodes when the schedule fires.", "example": 3}, "recurrence": {"type": "string", "description": "Cron expression for when the rule fires. Must be a valid cron.", "x-constraints": ["required", "must be a valid cron expression"], "example": "0 12 * * *"}}}}}}}}}}}}, "example": {"name": "my-k8s-cluster", "version": "1.32", "slug_name": "C3-4vCPU-8RAM-100DISK-3rdGen-K8s1_32-master-metal-lb-Delhi", "vpc_id": 12345, "subnet_id": null, "sku_id": 1178, "security_group_id": 12345, "isEncryptionEnabled": true, "encryption_passphrase": "<encryption-passphrase>", "node_pools": [{"name": "pool-worker-1", "slug_name": "C3-4vCPU-8RAM-100DISK-C3.96GB - CentOS-Stream-Delhi", "sku_id": 1088, "specs_name": "C3.8GB", "policy_type": "Default-Scheduled", "elasticity_dict": {"worker": {"min_vms": 3, "cardinality": 3, "max_vms": 5, "elasticity_policies": [{"type": "CHANGE", "adjust": 1, "parameter": "CPU", "operator": ">", "value": 60, "period_number": 3, "period": 10, "cooldown": 150}, {"type": "CHANGE", "adjust": -1, "parameter": "CPU", "operator": "<", "value": 30, "period_number": 3, "period": 10, "cooldown": 150}]}}, "scheduled_dict": {"worker": {"min_vms": 3, "cardinality": 3, "max_vms": 5, "scheduled_policies": [{"type": "CARDINALITY", "adjust": 3, "recurrence": "0 12 * * *"}, {"type": "CARDINALITY", "adjust": 3, "recurrence": "0 2 * * *"}]}}}]}}}}}, "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "description": "On success the cluster is created in a `Creating` state.", "properties": {"code": {"type": "integer", "example": 201}, "data": {"type": "object", "properties": {"DOCUMENT": {"type": "object", "properties": {"ID": {"type": "string", "example": "12345"}, "NAME": {"type": "string", "example": "my-k8s-cluster"}, "TEMPLATE": {"type": "object", "properties": {"BODY": {"type": "object", "properties": {"name": {"type": "string", "example": "my-k8s-cluster"}, "deployment": {"type": "string", "example": "straight"}, "roles": {"type": "array", "items": {"type": "object", "properties": {"name": {"type": "string", "example": "master"}, "cardinality": {"type": "integer", "example": 1}, "state": {"type": "integer", "example": 0}}}}, "state": {"type": "integer", "example": 0}}}}}}}}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}, "get": {"operationId": "k8s-list", "summary": "List Kubernetes Clusters", "tags": ["Kubernetes"], "description": "Returns a paginated list of the Kubernetes clusters in the project. Each entry summarises the cluster's master role, `state`, Kubernetes `version`, master plan and pricing, encryption/backup flags, and the committed-pricing options. Use `page_no` and `per_page` to page through results.", "parameters": [{"name": "page_no", "in": "query", "required": false, "description": "1-based page number to retrieve.", "schema": {"type": "integer"}, "example": 1, "x-constraints": ["optional", "positive integer", "defaults to 1 when omitted"]}, {"name": "per_page", "in": "query", "required": false, "description": "Number of clusters to return per page.", "schema": {"type": "integer"}, "example": 5, "x-constraints": ["optional", "positive integer", "defaults to 5 when omitted"]}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request.", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Region to filter clusters by.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["required", "must be a valid region name (e.g., Delhi, Chennai)"]}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "description": "Clusters in the project.", "items": {"type": "object", "properties": {"service_id": {"type": "integer", "example": 12345}, "service_name": {"type": "string", "example": "my-k8s-cluster"}, "roles": {"type": "array", "items": {"type": "object", "properties": {"role_name": {"type": "string", "example": "master"}, "cardinality": {"type": "integer", "example": 1}, "state": {"type": "string", "example": "Running"}, "node_id_list": {"type": "array", "items": {"type": "integer"}, "example": [320001]}}}}, "state": {"type": "string", "description": "Cluster lifecycle state (Creating, Running, ...).", "example": "Running"}, "auto_scale_enabled": {"type": "boolean", "example": false}, "plan_name": {"type": "string", "example": "E2E-K8s-Cluster"}, "version": {"type": "string", "example": "1.32"}, "master_node_id": {"type": "integer", "example": 320000}, "created_at": {"type": "string", "example": "Jun 30, 2026 03:34:34 PM"}, "cluster_id": {"type": "integer", "example": 10001}, "backup_enabled": {"type": "boolean", "example": false}, "price": {"type": "string", "example": "Rs. 3.1/Hour or Rs. 2263.0 Monthly"}, "isEncryptionEnabled": {"type": "boolean", "example": true}}}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/kubernetes/{service_id}": {"get": {"operationId": "k8s-detail", "summary": "Get Kubernetes Cluster Details", "tags": ["Kubernetes"], "description": "Returns the full configuration of a single cluster, including its master role and node id list, `state`, Kubernetes `version`, encryption flag, the committed-pricing options, and every worker `node_pools` entry with its elasticity/scheduled policy detail, plan, and member node names. Use the cluster `service_id` returned by List.", "parameters": [{"name": "service_id", "in": "path", "required": true, "description": "The `service_id` of the cluster, as returned by List.", "schema": {"type": "integer"}, "example": 12345, "x-constraints": ["required", "must be a valid cluster service ID"]}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request.", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Region of the cluster.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["required", "must be a valid region name (e.g., Delhi, Chennai)"]}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "description": "A single-element list holding the cluster detail.", "items": {"type": "object", "properties": {"service_id": {"type": "integer", "example": 12345}, "service_name": {"type": "string", "example": "my-k8s-cluster"}, "roles": {"type": "array", "items": {"type": "object", "properties": {"role_name": {"type": "string", "example": "master"}, "cardinality": {"type": "integer", "example": 1}, "state": {"type": "string", "example": "Running"}, "node_id_list": {"type": "array", "items": {"type": "integer"}, "example": [320001]}}}}, "state": {"type": "string", "example": "Running"}, "version": {"type": "string", "example": "1.32"}, "master_node_id": {"type": "integer", "example": 320000}, "cluster_id": {"type": "integer", "example": 10001}, "isEncryptionEnabled": {"type": "boolean", "example": true}, "node_pools": {"type": "array", "description": "Worker node pools of the cluster.", "items": {"type": "object", "properties": {"name": {"type": "string", "example": "pool-worker-1"}, "slug_name": {"type": "string", "example": "C3-4vCPU-8RAM-100DISK-C3.96GB - CentOS-Stream-Delhi"}, "sku_id": {"type": "integer", "example": 1088}, "policy_type": {"type": "string", "example": "Default-Scheduled"}, "vcpu": {"type": "integer", "example": 4}, "ram": {"type": "integer", "example": 8}, "worker_node_count": {"type": "integer", "example": 3}, "node_names": {"type": "array", "items": {"type": "string"}, "example": ["worker_0_service_12346", "worker_1_service_12346", "worker_2_service_12346"]}}}}, "no_of_nodes": {"type": "integer", "example": 7}, "master_pool": {"type": "object", "properties": {"name": {"type": "string", "example": "master-pool"}, "plan_name": {"type": "string", "example": "E2E-K8s-Cluster"}, "vcpu": {"type": "integer", "example": 4}, "ram": {"type": "integer", "example": 8}, "state": {"type": "string", "example": "Running"}}}}}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/kubernetes/service/{service_id}": {"delete": {"operationId": "k8s-delete", "summary": "Delete Kubernetes Cluster", "tags": ["Kubernetes"], "description": "Permanently deletes a cluster. The master node and all worker node pools are terminated and the cluster is removed - the action cannot be undone. Set `is_delete_backups=true` to also delete the cluster's backups; leave it `false` to retain them. Use the cluster `service_id` returned by List.", "parameters": [{"name": "service_id", "in": "path", "required": true, "description": "The `service_id` of the cluster to delete, as returned by List.", "schema": {"type": "integer"}, "example": 12345, "x-constraints": ["required", "must be a valid cluster service ID"]}, {"name": "is_delete_backups", "in": "query", "required": false, "description": "When true, the cluster's backups are also deleted along with the cluster.", "schema": {"type": "boolean"}, "example": false, "x-constraints": ["optional", "defaults to false"]}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the delete request.", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Region of the cluster being deleted.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["required", "must be a valid region name (e.g., Delhi, Chennai)"]}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "example": "Kubernetes cluster deleted successfully"}}}}}}}}}, "/api/v1/kubernetes/available-tools/{service_id}/": {"get": {"operationId": "k8s-marketplace-tools", "summary": "List Marketplace Tools", "tags": ["Kubernetes"], "description": "Returns the marketplace tools that can be installed on the cluster (for example Monitoring Stack, Cert-Manager, NGINX Ingress Controller) - each tool's `id`, `name`, `description`, `type`, and current install `status`. Use a tool's `id` as `tool_id` when installing it. Use the cluster `service_id`.", "parameters": [{"name": "service_id", "in": "path", "required": true, "description": "The cluster `service_id`, as returned by List.", "schema": {"type": "integer"}, "example": 12345, "x-constraints": ["required", "must be a valid cluster service ID"]}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request.", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Region of the cluster.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["required", "must be a valid region name (e.g., Delhi, Chennai)"]}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "description": "Marketplace tools available for the cluster.", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 1}, "name": {"type": "string", "example": "Monitoring Stack"}, "description": {"type": "string", "example": "Prometheus is an open-source monitoring and alerting tool for collecting, storing, querying and visualizing metrics."}, "type": {"type": "string", "example": "Monitoring Tools"}, "status": {"type": "string", "description": "Install status (e.g., not-installed, installing, installed).", "example": "not-installed"}, "error_message": {"type": "string", "nullable": true, "example": null}}}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/kubernetes/cluster-tool-action/{service_id}/tool/{tool_id}/": {"post": {"operationId": "k8s-install-tool", "summary": "Install a Marketplace Tool", "tags": ["Kubernetes"], "description": "Installs a marketplace tool on the cluster. The path takes the cluster `service_id` and the `tool_id` (a tool `id` from Marketplace). The request body is empty. Installation runs asynchronously - poll Marketplace for the tool's `status`.", "parameters": [{"name": "service_id", "in": "path", "required": true, "description": "The cluster `service_id`, as returned by List.", "schema": {"type": "integer"}, "example": 12345, "x-constraints": ["required", "must be a valid cluster service ID"]}, {"name": "tool_id", "in": "path", "required": true, "description": "The `id` of the tool to install (from Marketplace).", "schema": {"type": "integer"}, "example": 1, "x-constraints": ["required", "must be a valid tool ID"]}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request.", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Region of the cluster.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["required", "must be a valid region name (e.g., Delhi, Chennai)"]}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "description": "Installing a tool takes an empty request body; the tool is chosen via the `tool_id` path parameter.", "properties": {}, "example": {}}}}}, "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "example": "Please Wait, Monitoring Stack is Installing!"}}}}}}}}}}}