{"openapi": "3.0.3", "info": {"title": "TIR API - models", "description": "E2E TIR \u2014 the AI/ML platform: notebooks, foundation models, fine-tuning, inference endpoints, RAG, pipelines, and data.", "version": "1.0.0"}, "servers": [{"url": "https://api.e2enetworks.com/myaccount/api/v1/gpu"}], "paths": {"/serving/model/model_types/": {"get": {"operationId": "get-serving-model-model-types", "summary": "Get Model type", "tags": ["Model Repository"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "A list of integrations retrieved successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "message": {"type": "string", "example": "Success"}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 1}, "name": {"type": "string", "example": "pytorch"}, "created_by": {"type": "integer", "example": 53}, "created_at": {"type": "string", "format": "date-time", "example": "2023-06-01T09:38:54.769855Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2023-06-01T09:38:54.769924Z"}}}}, "errors": {"type": "object", "additionalProperties": false, "example": {}}}}}}}}}}, "/serving/model/": {"get": {"operationId": "get-serving-model", "summary": "Model Repository List", "tags": ["Model Repository"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Successfully retrieved model access key and storage details", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "message": {"type": "string", "example": "Success"}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 1243}, "name": {"type": "string", "example": "adahfihhhhhh"}, "project_id": {"type": "integer", "example": 124}, "description": {"type": "string", "nullable": true, "example": null}, "model_type": {"type": "string", "example": "pytorch"}, "storage_type": {"type": "string", "example": "managed"}, "status": {"type": "string", "example": "OK"}, "access_key": {"type": "object", "properties": {"id": {"type": "integer", "example": 2535}, "access_key": {"type": "string", "example": "6AAYVBO46X8N1V3VGY81"}, "secret_key": {"type": "string", "example": "M5GDFOSIH5H5SWUK8FC2ELD8Y07H47OGQQM13IYT"}, "tag": {"type": "string", "example": "akgpued8b358bcb6a4d9d94255d3092f4b8b4"}, "is_managed": {"type": "boolean", "example": true}}}, "bucket": {"type": "object", "properties": {"id": {"type": "integer", "example": 2518}, "bucket_name": {"type": "string", "example": "adahfihhhhhh-a64d9e"}, "bucket_url": {"type": "string", "example": "s3://adahfihhhhhh-a64d9e/"}, "endpoint": {"type": "string", "example": "https://objectstore.e2enetworks.net"}, "is_managed": {"type": "boolean", "example": true}, "eos_bucket_permission_id": {"type": "integer", "example": 10204}}}, "created_by": {"type": "object", "properties": {"id": {"type": "integer", "example": 3573}, "name": {"type": "string", "example": "Nipun"}, "email": {"type": "string", "example": "nipun.arora@e2enetworks.com"}, "username": {"type": "string", "example": "nipun.arora@e2enetworks.com"}}}, "created_at": {"type": "string", "format": "date-time", "example": "2024-11-14T09:42:01.554549Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2024-11-14T09:42:01.554608Z"}, "finetuning_id": {"type": "string", "nullable": true, "example": null}, "score": {"type": "object", "additionalProperties": false, "example": {}}}}}, "errors": {"type": "object", "additionalProperties": false, "example": {}}}}}}}}}, "post": {"operationId": "post-serving-model", "summary": "Create Model Repository", "tags": ["Model Repository"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "oneOf": [{"type": "object", "properties": {"name": {"type": "string", "description": "The name of the bucket"}, "storage_type": {"type": "string", "enum": ["managed"], "description": "The storage type for the bucket"}, "bucket_name": {"type": "string", "description": "The bucket name (empty for managed)"}, "model_type": {"type": "string", "enum": ["pytorch"], "description": "The model type"}, "access_key": {"type": "string", "description": "Access key for authentication"}, "secret_key": {"type": "string", "description": "Secret key for authentication"}}}, {"type": "object", "properties": {"name": {"type": "string", "description": "The name of the bucket"}, "storage_type": {"type": "string", "enum": ["e2e_s3"], "description": "The storage type for the bucket"}, "bucket_name": {"type": "string", "description": "The existing bucket name"}, "model_type": {"type": "string", "enum": ["pytorch"], "description": "The model type"}, "access_key": {"type": "string", "description": "Access key for authentication"}, "secret_key": {"type": "string", "description": "Secret key for authentication"}}}, {"type": "object", "properties": {"name": {"type": "string", "description": "The name of the bucket"}, "storage_type": {"type": "string", "enum": ["external"], "description": "The storage type for the external bucket"}, "bucket_name": {"type": "string", "description": "The external bucket name"}, "model_type": {"type": "string", "enum": ["pytorch"], "description": "The model type"}, "access_key": {"type": "string", "description": "Access key for authentication to the external bucket"}, "secret_key": {"type": "string", "description": "Secret key for authentication to the external bucket"}}}]}}}, "required": true}, "responses": {"201": {"description": "Model created successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 201}, "message": {"type": "string", "example": "Created Successfully"}, "data": {"type": "object", "properties": {"id": {"type": "integer", "example": 1243}, "name": {"type": "string", "example": "adahfihhhhhh"}, "project_id": {"type": "integer", "example": 124}, "description": {"type": "string", "nullable": true, "example": null}, "model_type": {"type": "string", "example": "pytorch"}, "bucket": {"type": "object", "properties": {"id": {"type": "integer", "example": 2518}, "bucket_name": {"type": "string", "example": "adahfihhhhhh-a64d9e"}, "bucket_url": {"type": "string", "example": "s3://adahfihhhhhh-a64d9e/"}, "endpoint": {"type": "string", "example": "https://objectstore.e2enetworks.net"}, "is_managed": {"type": "boolean", "example": true}, "eos_bucket_permission_id": {"type": "integer", "example": 10204}}}, "status": {"type": "string", "example": "OK"}, "created_by": {"type": "object", "properties": {"id": {"type": "integer", "example": 3573}, "name": {"type": "string", "example": "Nipun"}, "email": {"type": "string", "example": "nipun.arora@e2enetworks.com"}, "username": {"type": "string", "example": "nipun.arora@e2enetworks.com"}}}, "created_at": {"type": "string", "format": "date-time", "example": "2024-11-14T09:42:01.554549Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2024-11-14T09:42:01.554608Z"}, "access_key": {"type": "object", "properties": {"id": {"type": "integer", "example": 2535}, "access_key": {"type": "string", "example": "6AAYVBO46X8N1V3VGY81"}, "secret_key": {"type": "string", "example": "M5GDFOSIH5H5SWUK8FC2ELD8Y07H47OGQQM13IYT"}, "tag": {"type": "string", "example": "akgpued8b358bcb6a4d9d94255d3092f4b8b4"}, "is_managed": {"type": "boolean", "example": true}}}}}, "errors": {"type": "object", "additionalProperties": false, "example": {}}}}}}}}}}, "/serving/model/{Model_repo_id}/": {"delete": {"operationId": "delete-serving-model-model-repo-id", "summary": "Delete Model Repository", "tags": ["Model Repository"], "parameters": [{"name": "Model_repo_id", "in": "path", "required": true, "schema": {"type": "integer"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Model successfully deleted", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "message": {"type": "string", "example": "Model deleted successfully"}, "data": {"type": "object", "additionalProperties": false, "example": {}}, "errors": {"type": "object", "additionalProperties": false, "example": {}}}}}}}}}}, "/serving/inference/framework-details/": {"get": {"operationId": "get-framework-details", "summary": "Framework Details", "tags": ["Model Endpoints"], "description": "Returns all available inference frameworks and their versions. Use the version `id` from the response as `framework_version_id` when calling the SKU List API.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Successfully retrieved framework details.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"name": {"type": "string", "description": "Framework identifier", "example": "vllm"}, "display_name": {"type": "string", "description": "Display name of the framework", "example": "vLLM"}, "description": {"type": "string", "description": "Brief description of the framework", "example": "vLLM is a fast and easy-to-use library for LLM inference and serving."}, "image_name": {"type": "string", "description": "Container image name", "example": "registry.e2enetworks.net/aimle2e/vllm"}, "additional_info": {"type": "object", "description": "Additional framework-specific information"}, "is_managed_args": {"type": "boolean", "description": "Whether the framework uses managed arguments", "example": true}, "versions": {"type": "array", "description": "Available versions for this framework", "items": {"type": "object", "properties": {"id": {"type": "integer", "description": "Version ID. Use this as `framework_version_id` in the SKU List API.", "example": 64}, "version": {"type": "string", "description": "Version string", "example": "v0.17.1"}, "supported_models": {"type": "array", "description": "List of models supported by this version", "items": {"type": "object", "properties": {"id": {"type": "string", "description": "Model identifier (Hugging Face ID or \"custom\")", "example": "meta-llama/Llama-2-7b-hf"}, "label": {"type": "string", "description": "Display label for the model", "example": "Llama-2-7B"}}}}}}}}}}, "errors": {"type": "object", "additionalProperties": true}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/serving/inference/": {"post": {"operationId": "post-serving-inference", "summary": "Create Endpoints", "tags": ["Model Endpoints"], "description": "Create a new model inference endpoint. The following models and frameworks are supported \u2014 select the corresponding example from the request body:\n\n| # | Model / Framework | `framework` value | Model source |\n|---|---|---|---|\n| 1 | vLLM | `vllm` | HuggingFace model ID |\n| 2 | SGLang | `sglang` | HuggingFace model ID |\n| 3 | Nvidia Dynamo | `dynamo` | HuggingFace model ID |\n| 4 | PyTorch / TorchServe | `pytorch` | Fine-tuned TIR model (`model_id`) |\n| 5 | Triton Inference Server | `triton` | Fine-tuned TIR model (`model_id`) |\n| 6 | Custom Container | `custom` | Any Docker image |\n| 7 | LLaMA 2 Chat 7B | `llma` | HuggingFace model ID |\n| 8 | CodeLlama 7B Instruct | `codellama` | HuggingFace model ID |\n| 9 | Mistral 7B Instruct | `mistral-7b-instruct` | HuggingFace model ID |\n| 10 | Mixtral 8x7B Instruct | `mixtral-8x7b-instruct` | HuggingFace model ID |\n| 11 | Gemma 2B IT | `gemma-2b-it` | HuggingFace model ID |\n| 12 | LLaMA 3 8B Instruct | `llama-3-8b-instruct` | HuggingFace model ID |\n| 13 | Phi-3 Mini 128K Instruct | `Phi-3-mini-128k-instruct` | HuggingFace model ID |\n| 14 | LLaMA 3.1 8B Instruct | `llama-3_1-8b-instruct` | HuggingFace model ID |\n| 18 | BGE Large EN v1.5 | `bge-large-en-v1_5` | Built-in (via `args`) |\n| 19 | BGE Reranker Large | `bge-reranker-large` | Built-in (via `args`) |\n| 20 | Stable Diffusion XL | `stable_diffusion_xl` | E2E registry |\n| 21 | YOLOv8 | `yolov8` | E2E registry |\n| 22 | Stable Video Diffusion | `stable-video-diffusion-img2vid-xt` | E2E registry |\n| 23 | NVIDIA NV-Embed v1 | `nvidia-nv-embed-v1` | E2E registry |\n| 24 | TensorRT-LLM | `tensorrt` | Fine-tuned TIR model (`model_id`) |\n| 25 | Nemotron 3 8B Chat | `nemotron-3-8b-chat-4k-rlhf` | E2E registry |\n| 26 | Nemotron 3 Nano 30B A3B | `nemotron-3-nano-30b-a3b` | HuggingFace model ID |\n| 27 | Nemotron Nano 12B v2 VL | `nemotron-nano-12b-v2-vl` | HuggingFace model ID |\n| 28 | Nemotron Speech Streaming EN 0.6B | `nemotron-speech-streaming-en-0.6b` | E2E registry |\n\n\n### To launch on TIR Cluster\n   Replace `\"cluster_type\"`, `\"sku_id\"`, and `\"sku_item_price_id\"` with the values for your location:\n\n| Location | `sku_id` | `sku_item_price_id` |\n|----------|----------|---------------------|\n| Delhi    | 162      | 755                 |\n| Chennai  | 40       | 1628                |\n\n```js\n\n\"cluster_type\": \"tir-cluster\",\n\"sku_id\": 162,\n\"sku_item_price_id\": 755\n```\n\n\n### To launch on Private Cluster\n   Replace \"cluster_type\",\"sku_id\" and \"sku_item_price_id\" with the following data.\n\n```js\n\n\"cluster_type\": \"private-cluster\",\n\"custom_sku\": {\n  \"cpu\": 1,\n  \"gpu\": 0,\n  \"memory\": 1\n},\n\"private_cloud_id\": < Private Cluster Id>\n```", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"name": {"type": "string", "description": "Name of the deployment"}, "custom_endpoint_details": {"type": "object", "properties": {"service_port": {"type": "boolean"}, "metric_port": {"type": "boolean"}, "container": {"type": "object", "properties": {"container_name": {"type": "string"}, "container_type": {"type": "string"}, "private_image_details": {"type": "object"}, "advance_config": {"type": "object", "properties": {"image_pull_policy": {"type": "string"}, "is_readiness_probe_enabled": {"type": "boolean"}, "is_liveness_probe_enabled": {"type": "boolean"}, "readiness_probe": {"type": "object", "properties": {"protocol": {"type": "string"}, "initial_delay_seconds": {"type": "integer"}, "success_threshold": {"type": "integer"}, "failure_threshold": {"type": "integer"}, "port": {"type": "integer"}, "period_seconds": {"type": "integer"}, "timeout_seconds": {"type": "integer"}, "path": {"type": "string"}, "grpc_service": {"type": "string"}, "commands": {"type": "string"}}}, "liveness_probe": {"type": "object", "properties": {"protocol": {"type": "string"}, "initial_delay_seconds": {"type": "integer"}, "success_threshold": {"type": "integer"}, "failure_threshold": {"type": "integer"}, "port": {"type": "integer"}, "period_seconds": {"type": "integer"}, "timeout_seconds": {"type": "integer"}, "path": {"type": "string"}, "grpc_service": {"type": "string"}, "commands": {"type": "string"}}}}}}}, "resource_details": {"type": "object", "properties": {"disk_size": {"type": "integer"}, "mount_path": {"type": "string"}, "env_variables": {"type": "array", "items": {"type": "string"}}}}, "public_ip": {"type": "string", "enum": ["yes", "no"]}}}, "model_id": {"type": "string", "nullable": true}, "replica": {"type": "integer"}, "committed_replicas": {"type": "integer"}, "path": {"type": "string"}, "framework": {"type": "string"}, "is_auto_scale_enabled": {"type": "boolean"}, "auto_scale_policy": {"type": "object", "properties": {"min_replicas": {"type": "integer"}, "max_replicas": {"type": "integer"}, "rules": {"type": "array", "items": {"type": "object", "properties": {"metric": {"type": "string"}, "condition_type": {"type": "string"}, "value": {"type": "integer"}, "watch_period": {"type": "integer"}, "granularity": {"type": "integer"}, "window": {"type": "integer"}}}}, "stability_period": {"type": "integer"}}}, "detailed_info": {"type": "object", "properties": {"commands": {"type": "string"}, "args": {"type": "string"}, "hugging_face_id": {"type": "string"}, "tokenizer": {"type": "string"}, "server_version": {"type": "string"}, "world_size": {"type": "integer"}, "error_log": {"type": "boolean"}, "info_log": {"type": "boolean"}, "warning_log": {"type": "boolean"}, "log_verbose_level": {"type": "integer"}, "model_serve_type": {"type": "string"}}}, "model_load_integration_id": {"type": "integer"}, "dataset_id": {"type": "string", "nullable": true}, "dataset_path": {"type": "string"}, "cluster_type": {"type": "string"}, "sku_id": {"type": "integer"}, "sku_item_price_id": {"type": "integer"}}, "required": ["name", "custom_endpoint_details", "replica", "framework", "is_auto_scale_enabled", "auto_scale_policy", "detailed_info", "model_load_integration_id", "sku_id", "sku_item_price_id"]}}}, "required": true}, "responses": {"201": {"description": "Model deployment created successfully.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "description": "HTTP response status code.", "example": 201}, "data": {"type": "object", "description": "Deployment creation response data.", "properties": {"id": {"type": "integer", "description": "Unique deployment ID.", "example": 3036}, "model": {"type": "string", "description": "Model details (null if not available).", "example": null}, "model_type": {"type": "string", "description": "Type of model (null if not available).", "example": null}, "sku_details": {"type": "object", "properties": {"specs": {"type": "object", "properties": {"sku_id": {"type": "integer", "description": "SKU identifier.", "example": 162}, "name": {"type": "string", "description": "SKU name.", "example": "GDC.1xH200-30.375GB_SXM"}, "series": {"type": "string", "description": "SKU series.", "example": "GPU"}, "cpu": {"type": "integer", "description": "Number of CPUs.", "example": 30}, "gpu": {"type": "integer", "description": "Number of GPUs.", "example": 1}, "memory": {"type": "integer", "description": "Memory in GB.", "example": 375}, "is_free": {"type": "boolean", "description": "Whether the SKU is free.", "example": false}, "is_active": {"type": "boolean", "description": "Whether the SKU is active.", "example": true}, "gpu_switch_type": {"type": "string", "description": "GPU switch type (if applicable).", "example": null}, "local_storage_in_gb": {"type": "integer", "description": "Local storage in GB.", "example": 0}}}, "plan": {"type": "object", "properties": {"sku_item_price_id": {"type": "integer", "description": "SKU price ID.", "example": 755}, "sku_type": {"type": "string", "description": "SKU pricing type.", "example": "hourly"}, "committed_days": {"type": "integer", "description": "Committed days for pricing.", "example": 0}, "unit_price": {"type": "number", "format": "float", "description": "Unit price in the given currency.", "example": 470.4}, "currency": {"type": "string", "description": "Currency of the price.", "example": "INR"}, "is_active": {"type": "boolean", "description": "Whether the pricing plan is active.", "example": true}, "description": {"type": "string", "description": "Description of the pricing plan.", "example": "Hourly Compute Instance: inference_service"}}}}}, "sku_item_price_id": {"type": "integer", "description": "SKU price ID.", "example": 755}, "name": {"type": "string", "description": "Name of the deployment.", "example": "tir-endpoint-1115165asd83333"}, "storage_url": {"type": "string", "description": "URL for storage.", "example": null}, "status": {"type": "string", "description": "Deployment status.", "example": "waiting"}, "created_by": {"type": "object", "properties": {"id": {"type": "integer", "description": "Creator's user ID.", "example": 3573}, "name": {"type": "string", "description": "Name of the creator.", "example": "Nipun"}, "email": {"type": "string", "description": "Email of the creator.", "example": "nipun.arora@e2enetworks.com"}, "username": {"type": "string", "description": "Username of the creator.", "example": "nipun.arora@e2enetworks.com"}}}, "created_at": {"type": "string", "format": "date-time", "description": "Timestamp when the deployment was created.", "example": "2024-11-15T11:32:35.527296Z"}, "updated_at": {"type": "string", "format": "date-time", "description": "Timestamp when the deployment was last updated.", "example": "2024-11-15T11:32:35.527371Z"}, "detailed_info": {"type": "object", "properties": {"commands": {"type": "array", "items": {"type": "string"}, "description": "List of commands related to the deployment.", "example": []}, "args": {"type": "array", "items": {"type": "string"}, "description": "List of arguments.", "example": []}, "hugging_face_id": {"type": "string", "description": "Hugging Face model ID (nullable).", "example": ""}, "tokenizer": {"type": "string", "description": "Tokenizer (nullable).", "example": ""}, "server_version": {"type": "string", "description": "Server version.", "example": ""}, "world_size": {"type": "integer", "description": "World size for distributed systems.", "example": 1}, "error_log": {"type": "boolean", "description": "Whether error logs are enabled.", "example": true}, "info_log": {"type": "boolean", "description": "Whether info logs are enabled.", "example": true}, "warning_log": {"type": "boolean", "description": "Whether warning logs are enabled.", "example": true}, "log_verbose_level": {"type": "integer", "description": "Verbosity level for logs.", "example": 1}, "model_serve_type": {"type": "string", "description": "Model serve type (nullable).", "example": ""}}}, "framework": {"type": "string", "description": "Framework used for the model.", "example": "stable_diffusion_xl"}, "custom_endpoint_details": {"type": "object", "properties": {"public_ip": {"type": "string", "description": "Whether the deployment has a public IP.", "example": "no"}, "container": {"type": "object", "properties": {"container_name": {"type": "string", "description": "Name of the container.", "example": "registry.e2enetworks.net/aimle2e/stable-diffusion-xl-base-1.0:hf"}, "container_type": {"type": "string", "description": "Type of container (public or private).", "example": "public"}, "advance_config": {"type": "object", "properties": {"image_pull_policy": {"type": "string", "description": "Policy for pulling container images.", "example": "Always"}, "is_readiness_probe_enabled": {"type": "boolean", "description": "Whether readiness probe is enabled.", "example": false}, "is_liveness_probe_enabled": {"type": "boolean", "description": "Whether liveness probe is enabled.", "example": false}, "readiness_probe": {"type": "object", "properties": {"initial_delay_seconds": {"type": "integer", "description": "Initial delay before readiness probe starts.", "example": 10}, "period_seconds": {"type": "integer", "description": "Period between readiness probe checks.", "example": 10}, "timeout_seconds": {"type": "integer", "description": "Timeout for readiness probe.", "example": 10}, "success_threshold": {"type": "integer", "description": "Number of successful attempts before marking as healthy.", "example": 1}, "failure_threshold": {"type": "integer", "description": "Number of failed attempts before marking as unhealthy.", "example": 3}, "protocol": {"type": "string", "description": "Protocol for readiness probe.", "example": "http"}, "port": {"type": "string", "description": "Port for readiness probe.", "example": "8080"}, "path": {"type": "string", "description": "Path for readiness check.", "example": "/v2/health/ready"}}}, "liveness_probe": {"type": "object", "description": "Liveness probe configuration."}}}}}, "resource_details": {"type": "object", "properties": {"disk_size": {"type": "integer", "description": "Disk size for the deployment.", "example": 100}, "mount_path": {"type": "string", "description": "Mount path for resources.", "example": ""}, "env_variables": {"type": "array", "items": {"type": "string"}, "description": "List of environment variables for the deployment.", "example": []}}}}}, "replica": {"type": "integer", "description": "Number of replicas for the deployment.", "example": 1}, "auto_scale_policy": {"type": "object", "properties": {"min_replicas": {"type": "integer", "description": "Minimum replicas for auto-scaling.", "example": 1}, "max_replicas": {"type": "integer", "description": "Maximum replicas for auto-scaling.", "example": 1}, "rules": {"type": "array", "items": {"type": "object", "properties": {"metric": {"type": "string", "description": "Metric to monitor for auto-scaling.", "example": ""}, "condition_type": {"type": "string", "description": "Type of condition for scaling (e.g., limit).", "example": "limit"}, "value": {"type": "integer", "description": "Value for the condition.", "example": 100}, "watch_period": {"type": "integer", "description": "Period to monitor the metric.", "example": 60}, "granularity": {"type": "integer", "description": "Granularity of the metric.", "example": 1}, "window": {"type": "integer", "description": "Window size for scaling.", "example": 1}, "custom_metric_name": {"type": "string", "description": "Custom metric name (nullable).", "example": ""}}}}, "stability_period": {"type": "string", "description": "Stability period before scaling.", "example": "300"}}}, "is_auto_scale_enabled": {"type": "boolean", "description": "Whether auto-scaling is enabled.", "example": false}, "desired_replica": {"type": "integer", "description": "Desired number of replicas.", "example": 1}, "model_load_integration_id": {"type": "integer", "description": "Integration ID for model load.", "example": 428}, "dataset": {"type": "string", "description": "Dataset associated with the deployment (nullable).", "example": null}, "dataset_storage_url": {"type": "string", "description": "URL for dataset storage (nullable).", "example": null}, "committed_replicas": {"type": "integer", "description": "Number of committed replicas.", "example": 0}, "private_cloud_id": {"type": "string", "description": "Private cloud ID (nullable).", "example": null}, "custom_sku": {"type": "string", "description": "Custom SKU details (nullable).", "example": null}}}, "errors": {"type": "object", "additionalProperties": true}, "message": {"type": "string", "description": "Success or error message.", "example": "Created Successfully"}}}}}}}}}, "/serving/inference": {"get": {"operationId": "list-model-endpoints", "summary": "Model Endpoints List", "tags": ["Model Endpoints"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Successfully retrieved list of deployments.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "description": "HTTP response status code", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "description": "Unique deployment ID", "example": 3036}, "model": {"type": "string", "nullable": true, "description": "Model details (nullable)", "example": null}, "dataset": {"type": "string", "nullable": true, "description": "Dataset associated with the deployment (nullable)", "example": null}, "model_type": {"type": "string", "nullable": true, "description": "Type of model (nullable)", "example": null}, "sku": {"type": "integer", "description": "SKU ID", "example": 162}, "name": {"type": "string", "description": "Name of the deployment", "example": "tir-endpoint-1115165asd83333"}, "storage_url": {"type": "string", "nullable": true, "description": "URL for storage (nullable)", "example": null}, "dataset_storage_url": {"type": "string", "nullable": true, "description": "URL for dataset storage (nullable)", "example": null}, "status": {"type": "string", "description": "Deployment status", "example": "ready"}, "created_by": {"type": "object", "properties": {"id": {"type": "integer", "description": "Creator's user ID", "example": 3573}, "name": {"type": "string", "description": "Name of the creator", "example": "Nipun"}, "email": {"type": "string", "description": "Email of the creator", "example": "nipun.arora@e2enetworks.com"}, "username": {"type": "string", "description": "Username of the creator", "example": "nipun.arora@e2enetworks.com"}}}, "created_at": {"type": "string", "format": "date-time", "description": "Timestamp when the deployment was created", "example": "2024-11-15T11:32:35.527296Z"}, "updated_at": {"type": "string", "format": "date-time", "description": "Timestamp when the deployment was last updated", "example": "2024-11-15T11:40:05.222359Z"}, "detailed_info": {"type": "object", "properties": {"args": {"type": "array", "items": {"type": "string"}, "description": "List of arguments", "example": []}, "commands": {"type": "array", "items": {"type": "string"}, "description": "List of commands", "example": []}, "info_log": {"type": "boolean", "description": "Whether info logs are enabled", "example": true}, "error_log": {"type": "boolean", "description": "Whether error logs are enabled", "example": true}, "tokenizer": {"type": "string", "nullable": true, "description": "Tokenizer details (nullable)", "example": ""}, "world_size": {"type": "integer", "description": "World size for distributed systems", "example": 1}, "warning_log": {"type": "boolean", "description": "Whether warning logs are enabled", "example": true}, "server_version": {"type": "string", "nullable": true, "description": "Server version (nullable)", "example": ""}, "hugging_face_id": {"type": "string", "nullable": true, "description": "Hugging Face model ID (nullable)", "example": ""}, "model_serve_type": {"type": "string", "nullable": true, "description": "Model serve type (nullable)", "example": ""}, "log_verbose_level": {"type": "integer", "description": "Verbosity level for logs", "example": 1}}}, "replica": {"type": "integer", "description": "Number of replicas for the deployment", "example": 1}, "framework": {"type": "string", "description": "Framework used for the model", "example": "stable_diffusion_xl"}, "custom_endpoint_details": {"type": "object", "properties": {"container": {"type": "object", "properties": {"container_name": {"type": "string", "description": "Name of the container", "example": "registry.e2enetworks.net/aimle2e/stable-diffusion-xl-base-1.0:hf"}, "container_type": {"type": "string", "description": "Type of container (public or private)", "example": "public"}, "advance_config": {"type": "object", "properties": {"liveness_probe": {"type": "object", "description": "Liveness probe configuration"}, "readiness_probe": {"type": "object", "properties": {"path": {"type": "string", "description": "Path for readiness check", "example": "/v2/health/ready"}, "port": {"type": "string", "description": "Port for readiness probe", "example": "8080"}, "protocol": {"type": "string", "description": "Protocol for readiness probe", "example": "http"}, "period_seconds": {"type": "integer", "description": "Period between readiness probe checks", "example": 10}, "timeout_seconds": {"type": "integer", "description": "Timeout for readiness probe", "example": 10}, "failure_threshold": {"type": "integer", "description": "Number of failed attempts before marking as unhealthy", "example": 3}, "success_threshold": {"type": "integer", "description": "Number of successful attempts before marking as healthy", "example": 1}, "initial_delay_seconds": {"type": "integer", "description": "Initial delay before readiness probe starts", "example": 10}}}, "image_pull_policy": {"type": "string", "description": "Policy for pulling container images", "example": "Always"}, "is_liveness_probe_enabled": {"type": "boolean", "description": "Whether liveness probe is enabled", "example": false}, "is_readiness_probe_enabled": {"type": "boolean", "description": "Whether readiness probe is enabled", "example": false}}}, "private_image_details": {"type": "object", "description": "Details for private image (if applicable)"}}}, "public_ip": {"type": "string", "description": "Whether the deployment has a public IP", "example": "no"}, "resource_details": {"type": "object", "properties": {"disk_size": {"type": "integer", "description": "Disk size for the deployment", "example": 100}, "mount_path": {"type": "string", "description": "Mount path for resources", "example": ""}, "env_variables": {"type": "array", "items": {"type": "string"}, "description": "List of environment variables for the deployment", "example": []}}}}}, "message": {"type": "string", "description": "Success or error message", "example": ""}, "auto_scale_policy": {"type": "object", "properties": {"min_replicas": {"type": "integer", "description": "Minimum replicas for auto-scaling", "example": 1}, "max_replicas": {"type": "integer", "description": "Maximum replicas for auto-scaling", "example": 1}, "rules": {"type": "array", "items": {"type": "object", "properties": {"value": {"type": "integer", "description": "Value for scaling condition", "example": 100}, "metric": {"type": "string", "description": "Metric for scaling condition", "example": ""}, "window": {"type": "integer", "description": "Window size for scaling", "example": 1}, "granularity": {"type": "integer", "description": "Granularity of the metric", "example": 1}, "watch_period": {"type": "integer", "description": "Watch period for scaling", "example": 60}, "condition_type": {"type": "string", "description": "Type of condition for scaling", "example": "limit"}, "custom_metric_name": {"type": "string", "nullable": true, "description": "Custom metric name (nullable)", "example": ""}}}}, "stability_period": {"type": "string", "description": "Stability period before scaling", "example": "300"}}}, "is_auto_scale_enabled": {"type": "boolean", "description": "Whether auto-scaling is enabled", "example": false}, "desired_replica": {"type": "integer", "description": "Desired number of replicas", "example": 1}, "model_load_integration_id": {"type": "integer", "description": "Integration ID for model load", "example": 428}, "sku_details": {"type": "object", "properties": {"specs": {"type": "object", "properties": {"sku_id": {"type": "integer", "description": "SKU identifier", "example": 162}, "name": {"type": "string", "description": "SKU name", "example": "GDC.1xH200-30.375GB_SXM"}, "series": {"type": "string", "description": "SKU series", "example": "GPU"}, "cpu": {"type": "integer", "description": "Number of CPUs", "example": 30}, "gpu": {"type": "integer", "description": "Number of GPUs", "example": 1}, "memory": {"type": "integer", "description": "Memory in GB", "example": 375}, "is_free": {"type": "boolean", "description": "Whether the SKU is free", "example": false}, "is_active": {"type": "boolean", "description": "Whether the SKU is active", "example": true}, "gpu_switch_type": {"type": "string", "description": "GPU switch type (nullable)", "example": null}, "local_storage_in_gb": {"type": "integer", "description": "Local storage in GB", "example": 0}}}, "plan": {"type": "object", "properties": {"sku_item_price_id": {"type": "integer", "description": "SKU item price ID", "example": 755}, "sku_type": {"type": "string", "description": "SKU type (e.g., hourly)", "example": "hourly"}, "committed_days": {"type": "integer", "description": "Committed days for the plan", "example": 0}, "unit_price": {"type": "number", "description": "Unit price for the SKU", "example": 470.4}, "currency": {"type": "string", "description": "Currency for pricing", "example": "INR"}, "is_active": {"type": "boolean", "description": "Whether the plan is active", "example": true}, "description": {"type": "string", "description": "Description of the SKU plan", "example": "Hourly Compute Instance: inference_service"}}}}}, "committed_info": {"type": "object", "nullable": true, "description": "Committed information (nullable)", "example": null}, "committed_replicas": {"type": "integer", "description": "Committed replicas", "example": 0}, "private_cloud_id": {"type": "string", "nullable": true, "description": "Private cloud ID (nullable)", "example": null}, "custom_sku": {"type": "string", "nullable": true, "description": "Custom SKU details (nullable)", "example": null}}}}, "errors": {"type": "object", "additionalProperties": true}, "message": {"type": "string", "description": "Success or error message", "example": "Success"}}}}}}}}}, "/serving/inference/{inference_id}/": {"get": {"operationId": "get-serving-inference-inference-id", "summary": "Model Endpoint Details", "tags": ["Model Endpoints"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "inference_id", "in": "path", "required": true, "schema": {"type": "integer"}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"default": {"description": "Successful response"}}}, "put": {"operationId": "put-serving-inference-inference-id", "summary": "Update/Actions (Start/Stop/Restart/Autoscale/Async)", "tags": ["Model Endpoints"], "description": "Use PUT to update model endpoint configuration or perform actions.\n\n| `action` value                 | Purpose                                      |\n|--------------------------------|----------------------------------------------|\n| `patch`                        | Update endpoint configuration                |\n| `restart`                      | Restart the running endpoint                 |\n| `stop`                         | Stop the endpoint                            |\n| `start`                        | Start a stopped endpoint                     |\n| `update_auto_scale`            | Create or update the autoscaling policy      |\n| `update_async_configuration`   | Enable or disable async invocation           |\n\n### Autoscaling metrics\n\nThe `metric` field in each rule supports:\n- **`concurrency`** \u2014 scales based on the number of concurrent in-flight requests.\n- **`requestRate`** \u2014 scales based on incoming requests per second.\n- **`custom`** \u2014 scales based on a framework-specific metric; requires `custom_metric_name`.\n\n### Async Invocation\n\nUse `action: \"update_async_configuration\"` to enable or disable async invocation.\n\n| `async_enabled` | Effect |\n|---|---|\n| `true`  | Enables async invocation with the specified worker count and dataset destination |\n| `false` | Disables async invocation |\n\nWhen enabling, provide:\n- `async_concurrent_workers` \u2014 number of parallel async workers\n- `async_dataset_id` \u2014 ID of the dataset to store async results\n- `async_destination_type` \u2014 destination type (e.g. `\"dataset\"`)\n- `async_target_routes` \u2014 list of route mappings (`route_name` \u2192 `route_value`)\n", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "inference_id", "in": "path", "required": true, "schema": {"type": "integer"}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"name": {"type": "string", "description": "The name of the model configuration."}, "path": {"type": "string", "description": "The path for the model configuration. Can be empty."}, "custom_endpoint_details": {"type": "object", "properties": {"service_port": {"type": "boolean", "description": "Whether a service port is enabled."}, "metric_port": {"type": "boolean", "description": "Whether a metric port is enabled."}, "container": {"type": "object", "properties": {"advance_config": {"type": "object", "properties": {"liveness_probe": {"type": "object", "properties": {"commands": {"type": "string", "description": "Liveness probe commands."}}}, "readiness_probe": {"type": "object", "properties": {"path": {"type": "string", "description": "The readiness probe path."}, "port": {"type": "string", "description": "The port for readiness probe."}, "protocol": {"type": "string", "description": "The protocol for readiness probe."}, "period_seconds": {"type": "integer", "description": "Period in seconds to check readiness."}, "timeout_seconds": {"type": "integer", "description": "Timeout for readiness probe."}, "failure_threshold": {"type": "integer", "description": "Failure threshold for readiness probe."}, "success_threshold": {"type": "integer", "description": "Success threshold for readiness probe."}, "initial_delay_seconds": {"type": "integer", "description": "Initial delay before readiness probe starts."}, "commands": {"type": "string", "description": "Readiness probe commands."}}}, "image_pull_policy": {"type": "string", "description": "The image pull policy."}, "is_liveness_probe_enabled": {"type": "boolean", "description": "Whether the liveness probe is enabled."}, "is_readiness_probe_enabled": {"type": "boolean", "description": "Whether the readiness probe is enabled."}}}, "container_name": {"type": "string", "description": "The container image name."}, "container_type": {"type": "string", "description": "The type of the container (e.g., public or private)."}, "private_image_details": {"type": "object", "description": "Details about the private container image, if applicable."}}}, "public_ip": {"type": "string", "description": "Whether a public IP is used (yes/no)."}, "resource_details": {"type": "object", "properties": {"disk_size": {"type": "integer", "description": "Disk size in GB."}, "mount_path": {"type": "string", "description": "Path to mount for resources."}, "env_variables": {"type": "array", "items": {"type": "string"}, "description": "List of environment variables for the container."}}}}}, "model_id": {"type": "string", "description": "The model ID (null if not specified)."}, "committed_replicas": {"type": "integer", "description": "Number of committed replicas."}, "replica": {"type": "integer", "description": "Number of replicas to run."}, "framework": {"type": "string", "description": "The framework used (e.g., vllm)."}, "is_auto_scale_enabled": {"type": "boolean", "description": "Whether auto-scaling is enabled."}, "auto_scale_policy": {"type": "object", "properties": {"min_replicas": {"type": "integer", "description": "Minimum number of replicas for auto-scaling."}, "max_replicas": {"type": "integer", "description": "Maximum number of replicas for auto-scaling."}, "rules": {"type": "array", "items": {"type": "object", "properties": {"value": {"type": "integer", "description": "Metric value for auto-scaling rule."}, "metric": {"type": "string", "description": "Metric to track for auto-scaling."}, "window": {"type": "integer", "description": "The window for metric evaluation."}, "granularity": {"type": "integer", "description": "Granularity for evaluation."}, "watch_period": {"type": "integer", "description": "Watch period for metric evaluation."}, "condition_type": {"type": "string", "description": "The condition type for scaling."}, "custom_metric_name": {"type": "string", "description": "The custom metric name if applicable."}}}}, "stability_period": {"type": "string", "description": "Stability period (in seconds) \u2014 minimum time the system waits after a scale event before evaluating again."}, "initial_cooldown_period": {"type": "string", "description": "Cooldown period (in seconds) applied after the very first scale-up before further scaling decisions are evaluated."}, "is_hold_queue": {"type": "boolean", "description": "When `true`, incoming requests are held in a queue while all replicas are busy. When `false`, excess requests are rejected immediately."}}}, "detailed_info": {"type": "object", "properties": {"args": {"type": "string", "description": "Arguments passed to the model."}, "commands": {"type": "string", "description": "Commands executed for the model."}, "info_log": {"type": "boolean", "description": "Whether info logging is enabled."}, "error_log": {"type": "boolean", "description": "Whether error logging is enabled."}, "tokenizer": {"type": "string", "description": "Tokenizer to use for model processing."}, "world_size": {"type": "integer", "description": "The world size for distributed processing."}, "engine_args": {"type": "object", "description": "Additional arguments for the model engine."}, "warning_log": {"type": "boolean", "description": "Whether warning logging is enabled."}, "server_version": {"type": "string", "description": "The server version for deployment."}, "hugging_face_id": {"type": "string", "description": "The hugging face ID for the model."}, "model_serve_type": {"type": "string", "description": "Type of model serving method."}, "log_verbose_level": {"type": "integer", "description": "Log verbosity level."}}}, "model_load_integration_id": {"type": "integer", "description": "Integration ID for model load."}, "dataset_id": {"type": "string", "description": "Dataset ID associated with the model."}, "dataset_path": {"type": "string", "description": "Path to the dataset if available."}, "cluster_type": {"type": "string", "description": "The type of cluster for deployment."}, "storage_type": {"type": "string", "description": "The storage type used (e.g., disk)."}, "sfs_path": {"type": "string", "description": "Path for the shared file system."}, "disk_path": {"type": "string", "description": "Path to the disk storage."}, "sku_id": {"type": "integer", "description": "SKU ID for the model."}, "sku_item_price_id": {"type": "integer", "description": "Price ID for the model."}, "action": {"type": "string", "description": "The action to be performed (e.g., patch, restart, stop, start, update_auto_scale, update_async_configuration)."}, "async_enabled": {"type": "boolean", "description": "Set true to enable async invocation, false to disable. Used with action: update_async_configuration."}, "async_concurrent_workers": {"type": "integer", "description": "Number of parallel async workers. Required when enabling async invocation."}, "async_dataset_id": {"type": "integer", "nullable": true, "description": "ID of the dataset to store async results. Required when enabling async invocation."}, "async_destination_type": {"type": "string", "nullable": true, "description": "Destination type for async results (e.g. `\"dataset\"`)."}, "async_target_routes": {"type": "array", "description": "List of route mappings for async inference.", "items": {"type": "object", "properties": {"route_name": {"type": "string", "description": "Internal queue name (e.g. `\"QUEUE_1\"`)."}, "route_value": {"type": "string", "description": "Endpoint route to call (e.g. `\"predict\"`)."}}}}}}}}}, "responses": {"200": {"description": "Action performed successfully on the model endpoint.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "description": "HTTP status code.", "example": 200}, "data": {"type": "string", "description": "Message describing the result of the action performed.", "example": "Model Endpoint restarted successfully"}, "errors": {"type": "object", "additionalProperties": false}, "message": {"type": "string", "example": "Success"}}}}}}}}, "delete": {"operationId": "delete-serving-inference-inference-id", "summary": "Delete Model Endpoints", "tags": ["Model Endpoints"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "inference_id", "in": "path", "required": true, "schema": {"type": "integer"}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Model endpoint details retrieved successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"id": {"type": "integer", "example": 3035}, "model": {"type": "object", "nullable": true}, "dataset": {"type": "object", "nullable": true}, "model_type": {"type": "object", "nullable": true}, "sku": {"type": "integer", "example": 162}, "name": {"type": "string", "example": "tir-endpoint-111516583333"}, "storage_url": {"type": "string", "nullable": true}, "dataset_storage_url": {"type": "string", "nullable": true}, "status": {"type": "string", "example": "Done"}, "created_by": {"type": "object", "properties": {"id": {"type": "integer", "example": 3573}, "name": {"type": "string", "example": "Nipun"}, "email": {"type": "string", "example": "nipun.arora@e2enetworks.com"}, "username": {"type": "string", "example": "nipun.arora@e2enetworks.com"}}}, "created_at": {"type": "string", "format": "date-time", "example": "2024-11-15T11:28:58.532961Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2024-11-15T11:51:05.587489Z"}, "detailed_info": {"type": "object", "properties": {"args": {"type": "array", "items": {"type": "string"}}, "commands": {"type": "array", "items": {"type": "string"}}, "info_log": {"type": "boolean", "example": true}, "error_log": {"type": "boolean", "example": true}, "tokenizer": {"type": "string", "example": ""}, "world_size": {"type": "integer", "example": 1}, "warning_log": {"type": "boolean", "example": true}, "server_version": {"type": "string", "example": ""}, "hugging_face_id": {"type": "string", "example": ""}, "model_serve_type": {"type": "string", "example": ""}, "log_verbose_level": {"type": "integer", "example": 1}}}, "replica": {"type": "integer", "example": 1}, "framework": {"type": "string", "example": "stable_diffusion_xl"}, "custom_endpoint_details": {"type": "object", "properties": {"container": {"type": "object", "properties": {"advance_config": {"type": "object", "properties": {"liveness_probe": {"type": "object", "additionalProperties": true}, "readiness_probe": {"type": "object", "properties": {"path": {"type": "string", "example": "/v2/health/ready"}, "port": {"type": "string", "example": "8080"}, "protocol": {"type": "string", "example": "http"}, "period_seconds": {"type": "integer", "example": 10}, "timeout_seconds": {"type": "integer", "example": 10}, "failure_threshold": {"type": "integer", "example": 3}, "success_threshold": {"type": "integer", "example": 1}, "initial_delay_seconds": {"type": "integer", "example": 10}}}}}, "image_pull_policy": {"type": "string", "example": "Always"}, "is_liveness_probe_enabled": {"type": "boolean", "example": false}, "is_readiness_probe_enabled": {"type": "boolean", "example": false}, "container_name": {"type": "string", "example": "registry.e2enetworks.net/aimle2e/stable-diffusion-xl-base-1.0:hf"}, "container_type": {"type": "string", "example": "public"}, "private_image_details": {"type": "object", "additionalProperties": false}}}, "public_ip": {"type": "string", "example": "no"}, "resource_details": {"type": "object", "properties": {"disk_size": {"type": "integer", "example": 100}, "mount_path": {"type": "string", "example": ""}, "env_variables": {"type": "array", "items": {"type": "string"}}}}}}, "message": {"type": "string", "example": ""}, "auto_scale_policy": {"type": "object", "properties": {"min_replicas": {"type": "integer", "example": 1}, "max_replicas": {"type": "integer", "example": 1}, "rules": {"type": "array", "items": {"type": "object", "properties": {"value": {"type": "integer", "example": 100}, "metric": {"type": "string", "example": ""}, "window": {"type": "integer", "example": 1}, "granularity": {"type": "integer", "example": 1}, "watch_period": {"type": "integer", "example": 60}, "condition_type": {"type": "string", "example": "limit"}, "custom_metric_name": {"type": "string", "example": ""}}}}, "stability_period": {"type": "string", "example": "300"}}}, "is_auto_scale_enabled": {"type": "boolean", "example": false}, "desired_replica": {"type": "integer", "example": 1}, "model_load_integration_id": {"type": "integer", "example": 428}, "sku_details": {"type": "object", "properties": {"specs": {"type": "object", "properties": {"sku_id": {"type": "integer", "example": 162}, "name": {"type": "string", "example": "GDC.1xH200-30.375GB_SXM"}, "series": {"type": "string", "example": "GPU"}, "cpu": {"type": "integer", "example": 30}, "gpu": {"type": "integer", "example": 1}, "memory": {"type": "integer", "example": 375}, "is_free": {"type": "boolean", "example": false}, "is_active": {"type": "boolean", "example": true}, "gpu_switch_type": {"type": "string", "nullable": true}, "local_storage_in_gb": {"type": "integer", "example": 0}}}, "plan": {"type": "object", "properties": {"sku_item_price_id": {"type": "integer", "example": 755}, "sku_type": {"type": "string", "example": "hourly"}, "committed_days": {"type": "integer", "example": 0}, "unit_price": {"type": "number", "format": "float", "example": 470.4}, "currency": {"type": "string", "example": "INR"}, "is_active": {"type": "boolean", "example": true}, "description": {"type": "string", "example": "Hourly Compute Instance: inference_service"}}}}}, "committed_info": {"type": "object", "nullable": true}, "committed_replicas": {"type": "integer", "example": 0}, "private_cloud_id": {"type": "object", "nullable": true}, "custom_sku": {"type": "object", "nullable": true}}}, "errors": {"type": "object", "additionalProperties": false}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/serving/inference/{inference_id}/async_config/": {"get": {"operationId": "get-async-invocation-config", "summary": "Get Async Invocation Config", "tags": ["Model Endpoints"], "description": "Returns the current async invocation configuration for the model endpoint.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "inference_id", "in": "path", "required": true, "schema": {"type": "integer"}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Current async invocation configuration for the endpoint.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"async_concurrent_workers": {"type": "integer", "description": "Number of parallel async workers configured.", "example": 0}, "async_enabled": {"type": "boolean", "description": "Whether async invocation is currently enabled.", "example": false}, "async_dataset": {"type": "object", "nullable": true, "description": "Dataset object used for async results (null if not set).", "example": null}, "async_dataset_id": {"type": "integer", "nullable": true, "description": "ID of the dataset used for async results.", "example": null}, "async_target_routes": {"type": "array", "description": "List of route mappings for async inference.", "items": {"type": "object", "properties": {"route_name": {"type": "string", "description": "Internal queue name.", "example": "QUEUE_1"}, "route_value": {"type": "string", "description": "Endpoint route to call.", "example": "predict"}}}}, "async_destination_type": {"type": "string", "nullable": true, "description": "Destination type for async results (e.g. `\"dataset\"`).", "example": null}}}, "errors": {"type": "object", "additionalProperties": false}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/serving/inference/{inference_id}/alerts/": {"get": {"operationId": "list-inference-alerts", "summary": "List Alerts", "tags": ["Model Endpoints"], "description": "Returns all alerts attached to a model endpoint, with pagination support.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "inference_id", "in": "path", "required": true, "schema": {"type": "integer"}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "page_no", "in": "query", "required": false, "description": "Page number for pagination.", "schema": {"type": "integer", "default": 1}}, {"name": "per_page", "in": "query", "required": false, "description": "Number of results per page.", "schema": {"type": "integer", "default": 5}}], "responses": {"200": {"description": "Paginated list of alerts attached to the model endpoint.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "description": "Attachment record ID."}, "inference": {"type": "integer", "description": "Model endpoint ID."}, "inference_name": {"type": "string", "description": "Model endpoint name."}, "alert": {"type": "object", "properties": {"id": {"type": "integer"}, "name": {"type": "string"}, "location": {"type": "string"}, "resource_type": {"type": "string"}, "metric_type": {"type": "string"}, "metric_type_unit": {"type": "string"}, "operator": {"type": "string"}, "threshold_value": {"type": "number"}, "severity": {"type": "string"}, "created_by": {"type": "object", "properties": {"id": {"type": "integer"}, "name": {"type": "string"}, "email": {"type": "string"}, "username": {"type": "string"}}}, "created_at": {"type": "string", "format": "date-time"}, "updated_at": {"type": "string", "format": "date-time"}}}, "alert_name": {"type": "string"}, "grafana_rule_uid": {"type": "string"}, "created_at": {"type": "string", "format": "date-time"}, "updated_at": {"type": "string", "format": "date-time"}, "is_firing": {"type": "boolean", "description": "Whether the alert is currently firing."}}}}, "errors": {"type": "object"}, "message": {"type": "string", "example": "Success"}, "total_page_number": {"type": "integer", "description": "Total number of pages."}, "total_count": {"type": "integer", "description": "Total number of attached alerts."}}}}}}}}, "post": {"operationId": "attach-inference-alert", "summary": "Attach Alert", "tags": ["Model Endpoints"], "description": "Attach an existing alert to a model endpoint.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "inference_id", "in": "path", "required": true, "schema": {"type": "integer"}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"alert_id": {"type": "string", "description": "The ID of the alert to attach to the model endpoint."}}, "required": ["alert_id"]}, "example": {"alert_id": "44"}}}, "required": true}, "responses": {"200": {"description": "Alert attached to the model endpoint successfully.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"id": {"type": "integer", "description": "Attachment record ID. Use this to detach the alert."}, "inference": {"type": "integer"}, "inference_name": {"type": "string"}, "alert": {"type": "object", "properties": {"id": {"type": "integer"}, "name": {"type": "string"}, "location": {"type": "string"}, "resource_type": {"type": "string"}, "metric_type": {"type": "string"}, "metric_type_unit": {"type": "string"}, "operator": {"type": "string"}, "threshold_value": {"type": "number"}, "severity": {"type": "string"}, "created_by": {"type": "object", "properties": {"id": {"type": "integer"}, "name": {"type": "string"}, "email": {"type": "string"}, "username": {"type": "string"}}}, "created_at": {"type": "string", "format": "date-time"}, "updated_at": {"type": "string", "format": "date-time"}}}, "alert_name": {"type": "string"}, "grafana_rule_uid": {"type": "string"}, "created_at": {"type": "string", "format": "date-time"}, "updated_at": {"type": "string", "format": "date-time"}}}, "errors": {"type": "object"}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/serving/inference/{inference_id}/alerts/{alert_attachment_id}/": {"delete": {"operationId": "detach-inference-alert", "summary": "Detach Alert", "tags": ["Model Endpoints"], "description": "Detach an alert from a model endpoint using the attachment record ID returned by the Attach Alert API.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "inference_id", "in": "path", "required": true, "schema": {"type": "integer"}}, {"name": "alert_attachment_id", "in": "path", "required": true, "description": "The attachment record ID returned when the alert was attached (the `id` field in the Attach Alert response).", "schema": {"type": "integer"}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Alert detached from the model endpoint successfully.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object"}, "errors": {"type": "object"}, "message": {"type": "string", "example": "Inference alert detached successfully"}}}}}}}}}, "/serving/inference/{inference_id}/security-groups/": {"get": {"operationId": "get-inference-security-groups", "summary": "Get Attached Security Groups", "tags": ["Model Endpoints"], "description": "Returns all security groups currently attached to the model endpoint.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "inference_id", "in": "path", "required": true, "schema": {"type": "integer"}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "List of security groups attached to the model endpoint.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object"}, "description": "Array of attached security group objects. Empty if none attached."}, "errors": {"type": "object"}, "message": {"type": "string", "example": "Success"}}}}}}}}, "post": {"operationId": "attach-inference-security-group", "summary": "Attach Security Group", "tags": ["Model Endpoints"], "description": "Attach one or more security groups to the model endpoint.\n\n> **Note:** To get a list of available security groups, use the **Security Groups** section of the API (`GET /projects/{Project_Id}/security_groups/`).\n", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "inference_id", "in": "path", "required": true, "schema": {"type": "integer"}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"security_groups_ids": {"type": "array", "items": {"type": "integer"}, "description": "List of security group IDs to attach to the model endpoint."}}, "required": ["security_groups_ids"]}, "example": {"security_groups_ids": [7245]}}}, "required": true}, "responses": {"200": {"description": "Security group attach or detach operation result.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "string"}, "errors": {"type": "object"}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/serving/inference/{inference_id}/security-groups/{sg_id}/": {"delete": {"operationId": "detach-inference-security-group", "summary": "Detach Security Group", "tags": ["Model Endpoints"], "description": "Detach a security group from the model endpoint.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "inference_id", "in": "path", "required": true, "schema": {"type": "integer"}}, {"name": "sg_id", "in": "path", "required": true, "description": "ID of the security group to detach.", "schema": {"type": "integer"}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"default": {"description": "Successful response"}}}}, "/serving/inference/{inference_id}/vpc_ips/{vpc_ip_id}/": {"post": {"operationId": "attach-inference-vpc-ip", "summary": "Attach VPC IP", "tags": ["Model Endpoints"], "description": "Attach a reserved VPC IP to the model endpoint.\n\n> **Note:** A reserved VPC IP must exist in your TIR account before attaching. Reserve IPs under **Network \u2192 Reserve IP** in the TIR.\n", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "inference_id", "in": "path", "required": true, "schema": {"type": "integer"}}, {"name": "vpc_ip_id", "in": "path", "required": true, "description": "ID of the reserved VPC IP to attach.", "schema": {"type": "integer"}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "VPC IP attach scheduled successfully.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "string"}, "errors": {"type": "object"}, "message": {"type": "string", "example": "Success"}}}}}}}}, "delete": {"operationId": "detach-inference-vpc-ip", "summary": "Detach VPC IP", "tags": ["Model Endpoints"], "description": "Detach a VPC IP from the model endpoint.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "inference_id", "in": "path", "required": true, "schema": {"type": "integer"}}, {"name": "vpc_ip_id", "in": "path", "required": true, "description": "ID of the VPC IP to detach.", "schema": {"type": "integer"}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "VPC IP detach scheduled successfully.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "string"}, "errors": {"type": "object"}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/project/p-{Project_Id}/endpoint/is-{Endpoint_Id}/v1/chat/completions": {"post": {"operationId": "post-project-p-project-id-endpoint-is-endpoint-id-v1-chat-completions", "summary": "Chat Completions", "tags": ["Playground API"], "description": "Generate chat completions using a deployed model endpoint. Supports any model deployed via TIR Inference Service, following the OpenAI-compatible chat completions API format.", "parameters": [{"name": "Project_Id", "in": "path", "required": true, "description": "Project_Id (added by fix_spec.py: appears in the URL template but is not declared as a parameter at all)", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "Endpoint_Id", "in": "path", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "required": ["model", "messages"], "properties": {"model": {"type": "string", "description": "The model identifier to use for completion.", "example": "your-model-name"}, "messages": {"type": "array", "description": "A list of messages comprising the conversation so far.", "items": {"type": "object", "properties": {"role": {"type": "string", "enum": ["user", "system", "assistant"], "example": "user"}, "content": {"type": "string", "example": "Hello!!"}}}}, "max_tokens": {"type": "integer", "description": "Maximum number of tokens to generate in the response.", "example": 512}, "temperature": {"type": "number", "description": "Controls randomness. Lower values make output more deterministic, higher values more creative.", "example": 0.7}, "top_p": {"type": "number", "description": "Nucleus sampling probability mass. Only tokens with cumulative probability up to top_p are considered.", "example": 1}, "top_k": {"type": "integer", "description": "Limits the number of highest-probability tokens considered at each step.", "example": 50}, "frequency_penalty": {"type": "number", "description": "Penalizes tokens based on how frequently they have appeared in the text so far.", "example": 0}, "stream": {"type": "boolean", "description": "If true, responses are streamed as server-sent events.", "example": false}}}}}}, "responses": {"200": {"description": "Successful chat completion response.", "content": {"application/json": {"schema": {"type": "object", "properties": {"id": {"type": "string", "description": "Unique identifier for the completion.", "example": "chatcmpl-ab36a36c-2315-472f-9e58-0f68f19b8bf8"}, "object": {"type": "string", "description": "Object type, always `chat.completion`.", "example": "chat.completion"}, "created": {"type": "integer", "description": "Unix timestamp of when the completion was created.", "example": 1776750085}, "model": {"type": "string", "description": "The model used for the completion.", "example": "meta-llama/Llama-3.2-1B-Instruct"}, "choices": {"type": "array", "description": "List of generated completion choices.", "items": {"type": "object", "properties": {"index": {"type": "integer", "example": 0}, "message": {"type": "object", "properties": {"role": {"type": "string", "example": "assistant"}, "content": {"type": "string", "example": "In Nature's embrace, I find my peace,\nA world of wonder, a world to cease,\nFrom mountains high to valleys low,\nA tapestry of life, in all its glow."}, "refusal": {"type": "string", "nullable": true, "example": null}, "tool_calls": {"type": "array", "items": {"type": "object"}, "example": []}, "reasoning": {"type": "string", "nullable": true, "example": null}}}, "logprobs": {"type": "string", "nullable": true, "example": null}, "finish_reason": {"type": "string", "example": "stop"}, "stop_reason": {"type": "string", "nullable": true, "example": null}, "token_ids": {"type": "string", "nullable": true, "example": null}}}}, "service_tier": {"type": "string", "nullable": true, "example": null}, "system_fingerprint": {"type": "string", "nullable": true, "example": null}, "usage": {"type": "object", "properties": {"prompt_tokens": {"type": "integer", "example": 40}, "completion_tokens": {"type": "integer", "example": 274}, "total_tokens": {"type": "integer", "example": 314}, "prompt_tokens_details": {"type": "string", "nullable": true, "example": null}}}, "prompt_logprobs": {"type": "string", "nullable": true, "example": null}, "prompt_token_ids": {"type": "string", "nullable": true, "example": null}, "kv_transfer_params": {"type": "string", "nullable": true, "example": null}}}}}}}}}, "/model_evaluation/": {"get": {"operationId": "get-model-evaluation", "summary": "List Model Evaluation Jobs", "tags": ["Model Evaluation"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "per_page", "in": "query", "required": false, "description": "Number of results per page", "schema": {"type": "integer", "minimum": 0}}, {"name": "page_no", "in": "query", "required": false, "description": "The page number from which you want your page search results to be displayed.", "schema": {"type": "integer", "minimum": 0}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer"}, "message": {"type": "string"}, "total_page_number": {"type": "integer"}, "total_count": {"type": "integer"}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer"}, "name": {"type": "string"}, "project_id": {"type": "integer"}, "input_dataset": {"type": "string", "nullable": true}, "input_dataset_config": {"type": "object", "properties": {"dataset_path": {"type": "string", "nullable": true}, "hf_dataset_name": {"type": "string"}, "custom_hf_dataset_name": {"type": "string"}, "dataset_split": {"type": "string"}, "input_column": {"type": "string"}, "output_column": {"type": "string"}, "reference_answer_column": {"type": "string"}, "num_rows_limit": {"type": "integer"}, "dataset_type": {"type": "string"}}}, "output_dataset": {"type": "object", "properties": {"id": {"type": "integer"}, "name": {"type": "string"}, "project_id": {"type": "integer"}, "storage_type": {"type": "string"}, "status": {"type": "string"}, "created_at": {"type": "string", "format": "date-time"}, "updated_at": {"type": "string", "format": "date-time"}}}, "framework": {"type": "object", "properties": {"id": {"type": "integer"}, "name": {"type": "string"}, "display_name": {"type": "string"}, "description": {"type": "string"}, "metrics": {"type": "array", "items": {"type": "object", "properties": {"name": {"type": "string"}, "description": {"type": "string"}, "display_name": {"type": "string"}}}}}}, "evaluator_llm_name": {"type": "string"}, "evaluation_config": {"type": "object", "properties": {"temperature": {"type": "number"}, "max_tokens": {"type": "integer"}, "top_p": {"type": "number"}}}, "status": {"type": "string"}, "run": {"type": "object", "properties": {"id": {"type": "integer"}, "name": {"type": "string"}, "run_id": {"type": "string"}, "state": {"type": "string"}, "progress": {"type": "string"}, "finished_at": {"type": "string", "format": "date-time"}, "created_at": {"type": "string", "format": "date-time"}, "source": {"type": "string"}}}, "created_by": {"type": "object", "properties": {"id": {"type": "integer"}, "name": {"type": "string"}, "email": {"type": "string"}, "username": {"type": "string"}}}, "created_at": {"type": "string", "format": "date-time"}, "updated_at": {"type": "string", "format": "date-time"}}}}}}}}}}}, "post": {"operationId": "post-model-evaluation", "summary": "Create Model Evaluation", "tags": ["Model Evaluation"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"name": {"type": "string", "example": "tir-job-021915025656"}, "input_dataset_id": {"type": "string", "example": ""}, "output_dataset_id": {"type": "string", "example": "async-invocations-02171142022"}, "input_dataset_config": {"type": "object", "properties": {"dataset_type": {"type": "string", "enum": ["huggingface", "EOS Dataset"], "example": "huggingface"}, "dataset_split": {"type": "string", "example": "train"}, "input_column": {"type": "string", "example": "question"}, "output_column": {"type": "string", "example": "answer"}, "reference_answer_column": {"type": "string", "example": ""}, "num_rows_limit": {"type": "integer", "example": -1}, "custom_hf_dataset_name": {"type": "string", "example": ""}, "hf_dataset_name": {"type": "string", "enum": ["GAIR/o1-journey", "chenle015/OpenMP_Question_Answering", "sujayC66/text_summarization_512_length_1_2000", "JeswinMS4/code_text_classification"], "example": "GAIR/o1-journey"}}}, "framework_id": {"type": "integer", "example": 1, "description": "1 - text-summarization\n2 - general_assistant\n3 - question_answering\n4 - text_classification\n"}, "evaluator_llm_id": {"type": "integer", "example": 2, "description": "1 - llama3_2_3b_instruct\n2 - llama3_1_8b_instruct\n"}, "evaluation_config": {"type": "object", "properties": {"temperature": {"type": "number", "format": "float", "minimum": 0, "maximum": 1, "example": 0}, "max_tokens": {"type": "integer", "minimum": 16, "maximum": 2000, "example": 1024}, "top_p": {"type": "number", "format": "float", "minimum": 0, "maximum": 1, "example": 1}}}, "model_evaluation_prompt": {"type": "string", "example": "test"}, "sku_item_price_id": {"type": "integer", "description": "SKU item price ID for the evaluation job. This value is region-specific.\nUse the plans-and-pricing API to get valid IDs for your region.\n", "example": 207}, "huggingface_integration_id": {"type": "string", "nullable": true, "example": null}}}}}, "required": true}, "responses": {"201": {"description": "Evaluation request created successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 201}, "data": {"type": "object", "properties": {"id": {"type": "integer", "example": 126}, "name": {"type": "string", "example": "tir-job-021915025656"}, "project_id": {"type": "integer", "example": 4528}, "input_dataset": {"type": "string", "nullable": true, "example": null}, "input_dataset_config": {"type": "object", "properties": {"dataset_path": {"type": "string", "nullable": true, "example": null}, "hf_dataset_name": {"type": "string", "example": "GAIR/o1-journey"}, "custom_hf_dataset_name": {"type": "string", "example": ""}, "dataset_split": {"type": "string", "example": "train"}, "custom_dataset_split": {"type": "string", "nullable": true, "example": null}, "input_column": {"type": "string", "example": "question"}, "output_column": {"type": "string", "example": "answer"}, "reference_answer_column": {"type": "string", "example": ""}, "num_rows_limit": {"type": "integer", "example": -1}, "dataset_type": {"type": "string", "example": "huggingface"}}}, "output_dataset": {"type": "object", "properties": {"id": {"type": "integer", "example": 1617}, "name": {"type": "string", "example": "async-invocations-02171142022"}, "project_id": {"type": "integer", "example": 4528}, "description": {"type": "string", "nullable": true, "example": null}, "storage_type": {"type": "string", "example": "managed"}, "pvc": {"type": "string", "nullable": true, "example": null}, "bucket": {"type": "object", "properties": {"id": {"type": "integer", "example": 3068}, "bucket_name": {"type": "string", "example": "d-gpu-6a93eb6a-5a3e-411e-80ec-b91b31e7a93f"}, "bucket_url": {"type": "string", "example": "s3://d-gpu-6a93eb6a-5a3e-411e-80ec-b91b31e7a93f/"}, "endpoint": {"type": "string", "example": "https://objectstore.e2enetworks.net"}, "is_managed": {"type": "boolean", "example": true}, "eos_bucket_permission_id": {"type": "integer", "example": 11488}}}, "status": {"type": "string", "example": "OK"}}}, "framework": {"type": "object", "properties": {"id": {"type": "integer", "example": 2}, "name": {"type": "string", "example": "general_assistant"}, "display_name": {"type": "string", "example": "General Assistant"}, "description": {"type": "string", "example": "Use this metric for evaluating the general assistant capability of your LLM."}}}, "evaluator_llm_name": {"type": "string", "example": "llama3_2_3b_instruct"}, "status": {"type": "string", "example": "Creating"}, "created_at": {"type": "string", "format": "date-time", "example": "2025-02-19T09:34:52.615513Z"}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Created Successfully"}}}}}}}}}, "/model_evaluation/genai_evaluation_models/": {"get": {"operationId": "get-model-evaluation-genai-evaluation-models", "summary": "Get available GenAI evaluation models", "tags": ["Model Evaluation"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 1}, "model": {"type": "object", "properties": {"id": {"type": "integer", "example": 25}, "name": {"type": "string", "example": "llama3_2_3b_instruct"}, "display_name": {"type": "string", "example": "Llama 3.2 3B Instruct"}, "category": {"type": "string", "example": "txt2txt"}, "description": {"type": "string", "example": "This low-latency model is perfect for text summarization, classification, and language translation, ideal for mobile writing assistants and customer service apps."}, "is_active": {"type": "boolean", "example": true}, "url_info": {"type": "string", "example": "{}"}, "icon": {"type": "string", "example": "/framework/Llama-3.2-3B-Instruct.png"}, "total_runs_count": {"type": "integer", "example": 0}, "is_internal": {"type": "boolean", "example": false}, "is_inventory_available": {"type": "boolean", "example": true}}}, "pricing": {"type": "object", "properties": {"currency": {"type": "string", "example": "INR"}, "cost_per_n_input_tokens": {"type": "number", "example": 54.6}, "cost_per_n_output_tokens": {"type": "number", "example": 231}, "n_value": {"type": "integer", "example": 1000000}}}, "is_model_available_for_evaluation": {"type": "boolean", "example": true}}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/model_evaluation/evaluation_frameworks": {"get": {"operationId": "get-model-evaluation-evaluation-frameworks", "summary": "Get evaluation frameworks", "tags": ["Model Evaluation"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Successful response with evaluation frameworks", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer"}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer"}, "name": {"type": "string"}, "display_name": {"type": "string"}, "description": {"type": "string"}, "metrics": {"type": "array", "items": {"type": "object", "properties": {"name": {"type": "string"}, "description": {"type": "string"}, "display_name": {"type": "string"}}}}, "is_internal": {"type": "boolean"}}}}, "errors": {"type": "object"}, "message": {"type": "string"}}}}}}}}}, "/model_evaluation/{evaluation_id}/metric_results/": {"get": {"operationId": "get-model-evaluation-evaluation-id-metric-results", "summary": "Retrieve model evaluation result", "tags": ["Model Evaluation"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "evaluation_id", "in": "path", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "Successful response with evaluation metrics", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"completeness": {"type": "object", "properties": {"mean": {"type": "number", "format": "float", "example": 3.7737}, "median": {"type": "number", "format": "float", "example": 5}, "std_dev": {"type": "number", "format": "float", "example": 1.4954}, "min": {"type": "integer", "example": 0}, "max": {"type": "integer", "example": 5}, "count": {"type": "integer", "example": 327}, "invalid_count": {"type": "integer", "example": 0}}}, "correctness": {"type": "object", "properties": {"mean": {"type": "number", "format": "float", "example": 3.7737}, "median": {"type": "number", "format": "float", "example": 5}, "std_dev": {"type": "number", "format": "float", "example": 1.4954}, "min": {"type": "integer", "example": 0}, "max": {"type": "integer", "example": 5}, "count": {"type": "integer", "example": 327}, "invalid_count": {"type": "integer", "example": 0}}}, "precision": {"type": "object", "properties": {"mean": {"type": "number", "format": "float", "example": 3.7737}, "median": {"type": "number", "format": "float", "example": 5}, "std_dev": {"type": "number", "format": "float", "example": 1.4954}, "min": {"type": "integer", "example": 0}, "max": {"type": "integer", "example": 5}, "count": {"type": "integer", "example": 327}, "invalid_count": {"type": "integer", "example": 0}}}, "toxicity": {"type": "object", "properties": {"mean": {"type": "number", "format": "float", "example": 3.7737}, "median": {"type": "number", "format": "float", "example": 5}, "std_dev": {"type": "number", "format": "float", "example": 1.4954}, "min": {"type": "integer", "example": 0}, "max": {"type": "integer", "example": 5}, "count": {"type": "integer", "example": 327}, "invalid_count": {"type": "integer", "example": 0}}}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/model_evaluation/{evaluation_id}/": {"put": {"operationId": "put-model-evaluation-evaluation-id", "summary": "Terminate and Retry Model Evaluation Job", "tags": ["Model Evaluation"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "evaluation_id", "in": "path", "required": true, "schema": {"type": "integer"}}, {"name": "action", "in": "query", "required": true, "schema": {"type": "string", "enum": ["retry", "terminate"]}}], "responses": {"200": {"description": "Successful termination", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer"}, "data": {"type": "object"}, "errors": {"type": "object"}, "message": {"type": "string"}}}}}}}}, "delete": {"operationId": "delete-model-evaluation-evaluation-id", "summary": "Delete Model Evaluation Job", "tags": ["Model Evaluation"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "evaluation_id", "in": "path", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"id": {"type": "integer", "example": 126}, "name": {"type": "string", "example": "tir-job-021915025656"}, "project_id": {"type": "integer", "example": 4528}, "input_dataset": {"type": "string", "nullable": true, "example": null}, "input_dataset_config": {"type": "object", "properties": {"dataset_path": {"type": "string", "nullable": true, "example": null}, "hf_dataset_name": {"type": "string", "example": "GAIR/o1-journey"}, "custom_hf_dataset_name": {"type": "string", "example": ""}, "dataset_split": {"type": "string", "example": "train"}, "input_column": {"type": "string", "example": "question"}, "output_column": {"type": "string", "example": "answer"}, "num_rows_limit": {"type": "integer", "example": -1}, "dataset_type": {"type": "string", "example": "huggingface"}}}, "output_dataset": {"type": "object", "properties": {"id": {"type": "integer", "example": 1617}, "name": {"type": "string", "example": "async-invocations-02171142022"}, "storage_type": {"type": "string", "example": "managed"}, "bucket": {"type": "object", "properties": {"id": {"type": "integer", "example": 3068}, "bucket_name": {"type": "string", "example": "d-gpu-6a93eb6a-5a3e-411e-80ec-b91b31e7a93f"}, "bucket_url": {"type": "string", "example": "s3://d-gpu-6a93eb6a-5a3e-411e-80ec-b91b31e7a93f/"}, "endpoint": {"type": "string", "example": "https://objectstore.e2enetworks.net"}}}}}, "framework": {"type": "object", "properties": {"id": {"type": "integer", "example": 2}, "name": {"type": "string", "example": "general_assistant"}, "display_name": {"type": "string", "example": "General Assistant"}, "metrics": {"type": "array", "items": {"type": "object", "properties": {"name": {"type": "string", "example": "relevance_metric"}, "display_name": {"type": "string", "example": "Relevance"}}}}}}, "evaluator_llm_name": {"type": "string", "example": "llama3_2_3b_instruct"}, "evaluation_config": {"type": "object", "properties": {"temperature": {"type": "number", "example": 0}, "max_tokens": {"type": "integer", "example": 1024}, "top_p": {"type": "number", "example": 1}}}, "status": {"type": "string", "example": "Deleting"}, "run": {"type": "object", "properties": {"id": {"type": "integer", "example": 2787}, "name": {"type": "string", "example": "tir-job-021915025656"}, "state": {"type": "string", "example": "Succeeded"}, "progress": {"type": "string", "example": "1/1"}}}, "created_by": {"type": "object", "properties": {"id": {"type": "integer", "example": 4877}, "name": {"type": "string", "example": "Meghna Meghna"}, "email": {"type": "string", "example": "meghna@e2enetworks.com"}}}}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/model_playground/": {"get": {"operationId": "get-model-playground", "summary": "Model List", "tags": ["GenAI API"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "location", "in": "query", "required": true, "description": "Location", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Successful response with a list of AI models.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "description": "HTTP status code.", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "description": "Unique ID of the model.", "example": 26}, "name": {"type": "string", "description": "Name of the model.", "example": "llama_3_2_11b_vision_instruct"}, "display_name": {"type": "string", "description": "Display name of the model.", "example": "Llama 3.2 11B Vision Instruct"}, "category": {"type": "string", "description": "Category of the model (e.g., txt2txt, txt2img).", "example": "multimodal"}, "description": {"type": "string", "description": "Description of the model's capabilities and use cases.", "example": "Llama 3.2 Vision Instruct is designed for commercial and research use..."}, "is_active": {"type": "boolean", "description": "Indicates whether the model is active.", "example": true}, "icon": {"type": "string", "description": "URL or pa
[...]
