{"openapi": "3.0.3", "info": {"title": "MyAccount API - route53", "description": "", "version": "1.0.0"}, "servers": [{"url": "https://api.e2enetworks.com/myaccount"}], "paths": {"/api/v1/e2e_dns/forward/": {"get": {"operationId": "get-e2e-dns-forward", "summary": "Get DNS List", "tags": ["DNS"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Successful response returning a list of domains", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 10280}, "domain_name": {"type": "string", "example": "testing098.com."}, "domain_ip": {"type": "string", "format": "ipv4", "example": "1.1.1.1"}, "validity": {"type": "string", "nullable": true, "example": null}, "created_at": {"type": "string", "format": "date-time", "example": "2024-11-04T09:01:30.545588Z"}, "deleted": {"type": "boolean", "example": false}}}}, "errors": {"type": "object", "additionalProperties": true, "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}, "post": {"operationId": "post-e2e-dns-forward", "summary": "Create DNS", "tags": ["DNS"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"domain_name": {"type": "string", "example": "bunty.com"}, "ip_addr": {"type": "string", "format": "ipv4", "example": "1.1.1.1"}}, "required": ["domain_name", "ip_addr"]}}}, "required": true}, "responses": {"200": {"description": "Successful response indicating domain creation", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"status": {"type": "boolean", "example": true}, "message": {"type": "string", "example": "The domain was created successfully!"}, "id": {"type": "integer", "example": 10279}, "label_id": {"type": "integer", "nullable": true, "example": null}, "resource_type": {"type": "string", "nullable": true, "example": null}}}, "errors": {"type": "object", "additionalProperties": true, "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}, "delete": {"operationId": "delete-e2e-dns-forward", "summary": "Delete DNS", "tags": ["DNS"], "parameters": [{"name": "domain_id", "in": "query", "required": true, "description": "CDN Domain ID", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Successful response indicating domain deletion", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"status": {"type": "boolean", "example": true}, "message": {"type": "string", "example": "The domain was deleted successfully"}}}, "errors": {"type": "object", "additionalProperties": true, "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/e2e_dns/forward/{domain_name}/": {"get": {"operationId": "get-e2e-dns-forward-domain-name", "summary": "View DNS record", "tags": ["DNS"], "parameters": [{"name": "domain_name", "in": "path", "required": true, "description": "Domain Name", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Successful response with domain details", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"domain_name": {"type": "string", "example": "bunty.com."}, "domain": {"type": "object", "properties": {"account": {"type": "string", "example": ""}, "api_rectify": {"type": "boolean", "example": false}, "dnssec": {"type": "boolean", "example": false}, "id": {"type": "string", "example": "bunty.com."}, "kind": {"type": "string", "example": "Native"}, "last_check": {"type": "integer", "example": 0}, "masters": {"type": "array", "items": {"type": "string"}, "example": []}, "name": {"type": "string", "example": "bunty.com."}, "notified_serial": {"type": "integer", "example": 0}, "nsec3narrow": {"type": "boolean", "example": false}, "nsec3param": {"type": "string", "example": ""}, "rrsets": {"type": "array", "items": {"type": "object", "properties": {"comments": {"type": "array", "items": {"type": "string"}, "example": []}, "name": {"type": "string", "example": "bunty.com."}, "records": {"type": "array", "items": {"type": "object", "properties": {"content": {"type": "string", "example": "ns50.e2enetworks.net.in. abuse.e2enetworks.net.in. 2024110404 10800 3600 604800 86400"}, "disabled": {"type": "boolean", "example": false}}}}, "ttl": {"type": "integer", "example": 86400}, "type": {"type": "string", "example": "SOA"}}}}, "serial": {"type": "integer", "example": 2024110404}, "soa_edit": {"type": "string", "example": ""}, "soa_edit_api": {"type": "string", "example": "DEFAULT"}, "url": {"type": "string", "example": "/api/v1/servers/localhost/zones/bunty.com."}}}, "domain_ip": {"type": "string", "format": "ipv4", "example": "1.1.1.1"}, "DOMAIN_TTL": {"type": "integer", "example": 86400}}}, "errors": {"type": "object", "additionalProperties": true, "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/e2e_dns/diagnostics/verify_ns/{domain_name}/": {"get": {"operationId": "get-e2e-dns-diagnostics-verify-ns-domain-name", "summary": "Verify DNS record", "tags": ["DNS"], "parameters": [{"name": "domain_name", "in": "path", "required": true, "description": "Domain Name", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Successful response with nameserver status", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"status": {"type": "boolean", "example": true}, "message": {"type": "string", "example": "Your nameservers are not setup correctly"}, "data": {"type": "object", "properties": {"gl_nameservers": {"type": "array", "items": {"type": "string"}, "example": ["ns2.taipandns.com.", "ns1.taipandns.com."]}, "e2e_nameservers": {"type": "array", "items": {"type": "string"}, "example": ["ns50.e2enetworks.net.in.", "ns51.e2enetworks.net.in."]}, "authority": {"type": "boolean", "example": false}, "problem": {"type": "integer", "example": 1}}}}}, "errors": {"type": "object", "additionalProperties": true, "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/e2e_dns/diagnostics/verify_validity/{domain_name}/": {"get": {"operationId": "get-e2e-dns-diagnostics-verify-validity-domain-name", "summary": "Diagnose DNS validity", "tags": ["DNS"], "parameters": [{"name": "domain_name", "in": "path", "required": true, "description": "Domain Name", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"412": {"description": "Precondition Failed due to missing domain validity", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 412}, "data": {"type": "object", "additionalProperties": true, "example": {}}, "errors": {"type": "object", "properties": {"status": {"type": "boolean", "example": false}, "message": {"type": "string", "example": "Could not find validity for your domain."}}}, "message": {"type": "string", "example": "Precondition Failed"}}}}}}}}}, "/api/v1/e2e_dns/diagnostics/verify_ttl/{domain_name}/": {"get": {"operationId": "get-e2e-dns-diagnostics-verify-ttl-domain-name", "summary": "Diagnose TTL", "tags": ["DNS"], "parameters": [{"name": "domain_name", "in": "path", "required": true, "description": "Domain Name", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Successful response indicating an error with TTL verification", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"status": {"type": "boolean", "example": true}, "message": {"type": "string", "example": "Error verifying TTL for your DNS records."}, "data": {"type": "array", "items": {"type": "object", "additionalProperties": true, "example": {}}}}}, "errors": {"type": "object", "additionalProperties": true, "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}}}