{"openapi": "3.0.3", "info": {"title": "MyAccount API - autoscaling", "description": "", "version": "1.0.0"}, "servers": [{"url": "https://api.e2enetworks.com/myaccount"}], "paths": {"/api/v1/scaler/scalegroups/{scaler_id}": {"put": {"operationId": "as-resize", "summary": "Resize Auto Scaling Group (Cardinality)", "tags": ["Actions"], "description": "Manually sets the number of running nodes (`cardinality`) for the group. The requested `cardinality` must be within the group's `[min_nodes, max_nodes]` range. Set `update_min_nodes: true` to also raise `min_nodes` to the new cardinality so autoscaling does not immediately scale back down. A resize is rejected with `412 Precondition Failed` if the group is not in a resizable state (for example while it is already `SCALING`).", "parameters": [{"name": "scaler_id", "in": "path", "required": true, "description": "The `id` of the auto scaling group, as returned by List.", "schema": {"type": "integer"}, "example": 12345, "x-constraints": ["required", "must be a valid auto scaling group ID"]}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request.", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Region of the group.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["required", "must be a valid region name (e.g., Delhi, Chennai)"]}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "description": "Manually set the number of running nodes for the group.", "required": ["cardinality"], "properties": {"cardinality": {"type": "integer", "description": "Target number of running nodes.", "x-constraints": ["required", "must be between the group's min_nodes and max_nodes"], "example": 2}, "update_min_nodes": {"type": "boolean", "description": "When true, also raise min_nodes to the new cardinality so autoscaling does not scale back down.", "x-constraints": ["optional", "defaults to false"], "example": true}}, "example": {"cardinality": 2, "update_min_nodes": true}}}}}, "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "description": "Resize confirmation. A resize on a group that is not in a resizable state returns 412 Precondition Failed with the reason in `errors` (for example \"Service cannot be scaled in state: SCALING\").", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}, "delete": {"operationId": "as-delete", "summary": "Delete Auto Scaling Group", "tags": ["Auto Scaling"], "description": "Permanently deletes an auto scaling group. All of the group's running nodes are terminated and the group is removed - the action cannot be undone. Use the group `id` returned by List. On success the API returns `code: 204` with an empty `data` object.", "parameters": [{"name": "scaler_id", "in": "path", "required": true, "description": "The `id` of the auto scaling group to delete, as returned by List.", "schema": {"type": "integer"}, "example": 12345, "x-constraints": ["required", "must be a valid auto scaling group ID"]}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the delete request.", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Region of the group being deleted.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["required", "must be a valid region name (e.g., Delhi, Chennai)"]}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "description": "Deletion confirmation. The group and all its nodes have been removed.", "properties": {"code": {"type": "integer", "example": 204}, "data": {"type": "object", "properties": {}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/scaler/scalegroups/{scaler_id}/stop/": {"put": {"operationId": "as-stop", "summary": "Stop an Auto Scaling Group", "tags": ["Actions"], "description": "Stops the group: shuts down all of its nodes and pauses autoscaling. Network operations (attach/detach VPC or public IP) are only permitted while the group is stopped. The request body is empty.", "parameters": [{"name": "scaler_id", "in": "path", "required": true, "description": "The `id` of the auto scaling group, as returned by List.", "schema": {"type": "integer"}, "example": 12345, "x-constraints": ["required", "must be a valid auto scaling group ID"]}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request.", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Region of the group.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["required", "must be a valid region name (e.g., Delhi, Chennai)"]}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "description": "The stop action takes an empty request body.", "properties": {}, "example": {}}}}}, "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "description": "Stop confirmation.", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "string", "example": "Your service has been stopped successfully"}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/scaler/scalegroups/{scaler_id}/start/": {"put": {"operationId": "as-start", "summary": "Start an Auto Scaling Group", "tags": ["Actions"], "description": "Starts a stopped group: brings its nodes back online and resumes autoscaling. The request body is empty.", "parameters": [{"name": "scaler_id", "in": "path", "required": true, "description": "The `id` of the auto scaling group, as returned by List.", "schema": {"type": "integer"}, "example": 12345, "x-constraints": ["required", "must be a valid auto scaling group ID"]}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request.", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Region of the group.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["required", "must be a valid region name (e.g., Delhi, Chennai)"]}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "description": "The start action takes an empty request body.", "properties": {}, "example": {}}}}}, "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "description": "Start confirmation.", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "string", "example": "your service has been started"}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/scaler/scalegroups/{scaler_id}/public_ip/action/": {"get": {"operationId": "as-public-ip-details", "summary": "Get Public IP Requirement", "tags": ["Networks"], "description": "Returns whether the group's nodes are launched with a public IP (`is_public_ip_required`).", "parameters": [{"name": "scaler_id", "in": "path", "required": true, "description": "The `id` of the auto scaling group, as returned by List.", "schema": {"type": "integer"}, "example": 12345, "x-constraints": ["required", "must be a valid auto scaling group ID"]}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request.", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Region of the group.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["required", "must be a valid region name (e.g., Delhi, Chennai)"]}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "description": "Public IP requirement for the group.", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"is_public_ip_required": {"type": "boolean", "example": true}}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}, "put": {"operationId": "as-assign-public-ip", "summary": "Enable Public IP for a Group", "tags": ["Networks"], "description": "Enables public IP assignment for the group, so its nodes get a public IP. The request body is empty. The group must be stopped for the operation to succeed.", "parameters": [{"name": "scaler_id", "in": "path", "required": true, "description": "The `id` of the auto scaling group, as returned by List.", "schema": {"type": "integer"}, "example": 12345, "x-constraints": ["required", "must be a valid auto scaling group ID"]}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request.", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Region of the group.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["required", "must be a valid region name (e.g., Delhi, Chennai)"]}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "description": "Enabling public IP takes an empty request body.", "properties": {}, "example": {}}}}}, "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "description": "Public IP enable confirmation.", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "string", "example": "public_ip has been attached successfully"}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}, "delete": {"operationId": "as-unassign-public-ip", "summary": "Disable Public IP for a Group", "tags": ["Networks"], "description": "Disables public IP assignment for the group, so its nodes no longer get a public IP. The group must be stopped for the operation to succeed.", "parameters": [{"name": "scaler_id", "in": "path", "required": true, "description": "The `id` of the auto scaling group, as returned by List.", "schema": {"type": "integer"}, "example": 12345, "x-constraints": ["required", "must be a valid auto scaling group ID"]}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request.", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Region of the group.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["required", "must be a valid region name (e.g., Delhi, Chennai)"]}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "description": "Public IP disable confirmation.", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "string", "example": "public_ip has been detached successfully"}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/scaler/scalegroups/security_groups/{scaler_id}/": {"get": {"operationId": "as-attached-sgs", "summary": "List Security Groups Attached to a Group", "tags": ["Security Group"], "description": "Returns the security groups currently attached to the auto scaling group, including each group's full inbound/outbound rule set.", "parameters": [{"name": "scaler_id", "in": "path", "required": true, "description": "The `id` of the auto scaling group, as returned by List.", "schema": {"type": "integer"}, "example": 12345, "x-constraints": ["required", "must be a valid auto scaling group ID"]}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request.", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Region of the group.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["required", "must be a valid region name (e.g., Delhi, Chennai)"]}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "description": "Security groups attached to the group, each with its rules.", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 12345}, "name": {"type": "string", "example": "default_sg_delhi"}, "description": {"type": "string", "example": "default security group delhi"}, "rules": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 12345}, "rule_type": {"type": "string", "example": "Inbound"}, "protocol_name": {"type": "string", "example": "Custom_TCP"}, "port_range": {"type": "string", "example": "22,443,80"}, "network": {"type": "string", "example": "any"}, "network_cidr": {"type": "string", "example": "--"}, "network_size": {"type": "integer", "example": 1}, "vpc_id": {"type": "integer", "example": null}, "description": {"type": "string", "example": ""}}}}, "is_default": {"type": "boolean", "example": true}, "is_all_traffic_rule": {"type": "boolean", "example": false}, "is_dr_source": {"type": "boolean", "example": false}, "is_dr_target": {"type": "boolean", "example": false}, "is_active": {"type": "boolean", "example": true}, "inbound_rules_count": {"type": "integer", "example": 1}, "outbound_rules_count": {"type": "integer", "example": 1}}}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}, "put": {"operationId": "as-attach-sg", "summary": "Attach a Security Group to a Group", "tags": ["Security Group"], "description": "Attaches a single security group to the auto scaling group. Send the security group's `id` (from Available SGs) as `security_group_id` in the body. Call once per security group to attach more than one.", "parameters": [{"name": "scaler_id", "in": "path", "required": true, "description": "The `id` of the auto scaling group, as returned by List.", "schema": {"type": "integer"}, "example": 12345, "x-constraints": ["required", "must be a valid auto scaling group ID"]}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request.", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Region of the group.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["required", "must be a valid region name (e.g., Delhi, Chennai)"]}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "description": "The security group to attach. Attach one security group per call.", "required": ["security_group_id"], "properties": {"security_group_id": {"type": "integer", "description": "ID of the security group to attach (from Available SGs).", "x-constraints": ["required", "must be a valid security group ID available to the group"], "example": 12345}}, "example": {"security_group_id": 12345}}}}}, "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "description": "Security group attach confirmation.", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "example": "Security Group Attaching Successfully"}}}}}}}}, "delete": {"operationId": "as-detach-sg", "summary": "Detach a Security Group from a Group", "tags": ["Security Group"], "description": "Detaches a security group from the auto scaling group, identified by the `security_group_id` query parameter (the security group's `id`).", "parameters": [{"name": "scaler_id", "in": "path", "required": true, "description": "The `id` of the auto scaling group, as returned by List.", "schema": {"type": "integer"}, "example": 12345, "x-constraints": ["required", "must be a valid auto scaling group ID"]}, {"name": "security_group_id", "in": "query", "required": true, "description": "The `id` of the attached security group to detach.", "schema": {"type": "integer"}, "example": "{{security_group_id}}", "x-constraints": ["required", "must be the id of a currently attached security group"]}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request.", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Region of the group.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["required", "must be a valid region name (e.g., Delhi, Chennai)"]}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "description": "Security group detach confirmation.", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "example": "Security Group Detaching Successfully"}}}}}}}}}, "/api/v1/scaler/scalegroups/remaining_security_group/{scaler_id}": {"get": {"operationId": "as-available-sgs", "summary": "List Security Groups Available to Attach", "tags": ["Security Group"], "description": "Returns the security groups in the region that are **not** yet attached to the group and can be attached to it. Use a group's `id` from this list as the `security_group_id` for Attach SG.", "parameters": [{"name": "scaler_id", "in": "path", "required": true, "description": "The `id` of the auto scaling group, as returned by List.", "schema": {"type": "integer"}, "example": 12345, "x-constraints": ["required", "must be a valid auto scaling group ID"]}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request.", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Region of the group.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["required", "must be a valid region name (e.g., Delhi, Chennai)"]}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "description": "Security groups available to attach to the group, each with its rules.", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 12345}, "name": {"type": "string", "example": "allow_all_traffic_delhi"}, "description": {"type": "string", "example": "allow all traffic security group delhi"}, "rules": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 12345}, "rule_type": {"type": "string", "example": "Inbound"}, "protocol_name": {"type": "string", "example": "ALL"}, "port_range": {"type": "string", "example": ""}, "network": {"type": "string", "example": "any"}, "network_cidr": {"type": "string", "example": "--"}, "network_size": {"type": "integer", "example": 1}, "vpc_id": {"type": "integer", "example": null}, "description": {"type": "string", "example": ""}}}}, "is_default": {"type": "boolean", "example": false}, "is_all_traffic_rule": {"type": "boolean", "example": true}, "is_dr_source": {"type": "boolean", "example": false}, "is_dr_target": {"type": "boolean", "example": false}, "is_active": {"type": "boolean", "example": true}, "inbound_rules_count": {"type": "integer", "example": 1}, "outbound_rules_count": {"type": "integer", "example": 1}}}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/scaler/scalegroups": {"post": {"operationId": "as-create", "summary": "Create Auto Scaling Group", "tags": ["Auto Scaling"], "description": "Provisions an auto scaling group (\"scale group\"). The group launches between `min_nodes` and `max_nodes` identical nodes from the selected image and plan, and scales the running count automatically according to its scaling policies.\n\n**At least one of `policy` (elastic) or `scheduled_policy` is required.**\n- **Elastic `policy`** reacts to a metric (CPU, MEMORY, or a custom\n  parameter). It is sent as two objects: a scale-up rule (`adjust: 1`) and a\n  scale-down rule (`adjust: -1`).\n\n- **Scheduled `scheduled_policy`** changes the target node count on a cron\n  schedule. It is sent as two objects (scale-up and scale-down), where\n  `scheduled_policy[0].adjust` <= `max_nodes`,\n  `scheduled_policy[1].adjust` >= `min_nodes`, and\n  `scheduled_policy[0].adjust` >= `scheduled_policy[1].adjust`.\n\n\nA group can have at most `60` nodes (`MAX_NODES_PER_GROUP`). For a private cluster (`is_private: true`) send `custom_sku` and `host_ids` and a mandatory `vpc`, instead of `plan_id`. On success the group is returned in `Deploying` state - poll List or Detail until it is `Running`.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the create request.", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Region in which the group will be provisioned.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["required", "must be a valid region name (e.g., Delhi, Chennai)"]}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "description": "Create payload for an auto scaling group. Send `policy` for elastic (metric-based) scaling, `scheduled_policy` for cron-based scaling, or both - at least one is required. For a public group send `plan_id`; for a private cluster set `is_private: true` and send `custom_sku`, `host_ids` and a mandatory `vpc` instead.", "required": ["name", "min_nodes", "desired", "max_nodes", "vm_template_id", "is_public_ip_required"], "properties": {"name": {"type": "string", "description": "Display name of the auto scaling group.", "x-constraints": ["required", "max length 40 characters"], "example": "web-autoscale-group"}, "min_nodes": {"type": "integer", "description": "Minimum number of running nodes the group will maintain.", "x-constraints": ["required", "integer >= 0", "must be <= max_nodes"], "example": 2}, "desired": {"type": "integer", "description": "Initial target number of running nodes. On create this equals min_nodes.", "x-constraints": ["required", "must be between min_nodes and max_nodes"], "example": 2}, "max_nodes": {"type": "integer", "description": "Maximum number of running nodes the group may scale to.", "x-constraints": ["required", "integer", "must not exceed 60 (MAX_NODES_PER_GROUP)"], "example": 5}, "plan_id": {"type": "integer", "description": "ID of the compute plan (SKU) backing each node. Required for a public group (is_private false).", "x-constraints": ["required when is_private is false", "must be a valid plan ID from Plan"], "example": 1088}, "plan_name": {"type": "string", "description": "Human-readable plan name, from Plan.", "x-constraints": ["optional"], "example": "C3.8GB"}, "slug_name": {"type": "string", "description": "Plan slug identifier, from Plan.", "x-constraints": ["optional"], "example": "e2e_public_cloud"}, "sku_id": {"type": "integer", "description": "SKU identifier for the selected plan.", "x-constraints": ["optional"], "example": 12345}, "vm_image_id": {"type": "integer", "description": "ID of the image the nodes boot from.", "x-constraints": ["required for a public group", "must be a valid image ID"], "example": 12345}, "vm_image_name": {"type": "string", "description": "Name of the selected image.", "x-constraints": ["optional"], "example": "Ubuntu-22.04"}, "vm_template_id": {"type": "integer", "description": "Template ID of the selected image (its `template_id`).", "x-constraints": ["required", "must be a valid image template ID"], "example": 12345}, "my_account_sg_id": {"type": "integer", "description": "ID of the security group to attach to the group's nodes at create time.", "x-constraints": ["optional", "must be a valid security group ID"], "example": 12345}, "vpc": {"type": "array", "description": "VPC networks to attach to the group. Mandatory for a private cluster.", "items": {"type": "object", "properties": {"name": {"type": "string", "description": "VPC name.", "example": "VPC-Example"}, "network_id": {"type": "integer", "description": "VPC network ID.", "example": 12345}, "ipv4_cidr": {"type": "string", "description": "IPv4 CIDR block of the VPC.", "example": "10.8.46.0/23"}, "state": {"type": "string", "description": "VPC state.", "example": ""}, "subnets": {"type": "array", "description": "Subnets within the VPC.", "items": {}}, "is_e2e_vpc": {"type": "boolean", "description": "Whether this is an E2E-managed VPC.", "example": true}}}}, "is_public_ip_required": {"type": "boolean", "description": "Whether each node should be launched with a public IP.", "x-constraints": ["required", "boolean"], "example": true}, "isEncryptionEnabled": {"type": "boolean", "description": "Whether to enable disk encryption on the nodes.", "x-constraints": ["optional", "defaults to false"], "example": true}, "encryption_passphrase": {"type": "string", "description": "Passphrase used for disk encryption. Required when isEncryptionEnabled is true.", "x-constraints": ["required when isEncryptionEnabled is true", "length 8 to 12 characters", "must contain a lowercase letter, an uppercase letter and a special character"], "example": "Secret@123"}, "policy_type": {"type": "string", "description": "Whether the elastic policy uses a Default metric (CPU/MEMORY) or a Custom parameter.", "enum": ["Default", "Custom"], "x-constraints": ["one of Default | Custom"], "example": "Default"}, "custom_parameter_name": {"type": "string", "description": "Name of the custom scaling metric, when policy_type is Custom.", "x-constraints": ["required when policy_type is Custom", "matches [A-Z0-9]([_]?[A-Z0-9])+", "cannot be CPU or MEMORY", "max length 50 characters"], "example": "REQUESTS_PER_SEC"}, "custom_parameter_value": {"type": "integer", "description": "Initial value of the custom metric. Sent as 0 at create time.", "x-constraints": ["optional", "0 on create"], "example": 0}, "is_private": {"type": "boolean", "description": "Whether to launch the group on a private (dedicated) cluster.", "x-constraints": ["optional", "defaults to false"], "example": false}, "host_ids": {"type": "array", "description": "IDs of the private-cluster hosts to place nodes on. Used when is_private is true.", "items": {"type": "integer"}, "x-constraints": ["used only when is_private is true"]}, "custom_sku": {"type": "object", "description": "Custom node sizing for a private cluster. Used when is_private is true.", "properties": {"cpu": {"type": "integer", "description": "vCPU count per node.", "x-constraints": ["integer between 1 and 150"], "example": 4}, "memory": {"type": "integer", "description": "RAM per node, in GB.", "x-constraints": ["integer between 4 and 250 (GB)"], "example": 8}, "disk": {"type": "integer", "description": "Root disk size per node, in GB.", "x-constraints": ["integer >= 100 (GB)"], "example": 100}, "cluster_id": {"type": "integer", "description": "ID of the private cluster to launch on.", "example": 12345}}}, "policy": {"type": "array", "description": "Elastic (metric-based) scaling rules. Sent as two objects: a scale-up rule (adjust 1) and a scale-down rule (adjust -1).", "items": {"type": "object", "properties": {"type": {"type": "string", "description": "Policy type. Always CHANGE for an elastic rule.", "example": "CHANGE"}, "adjust": {"type": "integer", "description": "Node count change applied when the rule fires (positive to scale up, negative to scale down).", "example": 1}, "parameter": {"type": "string", "description": "Metric the rule watches.", "x-constraints": ["CPU, MEMORY, or the custom_parameter_name"], "example": "CPU"}, "operator": {"type": "string", "description": "Comparison operator between the metric and value.", "enum": [">", "<", ">=", "<="], "example": ">"}, "value": {"type": "integer", "description": "Threshold the metric is compared against (a percentage for CPU/MEMORY).", "x-constraints": ["scale-up default range 30 to 99", "scale-down min 10, max = scale-up value / 2"], "example": 60}, "period_number": {"type": "integer", "description": "Number of consecutive evaluation periods the condition must hold (watch period).", "x-constraints": ["defaults to 3"], "example": 3}, "period": {"type": "integer", "description": "Length of each evaluation period, in seconds.", "x-constraints": ["defaults to 10"], "example": 10}, "cooldown": {"type": "integer", "description": "Cooldown after a scaling action before the next one, in seconds.", "x-constraints": ["defaults to 150"], "example": 150}}}}, "scheduled_policy": {"type": "array", "description": "Scheduled (cron-based) scaling rules. Sent as two objects: a scale-up and a scale-down target. scheduled_policy[0].adjust must be <= max_nodes, scheduled_policy[1].adjust must be >= min_nodes, and scheduled_policy[0].adjust must be >= scheduled_policy[1].adjust.", "items": {"type": "object", "properties": {"type": {"type": "string", "description": "Policy type. Always CARDINALITY for a scheduled rule.", "example": "CARDINALITY"}, "adjust": {"type": "integer", "description": "Target number of running nodes when the schedule fires.", "example": 4}, "recurrence": {"type": "string", "description": "Cron expression for when the rule fires.", "x-constraints": ["must be a valid cron expression", "the two scheduled rules must use distinct crons"], "example": "0 12 * * *"}}}}}, "example": {"plan_id": 1088, "plan_name": "C3.8GB", "slug_name": "e2e_public_cloud", "sku_id": 12345, "vm_image_id": 12345, "vm_image_name": "Ubuntu-22.04", "vm_template_id": 12345, "my_account_sg_id": 12345, "name": "web-autoscale-group", "min_nodes": 2, "desired": 2, "max_nodes": 5, "vpc": [{"name": "VPC-Example", "network_id": 12345, "ipv4_cidr": "10.8.46.0/23", "state": "", "subnets": [], "is_e2e_vpc": true}], "is_public_ip_required": true, "isEncryptionEnabled": true, "encryption_passphrase": "Secret@123", "policy_type": "Default", "policy": [{"type": "CHANGE", "adjust": 1, "parameter": "CPU", "operator": ">", "value": 60, "period_number": 3, "period": 10, "cooldown": 150}, {"type": "CHANGE", "adjust": -1, "parameter": "CPU", "operator": "<", "value": 30, "period_number": 3, "period": 10, "cooldown": 150}], "scheduled_policy": [{"type": "CARDINALITY", "adjust": 4, "recurrence": "0 12 * * *"}, {"type": "CARDINALITY", "adjust": 2, "recurrence": "0 2 * * *"}]}}}}}, "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "description": "The newly created auto scaling group, in Deploying state.", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"id": {"type": "string", "example": "12345"}, "name": {"type": "string", "example": "web-autoscale-group"}, "plane_name": {"type": "string", "example": null}, "vm_image_name": {"type": "string", "example": "Ubuntu-22.04"}, "provision_status": {"type": "string", "example": "Deploying"}, "running": {"type": "integer", "example": 0}, "desired": {"type": "integer", "example": 2}, "tags": {"type": "string", "example": ""}, "min_nodes": {"type": "integer", "example": 2}, "max_nodes": {"type": "integer", "example": 5}, "customer_id": {"type": "integer", "example": 12345}, "plan_id": {"type": "integer", "example": 1088}, "image_id": {"type": "integer", "example": 12345}, "nodes": {"type": "array", "items": {}}, "vpc_names": {"type": "string", "example": "VPC-Example"}, "elastic_policy": {"type": "object", "properties": {"type": {"type": "string", "example": "CHANGE"}, "policy": {"type": "string", "example": "CPU>60"}, "policy_measure": {"type": "string", "example": "CPU"}, "policy_op": {"type": "string", "example": ">"}, "upscale_policy_value": {"type": "integer", "example": 60}, "downscale_policy_value": {"type": "integer", "example": 30}, "wait_for_period": {"type": "integer", "example": 3}, "wait_period": {"type": "integer", "example": 10}, "cooldown": {"type": "integer", "example": 150}}}, "scheduled_policy": {"type": "object", "properties": {"type": {"type": "string", "example": "CARDINALITY"}, "scheduled_policy_ip": {"type": "string", "example": "scheduled_action"}, "upscale_recurrence": {"type": "string", "example": "0 12 * * *"}, "upscale_adjust": {"type": "integer", "example": 4}, "downscale_recurrence": {"type": "string", "example": "0 2 * * *"}, "downscale_adjust": {"type": "integer", "example": 2}}}}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}, "get": {"operationId": "as-list", "summary": "List Auto Scaling Groups", "tags": ["Auto Scaling"], "description": "Returns a paginated list of the auto scaling groups in the project. Each entry summarises the group's configuration (plan, image, min/max nodes, elastic and scheduled policy, encryption flag) and its current `provision_status` and running/desired node counts. Use `page_no` and `per_page` to page through results; `total_count` and `total_page_number` are returned at the top level.", "parameters": [{"name": "page_no", "in": "query", "required": false, "description": "1-based page number to retrieve.", "schema": {"type": "integer"}, "example": 1, "x-constraints": ["optional", "positive integer", "defaults to 1 when omitted"]}, {"name": "per_page", "in": "query", "required": false, "description": "Number of groups to return per page.", "schema": {"type": "integer"}, "example": 5, "x-constraints": ["optional", "positive integer", "defaults to 5 when omitted"]}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request.", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Region to filter groups by.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["required", "must be a valid region name (e.g., Delhi, Chennai)"]}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "description": "Paginated list of auto scaling groups.", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "string", "example": "12345"}, "name": {"type": "string", "example": "web-autoscale-group"}, "plan_id": {"type": "integer", "example": 1088}, "policy": {"type": "string", "example": "CPU>60"}, "policy_measure": {"type": "string", "example": "CPU"}, "policy_op": {"type": "string", "example": ">"}, "upscale_policy_value": {"type": "integer", "example": 60}, "downscale_policy_value": {"type": "integer", "example": 30}, "running": {"type": "integer", "example": 2}, "desired": {"type": "integer", "example": 2}, "provision_status": {"type": "string", "example": "Running"}, "tags": {"type": "string", "example": ""}, "min_nodes": {"type": "integer", "example": 2}, "max_nodes": {"type": "integer", "example": 5}, "plan_name": {"type": "string", "example": "C3.8GB"}, "vm_image_name": {"type": "string", "example": "Ubuntu-22.04"}, "wait_for_period": {"type": "integer", "example": 3}, "wait_period": {"type": "integer", "example": 10}, "cooldown": {"type": "integer", "example": 150}, "upscale_recurrence": {"type": "string", "example": "0 12 * * *"}, "downscale_recurrence": {"type": "string", "example": "0 2 * * *"}, "scheduled_policy_op": {"type": "string", "example": "scheduled_action"}, "upscale_adjust": {"type": "integer", "example": 4}, "downscale_adjust": {"type": "integer", "example": 2}, "upscale_policy_operator": {"type": "string", "example": ">"}, "downscale_policy_operator": {"type": "string", "example": "<"}, "parameter_evaluated_value": {"type": "integer", "example": 0}, "policy_type": {"type": "string", "example": "Default"}, "isEncryptionEnabled": {"type": "boolean", "example": true}, "custom_sku": {"type": "object", "properties": {}}}}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "example": "Success"}, "total_page_number": {"type": "integer", "example": 1}, "total_count": {"type": "integer", "example": 2}}}}}}}}}, "/api/v1/scaler/scalegroups/{scaler_id}/": {"get": {"operationId": "as-detail", "summary": "Get Auto Scaling Group Details", "tags": ["Auto Scaling"], "description": "Returns the full configuration and live node list for a single auto scaling group, including the elastic and scheduled policy detail and every currently running node (id, private/public IP, status). Use the group `id` returned by List.", "parameters": [{"name": "scaler_id", "in": "path", "required": true, "description": "The `id` of the auto scaling group, as returned by List.", "schema": {"type": "integer"}, "example": 12345, "x-constraints": ["required", "must be a valid auto scaling group ID"]}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request.", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Region of the group.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["required", "must be a valid region name (e.g., Delhi, Chennai)"]}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "description": "Full configuration and live node list for one auto scaling group.", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"id": {"type": "integer", "example": 12345}, "name": {"type": "string", "example": "web-autoscale-group"}, "running": {"type": "integer", "example": 2}, "desired": {"type": "integer", "example": 2}, "provision_status": {"type": "string", "example": "Running"}, "tags": {"type": "string", "example": ""}, "min_nodes": {"type": "integer", "example": 2}, "max_nodes": {"type": "integer", "example": 5}, "plan_name": {"type": "string", "example": "C3.8GB"}, "plan": {"type": "string", "example": "e2e_public_cloud"}, "vm_image_name": {"type": "string", "example": "Ubuntu-22.04"}, "customer_id": {"type": "integer", "example": 12345}, "plan_id": {"type": "integer", "example": 1088}, "image_id": {"type": "integer", "example": 12345}, "nodes": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 12345}, "name": {"type": "string", "example": "web_0_service_12345"}, "ip": {"type": "array", "items": {"type": "string"}, "example": ["10.2.3.4"]}, "public_ip": {"type": "string", "example": "164.2.3.4"}, "status": {"type": "string", "example": "Running"}, "real_cpu": {"type": "string", "example": ""}}}}, "policy_op": {"type": "string", "example": ">"}, "policy": {"type": "string", "example": "CPU>60"}, "upscale_policy_value": {"type": "integer", "example": 60}, "downscale_policy_value": {"type": "integer", "example": 30}, "wait_for_period": {"type": "integer", "example": 3}, "wait_period": {"type": "integer", "example": 10}, "cooldown": {"type": "integer", "example": 150}, "policy_measure": {"type": "string", "example": "CPU"}, "scheduled_policy_op": {"type": "string", "example": "scheduled_action"}, "upscale_recurrence": {"type": "string", "example": "0 12 * * *"}, "upscale_adjust": {"type": "integer", "example": 4}, "downscale_recurrence": {"type": "string", "example": "0 2 * * *"}, "downscale_adjust": {"type": "integer", "example": 2}, "policy_upscale_operator": {"type": "string", "example": ">"}, "policy_downscale_operator": {"type": "string", "example": "<"}, "policy_type": {"type": "string", "example": "Default"}, "parameter_evaluated_value": {"type": "integer", "example": 0}}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/scaler/scalegroups/update/{scaler_id}/": {"put": {"operationId": "as-update", "summary": "Update Auto Scaling Group Configuration", "tags": ["Auto Scaling"], "description": "Updates a group's configuration: its `name`, `min_nodes` / `max_nodes`, the backing `plan_id`, the `policy_type`, and the elastic (`policy`) and scheduled (`scheduled_policy`) rules. The same min/max and policy validation as Create applies (`max_nodes` <= 60, the scheduled-policy ordering rules, and at least one of `policy` / `scheduled_policy`). For a private cluster set `is_private: true` and omit `plan_id`.", "parameters": [{"name": "scaler_id", "in": "path", "required": true, "description": "The `id` of the auto scaling group, as returned by List.", "schema": {"type": "integer"}, "example": 12345, "x-constraints": ["required", "must be a valid auto scaling group ID"]}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the update request.", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Region of the group being updated.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["required", "must be a valid region name (e.g., Delhi, Chennai)"]}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "description": "Update payload for an auto scaling group's configuration and scaling policies. The same min/max and policy validation as create applies.", "required": ["name", "min_nodes", "max_nodes"], "properties": {"name": {"type": "string", "description": "Display name of the group.", "x-constraints": ["required", "max length 40 characters"], "example": "web-autoscale-group"}, "plan_id": {"type": "integer", "description": "ID of the compute plan backing each node. Required when is_private is false.", "x-constraints": ["required when is_private is false"], "example": 1088}, "is_private": {"type": "boolean", "description": "Whether the group runs on a private cluster.", "x-constraints": ["optional", "defaults to false"], "example": false}, "min_nodes": {"type": "integer", "description": "Minimum number of running nodes.", "x-constraints": ["required", "integer >= 0"], "example": 1}, "max_nodes": {"type": "integer", "description": "Maximum number of running nodes.", "x-constraints": ["required", "must not exceed 60 (MAX_NODES_PER_GROUP)"], "example": 5}, "policy_type": {"type": "string", "description": "Whether the elastic policy uses a Default metric or a Custom parameter.", "enum": ["Default", "Custom"], "example": "Default"}, "policy": {"type": "array", "description": "Elastic scaling rules (scale-up and scale-down). See Create for field detail.", "items": {"type": "object", "properties": {"type": {"type": "string", "example": "CHANGE"}, "adjust": {"type": "integer", "example": 1}, "parameter": {"type": "string", "example": "CPU"}, "operator": {"type": "string", "example": ">"}, "value": {"type": "integer", "example": 60}, "period_number": {"type": "integer", "example": 3}, "period": {"type": "integer", "example": 10}, "cooldown": {"type": "integer", "example": 150}}}}, "scheduled_policy": {"type": "array", "description": "Scheduled scaling rules (scale-up and scale-down). See Create for field detail.", "items": {"type": "object", "properties": {"type": {"type": "string", "example": "CARDINALITY"}, "adjust": {"type": "integer", "example": 4}, "recurrence": {"type": "string", "example": "0 12 * * *"}}}}}, "example": {"name": "web-autoscale-group", "plan_id": 1088, "is_private": false, "min_nodes": 1, "max_nodes": 5, "policy_type": "Default", "policy": [{"type": "CHANGE", "adjust": 1, "parameter": "CPU", "operator": ">", "value": 60, "period_number": 3, "period": 10, "cooldown": 150}, {"type": "CHANGE", "adjust": -1, "parameter": "CPU", "operator": "<", "value": 30, "period_number": 3, "period": 10, "cooldown": 150}], "scheduled_policy": [{"type": "CARDINALITY", "adjust": 4, "recurrence": "0 12 * * *"}, {"type": "CARDINALITY", "adjust": 2, "recurrence": "0 2 * * *"}]}}}}}, "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "description": "Update confirmation.", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "example": "service updated sucessfully, service_name: web-autoscale-group"}}}}}}}}}, "/api/v1/scaler/scalegroups/nodes/{scaler_id}": {"get": {"operationId": "as-active-nodes", "summary": "List Active Nodes in a Group", "tags": ["Auto Scaling"], "description": "Returns the currently running (active) nodes for an auto scaling group - each node's `id`, `name`, public and private IP address, and `status`. Terminated nodes are returned by Deleted Nodes instead.", "parameters": [{"name": "scaler_id", "in": "path", "required": true, "description": "The `id` of the auto scaling group, as returned by List.", "schema": {"type": "integer"}, "example": 12345, "x-constraints": ["required", "must be a valid auto scaling group ID"]}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request.", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Region of the group.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["required", "must be a valid region name (e.g., Delhi, Chennai)"]}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "description": "Active nodes in the group.", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 12345}, "name": {"type": "string", "example": "web_7_service_12345"}, "public_ip_address": {"type": "string", "example": "164.2.3.4"}, "private_ip_address": {"type": "string", "example": "10.8.46.6"}, "status": {"type": "string", "example": "Running"}}}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/scaler/scalenodeinfo/{scaler_id}": {"get": {"operationId": "as-deleted-nodes", "summary": "List Deleted (Terminated) Nodes", "tags": ["Auto Scaling"], "description": "Returns the nodes that the group has scaled down / terminated, with each node's `node_name`, `created_at`, `terminated_at`, total `usage` duration, and the `public_ip` it had. Useful for auditing past scaling activity and node lifetimes.", "parameters": [{"name": "scaler_id", "in": "path", "required": true, "description": "The `id` of the auto scaling group, as returned by List.", "schema": {"type": "integer"}, "example": 12345, "x-constraints": ["required", "must be a valid auto scaling group ID"]}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request.", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Region of the group.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["required", "must be a valid region name (e.g., Delhi, Chennai)"]}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "description": "Terminated (scaled-down) nodes and their lifetimes.", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"node_name": {"type": "string", "example": "web_0_service_12345"}, "created_at": {"type": "string", "example": "2026-01-15T09:02:13.309834Z"}, "terminated_at": {"type": "string", "example": "2026-01-15T14:22:06.981739Z"}, "usage": {"type": "string", "example": "0 days 5 hours 19 minutes"}, "public_ip": {"type": "string", "example": "164.2.3.4"}}}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/scaler/scalegroups/lb_details/{scaler_id}": {"get": {"operationId": "as-attached-lb", "summary": "List Load Balancers Attached to a Group", "tags": ["Auto Scaling"], "description": "Returns the load balancers that route traffic to the auto scaling group - each load balancer's `id`, `name`, and `status`. An auto scaling group is typically used as a backend of a load balancer so that scaled-out nodes automatically receive traffic.", "parameters": [{"name": "scaler_id", "in": "path", "required": true, "description": "The `id` of the auto scaling group, as returned by List.", "schema": {"type": "integer"}, "example": 12345, "x-constraints": ["required", "must be a valid auto scaling group ID"]}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request.", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Region of the group.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["required", "must be a valid region name (e.g., Delhi, Chennai)"]}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "description": "Load balancers attached to the group.", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 12345}, "name": {"type": "string", "example": "LB-ALB-Example"}, "status": {"type": "string", "example": "RUNNING"}}}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/scaler/scalegroups/logs/{scaler_id}": {"get": {"operationId": "as-audit-logs", "summary": "Get Autoscaling Activity Logs", "tags": ["Auto Scaling"], "description": "Returns the autoscaling activity log for the group - the chronological record of state transitions and scale up/down events (for example `Role web scaling up from 2 to 3 nodes`, `New state: SCALING`), each with a `created_at` timestamp.", "parameters": [{"name": "scaler_id", "in": "path", "required": true, "description": "The `id` of the auto scaling group, as returned by List.", "schema": {"type": "integer"}, "example": 12345, "x-constraints": ["required", "must be a valid auto scaling group ID"]}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request.", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Region of the group.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["required", "must be a valid region name (e.g., Delhi, Chennai)"]}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "description": "Autoscaling activity log entries (state transitions and scale events).", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"created_at": {"type": "string", "example": "2026-01-15T14:55:09"}, "state": {"type": "string", "example": "Role web scaling up from 2 to 3 nodes"}}}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/scaler/scalegroups/timeline/{scaler_id}/": {"get": {"operationId": "as-activity-timeline", "summary": "Get Audit Activity Timeline", "tags": ["Auto Scaling"], "description": "Returns the audited user-action timeline for the group for a given month - who performed which management action (START, STOP, RESIZE, ATTACH_SG, ATTACH_VPC, ATTACH_PUBLIC_IP, UPDATE_POLICY, LAUNCH, and so on), when, from which client IP, and whether it succeeded. Filter with the required `year` and `month` query parameters.", "parameters": [{"name": "scaler_id", "in": "path", "required": true, "description": "The `id` of the auto scaling group, as returned by List.", "schema": {"type": "integer"}, "example": 12345, "x-constraints": ["required", "must be a valid auto scaling group ID"]}, {"name": "year", "in": "query", "required": true, "description": "Four-digit year to filter the timeline by.", "schema": {"type": "integer"}, "example": 2026, "x-constraints": ["required", "four-digit year"]}, {"name": "month", "in": "query", "required": true, "description": "Month (1-12) to filter the timeline by.", "schema": {"type": "integer"}, "example": 6, "x-constraints": ["required", "integer between 1 and 12"]}, {"name": "project_id", "in": "query", "required": true, "description": "Identifier of the project to scope the request to. Required integer project ID.", "schema": {"type": "integer"}, "example": "{{project_id}}", "x-constraints": ["required", "must be a valid integer project ID"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request.", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string"]}, {"name": "location", "in": "query", "required": true, "description": "Region of the group.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["required", "must be a valid region name (e.g., Delhi, Chennai)"]}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "description": "Audited user-action timeline for the group for the requested month.", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"timestamp": {"type": "string", "example": "Jan 15, 2026 09:37:01 AM"}, "event": {"type": "string", "example": "ATTACH_SG"}, "client_ip": {"type": "string", "example": "203.0.113.10"}, "details": {"type": "string", "example": "ATTACH_SG(allow_all_traffic_delhi) performed on AutoScale Group web-autoscale-group"}, "operation_performed_by": {"type": "string", "example": "user@example.com"}, "performer_type": {"type": "string", "example": "primary_user"}, "performer_name": {"type": "string", "example": "Example User"}, "status": {"type": "boolean", "example": true}}}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}}}