{"openapi": "3.0.3", "info": {"title": "TIR API - rag", "description": "E2E TIR \u2014 the AI/ML platform: notebooks, foundation models, fine-tuning, inference endpoints, RAG, pipelines, and data.", "version": "1.0.0"}, "servers": [{"url": "https://api.e2enetworks.com/myaccount/api/v1/gpu"}], "paths": {"/rag/knowledgebase/": {"get": {"operationId": "get-rag-knowledgebase", "summary": "List Knowledge Base", "tags": ["RAG (Knowledge Base)"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 463}, "name": {"type": "string", "example": "tir-kb-020311335151"}, "document_count": {"type": "integer", "example": 0}, "created_at": {"type": "string", "format": "date-time", "example": "2025-02-03T06:03:55.125447Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2025-02-03T06:03:55.125492Z"}, "embedding_model": {"type": "object", "properties": {"id": {"type": "integer", "example": 2}, "display_name": {"type": "string", "example": "BAAI/bge-large-en-v1.5"}, "model_name": {"type": "string", "example": "bge-large-en-v1_5"}, "model_source": {"type": "string", "example": "genai"}, "dimensions": {"type": "integer", "example": 1024}}}, "chunking_method": {"type": "string", "example": "general"}, "chunking_configuration": {"type": "object", "properties": {"delimiter": {"type": "string", "example": "\n!?;\u3002\uff1b\uff01\uff1f"}, "chunk_size": {"type": "integer", "example": 128}, "entity_types": {"type": "array", "items": {"type": "string", "example": "organization"}}, "layout_recognition": {"type": "boolean", "example": true}}}, "model_source": {"type": "string", "example": "genai"}, "model_name": {"type": "string", "example": "bge-large-en-v1_5"}}}}, "errors": {"type": "object", "additionalProperties": true}, "message": {"type": "string", "example": "Success"}}}}}}}}, "post": {"operationId": "post-rag-knowledgebase", "summary": "Create Knowledge Base", "tags": ["RAG (Knowledge Base)"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"name": {"type": "string", "description": "Name of the knowledge base (must be unique per project)"}, "project_id": {"type": "integer", "description": "Project ID the knowledge base belongs to"}, "chunking_method": {"type": "string", "enum": ["general", "qa", "manual", "table", "paper", "book", "laws", "presentation", "one", "knowledge_graph"], "description": "Document chunking strategy"}, "chunking_configuration": {"type": "object", "description": "Chunking parameters (varies by chunking_method)", "properties": {"chunk_size": {"type": "integer", "description": "Token count per chunk (min 32, max 2048; max 16384 for knowledge_graph)"}, "delimiter": {"type": "string", "description": "Delimiter characters for splitting"}, "layout_recognition": {"type": "boolean", "description": "Enable layout-aware chunking"}, "entity_types": {"type": "array", "items": {"type": "string"}, "description": "Entity types for knowledge_graph method"}, "enable_keywords": {"type": "boolean", "description": "Auto-generate keywords"}, "auto_questions": {"type": "integer", "description": "Number of auto-generated questions (0-10)"}}}, "embedding_details": {"type": "object", "description": "Embedding model configuration", "properties": {"model_id": {"type": "integer", "description": "Embedding model ID"}, "model_source": {"type": "string", "enum": ["genai", "inference"], "description": "Source of the embedding model"}, "model_name": {"type": "string", "description": "Model name (required if model_source is inference)"}, "max_tokens": {"type": "integer", "description": "Maximum tokens for the embedding model"}}, "required": ["model_id", "model_source"]}, "llm_details": {"type": "object", "description": "LLM model configuration", "properties": {"model_id": {"type": "integer", "description": "LLM model ID"}, "model_source": {"type": "string", "enum": ["genai", "inference"], "description": "Source of the LLM model"}, "model_name": {"type": "string", "description": "Model name (required if model_source is inference)"}, "max_tokens": {"type": "integer", "description": "Maximum tokens for the LLM model"}}, "required": ["model_id", "model_source"]}, "pagerank": {"type": "integer", "description": "Priority when multiple KBs in assistant (0-100)", "default": 0}}, "required": ["name", "project_id", "chunking_method", "chunking_configuration", "embedding_details", "llm_details"]}}}}, "responses": {"201": {"description": "Created Successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 201}, "data": {"type": "object", "properties": {"id": {"type": "integer", "example": 281}, "name": {"type": "string", "example": "tir-kb-12241fd517000"}, "created_at": {"type": "string", "format": "date-time", "example": "2024-12-24T10:03:25.361601Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2024-12-24T10:03:25.640855Z"}, "embedding_model": {"type": "object", "properties": {"id": {"type": "integer", "example": 2}, "display_name": {"type": "string", "example": "BAAI/bge-large-en-v1.5"}, "model_name": {"type": "string", "example": "bge-large-en-v1_5"}, "model_source": {"type": "string", "example": "genai"}, "dimensions": {"type": "integer", "example": 1024}}}, "chunking_method": {"type": "string", "example": "qa"}, "chunking_configuration": {"type": "object", "properties": {}}, "model_source": {"type": "string", "example": "genai"}, "model_name": {"type": "string", "example": "bge-large-en-v1_5"}}}, "errors": {"type": "object", "additionalProperties": false, "example": {}}, "message": {"type": "string", "example": "Created Successfully"}}}}}}}}}, "/rag/knowledgebase/{KB_Id}/": {"put": {"operationId": "put-rag-knowledgebase-kb-id", "summary": "Update Knowledge Base", "tags": ["RAG (Knowledge Base)"], "description": "Update knowledge base configuration including name, chunking, embedding model, and LLM settings.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "KB_Id", "in": "path", "required": true, "description": "knowledgebase_id", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"name": {"type": "string", "example": "testing"}, "chunking_method": {"type": "string", "enum": ["general", "qa", "manual", "table", "paper", "book", "laws", "presentation", "one", "knowledge_graph"], "example": "general"}, "embedding_details": {"type": "object", "properties": {"model_id": {"type": "integer", "example": 11}, "model_name": {"type": "string", "example": "bge_large_en_v1_5"}, "model_source": {"type": "string", "example": "genai"}, "max_tokens": {"type": "integer", "example": 512}}}, "llm_details": {"type": "object", "properties": {"model_id": {"type": "integer", "example": 14}, "model_name": {"type": "string", "example": "gpt_oss_120b"}, "model_source": {"type": "string", "example": "genai"}, "max_tokens": {"type": "integer", "example": 131072}}}, "chunking_configuration": {"type": "object", "properties": {"chunk_size": {"type": "integer", "example": 256}, "auto_questions": {"type": "integer", "example": 1}, "pagerank": {"type": "integer", "example": 50}, "delimiter": {"type": "string", "example": "!?;\u3002\uff1b\uff01\uff1f"}, "entity_types": {"type": "array", "items": {"type": "string"}, "example": ["organization"]}}}, "kbId": {"type": "integer", "example": 1300}}, "required": ["name", "chunking_method", "embedding_details", "llm_details", "chunking_configuration"]}}}, "required": true}, "responses": {"200": {"description": "Knowledge base updated successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "message": {"type": "string", "example": "Success"}, "data": {"type": "object", "properties": {"id": {"type": "integer", "example": 1300}, "name": {"type": "string", "example": "testing"}, "created_at": {"type": "string", "format": "date-time", "example": "2026-03-26T09:57:31Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2026-03-26T09:57:31Z"}, "embedding_model": {"type": "object", "properties": {"id": {"type": "integer", "example": 11}, "display_name": {"type": "string", "example": "BAAI/bge-large-en-v1.5"}, "model_name": {"type": "string", "example": "bge_large_en_v1_5"}, "model_source": {"type": "string", "example": "genai"}, "max_tokens": {"type": "integer", "example": 512}, "location": {"type": "string", "example": "Delhi"}, "dimensions": {"type": "integer", "example": 1024}}}, "chunking_method": {"type": "string", "example": "general"}, "chunking_configuration": {"type": "object", "properties": {"chunk_size": {"type": "integer", "example": 256}, "auto_questions": {"type": "integer", "example": 1}, "pagerank": {"type": "integer", "example": 50}, "delimiter": {"type": "string", "example": "!?;\u3002\uff1b\uff01\uff1f"}, "entity_types": {"type": "array", "items": {"type": "string"}, "example": ["organization"]}}}, "llm_model": {"type": "object", "properties": {"id": {"type": "integer", "example": 14}, "display_name": {"type": "string", "example": "openai/gpt-oss-120b"}, "model_name": {"type": "string", "example": "gpt_oss_120b"}, "model_source": {"type": "string", "example": "genai"}, "max_tokens": {"type": "integer", "example": 131072}, "location": {"type": "string", "example": "Delhi"}}}, "location": {"type": "string", "example": "Delhi"}}}, "errors": {"type": "object", "additionalProperties": false, "example": {}}}}}}}}}, "delete": {"operationId": "delete-rag-knowledgebase-kb-id", "summary": "Delete Knowledge Base", "tags": ["RAG (Knowledge Base)"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "KB_Id", "in": "path", "required": true, "description": "knowledgebase_id", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "string", "example": "Chunk deleted successfully"}, "errors": {"type": "object", "additionalProperties": {"type": "string"}, "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/rag/knowledgebase/{KB_Id}/documents/": {"get": {"operationId": "get-rag-knowledgebase-kb-id-documents", "summary": "Document List in Knowledge Base", "tags": ["RAG (Knowledge Base)"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "KB_Id", "in": "path", "required": true, "description": "knowledgebase_id", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "page_no", "in": "query", "required": false, "description": "The page number from which you want your page search results to be displayed.", "schema": {"type": "integer", "minimum": 0}}, {"name": "per_page", "in": "query", "required": false, "description": "Number of results per page", "schema": {"type": "integer", "minimum": 0}}], "responses": {"200": {"description": "Successfully retrieved the list of uploaded files", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "message": {"type": "string", "example": "Success"}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "string", "example": "929bd236c12011ef866456883a4e8c86"}, "name": {"type": "string", "example": "tir-job-121712374040_31_results_completeness_2024-12-17_07-10-40.json"}, "created_at": {"type": "string", "format": "date-time", "example": "2024-12-23T16:55:11.458000+05:30"}, "updated_at": {"type": "string", "format": "date-time", "example": "2024-12-23T16:55:11.458000+05:30"}, "status": {"type": "string", "example": "Uploaded"}, "parse_progress": {"type": "integer", "example": 0}, "document_enabled": {"type": "boolean", "example": true}, "chunk_count": {"type": "integer", "example": 0}, "chunking_method": {"type": "string", "example": "general"}, "chunking_configuration": {"type": "object", "properties": {"chunk_size": {"type": "integer", "example": 128}, "delimiter": {"type": "string", "example": "!?;\u3002\uff1b\uff01\uff1f"}, "entity_types": {"type": "array", "items": {"type": "string"}, "example": null}, "layout_recognition": {"type": "boolean", "example": true}, "pages_range": {"type": "string", "example": null}, "raptor": {"type": "string", "example": null}, "task_per_page": {"type": "string", "example": null}}}, "progress_log": {"type": "string", "example": ""}}}}, "errors": {"type": "object", "additionalProperties": false, "example": {}}, "total_count": {"type": "integer", "example": 4}}}}}}}}, "put": {"operationId": "put-rag-knowledgebase-kb-id-documents", "summary": "Bulk Action on KB Document", "tags": ["RAG (Knowledge Base)"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "KB_Id", "in": "path", "required": true, "description": "knowledgebase_id", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "action", "in": "query", "required": true, "schema": {"type": "string", "enum": ["start", "stop", "enable", "disable", "delete"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"document_ids": {"type": "array", "items": {"type": "string"}}}}}}}, "responses": {"200": {"description": "Successful operation", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "string", "example": "Successfully enabled the documents"}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/rag/knowledgebase/{KB_Id}/retrieval/": {"post": {"operationId": "post-rag-knowledgebase-kb-id-retrieval", "summary": "Retrieval Testing on Knowledge Base", "tags": ["RAG (Knowledge Base)"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "KB_Id", "in": "path", "required": true, "description": "knowledgebase_id", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"page": {"type": "integer", "example": 1}, "size": {"type": "integer", "example": 10}, "question": {"type": "string", "example": "item"}, "similarity_threshold": {"type": "number", "format": "float", "example": 0.2}, "vector_similarity_weight": {"type": "number", "format": "float", "example": 0.21}, "top_k": {"type": "integer", "example": 1024}, "rerank_id": {"type": "integer", "example": 5}, "doc_ids": {"type": "array", "items": {"type": "integer"}, "example": []}}, "required": ["page", "size", "question", "similarity_threshold", "vector_similarity_weight", "top_k", "rerank_id", "doc_ids"]}}}}, "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"chunks": {"type": "array", "items": {"type": "object", "properties": {"chunk_id": {"type": "string", "example": "1510993c99b187dd071ac655b7f7e838"}, "content_ltks": {"type": "string", "example": "e-enetworks.t 0.00 f) inco from previ mployer pay item am total linc th><th></th></tr>\n<tr><th  >(i) Iing</th></tr>\n<tr><th  >Sub Total</th><th></th></tr>\n</table>"}, "doc_id": {"type": "string", "example": "f337f46eb88111efafd816fd5bc7de9f"}, "docnm_kwd": {"type": "string", "example": "Aashish (4).pdf"}, "img_id": {"type": "string", "example": "ragf-4624e122b78911ef943362d4577b3e2b-1510993c99b187dd071ac655b7f7e838"}, "important_kwd": {"type": "array", "items": {"type": "string"}, "example": []}, "kb_id": {"type": "string", "example": "ragf-4624e122b78911ef943362d4577b3e2b"}, "positions": {"type": "array", "items": {"type": "array", "items": {"type": "integer"}}, "example": [[1, 28, 298, 316, 829]]}, "similarity": {"type": "number", "format": "float", "example": 0.21638480767672919}, "term_similarity": {"type": "number", "format": "float", "example": 0.6761202015558534}, "vector_similarity": {"type": "number", "format": "float", "example": 0.094176665}}}}, "doc_aggs": {"type": "array", "items": {"type": "object", "properties": {"count": {"type": "integer", "example": 1}, "doc_id": {"type": "string", "example": "f337f46eb88111efafd816fd5bc7de9f"}, "doc_name": {"type": "string", "example": "Aashish (4).pdf"}}}}, "total": {"type": "integer", "example": 3}}}, "errors": {"type": "object", "additionalProperties": {"type": "string"}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/rag/knowledgebase/{KB_Id}/documents/{Doc_Id}/action/": {"put": {"operationId": "put-rag-knowledgebase-kb-id-documents-doc-id-action", "summary": "Action on Document", "tags": ["RAG (Knowledge Base)"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "KB_Id", "in": "path", "required": true, "description": "knowledgebase_id", "schema": {"type": "integer", "minimum": 0}}, {"name": "Doc_Id", "in": "path", "required": true, "description": "document_id", "schema": {"type": "string"}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "action", "in": "query", "required": true, "schema": {"type": "string", "enum": ["start", "stop", "enable", "disable"]}}], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "string", "example": "Successfully disabled the documents"}, "errors": {"type": "object", "additionalProperties": {"type": "string"}, "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/rag/knowledgebase/{KB_Id}/documents/{Doc_Id}/": {"put": {"operationId": "put-rag-knowledgebase-kb-id-documents-doc-id", "summary": "Update Document", "tags": ["RAG (Knowledge Base)"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "KB_Id", "in": "path", "required": true, "description": "knowledgebase_id", "schema": {"type": "integer", "minimum": 0}}, {"name": "Doc_Id", "in": "path", "required": true, "description": "document_id", "schema": {"type": "string"}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"name": {"type": "string", "example": "DBMS_Full_Notes.pdf"}, "chunking_method": {"type": "string", "enum": ["general", "qa", "manual", "table", "paper", "book", "laws", "presentation", "one", "knowledge_graph"]}, "chunking_configuration": {"type": "object", "properties": {"chunk_size": {"type": "integer", "example": 128}, "delimiter": {"type": "string", "example": "!?;\u3002\uff1b\uff01\uff1f"}, "layout_recognition": {"type": "boolean", "example": true}, "task_page_size": {"type": "integer", "example": 12}, "pages": {"type": "array", "items": {"type": "array", "items": {"type": "integer"}}, "example": [[1, 30], [45, 56]]}, "entity_types": {"type": "array", "items": {"type": "string"}, "example": []}}}}, "required": ["name", "chunking_method", "chunking_configuration"]}}}}, "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "string", "example": "Document Chunking Method updated successfully"}, "errors": {"type": "object", "additionalProperties": {"type": "string"}, "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}, "delete": {"operationId": "delete-rag-knowledgebase-kb-id-documents-doc-id", "summary": "Delete Document", "tags": ["RAG (Knowledge Base)"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "KB_Id", "in": "path", "required": true, "description": "knowledgebase_id", "schema": {"type": "integer", "minimum": 0}}, {"name": "Doc_Id", "in": "path", "required": true, "description": "document_id", "schema": {"type": "string"}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "string", "example": "Document deleted successfully"}, "errors": {"type": "object", "additionalProperties": false, "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/rag/knowledgebase/{KB_Id}/documents/{Doc_Id}/chunks/": {"get": {"operationId": "get-rag-knowledgebase-kb-id-documents-doc-id-chunks", "summary": "Get Chunk List in the Document", "tags": ["RAG (Knowledge Base)"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "KB_Id", "in": "path", "required": true, "description": "knowledgebase_id", "schema": {"type": "integer", "minimum": 0}}, {"name": "Doc_Id", "in": "path", "required": true, "description": "document_id", "schema": {"type": "string"}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "page_no", "in": "query", "required": false, "description": "The page number from which you want your page search results to be displayed.", "schema": {"type": "integer", "minimum": 0}}, {"name": "per_page", "in": "query", "required": false, "description": "Number of results per page", "schema": {"type": "integer", "minimum": 0}}], "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"available_int": {"type": "integer", "example": 1}, "chunk_id": {"type": "string", "example": "88b4bea734a9b6bbfef0dfdbf71fa45f"}, "content_with_weight": {"type": "string", "example": "4r4"}, "doc_id": {"type": "string", "example": "929bd236c12011ef866456883a4e8c86"}, "docnm_kwd": {"type": "string", "example": "tir-job-121712374040_31_results_completeness_2024-12-17_07-10-40.json"}, "img_id": {"type": "string", "example": ""}, "important_kwd": {"type": "string", "example": "4f"}, "positions": {"type": "array", "items": {"type": "string"}, "example": [""]}}}}, "errors": {"type": "object", "additionalProperties": {"type": "string"}}, "message": {"type": "string", "example": "Success"}}}}}}}}, "post": {"operationId": "post-rag-knowledgebase-kb-id-documents-doc-id-chunks", "summary": "Add chunks to the Document", "tags": ["RAG (Knowledge Base)"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "KB_Id", "in": "path", "required": true, "description": "knowledgebase_id", "schema": {"type": "integer", "minimum": 0}}, {"name": "Doc_Id", "in": "path", "required": true, "description": "document_id", "schema": {"type": "string"}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"content": {"type": "string", "example": "John"}, "keywords": {"type": "array", "items": {"type": "string"}, "example": ["John"]}}, "required": ["content", "keywords"]}}}}, "responses": {"201": {"description": "Created Successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 201}, "message": {"type": "string", "example": "Created Successfully"}, "data": {"type": "object", "properties": {"chunk_id": {"type": "string", "example": "3a10d0c433c5c2e0d3a5738f3110c96d"}}}, "errors": {"type": "object", "additionalProperties": false, "example": {}}}}}}}}}, "put": {"operationId": "put-rag-knowledgebase-kb-id-documents-doc-id-chunks", "summary": "Bulk action on chunks", "tags": ["RAG (Knowledge Base)"], "description": "Enable, disable, or delete chunks in a document", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "KB_Id", "in": "path", "required": true, "description": "knowledgebase_id", "schema": {"type": "integer", "minimum": 0}}, {"name": "Doc_Id", "in": "path", "required": true, "description": "document_id", "schema": {"type": "string"}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "action", "in": "query", "required": true, "schema": {"type": "string", "enum": ["enable", "disable", "delete"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"chunk_ids": {"type": "array", "description": "List of chunk IDs to modify", "items": {"type": "string"}}}, "required": ["chunk_ids"]}, "example": {"chunk_ids": ["359fa1f03ca7914adbf2a71b448", "0d871faf6aba43c518d2c599527"]}}}}, "responses": {"200": {"description": "Successfully modified the chunks", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer"}, "data": {"type": "string"}, "errors": {"type": "object"}, "message": {"type": "string"}}}}}}}}}, "/rag/knowledgebase/{KB_Id}/documents/{Doc_Id}/chunks/{Chunk_Id}/action/{action}/": {"put": {"operationId": "put-rag-knowledgebase-kb-id-documents-doc-id-chunks-chunk-id-action-action", "summary": "Enable or disable a chunk", "tags": ["RAG (Knowledge Base)"], "description": "Perform an action (enable or disable) on a specific chunk of a document", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "KB_Id", "in": "path", "required": true, "description": "knowledgebase_id", "schema": {"type": "integer", "minimum": 0}}, {"name": "Doc_Id", "in": "path", "required": true, "description": "document_id", "schema": {"type": "string"}}, {"name": "Chunk_Id", "in": "path", "required": true, "description": "Chunk_Id", "schema": {"type": "string"}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "action", "in": "path", "required": true, "description": "Action to perform on the chunk (enable or disable)", "schema": {"type": "string", "enum": ["enable", "disable"]}}], "responses": {"200": {"description": "Successfully updated the chunk status", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer"}, "data": {"type": "string"}, "errors": {"type": "object"}, "message": {"type": "string"}}}}}}}}}, "/rag/knowledgebase/{KB_Id}/documents/{Doc_Id}/chunks/{Chunk_Id}/": {"put": {"operationId": "put-rag-knowledgebase-kb-id-documents-doc-id-chunks-chunk-id", "summary": "Update Chunk", "tags": ["RAG (Knowledge Base)"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "KB_Id", "in": "path", "required": true, "description": "knowledgebase_id", "schema": {"type": "integer", "minimum": 0}}, {"name": "Doc_Id", "in": "path", "required": true, "description": "document_id", "schema": {"type": "string"}}, {"name": "Chunk_Id", "in": "path", "required": true, "description": "Chunk_Id", "schema": {"type": "string"}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"content": {"type": "string", "example": "your-content"}, "keywords": {"type": "array", "items": {"type": "string"}, "example": ["gtgt", "cece"]}}, "required": ["content", "keywords"]}}}}, "responses": {"200": {"description": "Success", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "string", "example": "Chunk updated successfully"}, "errors": {"type": "object", "additionalProperties": {"type": "string"}, "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}, "delete": {"operationId": "delete-rag-knowledgebase-kb-id-documents-doc-id-chunks-chunk-id", "summary": "Delete Chunk", "tags": ["RAG (Knowledge Base)"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "KB_Id", "in": "path", "required": true, "description": "knowledgebase_id", "schema": {"type": "integer", "minimum": 0}}, {"name": "Doc_Id", "in": "path", "required": true, "description": "document_id", "schema": {"type": "string"}}, {"name": "Chunk_Id", "in": "path", "required": true, "description": "Chunk_Id", "schema": {"type": "string"}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}], "responses": {"default": {"description": "Successful response"}}}}, "/rag/knowledgebase/{KB_Id}/import/": {"post": {"operationId": "post-rag-knowledgebase-kb-id-import", "summary": "Import Documents", "tags": ["RAG (Knowledge Base)"], "description": "Import documents into the knowledge base from a connected data source or dataset.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "KB_Id", "in": "path", "required": true, "description": "knowledgebase_id", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"config": {"type": "object", "properties": {"dataset_id": {"type": "integer", "example": 3606}}}, "file_search_filter": {"type": "array", "description": "File patterns to include", "items": {"type": "string"}, "example": ["*"]}, "path_array": {"type": "array", "description": "Specific paths to import (empty means full dataset)", "items": {"type": "string"}, "example": []}, "run": {"type": "integer", "description": "Flag to trigger execution immediately", "example": 1}, "source_connector_id": {"type": "integer", "description": "ID of the source connector", "example": 6}}, "required": ["config", "run", "source_connector_id"]}}}, "required": true}, "responses": {"200": {"description": "Import job started successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "message": {"type": "string", "example": "Success"}, "data": {"type": "object", "properties": {"id": {"type": "integer", "description": "Import job ID", "example": 537}, "status": {"type": "string", "description": "Current status of import job", "enum": ["pending", "running", "completed", "failed"], "example": "running"}, "created_at": {"type": "string", "format": "date-time", "example": "2026-03-26T10:33:39Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2026-03-26T10:33:39Z"}, "streamAggregatedStats": {"type": "array", "description": "Aggregated stats for streaming import", "items": {"type": "object"}, "example": []}}}, "errors": {"type": "object", "additionalProperties": false, "example": {}}}}}}}}}}, "/rag/assistant/": {"get": {"operationId": "get-rag-assistant", "summary": "Chat Assistant List", "tags": ["RAG (Chat Assistant)"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "page_no", "in": "query", "required": false, "description": "The page number from which you want your page search results to be displayed.", "schema": {"type": "integer", "minimum": 0}}, {"name": "per_page", "in": "query", "required": false, "description": "Number of results per page", "schema": {"type": "integer", "minimum": 0}}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "message": {"type": "string", "example": "Success"}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "string", "example": "jkhgti7667tiuyg67fiu"}, "name": {"type": "string", "example": "tir-rag-assistant-013011464343"}, "created_at": {"type": "string", "format": "date-time", "example": "2025-01-30T11:46:49.045000+05:30"}, "updated_at": {"type": "string", "format": "date-time", "example": "2025-01-30T11:46:49.045000+05:30"}, "knowledge_bases": {"type": "array", "items": {"type": "string"}, "example": ["tir-kb-013011463636"]}, "kb_ids": {"type": "array", "items": {"type": "integer"}, "example": [415]}, "llm_setting": {"type": "object", "properties": {"frequency_penalty": {"type": "number", "example": 0.7}, "max_tokens": {"type": "integer", "example": 512}, "presence_penalty": {"type": "number", "example": 0.4}, "temperature": {"type": "number", "example": 0.1}, "top_p": {"type": "number", "example": 0.3}}}, "prompt_config": {"type": "object", "properties": {"empty_response_prompt": {"type": "string", "example": "The answer you are looking for is not found in the knowledge base!"}, "greeting": {"type": "string", "example": "Hi! I'm your assistant, what can I do for you?"}, "system_prompt": {"type": "string", "example": "You are an intelligent assistant..."}, "show_quote": {"type": "boolean", "example": true}, "prev_n_conv": {"type": "integer", "example": 5}, "query_optimization": {"type": "boolean", "example": false}}}, "top_k": {"type": "integer", "example": 1024}, "rerank_id": {"type": "string", "example": ""}, "llm_id": {"type": "integer", "example": 4}, "similarity_threshold": {"type": "number", "example": 0.2}, "vector_similarity_weight": {"type": "number", "example": 0.7}, "top_n": {"type": "integer", "example": 8}, "llm_model": {"type": "object", "properties": {"id": {"type": "integer", "example": 4}, "display_name": {"type": "string", "example": "Mistral-7B-Instruct-v0.3"}, "model_name": {"type": "string", "example": "mistral_7b_instruct"}, "model_source": {"type": "string", "example": "genai"}}}, "llm_model_name": {"type": "string", "example": "mistral_7b_instruct"}, "llm_model_source": {"type": "string", "example": "genai"}}}}, "errors": {"type": "object", "additionalProperties": true}}}}}}}}, "post": {"operationId": "post-rag-assistant", "summary": "Create an assistant", "tags": ["RAG (Chat Assistant)"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"name": {"type": "string", "example": "tir-rag-assistant-260326161850"}, "prompt_config": {"type": "object", "properties": {"show_quote": {"type": "boolean", "example": true}, "prev_n_conv": {"type": "integer", "example": 5}, "greeting": {"type": "string", "example": "Hi! I'm your assistant, what can I do for you?"}, "system_prompt": {"type": "string", "example": "You are an intelligent assistant. Please summarize the content of the knowledge base to answer the question. Please list the data in the knowledge base and answer in detail. When no relevant information is found in the knowledge base, your answer must include \"relevant information was not found in the knowledge base!\" Answers need to consider chat history."}, "empty_response_prompt": {"type": "string", "example": "The answer you are looking for is not found in the knowledge base!"}, "query_optimization": {"type": "boolean", "example": false}}}, "similarity_threshold": {"type": "number", "format": "float", "example": 0.2}, "vector_similarity_weight": {"type": "number", "format": "float", "example": 0.7}, "top_n": {"type": "integer", "example": 8}, "isConversationsEnabled": {"type": "boolean", "example": false}, "top_k": {"type": "integer", "example": 1024}, "llm_model_source": {"type": "string", "example": "genai"}, "llm_max_tokens": {"type": "integer", "example": 131072}, "llm_setting": {"type": "object", "properties": {"frequency_penalty": {"type": "number", "format": "float", "example": 0.7}, "max_tokens": {"type": "integer", "example": 16000}, "presence_penalty": {"type": "number", "format": "float", "example": 0.4}, "temperature": {"type": "number", "format": "float", "example": 0.1}, "top_p": {"type": "number", "format": "float", "example": 0.3}}}, "kb_ids": {"type": "array", "items": {"type": "integer"}, "example": [1299]}, "llm_id": {"type": "integer", "example": 1}}, "required": ["name", "prompt_config", "similarity_threshold", "vector_similarity_weight", "top_n", "isConversationsEnabled", "top_k", "llm_model_source", "llm_max_tokens", "llm_setting", "kb_ids", "llm_id"]}}}}, "responses": {"201": {"description": "Assistant created successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 201}, "data": {"type": "object", "properties": {"assistant_id": {"type": "string", "example": "juti78uyt76yufg6r7"}}}, "errors": {"type": "object"}, "message": {"type": "string", "example": "Created Successfully"}}}}}}}}}, "/rag/assistant/{Assistant_Id}": {"get": {"operationId": "get-rag-assistant-assistant-id", "summary": "Assistant Details", "tags": ["RAG (Chat Assistant)"], "description": "**Note:** Please copy and save the \"api_key\" received in the response for using in: \"List Chats\", \"Conversation\" and \"Conversation History\", \"Rename Conversation\"\n", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "Assistant_Id", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "Successfully retrieved assistant configuration", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"id": {"type": "string", "example": "jhgtu6t7iuyfi76urtfu"}, "name": {"type": "string", "example": "tir-rag-assistant-013014213636"}, "created_at": {"type": "string", "format": "date-time", "example": "2025-01-30T14:21:41.660000+05:30"}, "updated_at": {"type": "string", "format": "date-time", "example": "2025-01-30T14:21:41.660000+05:30"}, "knowledge_bases": {"type": "array", "items": {"type": "string"}, "example": ["keyboard-shortcuts"]}, "kb_ids": {"type": "array", "items": {"type": "integer"}, "example": [371]}, "llm_setting": {"type": "object", "properties": {"frequency_penalty": {"type": "number", "format": "float", "example": 0.7}, "max_tokens": {"type": "integer", "example": 512}, "presence_penalty": {"type": "number", "format": "float", "example": 0.4}, "temperature": {"type": "number", "format": "float", "example": 0.1}, "top_p": {"type": "number", "format": "float", "example": 0.3}}}, "prompt_config": {"type": "object", "properties": {"empty_response_prompt": {"type": "string", "example": "The answer you are looking for is not found in the knowledge base!"}, "greeting": {"type": "string", "example": "Hi! I'm your assistant, what can I do for you?"}, "system_prompt": {"type": "string", "example": "You are an intelligent assistant. Please summarize the content of the knowledge base to answer the question.\nPlease list the data in the knowledge base and answer in detail.\nWhen no relevant information is found in the knowledge base, your answer must include \"relevant information was not found in the knowledge base!\" Answers need to consider chat history.\n"}, "show_quote": {"type": "boolean", "example": true}, "prev_n_conv": {"type": "integer", "example": 5}, "query_optimization": {"type": "boolean", "example": false}}}, "top_k": {"type": "integer", "example": 1024}, "rerank_id": {"type": "string", "example": ""}, "llm_id": {"type": "integer", "example": 4}, "similarity_threshold": {"type": "number", "format": "float", "example": 0.2}, "vector_similarity_weight": {"type": "number", "format": "float", "example": 0.7}, "top_n": {"type": "integer", "example": 8}, "llm_model": {"type": "object", "properties": {"id": {"type": "integer", "example": 4}, "display_name": {"type": "string", "example": "Mistral-7B-Instruct-v0.3"}, "model_name": {"type": "string", "example": "mistral_7b_instruct"}, "model_source": {"type": "string", "example": "genai"}}}, "llm_model_name": {"type": "string", "example": "mistral_7b_instruct"}, "llm_model_source": {"type": "string", "example": "genai"}, "api_key": {"type": "string", "example": "rag-ZkOWI5Mzg4ZGVlNzExZWZiOTcxMmUxZW"}}}, "errors": {"type": "object", "additionalProperties": true, "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}, "put": {"operationId": "put-rag-assistant-assistant-id", "summary": "Update an assistant", "tags": ["RAG (Chat Assistant)"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "Assistant_Id", "in": "path", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"id": {"type": "string", "example": "iyt87i76tfgi76kuiyi7t7g8g"}, "name": {"type": "string", "example": "testing-assistant"}, "kb_ids": {"type": "array", "items": {"type": "integer"}, "example": [354, 371]}, "prompt_config": {"type": "object", "properties": {"empty_response_prompt": {"type": "string", "example": "404! Not found"}, "greeting": {"type": "string", "example": "Hello, how are you?"}, "system_prompt": {"type": "string", "example": "You are an intelligent assistant. Please summarize the content of the knowledge base to answer the question.\nPlease list the data in the knowledge base and answer in detail.\nWhen no relevant information is found in the knowledge base, your answer must include 'relevant information was not found in the knowledge base!' Answers need to consider chat history.\n"}, "show_quote": {"type": "boolean", "example": true}, "prev_n_conv": {"type": "integer", "example": -1}, "query_optimization": {"type": "boolean", "example": true}}}, "similarity_threshold": {"type": "number", "format": "float", "example": 0.27}, "vector_similarity_weight": {"type": "number", "format": "float", "example": 0.63}, "top_n": {"type": "integer", "example": 8}, "llm_id": {"type": "integer", "example": 4}, "llm_setting": {"type": "object", "properties": {"frequency_penalty": {"type": "number", "format": "float", "example": 0.7}, "max_tokens": {"type": "integer", "example": 512}, "presence_penalty": {"type": "number", "format": "float", "example": 0.4}, "temperature": {"type": "number", "format": "float", "example": 0.1}, "top_p": {"type": "number", "format": "float", "example": 0.3}}}, "rerank_id": {"type": "integer", "example": 5}, "top_k": {"type": "integer", "example": 1024}, "llm_model_source": {"type": "string", "example": "genai"}, "llm_model_name": {"type": "string", "example": "mistral_7b_instruct"}, "isConversationsEnabled": {"type": "boolean", "example": true}}}}}}, "responses": {"200": {"description": "Assistant updated successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "string", "example": "Assistant updated successfully"}, "errors": {"type": "object", "additionalProperties": true, "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/rag/assistant/{Assistant_Id}/": {"delete": {"operationId": "delete-rag-assistant-assistant-id", "summary": "Delete an assistant", "tags": ["RAG (Chat Assistant)"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "Assistant_Id", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "Assistant deleted successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "string", "example": "Assistant deleted successfully"}, "errors": {"type": "object", "additionalProperties": true, "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/conversation_list/": {"get": {"operationId": "get-conversation-list", "summary": "List Chats for Assistant", "tags": ["RAG (Chat Assistant)"], "description": "**Note:** \"Use the Rag token saved in \"Assistant Details\" request\"\n", "parameters": [{"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"data": {"type": "array", "items": {"type": "object", "properties": {"create_date": {"type": "string", "format": "date-time", "example": "Thu, 30 Jan 2025 09:36:04 GMT"}, "create_time": {"type": "integer", "example": 1738229764128}, "deleted": {"type": "boolean", "example": false}, "deleted_at": {"type": "string", "nullable": true, "example": null}, "dialog_id": {"type": "string", "example": "jgh45yu4wielh589iuthbeli"}, "duration": {"type": "integer", "example": 0}, "id": {"type": "string", "example": "4i375yo87yugh4387tiukg"}, "message": {"type": "array", "items": {"type": "object", "properties": {"content": {"type": "string", "example": "Hi! I'm your assistant, what can I do for you?"}, "role": {"type": "string", "example": "assistant"}}}}, "name": {"type": "string", "example": ""}, "reference": {"type": "array", "items": {"type": "string"}}, "round": {"type": "integer", "example": 0}, "source": {"type": "string", "nullable": true, "example": null}, "thumb_up": {"type": "integer", "example": 0}, "tokens": {"type": "integer", "example": 0}, "update_date": {"type": "string", "format": "date-time", "example": "Thu, 30 Jan 2025 09:36:04 GMT"}, "update_time": {"type": "integer", "example": 1738229764128}, "user_id": {"type": "string", "example": ""}}}}, "retcode": {"type": "integer", "example": 0}, "retmsg": {"type": "string", "example": "success"}}}}}}}}}, "/rag/assistant/{Assistant_Id}/chat/": {"post": {"operationId": "post-rag-assistant-assistant-id-chat", "summary": "Create a new chat in assistant", "tags": ["RAG (Chat Assistant)"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "Assistant_Id", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "Successfully created a conversation", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"id": {"type": "string", "example": "eyt47843iughbjfkreu7yt478i"}, "name": {"type": "string", "example": ""}, "message": {"type": "array", "items": {"type": "object", "properties": {"content": {"type": "string", "example": "Hi! I'm your assistant, what can I do for you?"}, "role": {"type": "string", "example": "assistant"}}}}}}, "errors": {"type": "object", "additionalProperties": true, "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/conversation/{Conversation_Id}": {"get": {"operationId": "get-conversation-conversation-id", "summary": "Conversation History", "tags": ["RAG (Chat Assistant)"], "description": "**Note:** \"Use the Rag token saved in \"Assistant Details\" request\"\n", "parameters": [{"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "Conversation_Id", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "Successfully retrieved dialog information", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"create_date": {"type": "string", "example": "Thu, 30 Jan 2025 10:13:15 GMT"}, "create_time": {"type": "integer", "example": 1738231995009}, "deleted": {"type": "boolean", "example": false}, "deleted_at": {"type": "string", "nullable": true, "example": null}, "dialog_id": {"type": "string", "example": "7iyf78dofyiuhfgiu87"}, "duration": {"type": "integer", "example": 0}, "id": {"type": "string", "example": "i8ydf78ohdf7yg7dfh8"}, "message": {"type": "array", "items": {"type": "object", "properties": {"content": {"type": "string"}, "role": {"type": "string"}, "id": {"type": "string"}}}, "example": [{"content": "Hi! I'm your assistant, what can I do for you?", "role": "assistant"}, {"content": "Hello, How are you?\n", "id": "jyt78ugo6yugt78tg87t87guy", "role": "user"}, {"content": "The answer you are looking for is not found in the knowledge base!", "id": "bkjhutyi78t6gyi76uf75tfi6", "role": "assistant"}]}, "name": {"type": "string", "example": "Hello, How are you?\n"}, "reference": {"type": "array", "items": {"type": "object", "properties": {"chunks": {"type": "array"}, "doc_aggs": {"type": "array"}, "total": {"type": "integer"}}}, "example": [{"chunks": [], "doc_aggs": [], "total": 0}]}, "round": {"type": "integer", "example": 1}, "source": {"type": "string", "nullable": true, "example": null}, "thumb_up": {"type": "integer", "example": 0}, "tokens": {"type": "integer", "example": 0}, "update_date": {"type": "string", "example": "Thu, 30 Jan 2025 10:18:30 GMT"}, "update_time": {"type": "integer", "example": 1738232310638}, "user_id": {"type": "string", "example": ""}}}, "errors": {"type": "object", "additionalProperties": true, "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}, "put": {"operationId": "put-conversation-conversation-id", "summary": "Rename Conversation", "tags": ["RAG (Chat Assistant)"], "parameters": [{"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "Conversation_Id", "in": "path", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"name": {"type": "string", "example": "Testing Rename"}}}}}}, "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"retcode": {"type": "integer", "example": 0}, "retmsg": {"type": "string", "example": "success"}, "data": {"type": "boolean", "example": true}}}}}}}}}, "/completion": {"post": {"operationId": "post-completion", "summary": "Chat Completion", "tags": ["RAG (Chat Assistant)"], "description": "**Note:** \"Use the Rag token saved in \"Assistant Details\" request\"\n", "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"conversation_id": {"type": "string", "description": "Unique ID of the conversation.", "example": "65776ir5tifgtuytjj6"}, "messages": {"type": "array", "description": "List of messages exchanged in the conversation.", "items": {"type": "object", "properties": {"role": {"type": "string", "description": "The role of the sender (e.g., user, assistant).", "example": "user"}, "content": {"type": "string", "description": "The message content sent by the user.", "example": "hello\n"}}}}, "quote": {"type": "boolean", "description": "Whether to include citations (quotes) in the response.", "example": true}}}}}}, "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"oneOf": [{"type": "object", "properties": {"retcode": {"type": "integer"}, "retmsg": {"type": "string"}, "data": {"type": "object", "properties": {"answer": {"type": "string"}, "reference": {"type": "object", "properties": {"total": {"type": "integer"}, "chunks": {"type": "array", "items": {}}, "doc_aggs": {"type": "array", "items": {}}}}, "audio_binary": {"type": "string", "nullable": true}, "id": {"type": "string"}}}}, "example": {"retcode": 0, "retmsg": "", "data": {"answer": "The answer you are looking for is not found in the knowledge base!", "reference": {"total": 0, "chunks": [], "doc_aggs": []}, "audio_binary": null, "id": "7678t7tygugi67ygiyg6iut"}}}, {"type": "object", "properties": {"retcode": {"type": "integer"}, "retmsg": {"type": "string"}, "data": {"type": "boolean"}}, "example": {"retcode": 0, "retmsg": "", "data": true}}]}}}}}}}, "/conversation/{Conversation_Id}/v1/chat/completions": {"post": {"operationId": "post-conversation-conversation-id-v1-chat-completions", "summary": "Chat Completion (Open AI)", "tags": ["RAG (Chat Assistant)"], "description": "Send a prompt to the chat model and receive a response (OPEN AI Compatible) | **Note:** \"Use the Rag token saved in \"Assistant Details\" request\"", "parameters": [{"name": "Conversation_Id", "in": "path", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"model": {"type": "string", "description": "Model to use for chat completion. Available models:\n  - `mistral_7b_instruct` (Mistral-7B-Instruct-v0.3)\n  - `gemma_7b` (Gemma-7B-It)\n  - `llama3_1_8b_instruct` (Llama-3.1-8B-Instruct)\n  - `llama_3_2_11b_vision_instruct` (Llama-3.2-11B-Vision-Instruct)\n  - `llama3_2_3b_instruct` (Llama-3.2-3B-Instruct)\n  - `llama_3_3_70b_instruct_fp8` (Llama-3.3-70B-Instruct)\n  - `phi_3_medium_128k_instruct` (Phi-3-Medium-128K-Instruct)\n"}, "messages": {"type": "array", "description": "List of messages in the conversation", "items": {"type": "object", "properties": {"role": {"type": "string", "enum": ["user", "system", "assistant"], "description": "Role of the message sender"}, "content": {"type": "string", "description": "Message content"}}}}, "stream": {"type": "boolean", "description": "Whether to stream the response", "default": true}}, "required": ["model", "messages"]}}}}, "responses": {"200": {"description": "Streamed chat response with multiple chunks", "content": {"application/json": {"schema": {"type": "object", "properties": {"id": {"type": "string", "description": "Unique identifier for the response"}, "object": {"type": "string", "description": "Type of response object", "enum": ["chat.completion.chunk"]}, "created": {"type": "integer", "description": "Timestamp of response creation (milliseconds)"}, "model": {"type": "string", "description": "Model used for the response"}, "choices": {"type": "array", "items": {"type": "object", "properties": {"index": {"type": "integer", "description": "Index of the response choice"}, "delta": {"type": "object", "properties": {"role": {"type": "string", "enum": ["assistant", null], "description": "Role of the sender (null if continuation chunk)"}, "content": {"type": "string", "description": "Partial or complete response content"}, "tool_calls": {"type": "array", "items": {"type": "object"}, "description": "Tool call details (if any)"}}}, "logprobs": {"type": "object", "nullable": true, "description": "Log probabilities for token predictions"}, "finish_reason": {"type": "string", "nullable": true, "enum": ["stop", null], "description": "Completion reason (`stop` if finished, `null` if continuing)"}, "stop_reason": {"type": "string", "nullable": true, "description": "Additional stopping reason (if any)"}}}}, "usage": {"type": "object", "nullable": true, "properties": {"prompt_tokens": {"type": "integer", "description": "Number of tokens in the prompt"}, "completion_tokens": {"type": "integer", "description": "Number of tokens generated"}, "total_tokens": {"type": "integer", "description": "Total token count"}}}}}}}}}}}, "/rag/assistant/{Assistant_Id}/chat/{Conversation_Id}/": {"delete": {"operationId": "delete-rag-assistant-assistant-id-chat-conversation-id", "summary": "Delete a conversation", "tags": ["RAG (Chat Assistant)"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID", "schema": {"type": "integer", "minimum": 0}}, {"name": "active_iam", "in": "query", "required": false, "description": "Active IAM ID **(To access contact person account)** [**Find your Active IAM ID here**](/paths/users-iam-accounts/get)", "schema": {"type": "integer", "minimum": 0}}, {"name": "Assistant_Id", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "Conversation_Id", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "string", "example": "Chat deleted successfully"}, "errors": {"type": "object", "example": {}}, "messages": {"type": "string", "example": "Success"}}}}}}}}}}}