{"openapi": "3.0.3", "info": {"title": "MyAccount API - iam", "description": "", "version": "1.0.0"}, "servers": [{"url": "https://api.e2enetworks.com/myaccount"}], "paths": {"/api/v1/apis/token/": {"post": {"operationId": "create-api-token", "summary": "Create API token", "tags": ["API Tokens"], "parameters": [{"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "must be a valid API key"]}, {"name": "location", "in": "query", "required": true, "description": "Specifies the target location for the API token", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["non-empty string", "alphanumeric characters, hyphens, or underscores only"]}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "required": ["token_name", "access_name"], "properties": {"token_name": {"type": "string", "description": "Name of the API token", "example": "api-automation"}, "access_name": {"type": "array", "items": {"type": "string", "enum": ["read", "write"]}, "minItems": 1, "maxItems": 2, "uniqueItems": true, "example": ["read", "write"]}}}}}}, "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "description": "HTTP status code of the token creation request", "example": 200}, "data": {"type": "object", "properties": {"token_name": {"type": "string", "description": "Name of the created API token", "example": "api-automation"}, "access_name": {"type": "array", "items": {"type": "string", "enum": ["READ", "WRITE"]}, "example": ["READ", "WRITE"]}, "api_key": {"type": "string", "format": "uuid", "description": "API token identifier", "example": "uuid-string"}, "auth_token": {"type": "string", "description": "JWT authentication token associated with the API token", "example": "example-jwt-string"}, "created_at": {"type": "string", "description": "Human-readable relative timestamp indicating when the token was created", "example": "0 Day ago"}}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "description": "Status message indicating the result of the request", "example": "Success"}}}}}}}}, "delete": {"operationId": "delete-api-token", "summary": "Delete API Token", "tags": ["API Tokens"], "parameters": [{"name": "token_name", "in": "query", "required": true, "description": "Name of the API token to delete", "schema": {"type": "string"}, "example": "api_automation", "x-constraints": ["required", "must be a non-empty string", "may contain letters, numbers, hyphens, and underscores"]}, {"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the delete token request", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "non-empty string", "must match the server-issued API key"]}, {"name": "location", "in": "query", "required": true, "description": "Specifies the location identifier for the API token to delete.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["must be a non-empty string", "may contain letters, numbers, hyphens, and underscores"]}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "description": "HTTP status code returned by the delete operation", "example": 200}, "data": {"type": "object", "properties": {"token_name": {"type": "string", "description": "Name of the deleted API token", "example": "api_automation"}, "access_name": {"type": "array", "items": {"type": "string", "enum": ["READ", "WRITE"]}, "example": ["READ", "WRITE"]}, "api_key": {"type": "string", "format": "uuid", "description": "API token identifier", "example": "uuid-string"}, "auth_token": {"type": "string", "description": "JWT authentication token associated with the deleted API token", "example": "example-jwt-string"}, "created_at": {"type": "string", "description": "Human-readable relative timestamp indicating when the token was created", "example": "21 Days ago"}}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "description": "Confirmation message indicating the token was deleted", "example": "Token has been deleted successfully"}}}}}}}}}, "/api/v1/apis/tokenList/": {"get": {"operationId": "list-api-tokens", "summary": "List API tokens", "tags": ["API Tokens"], "parameters": [{"name": "apikey", "in": "query", "required": true, "description": "API key used to authenticate the request", "schema": {"type": "string"}, "example": "{{api_key}}", "x-constraints": ["required", "must be a valid API key"]}, {"name": "location", "in": "query", "required": true, "description": "Filters the listed API tokens by their associated location.", "schema": {"type": "string"}, "example": "{{location}}", "x-constraints": ["optional", "must be a non-empty string"]}], "responses": {"200": {"description": "Successful response", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "description": "HTTP status code of the response", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"token_name": {"type": "string", "description": "Name of the API token", "example": "postman"}, "access_name": {"type": "array", "items": {"type": "string", "enum": ["READ", "WRITE"]}, "example": ["READ", "WRITE"]}, "api_key": {"type": "string", "format": "uuid", "description": "API token identifier", "example": "uuid-string"}, "auth_token": {"type": "string", "description": "JWT authentication token associated with the API token", "example": "example-jwt-string"}, "created_at": {"type": "string", "description": "Human-readable relative timestamp indicating when the token was created", "example": "21 Days ago"}}}}, "errors": {"type": "object", "properties": {}}, "message": {"type": "string", "description": "Status message indicating the result of the request", "example": "Success"}}}}}}}}}, "/api/v1/accounts/profile/detail/": {"get": {"operationId": "get-accounts-profile-detail", "summary": "User Profile Details", "tags": ["Billing"], "description": "Retrieves the details of a user's profile, including basic information such as user ID, name, email, and contact information. Requires API key and bearer token for authorization.\n", "responses": {"200": {"description": "User profile fetched successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "message": {"type": "string", "example": "Success"}, "data": {"type": "object", "properties": {"status": {"type": "boolean", "example": true}, "message": {"type": "string", "example": "user profile fetch successfully"}, "website_link": {"type": "string", "example": ""}, "social_link": {"type": "string", "example": ""}, "work_load": {"type": "string", "example": "AI/ML/Computer Vision Workload For Production and Staging"}, "official_email": {"type": "string", "example": "xyz@abc.com"}, "nature_of_business": {"type": "string", "example": "CLOUD AND MACHINE LEARNING"}, "organization_type": {"type": "string", "example": ""}, "email": {"type": "string", "example": "xyz@abc.com"}, "first_name": {"type": "string", "example": "xyz"}, "last_name": {"type": "string", "example": "xyz"}, "phone": {"type": "string", "example": "+919123456789"}, "company_name": {"type": "string", "example": "ABC"}, "gstn": {"type": "string", "example": ""}, "pan": {"type": "string", "example": "AB123SDF12"}, "tan": {"type": "string", "example": ""}, "type": {"type": "string", "example": ""}, "vat_id": {"type": "string", "example": ""}, "company_other_name": {"type": "string", "example": ""}, "customer_company_type": {"type": "string", "example": "individual"}, "company_type": {"type": "string", "example": ""}, "website": {"type": "string", "nullable": true, "example": null}, "notify_me": {"type": "boolean", "example": true}, "address": {"type": "string", "example": ""}, "city": {"type": "string", "example": ""}, "zip": {"type": "string", "example": ""}, "state": {"type": "string", "example": ""}, "country": {"type": "string", "example": "IN"}, "tds_rate": {"type": "string", "example": "TDS_0"}, "gst_treatment": {"type": "string", "nullable": true, "example": null}, "signup_time": {"type": "string", "example": "Jan 14, 2025 11:22 AM"}, "contact_person_details": {"type": "string", "nullable": true, "example": null}}}, "errors": {"type": "object", "example": {}}}}}}}}}}, "/api/v1/profile-settings/": {"get": {"operationId": "get-profile-settings", "summary": "Profile Settings", "tags": ["Settings"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Server security settings fetched successfully.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"pk": {"type": "integer", "example": 1234}, "bitninja_active": {"type": "boolean", "example": false}, "cdp_backup_active": {"type": "boolean", "nullable": true, "example": null}, "default_ssh_keys_enabled": {"type": "array", "items": {"type": "integer"}, "example": [12345]}, "password_authentication": {"type": "boolean", "example": true}, "whatsapp_notifications": {"type": "boolean", "nullable": true, "example": null}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/profile-settings/{profile_id}/": {"put": {"operationId": "put-profile-settings-profile-id", "summary": "Update Profile Settings", "tags": ["Settings"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "profile_id", "in": "path", "required": true, "description": "Profile ID", "schema": {"type": "integer"}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"bitninja_active": {"type": "boolean", "example": false}, "default_ssh_keys_enabled": {"type": "array", "items": {"type": "integer"}, "description": "A list of SSH key IDs to be enabled by default for server access.\nTo disable all default SSH keys, send an empty list: `[]`.\n", "example": [12345]}, "password_authentication": {"type": "boolean", "example": true}, "cdp_backup_active": {"type": "boolean", "example": false}, "whatsapp_notifications": {"type": "boolean", "example": false}}}}}}, "responses": {"200": {"description": "Settings have been updated successfully.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "string", "example": "Settings have been updated successfully."}, "errors": {"type": "object", "additionalProperties": {}, "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/iam/groups/": {"get": {"operationId": "get-iam-groups", "summary": "Get User groups list", "tags": ["Event Monitoring"], "description": "Retrieves a list of User groups with their members.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "page_no", "in": "query", "required": false, "description": "The page number from which you want your page search results to be displayed.", "schema": {"type": "integer", "minimum": 0}}, {"name": "per_page", "in": "query", "required": false, "description": "Number of results per page", "schema": {"type": "integer", "minimum": 0}}], "responses": {"200": {"description": "Successful retrieval of IAM groups", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer"}, "name": {"type": "string"}, "zabbix_user_group_id": {"type": "integer"}, "member": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer"}, "iam_user": {"type": "object", "properties": {"member_id": {"type": "integer"}, "name": {"type": "string"}, "email": {"type": "string"}, "role": {"type": "string"}, "iam_type": {"type": "string"}, "invitation_status": {"type": "string"}, "allowed_to_edit_by_current_user": {"type": "boolean", "nullable": true}}}, "date_joined": {"type": "string", "format": "date-time"}, "date_removed": {"type": "string", "format": "date-time", "nullable": true}}}}}}}, "errors": {"type": "object", "additionalProperties": true, "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}, "post": {"operationId": "post-iam-groups", "summary": "Create User Group", "tags": ["Event Monitoring"], "description": "Creates a new User group with specified name, creator, and members.", "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"name": {"type": "string", "description": "Name of the IAM group"}, "created_by": {"type": "integer", "description": "User ID of the creator"}, "group_members": {"type": "array", "description": "List of user IDs to be added as group members", "items": {"type": "integer"}}}, "required": ["name", "created_by", "group_members"]}, "example": {"name": "new", "created_by": 45961, "group_members": [48988]}}}, "required": true}, "responses": {"201": {"description": "Group created successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 201}, "data": {"type": "object", "properties": {"id": {"type": "integer", "example": 6915}, "name": {"type": "string", "example": "new"}, "zabbix_user_group_id": {"type": "integer", "example": 33794}, "member": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer"}}}}}}, "errors": {"type": "object", "additionalProperties": true, "example": {}}, "message": {"type": "string", "example": "Created Successfully"}}}}}}}}}, "/api/v1/iam/groups/{group_id}/": {"put": {"operationId": "put-iam-groups-group-id", "summary": "Update User group", "tags": ["Event Monitoring"], "description": "Updates the User group details including its name and members.", "parameters": [{"name": "group_id", "in": "path", "required": true, "description": "ID of the User group to update", "schema": {"type": "integer"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"name": {"type": "string", "description": "Updated name of the IAM group"}, "created_by": {"type": "integer", "description": "ID of the user performing the update"}, "group_members": {"type": "array", "description": "List of member IDs to add", "items": {"type": "integer"}}, "remove_members": {"type": "array", "description": "List of member IDs to remove", "items": {"type": "integer"}}}, "required": ["name", "created_by", "group_members", "remove_members"]}, "example": {"name": "newtest", "created_by": 45961, "group_members": [], "remove_members": []}}}, "required": true}, "responses": {"200": {"description": "Group updated successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "string", "example": "User group updated successfully"}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}, "delete": {"operationId": "delete-iam-groups-group-id", "summary": "Delete User group", "tags": ["Event Monitoring"], "description": "Deletes an User group by its ID.", "parameters": [{"name": "group_id", "in": "path", "required": true, "description": "ID of the User group to update", "schema": {"type": "integer"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Group deleted successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "string", "example": ""}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "User group deleted successfully"}}}}}}}}}, "/api/v1/iam/multi-crn/": {"get": {"operationId": "get-iam-multi-crn", "summary": "CRN details", "tags": ["Other"], "responses": {"200": {"description": "Successful response with CRN data", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"crn_data": {"type": "array", "items": {"type": "object", "properties": {"first_name": {"type": "string", "example": "Nipun"}, "last_name": {"type": "string", "example": ""}, "crn": {"type": "integer", "example": 23827}, "email": {"type": "string", "example": "nipun.arora@e2enetworks.com"}, "iam_type": {"type": "string", "example": "Owner"}, "organisation_name": {"type": "string", "example": "NIPUN"}, "is_available_for_switching": {"type": "boolean", "example": true}}}}, "last_used_crn": {"type": "integer", "example": 14760}, "last_used_project": {"type": "integer", "example": 17925}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/pbac/projects-header/": {"get": {"operationId": "get-pbac-projects-header", "summary": "Project details", "tags": ["Other"], "parameters": [{"name": "crn", "in": "query", "required": true, "description": "CRN ID [**Find your CRN  here**  ](/paths/iam-multi-crn/get)", "schema": {"type": "integer", "minimum": 0}}], "responses": {"default": {"description": "Successful response"}}}}}}