{"openapi": "3.0.3", "info": {"title": "MyAccount API - ecr", "description": "", "version": "1.0.0"}, "servers": [{"url": "https://api.e2enetworks.com/myaccount"}], "paths": {"/api/v1/container_registry/projects-details/": {"get": {"operationId": "get-container-registry-projects-details", "summary": "List Container Registries", "tags": ["Container Registry"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "List of projects retrieved successfully.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 727}, "project_size": {"type": "integer", "nullable": true, "example": 0}, "domain_name": {"type": "string", "example": "registry.e2enetworks.net"}, "prevent_vul": {"type": "boolean", "example": false}, "created_at": {"type": "string", "format": "date-time", "example": "2025-04-09T06:20:05.542940Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2025-04-09T06:20:06.272937Z"}, "deleted": {"type": "boolean", "example": false}, "project_name": {"type": "string", "example": "cr-19490"}, "project_id": {"type": "integer", "example": 1164}, "is_public": {"type": "boolean", "example": false}, "severity": {"type": "string", "example": "critical"}, "deleted_at": {"type": "string", "format": "date-time", "nullable": true, "example": null}, "storage_limit": {"type": "integer", "example": -1}, "location": {"type": "string", "example": "Delhi"}, "state": {"type": "string", "example": "CREATED"}, "customer": {"type": "integer", "example": 12345}, "my_account_project": {"type": "integer", "example": 67890}}}}, "errors": {"type": "object", "additionalProperties": {"type": "string"}, "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/container_registry/setup-container-registry/": {"post": {"operationId": "post-container-registry-setup-container-registry", "summary": "Create Container Registry", "tags": ["Container Registry"], "parameters": [{"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}], "requestBody": {"content": {"application/json": {"schema": {"properties": {"project_name": {"type": "string", "example": "cr-12345"}, "prevent_vul": {"type": "string", "example": "true", "enum": [true, false]}, "severity": {"type": "string", "example": "none", "enum": ["low", "medium", "high", "critical", "none"]}}}}}}, "responses": {"200": {"description": "Container Registry setup status retrieved successfully.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"setup_status": {"type": "string", "example": "Container Registry Setup In Progress"}}}, "errors": {"type": "object", "additionalProperties": {"type": "string"}, "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}, "put": {"operationId": "put-container-registry-setup-container-registry", "summary": "Deployment Security Configuration", "tags": ["Container Registry"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"properties": {"project_name": {"type": "string", "example": "cr-12345"}, "prevent_vul": {"type": "string", "example": "true", "enum": [true, false]}, "severity": {"type": "string", "example": "none", "enum": ["low", "medium", "high", "critical", "none"]}}}}}}, "responses": {"200": {"description": "Update operation completed successfully.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "string", "example": "Successfully Updated"}, "errors": {"type": "object", "additionalProperties": {"type": "string"}, "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}, "delete": {"operationId": "delete-container-registry-setup-container-registry", "summary": "Delete Container Registry", "tags": ["Container Registry"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "project_name", "in": "query", "required": true, "description": "Container Registry name", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Container Registry deletion status retrieved successfully.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"status": {"type": "string", "example": "Container Registry Deletion Started"}}}, "errors": {"type": "object", "additionalProperties": {"type": "string"}, "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/container_registry/projects-scanner/": {"post": {"operationId": "post-container-registry-projects-scanner", "summary": "Scan Container Registry", "tags": ["Container Registry"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"properties": {"project_name": {"type": "string", "example": "cr-39269"}}}}}}, "responses": {"200": {"description": "Container Registry tags retrieved successfully.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "array", "minItems": 2, "maxItems": 2, "items": {"oneOf": [{"type": "string", "example": "nginx"}, {"type": "array", "items": {"type": "array", "minItems": 2, "maxItems": 2, "items": {"type": "string", "example": "sha256:846993cfd1ec2f814d7f3cfdc8df7aa67ecfe6ab233fd990c82d34eea47beb8e"}}}]}}}, "errors": {"type": "object", "additionalProperties": {"type": "string"}, "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/container_registry/projects-logs/": {"get": {"operationId": "get-container-registry-projects-logs", "summary": "Repo Logs", "tags": ["Container Registry"], "parameters": [{"name": "project_name", "in": "query", "required": true, "description": "Container Registry name", "schema": {"type": "integer"}}, {"name": "repository_name", "in": "query", "required": true, "description": "Repository Name", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Container Registry audit logs retrieved successfully.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 112871}, "op_time": {"type": "string", "format": "date-time", "example": "2025-04-09T07:13:19.899Z"}, "operation": {"type": "string", "example": "create"}, "resource": {"type": "string", "example": "cr-19490/nginx:latest"}, "resource_type": {"type": "string", "example": "artifact"}, "username": {"type": "string", "example": "sales@e2enetworks.com"}}}}, "errors": {"type": "object", "additionalProperties": {"type": "string"}, "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/container_registry/repository-artifacts/": {"get": {"operationId": "get-container-registry-repository-artifacts", "summary": "Repo Details", "tags": ["Container Registry"], "parameters": [{"name": "project_name", "in": "query", "required": true, "description": "Container Registry name", "schema": {"type": "integer"}}, {"name": "repository_name", "in": "query", "required": true, "description": "Repository Name", "schema": {"type": "string"}}, {"name": "page_no", "in": "query", "required": false, "description": "The page number from which you want your page search results to be displayed.", "schema": {"type": "integer", "minimum": 0}}, {"name": "per_page", "in": "query", "required": false, "description": "Number of results per page", "schema": {"type": "integer", "minimum": 0}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Container artifact metadata retrieved successfully.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"accessories": {"nullable": true}, "addition_links": {"type": "object", "properties": {"build_history": {"type": "object", "properties": {"absolute": {"type": "boolean", "example": false}, "href": {"type": "string", "example": "/api/v2.0/projects/cr-19490/repositories/nginx/artifacts/sha256:.../additions/build_history"}}}, "vulnerabilities": {"type": "object", "properties": {"absolute": {"type": "boolean", "example": false}, "href": {"type": "string", "example": "/api/v2.0/projects/cr-19490/repositories/nginx/artifacts/sha256:.../additions/vulnerabilities"}}}}}, "annotations": {"type": "object", "additionalProperties": {"type": "string"}, "example": {"org.opencontainers.image.version": "1.27.4"}}, "digest": {"type": "string", "example": "sha256:846993cfd1ec2f814d7f3cfdc8df7aa67ecfe6ab233fd990c82d34eea47beb8e"}, "extra_attrs": {"type": "object", "properties": {"architecture": {"type": "string", "example": "arm64"}, "author": {"type": "string", "example": "NGINX Docker Maintainers <docker-maint@nginx.com>"}, "config": {"type": "object", "properties": {"Cmd": {"type": "array", "items": {"type": "string"}}, "Entrypoint": {"type": "array", "items": {"type": "string"}}, "Env": {"type": "array", "items": {"type": "string"}}, "ExposedPorts": {"type": "object", "additionalProperties": {"type": "object"}}, "Labels": {"type": "object", "additionalProperties": {"type": "string"}}, "StopSignal": {"type": "string"}}}, "created": {"type": "string", "format": "date-time"}, "os": {"type": "string"}}, "required": ["architecture", "author", "config", "created", "os"]}, "icon": {"type": "string", "example": "sha256:0048162a053eef4d4ce3fe7518615bef084403614f8bca43b40ae2e762e11e06"}, "id": {"type": "integer", "example": 21052}, "labels": {"nullable": true}, "manifest_media_type": {"type": "string", "example": "application/vnd.oci.image.manifest.v1+json"}, "media_type": {"type": "string", "example": "application/vnd.oci.image.config.v1+json"}, "project_id": {"type": "integer", "example": 1164}, "pull_time": {"type": "string", "format": "date-time"}, "push_time": {"type": "string", "format": "date-time"}, "references": {"nullable": true}, "repository_id": {"type": "integer", "example": 4653}, "scan_overview": {"type": "object", "additionalProperties": {"type": "object", "properties": {"complete_percent": {"type": "integer"}, "duration": {"type": "integer"}, "end_time": {"type": "string", "format": "date-time"}, "report_id": {"type": "string"}, "scan_status": {"type": "string"}, "scanner": {"type": "object", "properties": {"name": {"type": "string"}, "vendor": {"type": "string"}, "version": {"type": "string"}}}, "severity": {"type": "string"}, "start_time": {"type": "string", "format": "date-time"}, "summary": {"type": "object", "properties": {"fixable": {"type": "integer"}, "summary": {"type": "object", "properties": {"Critical": {"type": "integer"}, "High": {"type": "integer"}, "Medium": {"type": "integer"}, "Low": {"type": "integer"}, "Unknown": {"type": "integer"}}}, "total": {"type": "integer"}}}}}}, "size": {"type": "number", "format": "float", "example": 68.65}, "tags": {"type": "array", "items": {"type": "object", "properties": {"artifact_id": {"type": "integer"}, "id": {"type": "integer"}, "immutable": {"type": "boolean"}, "name": {"type": "string"}, "pull_time": {"type": "string", "format": "date-time"}, "push_time": {"type": "string", "format": "date-time"}, "repository_id": {"type": "integer"}, "signed": {"type": "boolean"}}}}, "type": {"type": "string", "example": "IMAGE"}, "domain_name": {"type": "string", "example": "registry.e2enetworks.net"}, "project_severity": {"type": "string", "example": "critical"}, "tag_name": {"type": "string", "example": "latest"}, "preventVulnerable": {"type": "boolean", "example": true}}}}, "errors": {"type": "object", "additionalProperties": {"type": "string"}, "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/container_registry/vulnerabilities/": {"get": {"operationId": "get-container-registry-vulnerabilities", "summary": "Repo Vulnerability", "tags": ["Container Registry"], "parameters": [{"name": "project_name", "in": "query", "required": true, "description": "Container Registry name", "schema": {"type": "integer"}}, {"name": "repository_name", "in": "query", "required": true, "description": "Repository Name", "schema": {"type": "string"}}, {"name": "reference", "in": "query", "required": true, "description": "Tag Name", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Vulnerability scan completed successfully.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "additionalProperties": {"type": "object", "properties": {"generated_at": {"type": "string", "format": "date-time", "example": "2025-04-29T07:23:42.052933653Z"}, "scanner": {"type": "object", "properties": {"name": {"type": "string", "example": "Trivy"}, "vendor": {"type": "string", "example": "Aqua Security"}, "version": {"type": "string", "example": "v0.35.0"}}}, "severity": {"type": "string", "example": "Critical"}, "vulnerabilities": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "string", "example": "CVE-2011-3374"}, "package": {"type": "string", "example": "apt"}, "version": {"type": "string", "example": "2.6.1"}, "fix_version": {"type": "string", "example": ""}, "severity": {"type": "string", "example": "Low"}, "description": {"type": "string", "example": "It was found that apt-key in apt, all versions, do not correctly validate gpg keys with the master keyring..."}, "links": {"type": "array", "items": {"type": "string", "format": "uri"}, "example": ["https://avd.aquasec.com/nvd/cve-2011-3374"]}, "artifact_digests": {"type": "array", "items": {"type": "string"}, "example": ["sha256:846993cfd1ec2f814d7f3cfdc8df7aa67ecfe6ab233fd990c82d34eea47beb8e"]}, "preferred_cvss": {"type": "object", "properties": {"score_v3": {"type": "number", "nullable": true, "example": null}, "score_v2": {"type": "number", "nullable": true, "example": null}, "vector_v3": {"type": "string", "example": ""}, "vector_v2": {"type": "string", "example": ""}}}, "cwe_ids": {"type": "array", "items": {"type": "string"}, "example": ["CWE-347"]}, "vendor_attributes": {"type": "object", "properties": {"CVSS": {"type": "object", "properties": {"nvd": {"type": "object", "properties": {"V2Score": {"type": "number", "example": 4.3}, "V2Vector": {"type": "string", "example": "AV:N/AC:M/Au:N/C:N/I:P/A:N"}, "V3Score": {"type": "number", "example": 3.7}, "V3Vector": {"type": "string", "example": "CVSS:3.1/AV:N/AC:H/PR:N/UI:N/S:U/C:N/I:L/A:N"}}}, "redhat": {"type": "object", "nullable": true, "properties": {"V2Score": {"type": "number", "example": 6.2}, "V2Vector": {"type": "string", "example": "AV:L/AC:H/Au:N/C:C/I:C/A:C"}, "V3Score": {"type": "number", "example": 8.6}, "V3Vector": {"type": "string", "example": "CVSS:3.0/AV:L/AC:L/PR:N/UI:R/S:C/C:H/I:H/A:H"}}}}}}}}}}}}}, "errors": {"type": "object", "additionalProperties": {"type": "string"}, "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/container_registry/repository-scan/": {"post": {"operationId": "post-container-registry-repository-scan", "summary": "Scan Repository", "tags": ["Container Registry"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"properties": {"project_name": {"type": "string", "example": "cr-39269"}, "repository_name": {"type": "string", "example": "cr-39269/nginx"}}}}}}, "responses": {"200": {"description": "Vulnerability scan status response.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "array", "items": {"oneOf": [{"type": "string", "example": "sha256:846993cfd1ec2f814d7f3cfdc8df7aa67ecfe6ab233fd990c82d34eea47beb8e"}, {"type": "boolean", "example": true}]}}}, "errors": {"type": "object", "additionalProperties": {"type": "string"}, "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/container_registry/artifacts-scan/": {"post": {"operationId": "post-container-registry-artifacts-scan", "summary": "Scan Tag", "tags": ["Container Registry"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"properties": {"project_name": {"type": "string", "example": "cr-39269"}, "repository_name": {"type": "string", "example": "testing"}, "reference": {"type": "string", "example": "sha256:68a82b4778f7222526659d7d426958966fc31a09daacac166c5be924c44d6b50"}, "action": {"type": "string", "example": "start"}}}}}}, "responses": {"200": {"description": "Vulnerability scan initiated successfully.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "string", "example": "SCANNING STARTED SUCCESSFULLY"}, "errors": {"type": "object", "additionalProperties": {"type": "string"}, "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/container_registry/projects-repository/": {"delete": {"operationId": "delete-container-registry-projects-repository", "summary": "Delete Repo", "tags": ["Container Registry"], "parameters": [{"name": "project_name", "in": "query", "required": true, "description": "Container Registry name", "schema": {"type": "integer"}}, {"name": "repository_name", "in": "query", "required": true, "description": "Repository Name", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Repository deleted successfully.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "string", "example": "Repository Deleted Successfully"}, "errors": {"type": "object", "additionalProperties": {"type": "string"}, "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/container_registry/registries/": {"get": {"operationId": "get-container-registry-registries", "summary": "List Source Registries", "tags": ["Container Registry"], "parameters": [{"name": "page_no", "in": "query", "required": false, "description": "The page number from which you want your page search results to be displayed.", "schema": {"type": "integer", "minimum": 0}}, {"name": "per_page", "in": "query", "required": false, "description": "Number of results per page", "schema": {"type": "integer", "minimum": 0}}, {"name": "cr_project_id", "in": "query", "required": true, "schema": {"type": "integer"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Registry information fetched successfully.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"registry_name": {"type": "string", "example": "docker-12"}, "registry_type": {"type": "string", "example": "docker-hub"}, "registry_id": {"type": "integer", "example": 49}, "registry_url": {"type": "string", "example": "https://hub.docker.com"}, "registry_insecure": {"type": "boolean", "example": false}, "customer": {"type": "integer", "example": 12345}, "project": {"type": "integer", "example": 123}, "created_at": {"type": "string", "format": "date-time", "example": "2025-04-29T09:34:44.287830Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2025-04-29T09:34:44.287924Z"}, "deleted_at": {"type": "string", "format": "date-time", "nullable": true, "example": null}, "registry_description": {"type": "string", "nullable": true, "example": null}}}}, "errors": {"type": "object", "additionalProperties": {"type": "string"}, "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}, "post": {"operationId": "post-container-registry-registries", "summary": "Add Source Registry", "tags": ["Container Registry"], "parameters": [{"name": "cr_project_id", "in": "query", "required": true, "schema": {"type": "integer"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"properties": {"registry_type": {"type": "string", "example": "docker-hub"}, "registry_name": {"type": "string", "example": "source-registry"}, "registry_description": {"type": "string", "example": "docker hub source registry"}, "registry_url": {"type": "string", "example": "https://hub.docker.com"}, "registry_insecure": {"type": "boolean", "example": true}, "access_key": {"type": "string", "example": "<token_name>"}, "access_secret": {"type": "string", "example": "<token_value>"}}}}}}, "responses": {"200": {"description": "Registry created successfully.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"registry_details": {"type": "object", "properties": {"creation_time": {"type": "string", "format": "date-time", "example": "2025-04-29T09:54:19.843Z"}, "credential": {"type": "object", "properties": {"access_key": {"type": "string", "example": "<token_name>"}, "access_secret": {"type": "string", "example": "*****"}, "type": {"type": "string", "example": "basic"}}}, "description": {"type": "string", "example": "docker hub source registry"}, "id": {"type": "integer", "example": 50}, "insecure": {"type": "boolean", "example": true}, "name": {"type": "string", "example": "source-registry"}, "status": {"type": "string", "example": "healthy"}, "type": {"type": "string", "example": "docker-hub"}, "update_time": {"type": "string", "format": "date-time", "example": "2025-04-29T09:54:19.843Z"}, "url": {"type": "string", "example": "https://hub.docker.com"}}}}}, "errors": {"type": "object", "additionalProperties": {"type": "string"}, "example": {}}, "message": {"type": "string", "example": "Registry Created Successfully"}}}}}}}}}, "/api/v1/container_registry/registries/ping/": {"post": {"operationId": "post-container-registry-registries-ping", "summary": "Test Connection", "tags": ["Container Registry"], "parameters": [{"name": "cr_project_id", "in": "query", "required": true, "schema": {"type": "integer"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"properties": {"registry_type": {"type": "string", "example": "docker-hub"}, "registry_name": {"type": "string", "example": "source-registry"}, "registry_description": {"type": "string", "example": "docker hub source registry"}, "registry_url": {"type": "string", "example": "https://hub.docker.com"}, "registry_insecure": {"type": "boolean", "example": true}, "access_key": {"type": "string", "example": "<token_name>"}, "access_secret": {"type": "string", "example": "<token_value>"}}}}}}, "responses": {"200": {"description": "Connection test completed successfully.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "additionalProperties": false, "example": {}}, "errors": {"type": "object", "additionalProperties": {"type": "string"}, "example": {}}, "message": {"type": "string", "example": "Connection Testing Successfull"}}}}}}}}}, "/api/v1/container_registry/registries/{source_registry_id}/": {"put": {"operationId": "put-container-registry-registries-source-registry-id", "summary": "Edit Source Registry", "tags": ["Container Registry"], "parameters": [{"name": "source_registry_id", "in": "path", "required": true, "description": "Source Registry ID", "schema": {"type": "integer"}}, {"name": "cr_project_id", "in": "query", "required": true, "schema": {"type": "integer"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"properties": {"registry_type": {"type": "string", "example": "docker-hub"}, "registry_name": {"type": "string", "example": "source-registry"}, "registry_description": {"type": "string", "example": "docker hub source registry"}, "registry_url": {"type": "string", "example": "https://hub.docker.com"}, "registry_insecure": {"type": "boolean", "example": true}, "access_key": {"type": "string", "example": "<token_name>"}, "access_secret": {"type": "string", "example": "<token_value>"}}}}}}, "responses": {"200": {"description": "Registry updated successfully.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"registry_name": {"type": "string", "example": "docker-source"}, "registry_type": {"type": "string", "example": "docker-hub"}, "registry_id": {"type": "integer", "example": 50}, "registry_url": {"type": "string", "format": "uri", "example": "https://hub.docker.com"}, "registry_insecure": {"type": "boolean", "example": true}, "customer": {"type": "integer", "example": 12345}, "project": {"type": "integer", "example": 123}, "created_at": {"type": "string", "format": "date-time", "example": "2025-04-29T09:54:19.956502Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2025-04-29T10:03:49.754054Z"}, "deleted_at": {"type": "string", "format": "date-time", "nullable": true, "example": null}, "registry_description": {"type": "string", "example": "docker hub source registry"}}}, "errors": {"type": "object", "additionalProperties": {"type": "string"}, "example": {}}, "message": {"type": "string", "example": "Registry Updated Successfully"}}}}}}}}, "delete": {"operationId": "delete-container-registry-registries-source-registry-id", "summary": "Delete Source Registry", "tags": ["Container Registry"], "parameters": [{"name": "source_registry_id", "in": "path", "required": true, "description": "Source Registry ID", "schema": {"type": "integer"}}, {"name": "cr_project_id", "in": "query", "required": true, "schema": {"type": "integer"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Registry deleted successfully.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "example": {}}, "errors": {"type": "object", "additionalProperties": {}, "example": {}}, "message": {"type": "string", "example": "Registry Deleted Successfully"}}}}}}, "400": {"description": "Registry deletion failed due to active replication policy.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 400}, "data": {"type": "object", "example": {}}, "errors": {"type": "string", "example": "Registry cannot be deleted since it is a part of a replication policy."}, "message": {"type": "string", "example": "Bad Request"}}}}}}}}}, "/api/v1/container_registry/replication/policies/": {"get": {"operationId": "get-container-registry-replication-policies", "summary": "List Replication Rules", "tags": ["Container Registry"], "parameters": [{"name": "page_no", "in": "query", "required": false, "description": "The page number from which you want your page search results to be displayed.", "schema": {"type": "integer", "minimum": 0}}, {"name": "per_page", "in": "query", "required": false, "description": "Number of results per page", "schema": {"type": "integer", "minimum": 0}}, {"name": "cr_project_id", "in": "query", "required": true, "schema": {"type": "integer"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Replication policy fetched successfully.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"policy_name": {"type": "string", "example": "replication-rule"}, "policy_id": {"type": "integer", "example": 34}, "source_registry_id": {"type": "integer", "example": 50}, "source_registry_name": {"type": "string", "example": "docker-source"}, "destination_namespace": {"type": "string", "example": "cr-12345"}, "destination_namespace_replace_count": {"type": "integer", "example": -1}, "policy_description": {"type": "string", "nullable": true, "example": null}, "trigger_type": {"type": "string", "example": "manual"}, "trigger_value": {"type": "string", "nullable": true, "example": null}, "replicate_deletion": {"type": "boolean", "example": false}, "override": {"type": "boolean", "example": true}, "enabled": {"type": "boolean", "example": true}, "customer": {"type": "integer", "example": 12345}, "project": {"type": "integer", "example": 123}, "created_at": {"type": "string", "format": "date-time", "example": "2025-04-29T10:16:03.612678Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2025-04-29T10:16:03.612789Z"}, "deleted_at": {"type": "string", "format": "date-time", "nullable": true, "example": null}}}}, "errors": {"type": "object", "additionalProperties": {}, "example": {}}, "message": {"type": "string", "example": "Replication Policy fetched Successfully"}}}}}}}}, "post": {"operationId": "post-container-registry-replication-policies", "summary": "Create Replication Rules", "tags": ["Container Registry"], "parameters": [{"name": "cr_project_id", "in": "query", "required": true, "schema": {"type": "integer"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"properties": {"policy_name": {"type": "string", "example": "replication-ruled"}, "policy_description": {"type": "string", "nullable": true, "example": null}, "registry_id": {"type": "integer", "example": 40}, "flattening_level": {"type": "integer", "example": -1}, "trigger_type": {"type": "string", "example": "manual"}, "trigger_value": {"type": "string", "nullable": true, "example": null}, "replicate_deletion": {"type": "boolean", "example": false}, "override": {"type": "boolean", "example": true}, "filters": {"type": "array", "items": {}, "example": []}, "enabled": {"type": "boolean", "example": true}}}}}}, "responses": {"200": {"description": "Replication policy created successfully.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"replication_details": {"type": "object", "properties": {"copy_by_chunk": {"type": "boolean", "example": false}, "creation_time": {"type": "string", "format": "date-time", "example": "2025-04-29T10:55:31.466Z"}, "dest_namespace": {"type": "string", "example": "cr-12345"}, "dest_namespace_replace_count": {"type": "integer", "example": -1}, "dest_registry": {"type": "object", "properties": {"creation_time": {"type": "string", "format": "date-time", "example": "0001-01-01T00:00:00.000Z"}, "credential": {"type": "object", "properties": {"access_secret": {"type": "string", "example": "*****"}, "type": {"type": "string", "example": "secret"}}}, "id": {"type": "integer", "example": 0}, "insecure": {"type": "boolean", "example": true}, "name": {"type": "string", "example": "Local"}, "status": {"type": "string", "example": "healthy"}, "type": {"type": "string", "example": "harbor"}, "update_time": {"type": "string", "format": "date-time", "example": "0001-01-01T00:00:00.000Z"}, "url": {"type": "string", "example": "http://core:8080"}}}, "enabled": {"type": "boolean", "example": true}, "filters": {"type": "object", "nullable": true, "example": null}, "id": {"type": "integer", "example": 35}, "name": {"type": "string", "example": "replication-ruled"}, "override": {"type": "boolean", "example": true}, "speed": {"type": "integer", "example": 0}, "src_registry": {"type": "object", "properties": {"creation_time": {"type": "string", "format": "date-time", "example": "2025-04-29T09:54:19.843Z"}, "credential": {"type": "object", "properties": {"access_key": {"type": "string", "example": "<token_name>"}, "access_secret": {"type": "string", "example": "*****"}, "type": {"type": "string", "example": "basic"}}}, "description": {"type": "string", "example": "docker hub source registry"}, "id": {"type": "integer", "example": 50}, "insecure": {"type": "boolean", "example": true}, "name": {"type": "string", "example": "docker-source"}, "status": {"type": "string", "example": "healthy"}, "type": {"type": "string", "example": "docker-hub"}, "update_time": {"type": "string", "format": "date-time", "example": "2025-04-29T10:03:49.718Z"}, "url": {"type": "string", "example": "https://hub.docker.com"}}}, "trigger": {"type": "object", "properties": {"trigger_settings": {"type": "object", "additionalProperties": {}, "example": {}}, "type": {"type": "string", "example": "manual"}}}, "update_time": {"type": "string", "format": "date-time", "example": "2025-04-29T10:55:31.466Z"}}}}}, "errors": {"type": "object", "additionalProperties": {}, "example": {}}, "message": {"type": "string", "example": "Replication Policy Created Successfully"}}}}}}}}}, "/api/v1/container_registry/replication/executions/": {"get": {"operationId": "get-container-registry-replication-executions", "summary": "List Replication Executions", "tags": ["Container Registry"], "parameters": [{"name": "policy_id", "in": "query", "required": true, "description": "Policy ID", "schema": {"type": "integer"}}, {"name": "page_no", "in": "query", "required": false, "description": "The page number from which you want your page search results to be displayed.", "schema": {"type": "integer", "minimum": 0}}, {"name": "per_page", "in": "query", "required": false, "description": "Number of results per page", "schema": {"type": "integer", "minimum": 0}}, {"name": "cr_project_id", "in": "query", "required": true, "schema": {"type": "integer"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Policy executions fetched successfully.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"end_time": {"type": "string", "format": "date-time", "example": "0001-01-01T00:00:00.000Z"}, "failed": {"type": "integer", "example": 0}, "id": {"type": "integer", "example": 45082}, "in_progress": {"type": "integer", "example": 3}, "policy_id": {"type": "integer", "example": 35}, "start_time": {"type": "string", "format": "date-time", "example": "2025-04-29T11:08:29.245Z"}, "status": {"type": "string", "example": "InProgress"}, "status_text": {"type": "string", "example": ""}, "stopped": {"type": "integer", "example": 0}, "succeed": {"type": "integer", "example": 0}, "total": {"type": "integer", "example": 3}, "trigger": {"type": "string", "example": "manual"}}}}, "errors": {"type": "object", "additionalProperties": {}, "example": {}}, "message": {"type": "string", "example": "Policy Execution fetched Successfully"}}}}}}}}, "post": {"operationId": "post-container-registry-replication-executions", "summary": "Execute Replication Rule", "tags": ["Container Registry"], "parameters": [{"name": "cr_project_id", "in": "query", "required": true, "schema": {"type": "integer"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"properties": {"policy_id": {"type": "integer", "example": 11}}}}}}, "responses": {"200": {"description": "Replication policy execution created successfully.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"end_time": {"type": "string", "format": "date-time", "example": "0001-01-01T00:00:00.000Z"}, "failed": {"type": "integer", "example": 0}, "id": {"type": "integer", "example": 12345}, "in_progress": {"type": "integer", "example": 0}, "policy_id": {"type": "integer", "example": 35}, "start_time": {"type": "string", "format": "date-time", "example": "2025-04-29T10:59:47.422Z"}, "status": {"type": "string", "example": "InProgress"}, "status_text": {"type": "string", "example": ""}, "stopped": {"type": "integer", "example": 0}, "succeed": {"type": "integer", "example": 0}, "total": {"type": "integer", "example": 0}, "trigger": {"type": "string", "example": "manual"}}}, "errors": {"type": "object", "additionalProperties": {}, "example": {}}, "message": {"type": "string", "example": "Policy Execution Created Successfully"}}}}}}}}}, "/api/v1/container_registry/replication/executions/{execution_id}/": {"put": {"operationId": "put-container-registry-replication-executions-execution-id", "summary": "Stop Replication Execution", "tags": ["Container Registry"], "parameters": [{"name": "execution_id", "in": "path", "required": true, "description": "Execution ID", "schema": {"type": "integer"}}, {"name": "cr_project_id", "in": "query", "required": true, "schema": {"type": "integer"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Policy execution stopped successfully.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "additionalProperties": {}, "example": {}}, "errors": {"type": "object", "additionalProperties": {}, "example": {}}, "message": {"type": "string", "example": "Policy Execution Stopped"}}}}}}}}}, "/api/v1/container_registry/replication/policies/{policy_id}/": {"put": {"operationId": "put-container-registry-replication-policies-policy-id", "summary": "Edit Replication Rule", "tags": ["Container Registry"], "parameters": [{"name": "policy_id", "in": "path", "required": true, "description": "Policy ID", "schema": {"type": "integer"}}, {"name": "cr_project_id", "in": "query", "required": true, "schema": {"type": "integer"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"properties": {"policy_name": {"type": "string", "example": "asdd"}, "registry_id": {"type": "integer", "example": 49}, "flattening_level": {"type": "integer", "example": -1}, "trigger_type": {"type": "string", "example": "manual"}, "replicate_deletion": {"type": "boolean", "example": false}, "override": {"type": "boolean", "example": true}, "filters": {"type": "array", "items": {"type": "object", "properties": {"type": {"type": "string", "example": "name"}, "value": {"type": "string", "example": ""}, "decoration": {"type": "string", "example": "matches"}}}, "example": [{"type": "name", "value": ""}, {"type": "tag", "decoration": "matches", "value": ""}]}, "enabled": {"type": "boolean", "example": true}}}}}}, "responses": {"200": {"description": "Replication policy updated successfully.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"policy_name": {"type": "string", "example": "asdd"}, "policy_id": {"type": "integer", "example": 35}, "source_registry_id": {"type": "integer", "example": 50}, "source_registry_name": {"type": "string", "example": "docker-source"}, "destination_namespace": {"type": "string", "example": "cr-12345"}, "destination_namespace_replace_count": {"type": "integer", "example": -1}, "policy_description": {"type": "string", "nullable": true, "example": null}, "trigger_type": {"type": "string", "example": "manual"}, "trigger_value": {"type": "string", "example": ""}, "replicate_deletion": {"type": "boolean", "example": false}, "override": {"type": "boolean", "example": true}, "enabled": {"type": "boolean", "example": true}, "customer": {"type": "integer", "example": 12345}, "project": {"type": "integer", "example": 123}, "created_at": {"type": "string", "format": "date-time", "example": "2025-04-29T10:55:31.586787Z"}, "updated_at": {"type": "string", "format": "date-time", "example": "2025-04-29T11:27:14.077633Z"}, "deleted_at": {"type": "string", "nullable": true, "example": null}}}, "errors": {"type": "object", "additionalProperties": {}, "example": {}}, "message": {"type": "string", "example": "Replication Policy Updated Successfully"}}}}}}}}, "delete": {"operationId": "delete-container-registry-replication-policies-policy-id", "summary": "Delete Replication Rule", "tags": ["Container Registry"], "parameters": [{"name": "policy_id", "in": "path", "required": true, "description": "Policy ID", "schema": {"type": "integer"}}, {"name": "cr_project_id", "in": "query", "required": true, "schema": {"type": "integer"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Replication policy deleted successfully.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "example": {}}, "errors": {"type": "object", "additionalProperties": {}, "example": {}}, "message": {"type": "string", "example": "Replication Policy Deleted Successfully"}}}}}}}}}, "/api/v1/container_registry/token/": {"get": {"operationId": "get-container-registry-token", "summary": "List Access Tokens", "tags": ["Container Registry"], "parameters": [{"name": "page_no", "in": "query", "required": false, "description": "The page number from which you want your page search results to be displayed.", "schema": {"type": "integer", "minimum": 0}}, {"name": "per_page", "in": "query", "required": false, "description": "Number of results per page", "schema": {"type": "integer", "minimum": 0}}, {"name": "project_name", "in": "query", "required": true, "description": "Container Registry name", "schema": {"type": "integer"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "List of credential tokens fetched successfully.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 24}, "name": {"type": "string", "example": "<token_name>"}, "description": {"type": "string", "example": "This token will never expire."}, "duration": {"type": "integer", "example": -1}, "creation_time": {"type": "string", "format": "date-time", "example": "2025-04-29T12:16:28.842000Z"}, "expires_at": {"type": "string", "format": "date-time", "example": "1969-12-31T23:59:59Z"}, "state": {"type": "string", "enum": ["enabled", "disabled"], "example": "enabled"}, "access_list": {"type": "string", "example": ["pull", "push"]}}}}, "errors": {"type": "object", "additionalProperties": {}, "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}, "post": {"operationId": "post-container-registry-token", "summary": "Add Access Token", "tags": ["Container Registry"], "parameters": [{"name": "project_name", "in": "query", "required": true, "description": "Container Registry name", "schema": {"type": "integer"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"token_name": {"type": "string", "example": "admin"}, "duration": {"type": "number", "example": -1, "maximum": 5000, "description": "Duration in days or a special value like `-1` for non-expiry."}, "description": {"type": "string", "example": "This token will never expire."}, "permissions": {"type": "array", "items": {"type": "array", "enum": [["pull"], ["pull", "push"]]}, "example": ["pull", "push"]}}}}}}, "responses": {"201": {"description": "Credential secret created successfully.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 201}, "data": {"type": "object", "properties": {"creation_time": {"type": "string", "format": "date-time", "example": "2025-04-29T12:16:28.842Z"}, "expires_at": {"type": "integer", "example": -1}, "id": {"type": "integer", "example": 12345}, "name": {"type": "string", "example": "<token_name>"}, "secret": {"type": "string", "example": "<token_value>"}}}, "errors": {"type": "object", "additionalProperties": {}, "example": {}}, "message": {"type": "string", "example": "Created Successfully"}}}}}}}}}, "/api/v1/container_registry/token/{token_name}/": {"put": {"operationId": "put-container-registry-token-token-name", "summary": "Edit Access Token", "tags": ["Container Registry"], "parameters": [{"name": "project_name", "in": "query", "required": true, "description": "Container Registry name", "schema": {"type": "integer"}}, {"name": "token_name", "in": "path", "required": true, "description": "Token Name", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"duration": {"type": "number", "example": 2, "maximum": 5000, "description": "Duration in days or a special value like `-1` for non-expiry."}, "description": {"type": "string", "example": "This token will expire in 2 days."}, "permissions": {"type": "array", "items": {"type": "array", "enum": [["pull"], ["pull", "push"]]}, "example": ["pull", "push"]}, "disable": {"type": "boolean", "description": "Whether the token should be disabled or not.", "example": false}}}}}}, "responses": {"200": {"description": "Token updated successfully.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "example": {}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}, "delete": {"operationId": "delete-container-registry-token-token-name", "summary": "Delete Access Token", "tags": ["Container Registry"], "parameters": [{"name": "project_name", "in": "query", "required": true, "description": "Container Registry name", "schema": {"type": "integer"}}, {"name": "token_name", "in": "path", "required": true, "description": "Token Name", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Token deleted successfully.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "example": {}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/container_registry/token-refresh/{token_name}/": {"put": {"operationId": "put-container-registry-token-refresh-token-name", "summary": "Reset Access Token", "tags": ["Container Registry"], "parameters": [{"name": "project_name", "in": "query", "required": true, "description": "Container Registry name", "schema": {"type": "integer"}}, {"name": "token_name", "in": "path", "required": true, "description": "Token Name", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Token secret fetched successfully.", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"secret": {"type": "string", "example": "<token_value>"}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}}}