{"openapi": "3.0.3", "info": {"title": "MyAccount API - efs", "description": "", "version": "1.0.0"}, "servers": [{"url": "https://api.e2enetworks.com/myaccount"}], "paths": {"/api/v1/efs/plans/": {"get": {"operationId": "get-efs-plans", "summary": "SFS Plans", "tags": ["SFS"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Successful response with storage options data", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"name": {"type": "string", "example": "250 GB"}, "bs_size": {"type": "number", "format": "float", "example": 0.25}, "price_per_hour": {"type": "number", "format": "float", "example": 4.175}, "price_per_month": {"type": "number", "example": 3000}, "location": {"type": "string", "example": "Delhi"}, "iops": {"type": "integer", "example": 3750}, "is_active": {"type": "boolean", "example": true}, "currency": {"type": "string", "example": "INR"}, "available_inventory_status": {"type": "boolean", "example": true}}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/efs/": {"get": {"operationId": "get-efs", "summary": "List SFS", "tags": ["SFS"], "parameters": [{"name": "page_no", "in": "query", "required": false, "description": "The page number from which you want your page search results to be displayed.", "schema": {"type": "integer", "minimum": 0}}, {"name": "per_page", "in": "query", "required": false, "description": "Number of results per page", "schema": {"type": "integer", "minimum": 0}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Successful response with EFS resources data", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "array", "items": {"type": "object", "properties": {"id": {"type": "integer", "example": 1396}, "name": {"type": "string", "example": "sfs-993"}, "efs_disk_size": {"type": "string", "example": "250 GB"}, "private_endpoint": {"type": "string", "example": "10.0.0.19"}, "iops": {"type": "integer", "example": 3750}, "status": {"type": "string", "example": "Available"}, "plan_name": {"type": "string", "example": "250 GB"}, "is_backup_enabled": {"type": "boolean", "example": false}, "backup_state": {"type": "string", "example": ""}, "vpc_id": {"type": "integer", "example": 6882}, "vpc_name": {"type": "string", "example": "VPC-672"}, "is_all_vpc_resources_allowed": {"type": "boolean", "example": false}, "vpc_node_id": {"type": "integer", "example": 266626}, "price_per_hour": {"type": "number", "format": "float", "example": 4.175}, "price_per_month": {"type": "number", "format": "float", "example": 3000}, "committed_info": {"nullable": true, "example": null}, "isEncryptionEnabled": {"type": "boolean", "example": true}, "subnet_name": {"type": "string", "example": "Subnet-137"}, "is_e2e_vpc": {"type": "boolean", "example": false}}}}, "errors": {"type": "object", "additionalProperties": true, "example": {}}, "message": {"type": "string", "example": "Success"}}}}}}}}}, "/api/v1/efs/create/": {"post": {"operationId": "post-efs-create", "summary": "Create SFS", "tags": ["SFS"], "parameters": [{"name": "page_no", "in": "query", "required": false, "description": "The page number from which you want your page search results to be displayed.", "schema": {"type": "integer", "minimum": 0}}, {"name": "per_page", "in": "query", "required": false, "description": "Number of results per page", "schema": {"type": "integer", "minimum": 0}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"efs_name": {"type": "string", "example": "sfs-993"}, "efs_disk_size": {"type": "integer", "example": 250}, "efs_disk_iops": {"type": "integer", "example": 3750}, "vpc_id": {"type": "integer", "example": 43429}, "subnet_id": {"type": "string", "example": "346"}, "efs_plan_name": {"type": "string", "example": "250 GB"}, "encryption_passphrase": {"type": "string", "example": ""}, "isEncryptionEnabled": {"type": "boolean", "example": true}}, "required": ["efs_name", "efs_disk_size", "efs_disk_iops", "vpc_id", "efs_plan_name", "isEncryptionEnabled"]}}}, "required": true}, "responses": {"200": {"description": "EFS volume created successfully", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"efs_id": {"type": "integer", "example": 1148}, "name": {"type": "string", "example": "sfs-993"}, "private_ip": {"type": "string", "example": "10.9.218.8"}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Setting Up your SFS will take 2-3 minutes."}}}}}}}}}, "/api/v1/efs/{sfs_id}/backup/activate/": {"put": {"operationId": "put-efs-sfs-id-backup-activate", "summary": "Activate SFS backup", "tags": ["SFS"], "parameters": [{"name": "sfs_id", "in": "path", "required": true, "description": "Security Grp Id", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"backup_now": {"type": "boolean", "example": true}, "startingMinute": {"type": "integer", "example": 9}}, "required": ["backup_now", "startingMinute"]}}}}, "responses": {"default": {"description": "Successful response"}}}}, "/api/v1/efs/{sfs_id}/backup/deactivate/": {"put": {"operationId": "put-efs-sfs-id-backup-deactivate", "summary": "Deactivate SFS backup", "tags": ["SFS"], "parameters": [{"name": "sfs_id", "in": "path", "required": true, "description": "Security Grp Id", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Successful response indicating SFS backup has been disabled", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"sfs_id": {"type": "integer", "example": 467}, "sfs_name": {"type": "string", "example": "sfs-828"}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Your SFS backup was disabled successfully."}}}}}}}}}, "/api/v1/efs/allow-vpc-cidr/": {"put": {"operationId": "put-efs-allow-vpc-cidr", "summary": "Grant SFS Access", "tags": ["SFS"], "parameters": [{"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "requestBody": {"content": {"application/json": {"schema": {"type": "object", "properties": {"efs_id": {"type": "integer", "example": 467}, "vpc_id": {"type": "integer", "example": 3170}, "permissions": {"type": "string", "example": "rw"}}, "required": ["efs_id", "vpc_id", "permissions"]}}}}, "responses": {"200": {"description": "Successful response indicating network configuration initiation", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"efs_id": {"type": "integer", "example": 636}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Network Configuration Initiated. Expected completion within 2-3 minutes."}}}}}}}}}, "/api/v1/efs/{sfs_id}/node/{VPC_NODE_ID}/prohibit/": {"delete": {"operationId": "delete-efs-sfs-id-node-vpc-node-id-prohibit", "summary": "Disable all access", "tags": ["SFS"], "parameters": [{"name": "connection_type", "in": "query", "required": true, "description": "connection type", "schema": {"type": "string", "enum": ["VPC"]}}, {"name": "VPC_NODE_ID", "in": "path", "required": true, "description": "VPC Network ID", "schema": {"type": "integer"}}, {"name": "sfs_id", "in": "path", "required": true, "description": "Security Grp Id", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Successful response indicating network de-configuration initiation", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "properties": {"efs_id": {"type": "string", "example": "636"}}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "Network De-configuration Initiated. Expected completion within 2-3 minutes."}}}}}}}}}, "/api/v1/efs/delete/{sfs_id}/": {"delete": {"operationId": "delete-efs-delete-sfs-id", "summary": "Delete SFS", "tags": ["SFS"], "parameters": [{"name": "sfs_id", "in": "path", "required": true, "description": "Security Grp Id", "schema": {"type": "string"}}, {"name": "project_id", "in": "query", "required": true, "description": "Project ID [Find your project id here  ](https://myaccount.e2enetworks.com/iam-admin/iam?tab=1)", "schema": {"type": "integer"}}, {"name": "location", "in": "query", "required": true, "description": "Deployment region for the resource. Accepted values: `Delhi`, `Chennai`.\n\n**Mumbai region has been discontinued.** Delhi and Chennai are the only supported regions.\n", "schema": {"type": "string", "enum": ["Delhi", "Chennai"]}}], "responses": {"200": {"description": "Successful response indicating SFS deletion initiation", "content": {"application/json": {"schema": {"type": "object", "properties": {"code": {"type": "integer", "example": 200}, "data": {"type": "object", "example": {}}, "errors": {"type": "object", "example": {}}, "message": {"type": "string", "example": "We have initiated your SFS deletion request you will be notified using email in a short while"}}}}}}}}}}}